In [1]:
%pylab inline
%load_ext autoreload
%autoreload 2

Populating the interactive namespace from numpy and matplotlib

In [2]:
import finance.api as fa

# 读取指定日期净资产总额

In [3]:
# 给定起始和结束日期 默认为读取所有日期 
fa.get_net_asset_amount('2018-01-01', '2018-09-01')

[INFO] 2018-08-11 21:23:23 E:\07_data\03_self-plan\finance_records.db is connected.
[INFO] 2018-08-11 21:23:23 SELECT * FROM asset_debt_statement WHERE date >= '2018-01-01'and date <= '2018-09-01'
[INFO] 2018-08-11 21:23:23 E:\07_data\03_self-plan\finance_records.db is disconnected.

            current_value
date
2018-01-01      540624.00
2018-02-01      551367.00
2018-03-01      587982.00
2018-04-01      629240.94
2018-05-01      726121.26
2018-06-01      910124.50
2018-08-01      392518.51

# 读取指定日期净资产结构

In [4]:
# 读取给定时间间隔之间的所有净资产结构记录  默认为读取最新日期
fa.get_net_asset_structure()

[INFO] 2018-08-11 21:23:40 E:\07_data\03_self-plan\finance_records.db is connected.
[INFO] 2018-08-11 21:23:40 SELECT * FROM asset_debt_statement WHERE date = (SELECT max(date) FROM asset_debt_statement)
[INFO] 2018-08-11 21:23:40 E:\07_data\03_self-plan\finance_records.db is disconnected.

                     current_value
date       subclass
2018-08-01 P2P            22749.00
           定期            304382.00
           指数型基金           3082.51
           现金            126379.00
           股票              7003.00
           负债            -71077.00

# 读取指定日期的资产结构及配置合理度

In [5]:
# 读取给定时间间隔之间的所有资产结构及配置记录  默认为读取最新日期
fa.get_big_asset_configure()

[INFO] 2018-08-11 21:24:13 E:\07_data\03_self-plan\finance_records.db is connected.
[INFO] 2018-08-11 21:24:13 SELECT * FROM asset_debt_statement WHERE date = (SELECT max(date) FROM asset_debt_statement)
[INFO] 2018-08-11 21:24:13 SELECT * FROM config_big_asset WHERE date = (SELECT max(date) FROM config_big_asset)
[INFO] 2018-08-11 21:24:13 E:\07_data\03_self-plan\finance_records.db is disconnected.

,date,date_config,category,current_value,pct,planning_prop,diff
0,2018-08-01,2018-05-01,P2P,22749.00,0.049071,0.050,430.77550
1,2018-08-01,2018-05-01,基金,3082.51,0.006649,0.160,71092.77160
2,2018-08-01,2018-05-01,定期,380157.00,0.820019,0.755,-30142.38995
3,2018-08-01,2018-05-01,现金,50604.00,0.109156,0.010,-45968.04490
4,2018-08-01,2018-05-01,股票,7003.00,0.015106,0.025,4586.88775

# 读取最新记录日的所有固收类资产流动性记录

In [6]:
fa.get_fix_liq_info()

[INFO] 2018-08-11 21:24:42 E:\07_data\03_self-plan\finance_records.db is connected.
[INFO] 2018-08-11 21:24:42 SELECT * FROM fix_info WHERE date = (SELECT max(date) FROM fix_info)
30天内就要到期的品种:
  channel category              item  total_amount    maturity  remain_days
3    京东金融       定期     京弘年年盈20170809        5103.0  2018-08-09            8
4   微信理财通       定期  太平养老乐享太平20180817       10057.0  2018-08-17           16
5     人人贷      P2P          U计划8417期       21606.0  2018-08-27           26
[INFO] 2018-08-11 21:24:42 SELECT * FROM config_big_asset WHERE date = (SELECT max(date) FROM config_big_asset)
[INFO] 2018-08-11 21:24:42 E:\07_data\03_self-plan\finance_records.db is disconnected.

,date,date_config,subclass,total_amount,pct,planning_prop,diff
0,2018-08-01,2018-05-01,中期定期,114044.0,0.349637,0.70,114280.60
1,2018-08-01,2018-05-01,短期定期,117195.0,0.359298,0.20,-51959.40
2,2018-08-01,2018-05-01,超短期定期,36766.0,0.112718,0.02,-30242.44
3,2018-08-01,2018-05-01,超长期定期,18173.0,0.055715,0.02,-11649.44
4,2018-08-01,2018-05-01,长期定期,40000.0,0.122632,0.06,-20429.32

# 读取最新记录日的所有固收类资产收益率记录

In [7]:
fa.get_fix_return_rate()

[INFO] 2018-08-11 21:24:57 E:\07_data\03_self-plan\finance_records.db is connected.
[INFO] 2018-08-11 21:24:57 SELECT * FROM fix_info WHERE date = (SELECT max(date) FROM fix_info)
[INFO] 2018-08-11 21:24:57 E:\07_data\03_self-plan\finance_records.db is disconnected.

         date               ytm_group     prop  weighted_ytm
0  2018-08-01  excessively high yield  0.06624      0.088000
1  2018-08-01              high yield  0.93376      0.053841

# 读取最新记录日的所有权益类资产的收益记录

In [8]:
fa.get_equity_return_records()

[INFO] 2018-08-11 21:25:05 E:\07_data\03_self-plan\finance_records.db is connected.
[INFO] 2018-08-11 21:25:05 SELECT * FROM equity_return_records WHERE date = (SELECT max(date) FROM equity_return_records)
[INFO] 2018-08-11 21:25:05 E:\07_data\03_self-plan\finance_records.db is disconnected.

,date,item,order,status,hold_days,buy_cost,current_value,return,return_rate,return_rate_annually,total_return,overall_return_rate
8,2018-09-01,广发沪深300ETF002987,2,持仓中,29,3000.00,3082.51,82.51,2.75%,34.62%,3095.12,1.89%
10,2018-09-01,恒瑞医药,1,持仓中,29,5924.00,7003.00,1079.00,18.21%,229.25%,3095.12,1.89%
0,2018-09-01,上海医药,1,落袋为安,60,9726.40,NaN,445.60,4.58%,27.87%,3095.12,1.89%
1,2018-09-01,伊利股份,1,落袋为安,20,10570.21,NaN,805.17,7.62%,139.02%,3095.12,1.89%
2,2018-09-01,华域汽车,1,落袋为安,65,13032.00,NaN,464.21,3.56%,20.00%,3095.12,1.89%
3,2018-09-01,华泰证券,1,落袋为安,40,13615.27,NaN,496.32,3.65%,33.26%,3095.12,1.89%
4,2018-09-01,华泰证券,2,落袋为安,68,6244.00,NaN,-364.00,-5.83%,-31.29%,3095.12,1.89%
5,2018-09-01,复星医药,1,落袋为安,27,11537.23,NaN,1374.58,11.91%,161.06%,3095.12,1.89%
6,2018-09-01,大摩强收益债券,1,落袋为安,101,37000.00,NaN,75.00,0.20%,0.73%,3095.12,1.89%
7,2018-09-01,广发沪深300ETF002987,1,落袋为安,171,24900.00,NaN,-1037.27,-4.17%,-8.89%,3095.12,1.89%
9,2018-09-01,康缘医药,1,落袋为安,60,1526.00,NaN,-120.00,-7.86%,-47.84%,3095.12,1.89%
11,2018-09-01,银华估值005250,1,落袋为安,172,26970.00,NaN,-206.00,-0.76%,-1.62%,3095.12,1.89%

# 读取权益类资产累计绝对收益月变动

In [9]:
fa.get_equity_return_change()

[INFO] 2018-08-11 21:26:06 E:\07_data\03_self-plan\finance_records.db is connected.
[INFO] 2018-08-11 21:26:06 SELECT * FROM equity_return_records
[INFO] 2018-08-11 21:26:06 E:\07_data\03_self-plan\finance_records.db is disconnected.

date
2018-02-01    1167.60
2018-03-01    -361.40
2018-04-01   -1069.46
2018-05-01   -1521.01
2018-06-01    3845.27
2018-09-01    3095.12
Name: return, dtype: float64

# 获取净资产-来自父母收入的差异变化

In [10]:
fa.get_diff_from_parents_change()

[INFO] 2018-08-11 21:26:24 E:\07_data\03_self-plan\finance_records.db is connected.
[INFO] 2018-08-11 21:26:24 SELECT * FROM diff_from_parents
[INFO] 2018-08-11 21:26:24 E:\07_data\03_self-plan\finance_records.db is disconnected.

      date  from_parents  net_asset       diff
0  2017-12      573873.0  540624.00  -33249.00
1  2018-01      598447.0  551367.00  -47080.00
2  2018-02      643315.0  587982.00  -55333.00
3  2018-03      680025.0  629240.94  -50784.06
4  2018-04      775313.0  726121.26  -49191.74
5  2018-05      962413.0  910124.50  -52288.50
6  2018-07     1185053.0  392518.51 -792534.49