In [2]:
%pylab inline
%load_ext autoreload
%autoreload 2

Populating the interactive namespace from numpy and matplotlib

In [3]:
import finance.api as fa

# 读取指定日期净资产总额

In [6]:
# 给定起始和结束日期 默认为读取所有日期 
fa.get_net_asset_amount('2018-01-01', '2018-05-01')

[INFO] 2018-05-03 20:19:02 E:\07_data\03_self-plan\finance_records.db is connected.
[INFO] 2018-05-03 20:19:02 SELECT * FROM asset_debt_statement WHERE date >= '2018-01-01'and date <= '2018-05-01'
[INFO] 2018-05-03 20:19:02 E:\07_data\03_self-plan\finance_records.db is disconnected.

            current_value
date
2018-01-01      540624.00
2018-02-01      551367.00
2018-03-01      587982.00
2018-04-01      629240.94
2018-05-01      726121.26

# 读取指定日期净资产结构

In [7]:
# 读取给定时间间隔之间的所有净资产结构记录  默认为读取最新日期
fa.get_net_asset_structure()

[INFO] 2018-05-03 20:19:05 E:\07_data\03_self-plan\finance_records.db is connected.
[INFO] 2018-05-03 20:19:05 SELECT * FROM asset_debt_statement WHERE date = (SELECT max(date) FROM asset_debt_statement)
[INFO] 2018-05-03 20:19:05 E:\07_data\03_self-plan\finance_records.db is disconnected.

                     current_value
date       subclass
2018-05-01 P2P            93524.00
           主动型基金          25452.00
           债券型基金          37272.69
           定期            530736.59
           指数型基金          21837.40
           现金             31263.00
           股票             11538.00
           负债            -25502.42

# 读取指定日期的资产结构及配置合理度

In [8]:
# 读取给定时间间隔之间的所有资产结构及配置记录  默认为读取最新日期
fa.get_big_asset_configure()

[INFO] 2018-05-03 20:19:14 E:\07_data\03_self-plan\finance_records.db is connected.
[INFO] 2018-05-03 20:19:14 SELECT * FROM asset_debt_statement WHERE date = (SELECT max(date) FROM asset_debt_statement)
[INFO] 2018-05-03 20:19:14 SELECT * FROM config_big_asset WHERE date = (SELECT max(date) FROM config_big_asset)
[INFO] 2018-05-03 20:19:14 E:\07_data\03_self-plan\finance_records.db is disconnected.

,date,date_config,category,current_value,pct,planning_prop,diff
0,2018-05-01,2018-05-01,P2P,93524.00,0.124429,0.050,-55942.8160
1,2018-05-01,2018-05-01,基金,84562.09,0.112506,0.160,35697.6988
2,2018-05-01,2018-05-01,定期,530736.59,0.706120,0.755,36739.2884
3,2018-05-01,2018-05-01,现金,31263.00,0.041594,0.010,-23746.7632
4,2018-05-01,2018-05-01,股票,11538.00,0.015351,0.025,7252.5920

# 读取最新记录日的所有固收类资产流动性记录

In [9]:
fa.get_fix_liq_info()

[INFO] 2018-05-03 20:19:30 E:\07_data\03_self-plan\finance_records.db is connected.
[INFO] 2018-05-03 20:19:30 SELECT * FROM fix_info WHERE date = (SELECT max(date) FROM fix_info)
30天内就要到期的品种:
  channel category             item  total_amount    maturity  remain_days
3   微信理财通       定期  光大永明定活宝20180514        8262.0  2018-05-15           14
4     人人贷      P2P         U计划6013期       33790.0  2018-05-16           15
5     人人贷      P2P         U计划0521期       20984.0  2018-05-23           22
6   微信理财通       定期       厦金中心厦盈通第二期       10351.0  2018-05-28           27
[INFO] 2018-05-03 20:19:30 SELECT * FROM config_big_asset WHERE date = (SELECT max(date) FROM config_big_asset)
[INFO] 2018-05-03 20:19:30 E:\07_data\03_self-plan\finance_records.db is disconnected.

,date,date_config,subclass,total_amount,pct,planning_prop,diff
0,2018-05-01,2018-05-01,中期定期,153961.0,0.293657,0.70,213041.30
1,2018-05-01,2018-05-01,短期定期,124724.0,0.237892,0.20,-19866.20
2,2018-05-01,2018-05-01,超短期定期,73387.0,0.139974,0.02,-62901.22
3,2018-05-01,2018-05-01,超长期定期,18173.0,0.034662,0.02,-7687.22
4,2018-05-01,2018-05-01,长期定期,154044.0,0.293815,0.06,-122586.66

# 读取最新记录日的所有固收类资产收益率记录

In [10]:
fa.get_fix_return_rate()

[INFO] 2018-05-03 20:20:12 E:\07_data\03_self-plan\finance_records.db is connected.
[INFO] 2018-05-03 20:20:12 SELECT * FROM fix_info WHERE date = (SELECT max(date) FROM fix_info)
[INFO] 2018-05-03 20:20:12 E:\07_data\03_self-plan\finance_records.db is disconnected.

         date               ytm_group      prop  weighted_ytm
0  2018-05-01  excessively high yield  0.173614      0.086846
1  2018-05-01              high yield  0.826386      0.054909

# 读取最新记录日的所有权益类资产的收益记录

In [11]:
fa.get_equity_return_records()

[INFO] 2018-05-03 20:20:18 E:\07_data\03_self-plan\finance_records.db is connected.
[INFO] 2018-05-03 20:20:18 SELECT * FROM equity_return_records WHERE date = (SELECT max(date) FROM equity_return_records)
[INFO] 2018-05-03 20:20:18 E:\07_data\03_self-plan\finance_records.db is disconnected.

,date,item,order,status,hold_days,buy_cost,current_value,return,return_rate,return_rate_annually,total_return,overall_return_rate
3,2018-05-01,复星医药,1,持仓中,18,11537.23,11538.00,0.77,0.01%,0.14%,-1521.01,-1.11%
4,2018-05-01,大摩强收益债券,1,持仓中,60,37000.00,37272.69,272.69,0.74%,4.48%,-1521.01,-1.11%
5,2018-05-01,广发沪深300ETF002987,1,持仓中,130,23400.00,21837.40,-1562.60,-6.68%,-18.75%,-1521.01,-1.11%
7,2018-05-01,银华估值005250,1,持仓中,142,26970.00,25452.00,-1518.00,-5.63%,-14.47%,-1521.01,-1.11%
0,2018-05-01,上海医药,1,落袋为安,60,9726.40,NaN,445.60,4.58%,27.87%,-1521.01,-1.11%
1,2018-05-01,华域汽车,1,落袋为安,65,13032.00,NaN,464.21,3.56%,20.00%,-1521.01,-1.11%
2,2018-05-01,华泰证券,1,落袋为安,40,13615.27,NaN,496.32,3.65%,33.26%,-1521.01,-1.11%
6,2018-05-01,康缘医药,1,落袋为安,60,1526.00,NaN,-120.00,-7.86%,-47.84%,-1521.01,-1.11%

# 读取权益类资产累计绝对收益月变动

In [12]:
fa.get_equity_return_change()

[INFO] 2018-05-03 20:20:31 E:\07_data\03_self-plan\finance_records.db is connected.
[INFO] 2018-05-03 20:20:31 SELECT * FROM equity_return_records
[INFO] 2018-05-03 20:20:31 E:\07_data\03_self-plan\finance_records.db is disconnected.

date
2018-02-01    1167.60
2018-03-01    -361.40
2018-04-01   -1069.46
2018-05-01   -1521.01
Name: return, dtype: float64

# 获取净资产-来自父母收入的差异变化

In [13]:
fa.get_diff_from_parents_change()

[INFO] 2018-05-03 20:20:34 E:\07_data\03_self-plan\finance_records.db is connected.
[INFO] 2018-05-03 20:20:34 SELECT * FROM diff_from_parents
[INFO] 2018-05-03 20:20:34 E:\07_data\03_self-plan\finance_records.db is disconnected.

      date  from_parents  net_asset      diff
0  2017-12      573873.0  540624.00 -33249.00
1  2018-01      598447.0  551367.00 -47080.00
2  2018-02      643315.0  587982.00 -55333.00
3  2018-03      680025.0  629240.94 -50784.06
4  2018-04      775313.0  726121.26 -49191.74