In [1]:
%pylab inline
%load_ext autoreload
%autoreload 2

Populating the interactive namespace from numpy and matplotlib

In [2]:
import finance.api as fa

# 读取指定日期净资产总额

In [4]:
# 给定起始和结束日期 默认为读取所有日期 
fa.get_net_asset_amount('2018-01-01', '2018-06-01')

[INFO] 2018-06-02 00:07:16 E:\07_data\03_self-plan\finance_records.db is connected.
[INFO] 2018-06-02 00:07:16 SELECT * FROM asset_debt_statement WHERE date >= '2018-01-01'and date <= '2018-06-01'
[INFO] 2018-06-02 00:07:16 E:\07_data\03_self-plan\finance_records.db is disconnected.

            current_value
date
2018-01-01      540624.00
2018-02-01      551367.00
2018-03-01      587982.00
2018-04-01      629240.94
2018-05-01      726121.26
2018-06-01      910124.50

# 读取指定日期净资产结构

In [5]:
# 读取给定时间间隔之间的所有净资产结构记录  默认为读取最新日期
fa.get_net_asset_structure()

[INFO] 2018-06-02 00:07:23 E:\07_data\03_self-plan\finance_records.db is connected.
[INFO] 2018-06-02 00:07:23 SELECT * FROM asset_debt_statement WHERE date = (SELECT max(date) FROM asset_debt_statement)
[INFO] 2018-06-02 00:07:23 E:\07_data\03_self-plan\finance_records.db is disconnected.

                     current_value
date       subclass
2018-06-01 P2P             37559.0
           债券型基金           37129.0
           定期             511768.0
           指数型基金           11349.0
           现金             334572.0
           股票               3374.0
           负债             -25626.5

# 读取指定日期的资产结构及配置合理度

In [6]:
# 读取给定时间间隔之间的所有资产结构及配置记录  默认为读取最新日期
fa.get_big_asset_configure()

[INFO] 2018-06-02 00:08:13 E:\07_data\03_self-plan\finance_records.db is connected.
[INFO] 2018-06-02 00:08:13 SELECT * FROM asset_debt_statement WHERE date = (SELECT max(date) FROM asset_debt_statement)
[INFO] 2018-06-02 00:08:13 SELECT * FROM config_big_asset WHERE date = (SELECT max(date) FROM config_big_asset)
[INFO] 2018-06-02 00:08:13 E:\07_data\03_self-plan\finance_records.db is disconnected.

,date,date_config,category,current_value,pct,planning_prop,diff
0,2018-06-01,2018-05-01,P2P,37559.0,0.040138,0.050,9228.550
1,2018-06-01,2018-05-01,基金,48478.0,0.051807,0.160,101242.160
2,2018-06-01,2018-05-01,定期,720236.0,0.769688,0.755,-13743.995
3,2018-06-01,2018-05-01,现金,126104.0,0.134762,0.010,-116746.490
4,2018-06-01,2018-05-01,股票,3374.0,0.003606,0.025,20019.775

# 读取最新记录日的所有固收类资产流动性记录

In [7]:
fa.get_fix_liq_info()

[INFO] 2018-06-02 00:08:33 E:\07_data\03_self-plan\finance_records.db is connected.
[INFO] 2018-06-02 00:08:33 SELECT * FROM fix_info WHERE date = (SELECT max(date) FROM fix_info)
30天内就要到期的品种:
  channel category           item  total_amount    maturity  remain_days
3   微信理财通       定期     厦金中心厦盈通第八期       30997.0  2018-06-08            7
4     人人贷      P2P       U计划0613期        4179.0  2018-06-15           14
5    京东金融       定期  京弘年年盈20170620       20519.0  2018-06-20           19
6     人人贷      P2P       U计划7058期       10465.0  2018-06-21           20
[INFO] 2018-06-02 00:08:33 SELECT * FROM config_big_asset WHERE date = (SELECT max(date) FROM config_big_asset)
[INFO] 2018-06-02 00:08:33 E:\07_data\03_self-plan\finance_records.db is disconnected.

,date,date_config,subclass,total_amount,pct,planning_prop,diff
0,2018-06-01,2018-05-01,中期定期,117195.0,0.259912,0.70,198436.40
1,2018-06-01,2018-05-01,短期定期,95330.0,0.211421,0.20,-5149.60
2,2018-06-01,2018-05-01,超短期定期,66160.0,0.146728,0.02,-57141.96
3,2018-06-01,2018-05-01,超长期定期,18173.0,0.040304,0.02,-9154.96
4,2018-06-01,2018-05-01,长期定期,154044.0,0.341635,0.06,-126989.88

# 读取最新记录日的所有固收类资产收益率记录

In [8]:
fa.get_fix_return_rate()

[INFO] 2018-06-02 00:09:15 E:\07_data\03_self-plan\finance_records.db is connected.
[INFO] 2018-06-02 00:09:15 SELECT * FROM fix_info WHERE date = (SELECT max(date) FROM fix_info)
[INFO] 2018-06-02 00:09:15 E:\07_data\03_self-plan\finance_records.db is disconnected.

         date               ytm_group      prop  weighted_ytm
0  2018-06-01  excessively high yield  0.080394      0.089155
1  2018-06-01              high yield  0.919606      0.054940

# 读取最新记录日的所有权益类资产的收益记录

In [10]:
fa.get_equity_return_records()

[INFO] 2018-06-02 00:17:31 E:\07_data\03_self-plan\finance_records.db is connected.
[INFO] 2018-06-02 00:17:31 SELECT * FROM equity_return_records WHERE date = (SELECT max(date) FROM equity_return_records)
[INFO] 2018-06-02 00:17:31 E:\07_data\03_self-plan\finance_records.db is disconnected.

,date,item,order,status,hold_days,buy_cost,current_value,return,return_rate,return_rate_annually,total_return,overall_return_rate
4,2018-06-01,华泰证券,2,持仓中,2,3295.07,3374.0,78.93,2.40%,437.16%,3845.27,8.01%
6,2018-06-01,大摩强收益债券,1,持仓中,91,37000.00,37129.0,129.00,0.35%,1.40%,3845.27,8.01%
7,2018-06-01,广发沪深300ETF002987,1,持仓中,161,12471.50,11349.0,-1122.50,-9.00%,-20.40%,3845.27,8.01%
0,2018-06-01,上海医药,1,落袋为安,60,-445.60,NaN,445.60,-100.00%,-608.33%,3845.27,8.01%
1,2018-06-01,伊利股份,1,落袋为安,20,-805.17,NaN,805.17,-100.00%,-1825.00%,3845.27,8.01%
2,2018-06-01,华域汽车,1,落袋为安,65,-464.21,NaN,464.21,-100.00%,-561.54%,3845.27,8.01%
3,2018-06-01,华泰证券,1,落袋为安,40,-496.32,NaN,496.32,-100.00%,-912.50%,3845.27,8.01%
5,2018-06-01,复星医药,1,落袋为安,27,-1374.58,NaN,1374.58,-100.00%,-1351.85%,3845.27,8.01%
8,2018-06-01,康缘医药,1,落袋为安,60,120.00,NaN,-120.00,-100.00%,-608.33%,3845.27,8.01%
9,2018-06-01,银华估值005250,1,落袋为安,172,-1293.96,NaN,1293.96,-100.00%,-212.21%,3845.27,8.01%

# 读取权益类资产累计绝对收益月变动

In [12]:
fa.get_equity_return_change()

[INFO] 2018-05-03 20:20:31 E:\07_data\03_self-plan\finance_records.db is connected.
[INFO] 2018-05-03 20:20:31 SELECT * FROM equity_return_records
[INFO] 2018-05-03 20:20:31 E:\07_data\03_self-plan\finance_records.db is disconnected.

date
2018-02-01    1167.60
2018-03-01    -361.40
2018-04-01   -1069.46
2018-05-01   -1521.01
Name: return, dtype: float64

# 获取净资产-来自父母收入的差异变化

In [13]:
fa.get_diff_from_parents_change()

[INFO] 2018-05-03 20:20:34 E:\07_data\03_self-plan\finance_records.db is connected.
[INFO] 2018-05-03 20:20:34 SELECT * FROM diff_from_parents
[INFO] 2018-05-03 20:20:34 E:\07_data\03_self-plan\finance_records.db is disconnected.

      date  from_parents  net_asset      diff
0  2017-12      573873.0  540624.00 -33249.00
1  2018-01      598447.0  551367.00 -47080.00
2  2018-02      643315.0  587982.00 -55333.00
3  2018-03      680025.0  629240.94 -50784.06
4  2018-04      775313.0  726121.26 -49191.74