In [1]:
%pylab inline
%load_ext autoreload
%autoreload 2

Populating the interactive namespace from numpy and matplotlib

In [2]:
import pandas as pd
import os
from devkit.api import Logger, SqliteProxy
import self_plan.finance.api as fa
import seaborn, datetime
seaborn.set_style("darkgrid")

# 读入数据

In [3]:
df = fa.load_excel_data(fa.fin_plan_path)
DATE = '2018-04-01'
# ['2018-01-08','2018-01-25','2018-02-03','2018-02-09','2018-02-21']

In [6]:
fa.update_fix_liq_info(df,DATE,timedelta=15)

15天内就要到期的品种:
   channel category               item  total_amount   maturity remain_days
18   微信理财通       定期   太平养老乐享太平20180320      52260.00 2018-03-20    -10 days
19   微信理财通       定期  太平养老乐享太平20180320卖      52770.96 2018-03-20    -10 days
22   微信理财通       定期         天金所支信通第33期       5195.00 2018-04-11     12 days
[INFO] 2018-03-30 20:23:41 E:\01_learn\05_method\finance.db is connected.
[INFO] 2018-03-30 20:23:41 E:\01_learn\05_method\finance.db is disconnected.

Traceback (most recent call last):
  File "E:\04_project\self_plan\finance\write.py", line 167, in update_fix_liq_info
    sql.write_from_dataframe(output, 'fix_liq_info')
  File "E:\04_project\devkit\io_utils\sqlite_utils.py", line 244, in write_from_dataframe
    df.to_sql(table, self.conn, if_exists='append', index=False)
  File "E:\06_software\Anoconda\lib\site-packages\pandas\core\generic.py", line 1362, in to_sql
    chunksize=chunksize, dtype=dtype)
  File "E:\06_software\Anoconda\lib\site-packages\pandas\io\sql.py", line 471, in to_sql
    chunksize=chunksize, dtype=dtype)
  File "E:\06_software\Anoconda\lib\site-packages\pandas\io\sql.py", line 1506, in to_sql
    table.insert(chunksize)
  File "E:\06_software\Anoconda\lib\site-packages\pandas\io\sql.py", line 666, in insert
    self._execute_insert(conn, keys, chunk_iter)
  File "E:\06_software\Anoconda\lib\site-packages\pandas\io\sql.py", line 1294, in _execute_insert
    conn.executemany(self.insert_statement(), data_list)
sqlite3.IntegrityError: UNIQUE constraint failed: fix_liq_info.date, fix_liq_info.subclass

,subclass,total_amount,pct,planning_prop,planning_value,comments,date
0,中期定期,95330.00,0.173299,0.78,288012.66,192682.66,2018-04-01
1,现金,125801.96,0.228693,0.02,7384.94,-118417.02,2018-04-01
2,短期定期,139547.00,0.253680,0.10,36924.70,-102622.30,2018-04-01
3,超长期定期,70173.00,0.127566,0.05,18462.35,-51710.65,2018-04-01
4,长期定期,119239.00,0.216762,0.05,18462.35,-100776.65,2018-04-01

In [4]:
for DATE in ['2018-04-01']:
    fa.update_net_asset_amount(df, DATE)
    fa.update_net_asset_structure(df, DATE)
    fa.update_asset_structure(df,DATE)
    fa.update_fix_liq_info(df,DATE,timedelta=45)
    fa.update_fix_return_rate(df, DATE)
    fa.update_equity_return_records(df,DATE)

[INFO] 2018-03-30 20:03:37 E:\01_learn\05_method\finance.db is connected.
[INFO] 2018-03-30 20:03:37 Data is inserted to net_asset_amount successfully!
[INFO] 2018-03-30 20:03:37 E:\01_learn\05_method\finance.db is disconnected.
[INFO] 2018-03-30 20:03:37 E:\01_learn\05_method\finance.db is connected.
[INFO] 2018-03-30 20:03:37 Data is inserted to net_asset_structure successfully!
[INFO] 2018-03-30 20:03:37 E:\01_learn\05_method\finance.db is disconnected.
[INFO] 2018-03-30 20:03:37 E:\01_learn\05_method\finance.db is connected.
[INFO] 2018-03-30 20:03:37 Data is inserted to asset_structure successfully!
[INFO] 2018-03-30 20:03:37 E:\01_learn\05_method\finance.db is disconnected.
15天内就要到期的品种:
   channel category              item  total_amount   maturity remain_days
18   微信理财通       定期  太平养老乐享太平20180320     105030.96 2018-03-20    -10 days
19   微信理财通       定期  太平养老乐享太平20180320     105030.96 2018-03-20    -10 days
22   微信理财通       定期        天金所支信通第33期       5195.00 2018-04-11     12 days
[INFO] 2018-03-30 20:03:37 E:\01_learn\05_method\finance.db is connected.
[INFO] 2018-03-30 20:03:38 Data is inserted to fix_liq_info successfully!
[INFO] 2018-03-30 20:03:38 E:\01_learn\05_method\finance.db is disconnected.
[INFO] 2018-03-30 20:03:38 E:\01_learn\05_method\finance.db is connected.
[INFO] 2018-03-30 20:03:38 E:\01_learn\05_method\finance.db is disconnected.
[INFO] 2018-03-30 20:03:38 E:\01_learn\05_method\finance.db is connected.

Traceback (most recent call last):
  File "E:\04_project\self_plan\finance\write.py", line 194, in update_fix_return_rate
    sql.write_from_dataframe(output, 'fix_return_rate')
  File "E:\04_project\devkit\io_utils\sqlite_utils.py", line 244, in write_from_dataframe
    df.to_sql(table, self.conn, if_exists='append', index=False)
  File "E:\06_software\Anoconda\lib\site-packages\pandas\core\generic.py", line 1362, in to_sql
    chunksize=chunksize, dtype=dtype)
  File "E:\06_software\Anoconda\lib\site-packages\pandas\io\sql.py", line 471, in to_sql
    chunksize=chunksize, dtype=dtype)
  File "E:\06_software\Anoconda\lib\site-packages\pandas\io\sql.py", line 1506, in to_sql
    table.insert(chunksize)
  File "E:\06_software\Anoconda\lib\site-packages\pandas\io\sql.py", line 666, in insert
    self._execute_insert(conn, keys, chunk_iter)
  File "E:\06_software\Anoconda\lib\site-packages\pandas\io\sql.py", line 1294, in _execute_insert
    conn.executemany(self.insert_statement(), data_list)
sqlite3.IntegrityError: UNIQUE constraint failed: fix_return_rate.date, fix_return_rate.item

[INFO] 2018-03-30 20:03:38 Data is inserted to equity_return_records successfully!
[INFO] 2018-03-30 20:03:38 E:\01_learn\05_method\finance.db is disconnected.

# 更新净资产总额

In [4]:
fa.update_net_asset_amount(df, DATE)

[INFO] 2018-02-28 23:03:27 E:\01_learn\05_method\finance.db is connected.
[INFO] 2018-02-28 23:03:27 Data is inserted to net_asset_amount successfully!
[INFO] 2018-02-28 23:03:27 E:\01_learn\05_method\finance.db is disconnected.

               net_asset        date
current_value   587982.0  2018-03-01

# 更新净资产结构

In [5]:
fa.update_net_asset_structure(df, DATE)

[INFO] 2018-02-28 23:03:31 E:\01_learn\05_method\finance.db is connected.
[INFO] 2018-02-28 23:03:31 Data is inserted to net_asset_structure successfully!
[INFO] 2018-02-28 23:03:31 E:\01_learn\05_method\finance.db is disconnected.

  subclass  current_value        date
0      P2P        92239.0  2018-03-01
1    偏股型基金        26645.0  2018-03-01
2       定期       366701.0  2018-03-01
3    指数型基金        14935.0  2018-03-01
4       现金       101376.0  2018-03-01
5       股票        13135.0  2018-03-01
6       负债       -27049.0  2018-03-01
7      净资产       587982.0  2018-03-01

#  更新当前资产结构

In [6]:
fa.update_asset_structure(df,DATE)

[INFO] 2018-02-28 23:03:34 E:\01_learn\05_method\finance.db is connected.
[INFO] 2018-02-28 23:03:34 Data is inserted to asset_structure successfully!
[INFO] 2018-02-28 23:03:34 E:\01_learn\05_method\finance.db is disconnected.

,subclass,current_value,pct,planning_prop,planning_value,comments,date
0,P2P,92239.0,0.149975,0.050,30751.550,-61487.450,2018-03-01
1,偏股型基金,26645.0,0.043323,0.030,18450.930,-8194.070,2018-03-01
2,定期,366701.0,0.596232,0.800,492024.800,125323.800,2018-03-01
3,指数型基金,14935.0,0.024283,0.030,18450.930,3515.930,2018-03-01
4,现金,101376.0,0.164831,0.010,6150.310,-95225.690,2018-03-01
5,股票,13135.0,0.021357,0.025,15375.775,2240.775,2018-03-01
6,total,615031.0,1.000000,NaN,NaN,NaN,2018-03-01

# 更新固收类资产流动性信息

In [7]:
fa.update_fix_liq_info(df,DATE,timedelta=15)

15天内就要到期的品种:
Empty DataFrame
Columns: [channel, category, item, total_amount, maturity, remain_days]
Index: []
[INFO] 2018-02-28 23:03:37 E:\01_learn\05_method\finance.db is connected.
[INFO] 2018-02-28 23:03:37 Data is inserted to fix_liq_info successfully!
[INFO] 2018-02-28 23:03:37 E:\01_learn\05_method\finance.db is disconnected.

,subclass,total_amount,pct,planning_prop,planning_value,comments,date
0,中期定期,161490,0.362638,0.78,286026.78,124536.78,2018-03-01
1,现金,52260,0.117354,0.02,7334.02,-44925.98,2018-03-01
2,短期定期,94158,0.211439,0.10,36670.10,-57487.90,2018-03-01
3,超长期定期,38173,0.085720,0.05,18335.05,-19837.95,2018-03-01
4,长期定期,99239,0.222849,0.05,18335.05,-80903.95,2018-03-01

# 更新固收类收益率明细

In [8]:
fa.update_fix_return_rate(df, DATE)

[INFO] 2018-02-28 23:03:41 E:\01_learn\05_method\finance.db is connected.
[INFO] 2018-02-28 23:03:41 Data is inserted to fix_return_rate successfully!
[INFO] 2018-02-28 23:03:41 E:\01_learn\05_method\finance.db is disconnected.

                item category     ytm   ytm_avg  weight        date
0           U计划7058期      P2P  0.0920  0.061489   2.35%  2018-03-01
1           U计划0613期      P2P  0.0880  0.061489   0.94%  2018-03-01
2           U计划6013期      P2P  0.0880  0.061489   7.59%  2018-03-01
3           U计划8417期      P2P  0.0880  0.061489   4.85%  2018-03-01
4           U计划0521期      P2P  0.0810  0.061489   4.71%  2018-03-01
5    光大永明定活宝20180717       定期  0.0600  0.061489   8.54%  2018-03-01
6    光大永明定活宝20180726       定期  0.0600  0.061489   4.61%  2018-03-01
7      京弘年年盈20170927       定期  0.0580  0.061489   3.41%  2018-03-01
8      京弘年年盈20170809       定期  0.0580  0.061489   1.15%  2018-03-01
9         厦金中心厦盈通第八期       定期  0.0568  0.061489   6.96%  2018-03-01
10        厦金中心厦盈通第二期       定期  0.0568  0.061489   2.32%  2018-03-01
11           平安享盈368       定期  0.0560  0.061489   7.41%  2018-03-01
12   光大永明定活宝20190108       定期  0.0550  0.061489   3.52%  2018-03-01
13   光大永明定活宝20190208       定期  0.0550  0.061489   4.49%  2018-03-01
14   光大永明定活宝20190226       定期  0.0550  0.061489   4.49%  2018-03-01
15           理享HK731       定期  0.0550  0.061489   1.68%  2018-03-01
16           理享HK730       定期  0.0550  0.061489   2.40%  2018-03-01
17    泰康养老瑞泰20171219       定期  0.0540  0.061489   2.25%  2018-03-01
18     京弘年年盈20170620       定期  0.0540  0.061489   4.61%  2018-03-01
19   光大永明定活宝20180514       定期  0.0510  0.061489   1.86%  2018-03-01
20        天金所支信通第33期       定期  0.0510  0.061489   1.17%  2018-03-01
21        天金所支信通第35期       定期  0.0510  0.061489   3.50%  2018-03-01
22  太平养老乐享太平20180817       定期  0.0504  0.061489   2.26%  2018-03-01
23  太平养老乐享太平20180320       定期  0.0502  0.061489  11.74%  2018-03-01
24           理享CS365       定期  0.0500  0.061489   1.20%  2018-03-01

# 更新权益类资产收益情况

In [9]:
fa.update_equity_return_records(df,DATE)

[INFO] 2018-02-28 23:03:51 E:\01_learn\05_method\finance.db is connected.
[INFO] 2018-02-28 23:03:51 Data is inserted to equity_return_records successfully!
[INFO] 2018-02-28 23:03:51 E:\01_learn\05_method\finance.db is disconnected.

,item,status,hold_days,buy_cost,current_value,return,return_rate,date
0,华域汽车,持仓中,42 days 00:00:00,13032.0,13135.0,103.0,0.79%,2018-03-01
1,广发沪深300ETF002987,持仓中,68 days 00:00:00,15400.0,14935.0,-465.0,-3.02%,2018-03-01
2,银华估值005250,持仓中,80 days 00:00:00,26970.0,26645.0,-325.0,-1.21%,2018-03-01
3,上海医药,落袋为安,60 days 00:00:00,9726.4,NaN,445.6,4.58%,2018-03-01
4,康缘医药,落袋为安,60 days 00:00:00,1526.0,NaN,-120.0,-7.86%,2018-03-01

# 更新阶段收益状况

In [10]:
fa.update_return_and_expense(df,'2018-02-01','2018-03-01')

[INFO] 2018-02-28 23:04:21 E:\01_learn\05_method\finance.db is connected.
[INFO] 2018-02-28 23:04:21 Data is inserted to return_and_expense successfully!
[INFO] 2018-02-28 23:04:21 E:\01_learn\05_method\finance.db is disconnected.

,date,start_date,income_from_parents,begin_net_asset,end_net_asset,return_finance,expense
0,2018-03-01,2018-02-01,44868.0,551367.0,587982.0,10294.0,18547.0