In [1]:
%pylab inline
%load_ext autoreload
%autoreload 2
import pandas as pd
import os
import mysql.connector
import devkit.api as dk

Populating the interactive namespace from numpy and matplotlib

In [2]:
os.getcwd()

'E:\\04_project'

In [39]:
with dk.MySQLProxy() as proxy:
    proxy.connect(user='root', password='123888', database='orders')
    proxy.show_sample('products')

[INFO] 2018-03-25 19:42:42 orders is connected.
  prod_id  vend_id     prod_name  prod_price  \
0   ANV01     1001  .5 ton anvil        5.99
1   ANV02     1001   1 ton anvil        9.99
2   ANV03     1001   2 ton anvil       14.99
3   DTNTR     1003     Detonator       13.00
4      FB     1003     Bird seed       10.00

                                           prod_desc
0      .5 ton anvil, black, complete with handy hook
1  1 ton anvil, black, complete with handy hook a...
2  2 ton anvil, black, complete with handy hook a...
3    Detonator (plunger powered), fuses not included
4              Large bag (suitable for road runners)
[INFO] 2018-03-25 19:42:42 orders is disconnected.

In [21]:
sql=dk.MySQLProxy()

In [22]:
sql.connect(user='root', password='123888', database='orders')

[INFO] 2018-03-25 19:28:03 orders is connected.

In [116]:
import re
key = r"mat cat hat pat"
r1 = '[^a|p]at'
pattern = re.compile(r1)
print(pattern.findall(key))

['mat', 'cat', 'hat']

In [269]:
import copy
def test(inputs):
    m = inputs[0][0]
    n = inputs[0][1]
    lst_old = []
    lst_old = {ins[0]: ins[1:] for ins in inputs[1:]}
    for key,value in lst_old.items():
        lst_old[key] = [ins for ins in value if ins != '*']
    lst_new = copy.hardcopy(lst_old)
    names = [ins[0] for ins in lst_old]
    for name in names:
        for i in lst_old[name]:
            if i in names:
                lst_new[name].extend(lst_new[i])
    output = [key for key,value in lst_new.items() if len(value) >= n ]
    if len(output) == 0:
        print('None')
    else:
        print(' '.join(output))
inputs=[[5,9],['A','B','C'],['C','F','*'],['B','D','E'],['D','G','*'],['E','H','I']]
test(inputs)

AttributeError: module 'copy' has no attribute 'hardcopy'

In [306]:

s = input().split(" ")
#s = "3 15".split(" ")
k = int(s[0])
n = int(s[1])
test = 1
answer = []
def sumOfNumber(sum,n,k):
    print('sum=',sum,'n=',n,'k=',k)
    if sum<=0 or n<=0 : 
        return # 找不到值或者已经找到
    if sum==n and k == 1: # 找到了最后一个元素的情况
        global test
        test = 2
        print(n,end=" ") # 打印最后一个找到的元素
        for i in answer:
            print(i,end=" ")  # 打印之前找到的因素
        print()
    answer.append(n) # 假设最大的编号为正确组合的一个元素
    sumOfNumber(sum-n,n-1,k-1) # 寻找去掉最大元素的集合中能使和为sum-n
    answer.remove(n) # 如果执行到这一步说明没有匹配到存在当前元素下可能的有效组合 故删除
    sumOfNumber(sum,n-1,k)
sumOfNumber(n,9,k) # sum是给定的数字之和 n是编号个数 k是人数
if test == 1:
    print('None')

3 9
sum= 9 n= 9 k= 3
sum= 0 n= 8 k= 2
sum= 9 n= 8 k= 3
sum= 1 n= 7 k= 2
sum= -6 n= 6 k= 1
sum= 1 n= 6 k= 2
sum= -5 n= 5 k= 1
sum= 1 n= 5 k= 2
sum= -4 n= 4 k= 1
sum= 1 n= 4 k= 2
sum= -3 n= 3 k= 1
sum= 1 n= 3 k= 2
sum= -2 n= 2 k= 1
sum= 1 n= 2 k= 2
sum= -1 n= 1 k= 1
sum= 1 n= 1 k= 2
sum= 0 n= 0 k= 1
sum= 1 n= 0 k= 2
sum= 9 n= 7 k= 3
sum= 2 n= 6 k= 2
sum= -4 n= 5 k= 1
sum= 2 n= 5 k= 2
sum= -3 n= 4 k= 1
sum= 2 n= 4 k= 2
sum= -2 n= 3 k= 1
sum= 2 n= 3 k= 2
sum= -1 n= 2 k= 1
sum= 2 n= 2 k= 2
sum= 0 n= 1 k= 1
sum= 2 n= 1 k= 2
sum= 1 n= 0 k= 1
sum= 2 n= 0 k= 2
sum= 9 n= 6 k= 3
sum= 3 n= 5 k= 2
sum= -2 n= 4 k= 1
sum= 3 n= 4 k= 2
sum= -1 n= 3 k= 1
sum= 3 n= 3 k= 2
sum= 0 n= 2 k= 1
sum= 3 n= 2 k= 2
sum= 1 n= 1 k= 1
1 6 2
sum= 0 n= 0 k= 0
sum= 1 n= 0 k= 1
sum= 3 n= 1 k= 2
sum= 2 n= 0 k= 1
sum= 3 n= 0 k= 2
sum= 9 n= 5 k= 3
sum= 4 n= 4 k= 2
sum= 0 n= 3 k= 1
sum= 4 n= 3 k= 2
sum= 1 n= 2 k= 1
sum= -1 n= 1 k= 0
sum= 1 n= 1 k= 1
1 5 3
sum= 0 n= 0 k= 0
sum= 1 n= 0 k= 1
sum= 4 n= 2 k= 2
sum= 2 n= 1 k= 1
sum= 1 n= 0 k= 0
sum= 2 n= 0 k= 1
sum= 4 n= 1 k= 2
sum= 3 n= 0 k= 1
sum= 4 n= 0 k= 2
sum= 9 n= 4 k= 3
sum= 5 n= 3 k= 2
sum= 2 n= 2 k= 1
2 4 3
sum= 0 n= 1 k= 0
sum= 2 n= 1 k= 1
sum= 1 n= 0 k= 0
sum= 2 n= 0 k= 1
sum= 5 n= 2 k= 2
sum= 3 n= 1 k= 1
sum= 2 n= 0 k= 0
sum= 3 n= 0 k= 1
sum= 5 n= 1 k= 2
sum= 4 n= 0 k= 1
sum= 5 n= 0 k= 2
sum= 9 n= 3 k= 3
sum= 6 n= 2 k= 2
sum= 4 n= 1 k= 1
sum= 3 n= 0 k= 0
sum= 4 n= 0 k= 1
sum= 6 n= 1 k= 2
sum= 5 n= 0 k= 1
sum= 6 n= 0 k= 2
sum= 9 n= 2 k= 3
sum= 7 n= 1 k= 2
sum= 6 n= 0 k= 1
sum= 7 n= 0 k= 2
sum= 9 n= 1 k= 3
sum= 8 n= 0 k= 2
sum= 9 n= 0 k= 3

In [233]:
inputs=[[5,4],['A','B','C'],['C','F','*'],['B','D','E'],['D','G','*'],['E','H','I']]

In [237]:
lst_old = {ins[0]: ins[1:] for ins in inputs[1:]}

In [285]:
a=[1,2,3]
a.reverse()
a

[3, 2, 1]

In [229]:
a[3]='www'

In [230]:
b

{1: 'd', 2: 'sw'}

In [69]:
assert is_valid_email('someone@gmail.com')
# assert is_valid_email('bill.gates@microsoft.com')
# assert not is_valid_email('bob#example.com')
# assert not is_valid_email('mr-bob@example.com')

In [99]:
re.match(r'(\d+)(0*)$','1239000').groups()

('1239000', '')

In [97]:
re.match(r'^(\d+)(0*)$', '102300').groups()

('102300', '')

In [102]:
is_valid_email('bil@1l.gaes@microsoft.com')

('bil@1l.gaes', '@', 'microsoft.com')

In [23]:
sql.execute("show tables;")

show tables;

[('customers',),
 ('orderitems',),
 ('orders',),
 ('productnotes',),
 ('products',),
 ('vendors',)]

In [20]:
a

[('customers',),
 ('orderitems',),
 ('orders',),
 ('productnotes',),
 ('products',),
 ('vendors',)]

In [26]:
b=a.execute("show tables;")

In [27]:
b.fetchall()

AttributeError: 'NoneType' object has no attribute 'fetchall'

In [7]:
sql.cursor.fetchall()

[('customers',),
 ('orderitems',),
 ('orders',),
 ('productnotes',),
 ('products',),
 ('vendors',)]

In [7]:
conn = mysql.connector.connect(user='root', password='123888', database='orders')

In [8]:
cursor=conn.cursor()

In [35]:
cursor.commit()

AttributeError: 'MySQLCursor' object has no attribute 'commit'

In [38]:
def test():
    conn = mysql.connector.connect(user='root', password='123888', database='orders')
    cursor=conn.cursor()
    cursor.execute("select * from products")
    print(cursor.fetchall())

In [39]:
test()

[('ANV01', 1001, '.5 ton anvil', Decimal('5.99'), '.5 ton anvil, black, complete with handy hook'), ('ANV02', 1001, '1 ton anvil', Decimal('9.99'), '1 ton anvil, black, complete with handy hook and carrying case'), ('ANV03', 1001, '2 ton anvil', Decimal('14.99'), '2 ton anvil, black, complete with handy hook and carrying case'), ('DTNTR', 1003, 'Detonator', Decimal('13.00'), 'Detonator (plunger powered), fuses not included'), ('FB', 1003, 'Bird seed', Decimal('10.00'), 'Large bag (suitable for road runners)'), ('FC', 1003, 'Carrots', Decimal('2.50'), 'Carrots (rabbit hunting season only)'), ('FU1', 1002, 'Fuses', Decimal('3.42'), '1 dozen, extra long'), ('JP1000', 1005, 'JetPack 1000', Decimal('35.00'), 'JetPack 1000, intended for single use'), ('JP2000', 1005, 'JetPack 2000', Decimal('55.00'), 'JetPack 2000, multi-use'), ('OL1', 1002, 'Oil can', Decimal('8.99'), 'Oil can, red'), ('SAFE', 1003, 'Safe', Decimal('50.00'), 'Safe with combination lock'), ('SLING', 1003, 'Sling', Decimal('4.49'), 'Sling, one size fits all'), ('TNT1', 1003, 'TNT (1 stick)', Decimal('2.50'), 'TNT, red, single stick'), ('TNT2', 1003, 'TNT (5 sticks)', Decimal('10.00'), 'TNT, red, pack of 10 sticks')]

In [68]:
pd.DataFrame(a,columns=['var_name', 'type', 'Null', 'Key', 'Default', 'Extra']).set_index(['var_name'])

AssertionError: 6 columns passed, passed data had 1 columns

In [26]:
fields = [a[i][0] for i in range(len(a))]

In [34]:
[entry[0] for entry in cursor.fetchall()]

['prod_id', 'vend_id', 'prod_name', 'prod_price', 'prod_desc']

In [6]:
df = pd.DataFrame({'代码':['600000.SH','600001.SH'],'名称':['浦发银行','中国银行'],'价格':[10,20],'成交量':[10000,20000]})
df = df.reindex(columns=['代码','名称','价格','成交量'])

In [9]:
df.to_excel(r"C:\Users\youlin\Desktop\df.xls")

In [7]:
df

          代码    名称  价格    成交量
0  600000.SH  浦发银行  10  10000
1  600001.SH  中国银行  20  20000