In [2]:
%pylab inline
%load_ext autoreload
%autoreload 2

Populating the interactive namespace from numpy and matplotlib

In [4]:
import devkit.api as dk
import Factor.api as factor
import pandas as pd
import numpy as np

In [7]:
a = [i for i in range(100000000)]

In [11]:
import gc 
gc.collect()

0

In [12]:
conn = dk.MySQLProxy()
conn.connect('root', '123888', 'index')

[INFO] 2018-04-13 11:38:59 index is connected.

In [20]:
for cycle in [90, 360]:
    trading_days = conn.query_as_dataframe("SELECT DISTINCT date FROM vol_{}days".format(cycle))
    trading_days = trading_days.date.apply(lambda x: str(x)).tolist()
    factor.write.update_index_std("vol_{}days".format(cycle), trading_days)

[INFO] 2018-04-13 00:14:41 SELECT DISTINCT date FROM vol_90days

E:\06_software\Anoconda\lib\site-packages\pymysql\cursors.py:165: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 480")
  result = self._query(query)
E:\06_software\Anoconda\lib\site-packages\pymysql\cursors.py:165: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

[INFO] 2018-04-13 01:12:46 Updated successfully!!
[INFO] 2018-04-13 01:12:46 SELECT DISTINCT date FROM vol_360days
[INFO] 2018-04-13 01:59:58 Updated successfully!!

In [24]:
factor.write.update_index_std("vol_180days", trading_days)

E:\06_software\Anoconda\lib\site-packages\pymysql\cursors.py:165: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 480")
  result = self._query(query)
E:\06_software\Anoconda\lib\site-packages\pymysql\cursors.py:165: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

[INFO] 2018-04-12 20:38:43 Updated successfully!!

In [7]:
trading_days = conn.query_as_dataframe("SELECT DISTINCT date FROM vol_5days_std")

[INFO] 2018-04-11 11:43:27 SELECT DISTINCT date FROM vol_5days_std

In [6]:
a=factor.backtest.get_single_index_daily_return(index_std='vol_5days_std', trading_days=trading_days, cycle=30, groups=10)

In [18]:
output = a.copy()
for i in range(a.shape[0]):
    if i == 0:
        output.iloc[i, 0:10] = 1
    else:
        output.iloc[i, 0:10] = output.iloc[i-1, 0:10] + a.iloc[i-1, 0:10]

In [13]:
dummy = conn.query_as_dataframe("SELECT date, sec_id FROM close")

[INFO] 2018-04-13 11:39:03 SELECT date, sec_id FROM close

In [65]:
dummy['date_report'] = dummy.date

In [30]:
dummy.date_report[0]

datetime.date(2005, 1, 4)

In [22]:
from datetime import datetime

In [40]:
datetime(2001 , 10, 31).date()

datetime.date(2001, 10, 31)

In [66]:
def date2report(x):
    if 1 <= x.month <= 4:
        x = datetime(x.year -1 , 9, 30).date()
    elif 5 <= x.month <= 7:
        x = datetime(x.year -1 , 12, 31).date()
    elif 8 <= x.month <= 9:
        x = datetime(x.year, 3, 31).date()
    elif x.month == 10:
        x = datetime(x.year, 6, 30).date()
    elif 11 <= x.month <= 12:
        x = datetime(x.year, 9, 30).date()
    else:
        print("Invalid date!!")
    return x

In [67]:
dummy['date_report'] = dummy.date_report.apply(lambda x: date2report(x))

In [103]:
dummy_final = dummy.copy()

In [104]:
dummy_final.date = dummy_final.date.apply(lambda x: str(x))

In [105]:
dummy_final.date_report = dummy_final.date_report.apply(lambda x: str(x))

In [72]:
fr = pd.read_csv(r"E:\99_daily\TODAY\fr.csv", encoding='gbk', index_col=False)

In [123]:
c=a.groupby(['group']).apply(lambda x: sum(x.return_rate * (x.close_now/x.close_now.sum()))).to_frame()

In [128]:
c=c.rename(columns={0: 'return_rate'})

In [137]:
f

In [73]:
fr.head(3)

,date_report,date_published,sec_id,资产负债率,现金流动负债比率,速动比率,流动比率,利息保障倍数,总资产周转率,存货周转率,营业收入增长率,净利润增长率,总资产增长率,净资产收益率,销售毛利率,销售净利率,总资产净利率
0,2005/3/31,2005/4/23,SH600000,96.93,NaN,1.15,1.15,21.27,0.01,NaN,34.50,23.61,16.68,3.66,58.17,10.24,0.11
1,2005/3/31,2005/4/29,SH600004,47.92,0.02,0.52,0.52,6.90,0.06,10.57,27.74,-48.31,77.29,1.55,49.92,14.02,0.79
2,2005/3/31,2005/4/29,SH600006,57.04,0.11,1.17,1.44,-6.20,0.24,1.51,48.03,63.28,47.85,3.29,17.50,6.88,1.66

In [82]:
new_cols = {
    '资产负债率':                'debt_to_asset', \
    '流动比率'  :                'current_ratio', \
    '速动比率'  :                'quick_ratio', \
    '现金流动负债比率':           'cash_ratio', \
    '利息保障倍数':               'interest_cover_ratio', \
    '总资产周转率':                'turnover_of_total_asset', \
    '存货周转率':                'turnover_of_total_inventory', \
    '营业收入增长率':                'growth_rate_of_opt_revenue', \
    '净利润增长率':                'growth_rate_of_net_income', \
    '总资产增长率':                'growth_rate_of_total_asset', \
    '销售毛利率':                'gross_profit_margin', \
    '销售净利率':                'net_profit_margin', \
    '净资产收益率':                'roe', \
    '总资产净利率':                'roa' \
}

In [83]:
fr1 = fr.rename(columns=new_cols)

In [89]:
fr1.date_report = fr1.date_report.apply(lambda x: datetime.strftime(datetime.strptime(x, "%Y/%m/%d"), "%Y-%m-%d"))

In [91]:
fr1.date_published = fr1.date_published.apply(lambda x: datetime.strftime(datetime.strptime(x, "%Y/%m/%d"), "%Y-%m-%d"))

In [93]:
fr1.sec_id = fr1.sec_id.apply(lambda x: x[2:] + '.' + x[:2])

In [102]:
fr1.date_report[0]

'2005-03-31'

In [114]:
fr2 = dummy_final.merge(fr1, how='left', on=['sec_id', 'date_report'])

In [144]:
index_retain = fr2.iloc[:, 4:].dropna(how='all').index
fr2 = fr2.loc[index_retain]
del index_retain

In [174]:
fr_list = fr2.columns.tolist()[5:]

In [ ]:
for index in fr_list:
    print(index)
    temp1 = fr2[['date', 'sec_id', 'date_report', index]].copy()
    temp1 = temp1.dropna()
    temp1 = temp1.rename(columns={'date_report': 'date_report_available'})
    dk.df2mysql("root", "123888", "index", index, temp1)
    del temp1 
    gc.collect()

In [ ]:
import gc

E:\06_software\Anoconda\lib\site-packages\pymysql\cursors.py:165: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 480")
  result = self._query(query)
E:\06_software\Anoconda\lib\site-packages\pymysql\cursors.py:165: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

In [143]:
fr2.loc[index]

,date,sec_id,date_report,date_published,debt_to_asset,cash_ratio,quick_ratio,current_ratio,interest_cover_ratio,turnover_of_total_asset,turnover_of_total_inventory,growth_rate_of_opt_revenue,growth_rate_of_net_income,growth_rate_of_total_asset,roe,gross_profit_margin,net_profit_margin,roa
173160,2005-08-01,000001.SZ,2005-03-31,2005-04-26,97.60,-0.01,0.74,0.74,NaN,0.01,NaN,2.90,-4.88,-5.31,3.10,55.51,7.63,0.07
173161,2005-08-01,000002.SZ,2005-03-31,2005-04-25,63.20,-0.12,0.58,2.06,-419.23,0.11,0.11,82.97,140.07,53.50,3.90,35.80,13.36,1.50
173162,2005-08-01,000004.SZ,2005-03-31,2005-04-27,36.87,-0.10,1.76,2.19,-1.37,0.06,0.24,-36.52,65.98,-11.01,-1.40,45.28,-11.16,-0.65
173163,2005-08-01,000005.SZ,2005-03-31,2005-04-29,51.55,-0.01,0.36,0.61,-0.64,0.01,0.03,-39.60,-818.53,1.75,-0.76,53.05,-52.33,-0.37
173164,2005-08-01,000006.SZ,2005-03-31,2005-04-22,71.21,-0.02,0.61,1.21,1.36,0.12,0.27,88.49,299.70,-0.61,1.56,15.46,3.32,0.40
173165,2005-08-01,000007.SZ,2005-03-31,2005-04-30,89.74,0.03,0.24,0.61,-0.42,0.02,0.01,0.46,225.78,-2.70,15.77,88.77,69.73,1.36
173166,2005-08-01,000008.SZ,2005-03-31,2005-04-23,17.23,-0.02,3.10,3.11,7.06,0.07,2.68,105.60,258.95,47.55,0.66,17.50,7.25,0.54
173167,2005-08-01,000009.SZ,2005-03-31,2005-04-23,67.04,0.01,0.47,1.32,1.56,0.05,0.06,31.35,132.25,18.02,0.54,42.48,2.57,0.13
173168,2005-08-01,000010.SZ,2005-03-31,2005-04-22,62.30,-0.02,1.05,1.31,3.21,0.06,0.25,19.13,-2557.33,11.17,-4.68,43.67,-13.84,-0.79
173169,2005-08-01,000011.SZ,2005-03-31,2005-04-20,74.83,-0.01,0.25,1.19,0.07,0.05,0.05,37.35,9.60,-12.54,0.02,28.55,0.12,0.01
173170,2005-08-01,000012.SZ,2005-03-31,2005-04-23,51.79,0.05,0.39,0.55,8.39,0.08,0.86,3.46,-35.99,33.08,2.26,36.15,12.86,1.08
173171,2005-08-01,000014.SZ,2005-03-31,2005-04-23,71.84,0.09,0.36,1.45,5.73,0.09,0.09,50.31,317.35,11.90,2.81,26.90,8.47,0.74
173172,2005-08-01,000016.SZ,2005-03-31,2005-04-29,62.30,0.02,0.84,1.35,11.09,0.34,0.84,-18.92,-17.33,-5.87,0.64,14.76,0.65,0.22
173173,2005-08-01,000017.SZ,2005-03-31,2005-04-29,NaN,NaN,NaN,NaN,-6.26,0.09,1.14,-16.93,-3311.02,-7.41,-0.18,4.67,-9.71,-0.85
173174,2005-08-01,000018.SZ,2005-03-31,2005-04-27,35.95,0.06,0.74,1.32,-0.78,0.12,0.60,-9.50,-547.46,29.14,-1.14,6.76,-5.56,-0.67
173175,2005-08-01,000019.SZ,2005-03-31,2005-04-22,47.60,0.05,0.44,0.54,-3.84,0.03,0.59,0.74,11.49,-1.31,0.11,21.66,1.63,0.05
173176,2005-08-01,000020.SZ,2005-03-31,2005-04-28,44.40,0.08,0.59,0.79,0.53,0.05,0.56,-7.91,-713.86,-12.82,-0.31,-3.91,-3.43,-0.17
173177,2005-08-01,000022.SZ,2005-03-31,2005-04-26,37.37,0.25,0.48,0.50,39.66,0.10,5.35,40.36,80.62,34.71,8.62,73.89,39.57,4.00
173178,2005-08-01,000023.SZ,2005-03-31,2005-04-23,65.94,0.09,0.61,0.80,0.33,0.13,1.50,0.74,-8.00,1.56,-1.36,11.55,-3.22,-0.43
173179,2005-08-01,000025.SZ,2005-03-31,2005-04-20,74.59,0.04,0.56,0.69,1.02,0.24,1.76,-25.78,69.21,-16.94,-0.25,10.01,-0.22,-0.05
173180,2005-08-01,000026.SZ,2005-03-31,2005-04-22,13.54,-0.02,1.48,4.02,17.17,0.14,0.30,32.37,-65.76,5.98,0.15,34.28,0.85,0.12
173181,2005-08-01,000027.SZ,2005-03-31,2005-04-22,35.91,0.19,2.14,2.42,30.20,0.14,2.04,19.85,15.02,19.49,4.85,29.99,12.83,1.78
173182,2005-08-01,000028.SZ,2005-03-31,2005-04-28,56.59,-0.03,0.94,1.27,119.28,0.43,1.67,-2.69,215.14,-12.51,3.03,26.07,3.07,1.32
173183,2005-08-01,000029.SZ,2005-03-31,2005-04-26,60.74,0.03,0.31,1.45,-0.42,0.04,0.05,-38.05,23.32,-8.52,-1.41,23.88,-15.90,-0.56
173184,2005-08-01,000030.SZ,2005-03-31,2005-04-29,NaN,NaN,NaN,NaN,0.31,0.10,1.72,-0.22,16.80,-28.68,-0.44,14.78,-24.17,-2.51
173185,2005-08-01,000031.SZ,2005-03-31,2005-04-28,36.66,0.02,0.22,0.66,2.98,0.04,0.14,4.11,-26.70,6.98,2.13,49.08,29.54,1.25
173186,2005-08-01,000032.SZ,2005-03-31,2005-04-22,49.82,-0.21,0.88,1.57,34.74,0.25,0.69,-25.77,-20.02,17.39,2.33,16.87,4.42,1.09
173187,2005-08-01,000034.SZ,2005-03-31,2005-04-30,116.57,0.02,0.46,0.64,-0.64,0.10,0.47,7.14,50.72,-23.00,-5.58,9.51,-14.63,-1.51
173188,2005-08-01,000035.SZ,2005-03-31,2005-08-15,NaN,NaN,NaN,NaN,-1.12,0.07,2.29,-93.67,-131.14,-73.28,-0.26,15.35,-9.35,-0.68
173189,2005-08-01,000036.SZ,2005-03-31,2005-04-29,24.02,-0.49,1.52,2.36,-0.36,0.01,0.08,-91.18,-427.24,-42.26,-0.86,14.36,-30.32,-0.39
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6354599,2018-03-22,603929.SH,2017-09-30,2017-10-24,35.06,-0.24,2.30,2.76,-28.73,0.86,4.26,-30.40,-32.68,27.89,10.71,13.84,8.22,7.05
6354600,2018-03-22,603933.SH,2017-09-30,2017-10-28,28.30,-0.03,2.55,3.31,64.89,1.39,4.26,32.88,93.45,NaN,13.55,19.67,8.74,12.17
6354601,2018-03-22,603936.SH,2017-09-30,2017-10-28,56.60,0.03,0.63,0.91,4.42,0.57,3.43,25.96,44.15,23.77,5.76,17.83,4.71,2.70
6354602,2018-03-22,603937.SH,2017-09-30,2017-11-01,18.67,0.34,3.31,4.47,125.61,1.00,4.15,14.58,10.89,NaN,9.19,16.13,7.92,7.93
6354603,2018-03-22,603938.SH,2017-09-30,2017-10-30,7.23,-0.44,8.84,9.75,120.89,0.98,9.41,47.90,74.30,NaN,10.20,28.71,11.91,11.65
6354604,2018-03-22,603939.SH,2017-09-30,2017-10-27,31.79,0.18,1.80,2.31,-10.59,0.78,2.84,27.93,38.16,10.16,7.16,40.25,6.44,5.04
6354605,2018-03-22,603958.SH,2017-09-30,2017-10-25,18.29,0.32,2.02,4.62,-17.72,0.74,0.77,-12.41,-62.36,-2.26,1.84,52.13,1.95,1.45
6354606,2018-03-22,603959.SH,2017-09-30,2017-10-30,58.26,-0.19,1.19,1.60,4.59,0.21,0.82,30.08,11.52,31.96,6.42,33.15,13.61,2.90
6354607,2018-03-22,603960.SH,2017-09-30,2017-10-27,24.40,0.31,2.36,3.32,-17.06,0.32,0.90,55.53,140.66,NaN,6.39,32.82,17.21,5.52
6354608,2018-03-22,603963.SH,2017-09-30,2017-10-30,26.86,0.24,1.98,2.67,40.07,0.43,0.83,15.01,9.37,NaN,8.52,63.85,20.00,8.50
6354609,2018-03-22,603966.SH,2017-09-30,2017-10-25,27.38,-0.01,2.53,3.42,-111.41,0.45,1.54,14.46,18.80,NaN,5.42,25.74,10.28,4.63
6354610,2018-03-22,603968.SH,2017-09-30,2017-10-28,27.31,0.01,2.32,2.59,8.50,0.66,9.88,22.92,3.99,2.77,8.27,18.86,9.18,6.06
6354611,2018-03-22,603969.SH,2017-09-30,2017-10-26,21.14,-0.13,3.15,3.81,17.95,0.78,5.20,50.13,-7.58,23.03,5.74,17.50,6.17,4.84
6354612,2018-03-22,603970.SH,2017-09-30,2017-11-15,80.56,0.15,0.62,1.14,5.54,1.16,2.22,3.22,9.93,NaN,19.21,11.33,2.51,2.92
6354613,2018-03-22,603976.SH,2017-09-30,2017-10-31,9.37,0.25,6.57,7.53,-124.72,0.46,3.21,8.83,11.96,NaN,6.87,31.87,16.83,7.78
6354614,2018-03-22,603977.SH,2017-09-30,2017-10-28,20.96,0.18,1.31,1.51,-148.13,0.32,5.41,19.69,-33.29,30.34,6.07,44.97,14.65,4.66
6354615,2018-03-22,603978.SH,2017-09-30,2017-10-25,21.21,-0.44,3.30,3.54,16.78,0.58,8.93,37.64,-10.82,NaN,6.36,21.70,11.08,6.40
6354616,2018-03-22,603979.SH,2017-09-30,2017-10-28,27.20,-0.08,2.98,3.42,10.52,0.35,2.92,-2.57,1.21,7.13,4.38,25.66,9.44,3.28
6354617,2018-03-22,603980.SH,2017-09-30,2017-10-27,14.46,0.53,4.34,5.16,62.95,0.50,2.32,19.71,15.82,NaN,7.83,32.15,15.86,7.87
6354618,2018-03-22,603985.SH,2017-09-30,2017-10-30,16.55,0.40,2.98,3.93,14.04,0.52,2.12,16.00,-7.48,NaN,6.52,31.60,11.84,6.15
6354619,2018-03-22,603986.SH,2017-09-30,2017-10-28,24.82,0.54,2.69,3.82,25.35,0.80,2.05,44.69,134.74,35.25,21.17,38.57,22.38,17.85
6354620,2018-03-22,603987.SH,2017-09-30,2017-10-31,16.68,0.71,2.27,3.05,21.50,0.60,3.27,14.26,18.26,12.91,7.55,33.18,9.65,5.81
6354621,2018-03-22,603988.SH,2017-09-30,2017-10-31,22.36,0.14,2.91,3.65,15.88,0.25,1.06,20.33,-2.10,3.57,3.66,32.44,11.55,2.86
6354622,2018-03-22,603989.SH,2017-09-30,2017-10-31,16.35,0.33,3.37,4.30,41.46,0.57,2.97,16.62,11.66,-0.31,12.69,34.58,17.75,10.09
6354623,2018-03-22,603990.SH,2017-09-30,2017-10-27,29.88,-0.30,1.98,2.10,18.37,0.26,2.23,14.44,35.26,NaN,7.13,76.46,17.56,4.59
6354624,2018-03-22,603991.SH,2017-09-30,2017-10-24,21.79,-0.27,2.46,2.85,11.63,0.48,5.04,4.62,1.33,NaN,4.62,23.85,8.23,3.97
6354625,2018-03-22,603993.SH,2017-09-30,2017-10-30,55.21,0.43,2.52,2.93,3.51,0.19,2.19,406.47,174.98,123.73,4.30,35.33,9.06,1.70
6354626,2018-03-22,603996.SH,2017-09-30,2017-10-31,68.12,-0.28,0.82,1.30,3.33,1.09,3.42,43.09,14.95,34.05,4.93,7.58,1.70,1.85
6354627,2018-03-22,603997.SH,2017-09-30,2017-10-28,17.49,0.97,2.99,3.95,501.68,0.66,2.68,35.91,23.09,18.35,13.22,33.70,16.62,11.03
6354628,2018-03-22,603999.SH,2017-09-30,2017-10-28,13.77,-0.54,5.73,6.13,-5.24,0.28,5.59,11.69,-14.53,4.25,3.19,21.34,9.78,2.71

In [105]:
b=(a.groupby(['group']).apply(lambda x: x.close_now.sum())).to_frame().reset_index()

In [112]:
c=a.merge(b,how='left',on=['group'])

In [117]:
c['return_weight']=(c['close_now'] / c[0]) * c['return_rate']

In [119]:
c.groupby(['group']).apply(lambda x: x.return_weight.sum())

group
1.0    -0.023339
2.0    -0.032517
3.0    -0.035815
4.0    -0.028524
5.0    -0.048597
6.0    -0.038894
7.0    -0.035264
8.0    -0.025567
9.0    -0.036029
10.0   -0.035581
dtype: float64

In [87]:
a=pd.DataFrame([i for i in range(23239)])
a['group'] =np.nan

In [88]:
dist = int(len(a)/10)
n=1
for i in  range(0, len(a), dist):
    if n < 10:
        a.iloc[i:i+dist, 1] = n
    else:
        a.iloc[i:, 1] = n
        break
    n+=1

In [22]:
vol_360days = pd.read_csv(r"E:\99_daily\TODAY\formal_db\vol_360days.csv")

In [23]:
vol_180days.head(3)

      sec_id  vol_360days        date
0  000617.SZ     1.979556  2006-07-06
1  000661.SZ     0.681871  2006-07-06
2  000710.SZ     0.383704  2006-07-06

In [24]:
dk.df2mysql('root', '123888', 'index', 'vol_360days', vol_180days)

E:\06_software\Anoconda\lib\site-packages\pymysql\cursors.py:165: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 480")
  result = self._query(query)
E:\06_software\Anoconda\lib\site-packages\pymysql\cursors.py:165: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)