In [1]:
%pylab inline
%load_ext autoreload
%autoreload 2

Populating the interactive namespace from numpy and matplotlib

In [3]:
import devkit.api as dk
import finkit.api as fk
import Factor.api as factor
import alpha.api as alpha
import pandas as pd
import numpy as np
import os
from sklearn.preprocessing import StandardScaler

In [ ]:
trading_days = fk.get_trading_days('2005-01-01', '2018-03-01')
trading_days = sorted(trading_days)

# 单因子有效性检验

## 单因子累计收益图

In [14]:
conn = dk.MySQLProxy()
conn.connect('root', '123888', 'index_std')

[INFO] 2018-04-21 10:06:38 index_std is connected.

In [ ]:
index_stds = dk.get_tables_on_given_database('root', '123888', 'index_std')

In [ ]:
for index_std in index_stds:
    trading_days = conn.query_as_dataframe("SELECT DISTINCT date FROM {}".format(index_std))
    trading_days = trading_days.date.tolist()
    factor.get_single_index_daily_return(index_std,trading_days, 5 )

## 单因子检验的p值

- 从指定文件夹读入所有因子日度收益
- 对各因子进行配对t检验 获得检验的p值存入字典中
- 基于中位数对数据进行中心化 剔除p值大于中位数的index，然后对小于中位数的部分计算权重 
- 计算各index的权重 权重计算方式: 中心化p值.sum() / 中心化p值 p值越小 权重越大
- 将数据存入字典当中 并输出到外部json文件 key: index值 value: {"p_value", "p_value_center","weight"}

In [ ]:
cycle = 400
path = r"E:\07_data\02_factor\daily_return"
date_initial = trading_days[cycle]
a=factor.get_ttest_result_for_index_std_on_given_folder(trading_days[1000],trading_days[1401] ,path)

In [ ]:
windows = 200  # 计算因子权重的窗口期
p_threshhold = 0.1  # 仅选取p_value < 0.1 的因子 等权重
path = r"E:\07_data\02_factor\daily_return"
date_initial = trading_days[cycle]
for i in range(len(trading_days)):
    if i < cycle:
        continue
    a=factor.get_ttest_result_for_index_std_on_given_folder(trading_days[i-windows],trading_days[i] ,path)
    b=pd.DataFrame(a).T
    c=b[b.pvalue < 0.1]
    d = c.sort_values(['pvalue'])
    d['weight'] = 1 / len(d)

    e = d.T.to_dict()
    dk.dict2json(e, r"E:\07_data\02_factor\factor_weight\cycle200\{}.json".format(trading_days[i]))
    del a, b, c, d, e

# 基于打分的传统多因子选股模型

In [ ]:
a=alpha.back_test_on_given_model("2017-01-03", "2018-02-31", 10, 200, 20, alpha.mfs_by_score)
b=pd.DataFrame(a).T

In [7]:
trading_days = fk.get_weekly_last_trading_days('2005-01-01', '2013-01-01')

In [9]:
len(trading_days)

409

In [11]:
vol_30days_std = factor.read.get_secs_index_std('vol_30days_std',[], trading_days)

In [13]:
vol_30days_std

              date     sec_id  vol_30days_std
0       2005-02-25  000001.SZ       -0.567554
1       2005-02-25  000002.SZ       -0.557696
2       2005-02-25  000004.SZ        1.992427
3       2005-02-25  000006.SZ       -0.802462
4       2005-02-25  000007.SZ        0.231107
5       2005-02-25  000008.SZ       -0.053025
6       2005-02-25  000009.SZ       -0.763244
7       2005-02-25  000010.SZ       -0.123942
8       2005-02-25  000012.SZ       -0.320517
9       2005-02-25  000014.SZ       -0.350820
10      2005-02-25  000016.SZ       -0.801145
11      2005-02-25  000018.SZ       -0.237745
12      2005-02-25  000019.SZ       -0.136172
13      2005-02-25  000021.SZ        1.329873
14      2005-02-25  000023.SZ        0.614580
15      2005-02-25  000026.SZ        0.313574
16      2005-02-25  000027.SZ       -0.162544
17      2005-02-25  000028.SZ        0.832743
18      2005-02-25  000029.SZ        0.699258
19      2005-02-25  000031.SZ       -0.467967
20      2005-02-25  000032.SZ       -0.136298
21      2005-02-25  000034.SZ        0.564460
22      2005-02-25  000035.SZ        0.481923
23      2005-02-25  000036.SZ       -0.548045
24      2005-02-25  000037.SZ        1.189040
25      2005-02-25  000042.SZ       -0.303606
26      2005-02-25  000043.SZ       -0.460217
27      2005-02-25  000046.SZ       -0.696799
28      2005-02-25  000050.SZ        0.318708
29      2005-02-25  000055.SZ       -0.040422
...            ...        ...             ...
572849  2012-12-28  601899.SH       -0.752445
572850  2012-12-28  601901.SH       -0.430493
572851  2012-12-28  601908.SH       -0.529162
572852  2012-12-28  601918.SH        0.228401
572853  2012-12-28  601919.SH       -0.618957
572854  2012-12-28  601928.SH       -0.268552
572855  2012-12-28  601929.SH       -0.280019
572856  2012-12-28  601933.SH       -0.652349
572857  2012-12-28  601939.SH       -0.606146
572858  2012-12-28  601958.SH        0.214194
572859  2012-12-28  601965.SH       -0.195174
572860  2012-12-28  601988.SH       -0.801091
572861  2012-12-28  601989.SH       -0.414322
572862  2012-12-28  601991.SH       -0.685635
572863  2012-12-28  601996.SH        0.676903
572864  2012-12-28  601998.SH       -0.395835
572865  2012-12-28  601999.SH       -0.044500
572866  2012-12-28  603000.SH        0.073644
572867  2012-12-28  603001.SH        1.879278
572868  2012-12-28  603002.SH        0.167393
572869  2012-12-28  603003.SH        1.092571
572870  2012-12-28  603008.SH        0.030285
572871  2012-12-28  603077.SH       -0.754834
572872  2012-12-28  603123.SH        0.372656
572873  2012-12-28  603128.SH       -0.311665
572874  2012-12-28  603167.SH        0.911203
572875  2012-12-28  603333.SH        0.114178
572876  2012-12-28  603366.SH        0.311687
572877  2012-12-28  603766.SH       -0.226142
572878  2012-12-28  603993.SH       -0.379745

[572879 rows x 3 columns]