In [1]:
import pandas as pd

In [43]:
a = pd.read_csv(r"C:\Users\youlin\Desktop\temp.csv", index_col=0)

In [88]:
b1 = a.iloc[:, :6].rank(axis=1, ascending=False)
b2 = a.iloc[:, 6:].rank(axis=1, ascending=True)

In [77]:
b = b1.merge(b2, left_index=True, right_index=True)

In [87]:
b1.sum()

rev_5     12.0
rev_6     19.0
rev_7     21.0
rev_8     26.5
rev_9     33.5
rev_10    35.0
dtype: float64

In [92]:
b2.sum()

back_5     28.0
back_6     29.0
back_7     28.0
back_8     22.0
back_9     15.0
back_10    25.0
dtype: float64

In [74]:
a

,rev_5,rev_6,rev_7,rev_8,rev_9,rev_10,back_5,back_6,back_7,back_8,back_9,back_10
2011,0.2021,0.2234,0.1923,0.2122,0.2122,0.2932,0.2157,0.2034,0.1923,0.1234,0.1721,0.2221
2012,0.4965,0.3754,0.4823,0.4034,0.3958,0.3723,0.0540,0.0723,0.0912,0.0689,0.0792,0.1121
2013,0.3220,0.2943,0.3012,0.2734,0.2712,0.2214,0.2751,0.2212,0.2421,0.1234,0.2119,0.2940
2014,0.4145,0.3923,0.4012,0.3823,0.2921,0.2745,0.1567,0.1123,0.1423,0.1019,0.0895,0.0763
2015,1.2935,1.0223,0.9034,0.7212,0.6734,0.5123,0.2866,0.2712,0.2534,0.2612,0.1923,0.2376
2016,0.1848,0.2225,0.1023,0.1234,0.0912,0.0875,0.1920,0.2119,0.1823,0.2019,0.1432,0.1732
2017,-0.0199,-0.0430,-0.0234,-0.1025,-0.1220,-0.0923,0.0698,0.1123,0.1323,0.1434,0.0935,0.0823

In [78]:
b

Empty DataFrame
Columns: [2011_x, 2012_x, 2013_x, 2014_x, 2015_x, 2016_x, 2017_x, 2011_y, 2012_y, 2013_y, 2014_y, 2015_y, 2016_y, 2017_y]
Index: []

In [15]:
b['rev_rank'] = b.iloc[:, :6].sum(axis=1)

In [16]:
b

,rev_5,rev_6,rev_7,rev_8,rev_9,rev_10,back_5,back_6,back_7,back_8,back_9,back_10,rev_rank
2011,4.0,4.0,3.0,3.0,2.0,4.0,3.0,3.0,4.0,2.5,2.0,3.0,20.0
2012,7.0,6.0,6.0,6.0,5.0,5.0,6.0,7.0,7.0,7.0,5.0,1.0,35.0
2013,5.0,5.0,4.0,4.0,3.0,2.0,4.0,5.0,5.0,2.5,4.0,5.0,23.0
2014,6.0,7.0,5.0,5.0,4.0,3.0,1.0,1.5,2.0,1.0,6.0,6.0,30.0
2015,2.0,2.0,7.0,7.0,6.0,6.0,5.0,6.0,6.0,6.0,3.0,4.0,30.0
2016,3.0,3.0,2.0,2.0,7.0,7.0,2.0,4.0,3.0,5.0,1.0,2.0,24.0
2017,1.0,1.0,1.0,1.0,1.0,1.0,7.0,1.5,1.0,4.0,7.0,7.0,6.0