In [1]:
%pylab inline
%load_ext autoreload
%autoreload 2

import os
import numpy as np
import pandas as pd

import devkit.api as dk
import finkit.api as fk
import DataAPI

Populating the interactive namespace from numpy and matplotlib

---

# 数据库架构

In [3]:
db_names = [
    "index_contents",  # 股票列表
    "industry",  # 行业分类
    "indicator",  # 基础指标
    "factor",  # 因子
    "factor_return",  # 因子收益
]

# db_name = "INDICATOR"
for db_name in db_names:
    DataAPI.schema.show_db_info(db_name)

数据库 [index_contents] 架构信息：

子数据库 [000016.SH]
    说明：上证50成分股编号、简称和权重信息
    开始时间：2016-01-04
    结束时间：2018-03-02
    最后更新：2018-03-07 20:36:49

子数据库 [000300.SH]
    说明：沪深300成分股编号、简称和权重信息
    开始时间：2006-01-25
    结束时间：2018-05-31
    最后更新：2018-06-26 21:22:59

子数据库 [000905.SH]
    说明：中证500成分股编号、简称和权重信息
    开始时间：2016-01-04
    结束时间：2018-03-02
    最后更新：2018-03-07 20:36:50

子数据库 [A]
    说明：全A股编号和简称信息
    开始时间：2005-01-04
    结束时间：2018-12-31
    最后更新：2018-06-28 12:40:07

子数据库 [H]
    说明：全H股编号和简称信息
    开始时间：2017-01-03
    结束时间：2018-01-04
    最后更新：2018-03-07 13:50:49

子数据库 [HSI.HI]
    说明：恒生指数成分股编号和简称信息
    开始时间：2016-01-04
    结束时间：2018-01-30
    最后更新：2018-01-30 19:58:42

数据库 [industry] 架构信息：

子数据库 [A_SWL1]
    说明：全A股申万一级行业分类
    开始时间：2015-01-05
    结束时间：2018-01-04
    最后更新：2018-03-07 13:55:33

子数据库 [H_GICSL1]
    说明：全H股GICS一级行业分类
    开始时间：2018-01-02
    结束时间：2018-01-03
    最后更新：2018-03-07 13:55:53

子数据库 [H_SWL1]
    说明：全H股申万一级行业分类
    开始时间：2017-12-29
    结束时间：2017-12-29
    最后更新：2018-03-12 10:59:18

数据库 [indicator] 架构信息：

子数据库 [ADJFACTOR]
    说明：后复权因子
    开始时间：2005-01-31
    结束时间：2018-05-31
    最后更新：2018-06-21 21:28:09

子数据库 [AMT]
    说明：交易额
    开始时间：2005-01-31
    结束时间：2018-05-31
    最后更新：2018-06-21 21:28:28

子数据库 [ANNUALSTDEVR_100W]
    说明：过去100周年化波动率
    开始时间：2005-01-31
    结束时间：2018-05-31
    最后更新：2018-06-21 21:28:50

子数据库 [ANNUALYEILD_100W]
    说明：过去100周年化收益率
    开始时间：2005-01-31
    结束时间：2018-05-31
    最后更新：2018-06-21 21:29:11

子数据库 [APTURN]
    说明：应付账款周转率
    开始时间：2005-03-31
    结束时间：2018-06-30
    最后更新：2018-06-21 21:40:13

子数据库 [ARTURN]
    说明：应收账款周转率
    开始时间：2005-03-31
    结束时间：2018-06-30
    最后更新：2018-06-21 21:40:14

子数据库 [AVG_TURN_ND]
    说明：过去20天平均换手率
    开始时间：2005-01-31
    结束时间：2018-05-31
    最后更新：2018-06-21 21:29:32

子数据库 [BETA_100W]
    说明：过去100周BETA
    开始时间：2005-01-31
    结束时间：2018-05-31
    最后更新：2018-06-21 21:29:54

子数据库 [BIAS]
    说明：乖离率
    开始时间：2005-01-31
    结束时间：2018-06-29
    最后更新：2018-06-21 21:29:54

子数据库 [CLOSE]
    说明：收盘价
    开始时间：2005-01-31
    结束时间：2018-05-31
    最后更新：2018-06-21 21:30:14

子数据库 [CURRENT]
    说明：流动比率
    开始时间：2005-03-31
    结束时间：2018-03-31
    最后更新：2018-06-21 21:40:21

子数据库 [DEBTTOASSETS]
    说明：资产负债率
    开始时间：2005-03-31
    结束时间：2018-03-31
    最后更新：2018-06-21 21:40:29

子数据库 [DIVIDENDYIELD2]
    说明：股息率(近12个月分配给股东的股息占股价的百分比)
    开始时间：2005-03-31
    结束时间：2018-06-30
    最后更新：2018-06-21 21:40:30

子数据库 [DOWN_DAYS]
    说明：连跌天数
    开始时间：2005-01-31
    结束时间：2018-05-31
    最后更新：2018-06-21 21:30:14

子数据库 [EBIT2_TTM]
    说明：息税折旧摊销前利润
    开始时间：2005-03-31
    结束时间：2018-03-31
    最后更新：2018-06-21 21:40:37

子数据库 [EPS_BASIC]
    说明：基本每股收益
    开始时间：2005-03-31
    结束时间：2018-06-30
    最后更新：2018-06-21 21:40:39

子数据库 [EPS_DILUTED]
    说明：稀释每股收益
    开始时间：2005-03-31
    结束时间：2018-06-30
    最后更新：2018-06-21 21:40:40

子数据库 [EV2_TO_EBITDA]
    说明：企业倍数
    开始时间：2005-03-31
    结束时间：2018-03-31
    最后更新：2018-06-26 21:19:37

子数据库 [MKT_CAP_FLOAT]
    说明：流通市值
    开始时间：2005-01-31
    结束时间：2018-05-31
    最后更新：2018-06-21 21:30:35

子数据库 [OCFTOINTEREST]
    说明：现金流量利息保障倍数
    开始时间：2005-03-31
    结束时间：2018-06-30
    最后更新：2018-06-21 21:40:41

子数据库 [OPTOEBT]
    说明：主营业务比率
    开始时间：2005-03-31
    结束时间：2018-06-30
    最后更新：2018-06-21 21:40:41

子数据库 [OR_TTM2]
    说明：营业收入
    开始时间：2005-03-31
    结束时间：2018-03-31
    最后更新：2018-06-21 21:40:49

子数据库 [PB_LF]
    说明：市净率
    开始时间：2005-01-04
    结束时间：2018-05-31
    最后更新：2018-06-21 21:30:50

子数据库 [PCF_OCF_TTM]
    说明：市现率PCF(经营现金流TTM): 每股市价为每股经营性现金流的倍数
    开始时间：2005-01-04
    结束时间：2018-05-31
    最后更新：2018-06-21 21:31:03

子数据库 [PS_TTM]
    说明：市销率
    开始时间：2005-01-04
    结束时间：2018-05-31
    最后更新：2018-06-21 21:31:18

子数据库 [ROE_TTM3]
    说明：净资产收益率
    开始时间：2005-03-31
    结束时间：2018-03-31
    最后更新：2018-06-21 21:40:54

子数据库 [RSI]
    说明：20天相对强弱指标
    开始时间：2005-01-31
    结束时间：2018-05-31
    最后更新：2018-06-21 21:31:19

子数据库 [UP_DAYS]
    说明：连涨天数
    开始时间：2005-01-31
    结束时间：2018-05-31
    最后更新：2018-06-21 21:31:19

子数据库 [VAL_EVTOEBITDA2]
    说明：企业价值倍数: 企业价值收益比又称企业倍数，是企业价值(剔除货币资金)与企业收益(扣除利息、税金、折旧和摊销前的收益)的比值。企业倍数估值包含债务，从潜在收购方的角度评估公司的价值。
    开始时间：2005-03-31
    结束时间：2018-03-31
    最后更新：2018-06-21 21:41:05

子数据库 [VAL_PE_DEDUCTED_TTM]
    说明：市盈率
    开始时间：2005-01-04
    结束时间：2018-05-31
    最后更新：2018-06-21 21:31:33

子数据库 [VOLUME]
    说明：交易量
    开始时间：2005-01-31
    结束时间：2018-05-31
    最后更新：2018-06-21 21:31:53

子数据库 [WEST_AVGNP_YOY]
    说明：一致预测净利润同比(FY2比FY1):  一致预测净利润同比=[一致预测净利润（FY2）-一致预测净利润（FY1）]/一致预测净利润（FY1）*100%
    开始时间：2005-01-04
    结束时间：2018-05-31
    最后更新：2018-06-21 21:32:36

子数据库 [WEST_AVGROE_YOY]
    说明：一致预测ROE同比: 一致预测ROE同比=一致预测ROE_FY1-ROE_FY0   注：ROE_FY0为距指定交易日最近已披露年报中ROE
    开始时间：2005-01-04
    结束时间：2018-05-31
    最后更新：2018-06-21 21:32:49

子数据库 [WEST_NETPROFIT_CAGR]
    说明：一致预测净利润2年复合增长率: 一致预测净利润2年复合增长率=(（一致预测净利润_FY2/净利润_FY0)^（1/2）-1）*100
    开始时间：2005-01-31
    结束时间：2018-05-31
    最后更新：2018-06-21 21:35:19

子数据库 [WEST_NETPROFIT_YOY]
    说明：一致预测净利润同比： 一致预测净利润同比=(一致预测净利润_FY1-净利润_FY0〕/净利润_FY0*100
    开始时间：2005-01-31
    结束时间：2018-05-31
    最后更新：2018-06-21 21:35:58

子数据库 [WEST_SALES_CAGR]
    说明：一致预测营业收入2年复合增长率: 一致预测营业收入2年复合增长率＝((一致预测营业收入_FY2/营业收入_FY0)^(1/2)-1)*100
    开始时间：2005-01-31
    结束时间：2018-05-31
    最后更新：2018-06-21 21:36:21

子数据库 [WEST_SALES_YOY]
    说明：一致预测营业收入同比: 一致预测营业收入同比＝〔一致预测营业收入_FY1-营业收入_FY0〕/营业收入_FY0*100
    开始时间：2005-01-31
    结束时间：2018-05-31
    最后更新：2018-06-21 21:36:35

子数据库 [YOYEPS_BASIC]
    说明：基本每股收益同比增长率
    开始时间：2005-03-31
    结束时间：2018-06-30
    最后更新：2018-06-21 21:41:06

子数据库 [YOYEPS_DILUTED]
    说明：稀释每股收益同比增长率
    开始时间：2005-03-31
    结束时间：2018-06-30
    最后更新：2018-06-21 21:41:06

子数据库 [YOYOCF]
    说明：经营活动产生的现金流量净额同比增长率
    开始时间：2005-03-31
    结束时间：2018-06-30
    最后更新：2018-06-21 21:41:08

子数据库 [YOYROE]
    说明：净资产收益率(摊薄)同比增长率
    开始时间：2005-03-31
    结束时间：2018-06-30
    最后更新：2018-06-21 21:41:08

数据库 [factor] 架构信息：

子数据库 [val_pe_deducted_ttm]
    说明：价值因子：市盈率(扣除非经常损益)
    开始时间：2014-01-02
    结束时间：2018-03-02
    最后更新：2018-03-12 15:46:21

子数据库 [pb_lf]
    说明：价值因子：市净率
    开始时间：2014-01-02
    结束时间：2018-03-02
    最后更新：2018-03-12 15:46:21

子数据库 [ps_ttm]
    说明：价值因子：市销率
    开始时间：2014-01-02
    结束时间：2018-03-02
    最后更新：2018-03-12 15:46:21

子数据库 [pcf_ncf_ttm]
    说明：价值因子：市现率(经营现金流ttm)
    开始时间：2014-01-02
    结束时间：2018-03-02
    最后更新：2018-03-12 15:46:21

子数据库 [dividendyield2]
    说明：价值因子：股息率
    开始时间：2014-01-02
    结束时间：2018-03-02
    最后更新：2018-03-12 15:46:21

子数据库 [ev2_to_ebitda]
    说明：价值因子：企业倍数
    开始时间：2014-01-02
    结束时间：2018-03-02
    最后更新：2018-03-12 15:46:21

数据库 [factor_return] 架构信息：

子数据库 [BETA]
    说明：系统风险因子的收益
    开始时间：2014-01-03
    结束时间：2018-03-02
    最后更新：2018-03-12 16:16:11

子数据库 [CURRENT]
    说明：短期偿债能力因子的收益
    开始时间：2014-01-03
    结束时间：2018-03-02
    最后更新：2018-03-12 16:20:32

子数据库 [DEBTTOASSETS]
    说明：长期偿债因子的收益
    开始时间：2014-01-03
    结束时间：2018-03-02
    最后更新：2018-03-12 16:24:17

子数据库 [EBITOFREVENUE]
    说明：EBIT盈利因子的收益
    开始时间：2014-01-03
    结束时间：2018-03-02
    最后更新：2018-03-12 16:26:06

子数据库 [GROWTH]
    说明：成长因子的收益
    开始时间：2014-01-03
    结束时间：2018-03-02
    最后更新：2018-03-14 16:14:57

子数据库 [LEVERAGE]
    说明：杠杠因子的收益
    开始时间：2014-01-03
    结束时间：2018-03-02
    最后更新：2018-03-12 16:31:13

子数据库 [LIQ]
    说明：流动性因子的收益
    开始时间：2014-01-03
    结束时间：2018-03-02
    最后更新：2018-03-12 16:32:57

子数据库 [MOM]
    说明：动能因子的收益
    开始时间：2014-01-03
    结束时间：2018-03-02
    最后更新：2018-03-12 16:34:46

子数据库 [PROFIT]
    说明：综合盈利因子的收益
    开始时间：2014-01-03
    结束时间：2018-03-02
    最后更新：2018-03-12 16:36:37

子数据库 [ROE]
    说明：ROE盈利因子的收益
    开始时间：2014-01-03
    结束时间：2018-03-02
    最后更新：2018-03-12 16:40:37

子数据库 [SIZE]
    说明：规模因子的收益
    开始时间：2014-01-03
    结束时间：2018-03-02
    最后更新：2018-03-12 16:42:28

子数据库 [VALUE]
    说明：价值因子的收益
    开始时间：2014-01-03
    结束时间：2018-03-02
    最后更新：2018-03-12 16:44:18

子数据库 [VOL]
    说明：波动性因子的收益
    开始时间：2014-01-03
    结束时间：2018-03-02
    最后更新：2018-03-12 16:46:02

---

# 待更新日期

In [2]:
start = "2005-04-01"
end = "2018-06-31"
trading_days = fk.get_monthly_last_trading_days(start=start, end=end)
# trading_days = fk.get_monthly_last_trading_days(start=start, end=end)
#trading_days = list(set(fk.get_trading_days(start=start, end=end)).union(set(fk.get_report_days(start=start, end=end))))
trading_days = sorted(trading_days)

In [3]:
a = pd.DataFrame(DataAPI.schema.get_schema("indicator")).T
inds_ts = a[a.type == "时间序列"].index.tolist()
inds_fr = a[a.type == "财报数据"].index.tolist()

---

# indicator

In [3]:
# indicators = inds_ts  # 为空表示更新所有存在的indicator
DataAPI.write.update_indicators(["HIGH", "LOW", "IPO_LISTDAYS"], trading_days, override=False, log=True)

[INFO] 2018-07-10 23:40:19 Updating indicator HIGH
[INFO] 2018-07-10 23:40:19 E:\02_work\sw\db\indicator\2005.db is connected.
CREATE TABLE [HIGH] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    HIGH REAL
);
[INFO] 2018-07-10 23:40:19 TABLE HIGH is created in E:\02_work\sw\db\indicator\2005.db.
CREATE UNIQUE INDEX [HIGH_index] ON [HIGH] (date, sec_id);
[INFO] 2018-07-10 23:40:20 INDEX HIGH_index is created on TABLE HIGH of E:\02_work\sw\db\indicator\2005.db.
[INFO] 2018-07-10 23:40:20 SELECT DISTINCT(date) FROM HIGH WHERE date in ('2005-04-29', '2005-05-31', '2005-06-30', '2005-07-29', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-30')
Welcome to use Wind Quant API for Python (WindPy)!

COPYRIGHT (C) 2017 WIND INFORMATION CO., LTD. ALL RIGHTS RESERVED.
IN NO CIRCUMSTANCE SHALL WIND BE RESPONSIBLE FOR ANY DAMAGES OR LOSSES CAUSED BY USING WIND QUANT API FOR Python.
[INFO] 2018-07-10 23:40:26 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:26 HIGH on 2005-04-29 is updated successfully
[INFO] 2018-07-10 23:40:26 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:26 HIGH on 2005-05-31 is updated successfully
[INFO] 2018-07-10 23:40:26 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:26 HIGH on 2005-06-30 is updated successfully
[INFO] 2018-07-10 23:40:27 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:27 HIGH on 2005-07-29 is updated successfully
[INFO] 2018-07-10 23:40:27 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:27 HIGH on 2005-08-31 is updated successfully
[INFO] 2018-07-10 23:40:27 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:27 HIGH on 2005-09-30 is updated successfully
[INFO] 2018-07-10 23:40:28 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:28 HIGH on 2005-10-31 is updated successfully
[INFO] 2018-07-10 23:40:28 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:28 HIGH on 2005-11-30 is updated successfully
[INFO] 2018-07-10 23:40:29 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:29 HIGH on 2005-12-30 is updated successfully
[INFO] 2018-07-10 23:40:29 E:\02_work\sw\db\indicator\2005.db is disconnected.
[INFO] 2018-07-10 23:40:29 E:\02_work\sw\db\indicator\2006.db is connected.
CREATE TABLE [HIGH] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    HIGH REAL
);
[INFO] 2018-07-10 23:40:29 TABLE HIGH is created in E:\02_work\sw\db\indicator\2006.db.
CREATE UNIQUE INDEX [HIGH_index] ON [HIGH] (date, sec_id);
[INFO] 2018-07-10 23:40:29 INDEX HIGH_index is created on TABLE HIGH of E:\02_work\sw\db\indicator\2006.db.
[INFO] 2018-07-10 23:40:29 SELECT DISTINCT(date) FROM HIGH WHERE date in ('2006-01-25', '2006-02-28', '2006-03-31', '2006-04-28', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-29', '2006-10-31', '2006-11-30', '2006-12-29')
[INFO] 2018-07-10 23:40:29 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:29 HIGH on 2006-01-25 is updated successfully
[INFO] 2018-07-10 23:40:30 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:30 HIGH on 2006-02-28 is updated successfully
[INFO] 2018-07-10 23:40:30 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:30 HIGH on 2006-03-31 is updated successfully
[INFO] 2018-07-10 23:40:31 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:31 HIGH on 2006-04-28 is updated successfully
[INFO] 2018-07-10 23:40:31 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:31 HIGH on 2006-05-31 is updated successfully
[INFO] 2018-07-10 23:40:32 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:32 HIGH on 2006-06-30 is updated successfully
[INFO] 2018-07-10 23:40:32 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:32 HIGH on 2006-07-31 is updated successfully
[INFO] 2018-07-10 23:40:32 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:32 HIGH on 2006-08-31 is updated successfully
[INFO] 2018-07-10 23:40:33 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:33 HIGH on 2006-09-29 is updated successfully
[INFO] 2018-07-10 23:40:33 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:33 HIGH on 2006-10-31 is updated successfully
[INFO] 2018-07-10 23:40:33 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:33 HIGH on 2006-11-30 is updated successfully
[INFO] 2018-07-10 23:40:34 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:34 HIGH on 2006-12-29 is updated successfully
[INFO] 2018-07-10 23:40:34 E:\02_work\sw\db\indicator\2006.db is disconnected.
[INFO] 2018-07-10 23:40:34 E:\02_work\sw\db\indicator\2007.db is connected.
CREATE TABLE [HIGH] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    HIGH REAL
);
[INFO] 2018-07-10 23:40:34 TABLE HIGH is created in E:\02_work\sw\db\indicator\2007.db.
CREATE UNIQUE INDEX [HIGH_index] ON [HIGH] (date, sec_id);
[INFO] 2018-07-10 23:40:34 INDEX HIGH_index is created on TABLE HIGH of E:\02_work\sw\db\indicator\2007.db.
[INFO] 2018-07-10 23:40:34 SELECT DISTINCT(date) FROM HIGH WHERE date in ('2007-01-31', '2007-02-28', '2007-03-30', '2007-04-30', '2007-05-31', '2007-06-29', '2007-07-31', '2007-08-31', '2007-09-28', '2007-10-31', '2007-11-30', '2007-12-28')
[INFO] 2018-07-10 23:40:35 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:35 HIGH on 2007-01-31 is updated successfully
[INFO] 2018-07-10 23:40:35 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:35 HIGH on 2007-02-28 is updated successfully
[INFO] 2018-07-10 23:40:35 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:35 HIGH on 2007-03-30 is updated successfully
[INFO] 2018-07-10 23:40:36 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:36 HIGH on 2007-04-30 is updated successfully
[INFO] 2018-07-10 23:40:36 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:36 HIGH on 2007-05-31 is updated successfully
[INFO] 2018-07-10 23:40:36 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:36 HIGH on 2007-06-29 is updated successfully
[INFO] 2018-07-10 23:40:37 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:37 HIGH on 2007-07-31 is updated successfully
[INFO] 2018-07-10 23:40:37 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:37 HIGH on 2007-08-31 is updated successfully
[INFO] 2018-07-10 23:40:38 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:38 HIGH on 2007-09-28 is updated successfully
[INFO] 2018-07-10 23:40:38 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:38 HIGH on 2007-10-31 is updated successfully
[INFO] 2018-07-10 23:40:38 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:38 HIGH on 2007-11-30 is updated successfully
[INFO] 2018-07-10 23:40:39 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:39 HIGH on 2007-12-28 is updated successfully
[INFO] 2018-07-10 23:40:39 E:\02_work\sw\db\indicator\2007.db is disconnected.
[INFO] 2018-07-10 23:40:39 E:\02_work\sw\db\indicator\2008.db is connected.
CREATE TABLE [HIGH] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    HIGH REAL
);
[INFO] 2018-07-10 23:40:39 TABLE HIGH is created in E:\02_work\sw\db\indicator\2008.db.
CREATE UNIQUE INDEX [HIGH_index] ON [HIGH] (date, sec_id);
[INFO] 2018-07-10 23:40:39 INDEX HIGH_index is created on TABLE HIGH of E:\02_work\sw\db\indicator\2008.db.
[INFO] 2018-07-10 23:40:39 SELECT DISTINCT(date) FROM HIGH WHERE date in ('2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-30', '2008-06-30', '2008-07-31', '2008-08-29', '2008-09-26', '2008-10-31', '2008-11-28', '2008-12-31')

[INFO] 2018-07-10 23:40:39 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:39 HIGH on 2008-01-31 is updated successfully
[INFO] 2018-07-10 23:40:40 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:40 HIGH on 2008-02-29 is updated successfully
[INFO] 2018-07-10 23:40:40 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:40 HIGH on 2008-03-31 is updated successfully
[INFO] 2018-07-10 23:40:41 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:41 HIGH on 2008-04-30 is updated successfully
[INFO] 2018-07-10 23:40:41 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:41 HIGH on 2008-05-30 is updated successfully
[INFO] 2018-07-10 23:40:41 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:41 HIGH on 2008-06-30 is updated successfully
[INFO] 2018-07-10 23:40:42 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:42 HIGH on 2008-07-31 is updated successfully
[INFO] 2018-07-10 23:40:42 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:42 HIGH on 2008-08-29 is updated successfully
[INFO] 2018-07-10 23:40:43 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:43 HIGH on 2008-09-26 is updated successfully
[INFO] 2018-07-10 23:40:43 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:43 HIGH on 2008-10-31 is updated successfully
[INFO] 2018-07-10 23:40:44 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:44 HIGH on 2008-11-28 is updated successfully
[INFO] 2018-07-10 23:40:44 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:44 HIGH on 2008-12-31 is updated successfully
[INFO] 2018-07-10 23:40:44 E:\02_work\sw\db\indicator\2008.db is disconnected.
[INFO] 2018-07-10 23:40:44 E:\02_work\sw\db\indicator\2009.db is connected.
CREATE TABLE [HIGH] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    HIGH REAL
);
[INFO] 2018-07-10 23:40:44 TABLE HIGH is created in E:\02_work\sw\db\indicator\2009.db.
CREATE UNIQUE INDEX [HIGH_index] ON [HIGH] (date, sec_id);
[INFO] 2018-07-10 23:40:44 INDEX HIGH_index is created on TABLE HIGH of E:\02_work\sw\db\indicator\2009.db.
[INFO] 2018-07-10 23:40:44 SELECT DISTINCT(date) FROM HIGH WHERE date in ('2009-01-23', '2009-02-27', '2009-03-31', '2009-04-30', '2009-05-27', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-30', '2009-11-30', '2009-12-31')
[INFO] 2018-07-10 23:40:45 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:45 HIGH on 2009-01-23 is updated successfully
[INFO] 2018-07-10 23:40:45 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:45 HIGH on 2009-02-27 is updated successfully
[INFO] 2018-07-10 23:40:45 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:45 HIGH on 2009-03-31 is updated successfully
[INFO] 2018-07-10 23:40:46 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:46 HIGH on 2009-04-30 is updated successfully
[INFO] 2018-07-10 23:40:46 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:46 HIGH on 2009-05-27 is updated successfully
[INFO] 2018-07-10 23:40:47 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:47 HIGH on 2009-06-30 is updated successfully
[INFO] 2018-07-10 23:40:47 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:47 HIGH on 2009-07-31 is updated successfully
[INFO] 2018-07-10 23:40:47 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:47 HIGH on 2009-08-31 is updated successfully
[INFO] 2018-07-10 23:40:48 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:48 HIGH on 2009-09-30 is updated successfully
[INFO] 2018-07-10 23:40:48 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:48 HIGH on 2009-10-30 is updated successfully
[INFO] 2018-07-10 23:40:48 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:48 HIGH on 2009-11-30 is updated successfully
[INFO] 2018-07-10 23:40:49 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:49 HIGH on 2009-12-31 is updated successfully
[INFO] 2018-07-10 23:40:49 E:\02_work\sw\db\indicator\2009.db is disconnected.
[INFO] 2018-07-10 23:40:49 E:\02_work\sw\db\indicator\2010.db is connected.
CREATE TABLE [HIGH] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    HIGH REAL
);
[INFO] 2018-07-10 23:40:49 TABLE HIGH is created in E:\02_work\sw\db\indicator\2010.db.
CREATE UNIQUE INDEX [HIGH_index] ON [HIGH] (date, sec_id);
[INFO] 2018-07-10 23:40:49 INDEX HIGH_index is created on TABLE HIGH of E:\02_work\sw\db\indicator\2010.db.
[INFO] 2018-07-10 23:40:49 SELECT DISTINCT(date) FROM HIGH WHERE date in ('2010-01-29', '2010-02-26', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-30', '2010-08-31', '2010-09-30', '2010-10-29', '2010-11-30', '2010-12-31')
[INFO] 2018-07-10 23:40:50 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:50 HIGH on 2010-01-29 is updated successfully
[INFO] 2018-07-10 23:40:50 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:50 HIGH on 2010-02-26 is updated successfully
[INFO] 2018-07-10 23:40:50 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:50 HIGH on 2010-03-31 is updated successfully
[INFO] 2018-07-10 23:40:51 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:51 HIGH on 2010-04-30 is updated successfully
[INFO] 2018-07-10 23:40:52 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:52 HIGH on 2010-05-31 is updated successfully
[INFO] 2018-07-10 23:40:53 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:53 HIGH on 2010-06-30 is updated successfully
[INFO] 2018-07-10 23:40:53 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:53 HIGH on 2010-07-30 is updated successfully
[INFO] 2018-07-10 23:40:53 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:53 HIGH on 2010-08-31 is updated successfully
[INFO] 2018-07-10 23:40:54 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:54 HIGH on 2010-09-30 is updated successfully
[INFO] 2018-07-10 23:40:54 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:54 HIGH on 2010-10-29 is updated successfully
[INFO] 2018-07-10 23:40:55 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:55 HIGH on 2010-11-30 is updated successfully
[INFO] 2018-07-10 23:40:55 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:55 HIGH on 2010-12-31 is updated successfully
[INFO] 2018-07-10 23:40:55 E:\02_work\sw\db\indicator\2010.db is disconnected.
[INFO] 2018-07-10 23:40:55 E:\02_work\sw\db\indicator\2011.db is connected.
CREATE TABLE [HIGH] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    HIGH REAL
);
[INFO] 2018-07-10 23:40:56 TABLE HIGH is created in E:\02_work\sw\db\indicator\2011.db.
CREATE UNIQUE INDEX [HIGH_index] ON [HIGH] (date, sec_id);
[INFO] 2018-07-10 23:40:56 INDEX HIGH_index is created on TABLE HIGH of E:\02_work\sw\db\indicator\2011.db.
[INFO] 2018-07-10 23:40:56 SELECT DISTINCT(date) FROM HIGH WHERE date in ('2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29', '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30')
[INFO] 2018-07-10 23:40:56 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:56 HIGH on 2011-01-31 is updated successfully
[INFO] 2018-07-10 23:40:57 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:57 HIGH on 2011-02-28 is updated successfully

[INFO] 2018-07-10 23:40:57 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:57 HIGH on 2011-03-31 is updated successfully
[INFO] 2018-07-10 23:40:58 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:58 HIGH on 2011-04-29 is updated successfully
[INFO] 2018-07-10 23:40:59 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:59 HIGH on 2011-05-31 is updated successfully
[INFO] 2018-07-10 23:40:59 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:40:59 HIGH on 2011-06-30 is updated successfully
[INFO] 2018-07-10 23:41:00 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:00 HIGH on 2011-07-29 is updated successfully
[INFO] 2018-07-10 23:41:01 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:01 HIGH on 2011-08-31 is updated successfully
[INFO] 2018-07-10 23:41:01 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:01 HIGH on 2011-09-30 is updated successfully
[INFO] 2018-07-10 23:41:02 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:02 HIGH on 2011-10-31 is updated successfully
[INFO] 2018-07-10 23:41:02 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:02 HIGH on 2011-11-30 is updated successfully
[INFO] 2018-07-10 23:41:03 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:03 HIGH on 2011-12-30 is updated successfully
[INFO] 2018-07-10 23:41:03 E:\02_work\sw\db\indicator\2011.db is disconnected.
[INFO] 2018-07-10 23:41:03 E:\02_work\sw\db\indicator\2012.db is connected.
CREATE TABLE [HIGH] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    HIGH REAL
);
[INFO] 2018-07-10 23:41:03 TABLE HIGH is created in E:\02_work\sw\db\indicator\2012.db.
CREATE UNIQUE INDEX [HIGH_index] ON [HIGH] (date, sec_id);
[INFO] 2018-07-10 23:41:03 INDEX HIGH_index is created on TABLE HIGH of E:\02_work\sw\db\indicator\2012.db.
[INFO] 2018-07-10 23:41:03 SELECT DISTINCT(date) FROM HIGH WHERE date in ('2012-01-31', '2012-02-29', '2012-03-30', '2012-04-27', '2012-05-31', '2012-06-29', '2012-07-31', '2012-08-31', '2012-09-28', '2012-10-31', '2012-11-30', '2012-12-31')
[INFO] 2018-07-10 23:41:03 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:03 HIGH on 2012-01-31 is updated successfully
[INFO] 2018-07-10 23:41:04 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:04 HIGH on 2012-02-29 is updated successfully
[INFO] 2018-07-10 23:41:05 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:05 HIGH on 2012-03-30 is updated successfully
[INFO] 2018-07-10 23:41:05 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:05 HIGH on 2012-04-27 is updated successfully
[INFO] 2018-07-10 23:41:06 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:06 HIGH on 2012-05-31 is updated successfully
[INFO] 2018-07-10 23:41:06 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:06 HIGH on 2012-06-29 is updated successfully
[INFO] 2018-07-10 23:41:06 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:06 HIGH on 2012-07-31 is updated successfully
[INFO] 2018-07-10 23:41:07 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:07 HIGH on 2012-08-31 is updated successfully
[INFO] 2018-07-10 23:41:07 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:07 HIGH on 2012-09-28 is updated successfully
[INFO] 2018-07-10 23:41:08 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:08 HIGH on 2012-10-31 is updated successfully
[INFO] 2018-07-10 23:41:08 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:08 HIGH on 2012-11-30 is updated successfully
[INFO] 2018-07-10 23:41:09 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:09 HIGH on 2012-12-31 is updated successfully
[INFO] 2018-07-10 23:41:09 E:\02_work\sw\db\indicator\2012.db is disconnected.
[INFO] 2018-07-10 23:41:09 E:\02_work\sw\db\indicator\2013.db is connected.
CREATE TABLE [HIGH] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    HIGH REAL
);
[INFO] 2018-07-10 23:41:09 TABLE HIGH is created in E:\02_work\sw\db\indicator\2013.db.
CREATE UNIQUE INDEX [HIGH_index] ON [HIGH] (date, sec_id);
[INFO] 2018-07-10 23:41:09 INDEX HIGH_index is created on TABLE HIGH of E:\02_work\sw\db\indicator\2013.db.
[INFO] 2018-07-10 23:41:09 SELECT DISTINCT(date) FROM HIGH WHERE date in ('2013-01-31', '2013-02-28', '2013-03-29', '2013-04-26', '2013-05-31', '2013-06-28', '2013-07-31', '2013-08-30', '2013-09-30', '2013-10-31', '2013-11-29', '2013-12-31')
[INFO] 2018-07-10 23:41:10 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:10 HIGH on 2013-01-31 is updated successfully
[INFO] 2018-07-10 23:41:10 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:10 HIGH on 2013-02-28 is updated successfully
[INFO] 2018-07-10 23:41:11 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:11 HIGH on 2013-03-29 is updated successfully
[INFO] 2018-07-10 23:41:11 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:11 HIGH on 2013-04-26 is updated successfully
[INFO] 2018-07-10 23:41:12 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:12 HIGH on 2013-05-31 is updated successfully
[INFO] 2018-07-10 23:41:12 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:12 HIGH on 2013-06-28 is updated successfully
[INFO] 2018-07-10 23:41:13 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:13 HIGH on 2013-07-31 is updated successfully
[INFO] 2018-07-10 23:41:13 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:13 HIGH on 2013-08-30 is updated successfully
[INFO] 2018-07-10 23:41:14 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:14 HIGH on 2013-09-30 is updated successfully
[INFO] 2018-07-10 23:41:15 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:15 HIGH on 2013-10-31 is updated successfully
[INFO] 2018-07-10 23:41:15 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:15 HIGH on 2013-11-29 is updated successfully
[INFO] 2018-07-10 23:41:15 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:15 HIGH on 2013-12-31 is updated successfully
[INFO] 2018-07-10 23:41:15 E:\02_work\sw\db\indicator\2013.db is disconnected.
[INFO] 2018-07-10 23:41:15 E:\02_work\sw\db\indicator\2014.db is connected.
CREATE TABLE [HIGH] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    HIGH REAL
);
[INFO] 2018-07-10 23:41:16 TABLE HIGH is created in E:\02_work\sw\db\indicator\2014.db.
CREATE UNIQUE INDEX [HIGH_index] ON [HIGH] (date, sec_id);
[INFO] 2018-07-10 23:41:16 INDEX HIGH_index is created on TABLE HIGH of E:\02_work\sw\db\indicator\2014.db.
[INFO] 2018-07-10 23:41:16 SELECT DISTINCT(date) FROM HIGH WHERE date in ('2014-01-30', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-30', '2014-06-30', '2014-07-31', '2014-08-29', '2014-09-30', '2014-10-31', '2014-11-28', '2014-12-31')
[INFO] 2018-07-10 23:41:16 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:16 HIGH on 2014-01-30 is updated successfully
[INFO] 2018-07-10 23:41:17 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:17 HIGH on 2014-02-28 is updated successfully
[INFO] 2018-07-10 23:41:17 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:17 HIGH on 2014-03-31 is updated successfully
[INFO] 2018-07-10 23:41:18 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:18 HIGH on 2014-04-30 is updated successfully

[INFO] 2018-07-10 23:41:18 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:18 HIGH on 2014-05-30 is updated successfully
[INFO] 2018-07-10 23:41:19 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:19 HIGH on 2014-06-30 is updated successfully
[INFO] 2018-07-10 23:41:19 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:19 HIGH on 2014-07-31 is updated successfully
[INFO] 2018-07-10 23:41:20 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:20 HIGH on 2014-08-29 is updated successfully
[INFO] 2018-07-10 23:41:20 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:20 HIGH on 2014-09-30 is updated successfully
[INFO] 2018-07-10 23:41:21 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:21 HIGH on 2014-10-31 is updated successfully
[INFO] 2018-07-10 23:41:21 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:21 HIGH on 2014-11-28 is updated successfully
[INFO] 2018-07-10 23:41:22 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:22 HIGH on 2014-12-31 is updated successfully
[INFO] 2018-07-10 23:41:22 E:\02_work\sw\db\indicator\2014.db is disconnected.
[INFO] 2018-07-10 23:41:22 E:\02_work\sw\db\indicator\2015.db is connected.
CREATE TABLE [HIGH] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    HIGH REAL
);
[INFO] 2018-07-10 23:41:22 TABLE HIGH is created in E:\02_work\sw\db\indicator\2015.db.
CREATE UNIQUE INDEX [HIGH_index] ON [HIGH] (date, sec_id);
[INFO] 2018-07-10 23:41:22 INDEX HIGH_index is created on TABLE HIGH of E:\02_work\sw\db\indicator\2015.db.
[INFO] 2018-07-10 23:41:22 SELECT DISTINCT(date) FROM HIGH WHERE date in ('2015-01-30', '2015-02-27', '2015-03-31', '2015-04-30', '2015-05-29', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-30', '2015-11-30', '2015-12-31')
[INFO] 2018-07-10 23:41:23 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:23 HIGH on 2015-01-30 is updated successfully
[INFO] 2018-07-10 23:41:24 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:24 HIGH on 2015-02-27 is updated successfully
[INFO] 2018-07-10 23:41:24 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:24 HIGH on 2015-03-31 is updated successfully
[INFO] 2018-07-10 23:41:25 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:25 HIGH on 2015-04-30 is updated successfully
[INFO] 2018-07-10 23:41:25 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:25 HIGH on 2015-05-29 is updated successfully
[INFO] 2018-07-10 23:41:26 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:26 HIGH on 2015-06-30 is updated successfully
[INFO] 2018-07-10 23:41:26 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:26 HIGH on 2015-07-31 is updated successfully
[INFO] 2018-07-10 23:41:27 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:27 HIGH on 2015-08-31 is updated successfully
[INFO] 2018-07-10 23:41:27 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:27 HIGH on 2015-09-30 is updated successfully
[INFO] 2018-07-10 23:41:28 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:28 HIGH on 2015-10-30 is updated successfully
[INFO] 2018-07-10 23:41:28 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:28 HIGH on 2015-11-30 is updated successfully
[INFO] 2018-07-10 23:41:29 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:29 HIGH on 2015-12-31 is updated successfully
[INFO] 2018-07-10 23:41:29 E:\02_work\sw\db\indicator\2015.db is disconnected.
[INFO] 2018-07-10 23:41:29 E:\02_work\sw\db\indicator\2016.db is connected.
CREATE TABLE [HIGH] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    HIGH REAL
);
[INFO] 2018-07-10 23:41:29 TABLE HIGH is created in E:\02_work\sw\db\indicator\2016.db.
CREATE UNIQUE INDEX [HIGH_index] ON [HIGH] (date, sec_id);
[INFO] 2018-07-10 23:41:29 INDEX HIGH_index is created on TABLE HIGH of E:\02_work\sw\db\indicator\2016.db.
[INFO] 2018-07-10 23:41:29 SELECT DISTINCT(date) FROM HIGH WHERE date in ('2016-01-29', '2016-02-29', '2016-03-31', '2016-04-29', '2016-05-31', '2016-06-30', '2016-07-29', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-30')
[INFO] 2018-07-10 23:41:30 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:30 HIGH on 2016-01-29 is updated successfully
[INFO] 2018-07-10 23:41:31 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:31 HIGH on 2016-02-29 is updated successfully
[INFO] 2018-07-10 23:41:31 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:31 HIGH on 2016-03-31 is updated successfully
[INFO] 2018-07-10 23:41:32 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:32 HIGH on 2016-04-29 is updated successfully
[INFO] 2018-07-10 23:41:32 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:32 HIGH on 2016-05-31 is updated successfully
[INFO] 2018-07-10 23:41:33 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:33 HIGH on 2016-06-30 is updated successfully
[INFO] 2018-07-10 23:41:34 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:34 HIGH on 2016-07-29 is updated successfully
[INFO] 2018-07-10 23:41:34 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:34 HIGH on 2016-08-31 is updated successfully
[INFO] 2018-07-10 23:41:35 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:35 HIGH on 2016-09-30 is updated successfully
[INFO] 2018-07-10 23:41:35 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:35 HIGH on 2016-10-31 is updated successfully
[INFO] 2018-07-10 23:41:36 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:36 HIGH on 2016-11-30 is updated successfully
[INFO] 2018-07-10 23:41:36 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:36 HIGH on 2016-12-30 is updated successfully
[INFO] 2018-07-10 23:41:36 E:\02_work\sw\db\indicator\2016.db is disconnected.
[INFO] 2018-07-10 23:41:36 E:\02_work\sw\db\indicator\2017.db is connected.
CREATE TABLE [HIGH] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    HIGH REAL
);
[INFO] 2018-07-10 23:41:37 TABLE HIGH is created in E:\02_work\sw\db\indicator\2017.db.
CREATE UNIQUE INDEX [HIGH_index] ON [HIGH] (date, sec_id);
[INFO] 2018-07-10 23:41:37 INDEX HIGH_index is created on TABLE HIGH of E:\02_work\sw\db\indicator\2017.db.
[INFO] 2018-07-10 23:41:37 SELECT DISTINCT(date) FROM HIGH WHERE date in ('2017-01-26', '2017-02-28', '2017-03-31', '2017-04-28', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-29', '2017-10-31', '2017-11-30', '2017-12-29')
[INFO] 2018-07-10 23:41:37 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:37 HIGH on 2017-01-26 is updated successfully
[INFO] 2018-07-10 23:41:38 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:38 HIGH on 2017-02-28 is updated successfully
[INFO] 2018-07-10 23:41:38 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:38 HIGH on 2017-03-31 is updated successfully
[INFO] 2018-07-10 23:41:39 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:39 HIGH on 2017-04-28 is updated successfully
[INFO] 2018-07-10 23:41:39 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:39 HIGH on 2017-05-31 is updated successfully
[INFO] 2018-07-10 23:41:40 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:40 HIGH on 2017-06-30 is updated successfully

[INFO] 2018-07-10 23:41:41 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:41 HIGH on 2017-07-31 is updated successfully
[INFO] 2018-07-10 23:41:41 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:41 HIGH on 2017-08-31 is updated successfully
[INFO] 2018-07-10 23:41:42 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:42 HIGH on 2017-09-29 is updated successfully
[INFO] 2018-07-10 23:41:42 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:42 HIGH on 2017-10-31 is updated successfully
[INFO] 2018-07-10 23:41:43 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:43 HIGH on 2017-11-30 is updated successfully
[INFO] 2018-07-10 23:41:43 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:43 HIGH on 2017-12-29 is updated successfully
[INFO] 2018-07-10 23:41:43 E:\02_work\sw\db\indicator\2017.db is disconnected.
[INFO] 2018-07-10 23:41:43 E:\02_work\sw\db\indicator\2018.db is connected.
CREATE TABLE [HIGH] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    HIGH REAL
);
[INFO] 2018-07-10 23:41:44 TABLE HIGH is created in E:\02_work\sw\db\indicator\2018.db.
CREATE UNIQUE INDEX [HIGH_index] ON [HIGH] (date, sec_id);
[INFO] 2018-07-10 23:41:44 INDEX HIGH_index is created on TABLE HIGH of E:\02_work\sw\db\indicator\2018.db.
[INFO] 2018-07-10 23:41:44 SELECT DISTINCT(date) FROM HIGH WHERE date in ('2018-01-31', '2018-02-28', '2018-03-30', '2018-04-27', '2018-05-31')
[INFO] 2018-07-10 23:41:44 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:44 HIGH on 2018-01-31 is updated successfully
[INFO] 2018-07-10 23:41:45 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:45 HIGH on 2018-02-28 is updated successfully
[INFO] 2018-07-10 23:41:46 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:46 HIGH on 2018-03-30 is updated successfully
[INFO] 2018-07-10 23:41:47 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:47 HIGH on 2018-04-27 is updated successfully
[INFO] 2018-07-10 23:41:47 Data is inserted to HIGH successfully!
[INFO] 2018-07-10 23:41:47 HIGH on 2018-05-31 is updated successfully
[INFO] 2018-07-10 23:41:47 E:\02_work\sw\db\indicator\2018.db is disconnected.
[INFO] 2018-07-10 23:41:47 schema updated: HIGH
[INFO] 2018-07-10 23:41:47 indicator HIGH is updated.
[INFO] 2018-07-10 23:41:47 ------------------------------------------
[INFO] 2018-07-10 23:41:47 Updating indicator LOW
[INFO] 2018-07-10 23:41:47 E:\02_work\sw\db\indicator\2005.db is connected.
CREATE TABLE [LOW] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    LOW REAL
);
[INFO] 2018-07-10 23:41:48 TABLE LOW is created in E:\02_work\sw\db\indicator\2005.db.
CREATE UNIQUE INDEX [LOW_index] ON [LOW] (date, sec_id);
[INFO] 2018-07-10 23:41:48 INDEX LOW_index is created on TABLE LOW of E:\02_work\sw\db\indicator\2005.db.
[INFO] 2018-07-10 23:41:48 SELECT DISTINCT(date) FROM LOW WHERE date in ('2005-04-29', '2005-05-31', '2005-06-30', '2005-07-29', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-30')
[INFO] 2018-07-10 23:41:48 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:41:48 LOW on 2005-04-29 is updated successfully
[INFO] 2018-07-10 23:41:48 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:41:48 LOW on 2005-05-31 is updated successfully
[INFO] 2018-07-10 23:41:49 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:41:49 LOW on 2005-06-30 is updated successfully
[INFO] 2018-07-10 23:41:49 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:41:49 LOW on 2005-07-29 is updated successfully
[INFO] 2018-07-10 23:41:49 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:41:49 LOW on 2005-08-31 is updated successfully
[INFO] 2018-07-10 23:41:50 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:41:50 LOW on 2005-09-30 is updated successfully
[INFO] 2018-07-10 23:41:50 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:41:50 LOW on 2005-10-31 is updated successfully
[INFO] 2018-07-10 23:41:51 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:41:51 LOW on 2005-11-30 is updated successfully
[INFO] 2018-07-10 23:41:51 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:41:51 LOW on 2005-12-30 is updated successfully
[INFO] 2018-07-10 23:41:51 E:\02_work\sw\db\indicator\2005.db is disconnected.
[INFO] 2018-07-10 23:41:51 E:\02_work\sw\db\indicator\2006.db is connected.
CREATE TABLE [LOW] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    LOW REAL
);
[INFO] 2018-07-10 23:41:51 TABLE LOW is created in E:\02_work\sw\db\indicator\2006.db.
CREATE UNIQUE INDEX [LOW_index] ON [LOW] (date, sec_id);
[INFO] 2018-07-10 23:41:51 INDEX LOW_index is created on TABLE LOW of E:\02_work\sw\db\indicator\2006.db.
[INFO] 2018-07-10 23:41:51 SELECT DISTINCT(date) FROM LOW WHERE date in ('2006-01-25', '2006-02-28', '2006-03-31', '2006-04-28', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-29', '2006-10-31', '2006-11-30', '2006-12-29')
[INFO] 2018-07-10 23:41:52 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:41:52 LOW on 2006-01-25 is updated successfully
[INFO] 2018-07-10 23:41:53 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:41:53 LOW on 2006-02-28 is updated successfully
[INFO] 2018-07-10 23:41:53 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:41:53 LOW on 2006-03-31 is updated successfully
[INFO] 2018-07-10 23:41:53 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:41:53 LOW on 2006-04-28 is updated successfully
[INFO] 2018-07-10 23:41:54 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:41:54 LOW on 2006-05-31 is updated successfully
[INFO] 2018-07-10 23:41:54 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:41:54 LOW on 2006-06-30 is updated successfully
[INFO] 2018-07-10 23:41:55 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:41:55 LOW on 2006-07-31 is updated successfully
[INFO] 2018-07-10 23:41:55 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:41:55 LOW on 2006-08-31 is updated successfully
[INFO] 2018-07-10 23:41:55 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:41:55 LOW on 2006-09-29 is updated successfully
[INFO] 2018-07-10 23:41:56 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:41:56 LOW on 2006-10-31 is updated successfully
[INFO] 2018-07-10 23:41:56 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:41:56 LOW on 2006-11-30 is updated successfully
[INFO] 2018-07-10 23:41:57 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:41:57 LOW on 2006-12-29 is updated successfully
[INFO] 2018-07-10 23:41:57 E:\02_work\sw\db\indicator\2006.db is disconnected.
[INFO] 2018-07-10 23:41:57 E:\02_work\sw\db\indicator\2007.db is connected.
CREATE TABLE [LOW] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    LOW REAL
);
[INFO] 2018-07-10 23:41:57 TABLE LOW is created in E:\02_work\sw\db\indicator\2007.db.
CREATE UNIQUE INDEX [LOW_index] ON [LOW] (date, sec_id);
[INFO] 2018-07-10 23:41:57 INDEX LOW_index is created on TABLE LOW of E:\02_work\sw\db\indicator\2007.db.
[INFO] 2018-07-10 23:41:57 SELECT DISTINCT(date) FROM LOW WHERE date in ('2007-01-31', '2007-02-28', '2007-03-30', '2007-04-30', '2007-05-31', '2007-06-29', '2007-07-31', '2007-08-31', '2007-09-28', '2007-10-31', '2007-11-30', '2007-12-28')
[INFO] 2018-07-10 23:41:57 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:41:57 LOW on 2007-01-31 is updated successfully

[INFO] 2018-07-10 23:41:58 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:41:58 LOW on 2007-02-28 is updated successfully
[INFO] 2018-07-10 23:41:58 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:41:58 LOW on 2007-03-30 is updated successfully
[INFO] 2018-07-10 23:41:58 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:41:58 LOW on 2007-04-30 is updated successfully
[INFO] 2018-07-10 23:41:59 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:41:59 LOW on 2007-05-31 is updated successfully
[INFO] 2018-07-10 23:41:59 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:41:59 LOW on 2007-06-29 is updated successfully
[INFO] 2018-07-10 23:41:59 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:41:59 LOW on 2007-07-31 is updated successfully
[INFO] 2018-07-10 23:42:00 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:00 LOW on 2007-08-31 is updated successfully
[INFO] 2018-07-10 23:42:00 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:00 LOW on 2007-09-28 is updated successfully
[INFO] 2018-07-10 23:42:01 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:01 LOW on 2007-10-31 is updated successfully
[INFO] 2018-07-10 23:42:01 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:01 LOW on 2007-11-30 is updated successfully
[INFO] 2018-07-10 23:42:01 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:01 LOW on 2007-12-28 is updated successfully
[INFO] 2018-07-10 23:42:01 E:\02_work\sw\db\indicator\2007.db is disconnected.
[INFO] 2018-07-10 23:42:01 E:\02_work\sw\db\indicator\2008.db is connected.
CREATE TABLE [LOW] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    LOW REAL
);
[INFO] 2018-07-10 23:42:02 TABLE LOW is created in E:\02_work\sw\db\indicator\2008.db.
CREATE UNIQUE INDEX [LOW_index] ON [LOW] (date, sec_id);
[INFO] 2018-07-10 23:42:02 INDEX LOW_index is created on TABLE LOW of E:\02_work\sw\db\indicator\2008.db.
[INFO] 2018-07-10 23:42:02 SELECT DISTINCT(date) FROM LOW WHERE date in ('2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-30', '2008-06-30', '2008-07-31', '2008-08-29', '2008-09-26', '2008-10-31', '2008-11-28', '2008-12-31')
[INFO] 2018-07-10 23:42:02 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:02 LOW on 2008-01-31 is updated successfully
[INFO] 2018-07-10 23:42:03 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:03 LOW on 2008-02-29 is updated successfully
[INFO] 2018-07-10 23:42:03 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:03 LOW on 2008-03-31 is updated successfully
[INFO] 2018-07-10 23:42:03 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:03 LOW on 2008-04-30 is updated successfully
[INFO] 2018-07-10 23:42:04 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:04 LOW on 2008-05-30 is updated successfully
[INFO] 2018-07-10 23:42:04 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:04 LOW on 2008-06-30 is updated successfully
[INFO] 2018-07-10 23:42:04 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:04 LOW on 2008-07-31 is updated successfully
[INFO] 2018-07-10 23:42:05 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:05 LOW on 2008-08-29 is updated successfully
[INFO] 2018-07-10 23:42:05 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:05 LOW on 2008-09-26 is updated successfully
[INFO] 2018-07-10 23:42:06 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:06 LOW on 2008-10-31 is updated successfully
[INFO] 2018-07-10 23:42:06 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:06 LOW on 2008-11-28 is updated successfully
[INFO] 2018-07-10 23:42:06 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:06 LOW on 2008-12-31 is updated successfully
[INFO] 2018-07-10 23:42:06 E:\02_work\sw\db\indicator\2008.db is disconnected.
[INFO] 2018-07-10 23:42:06 E:\02_work\sw\db\indicator\2009.db is connected.
CREATE TABLE [LOW] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    LOW REAL
);
[INFO] 2018-07-10 23:42:07 TABLE LOW is created in E:\02_work\sw\db\indicator\2009.db.
CREATE UNIQUE INDEX [LOW_index] ON [LOW] (date, sec_id);
[INFO] 2018-07-10 23:42:07 INDEX LOW_index is created on TABLE LOW of E:\02_work\sw\db\indicator\2009.db.
[INFO] 2018-07-10 23:42:07 SELECT DISTINCT(date) FROM LOW WHERE date in ('2009-01-23', '2009-02-27', '2009-03-31', '2009-04-30', '2009-05-27', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-30', '2009-11-30', '2009-12-31')
[INFO] 2018-07-10 23:42:07 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:07 LOW on 2009-01-23 is updated successfully
[INFO] 2018-07-10 23:42:07 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:07 LOW on 2009-02-27 is updated successfully
[INFO] 2018-07-10 23:42:08 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:08 LOW on 2009-03-31 is updated successfully
[INFO] 2018-07-10 23:42:08 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:08 LOW on 2009-04-30 is updated successfully
[INFO] 2018-07-10 23:42:08 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:08 LOW on 2009-05-27 is updated successfully
[INFO] 2018-07-10 23:42:09 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:09 LOW on 2009-06-30 is updated successfully
[INFO] 2018-07-10 23:42:09 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:09 LOW on 2009-07-31 is updated successfully
[INFO] 2018-07-10 23:42:10 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:10 LOW on 2009-08-31 is updated successfully
[INFO] 2018-07-10 23:42:10 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:10 LOW on 2009-09-30 is updated successfully
[INFO] 2018-07-10 23:42:11 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:11 LOW on 2009-10-30 is updated successfully
[INFO] 2018-07-10 23:42:11 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:11 LOW on 2009-11-30 is updated successfully
[INFO] 2018-07-10 23:42:11 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:11 LOW on 2009-12-31 is updated successfully
[INFO] 2018-07-10 23:42:11 E:\02_work\sw\db\indicator\2009.db is disconnected.
[INFO] 2018-07-10 23:42:11 E:\02_work\sw\db\indicator\2010.db is connected.
CREATE TABLE [LOW] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    LOW REAL
);
[INFO] 2018-07-10 23:42:11 TABLE LOW is created in E:\02_work\sw\db\indicator\2010.db.
CREATE UNIQUE INDEX [LOW_index] ON [LOW] (date, sec_id);
[INFO] 2018-07-10 23:42:12 INDEX LOW_index is created on TABLE LOW of E:\02_work\sw\db\indicator\2010.db.
[INFO] 2018-07-10 23:42:12 SELECT DISTINCT(date) FROM LOW WHERE date in ('2010-01-29', '2010-02-26', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-30', '2010-08-31', '2010-09-30', '2010-10-29', '2010-11-30', '2010-12-31')
[INFO] 2018-07-10 23:42:12 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:12 LOW on 2010-01-29 is updated successfully
[INFO] 2018-07-10 23:42:12 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:12 LOW on 2010-02-26 is updated successfully
[INFO] 2018-07-10 23:42:13 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:13 LOW on 2010-03-31 is updated successfully
[INFO] 2018-07-10 23:42:13 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:13 LOW on 2010-04-30 is updated successfully

[INFO] 2018-07-10 23:42:13 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:13 LOW on 2010-05-31 is updated successfully
[INFO] 2018-07-10 23:42:14 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:14 LOW on 2010-06-30 is updated successfully
[INFO] 2018-07-10 23:42:14 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:14 LOW on 2010-07-30 is updated successfully
[INFO] 2018-07-10 23:42:15 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:15 LOW on 2010-08-31 is updated successfully
[INFO] 2018-07-10 23:42:15 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:15 LOW on 2010-09-30 is updated successfully
[INFO] 2018-07-10 23:42:15 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:15 LOW on 2010-10-29 is updated successfully
[INFO] 2018-07-10 23:42:16 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:16 LOW on 2010-11-30 is updated successfully
[INFO] 2018-07-10 23:42:16 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:16 LOW on 2010-12-31 is updated successfully
[INFO] 2018-07-10 23:42:16 E:\02_work\sw\db\indicator\2010.db is disconnected.
[INFO] 2018-07-10 23:42:16 E:\02_work\sw\db\indicator\2011.db is connected.
CREATE TABLE [LOW] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    LOW REAL
);
[INFO] 2018-07-10 23:42:16 TABLE LOW is created in E:\02_work\sw\db\indicator\2011.db.
CREATE UNIQUE INDEX [LOW_index] ON [LOW] (date, sec_id);
[INFO] 2018-07-10 23:42:16 INDEX LOW_index is created on TABLE LOW of E:\02_work\sw\db\indicator\2011.db.
[INFO] 2018-07-10 23:42:16 SELECT DISTINCT(date) FROM LOW WHERE date in ('2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29', '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30')
[INFO] 2018-07-10 23:42:17 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:17 LOW on 2011-01-31 is updated successfully
[INFO] 2018-07-10 23:42:17 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:17 LOW on 2011-02-28 is updated successfully
[INFO] 2018-07-10 23:42:18 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:18 LOW on 2011-03-31 is updated successfully
[INFO] 2018-07-10 23:42:19 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:19 LOW on 2011-04-29 is updated successfully
[INFO] 2018-07-10 23:42:19 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:19 LOW on 2011-05-31 is updated successfully
[INFO] 2018-07-10 23:42:20 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:20 LOW on 2011-06-30 is updated successfully
[INFO] 2018-07-10 23:42:20 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:20 LOW on 2011-07-29 is updated successfully
[INFO] 2018-07-10 23:42:20 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:20 LOW on 2011-08-31 is updated successfully
[INFO] 2018-07-10 23:42:21 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:21 LOW on 2011-09-30 is updated successfully
[INFO] 2018-07-10 23:42:22 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:22 LOW on 2011-10-31 is updated successfully
[INFO] 2018-07-10 23:42:22 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:22 LOW on 2011-11-30 is updated successfully
[INFO] 2018-07-10 23:42:22 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:22 LOW on 2011-12-30 is updated successfully
[INFO] 2018-07-10 23:42:22 E:\02_work\sw\db\indicator\2011.db is disconnected.
[INFO] 2018-07-10 23:42:22 E:\02_work\sw\db\indicator\2012.db is connected.
CREATE TABLE [LOW] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    LOW REAL
);
[INFO] 2018-07-10 23:42:23 TABLE LOW is created in E:\02_work\sw\db\indicator\2012.db.
CREATE UNIQUE INDEX [LOW_index] ON [LOW] (date, sec_id);
[INFO] 2018-07-10 23:42:23 INDEX LOW_index is created on TABLE LOW of E:\02_work\sw\db\indicator\2012.db.
[INFO] 2018-07-10 23:42:23 SELECT DISTINCT(date) FROM LOW WHERE date in ('2012-01-31', '2012-02-29', '2012-03-30', '2012-04-27', '2012-05-31', '2012-06-29', '2012-07-31', '2012-08-31', '2012-09-28', '2012-10-31', '2012-11-30', '2012-12-31')
[INFO] 2018-07-10 23:42:23 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:23 LOW on 2012-01-31 is updated successfully
[INFO] 2018-07-10 23:42:24 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:24 LOW on 2012-02-29 is updated successfully
[INFO] 2018-07-10 23:42:24 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:24 LOW on 2012-03-30 is updated successfully
[INFO] 2018-07-10 23:42:25 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:25 LOW on 2012-04-27 is updated successfully
[INFO] 2018-07-10 23:42:25 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:25 LOW on 2012-05-31 is updated successfully
[INFO] 2018-07-10 23:42:25 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:25 LOW on 2012-06-29 is updated successfully
[INFO] 2018-07-10 23:42:26 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:26 LOW on 2012-07-31 is updated successfully
[INFO] 2018-07-10 23:42:27 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:27 LOW on 2012-08-31 is updated successfully
[INFO] 2018-07-10 23:42:27 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:27 LOW on 2012-09-28 is updated successfully
[INFO] 2018-07-10 23:42:28 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:28 LOW on 2012-10-31 is updated successfully
[INFO] 2018-07-10 23:42:28 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:28 LOW on 2012-11-30 is updated successfully
[INFO] 2018-07-10 23:42:28 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:28 LOW on 2012-12-31 is updated successfully
[INFO] 2018-07-10 23:42:29 E:\02_work\sw\db\indicator\2012.db is disconnected.
[INFO] 2018-07-10 23:42:29 E:\02_work\sw\db\indicator\2013.db is connected.
CREATE TABLE [LOW] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    LOW REAL
);
[INFO] 2018-07-10 23:42:29 TABLE LOW is created in E:\02_work\sw\db\indicator\2013.db.
CREATE UNIQUE INDEX [LOW_index] ON [LOW] (date, sec_id);
[INFO] 2018-07-10 23:42:29 INDEX LOW_index is created on TABLE LOW of E:\02_work\sw\db\indicator\2013.db.
[INFO] 2018-07-10 23:42:29 SELECT DISTINCT(date) FROM LOW WHERE date in ('2013-01-31', '2013-02-28', '2013-03-29', '2013-04-26', '2013-05-31', '2013-06-28', '2013-07-31', '2013-08-30', '2013-09-30', '2013-10-31', '2013-11-29', '2013-12-31')
[INFO] 2018-07-10 23:42:29 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:29 LOW on 2013-01-31 is updated successfully
[INFO] 2018-07-10 23:42:30 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:30 LOW on 2013-02-28 is updated successfully
[INFO] 2018-07-10 23:42:30 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:30 LOW on 2013-03-29 is updated successfully
[INFO] 2018-07-10 23:42:30 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:30 LOW on 2013-04-26 is updated successfully
[INFO] 2018-07-10 23:42:31 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:31 LOW on 2013-05-31 is updated successfully
[INFO] 2018-07-10 23:42:32 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:32 LOW on 2013-06-28 is updated successfully
[INFO] 2018-07-10 23:42:32 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:32 LOW on 2013-07-31 is updated successfully

[INFO] 2018-07-10 23:42:33 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:33 LOW on 2013-08-30 is updated successfully
[INFO] 2018-07-10 23:42:33 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:33 LOW on 2013-09-30 is updated successfully
[INFO] 2018-07-10 23:42:34 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:34 LOW on 2013-10-31 is updated successfully
[INFO] 2018-07-10 23:42:34 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:34 LOW on 2013-11-29 is updated successfully
[INFO] 2018-07-10 23:42:35 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:35 LOW on 2013-12-31 is updated successfully
[INFO] 2018-07-10 23:42:35 E:\02_work\sw\db\indicator\2013.db is disconnected.
[INFO] 2018-07-10 23:42:35 E:\02_work\sw\db\indicator\2014.db is connected.
CREATE TABLE [LOW] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    LOW REAL
);
[INFO] 2018-07-10 23:42:35 TABLE LOW is created in E:\02_work\sw\db\indicator\2014.db.
CREATE UNIQUE INDEX [LOW_index] ON [LOW] (date, sec_id);
[INFO] 2018-07-10 23:42:35 INDEX LOW_index is created on TABLE LOW of E:\02_work\sw\db\indicator\2014.db.
[INFO] 2018-07-10 23:42:35 SELECT DISTINCT(date) FROM LOW WHERE date in ('2014-01-30', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-30', '2014-06-30', '2014-07-31', '2014-08-29', '2014-09-30', '2014-10-31', '2014-11-28', '2014-12-31')
[INFO] 2018-07-10 23:42:36 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:36 LOW on 2014-01-30 is updated successfully
[INFO] 2018-07-10 23:42:36 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:36 LOW on 2014-02-28 is updated successfully
[INFO] 2018-07-10 23:42:36 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:36 LOW on 2014-03-31 is updated successfully
[INFO] 2018-07-10 23:42:37 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:37 LOW on 2014-04-30 is updated successfully
[INFO] 2018-07-10 23:42:37 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:37 LOW on 2014-05-30 is updated successfully
[INFO] 2018-07-10 23:42:38 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:38 LOW on 2014-06-30 is updated successfully
[INFO] 2018-07-10 23:42:38 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:38 LOW on 2014-07-31 is updated successfully
[INFO] 2018-07-10 23:42:39 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:39 LOW on 2014-08-29 is updated successfully
[INFO] 2018-07-10 23:42:39 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:39 LOW on 2014-09-30 is updated successfully
[INFO] 2018-07-10 23:42:40 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:40 LOW on 2014-10-31 is updated successfully
[INFO] 2018-07-10 23:42:40 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:40 LOW on 2014-11-28 is updated successfully
[INFO] 2018-07-10 23:42:41 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:41 LOW on 2014-12-31 is updated successfully
[INFO] 2018-07-10 23:42:41 E:\02_work\sw\db\indicator\2014.db is disconnected.
[INFO] 2018-07-10 23:42:41 E:\02_work\sw\db\indicator\2015.db is connected.
CREATE TABLE [LOW] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    LOW REAL
);
[INFO] 2018-07-10 23:42:41 TABLE LOW is created in E:\02_work\sw\db\indicator\2015.db.
CREATE UNIQUE INDEX [LOW_index] ON [LOW] (date, sec_id);
[INFO] 2018-07-10 23:42:41 INDEX LOW_index is created on TABLE LOW of E:\02_work\sw\db\indicator\2015.db.
[INFO] 2018-07-10 23:42:41 SELECT DISTINCT(date) FROM LOW WHERE date in ('2015-01-30', '2015-02-27', '2015-03-31', '2015-04-30', '2015-05-29', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-30', '2015-11-30', '2015-12-31')
[INFO] 2018-07-10 23:42:42 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:42 LOW on 2015-01-30 is updated successfully
[INFO] 2018-07-10 23:42:42 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:42 LOW on 2015-02-27 is updated successfully
[INFO] 2018-07-10 23:42:43 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:43 LOW on 2015-03-31 is updated successfully
[INFO] 2018-07-10 23:42:43 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:43 LOW on 2015-04-30 is updated successfully
[INFO] 2018-07-10 23:42:44 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:44 LOW on 2015-05-29 is updated successfully
[INFO] 2018-07-10 23:42:44 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:44 LOW on 2015-06-30 is updated successfully
[INFO] 2018-07-10 23:42:45 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:45 LOW on 2015-07-31 is updated successfully
[INFO] 2018-07-10 23:42:45 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:45 LOW on 2015-08-31 is updated successfully
[INFO] 2018-07-10 23:42:46 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:46 LOW on 2015-09-30 is updated successfully
[INFO] 2018-07-10 23:42:47 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:47 LOW on 2015-10-30 is updated successfully
[INFO] 2018-07-10 23:42:47 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:47 LOW on 2015-11-30 is updated successfully
[INFO] 2018-07-10 23:42:48 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:48 LOW on 2015-12-31 is updated successfully
[INFO] 2018-07-10 23:42:48 E:\02_work\sw\db\indicator\2015.db is disconnected.
[INFO] 2018-07-10 23:42:48 E:\02_work\sw\db\indicator\2016.db is connected.
CREATE TABLE [LOW] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    LOW REAL
);
[INFO] 2018-07-10 23:42:48 TABLE LOW is created in E:\02_work\sw\db\indicator\2016.db.
CREATE UNIQUE INDEX [LOW_index] ON [LOW] (date, sec_id);
[INFO] 2018-07-10 23:42:48 INDEX LOW_index is created on TABLE LOW of E:\02_work\sw\db\indicator\2016.db.
[INFO] 2018-07-10 23:42:48 SELECT DISTINCT(date) FROM LOW WHERE date in ('2016-01-29', '2016-02-29', '2016-03-31', '2016-04-29', '2016-05-31', '2016-06-30', '2016-07-29', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-30')
[INFO] 2018-07-10 23:42:48 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:48 LOW on 2016-01-29 is updated successfully
[INFO] 2018-07-10 23:42:49 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:49 LOW on 2016-02-29 is updated successfully
[INFO] 2018-07-10 23:42:49 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:49 LOW on 2016-03-31 is updated successfully
[INFO] 2018-07-10 23:42:50 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:50 LOW on 2016-04-29 is updated successfully
[INFO] 2018-07-10 23:42:50 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:50 LOW on 2016-05-31 is updated successfully
[INFO] 2018-07-10 23:42:51 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:51 LOW on 2016-06-30 is updated successfully
[INFO] 2018-07-10 23:42:51 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:51 LOW on 2016-07-29 is updated successfully
[INFO] 2018-07-10 23:42:52 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:52 LOW on 2016-08-31 is updated successfully
[INFO] 2018-07-10 23:42:52 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:52 LOW on 2016-09-30 is updated successfully
[INFO] 2018-07-10 23:42:53 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:53 LOW on 2016-10-31 is updated successfully

[INFO] 2018-07-10 23:42:53 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:53 LOW on 2016-11-30 is updated successfully
[INFO] 2018-07-10 23:42:54 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:54 LOW on 2016-12-30 is updated successfully
[INFO] 2018-07-10 23:42:54 E:\02_work\sw\db\indicator\2016.db is disconnected.
[INFO] 2018-07-10 23:42:54 E:\02_work\sw\db\indicator\2017.db is connected.
CREATE TABLE [LOW] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    LOW REAL
);
[INFO] 2018-07-10 23:42:54 TABLE LOW is created in E:\02_work\sw\db\indicator\2017.db.
CREATE UNIQUE INDEX [LOW_index] ON [LOW] (date, sec_id);
[INFO] 2018-07-10 23:42:54 INDEX LOW_index is created on TABLE LOW of E:\02_work\sw\db\indicator\2017.db.
[INFO] 2018-07-10 23:42:54 SELECT DISTINCT(date) FROM LOW WHERE date in ('2017-01-26', '2017-02-28', '2017-03-31', '2017-04-28', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-29', '2017-10-31', '2017-11-30', '2017-12-29')
[INFO] 2018-07-10 23:42:55 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:55 LOW on 2017-01-26 is updated successfully
[INFO] 2018-07-10 23:42:55 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:55 LOW on 2017-02-28 is updated successfully
[INFO] 2018-07-10 23:42:56 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:56 LOW on 2017-03-31 is updated successfully
[INFO] 2018-07-10 23:42:56 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:56 LOW on 2017-04-28 is updated successfully
[INFO] 2018-07-10 23:42:57 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:57 LOW on 2017-05-31 is updated successfully
[INFO] 2018-07-10 23:42:58 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:58 LOW on 2017-06-30 is updated successfully
[INFO] 2018-07-10 23:42:58 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:58 LOW on 2017-07-31 is updated successfully
[INFO] 2018-07-10 23:42:59 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:59 LOW on 2017-08-31 is updated successfully
[INFO] 2018-07-10 23:42:59 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:42:59 LOW on 2017-09-29 is updated successfully
[INFO] 2018-07-10 23:43:00 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:43:00 LOW on 2017-10-31 is updated successfully
[INFO] 2018-07-10 23:43:01 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:43:01 LOW on 2017-11-30 is updated successfully
[INFO] 2018-07-10 23:43:01 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:43:01 LOW on 2017-12-29 is updated successfully
[INFO] 2018-07-10 23:43:01 E:\02_work\sw\db\indicator\2017.db is disconnected.
[INFO] 2018-07-10 23:43:01 E:\02_work\sw\db\indicator\2018.db is connected.
CREATE TABLE [LOW] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    LOW REAL
);
[INFO] 2018-07-10 23:43:02 TABLE LOW is created in E:\02_work\sw\db\indicator\2018.db.
CREATE UNIQUE INDEX [LOW_index] ON [LOW] (date, sec_id);
[INFO] 2018-07-10 23:43:02 INDEX LOW_index is created on TABLE LOW of E:\02_work\sw\db\indicator\2018.db.
[INFO] 2018-07-10 23:43:02 SELECT DISTINCT(date) FROM LOW WHERE date in ('2018-01-31', '2018-02-28', '2018-03-30', '2018-04-27', '2018-05-31')
[INFO] 2018-07-10 23:43:02 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:43:02 LOW on 2018-01-31 is updated successfully
[INFO] 2018-07-10 23:43:03 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:43:03 LOW on 2018-02-28 is updated successfully
[INFO] 2018-07-10 23:43:04 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:43:04 LOW on 2018-03-30 is updated successfully
[INFO] 2018-07-10 23:43:04 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:43:04 LOW on 2018-04-27 is updated successfully
[INFO] 2018-07-10 23:43:05 Data is inserted to LOW successfully!
[INFO] 2018-07-10 23:43:05 LOW on 2018-05-31 is updated successfully
[INFO] 2018-07-10 23:43:05 E:\02_work\sw\db\indicator\2018.db is disconnected.
[INFO] 2018-07-10 23:43:05 schema updated: LOW
[INFO] 2018-07-10 23:43:05 indicator LOW is updated.
[INFO] 2018-07-10 23:43:05 ------------------------------------------
[INFO] 2018-07-10 23:43:05 Updating indicator IPO_LISTDAYS
[INFO] 2018-07-10 23:43:05 E:\02_work\sw\db\indicator\2005.db is connected.
CREATE TABLE [IPO_LISTDAYS] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    IPO_LISTDAYS REAL
);
[INFO] 2018-07-10 23:43:05 TABLE IPO_LISTDAYS is created in E:\02_work\sw\db\indicator\2005.db.
CREATE UNIQUE INDEX [IPO_LISTDAYS_index] ON [IPO_LISTDAYS] (date, sec_id);
[INFO] 2018-07-10 23:43:05 INDEX IPO_LISTDAYS_index is created on TABLE IPO_LISTDAYS of E:\02_work\sw\db\indicator\2005.db.
[INFO] 2018-07-10 23:43:05 SELECT DISTINCT(date) FROM IPO_LISTDAYS WHERE date in ('2005-04-29', '2005-05-31', '2005-06-30', '2005-07-29', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-30')
[INFO] 2018-07-10 23:43:06 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:06 IPO_LISTDAYS on 2005-04-29 is updated successfully
[INFO] 2018-07-10 23:43:06 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:06 IPO_LISTDAYS on 2005-05-31 is updated successfully
[INFO] 2018-07-10 23:43:06 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:06 IPO_LISTDAYS on 2005-06-30 is updated successfully
[INFO] 2018-07-10 23:43:07 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:07 IPO_LISTDAYS on 2005-07-29 is updated successfully
[INFO] 2018-07-10 23:43:07 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:07 IPO_LISTDAYS on 2005-08-31 is updated successfully
[INFO] 2018-07-10 23:43:07 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:07 IPO_LISTDAYS on 2005-09-30 is updated successfully
[INFO] 2018-07-10 23:43:08 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:08 IPO_LISTDAYS on 2005-10-31 is updated successfully
[INFO] 2018-07-10 23:43:08 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:08 IPO_LISTDAYS on 2005-11-30 is updated successfully
[INFO] 2018-07-10 23:43:08 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:08 IPO_LISTDAYS on 2005-12-30 is updated successfully
[INFO] 2018-07-10 23:43:08 E:\02_work\sw\db\indicator\2005.db is disconnected.
[INFO] 2018-07-10 23:43:08 E:\02_work\sw\db\indicator\2006.db is connected.
CREATE TABLE [IPO_LISTDAYS] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    IPO_LISTDAYS REAL
);
[INFO] 2018-07-10 23:43:09 TABLE IPO_LISTDAYS is created in E:\02_work\sw\db\indicator\2006.db.
CREATE UNIQUE INDEX [IPO_LISTDAYS_index] ON [IPO_LISTDAYS] (date, sec_id);
[INFO] 2018-07-10 23:43:09 INDEX IPO_LISTDAYS_index is created on TABLE IPO_LISTDAYS of E:\02_work\sw\db\indicator\2006.db.
[INFO] 2018-07-10 23:43:09 SELECT DISTINCT(date) FROM IPO_LISTDAYS WHERE date in ('2006-01-25', '2006-02-28', '2006-03-31', '2006-04-28', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-29', '2006-10-31', '2006-11-30', '2006-12-29')
[INFO] 2018-07-10 23:43:09 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:09 IPO_LISTDAYS on 2006-01-25 is updated successfully
[INFO] 2018-07-10 23:43:09 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:09 IPO_LISTDAYS on 2006-02-28 is updated successfully
[INFO] 2018-07-10 23:43:10 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:10 IPO_LISTDAYS on 2006-03-31 is updated successfully

[INFO] 2018-07-10 23:43:10 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:10 IPO_LISTDAYS on 2006-04-28 is updated successfully
[INFO] 2018-07-10 23:43:10 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:10 IPO_LISTDAYS on 2006-05-31 is updated successfully
[INFO] 2018-07-10 23:43:11 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:11 IPO_LISTDAYS on 2006-06-30 is updated successfully
[INFO] 2018-07-10 23:43:11 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:11 IPO_LISTDAYS on 2006-07-31 is updated successfully
[INFO] 2018-07-10 23:43:12 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:12 IPO_LISTDAYS on 2006-08-31 is updated successfully
[INFO] 2018-07-10 23:43:12 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:12 IPO_LISTDAYS on 2006-09-29 is updated successfully
[INFO] 2018-07-10 23:43:13 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:13 IPO_LISTDAYS on 2006-10-31 is updated successfully
[INFO] 2018-07-10 23:43:13 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:13 IPO_LISTDAYS on 2006-11-30 is updated successfully
[INFO] 2018-07-10 23:43:13 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:13 IPO_LISTDAYS on 2006-12-29 is updated successfully
[INFO] 2018-07-10 23:43:13 E:\02_work\sw\db\indicator\2006.db is disconnected.
[INFO] 2018-07-10 23:43:13 E:\02_work\sw\db\indicator\2007.db is connected.
CREATE TABLE [IPO_LISTDAYS] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    IPO_LISTDAYS REAL
);
[INFO] 2018-07-10 23:43:14 TABLE IPO_LISTDAYS is created in E:\02_work\sw\db\indicator\2007.db.
CREATE UNIQUE INDEX [IPO_LISTDAYS_index] ON [IPO_LISTDAYS] (date, sec_id);
[INFO] 2018-07-10 23:43:14 INDEX IPO_LISTDAYS_index is created on TABLE IPO_LISTDAYS of E:\02_work\sw\db\indicator\2007.db.
[INFO] 2018-07-10 23:43:14 SELECT DISTINCT(date) FROM IPO_LISTDAYS WHERE date in ('2007-01-31', '2007-02-28', '2007-03-30', '2007-04-30', '2007-05-31', '2007-06-29', '2007-07-31', '2007-08-31', '2007-09-28', '2007-10-31', '2007-11-30', '2007-12-28')
[INFO] 2018-07-10 23:43:14 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:14 IPO_LISTDAYS on 2007-01-31 is updated successfully
[INFO] 2018-07-10 23:43:14 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:14 IPO_LISTDAYS on 2007-02-28 is updated successfully
[INFO] 2018-07-10 23:43:15 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:15 IPO_LISTDAYS on 2007-03-30 is updated successfully
[INFO] 2018-07-10 23:43:15 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:15 IPO_LISTDAYS on 2007-04-30 is updated successfully
[INFO] 2018-07-10 23:43:16 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:16 IPO_LISTDAYS on 2007-05-31 is updated successfully
[INFO] 2018-07-10 23:43:16 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:16 IPO_LISTDAYS on 2007-06-29 is updated successfully
[INFO] 2018-07-10 23:43:16 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:16 IPO_LISTDAYS on 2007-07-31 is updated successfully
[INFO] 2018-07-10 23:43:17 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:17 IPO_LISTDAYS on 2007-08-31 is updated successfully
[INFO] 2018-07-10 23:43:17 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:17 IPO_LISTDAYS on 2007-09-28 is updated successfully
[INFO] 2018-07-10 23:43:18 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:18 IPO_LISTDAYS on 2007-10-31 is updated successfully
[INFO] 2018-07-10 23:43:18 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:18 IPO_LISTDAYS on 2007-11-30 is updated successfully
[INFO] 2018-07-10 23:43:18 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:18 IPO_LISTDAYS on 2007-12-28 is updated successfully
[INFO] 2018-07-10 23:43:18 E:\02_work\sw\db\indicator\2007.db is disconnected.
[INFO] 2018-07-10 23:43:18 E:\02_work\sw\db\indicator\2008.db is connected.
CREATE TABLE [IPO_LISTDAYS] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    IPO_LISTDAYS REAL
);
[INFO] 2018-07-10 23:43:19 TABLE IPO_LISTDAYS is created in E:\02_work\sw\db\indicator\2008.db.
CREATE UNIQUE INDEX [IPO_LISTDAYS_index] ON [IPO_LISTDAYS] (date, sec_id);
[INFO] 2018-07-10 23:43:19 INDEX IPO_LISTDAYS_index is created on TABLE IPO_LISTDAYS of E:\02_work\sw\db\indicator\2008.db.
[INFO] 2018-07-10 23:43:19 SELECT DISTINCT(date) FROM IPO_LISTDAYS WHERE date in ('2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-30', '2008-06-30', '2008-07-31', '2008-08-29', '2008-09-26', '2008-10-31', '2008-11-28', '2008-12-31')
[INFO] 2018-07-10 23:43:19 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:19 IPO_LISTDAYS on 2008-01-31 is updated successfully
[INFO] 2018-07-10 23:43:19 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:19 IPO_LISTDAYS on 2008-02-29 is updated successfully
[INFO] 2018-07-10 23:43:20 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:20 IPO_LISTDAYS on 2008-03-31 is updated successfully
[INFO] 2018-07-10 23:43:20 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:20 IPO_LISTDAYS on 2008-04-30 is updated successfully
[INFO] 2018-07-10 23:43:21 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:21 IPO_LISTDAYS on 2008-05-30 is updated successfully
[INFO] 2018-07-10 23:43:21 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:21 IPO_LISTDAYS on 2008-06-30 is updated successfully
[INFO] 2018-07-10 23:43:21 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:21 IPO_LISTDAYS on 2008-07-31 is updated successfully
[INFO] 2018-07-10 23:43:22 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:22 IPO_LISTDAYS on 2008-08-29 is updated successfully
[INFO] 2018-07-10 23:43:22 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:22 IPO_LISTDAYS on 2008-09-26 is updated successfully
[INFO] 2018-07-10 23:43:23 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:23 IPO_LISTDAYS on 2008-10-31 is updated successfully
[INFO] 2018-07-10 23:43:23 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:23 IPO_LISTDAYS on 2008-11-28 is updated successfully
[INFO] 2018-07-10 23:43:23 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:23 IPO_LISTDAYS on 2008-12-31 is updated successfully
[INFO] 2018-07-10 23:43:23 E:\02_work\sw\db\indicator\2008.db is disconnected.
[INFO] 2018-07-10 23:43:23 E:\02_work\sw\db\indicator\2009.db is connected.
CREATE TABLE [IPO_LISTDAYS] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    IPO_LISTDAYS REAL
);
[INFO] 2018-07-10 23:43:23 TABLE IPO_LISTDAYS is created in E:\02_work\sw\db\indicator\2009.db.
CREATE UNIQUE INDEX [IPO_LISTDAYS_index] ON [IPO_LISTDAYS] (date, sec_id);
[INFO] 2018-07-10 23:43:24 INDEX IPO_LISTDAYS_index is created on TABLE IPO_LISTDAYS of E:\02_work\sw\db\indicator\2009.db.
[INFO] 2018-07-10 23:43:24 SELECT DISTINCT(date) FROM IPO_LISTDAYS WHERE date in ('2009-01-23', '2009-02-27', '2009-03-31', '2009-04-30', '2009-05-27', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-30', '2009-11-30', '2009-12-31')
[INFO] 2018-07-10 23:43:24 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:24 IPO_LISTDAYS on 2009-01-23 is updated successfully

[INFO] 2018-07-10 23:43:24 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:24 IPO_LISTDAYS on 2009-02-27 is updated successfully
[INFO] 2018-07-10 23:43:25 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:25 IPO_LISTDAYS on 2009-03-31 is updated successfully
[INFO] 2018-07-10 23:43:25 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:25 IPO_LISTDAYS on 2009-04-30 is updated successfully
[INFO] 2018-07-10 23:43:26 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:26 IPO_LISTDAYS on 2009-05-27 is updated successfully
[INFO] 2018-07-10 23:43:26 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:26 IPO_LISTDAYS on 2009-06-30 is updated successfully
[INFO] 2018-07-10 23:43:27 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:27 IPO_LISTDAYS on 2009-07-31 is updated successfully
[INFO] 2018-07-10 23:43:27 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:27 IPO_LISTDAYS on 2009-08-31 is updated successfully
[INFO] 2018-07-10 23:43:27 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:27 IPO_LISTDAYS on 2009-09-30 is updated successfully
[INFO] 2018-07-10 23:43:28 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:28 IPO_LISTDAYS on 2009-10-30 is updated successfully
[INFO] 2018-07-10 23:43:28 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:28 IPO_LISTDAYS on 2009-11-30 is updated successfully
[INFO] 2018-07-10 23:43:29 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:29 IPO_LISTDAYS on 2009-12-31 is updated successfully
[INFO] 2018-07-10 23:43:29 E:\02_work\sw\db\indicator\2009.db is disconnected.
[INFO] 2018-07-10 23:43:29 E:\02_work\sw\db\indicator\2010.db is connected.
CREATE TABLE [IPO_LISTDAYS] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    IPO_LISTDAYS REAL
);
[INFO] 2018-07-10 23:43:29 TABLE IPO_LISTDAYS is created in E:\02_work\sw\db\indicator\2010.db.
CREATE UNIQUE INDEX [IPO_LISTDAYS_index] ON [IPO_LISTDAYS] (date, sec_id);
[INFO] 2018-07-10 23:43:29 INDEX IPO_LISTDAYS_index is created on TABLE IPO_LISTDAYS of E:\02_work\sw\db\indicator\2010.db.
[INFO] 2018-07-10 23:43:29 SELECT DISTINCT(date) FROM IPO_LISTDAYS WHERE date in ('2010-01-29', '2010-02-26', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-30', '2010-08-31', '2010-09-30', '2010-10-29', '2010-11-30', '2010-12-31')
[INFO] 2018-07-10 23:43:29 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:29 IPO_LISTDAYS on 2010-01-29 is updated successfully
[INFO] 2018-07-10 23:43:30 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:30 IPO_LISTDAYS on 2010-02-26 is updated successfully
[INFO] 2018-07-10 23:43:30 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:30 IPO_LISTDAYS on 2010-03-31 is updated successfully
[INFO] 2018-07-10 23:43:30 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:30 IPO_LISTDAYS on 2010-04-30 is updated successfully
[INFO] 2018-07-10 23:43:31 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:31 IPO_LISTDAYS on 2010-05-31 is updated successfully
[INFO] 2018-07-10 23:43:31 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:31 IPO_LISTDAYS on 2010-06-30 is updated successfully
[INFO] 2018-07-10 23:43:31 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:31 IPO_LISTDAYS on 2010-07-30 is updated successfully
[INFO] 2018-07-10 23:43:32 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:32 IPO_LISTDAYS on 2010-08-31 is updated successfully
[INFO] 2018-07-10 23:43:32 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:32 IPO_LISTDAYS on 2010-09-30 is updated successfully
[INFO] 2018-07-10 23:43:33 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:33 IPO_LISTDAYS on 2010-10-29 is updated successfully
[INFO] 2018-07-10 23:43:33 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:33 IPO_LISTDAYS on 2010-11-30 is updated successfully
[INFO] 2018-07-10 23:43:34 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:34 IPO_LISTDAYS on 2010-12-31 is updated successfully
[INFO] 2018-07-10 23:43:34 E:\02_work\sw\db\indicator\2010.db is disconnected.
[INFO] 2018-07-10 23:43:34 E:\02_work\sw\db\indicator\2011.db is connected.
CREATE TABLE [IPO_LISTDAYS] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    IPO_LISTDAYS REAL
);
[INFO] 2018-07-10 23:43:34 TABLE IPO_LISTDAYS is created in E:\02_work\sw\db\indicator\2011.db.
CREATE UNIQUE INDEX [IPO_LISTDAYS_index] ON [IPO_LISTDAYS] (date, sec_id);
[INFO] 2018-07-10 23:43:34 INDEX IPO_LISTDAYS_index is created on TABLE IPO_LISTDAYS of E:\02_work\sw\db\indicator\2011.db.
[INFO] 2018-07-10 23:43:34 SELECT DISTINCT(date) FROM IPO_LISTDAYS WHERE date in ('2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29', '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30')
[INFO] 2018-07-10 23:43:34 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:34 IPO_LISTDAYS on 2011-01-31 is updated successfully
[INFO] 2018-07-10 23:43:35 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:35 IPO_LISTDAYS on 2011-02-28 is updated successfully
[INFO] 2018-07-10 23:43:35 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:35 IPO_LISTDAYS on 2011-03-31 is updated successfully
[INFO] 2018-07-10 23:43:36 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:36 IPO_LISTDAYS on 2011-04-29 is updated successfully
[INFO] 2018-07-10 23:43:36 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:36 IPO_LISTDAYS on 2011-05-31 is updated successfully
[INFO] 2018-07-10 23:43:37 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:37 IPO_LISTDAYS on 2011-06-30 is updated successfully
[INFO] 2018-07-10 23:43:37 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:37 IPO_LISTDAYS on 2011-07-29 is updated successfully
[INFO] 2018-07-10 23:43:37 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:37 IPO_LISTDAYS on 2011-08-31 is updated successfully
[INFO] 2018-07-10 23:43:38 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:38 IPO_LISTDAYS on 2011-09-30 is updated successfully
[INFO] 2018-07-10 23:43:38 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:38 IPO_LISTDAYS on 2011-10-31 is updated successfully
[INFO] 2018-07-10 23:43:39 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:39 IPO_LISTDAYS on 2011-11-30 is updated successfully
[INFO] 2018-07-10 23:43:39 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:39 IPO_LISTDAYS on 2011-12-30 is updated successfully
[INFO] 2018-07-10 23:43:39 E:\02_work\sw\db\indicator\2011.db is disconnected.
[INFO] 2018-07-10 23:43:39 E:\02_work\sw\db\indicator\2012.db is connected.
CREATE TABLE [IPO_LISTDAYS] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    IPO_LISTDAYS REAL
);
[INFO] 2018-07-10 23:43:39 TABLE IPO_LISTDAYS is created in E:\02_work\sw\db\indicator\2012.db.
CREATE UNIQUE INDEX [IPO_LISTDAYS_index] ON [IPO_LISTDAYS] (date, sec_id);
[INFO] 2018-07-10 23:43:39 INDEX IPO_LISTDAYS_index is created on TABLE IPO_LISTDAYS of E:\02_work\sw\db\indicator\2012.db.
[INFO] 2018-07-10 23:43:39 SELECT DISTINCT(date) FROM IPO_LISTDAYS WHERE date in ('2012-01-31', '2012-02-29', '2012-03-30', '2012-04-27', '2012-05-31', '2012-06-29', '2012-07-31', '2012-08-31', '2012-09-28', '2012-10-31', '2012-11-30', '2012-12-31')

[INFO] 2018-07-10 23:43:40 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:40 IPO_LISTDAYS on 2012-01-31 is updated successfully
[INFO] 2018-07-10 23:43:40 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:40 IPO_LISTDAYS on 2012-02-29 is updated successfully
[INFO] 2018-07-10 23:43:41 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:41 IPO_LISTDAYS on 2012-03-30 is updated successfully
[INFO] 2018-07-10 23:43:41 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:41 IPO_LISTDAYS on 2012-04-27 is updated successfully
[INFO] 2018-07-10 23:43:42 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:42 IPO_LISTDAYS on 2012-05-31 is updated successfully
[INFO] 2018-07-10 23:43:42 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:42 IPO_LISTDAYS on 2012-06-29 is updated successfully
[INFO] 2018-07-10 23:43:43 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:43 IPO_LISTDAYS on 2012-07-31 is updated successfully
[INFO] 2018-07-10 23:43:43 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:43 IPO_LISTDAYS on 2012-08-31 is updated successfully
[INFO] 2018-07-10 23:43:43 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:43 IPO_LISTDAYS on 2012-09-28 is updated successfully
[INFO] 2018-07-10 23:43:44 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:44 IPO_LISTDAYS on 2012-10-31 is updated successfully
[INFO] 2018-07-10 23:43:44 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:44 IPO_LISTDAYS on 2012-11-30 is updated successfully
[INFO] 2018-07-10 23:43:45 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:45 IPO_LISTDAYS on 2012-12-31 is updated successfully
[INFO] 2018-07-10 23:43:45 E:\02_work\sw\db\indicator\2012.db is disconnected.
[INFO] 2018-07-10 23:43:45 E:\02_work\sw\db\indicator\2013.db is connected.
CREATE TABLE [IPO_LISTDAYS] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    IPO_LISTDAYS REAL
);
[INFO] 2018-07-10 23:43:45 TABLE IPO_LISTDAYS is created in E:\02_work\sw\db\indicator\2013.db.
CREATE UNIQUE INDEX [IPO_LISTDAYS_index] ON [IPO_LISTDAYS] (date, sec_id);
[INFO] 2018-07-10 23:43:45 INDEX IPO_LISTDAYS_index is created on TABLE IPO_LISTDAYS of E:\02_work\sw\db\indicator\2013.db.
[INFO] 2018-07-10 23:43:45 SELECT DISTINCT(date) FROM IPO_LISTDAYS WHERE date in ('2013-01-31', '2013-02-28', '2013-03-29', '2013-04-26', '2013-05-31', '2013-06-28', '2013-07-31', '2013-08-30', '2013-09-30', '2013-10-31', '2013-11-29', '2013-12-31')
[INFO] 2018-07-10 23:43:46 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:46 IPO_LISTDAYS on 2013-01-31 is updated successfully
[INFO] 2018-07-10 23:43:46 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:46 IPO_LISTDAYS on 2013-02-28 is updated successfully
[INFO] 2018-07-10 23:43:46 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:46 IPO_LISTDAYS on 2013-03-29 is updated successfully
[INFO] 2018-07-10 23:43:47 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:47 IPO_LISTDAYS on 2013-04-26 is updated successfully
[INFO] 2018-07-10 23:43:47 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:47 IPO_LISTDAYS on 2013-05-31 is updated successfully
[INFO] 2018-07-10 23:43:48 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:48 IPO_LISTDAYS on 2013-06-28 is updated successfully
[INFO] 2018-07-10 23:43:48 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:48 IPO_LISTDAYS on 2013-07-31 is updated successfully
[INFO] 2018-07-10 23:43:48 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:48 IPO_LISTDAYS on 2013-08-30 is updated successfully
[INFO] 2018-07-10 23:43:49 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:49 IPO_LISTDAYS on 2013-09-30 is updated successfully
[INFO] 2018-07-10 23:43:50 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:50 IPO_LISTDAYS on 2013-10-31 is updated successfully
[INFO] 2018-07-10 23:43:50 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:50 IPO_LISTDAYS on 2013-11-29 is updated successfully
[INFO] 2018-07-10 23:43:50 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:50 IPO_LISTDAYS on 2013-12-31 is updated successfully
[INFO] 2018-07-10 23:43:50 E:\02_work\sw\db\indicator\2013.db is disconnected.
[INFO] 2018-07-10 23:43:50 E:\02_work\sw\db\indicator\2014.db is connected.
CREATE TABLE [IPO_LISTDAYS] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    IPO_LISTDAYS REAL
);
[INFO] 2018-07-10 23:43:51 TABLE IPO_LISTDAYS is created in E:\02_work\sw\db\indicator\2014.db.
CREATE UNIQUE INDEX [IPO_LISTDAYS_index] ON [IPO_LISTDAYS] (date, sec_id);
[INFO] 2018-07-10 23:43:51 INDEX IPO_LISTDAYS_index is created on TABLE IPO_LISTDAYS of E:\02_work\sw\db\indicator\2014.db.
[INFO] 2018-07-10 23:43:51 SELECT DISTINCT(date) FROM IPO_LISTDAYS WHERE date in ('2014-01-30', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-30', '2014-06-30', '2014-07-31', '2014-08-29', '2014-09-30', '2014-10-31', '2014-11-28', '2014-12-31')
[INFO] 2018-07-10 23:43:51 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:51 IPO_LISTDAYS on 2014-01-30 is updated successfully
[INFO] 2018-07-10 23:43:52 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:52 IPO_LISTDAYS on 2014-02-28 is updated successfully
[INFO] 2018-07-10 23:43:52 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:52 IPO_LISTDAYS on 2014-03-31 is updated successfully
[INFO] 2018-07-10 23:43:52 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:52 IPO_LISTDAYS on 2014-04-30 is updated successfully
[INFO] 2018-07-10 23:43:53 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:53 IPO_LISTDAYS on 2014-05-30 is updated successfully
[INFO] 2018-07-10 23:43:53 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:53 IPO_LISTDAYS on 2014-06-30 is updated successfully
[INFO] 2018-07-10 23:43:53 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:53 IPO_LISTDAYS on 2014-07-31 is updated successfully
[INFO] 2018-07-10 23:43:54 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:54 IPO_LISTDAYS on 2014-08-29 is updated successfully
[INFO] 2018-07-10 23:43:54 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:54 IPO_LISTDAYS on 2014-09-30 is updated successfully
[INFO] 2018-07-10 23:43:55 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:55 IPO_LISTDAYS on 2014-10-31 is updated successfully
[INFO] 2018-07-10 23:43:55 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:55 IPO_LISTDAYS on 2014-11-28 is updated successfully
[INFO] 2018-07-10 23:43:56 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:56 IPO_LISTDAYS on 2014-12-31 is updated successfully
[INFO] 2018-07-10 23:43:56 E:\02_work\sw\db\indicator\2014.db is disconnected.
[INFO] 2018-07-10 23:43:56 E:\02_work\sw\db\indicator\2015.db is connected.
CREATE TABLE [IPO_LISTDAYS] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    IPO_LISTDAYS REAL
);
[INFO] 2018-07-10 23:43:56 TABLE IPO_LISTDAYS is created in E:\02_work\sw\db\indicator\2015.db.
CREATE UNIQUE INDEX [IPO_LISTDAYS_index] ON [IPO_LISTDAYS] (date, sec_id);

[INFO] 2018-07-10 23:43:56 INDEX IPO_LISTDAYS_index is created on TABLE IPO_LISTDAYS of E:\02_work\sw\db\indicator\2015.db.
[INFO] 2018-07-10 23:43:56 SELECT DISTINCT(date) FROM IPO_LISTDAYS WHERE date in ('2015-01-30', '2015-02-27', '2015-03-31', '2015-04-30', '2015-05-29', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-30', '2015-11-30', '2015-12-31')
[INFO] 2018-07-10 23:43:57 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:57 IPO_LISTDAYS on 2015-01-30 is updated successfully
[INFO] 2018-07-10 23:43:57 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:57 IPO_LISTDAYS on 2015-02-27 is updated successfully
[INFO] 2018-07-10 23:43:58 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:58 IPO_LISTDAYS on 2015-03-31 is updated successfully
[INFO] 2018-07-10 23:43:58 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:58 IPO_LISTDAYS on 2015-04-30 is updated successfully
[INFO] 2018-07-10 23:43:59 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:59 IPO_LISTDAYS on 2015-05-29 is updated successfully
[INFO] 2018-07-10 23:43:59 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:43:59 IPO_LISTDAYS on 2015-06-30 is updated successfully
[INFO] 2018-07-10 23:44:00 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:44:00 IPO_LISTDAYS on 2015-07-31 is updated successfully
[INFO] 2018-07-10 23:44:00 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:44:00 IPO_LISTDAYS on 2015-08-31 is updated successfully
[INFO] 2018-07-10 23:44:00 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:44:00 IPO_LISTDAYS on 2015-09-30 is updated successfully
[INFO] 2018-07-10 23:44:01 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:44:01 IPO_LISTDAYS on 2015-10-30 is updated successfully
[INFO] 2018-07-10 23:44:01 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:44:01 IPO_LISTDAYS on 2015-11-30 is updated successfully
[INFO] 2018-07-10 23:44:02 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:44:02 IPO_LISTDAYS on 2015-12-31 is updated successfully
[INFO] 2018-07-10 23:44:02 E:\02_work\sw\db\indicator\2015.db is disconnected.
[INFO] 2018-07-10 23:44:02 E:\02_work\sw\db\indicator\2016.db is connected.
CREATE TABLE [IPO_LISTDAYS] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    IPO_LISTDAYS REAL
);
[INFO] 2018-07-10 23:44:02 TABLE IPO_LISTDAYS is created in E:\02_work\sw\db\indicator\2016.db.
CREATE UNIQUE INDEX [IPO_LISTDAYS_index] ON [IPO_LISTDAYS] (date, sec_id);
[INFO] 2018-07-10 23:44:02 INDEX IPO_LISTDAYS_index is created on TABLE IPO_LISTDAYS of E:\02_work\sw\db\indicator\2016.db.
[INFO] 2018-07-10 23:44:02 SELECT DISTINCT(date) FROM IPO_LISTDAYS WHERE date in ('2016-01-29', '2016-02-29', '2016-03-31', '2016-04-29', '2016-05-31', '2016-06-30', '2016-07-29', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-30')
[INFO] 2018-07-10 23:44:02 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:44:02 IPO_LISTDAYS on 2016-01-29 is updated successfully
[INFO] 2018-07-10 23:44:03 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:44:03 IPO_LISTDAYS on 2016-02-29 is updated successfully
[INFO] 2018-07-10 23:44:03 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:44:03 IPO_LISTDAYS on 2016-03-31 is updated successfully
[INFO] 2018-07-10 23:44:04 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:44:04 IPO_LISTDAYS on 2016-04-29 is updated successfully
[INFO] 2018-07-10 23:44:04 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:44:04 IPO_LISTDAYS on 2016-05-31 is updated successfully
[INFO] 2018-07-10 23:44:05 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:44:05 IPO_LISTDAYS on 2016-06-30 is updated successfully
[INFO] 2018-07-10 23:44:05 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:44:05 IPO_LISTDAYS on 2016-07-29 is updated successfully
[INFO] 2018-07-10 23:44:05 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:44:05 IPO_LISTDAYS on 2016-08-31 is updated successfully
[INFO] 2018-07-10 23:44:06 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:44:06 IPO_LISTDAYS on 2016-09-30 is updated successfully
[INFO] 2018-07-10 23:44:06 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:44:06 IPO_LISTDAYS on 2016-10-31 is updated successfully
[INFO] 2018-07-10 23:44:07 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:44:07 IPO_LISTDAYS on 2016-11-30 is updated successfully
[INFO] 2018-07-10 23:44:07 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:44:07 IPO_LISTDAYS on 2016-12-30 is updated successfully
[INFO] 2018-07-10 23:44:07 E:\02_work\sw\db\indicator\2016.db is disconnected.
[INFO] 2018-07-10 23:44:07 E:\02_work\sw\db\indicator\2017.db is connected.
CREATE TABLE [IPO_LISTDAYS] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    IPO_LISTDAYS REAL
);
[INFO] 2018-07-10 23:44:07 TABLE IPO_LISTDAYS is created in E:\02_work\sw\db\indicator\2017.db.
CREATE UNIQUE INDEX [IPO_LISTDAYS_index] ON [IPO_LISTDAYS] (date, sec_id);
[INFO] 2018-07-10 23:44:07 INDEX IPO_LISTDAYS_index is created on TABLE IPO_LISTDAYS of E:\02_work\sw\db\indicator\2017.db.
[INFO] 2018-07-10 23:44:07 SELECT DISTINCT(date) FROM IPO_LISTDAYS WHERE date in ('2017-01-26', '2017-02-28', '2017-03-31', '2017-04-28', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-29', '2017-10-31', '2017-11-30', '2017-12-29')
[INFO] 2018-07-10 23:44:08 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:44:08 IPO_LISTDAYS on 2017-01-26 is updated successfully
[INFO] 2018-07-10 23:44:08 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:44:08 IPO_LISTDAYS on 2017-02-28 is updated successfully
[INFO] 2018-07-10 23:44:09 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:44:09 IPO_LISTDAYS on 2017-03-31 is updated successfully
[INFO] 2018-07-10 23:44:09 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:44:09 IPO_LISTDAYS on 2017-04-28 is updated successfully
[INFO] 2018-07-10 23:44:10 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:44:10 IPO_LISTDAYS on 2017-05-31 is updated successfully
[INFO] 2018-07-10 23:44:10 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:44:10 IPO_LISTDAYS on 2017-06-30 is updated successfully
[INFO] 2018-07-10 23:44:11 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:44:11 IPO_LISTDAYS on 2017-07-31 is updated successfully
[INFO] 2018-07-10 23:44:12 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:44:12 IPO_LISTDAYS on 2017-08-31 is updated successfully
[INFO] 2018-07-10 23:44:12 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:44:12 IPO_LISTDAYS on 2017-09-29 is updated successfully
[INFO] 2018-07-10 23:44:13 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:44:13 IPO_LISTDAYS on 2017-10-31 is updated successfully
[INFO] 2018-07-10 23:44:13 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:44:13 IPO_LISTDAYS on 2017-11-30 is updated successfully
[INFO] 2018-07-10 23:44:13 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:44:13 IPO_LISTDAYS on 2017-12-29 is updated successfully
[INFO] 2018-07-10 23:44:14 E:\02_work\sw\db\indicator\2017.db is disconnected.
[INFO] 2018-07-10 23:44:14 E:\02_work\sw\db\indicator\2018.db is connected.
CREATE TABLE [IPO_LISTDAYS] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    IPO_LISTDAYS REAL
);
[INFO] 2018-07-10 23:44:14 TABLE IPO_LISTDAYS is created in E:\02_work\sw\db\indicator\2018.db.
CREATE UNIQUE INDEX [IPO_LISTDAYS_index] ON [IPO_LISTDAYS] (date, sec_id);

[INFO] 2018-07-10 23:44:14 INDEX IPO_LISTDAYS_index is created on TABLE IPO_LISTDAYS of E:\02_work\sw\db\indicator\2018.db.
[INFO] 2018-07-10 23:44:14 SELECT DISTINCT(date) FROM IPO_LISTDAYS WHERE date in ('2018-01-31', '2018-02-28', '2018-03-30', '2018-04-27', '2018-05-31')
[INFO] 2018-07-10 23:44:14 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:44:14 IPO_LISTDAYS on 2018-01-31 is updated successfully
[INFO] 2018-07-10 23:44:15 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:44:15 IPO_LISTDAYS on 2018-02-28 is updated successfully
[INFO] 2018-07-10 23:44:15 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:44:15 IPO_LISTDAYS on 2018-03-30 is updated successfully
[INFO] 2018-07-10 23:44:16 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:44:16 IPO_LISTDAYS on 2018-04-27 is updated successfully
[INFO] 2018-07-10 23:44:16 Data is inserted to IPO_LISTDAYS successfully!
[INFO] 2018-07-10 23:44:16 IPO_LISTDAYS on 2018-05-31 is updated successfully
[INFO] 2018-07-10 23:44:16 E:\02_work\sw\db\indicator\2018.db is disconnected.
[INFO] 2018-07-10 23:44:17 schema updated: IPO_LISTDAYS
[INFO] 2018-07-10 23:44:17 indicator IPO_LISTDAYS is updated.
[INFO] 2018-07-10 23:44:17 ------------------------------------------

---

# factor

In [28]:
a = pd.DataFrame(DataAPI.schema.get_schema("factor")).T
factors = a.sort_values(['level']).index.tolist()

In [30]:
factors

['DIVIDENDYIELD2',
 'EV2_TO_EBITDA',
 'PB_LF',
 'PCF_NCF_TTM',
 'PS_TTM',
 'VAL_PE_DEDUCTED_TTM']

In [35]:
# a = pd.DataFrame(DataAPI.schema.get_schema("indicator")).T
# inds_ts = a[a.type == "时间序列"].index.tolist()
# factors4 = ["LEVERAGE","PROFIT"] # 基于其他做好的factor
# DataAPI.write.update_factors(factors=factors1,trading_days=trading_days , override=False, log=False)
# DataAPI.write.update_factors(factors=factors2,trading_days=trading_days , override=False, log=False)
# DataAPI.write.update_factors(factors=factors3,trading_days=trading_days , override=False, log=False)
DataAPI.write.update_factors(factors=factors,trading_days=trading_days , override=False, log=False)

[INFO] 2018-06-28 14:14:56 Updating factor DIVIDENDYIELD2
[INFO] 2018-06-28 14:14:56 schema updated: DIVIDENDYIELD2
[INFO] 2018-06-28 14:14:56 Updating factor EV2_TO_EBITDA
[INFO] 2018-06-28 14:14:56 schema updated: EV2_TO_EBITDA
[INFO] 2018-06-28 14:14:56 Updating factor PB_LF
[INFO] 2018-06-28 14:14:56 schema updated: PB_LF
[ERROR] 2018-06-28 14:14:57 Unrecognized factor: PCF_NCF_TTM
[INFO] 2018-06-28 14:14:57 ------------------------------------------
[INFO] 2018-06-28 14:14:57 Updating factor PS_TTM
[INFO] 2018-06-28 14:14:57 TABLE PS_TTM is created in E:\02_work\sw\db\factor\2005.db.
[INFO] 2018-06-28 14:14:57 INDEX PS_TTM_index is created on TABLE PS_TTM of E:\02_work\sw\db\factor\2005.db.
[INFO] 2018-06-28 14:14:59 TABLE PS_TTM is created in E:\02_work\sw\db\factor\2006.db.
[INFO] 2018-06-28 14:14:59 INDEX PS_TTM_index is created on TABLE PS_TTM of E:\02_work\sw\db\factor\2006.db.
[INFO] 2018-06-28 14:15:02 TABLE PS_TTM is created in E:\02_work\sw\db\factor\2007.db.
[INFO] 2018-06-28 14:15:02 INDEX PS_TTM_index is created on TABLE PS_TTM of E:\02_work\sw\db\factor\2007.db.
[INFO] 2018-06-28 14:15:05 TABLE PS_TTM is created in E:\02_work\sw\db\factor\2008.db.
[INFO] 2018-06-28 14:15:05 INDEX PS_TTM_index is created on TABLE PS_TTM of E:\02_work\sw\db\factor\2008.db.
[INFO] 2018-06-28 14:15:07 TABLE PS_TTM is created in E:\02_work\sw\db\factor\2009.db.
[INFO] 2018-06-28 14:15:08 INDEX PS_TTM_index is created on TABLE PS_TTM of E:\02_work\sw\db\factor\2009.db.
[INFO] 2018-06-28 14:15:10 TABLE PS_TTM is created in E:\02_work\sw\db\factor\2010.db.
[INFO] 2018-06-28 14:15:10 INDEX PS_TTM_index is created on TABLE PS_TTM of E:\02_work\sw\db\factor\2010.db.
[INFO] 2018-06-28 14:15:13 TABLE PS_TTM is created in E:\02_work\sw\db\factor\2011.db.
[INFO] 2018-06-28 14:15:13 INDEX PS_TTM_index is created on TABLE PS_TTM of E:\02_work\sw\db\factor\2011.db.
[INFO] 2018-06-28 14:15:17 TABLE PS_TTM is created in E:\02_work\sw\db\factor\2012.db.
[INFO] 2018-06-28 14:15:17 INDEX PS_TTM_index is created on TABLE PS_TTM of E:\02_work\sw\db\factor\2012.db.
[INFO] 2018-06-28 14:15:20 TABLE PS_TTM is created in E:\02_work\sw\db\factor\2013.db.
[INFO] 2018-06-28 14:15:20 INDEX PS_TTM_index is created on TABLE PS_TTM of E:\02_work\sw\db\factor\2013.db.
[INFO] 2018-06-28 14:15:24 TABLE PS_TTM is created in E:\02_work\sw\db\factor\2014.db.
[INFO] 2018-06-28 14:15:24 INDEX PS_TTM_index is created on TABLE PS_TTM of E:\02_work\sw\db\factor\2014.db.
[INFO] 2018-06-28 14:15:27 TABLE PS_TTM is created in E:\02_work\sw\db\factor\2015.db.
[INFO] 2018-06-28 14:15:28 INDEX PS_TTM_index is created on TABLE PS_TTM of E:\02_work\sw\db\factor\2015.db.
[INFO] 2018-06-28 14:15:31 TABLE PS_TTM is created in E:\02_work\sw\db\factor\2016.db.
[INFO] 2018-06-28 14:15:31 INDEX PS_TTM_index is created on TABLE PS_TTM of E:\02_work\sw\db\factor\2016.db.
[INFO] 2018-06-28 14:15:34 TABLE PS_TTM is created in E:\02_work\sw\db\factor\2017.db.
[INFO] 2018-06-28 14:15:34 INDEX PS_TTM_index is created on TABLE PS_TTM of E:\02_work\sw\db\factor\2017.db.
[INFO] 2018-06-28 14:15:37 TABLE PS_TTM is created in E:\02_work\sw\db\factor\2018.db.
[INFO] 2018-06-28 14:15:37 INDEX PS_TTM_index is created on TABLE PS_TTM of E:\02_work\sw\db\factor\2018.db.
[INFO] 2018-06-28 14:15:39 schema updated: PS_TTM
[INFO] 2018-06-28 14:15:39 Updating factor VAL_PE_DEDUCTED_TTM
[INFO] 2018-06-28 14:15:39 TABLE VAL_PE_DEDUCTED_TTM is created in E:\02_work\sw\db\factor\2005.db.
[INFO] 2018-06-28 14:15:39 INDEX VAL_PE_DEDUCTED_TTM_index is created on TABLE VAL_PE_DEDUCTED_TTM of E:\02_work\sw\db\factor\2005.db.
[INFO] 2018-06-28 14:15:41 TABLE VAL_PE_DEDUCTED_TTM is created in E:\02_work\sw\db\factor\2006.db.
[INFO] 2018-06-28 14:15:41 INDEX VAL_PE_DEDUCTED_TTM_index is created on TABLE VAL_PE_DEDUCTED_TTM of E:\02_work\sw\db\factor\2006.db.
[INFO] 2018-06-28 14:15:44 TABLE VAL_PE_DEDUCTED_TTM is created in E:\02_work\sw\db\factor\2007.db.
[INFO] 2018-06-28 14:15:44 INDEX VAL_PE_DEDUCTED_TTM_index is created on TABLE VAL_PE_DEDUCTED_TTM of E:\02_work\sw\db\factor\2007.db.
[INFO] 2018-06-28 14:15:48 TABLE VAL_PE_DEDUCTED_TTM is created in E:\02_work\sw\db\factor\2008.db.
[INFO] 2018-06-28 14:15:48 INDEX VAL_PE_DEDUCTED_TTM_index is created on TABLE VAL_PE_DEDUCTED_TTM of E:\02_work\sw\db\factor\2008.db.
[INFO] 2018-06-28 14:15:51 TABLE VAL_PE_DEDUCTED_TTM is created in E:\02_work\sw\db\factor\2009.db.
[INFO] 2018-06-28 14:15:51 INDEX VAL_PE_DEDUCTED_TTM_index is created on TABLE VAL_PE_DEDUCTED_TTM of E:\02_work\sw\db\factor\2009.db.
[INFO] 2018-06-28 14:15:54 TABLE VAL_PE_DEDUCTED_TTM is created in E:\02_work\sw\db\factor\2010.db.
[INFO] 2018-06-28 14:15:54 INDEX VAL_PE_DEDUCTED_TTM_index is created on TABLE VAL_PE_DEDUCTED_TTM of E:\02_work\sw\db\factor\2010.db.
[INFO] 2018-06-28 14:15:57 TABLE VAL_PE_DEDUCTED_TTM is created in E:\02_work\sw\db\factor\2011.db.
[INFO] 2018-06-28 14:15:57 INDEX VAL_PE_DEDUCTED_TTM_index is created on TABLE VAL_PE_DEDUCTED_TTM of E:\02_work\sw\db\factor\2011.db.
[INFO] 2018-06-28 14:16:00 TABLE VAL_PE_DEDUCTED_TTM is created in E:\02_work\sw\db\factor\2012.db.
[INFO] 2018-06-28 14:16:00 INDEX VAL_PE_DEDUCTED_TTM_index is created on TABLE VAL_PE_DEDUCTED_TTM of E:\02_work\sw\db\factor\2012.db.
[INFO] 2018-06-28 14:16:03 TABLE VAL_PE_DEDUCTED_TTM is created in E:\02_work\sw\db\factor\2013.db.
[INFO] 2018-06-28 14:16:03 INDEX VAL_PE_DEDUCTED_TTM_index is created on TABLE VAL_PE_DEDUCTED_TTM of E:\02_work\sw\db\factor\2013.db.
[INFO] 2018-06-28 14:16:07 TABLE VAL_PE_DEDUCTED_TTM is created in E:\02_work\sw\db\factor\2014.db.
[INFO] 2018-06-28 14:16:07 INDEX VAL_PE_DEDUCTED_TTM_index is created on TABLE VAL_PE_DEDUCTED_TTM of E:\02_work\sw\db\factor\2014.db.
[INFO] 2018-06-28 14:16:10 TABLE VAL_PE_DEDUCTED_TTM is created in E:\02_work\sw\db\factor\2015.db.
[INFO] 2018-06-28 14:16:10 INDEX VAL_PE_DEDUCTED_TTM_index is created on TABLE VAL_PE_DEDUCTED_TTM of E:\02_work\sw\db\factor\2015.db.
[INFO] 2018-06-28 14:16:13 TABLE VAL_PE_DEDUCTED_TTM is created in E:\02_work\sw\db\factor\2016.db.
[INFO] 2018-06-28 14:16:13 INDEX VAL_PE_DEDUCTED_TTM_index is created on TABLE VAL_PE_DEDUCTED_TTM of E:\02_work\sw\db\factor\2016.db.
[INFO] 2018-06-28 14:16:17 TABLE VAL_PE_DEDUCTED_TTM is created in E:\02_work\sw\db\factor\2017.db.
[INFO] 2018-06-28 14:16:17 INDEX VAL_PE_DEDUCTED_TTM_index is created on TABLE VAL_PE_DEDUCTED_TTM of E:\02_work\sw\db\factor\2017.db.
[INFO] 2018-06-28 14:16:20 TABLE VAL_PE_DEDUCTED_TTM is created in E:\02_work\sw\db\factor\2018.db.
[INFO] 2018-06-28 14:16:20 INDEX VAL_PE_DEDUCTED_TTM_index is created on TABLE VAL_PE_DEDUCTED_TTM of E:\02_work\sw\db\factor\2018.db.
[INFO] 2018-06-28 14:16:22 schema updated: VAL_PE_DEDUCTED_TTM

In [5]:
DataAPI.write.update_factors(factors=['GROWTH'],trading_days=trading_days, override=True, log=False)

[ERROR] 2018-06-28 13:18:32 Unrecognized factor: GROWTH
[INFO] 2018-06-28 13:18:32 ------------------------------------------

---

# factor_return

In [27]:
# factors = ["SIZE", 'VALUE', 'BETA', 'VOL', 'ROE', 'MOM', 'LIQ'] # 为空表示更新所有存在的factors
factors = []
DataAPI.write.update_factors_return(['GROWTH'], trading_days)

[INFO] 2018-03-14 16:13:50 Updating factor_return GROWTH...
[INFO] 2018-03-14 16:14:57 存量更新：更新当前已经有的记录
[INFO] 2018-03-14 16:14:57 schema updated: GROWTH
[INFO] 2018-03-14 16:14:57 传入日期数：1015  已经存在个数：1  实际写入次数：1014
[INFO] 2018-03-14 16:14:57 factor_return GROWTH is updated.
[INFO] 2018-03-14 16:14:57 ------------------------------------------