In [1]:
%pylab inline
%load_ext autoreload
%autoreload 2

import os
import numpy as np
import pandas as pd

import devkit.api as dk
import finkit.api as fk
import DataAPI

Populating the interactive namespace from numpy and matplotlib

---

# 数据库架构

In [3]:
db_names = [
    "index_contents",  # 股票列表
    "industry",  # 行业分类
    "indicator",  # 基础指标
    "factor",  # 因子
    "factor_return",  # 因子收益
]

# db_name = "INDICATOR"
for db_name in db_names:
    DataAPI.schema.show_db_info(db_name)

数据库 [index_contents] 架构信息：

子数据库 [000016.SH]
    说明：上证50成分股编号、简称和权重信息
    开始时间：2016-01-04
    结束时间：2018-03-02
    最后更新：2018-03-07 20:36:49

子数据库 [000300.SH]
    说明：沪深300成分股编号、简称和权重信息
    开始时间：2006-01-25
    结束时间：2018-05-31
    最后更新：2018-06-26 21:22:59

子数据库 [000905.SH]
    说明：中证500成分股编号、简称和权重信息
    开始时间：2016-01-04
    结束时间：2018-03-02
    最后更新：2018-03-07 20:36:50

子数据库 [A]
    说明：全A股编号和简称信息
    开始时间：2005-01-04
    结束时间：2018-12-31
    最后更新：2018-06-28 12:40:07

子数据库 [H]
    说明：全H股编号和简称信息
    开始时间：2017-01-03
    结束时间：2018-01-04
    最后更新：2018-03-07 13:50:49

子数据库 [HSI.HI]
    说明：恒生指数成分股编号和简称信息
    开始时间：2016-01-04
    结束时间：2018-01-30
    最后更新：2018-01-30 19:58:42

数据库 [industry] 架构信息：

子数据库 [A_SWL1]
    说明：全A股申万一级行业分类
    开始时间：2015-01-05
    结束时间：2018-01-04
    最后更新：2018-03-07 13:55:33

子数据库 [H_GICSL1]
    说明：全H股GICS一级行业分类
    开始时间：2018-01-02
    结束时间：2018-01-03
    最后更新：2018-03-07 13:55:53

子数据库 [H_SWL1]
    说明：全H股申万一级行业分类
    开始时间：2017-12-29
    结束时间：2017-12-29
    最后更新：2018-03-12 10:59:18

数据库 [indicator] 架构信息：

子数据库 [ADJFACTOR]
    说明：后复权因子
    开始时间：2005-01-31
    结束时间：2018-05-31
    最后更新：2018-06-21 21:28:09

子数据库 [AMT]
    说明：交易额
    开始时间：2005-01-31
    结束时间：2018-05-31
    最后更新：2018-06-21 21:28:28

子数据库 [ANNUALSTDEVR_100W]
    说明：过去100周年化波动率
    开始时间：2005-01-31
    结束时间：2018-05-31
    最后更新：2018-06-21 21:28:50

子数据库 [ANNUALYEILD_100W]
    说明：过去100周年化收益率
    开始时间：2005-01-31
    结束时间：2018-05-31
    最后更新：2018-06-21 21:29:11

子数据库 [APTURN]
    说明：应付账款周转率
    开始时间：2005-03-31
    结束时间：2018-06-30
    最后更新：2018-06-21 21:40:13

子数据库 [ARTURN]
    说明：应收账款周转率
    开始时间：2005-03-31
    结束时间：2018-06-30
    最后更新：2018-06-21 21:40:14

子数据库 [AVG_TURN_ND]
    说明：过去20天平均换手率
    开始时间：2005-01-31
    结束时间：2018-05-31
    最后更新：2018-06-21 21:29:32

子数据库 [BETA_100W]
    说明：过去100周BETA
    开始时间：2005-01-31
    结束时间：2018-05-31
    最后更新：2018-06-21 21:29:54

子数据库 [BIAS]
    说明：乖离率
    开始时间：2005-01-31
    结束时间：2018-06-29
    最后更新：2018-06-21 21:29:54

子数据库 [CLOSE]
    说明：收盘价
    开始时间：2005-01-31
    结束时间：2018-05-31
    最后更新：2018-06-21 21:30:14

子数据库 [CURRENT]
    说明：流动比率
    开始时间：2005-03-31
    结束时间：2018-03-31
    最后更新：2018-06-21 21:40:21

子数据库 [DEBTTOASSETS]
    说明：资产负债率
    开始时间：2005-03-31
    结束时间：2018-03-31
    最后更新：2018-06-21 21:40:29

子数据库 [DIVIDENDYIELD2]
    说明：股息率(近12个月分配给股东的股息占股价的百分比)
    开始时间：2005-03-31
    结束时间：2018-06-30
    最后更新：2018-06-21 21:40:30

子数据库 [DOWN_DAYS]
    说明：连跌天数
    开始时间：2005-01-31
    结束时间：2018-05-31
    最后更新：2018-06-21 21:30:14

子数据库 [EBIT2_TTM]
    说明：息税折旧摊销前利润
    开始时间：2005-03-31
    结束时间：2018-03-31
    最后更新：2018-06-21 21:40:37

子数据库 [EPS_BASIC]
    说明：基本每股收益
    开始时间：2005-03-31
    结束时间：2018-06-30
    最后更新：2018-06-21 21:40:39

子数据库 [EPS_DILUTED]
    说明：稀释每股收益
    开始时间：2005-03-31
    结束时间：2018-06-30
    最后更新：2018-06-21 21:40:40

子数据库 [EV2_TO_EBITDA]
    说明：企业倍数
    开始时间：2005-03-31
    结束时间：2018-03-31
    最后更新：2018-06-26 21:19:37

子数据库 [MKT_CAP_FLOAT]
    说明：流通市值
    开始时间：2005-01-31
    结束时间：2018-05-31
    最后更新：2018-06-21 21:30:35

子数据库 [OCFTOINTEREST]
    说明：现金流量利息保障倍数
    开始时间：2005-03-31
    结束时间：2018-06-30
    最后更新：2018-06-21 21:40:41

子数据库 [OPTOEBT]
    说明：主营业务比率
    开始时间：2005-03-31
    结束时间：2018-06-30
    最后更新：2018-06-21 21:40:41

子数据库 [OR_TTM2]
    说明：营业收入
    开始时间：2005-03-31
    结束时间：2018-03-31
    最后更新：2018-06-21 21:40:49

子数据库 [PB_LF]
    说明：市净率
    开始时间：2005-01-04
    结束时间：2018-05-31
    最后更新：2018-06-21 21:30:50

子数据库 [PCF_OCF_TTM]
    说明：市现率PCF(经营现金流TTM): 每股市价为每股经营性现金流的倍数
    开始时间：2005-01-04
    结束时间：2018-05-31
    最后更新：2018-06-21 21:31:03

子数据库 [PS_TTM]
    说明：市销率
    开始时间：2005-01-04
    结束时间：2018-05-31
    最后更新：2018-06-21 21:31:18

子数据库 [ROE_TTM3]
    说明：净资产收益率
    开始时间：2005-03-31
    结束时间：2018-03-31
    最后更新：2018-06-21 21:40:54

子数据库 [RSI]
    说明：20天相对强弱指标
    开始时间：2005-01-31
    结束时间：2018-05-31
    最后更新：2018-06-21 21:31:19

子数据库 [UP_DAYS]
    说明：连涨天数
    开始时间：2005-01-31
    结束时间：2018-05-31
    最后更新：2018-06-21 21:31:19

子数据库 [VAL_EVTOEBITDA2]
    说明：企业价值倍数: 企业价值收益比又称企业倍数，是企业价值(剔除货币资金)与企业收益(扣除利息、税金、折旧和摊销前的收益)的比值。企业倍数估值包含债务，从潜在收购方的角度评估公司的价值。
    开始时间：2005-03-31
    结束时间：2018-03-31
    最后更新：2018-06-21 21:41:05

子数据库 [VAL_PE_DEDUCTED_TTM]
    说明：市盈率
    开始时间：2005-01-04
    结束时间：2018-05-31
    最后更新：2018-06-21 21:31:33

子数据库 [VOLUME]
    说明：交易量
    开始时间：2005-01-31
    结束时间：2018-05-31
    最后更新：2018-06-21 21:31:53

子数据库 [WEST_AVGNP_YOY]
    说明：一致预测净利润同比(FY2比FY1):  一致预测净利润同比=[一致预测净利润（FY2）-一致预测净利润（FY1）]/一致预测净利润（FY1）*100%
    开始时间：2005-01-04
    结束时间：2018-05-31
    最后更新：2018-06-21 21:32:36

子数据库 [WEST_AVGROE_YOY]
    说明：一致预测ROE同比: 一致预测ROE同比=一致预测ROE_FY1-ROE_FY0   注：ROE_FY0为距指定交易日最近已披露年报中ROE
    开始时间：2005-01-04
    结束时间：2018-05-31
    最后更新：2018-06-21 21:32:49

子数据库 [WEST_NETPROFIT_CAGR]
    说明：一致预测净利润2年复合增长率: 一致预测净利润2年复合增长率=(（一致预测净利润_FY2/净利润_FY0)^（1/2）-1）*100
    开始时间：2005-01-31
    结束时间：2018-05-31
    最后更新：2018-06-21 21:35:19

子数据库 [WEST_NETPROFIT_YOY]
    说明：一致预测净利润同比： 一致预测净利润同比=(一致预测净利润_FY1-净利润_FY0〕/净利润_FY0*100
    开始时间：2005-01-31
    结束时间：2018-05-31
    最后更新：2018-06-21 21:35:58

子数据库 [WEST_SALES_CAGR]
    说明：一致预测营业收入2年复合增长率: 一致预测营业收入2年复合增长率＝((一致预测营业收入_FY2/营业收入_FY0)^(1/2)-1)*100
    开始时间：2005-01-31
    结束时间：2018-05-31
    最后更新：2018-06-21 21:36:21

子数据库 [WEST_SALES_YOY]
    说明：一致预测营业收入同比: 一致预测营业收入同比＝〔一致预测营业收入_FY1-营业收入_FY0〕/营业收入_FY0*100
    开始时间：2005-01-31
    结束时间：2018-05-31
    最后更新：2018-06-21 21:36:35

子数据库 [YOYEPS_BASIC]
    说明：基本每股收益同比增长率
    开始时间：2005-03-31
    结束时间：2018-06-30
    最后更新：2018-06-21 21:41:06

子数据库 [YOYEPS_DILUTED]
    说明：稀释每股收益同比增长率
    开始时间：2005-03-31
    结束时间：2018-06-30
    最后更新：2018-06-21 21:41:06

子数据库 [YOYOCF]
    说明：经营活动产生的现金流量净额同比增长率
    开始时间：2005-03-31
    结束时间：2018-06-30
    最后更新：2018-06-21 21:41:08

子数据库 [YOYROE]
    说明：净资产收益率(摊薄)同比增长率
    开始时间：2005-03-31
    结束时间：2018-06-30
    最后更新：2018-06-21 21:41:08

数据库 [factor] 架构信息：

子数据库 [val_pe_deducted_ttm]
    说明：价值因子：市盈率(扣除非经常损益)
    开始时间：2014-01-02
    结束时间：2018-03-02
    最后更新：2018-03-12 15:46:21

子数据库 [pb_lf]
    说明：价值因子：市净率
    开始时间：2014-01-02
    结束时间：2018-03-02
    最后更新：2018-03-12 15:46:21

子数据库 [ps_ttm]
    说明：价值因子：市销率
    开始时间：2014-01-02
    结束时间：2018-03-02
    最后更新：2018-03-12 15:46:21

子数据库 [pcf_ncf_ttm]
    说明：价值因子：市现率(经营现金流ttm)
    开始时间：2014-01-02
    结束时间：2018-03-02
    最后更新：2018-03-12 15:46:21

子数据库 [dividendyield2]
    说明：价值因子：股息率
    开始时间：2014-01-02
    结束时间：2018-03-02
    最后更新：2018-03-12 15:46:21

子数据库 [ev2_to_ebitda]
    说明：价值因子：企业倍数
    开始时间：2014-01-02
    结束时间：2018-03-02
    最后更新：2018-03-12 15:46:21

数据库 [factor_return] 架构信息：

子数据库 [BETA]
    说明：系统风险因子的收益
    开始时间：2014-01-03
    结束时间：2018-03-02
    最后更新：2018-03-12 16:16:11

子数据库 [CURRENT]
    说明：短期偿债能力因子的收益
    开始时间：2014-01-03
    结束时间：2018-03-02
    最后更新：2018-03-12 16:20:32

子数据库 [DEBTTOASSETS]
    说明：长期偿债因子的收益
    开始时间：2014-01-03
    结束时间：2018-03-02
    最后更新：2018-03-12 16:24:17

子数据库 [EBITOFREVENUE]
    说明：EBIT盈利因子的收益
    开始时间：2014-01-03
    结束时间：2018-03-02
    最后更新：2018-03-12 16:26:06

子数据库 [GROWTH]
    说明：成长因子的收益
    开始时间：2014-01-03
    结束时间：2018-03-02
    最后更新：2018-03-14 16:14:57

子数据库 [LEVERAGE]
    说明：杠杠因子的收益
    开始时间：2014-01-03
    结束时间：2018-03-02
    最后更新：2018-03-12 16:31:13

子数据库 [LIQ]
    说明：流动性因子的收益
    开始时间：2014-01-03
    结束时间：2018-03-02
    最后更新：2018-03-12 16:32:57

子数据库 [MOM]
    说明：动能因子的收益
    开始时间：2014-01-03
    结束时间：2018-03-02
    最后更新：2018-03-12 16:34:46

子数据库 [PROFIT]
    说明：综合盈利因子的收益
    开始时间：2014-01-03
    结束时间：2018-03-02
    最后更新：2018-03-12 16:36:37

子数据库 [ROE]
    说明：ROE盈利因子的收益
    开始时间：2014-01-03
    结束时间：2018-03-02
    最后更新：2018-03-12 16:40:37

子数据库 [SIZE]
    说明：规模因子的收益
    开始时间：2014-01-03
    结束时间：2018-03-02
    最后更新：2018-03-12 16:42:28

子数据库 [VALUE]
    说明：价值因子的收益
    开始时间：2014-01-03
    结束时间：2018-03-02
    最后更新：2018-03-12 16:44:18

子数据库 [VOL]
    说明：波动性因子的收益
    开始时间：2014-01-03
    结束时间：2018-03-02
    最后更新：2018-03-12 16:46:02

---

# 待更新日期

In [2]:
start = "2005-04-01"
end = "2018-06-31"
trading_days = fk.get_monthly_last_trading_days(start=start, end=end)
# trading_days = fk.get_monthly_last_trading_days(start=start, end=end)
#trading_days = list(set(fk.get_trading_days(start=start, end=end)).union(set(fk.get_report_days(start=start, end=end))))
trading_days = sorted(trading_days)

In [3]:
a = pd.DataFrame(DataAPI.schema.get_schema("indicator")).T
inds_ts = a[a.type == "时间序列"].index.tolist()
inds_fr = a[a.type == "财报数据"].index.tolist()

---

# indicator

In [4]:
indicators = inds_ts  # 为空表示更新所有存在的indicator
DataAPI.write.update_indicators(indicators, trading_days, override=False, log=True)

[INFO] 2018-06-28 19:27:26 Updating indicator ADJFACTOR
[INFO] 2018-06-28 19:27:26 E:\02_work\sw\db\indicator\2005.db is connected.
[INFO] 2018-06-28 19:27:26 SELECT DISTINCT(date) FROM ADJFACTOR WHERE date in ('2005-04-29', '2005-05-31', '2005-06-30', '2005-07-29', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-30')
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2005-04-29 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2005-05-31 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2005-06-30 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2005-07-29 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2005-08-31 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2005-09-30 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2005-10-31 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2005-11-30 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2005-12-30 is existed.
[INFO] 2018-06-28 19:27:26 E:\02_work\sw\db\indicator\2005.db is disconnected.
[INFO] 2018-06-28 19:27:26 E:\02_work\sw\db\indicator\2006.db is connected.
[INFO] 2018-06-28 19:27:26 SELECT DISTINCT(date) FROM ADJFACTOR WHERE date in ('2006-01-25', '2006-02-28', '2006-03-31', '2006-04-28', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-29', '2006-10-31', '2006-11-30', '2006-12-29')
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2006-01-25 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2006-02-28 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2006-03-31 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2006-04-28 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2006-05-31 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2006-06-30 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2006-07-31 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2006-08-31 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2006-09-29 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2006-10-31 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2006-11-30 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2006-12-29 is existed.
[INFO] 2018-06-28 19:27:26 E:\02_work\sw\db\indicator\2006.db is disconnected.
[INFO] 2018-06-28 19:27:26 E:\02_work\sw\db\indicator\2007.db is connected.
[INFO] 2018-06-28 19:27:26 SELECT DISTINCT(date) FROM ADJFACTOR WHERE date in ('2007-01-31', '2007-02-28', '2007-03-30', '2007-04-30', '2007-05-31', '2007-06-29', '2007-07-31', '2007-08-31', '2007-09-28', '2007-10-31', '2007-11-30', '2007-12-28')
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2007-01-31 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2007-02-28 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2007-03-30 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2007-04-30 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2007-05-31 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2007-06-29 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2007-07-31 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2007-08-31 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2007-09-28 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2007-10-31 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2007-11-30 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2007-12-28 is existed.
[INFO] 2018-06-28 19:27:26 E:\02_work\sw\db\indicator\2007.db is disconnected.
[INFO] 2018-06-28 19:27:26 E:\02_work\sw\db\indicator\2008.db is connected.
[INFO] 2018-06-28 19:27:26 SELECT DISTINCT(date) FROM ADJFACTOR WHERE date in ('2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-30', '2008-06-30', '2008-07-31', '2008-08-29', '2008-09-26', '2008-10-31', '2008-11-28', '2008-12-31')
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2008-01-31 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2008-02-29 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2008-03-31 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2008-04-30 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2008-05-30 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2008-06-30 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2008-07-31 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2008-08-29 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2008-09-26 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2008-10-31 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2008-11-28 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2008-12-31 is existed.
[INFO] 2018-06-28 19:27:26 E:\02_work\sw\db\indicator\2008.db is disconnected.
[INFO] 2018-06-28 19:27:26 E:\02_work\sw\db\indicator\2009.db is connected.
[INFO] 2018-06-28 19:27:26 SELECT DISTINCT(date) FROM ADJFACTOR WHERE date in ('2009-01-23', '2009-02-27', '2009-03-31', '2009-04-30', '2009-05-27', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-30', '2009-11-30', '2009-12-31')
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2009-01-23 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2009-02-27 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2009-03-31 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2009-04-30 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2009-05-27 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2009-06-30 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2009-07-31 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2009-08-31 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2009-09-30 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2009-10-30 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2009-11-30 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2009-12-31 is existed.
[INFO] 2018-06-28 19:27:26 E:\02_work\sw\db\indicator\2009.db is disconnected.
[INFO] 2018-06-28 19:27:26 E:\02_work\sw\db\indicator\2010.db is connected.
[INFO] 2018-06-28 19:27:26 SELECT DISTINCT(date) FROM ADJFACTOR WHERE date in ('2010-01-29', '2010-02-26', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-30', '2010-08-31', '2010-09-30', '2010-10-29', '2010-11-30', '2010-12-31')
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2010-01-29 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2010-02-26 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2010-03-31 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2010-04-30 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2010-05-31 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2010-06-30 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2010-07-30 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2010-08-31 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2010-09-30 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2010-10-29 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2010-11-30 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2010-12-31 is existed.
[INFO] 2018-06-28 19:27:26 E:\02_work\sw\db\indicator\2010.db is disconnected.
[INFO] 2018-06-28 19:27:26 E:\02_work\sw\db\indicator\2011.db is connected.
[INFO] 2018-06-28 19:27:26 SELECT DISTINCT(date) FROM ADJFACTOR WHERE date in ('2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29', '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30')

[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2011-01-31 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2011-02-28 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2011-03-31 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2011-04-29 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2011-05-31 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2011-06-30 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2011-07-29 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2011-08-31 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2011-09-30 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2011-10-31 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2011-11-30 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2011-12-30 is existed.
[INFO] 2018-06-28 19:27:26 E:\02_work\sw\db\indicator\2011.db is disconnected.
[INFO] 2018-06-28 19:27:26 E:\02_work\sw\db\indicator\2012.db is connected.
[INFO] 2018-06-28 19:27:26 SELECT DISTINCT(date) FROM ADJFACTOR WHERE date in ('2012-01-31', '2012-02-29', '2012-03-30', '2012-04-27', '2012-05-31', '2012-06-29', '2012-07-31', '2012-08-31', '2012-09-28', '2012-10-31', '2012-11-30', '2012-12-31')
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2012-01-31 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2012-02-29 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2012-03-30 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2012-04-27 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2012-05-31 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2012-06-29 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2012-07-31 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2012-08-31 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2012-09-28 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2012-10-31 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2012-11-30 is existed.
[WARN] 2018-06-28 19:27:26 ADJFACTOR records on 2012-12-31 is existed.
[INFO] 2018-06-28 19:27:26 E:\02_work\sw\db\indicator\2012.db is disconnected.
[INFO] 2018-06-28 19:27:26 E:\02_work\sw\db\indicator\2013.db is connected.
[INFO] 2018-06-28 19:27:26 SELECT DISTINCT(date) FROM ADJFACTOR WHERE date in ('2013-01-31', '2013-02-28', '2013-03-29', '2013-04-26', '2013-05-31', '2013-06-28', '2013-07-31', '2013-08-30', '2013-09-30', '2013-10-31', '2013-11-29', '2013-12-31')
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2013-01-31 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2013-02-28 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2013-03-29 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2013-04-26 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2013-05-31 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2013-06-28 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2013-07-31 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2013-08-30 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2013-09-30 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2013-10-31 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2013-11-29 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2013-12-31 is existed.
[INFO] 2018-06-28 19:27:27 E:\02_work\sw\db\indicator\2013.db is disconnected.
[INFO] 2018-06-28 19:27:27 E:\02_work\sw\db\indicator\2014.db is connected.
[INFO] 2018-06-28 19:27:27 SELECT DISTINCT(date) FROM ADJFACTOR WHERE date in ('2014-01-30', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-30', '2014-06-30', '2014-07-31', '2014-08-29', '2014-09-30', '2014-10-31', '2014-11-28', '2014-12-31')
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2014-01-30 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2014-02-28 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2014-03-31 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2014-04-30 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2014-05-30 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2014-06-30 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2014-07-31 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2014-08-29 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2014-09-30 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2014-10-31 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2014-11-28 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2014-12-31 is existed.
[INFO] 2018-06-28 19:27:27 E:\02_work\sw\db\indicator\2014.db is disconnected.
[INFO] 2018-06-28 19:27:27 E:\02_work\sw\db\indicator\2015.db is connected.
[INFO] 2018-06-28 19:27:27 SELECT DISTINCT(date) FROM ADJFACTOR WHERE date in ('2015-01-30', '2015-02-27', '2015-03-31', '2015-04-30', '2015-05-29', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-30', '2015-11-30', '2015-12-31')
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2015-01-30 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2015-02-27 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2015-03-31 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2015-04-30 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2015-05-29 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2015-06-30 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2015-07-31 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2015-08-31 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2015-09-30 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2015-10-30 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2015-11-30 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2015-12-31 is existed.
[INFO] 2018-06-28 19:27:27 E:\02_work\sw\db\indicator\2015.db is disconnected.
[INFO] 2018-06-28 19:27:27 E:\02_work\sw\db\indicator\2016.db is connected.
[INFO] 2018-06-28 19:27:27 SELECT DISTINCT(date) FROM ADJFACTOR WHERE date in ('2016-01-29', '2016-02-29', '2016-03-31', '2016-04-29', '2016-05-31', '2016-06-30', '2016-07-29', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-30')
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2016-01-29 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2016-02-29 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2016-03-31 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2016-04-29 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2016-05-31 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2016-06-30 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2016-07-29 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2016-08-31 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2016-09-30 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2016-10-31 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2016-11-30 is existed.
[WARN] 2018-06-28 19:27:27 ADJFACTOR records on 2016-12-30 is existed.
[INFO] 2018-06-28 19:27:27 E:\02_work\sw\db\indicator\2016.db is disconnected.
[INFO] 2018-06-28 19:27:27 E:\02_work\sw\db\indicator\2017.db is connected.
[INFO] 2018-06-28 19:27:27 SELECT DISTINCT(date) FROM ADJFACTOR WHERE date in ('2017-01-26', '2017-02-28', '2017-03-31', '2017-04-28', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-29', '2017-10-31', '2017-11-30', '2017-12-29')

[WARN] 2018-06-28 19:27:28 ADJFACTOR records on 2017-01-26 is existed.
[WARN] 2018-06-28 19:27:28 ADJFACTOR records on 2017-02-28 is existed.
[WARN] 2018-06-28 19:27:28 ADJFACTOR records on 2017-03-31 is existed.
[WARN] 2018-06-28 19:27:28 ADJFACTOR records on 2017-04-28 is existed.
[WARN] 2018-06-28 19:27:28 ADJFACTOR records on 2017-05-31 is existed.
[WARN] 2018-06-28 19:27:28 ADJFACTOR records on 2017-06-30 is existed.
[WARN] 2018-06-28 19:27:28 ADJFACTOR records on 2017-07-31 is existed.
[WARN] 2018-06-28 19:27:28 ADJFACTOR records on 2017-08-31 is existed.
[WARN] 2018-06-28 19:27:28 ADJFACTOR records on 2017-09-29 is existed.
[WARN] 2018-06-28 19:27:28 ADJFACTOR records on 2017-10-31 is existed.
[WARN] 2018-06-28 19:27:28 ADJFACTOR records on 2017-11-30 is existed.
[WARN] 2018-06-28 19:27:28 ADJFACTOR records on 2017-12-29 is existed.
[INFO] 2018-06-28 19:27:28 E:\02_work\sw\db\indicator\2017.db is disconnected.
[INFO] 2018-06-28 19:27:28 E:\02_work\sw\db\indicator\2018.db is connected.
[INFO] 2018-06-28 19:27:28 SELECT DISTINCT(date) FROM ADJFACTOR WHERE date in ('2018-01-31', '2018-02-28', '2018-03-30', '2018-04-27', '2018-05-31')
[WARN] 2018-06-28 19:27:28 ADJFACTOR records on 2018-01-31 is existed.
[WARN] 2018-06-28 19:27:28 ADJFACTOR records on 2018-02-28 is existed.
[WARN] 2018-06-28 19:27:28 ADJFACTOR records on 2018-03-30 is existed.
[WARN] 2018-06-28 19:27:28 ADJFACTOR records on 2018-04-27 is existed.
[WARN] 2018-06-28 19:27:28 ADJFACTOR records on 2018-05-31 is existed.
[INFO] 2018-06-28 19:27:28 E:\02_work\sw\db\indicator\2018.db is disconnected.
[INFO] 2018-06-28 19:27:35 schema updated: ADJFACTOR
[INFO] 2018-06-28 19:27:35 indicator ADJFACTOR is updated.
[INFO] 2018-06-28 19:27:35 ------------------------------------------
[INFO] 2018-06-28 19:27:35 Updating indicator AMT
[INFO] 2018-06-28 19:27:35 E:\02_work\sw\db\indicator\2005.db is connected.
[INFO] 2018-06-28 19:27:35 SELECT DISTINCT(date) FROM AMT WHERE date in ('2005-04-29', '2005-05-31', '2005-06-30', '2005-07-29', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-30')
[WARN] 2018-06-28 19:27:35 AMT records on 2005-04-29 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2005-05-31 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2005-06-30 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2005-07-29 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2005-08-31 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2005-09-30 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2005-10-31 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2005-11-30 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2005-12-30 is existed.
[INFO] 2018-06-28 19:27:35 E:\02_work\sw\db\indicator\2005.db is disconnected.
[INFO] 2018-06-28 19:27:35 E:\02_work\sw\db\indicator\2006.db is connected.
[INFO] 2018-06-28 19:27:35 SELECT DISTINCT(date) FROM AMT WHERE date in ('2006-01-25', '2006-02-28', '2006-03-31', '2006-04-28', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-29', '2006-10-31', '2006-11-30', '2006-12-29')
[WARN] 2018-06-28 19:27:35 AMT records on 2006-01-25 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2006-02-28 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2006-03-31 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2006-04-28 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2006-05-31 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2006-06-30 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2006-07-31 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2006-08-31 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2006-09-29 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2006-10-31 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2006-11-30 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2006-12-29 is existed.
[INFO] 2018-06-28 19:27:35 E:\02_work\sw\db\indicator\2006.db is disconnected.
[INFO] 2018-06-28 19:27:35 E:\02_work\sw\db\indicator\2007.db is connected.
[INFO] 2018-06-28 19:27:35 SELECT DISTINCT(date) FROM AMT WHERE date in ('2007-01-31', '2007-02-28', '2007-03-30', '2007-04-30', '2007-05-31', '2007-06-29', '2007-07-31', '2007-08-31', '2007-09-28', '2007-10-31', '2007-11-30', '2007-12-28')
[WARN] 2018-06-28 19:27:35 AMT records on 2007-01-31 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2007-02-28 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2007-03-30 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2007-04-30 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2007-05-31 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2007-06-29 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2007-07-31 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2007-08-31 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2007-09-28 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2007-10-31 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2007-11-30 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2007-12-28 is existed.
[INFO] 2018-06-28 19:27:35 E:\02_work\sw\db\indicator\2007.db is disconnected.
[INFO] 2018-06-28 19:27:35 E:\02_work\sw\db\indicator\2008.db is connected.
[INFO] 2018-06-28 19:27:35 SELECT DISTINCT(date) FROM AMT WHERE date in ('2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-30', '2008-06-30', '2008-07-31', '2008-08-29', '2008-09-26', '2008-10-31', '2008-11-28', '2008-12-31')
[WARN] 2018-06-28 19:27:35 AMT records on 2008-01-31 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2008-02-29 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2008-03-31 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2008-04-30 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2008-05-30 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2008-06-30 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2008-07-31 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2008-08-29 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2008-09-26 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2008-10-31 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2008-11-28 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2008-12-31 is existed.
[INFO] 2018-06-28 19:27:35 E:\02_work\sw\db\indicator\2008.db is disconnected.
[INFO] 2018-06-28 19:27:35 E:\02_work\sw\db\indicator\2009.db is connected.
[INFO] 2018-06-28 19:27:35 SELECT DISTINCT(date) FROM AMT WHERE date in ('2009-01-23', '2009-02-27', '2009-03-31', '2009-04-30', '2009-05-27', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-30', '2009-11-30', '2009-12-31')
[WARN] 2018-06-28 19:27:35 AMT records on 2009-01-23 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2009-02-27 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2009-03-31 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2009-04-30 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2009-05-27 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2009-06-30 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2009-07-31 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2009-08-31 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2009-09-30 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2009-10-30 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2009-11-30 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2009-12-31 is existed.
[INFO] 2018-06-28 19:27:35 E:\02_work\sw\db\indicator\2009.db is disconnected.
[INFO] 2018-06-28 19:27:35 E:\02_work\sw\db\indicator\2010.db is connected.
[INFO] 2018-06-28 19:27:35 SELECT DISTINCT(date) FROM AMT WHERE date in ('2010-01-29', '2010-02-26', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-30', '2010-08-31', '2010-09-30', '2010-10-29', '2010-11-30', '2010-12-31')
[WARN] 2018-06-28 19:27:35 AMT records on 2010-01-29 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2010-02-26 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2010-03-31 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2010-04-30 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2010-05-31 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2010-06-30 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2010-07-30 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2010-08-31 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2010-09-30 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2010-10-29 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2010-11-30 is existed.
[WARN] 2018-06-28 19:27:35 AMT records on 2010-12-31 is existed.
[INFO] 2018-06-28 19:27:35 E:\02_work\sw\db\indicator\2010.db is disconnected.
[INFO] 2018-06-28 19:27:35 E:\02_work\sw\db\indicator\2011.db is connected.
[INFO] 2018-06-28 19:27:35 SELECT DISTINCT(date) FROM AMT WHERE date in ('2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29', '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30')

[WARN] 2018-06-28 19:27:36 AMT records on 2011-01-31 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2011-02-28 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2011-03-31 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2011-04-29 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2011-05-31 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2011-06-30 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2011-07-29 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2011-08-31 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2011-09-30 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2011-10-31 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2011-11-30 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2011-12-30 is existed.
[INFO] 2018-06-28 19:27:36 E:\02_work\sw\db\indicator\2011.db is disconnected.
[INFO] 2018-06-28 19:27:36 E:\02_work\sw\db\indicator\2012.db is connected.
[INFO] 2018-06-28 19:27:36 SELECT DISTINCT(date) FROM AMT WHERE date in ('2012-01-31', '2012-02-29', '2012-03-30', '2012-04-27', '2012-05-31', '2012-06-29', '2012-07-31', '2012-08-31', '2012-09-28', '2012-10-31', '2012-11-30', '2012-12-31')
[WARN] 2018-06-28 19:27:36 AMT records on 2012-01-31 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2012-02-29 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2012-03-30 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2012-04-27 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2012-05-31 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2012-06-29 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2012-07-31 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2012-08-31 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2012-09-28 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2012-10-31 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2012-11-30 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2012-12-31 is existed.
[INFO] 2018-06-28 19:27:36 E:\02_work\sw\db\indicator\2012.db is disconnected.
[INFO] 2018-06-28 19:27:36 E:\02_work\sw\db\indicator\2013.db is connected.
[INFO] 2018-06-28 19:27:36 SELECT DISTINCT(date) FROM AMT WHERE date in ('2013-01-31', '2013-02-28', '2013-03-29', '2013-04-26', '2013-05-31', '2013-06-28', '2013-07-31', '2013-08-30', '2013-09-30', '2013-10-31', '2013-11-29', '2013-12-31')
[WARN] 2018-06-28 19:27:36 AMT records on 2013-01-31 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2013-02-28 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2013-03-29 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2013-04-26 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2013-05-31 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2013-06-28 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2013-07-31 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2013-08-30 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2013-09-30 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2013-10-31 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2013-11-29 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2013-12-31 is existed.
[INFO] 2018-06-28 19:27:36 E:\02_work\sw\db\indicator\2013.db is disconnected.
[INFO] 2018-06-28 19:27:36 E:\02_work\sw\db\indicator\2014.db is connected.
[INFO] 2018-06-28 19:27:36 SELECT DISTINCT(date) FROM AMT WHERE date in ('2014-01-30', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-30', '2014-06-30', '2014-07-31', '2014-08-29', '2014-09-30', '2014-10-31', '2014-11-28', '2014-12-31')
[WARN] 2018-06-28 19:27:36 AMT records on 2014-01-30 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2014-02-28 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2014-03-31 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2014-04-30 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2014-05-30 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2014-06-30 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2014-07-31 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2014-08-29 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2014-09-30 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2014-10-31 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2014-11-28 is existed.
[WARN] 2018-06-28 19:27:36 AMT records on 2014-12-31 is existed.
[INFO] 2018-06-28 19:27:36 E:\02_work\sw\db\indicator\2014.db is disconnected.
[INFO] 2018-06-28 19:27:36 E:\02_work\sw\db\indicator\2015.db is connected.
[INFO] 2018-06-28 19:27:36 SELECT DISTINCT(date) FROM AMT WHERE date in ('2015-01-30', '2015-02-27', '2015-03-31', '2015-04-30', '2015-05-29', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-30', '2015-11-30', '2015-12-31')
[WARN] 2018-06-28 19:27:37 AMT records on 2015-01-30 is existed.
[WARN] 2018-06-28 19:27:37 AMT records on 2015-02-27 is existed.
[WARN] 2018-06-28 19:27:37 AMT records on 2015-03-31 is existed.
[WARN] 2018-06-28 19:27:37 AMT records on 2015-04-30 is existed.
[WARN] 2018-06-28 19:27:37 AMT records on 2015-05-29 is existed.
[WARN] 2018-06-28 19:27:37 AMT records on 2015-06-30 is existed.
[WARN] 2018-06-28 19:27:37 AMT records on 2015-07-31 is existed.
[WARN] 2018-06-28 19:27:37 AMT records on 2015-08-31 is existed.
[WARN] 2018-06-28 19:27:37 AMT records on 2015-09-30 is existed.
[WARN] 2018-06-28 19:27:37 AMT records on 2015-10-30 is existed.
[WARN] 2018-06-28 19:27:37 AMT records on 2015-11-30 is existed.
[WARN] 2018-06-28 19:27:37 AMT records on 2015-12-31 is existed.
[INFO] 2018-06-28 19:27:37 E:\02_work\sw\db\indicator\2015.db is disconnected.
[INFO] 2018-06-28 19:27:37 E:\02_work\sw\db\indicator\2016.db is connected.
[INFO] 2018-06-28 19:27:37 SELECT DISTINCT(date) FROM AMT WHERE date in ('2016-01-29', '2016-02-29', '2016-03-31', '2016-04-29', '2016-05-31', '2016-06-30', '2016-07-29', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-30')
[WARN] 2018-06-28 19:27:37 AMT records on 2016-01-29 is existed.
[WARN] 2018-06-28 19:27:37 AMT records on 2016-02-29 is existed.
[WARN] 2018-06-28 19:27:37 AMT records on 2016-03-31 is existed.
[WARN] 2018-06-28 19:27:37 AMT records on 2016-04-29 is existed.
[WARN] 2018-06-28 19:27:37 AMT records on 2016-05-31 is existed.
[WARN] 2018-06-28 19:27:37 AMT records on 2016-06-30 is existed.
[WARN] 2018-06-28 19:27:37 AMT records on 2016-07-29 is existed.
[WARN] 2018-06-28 19:27:37 AMT records on 2016-08-31 is existed.
[WARN] 2018-06-28 19:27:37 AMT records on 2016-09-30 is existed.
[WARN] 2018-06-28 19:27:37 AMT records on 2016-10-31 is existed.
[WARN] 2018-06-28 19:27:37 AMT records on 2016-11-30 is existed.
[WARN] 2018-06-28 19:27:37 AMT records on 2016-12-30 is existed.
[INFO] 2018-06-28 19:27:37 E:\02_work\sw\db\indicator\2016.db is disconnected.
[INFO] 2018-06-28 19:27:37 E:\02_work\sw\db\indicator\2017.db is connected.
[INFO] 2018-06-28 19:27:37 SELECT DISTINCT(date) FROM AMT WHERE date in ('2017-01-26', '2017-02-28', '2017-03-31', '2017-04-28', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-29', '2017-10-31', '2017-11-30', '2017-12-29')
[WARN] 2018-06-28 19:27:37 AMT records on 2017-01-26 is existed.
[WARN] 2018-06-28 19:27:37 AMT records on 2017-02-28 is existed.
[WARN] 2018-06-28 19:27:37 AMT records on 2017-03-31 is existed.
[WARN] 2018-06-28 19:27:37 AMT records on 2017-04-28 is existed.
[WARN] 2018-06-28 19:27:37 AMT records on 2017-05-31 is existed.
[WARN] 2018-06-28 19:27:37 AMT records on 2017-06-30 is existed.
[WARN] 2018-06-28 19:27:37 AMT records on 2017-07-31 is existed.
[WARN] 2018-06-28 19:27:37 AMT records on 2017-08-31 is existed.
[WARN] 2018-06-28 19:27:37 AMT records on 2017-09-29 is existed.
[WARN] 2018-06-28 19:27:37 AMT records on 2017-10-31 is existed.
[WARN] 2018-06-28 19:27:37 AMT records on 2017-11-30 is existed.
[WARN] 2018-06-28 19:27:37 AMT records on 2017-12-29 is existed.
[INFO] 2018-06-28 19:27:37 E:\02_work\sw\db\indicator\2017.db is disconnected.
[INFO] 2018-06-28 19:27:37 E:\02_work\sw\db\indicator\2018.db is connected.
[INFO] 2018-06-28 19:27:37 SELECT DISTINCT(date) FROM AMT WHERE date in ('2018-01-31', '2018-02-28', '2018-03-30', '2018-04-27', '2018-05-31')

[WARN] 2018-06-28 19:27:37 AMT records on 2018-01-31 is existed.
[WARN] 2018-06-28 19:27:37 AMT records on 2018-02-28 is existed.
[WARN] 2018-06-28 19:27:37 AMT records on 2018-03-30 is existed.
[WARN] 2018-06-28 19:27:37 AMT records on 2018-04-27 is existed.
[WARN] 2018-06-28 19:27:37 AMT records on 2018-05-31 is existed.
[INFO] 2018-06-28 19:27:37 E:\02_work\sw\db\indicator\2018.db is disconnected.
[INFO] 2018-06-28 19:27:44 schema updated: AMT
[INFO] 2018-06-28 19:27:44 indicator AMT is updated.
[INFO] 2018-06-28 19:27:44 ------------------------------------------
[INFO] 2018-06-28 19:27:44 Updating indicator ANNUALSTDEVR_100W
[INFO] 2018-06-28 19:27:44 E:\02_work\sw\db\indicator\2005.db is connected.
[INFO] 2018-06-28 19:27:44 SELECT DISTINCT(date) FROM ANNUALSTDEVR_100W WHERE date in ('2005-04-29', '2005-05-31', '2005-06-30', '2005-07-29', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-30')
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2005-04-29 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2005-05-31 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2005-06-30 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2005-07-29 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2005-08-31 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2005-09-30 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2005-10-31 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2005-11-30 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2005-12-30 is existed.
[INFO] 2018-06-28 19:27:44 E:\02_work\sw\db\indicator\2005.db is disconnected.
[INFO] 2018-06-28 19:27:44 E:\02_work\sw\db\indicator\2006.db is connected.
[INFO] 2018-06-28 19:27:44 SELECT DISTINCT(date) FROM ANNUALSTDEVR_100W WHERE date in ('2006-01-25', '2006-02-28', '2006-03-31', '2006-04-28', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-29', '2006-10-31', '2006-11-30', '2006-12-29')
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2006-01-25 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2006-02-28 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2006-03-31 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2006-04-28 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2006-05-31 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2006-06-30 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2006-07-31 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2006-08-31 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2006-09-29 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2006-10-31 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2006-11-30 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2006-12-29 is existed.
[INFO] 2018-06-28 19:27:44 E:\02_work\sw\db\indicator\2006.db is disconnected.
[INFO] 2018-06-28 19:27:44 E:\02_work\sw\db\indicator\2007.db is connected.
[INFO] 2018-06-28 19:27:44 SELECT DISTINCT(date) FROM ANNUALSTDEVR_100W WHERE date in ('2007-01-31', '2007-02-28', '2007-03-30', '2007-04-30', '2007-05-31', '2007-06-29', '2007-07-31', '2007-08-31', '2007-09-28', '2007-10-31', '2007-11-30', '2007-12-28')
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2007-01-31 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2007-02-28 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2007-03-30 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2007-04-30 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2007-05-31 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2007-06-29 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2007-07-31 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2007-08-31 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2007-09-28 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2007-10-31 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2007-11-30 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2007-12-28 is existed.
[INFO] 2018-06-28 19:27:44 E:\02_work\sw\db\indicator\2007.db is disconnected.
[INFO] 2018-06-28 19:27:44 E:\02_work\sw\db\indicator\2008.db is connected.
[INFO] 2018-06-28 19:27:44 SELECT DISTINCT(date) FROM ANNUALSTDEVR_100W WHERE date in ('2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-30', '2008-06-30', '2008-07-31', '2008-08-29', '2008-09-26', '2008-10-31', '2008-11-28', '2008-12-31')
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2008-01-31 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2008-02-29 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2008-03-31 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2008-04-30 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2008-05-30 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2008-06-30 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2008-07-31 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2008-08-29 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2008-09-26 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2008-10-31 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2008-11-28 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2008-12-31 is existed.
[INFO] 2018-06-28 19:27:44 E:\02_work\sw\db\indicator\2008.db is disconnected.
[INFO] 2018-06-28 19:27:44 E:\02_work\sw\db\indicator\2009.db is connected.
[INFO] 2018-06-28 19:27:44 SELECT DISTINCT(date) FROM ANNUALSTDEVR_100W WHERE date in ('2009-01-23', '2009-02-27', '2009-03-31', '2009-04-30', '2009-05-27', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-30', '2009-11-30', '2009-12-31')
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2009-01-23 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2009-02-27 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2009-03-31 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2009-04-30 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2009-05-27 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2009-06-30 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2009-07-31 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2009-08-31 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2009-09-30 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2009-10-30 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2009-11-30 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2009-12-31 is existed.
[INFO] 2018-06-28 19:27:44 E:\02_work\sw\db\indicator\2009.db is disconnected.
[INFO] 2018-06-28 19:27:44 E:\02_work\sw\db\indicator\2010.db is connected.
[INFO] 2018-06-28 19:27:44 SELECT DISTINCT(date) FROM ANNUALSTDEVR_100W WHERE date in ('2010-01-29', '2010-02-26', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-30', '2010-08-31', '2010-09-30', '2010-10-29', '2010-11-30', '2010-12-31')
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2010-01-29 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2010-02-26 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2010-03-31 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2010-04-30 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2010-05-31 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2010-06-30 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2010-07-30 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2010-08-31 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2010-09-30 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2010-10-29 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2010-11-30 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2010-12-31 is existed.
[INFO] 2018-06-28 19:27:44 E:\02_work\sw\db\indicator\2010.db is disconnected.
[INFO] 2018-06-28 19:27:44 E:\02_work\sw\db\indicator\2011.db is connected.
[INFO] 2018-06-28 19:27:44 SELECT DISTINCT(date) FROM ANNUALSTDEVR_100W WHERE date in ('2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29', '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30')

[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2011-01-31 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2011-02-28 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2011-03-31 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2011-04-29 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2011-05-31 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2011-06-30 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2011-07-29 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2011-08-31 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2011-09-30 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2011-10-31 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2011-11-30 is existed.
[WARN] 2018-06-28 19:27:44 ANNUALSTDEVR_100W records on 2011-12-30 is existed.
[INFO] 2018-06-28 19:27:44 E:\02_work\sw\db\indicator\2011.db is disconnected.
[INFO] 2018-06-28 19:27:44 E:\02_work\sw\db\indicator\2012.db is connected.
[INFO] 2018-06-28 19:27:44 SELECT DISTINCT(date) FROM ANNUALSTDEVR_100W WHERE date in ('2012-01-31', '2012-02-29', '2012-03-30', '2012-04-27', '2012-05-31', '2012-06-29', '2012-07-31', '2012-08-31', '2012-09-28', '2012-10-31', '2012-11-30', '2012-12-31')
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2012-01-31 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2012-02-29 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2012-03-30 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2012-04-27 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2012-05-31 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2012-06-29 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2012-07-31 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2012-08-31 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2012-09-28 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2012-10-31 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2012-11-30 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2012-12-31 is existed.
[INFO] 2018-06-28 19:27:45 E:\02_work\sw\db\indicator\2012.db is disconnected.
[INFO] 2018-06-28 19:27:45 E:\02_work\sw\db\indicator\2013.db is connected.
[INFO] 2018-06-28 19:27:45 SELECT DISTINCT(date) FROM ANNUALSTDEVR_100W WHERE date in ('2013-01-31', '2013-02-28', '2013-03-29', '2013-04-26', '2013-05-31', '2013-06-28', '2013-07-31', '2013-08-30', '2013-09-30', '2013-10-31', '2013-11-29', '2013-12-31')
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2013-01-31 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2013-02-28 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2013-03-29 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2013-04-26 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2013-05-31 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2013-06-28 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2013-07-31 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2013-08-30 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2013-09-30 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2013-10-31 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2013-11-29 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2013-12-31 is existed.
[INFO] 2018-06-28 19:27:45 E:\02_work\sw\db\indicator\2013.db is disconnected.
[INFO] 2018-06-28 19:27:45 E:\02_work\sw\db\indicator\2014.db is connected.
[INFO] 2018-06-28 19:27:45 SELECT DISTINCT(date) FROM ANNUALSTDEVR_100W WHERE date in ('2014-01-30', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-30', '2014-06-30', '2014-07-31', '2014-08-29', '2014-09-30', '2014-10-31', '2014-11-28', '2014-12-31')
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2014-01-30 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2014-02-28 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2014-03-31 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2014-04-30 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2014-05-30 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2014-06-30 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2014-07-31 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2014-08-29 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2014-09-30 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2014-10-31 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2014-11-28 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2014-12-31 is existed.
[INFO] 2018-06-28 19:27:45 E:\02_work\sw\db\indicator\2014.db is disconnected.
[INFO] 2018-06-28 19:27:45 E:\02_work\sw\db\indicator\2015.db is connected.
[INFO] 2018-06-28 19:27:45 SELECT DISTINCT(date) FROM ANNUALSTDEVR_100W WHERE date in ('2015-01-30', '2015-02-27', '2015-03-31', '2015-04-30', '2015-05-29', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-30', '2015-11-30', '2015-12-31')
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2015-01-30 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2015-02-27 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2015-03-31 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2015-04-30 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2015-05-29 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2015-06-30 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2015-07-31 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2015-08-31 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2015-09-30 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2015-10-30 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2015-11-30 is existed.
[WARN] 2018-06-28 19:27:45 ANNUALSTDEVR_100W records on 2015-12-31 is existed.
[INFO] 2018-06-28 19:27:45 E:\02_work\sw\db\indicator\2015.db is disconnected.
[INFO] 2018-06-28 19:27:45 E:\02_work\sw\db\indicator\2016.db is connected.
[INFO] 2018-06-28 19:27:45 SELECT DISTINCT(date) FROM ANNUALSTDEVR_100W WHERE date in ('2016-01-29', '2016-02-29', '2016-03-31', '2016-04-29', '2016-05-31', '2016-06-30', '2016-07-29', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-30')
[WARN] 2018-06-28 19:27:46 ANNUALSTDEVR_100W records on 2016-01-29 is existed.
[WARN] 2018-06-28 19:27:46 ANNUALSTDEVR_100W records on 2016-02-29 is existed.
[WARN] 2018-06-28 19:27:46 ANNUALSTDEVR_100W records on 2016-03-31 is existed.
[WARN] 2018-06-28 19:27:46 ANNUALSTDEVR_100W records on 2016-04-29 is existed.
[WARN] 2018-06-28 19:27:46 ANNUALSTDEVR_100W records on 2016-05-31 is existed.
[WARN] 2018-06-28 19:27:46 ANNUALSTDEVR_100W records on 2016-06-30 is existed.
[WARN] 2018-06-28 19:27:46 ANNUALSTDEVR_100W records on 2016-07-29 is existed.
[WARN] 2018-06-28 19:27:46 ANNUALSTDEVR_100W records on 2016-08-31 is existed.
[WARN] 2018-06-28 19:27:46 ANNUALSTDEVR_100W records on 2016-09-30 is existed.
[WARN] 2018-06-28 19:27:46 ANNUALSTDEVR_100W records on 2016-10-31 is existed.
[WARN] 2018-06-28 19:27:46 ANNUALSTDEVR_100W records on 2016-11-30 is existed.
[WARN] 2018-06-28 19:27:46 ANNUALSTDEVR_100W records on 2016-12-30 is existed.
[INFO] 2018-06-28 19:27:46 E:\02_work\sw\db\indicator\2016.db is disconnected.
[INFO] 2018-06-28 19:27:46 E:\02_work\sw\db\indicator\2017.db is connected.
[INFO] 2018-06-28 19:27:46 SELECT DISTINCT(date) FROM ANNUALSTDEVR_100W WHERE date in ('2017-01-26', '2017-02-28', '2017-03-31', '2017-04-28', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-29', '2017-10-31', '2017-11-30', '2017-12-29')
[WARN] 2018-06-28 19:27:46 ANNUALSTDEVR_100W records on 2017-01-26 is existed.
[WARN] 2018-06-28 19:27:46 ANNUALSTDEVR_100W records on 2017-02-28 is existed.
[WARN] 2018-06-28 19:27:46 ANNUALSTDEVR_100W records on 2017-03-31 is existed.
[WARN] 2018-06-28 19:27:46 ANNUALSTDEVR_100W records on 2017-04-28 is existed.
[WARN] 2018-06-28 19:27:46 ANNUALSTDEVR_100W records on 2017-05-31 is existed.
[WARN] 2018-06-28 19:27:46 ANNUALSTDEVR_100W records on 2017-06-30 is existed.
[WARN] 2018-06-28 19:27:46 ANNUALSTDEVR_100W records on 2017-07-31 is existed.
[WARN] 2018-06-28 19:27:46 ANNUALSTDEVR_100W records on 2017-08-31 is existed.
[WARN] 2018-06-28 19:27:46 ANNUALSTDEVR_100W records on 2017-09-29 is existed.
[WARN] 2018-06-28 19:27:46 ANNUALSTDEVR_100W records on 2017-10-31 is existed.
[WARN] 2018-06-28 19:27:46 ANNUALSTDEVR_100W records on 2017-11-30 is existed.
[WARN] 2018-06-28 19:27:46 ANNUALSTDEVR_100W records on 2017-12-29 is existed.
[INFO] 2018-06-28 19:27:46 E:\02_work\sw\db\indicator\2017.db is disconnected.
[INFO] 2018-06-28 19:27:46 E:\02_work\sw\db\indicator\2018.db is connected.
[INFO] 2018-06-28 19:27:46 SELECT DISTINCT(date) FROM ANNUALSTDEVR_100W WHERE date in ('2018-01-31', '2018-02-28', '2018-03-30', '2018-04-27', '2018-05-31')
[WARN] 2018-06-28 19:27:46 ANNUALSTDEVR_100W records on 2018-01-31 is existed.
[WARN] 2018-06-28 19:27:46 ANNUALSTDEVR_100W records on 2018-02-28 is existed.
[WARN] 2018-06-28 19:27:46 ANNUALSTDEVR_100W records on 2018-03-30 is existed.
[WARN] 2018-06-28 19:27:46 ANNUALSTDEVR_100W records on 2018-04-27 is existed.
[WARN] 2018-06-28 19:27:46 ANNUALSTDEVR_100W records on 2018-05-31 is existed.
[INFO] 2018-06-28 19:27:46 E:\02_work\sw\db\indicator\2018.db is disconnected.

[INFO] 2018-06-28 19:27:53 schema updated: ANNUALSTDEVR_100W
[INFO] 2018-06-28 19:27:53 indicator ANNUALSTDEVR_100W is updated.
[INFO] 2018-06-28 19:27:53 ------------------------------------------
[INFO] 2018-06-28 19:27:53 Updating indicator ANNUALYEILD_100W
[INFO] 2018-06-28 19:27:53 E:\02_work\sw\db\indicator\2005.db is connected.
[INFO] 2018-06-28 19:27:53 SELECT DISTINCT(date) FROM ANNUALYEILD_100W WHERE date in ('2005-04-29', '2005-05-31', '2005-06-30', '2005-07-29', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-30')
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2005-04-29 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2005-05-31 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2005-06-30 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2005-07-29 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2005-08-31 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2005-09-30 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2005-10-31 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2005-11-30 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2005-12-30 is existed.
[INFO] 2018-06-28 19:27:53 E:\02_work\sw\db\indicator\2005.db is disconnected.
[INFO] 2018-06-28 19:27:53 E:\02_work\sw\db\indicator\2006.db is connected.
[INFO] 2018-06-28 19:27:53 SELECT DISTINCT(date) FROM ANNUALYEILD_100W WHERE date in ('2006-01-25', '2006-02-28', '2006-03-31', '2006-04-28', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-29', '2006-10-31', '2006-11-30', '2006-12-29')
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2006-01-25 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2006-02-28 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2006-03-31 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2006-04-28 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2006-05-31 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2006-06-30 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2006-07-31 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2006-08-31 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2006-09-29 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2006-10-31 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2006-11-30 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2006-12-29 is existed.
[INFO] 2018-06-28 19:27:53 E:\02_work\sw\db\indicator\2006.db is disconnected.
[INFO] 2018-06-28 19:27:53 E:\02_work\sw\db\indicator\2007.db is connected.
[INFO] 2018-06-28 19:27:53 SELECT DISTINCT(date) FROM ANNUALYEILD_100W WHERE date in ('2007-01-31', '2007-02-28', '2007-03-30', '2007-04-30', '2007-05-31', '2007-06-29', '2007-07-31', '2007-08-31', '2007-09-28', '2007-10-31', '2007-11-30', '2007-12-28')
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2007-01-31 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2007-02-28 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2007-03-30 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2007-04-30 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2007-05-31 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2007-06-29 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2007-07-31 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2007-08-31 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2007-09-28 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2007-10-31 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2007-11-30 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2007-12-28 is existed.
[INFO] 2018-06-28 19:27:53 E:\02_work\sw\db\indicator\2007.db is disconnected.
[INFO] 2018-06-28 19:27:53 E:\02_work\sw\db\indicator\2008.db is connected.
[INFO] 2018-06-28 19:27:53 SELECT DISTINCT(date) FROM ANNUALYEILD_100W WHERE date in ('2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-30', '2008-06-30', '2008-07-31', '2008-08-29', '2008-09-26', '2008-10-31', '2008-11-28', '2008-12-31')
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2008-01-31 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2008-02-29 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2008-03-31 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2008-04-30 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2008-05-30 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2008-06-30 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2008-07-31 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2008-08-29 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2008-09-26 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2008-10-31 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2008-11-28 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2008-12-31 is existed.
[INFO] 2018-06-28 19:27:53 E:\02_work\sw\db\indicator\2008.db is disconnected.
[INFO] 2018-06-28 19:27:53 E:\02_work\sw\db\indicator\2009.db is connected.
[INFO] 2018-06-28 19:27:53 SELECT DISTINCT(date) FROM ANNUALYEILD_100W WHERE date in ('2009-01-23', '2009-02-27', '2009-03-31', '2009-04-30', '2009-05-27', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-30', '2009-11-30', '2009-12-31')
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2009-01-23 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2009-02-27 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2009-03-31 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2009-04-30 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2009-05-27 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2009-06-30 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2009-07-31 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2009-08-31 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2009-09-30 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2009-10-30 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2009-11-30 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2009-12-31 is existed.
[INFO] 2018-06-28 19:27:53 E:\02_work\sw\db\indicator\2009.db is disconnected.
[INFO] 2018-06-28 19:27:53 E:\02_work\sw\db\indicator\2010.db is connected.
[INFO] 2018-06-28 19:27:53 SELECT DISTINCT(date) FROM ANNUALYEILD_100W WHERE date in ('2010-01-29', '2010-02-26', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-30', '2010-08-31', '2010-09-30', '2010-10-29', '2010-11-30', '2010-12-31')
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2010-01-29 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2010-02-26 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2010-03-31 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2010-04-30 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2010-05-31 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2010-06-30 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2010-07-30 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2010-08-31 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2010-09-30 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2010-10-29 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2010-11-30 is existed.
[WARN] 2018-06-28 19:27:53 ANNUALYEILD_100W records on 2010-12-31 is existed.
[INFO] 2018-06-28 19:27:53 E:\02_work\sw\db\indicator\2010.db is disconnected.
[INFO] 2018-06-28 19:27:53 E:\02_work\sw\db\indicator\2011.db is connected.
[INFO] 2018-06-28 19:27:53 SELECT DISTINCT(date) FROM ANNUALYEILD_100W WHERE date in ('2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29', '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30')

[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2011-01-31 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2011-02-28 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2011-03-31 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2011-04-29 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2011-05-31 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2011-06-30 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2011-07-29 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2011-08-31 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2011-09-30 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2011-10-31 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2011-11-30 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2011-12-30 is existed.
[INFO] 2018-06-28 19:27:54 E:\02_work\sw\db\indicator\2011.db is disconnected.
[INFO] 2018-06-28 19:27:54 E:\02_work\sw\db\indicator\2012.db is connected.
[INFO] 2018-06-28 19:27:54 SELECT DISTINCT(date) FROM ANNUALYEILD_100W WHERE date in ('2012-01-31', '2012-02-29', '2012-03-30', '2012-04-27', '2012-05-31', '2012-06-29', '2012-07-31', '2012-08-31', '2012-09-28', '2012-10-31', '2012-11-30', '2012-12-31')
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2012-01-31 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2012-02-29 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2012-03-30 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2012-04-27 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2012-05-31 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2012-06-29 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2012-07-31 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2012-08-31 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2012-09-28 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2012-10-31 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2012-11-30 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2012-12-31 is existed.
[INFO] 2018-06-28 19:27:54 E:\02_work\sw\db\indicator\2012.db is disconnected.
[INFO] 2018-06-28 19:27:54 E:\02_work\sw\db\indicator\2013.db is connected.
[INFO] 2018-06-28 19:27:54 SELECT DISTINCT(date) FROM ANNUALYEILD_100W WHERE date in ('2013-01-31', '2013-02-28', '2013-03-29', '2013-04-26', '2013-05-31', '2013-06-28', '2013-07-31', '2013-08-30', '2013-09-30', '2013-10-31', '2013-11-29', '2013-12-31')
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2013-01-31 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2013-02-28 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2013-03-29 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2013-04-26 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2013-05-31 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2013-06-28 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2013-07-31 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2013-08-30 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2013-09-30 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2013-10-31 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2013-11-29 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2013-12-31 is existed.
[INFO] 2018-06-28 19:27:54 E:\02_work\sw\db\indicator\2013.db is disconnected.
[INFO] 2018-06-28 19:27:54 E:\02_work\sw\db\indicator\2014.db is connected.
[INFO] 2018-06-28 19:27:54 SELECT DISTINCT(date) FROM ANNUALYEILD_100W WHERE date in ('2014-01-30', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-30', '2014-06-30', '2014-07-31', '2014-08-29', '2014-09-30', '2014-10-31', '2014-11-28', '2014-12-31')
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2014-01-30 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2014-02-28 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2014-03-31 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2014-04-30 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2014-05-30 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2014-06-30 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2014-07-31 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2014-08-29 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2014-09-30 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2014-10-31 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2014-11-28 is existed.
[WARN] 2018-06-28 19:27:54 ANNUALYEILD_100W records on 2014-12-31 is existed.
[INFO] 2018-06-28 19:27:54 E:\02_work\sw\db\indicator\2014.db is disconnected.
[INFO] 2018-06-28 19:27:54 E:\02_work\sw\db\indicator\2015.db is connected.
[INFO] 2018-06-28 19:27:54 SELECT DISTINCT(date) FROM ANNUALYEILD_100W WHERE date in ('2015-01-30', '2015-02-27', '2015-03-31', '2015-04-30', '2015-05-29', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-30', '2015-11-30', '2015-12-31')
[WARN] 2018-06-28 19:27:55 ANNUALYEILD_100W records on 2015-01-30 is existed.
[WARN] 2018-06-28 19:27:55 ANNUALYEILD_100W records on 2015-02-27 is existed.
[WARN] 2018-06-28 19:27:55 ANNUALYEILD_100W records on 2015-03-31 is existed.
[WARN] 2018-06-28 19:27:55 ANNUALYEILD_100W records on 2015-04-30 is existed.
[WARN] 2018-06-28 19:27:55 ANNUALYEILD_100W records on 2015-05-29 is existed.
[WARN] 2018-06-28 19:27:55 ANNUALYEILD_100W records on 2015-06-30 is existed.
[WARN] 2018-06-28 19:27:55 ANNUALYEILD_100W records on 2015-07-31 is existed.
[WARN] 2018-06-28 19:27:55 ANNUALYEILD_100W records on 2015-08-31 is existed.
[WARN] 2018-06-28 19:27:55 ANNUALYEILD_100W records on 2015-09-30 is existed.
[WARN] 2018-06-28 19:27:55 ANNUALYEILD_100W records on 2015-10-30 is existed.
[WARN] 2018-06-28 19:27:55 ANNUALYEILD_100W records on 2015-11-30 is existed.
[WARN] 2018-06-28 19:27:55 ANNUALYEILD_100W records on 2015-12-31 is existed.
[INFO] 2018-06-28 19:27:55 E:\02_work\sw\db\indicator\2015.db is disconnected.
[INFO] 2018-06-28 19:27:55 E:\02_work\sw\db\indicator\2016.db is connected.
[INFO] 2018-06-28 19:27:55 SELECT DISTINCT(date) FROM ANNUALYEILD_100W WHERE date in ('2016-01-29', '2016-02-29', '2016-03-31', '2016-04-29', '2016-05-31', '2016-06-30', '2016-07-29', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-30')
[WARN] 2018-06-28 19:27:55 ANNUALYEILD_100W records on 2016-01-29 is existed.
[WARN] 2018-06-28 19:27:55 ANNUALYEILD_100W records on 2016-02-29 is existed.
[WARN] 2018-06-28 19:27:55 ANNUALYEILD_100W records on 2016-03-31 is existed.
[WARN] 2018-06-28 19:27:55 ANNUALYEILD_100W records on 2016-04-29 is existed.
[WARN] 2018-06-28 19:27:55 ANNUALYEILD_100W records on 2016-05-31 is existed.
[WARN] 2018-06-28 19:27:55 ANNUALYEILD_100W records on 2016-06-30 is existed.
[WARN] 2018-06-28 19:27:55 ANNUALYEILD_100W records on 2016-07-29 is existed.
[WARN] 2018-06-28 19:27:55 ANNUALYEILD_100W records on 2016-08-31 is existed.
[WARN] 2018-06-28 19:27:55 ANNUALYEILD_100W records on 2016-09-30 is existed.
[WARN] 2018-06-28 19:27:55 ANNUALYEILD_100W records on 2016-10-31 is existed.
[WARN] 2018-06-28 19:27:55 ANNUALYEILD_100W records on 2016-11-30 is existed.
[WARN] 2018-06-28 19:27:55 ANNUALYEILD_100W records on 2016-12-30 is existed.
[INFO] 2018-06-28 19:27:55 E:\02_work\sw\db\indicator\2016.db is disconnected.
[INFO] 2018-06-28 19:27:55 E:\02_work\sw\db\indicator\2017.db is connected.
[INFO] 2018-06-28 19:27:55 SELECT DISTINCT(date) FROM ANNUALYEILD_100W WHERE date in ('2017-01-26', '2017-02-28', '2017-03-31', '2017-04-28', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-29', '2017-10-31', '2017-11-30', '2017-12-29')
[WARN] 2018-06-28 19:27:55 ANNUALYEILD_100W records on 2017-01-26 is existed.
[WARN] 2018-06-28 19:27:55 ANNUALYEILD_100W records on 2017-02-28 is existed.
[WARN] 2018-06-28 19:27:55 ANNUALYEILD_100W records on 2017-03-31 is existed.
[WARN] 2018-06-28 19:27:55 ANNUALYEILD_100W records on 2017-04-28 is existed.
[WARN] 2018-06-28 19:27:55 ANNUALYEILD_100W records on 2017-05-31 is existed.
[WARN] 2018-06-28 19:27:55 ANNUALYEILD_100W records on 2017-06-30 is existed.
[WARN] 2018-06-28 19:27:55 ANNUALYEILD_100W records on 2017-07-31 is existed.
[WARN] 2018-06-28 19:27:55 ANNUALYEILD_100W records on 2017-08-31 is existed.
[WARN] 2018-06-28 19:27:55 ANNUALYEILD_100W records on 2017-09-29 is existed.
[WARN] 2018-06-28 19:27:55 ANNUALYEILD_100W records on 2017-10-31 is existed.
[WARN] 2018-06-28 19:27:55 ANNUALYEILD_100W records on 2017-11-30 is existed.
[WARN] 2018-06-28 19:27:55 ANNUALYEILD_100W records on 2017-12-29 is existed.
[INFO] 2018-06-28 19:27:55 E:\02_work\sw\db\indicator\2017.db is disconnected.
[INFO] 2018-06-28 19:27:55 E:\02_work\sw\db\indicator\2018.db is connected.
[INFO] 2018-06-28 19:27:55 SELECT DISTINCT(date) FROM ANNUALYEILD_100W WHERE date in ('2018-01-31', '2018-02-28', '2018-03-30', '2018-04-27', '2018-05-31')

[WARN] 2018-06-28 19:27:55 ANNUALYEILD_100W records on 2018-01-31 is existed.
[WARN] 2018-06-28 19:27:55 ANNUALYEILD_100W records on 2018-02-28 is existed.
[WARN] 2018-06-28 19:27:55 ANNUALYEILD_100W records on 2018-03-30 is existed.
[WARN] 2018-06-28 19:27:55 ANNUALYEILD_100W records on 2018-04-27 is existed.
[WARN] 2018-06-28 19:27:55 ANNUALYEILD_100W records on 2018-05-31 is existed.
[INFO] 2018-06-28 19:27:55 E:\02_work\sw\db\indicator\2018.db is disconnected.
[INFO] 2018-06-28 19:28:03 schema updated: ANNUALYEILD_100W
[INFO] 2018-06-28 19:28:03 indicator ANNUALYEILD_100W is updated.
[INFO] 2018-06-28 19:28:03 ------------------------------------------
[INFO] 2018-06-28 19:28:03 Updating indicator AVG_TURN_ND
[INFO] 2018-06-28 19:28:03 E:\02_work\sw\db\indicator\2005.db is connected.
[INFO] 2018-06-28 19:28:03 SELECT DISTINCT(date) FROM AVG_TURN_ND WHERE date in ('2005-04-29', '2005-05-31', '2005-06-30', '2005-07-29', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-30')
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2005-04-29 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2005-05-31 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2005-06-30 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2005-07-29 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2005-08-31 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2005-09-30 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2005-10-31 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2005-11-30 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2005-12-30 is existed.
[INFO] 2018-06-28 19:28:03 E:\02_work\sw\db\indicator\2005.db is disconnected.
[INFO] 2018-06-28 19:28:03 E:\02_work\sw\db\indicator\2006.db is connected.
[INFO] 2018-06-28 19:28:03 SELECT DISTINCT(date) FROM AVG_TURN_ND WHERE date in ('2006-01-25', '2006-02-28', '2006-03-31', '2006-04-28', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-29', '2006-10-31', '2006-11-30', '2006-12-29')
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2006-01-25 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2006-02-28 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2006-03-31 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2006-04-28 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2006-05-31 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2006-06-30 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2006-07-31 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2006-08-31 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2006-09-29 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2006-10-31 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2006-11-30 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2006-12-29 is existed.
[INFO] 2018-06-28 19:28:03 E:\02_work\sw\db\indicator\2006.db is disconnected.
[INFO] 2018-06-28 19:28:03 E:\02_work\sw\db\indicator\2007.db is connected.
[INFO] 2018-06-28 19:28:03 SELECT DISTINCT(date) FROM AVG_TURN_ND WHERE date in ('2007-01-31', '2007-02-28', '2007-03-30', '2007-04-30', '2007-05-31', '2007-06-29', '2007-07-31', '2007-08-31', '2007-09-28', '2007-10-31', '2007-11-30', '2007-12-28')
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2007-01-31 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2007-02-28 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2007-03-30 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2007-04-30 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2007-05-31 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2007-06-29 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2007-07-31 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2007-08-31 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2007-09-28 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2007-10-31 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2007-11-30 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2007-12-28 is existed.
[INFO] 2018-06-28 19:28:03 E:\02_work\sw\db\indicator\2007.db is disconnected.
[INFO] 2018-06-28 19:28:03 E:\02_work\sw\db\indicator\2008.db is connected.
[INFO] 2018-06-28 19:28:03 SELECT DISTINCT(date) FROM AVG_TURN_ND WHERE date in ('2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-30', '2008-06-30', '2008-07-31', '2008-08-29', '2008-09-26', '2008-10-31', '2008-11-28', '2008-12-31')
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2008-01-31 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2008-02-29 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2008-03-31 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2008-04-30 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2008-05-30 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2008-06-30 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2008-07-31 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2008-08-29 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2008-09-26 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2008-10-31 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2008-11-28 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2008-12-31 is existed.
[INFO] 2018-06-28 19:28:03 E:\02_work\sw\db\indicator\2008.db is disconnected.
[INFO] 2018-06-28 19:28:03 E:\02_work\sw\db\indicator\2009.db is connected.
[INFO] 2018-06-28 19:28:03 SELECT DISTINCT(date) FROM AVG_TURN_ND WHERE date in ('2009-01-23', '2009-02-27', '2009-03-31', '2009-04-30', '2009-05-27', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-30', '2009-11-30', '2009-12-31')
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2009-01-23 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2009-02-27 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2009-03-31 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2009-04-30 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2009-05-27 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2009-06-30 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2009-07-31 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2009-08-31 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2009-09-30 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2009-10-30 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2009-11-30 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2009-12-31 is existed.
[INFO] 2018-06-28 19:28:03 E:\02_work\sw\db\indicator\2009.db is disconnected.
[INFO] 2018-06-28 19:28:03 E:\02_work\sw\db\indicator\2010.db is connected.
[INFO] 2018-06-28 19:28:03 SELECT DISTINCT(date) FROM AVG_TURN_ND WHERE date in ('2010-01-29', '2010-02-26', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-30', '2010-08-31', '2010-09-30', '2010-10-29', '2010-11-30', '2010-12-31')
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2010-01-29 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2010-02-26 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2010-03-31 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2010-04-30 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2010-05-31 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2010-06-30 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2010-07-30 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2010-08-31 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2010-09-30 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2010-10-29 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2010-11-30 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2010-12-31 is existed.
[INFO] 2018-06-28 19:28:03 E:\02_work\sw\db\indicator\2010.db is disconnected.
[INFO] 2018-06-28 19:28:03 E:\02_work\sw\db\indicator\2011.db is connected.
[INFO] 2018-06-28 19:28:03 SELECT DISTINCT(date) FROM AVG_TURN_ND WHERE date in ('2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29', '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30')

[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2011-01-31 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2011-02-28 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2011-03-31 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2011-04-29 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2011-05-31 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2011-06-30 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2011-07-29 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2011-08-31 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2011-09-30 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2011-10-31 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2011-11-30 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2011-12-30 is existed.
[INFO] 2018-06-28 19:28:03 E:\02_work\sw\db\indicator\2011.db is disconnected.
[INFO] 2018-06-28 19:28:03 E:\02_work\sw\db\indicator\2012.db is connected.
[INFO] 2018-06-28 19:28:03 SELECT DISTINCT(date) FROM AVG_TURN_ND WHERE date in ('2012-01-31', '2012-02-29', '2012-03-30', '2012-04-27', '2012-05-31', '2012-06-29', '2012-07-31', '2012-08-31', '2012-09-28', '2012-10-31', '2012-11-30', '2012-12-31')
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2012-01-31 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2012-02-29 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2012-03-30 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2012-04-27 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2012-05-31 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2012-06-29 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2012-07-31 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2012-08-31 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2012-09-28 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2012-10-31 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2012-11-30 is existed.
[WARN] 2018-06-28 19:28:03 AVG_TURN_ND records on 2012-12-31 is existed.
[INFO] 2018-06-28 19:28:03 E:\02_work\sw\db\indicator\2012.db is disconnected.
[INFO] 2018-06-28 19:28:03 E:\02_work\sw\db\indicator\2013.db is connected.
[INFO] 2018-06-28 19:28:03 SELECT DISTINCT(date) FROM AVG_TURN_ND WHERE date in ('2013-01-31', '2013-02-28', '2013-03-29', '2013-04-26', '2013-05-31', '2013-06-28', '2013-07-31', '2013-08-30', '2013-09-30', '2013-10-31', '2013-11-29', '2013-12-31')
[WARN] 2018-06-28 19:28:04 AVG_TURN_ND records on 2013-01-31 is existed.
[WARN] 2018-06-28 19:28:04 AVG_TURN_ND records on 2013-02-28 is existed.
[WARN] 2018-06-28 19:28:04 AVG_TURN_ND records on 2013-03-29 is existed.
[WARN] 2018-06-28 19:28:04 AVG_TURN_ND records on 2013-04-26 is existed.
[WARN] 2018-06-28 19:28:04 AVG_TURN_ND records on 2013-05-31 is existed.
[WARN] 2018-06-28 19:28:04 AVG_TURN_ND records on 2013-06-28 is existed.
[WARN] 2018-06-28 19:28:04 AVG_TURN_ND records on 2013-07-31 is existed.
[WARN] 2018-06-28 19:28:04 AVG_TURN_ND records on 2013-08-30 is existed.
[WARN] 2018-06-28 19:28:04 AVG_TURN_ND records on 2013-09-30 is existed.
[WARN] 2018-06-28 19:28:04 AVG_TURN_ND records on 2013-10-31 is existed.
[WARN] 2018-06-28 19:28:04 AVG_TURN_ND records on 2013-11-29 is existed.
[WARN] 2018-06-28 19:28:04 AVG_TURN_ND records on 2013-12-31 is existed.
[INFO] 2018-06-28 19:28:04 E:\02_work\sw\db\indicator\2013.db is disconnected.
[INFO] 2018-06-28 19:28:04 E:\02_work\sw\db\indicator\2014.db is connected.
[INFO] 2018-06-28 19:28:04 SELECT DISTINCT(date) FROM AVG_TURN_ND WHERE date in ('2014-01-30', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-30', '2014-06-30', '2014-07-31', '2014-08-29', '2014-09-30', '2014-10-31', '2014-11-28', '2014-12-31')
[WARN] 2018-06-28 19:28:04 AVG_TURN_ND records on 2014-01-30 is existed.
[WARN] 2018-06-28 19:28:04 AVG_TURN_ND records on 2014-02-28 is existed.
[WARN] 2018-06-28 19:28:04 AVG_TURN_ND records on 2014-03-31 is existed.
[WARN] 2018-06-28 19:28:04 AVG_TURN_ND records on 2014-04-30 is existed.
[WARN] 2018-06-28 19:28:04 AVG_TURN_ND records on 2014-05-30 is existed.
[WARN] 2018-06-28 19:28:04 AVG_TURN_ND records on 2014-06-30 is existed.
[WARN] 2018-06-28 19:28:04 AVG_TURN_ND records on 2014-07-31 is existed.
[WARN] 2018-06-28 19:28:04 AVG_TURN_ND records on 2014-08-29 is existed.
[WARN] 2018-06-28 19:28:04 AVG_TURN_ND records on 2014-09-30 is existed.
[WARN] 2018-06-28 19:28:04 AVG_TURN_ND records on 2014-10-31 is existed.
[WARN] 2018-06-28 19:28:04 AVG_TURN_ND records on 2014-11-28 is existed.
[WARN] 2018-06-28 19:28:04 AVG_TURN_ND records on 2014-12-31 is existed.
[INFO] 2018-06-28 19:28:04 E:\02_work\sw\db\indicator\2014.db is disconnected.
[INFO] 2018-06-28 19:28:04 E:\02_work\sw\db\indicator\2015.db is connected.
[INFO] 2018-06-28 19:28:04 SELECT DISTINCT(date) FROM AVG_TURN_ND WHERE date in ('2015-01-30', '2015-02-27', '2015-03-31', '2015-04-30', '2015-05-29', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-30', '2015-11-30', '2015-12-31')
[WARN] 2018-06-28 19:28:04 AVG_TURN_ND records on 2015-01-30 is existed.
[WARN] 2018-06-28 19:28:04 AVG_TURN_ND records on 2015-02-27 is existed.
[WARN] 2018-06-28 19:28:04 AVG_TURN_ND records on 2015-03-31 is existed.
[WARN] 2018-06-28 19:28:04 AVG_TURN_ND records on 2015-04-30 is existed.
[WARN] 2018-06-28 19:28:04 AVG_TURN_ND records on 2015-05-29 is existed.
[WARN] 2018-06-28 19:28:04 AVG_TURN_ND records on 2015-06-30 is existed.
[WARN] 2018-06-28 19:28:04 AVG_TURN_ND records on 2015-07-31 is existed.
[WARN] 2018-06-28 19:28:04 AVG_TURN_ND records on 2015-08-31 is existed.
[WARN] 2018-06-28 19:28:04 AVG_TURN_ND records on 2015-09-30 is existed.
[WARN] 2018-06-28 19:28:04 AVG_TURN_ND records on 2015-10-30 is existed.
[WARN] 2018-06-28 19:28:04 AVG_TURN_ND records on 2015-11-30 is existed.
[WARN] 2018-06-28 19:28:04 AVG_TURN_ND records on 2015-12-31 is existed.
[INFO] 2018-06-28 19:28:04 E:\02_work\sw\db\indicator\2015.db is disconnected.
[INFO] 2018-06-28 19:28:04 E:\02_work\sw\db\indicator\2016.db is connected.
[INFO] 2018-06-28 19:28:04 SELECT DISTINCT(date) FROM AVG_TURN_ND WHERE date in ('2016-01-29', '2016-02-29', '2016-03-31', '2016-04-29', '2016-05-31', '2016-06-30', '2016-07-29', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-30')
[WARN] 2018-06-28 19:28:05 AVG_TURN_ND records on 2016-01-29 is existed.
[WARN] 2018-06-28 19:28:05 AVG_TURN_ND records on 2016-02-29 is existed.
[WARN] 2018-06-28 19:28:05 AVG_TURN_ND records on 2016-03-31 is existed.
[WARN] 2018-06-28 19:28:05 AVG_TURN_ND records on 2016-04-29 is existed.
[WARN] 2018-06-28 19:28:05 AVG_TURN_ND records on 2016-05-31 is existed.
[WARN] 2018-06-28 19:28:05 AVG_TURN_ND records on 2016-06-30 is existed.
[WARN] 2018-06-28 19:28:05 AVG_TURN_ND records on 2016-07-29 is existed.
[WARN] 2018-06-28 19:28:05 AVG_TURN_ND records on 2016-08-31 is existed.
[WARN] 2018-06-28 19:28:05 AVG_TURN_ND records on 2016-09-30 is existed.
[WARN] 2018-06-28 19:28:05 AVG_TURN_ND records on 2016-10-31 is existed.
[WARN] 2018-06-28 19:28:05 AVG_TURN_ND records on 2016-11-30 is existed.
[WARN] 2018-06-28 19:28:05 AVG_TURN_ND records on 2016-12-30 is existed.
[INFO] 2018-06-28 19:28:05 E:\02_work\sw\db\indicator\2016.db is disconnected.
[INFO] 2018-06-28 19:28:05 E:\02_work\sw\db\indicator\2017.db is connected.
[INFO] 2018-06-28 19:28:05 SELECT DISTINCT(date) FROM AVG_TURN_ND WHERE date in ('2017-01-26', '2017-02-28', '2017-03-31', '2017-04-28', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-29', '2017-10-31', '2017-11-30', '2017-12-29')
[WARN] 2018-06-28 19:28:05 AVG_TURN_ND records on 2017-01-26 is existed.
[WARN] 2018-06-28 19:28:05 AVG_TURN_ND records on 2017-02-28 is existed.
[WARN] 2018-06-28 19:28:05 AVG_TURN_ND records on 2017-03-31 is existed.
[WARN] 2018-06-28 19:28:05 AVG_TURN_ND records on 2017-04-28 is existed.
[WARN] 2018-06-28 19:28:05 AVG_TURN_ND records on 2017-05-31 is existed.
[WARN] 2018-06-28 19:28:05 AVG_TURN_ND records on 2017-06-30 is existed.
[WARN] 2018-06-28 19:28:05 AVG_TURN_ND records on 2017-07-31 is existed.
[WARN] 2018-06-28 19:28:05 AVG_TURN_ND records on 2017-08-31 is existed.
[WARN] 2018-06-28 19:28:05 AVG_TURN_ND records on 2017-09-29 is existed.
[WARN] 2018-06-28 19:28:05 AVG_TURN_ND records on 2017-10-31 is existed.
[WARN] 2018-06-28 19:28:05 AVG_TURN_ND records on 2017-11-30 is existed.
[WARN] 2018-06-28 19:28:05 AVG_TURN_ND records on 2017-12-29 is existed.
[INFO] 2018-06-28 19:28:05 E:\02_work\sw\db\indicator\2017.db is disconnected.
[INFO] 2018-06-28 19:28:05 E:\02_work\sw\db\indicator\2018.db is connected.
[INFO] 2018-06-28 19:28:05 SELECT DISTINCT(date) FROM AVG_TURN_ND WHERE date in ('2018-01-31', '2018-02-28', '2018-03-30', '2018-04-27', '2018-05-31')

[WARN] 2018-06-28 19:28:05 AVG_TURN_ND records on 2018-01-31 is existed.
[WARN] 2018-06-28 19:28:05 AVG_TURN_ND records on 2018-02-28 is existed.
[WARN] 2018-06-28 19:28:05 AVG_TURN_ND records on 2018-03-30 is existed.
[WARN] 2018-06-28 19:28:05 AVG_TURN_ND records on 2018-04-27 is existed.
[WARN] 2018-06-28 19:28:05 AVG_TURN_ND records on 2018-05-31 is existed.
[INFO] 2018-06-28 19:28:05 E:\02_work\sw\db\indicator\2018.db is disconnected.
[INFO] 2018-06-28 19:28:12 schema updated: AVG_TURN_ND
[INFO] 2018-06-28 19:28:12 indicator AVG_TURN_ND is updated.
[INFO] 2018-06-28 19:28:12 ------------------------------------------
[INFO] 2018-06-28 19:28:12 Updating indicator BETA_100W
[INFO] 2018-06-28 19:28:12 E:\02_work\sw\db\indicator\2005.db is connected.
[INFO] 2018-06-28 19:28:12 SELECT DISTINCT(date) FROM BETA_100W WHERE date in ('2005-04-29', '2005-05-31', '2005-06-30', '2005-07-29', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-30')
[WARN] 2018-06-28 19:28:12 BETA_100W records on 2005-04-29 is existed.
[WARN] 2018-06-28 19:28:12 BETA_100W records on 2005-05-31 is existed.
[WARN] 2018-06-28 19:28:12 BETA_100W records on 2005-06-30 is existed.
[WARN] 2018-06-28 19:28:12 BETA_100W records on 2005-07-29 is existed.
[WARN] 2018-06-28 19:28:12 BETA_100W records on 2005-08-31 is existed.
[WARN] 2018-06-28 19:28:12 BETA_100W records on 2005-09-30 is existed.
[WARN] 2018-06-28 19:28:12 BETA_100W records on 2005-10-31 is existed.
[WARN] 2018-06-28 19:28:12 BETA_100W records on 2005-11-30 is existed.
[WARN] 2018-06-28 19:28:12 BETA_100W records on 2005-12-30 is existed.
[INFO] 2018-06-28 19:28:12 E:\02_work\sw\db\indicator\2005.db is disconnected.
[INFO] 2018-06-28 19:28:12 E:\02_work\sw\db\indicator\2006.db is connected.
[INFO] 2018-06-28 19:28:12 SELECT DISTINCT(date) FROM BETA_100W WHERE date in ('2006-01-25', '2006-02-28', '2006-03-31', '2006-04-28', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-29', '2006-10-31', '2006-11-30', '2006-12-29')
[WARN] 2018-06-28 19:28:12 BETA_100W records on 2006-01-25 is existed.
[WARN] 2018-06-28 19:28:12 BETA_100W records on 2006-02-28 is existed.
[WARN] 2018-06-28 19:28:12 BETA_100W records on 2006-03-31 is existed.
[WARN] 2018-06-28 19:28:12 BETA_100W records on 2006-04-28 is existed.
[WARN] 2018-06-28 19:28:12 BETA_100W records on 2006-05-31 is existed.
[WARN] 2018-06-28 19:28:12 BETA_100W records on 2006-06-30 is existed.
[WARN] 2018-06-28 19:28:12 BETA_100W records on 2006-07-31 is existed.
[WARN] 2018-06-28 19:28:12 BETA_100W records on 2006-08-31 is existed.
[WARN] 2018-06-28 19:28:12 BETA_100W records on 2006-09-29 is existed.
[WARN] 2018-06-28 19:28:12 BETA_100W records on 2006-10-31 is existed.
[WARN] 2018-06-28 19:28:12 BETA_100W records on 2006-11-30 is existed.
[WARN] 2018-06-28 19:28:12 BETA_100W records on 2006-12-29 is existed.
[INFO] 2018-06-28 19:28:12 E:\02_work\sw\db\indicator\2006.db is disconnected.
[INFO] 2018-06-28 19:28:12 E:\02_work\sw\db\indicator\2007.db is connected.
[INFO] 2018-06-28 19:28:12 SELECT DISTINCT(date) FROM BETA_100W WHERE date in ('2007-01-31', '2007-02-28', '2007-03-30', '2007-04-30', '2007-05-31', '2007-06-29', '2007-07-31', '2007-08-31', '2007-09-28', '2007-10-31', '2007-11-30', '2007-12-28')
[WARN] 2018-06-28 19:28:12 BETA_100W records on 2007-01-31 is existed.
[WARN] 2018-06-28 19:28:12 BETA_100W records on 2007-02-28 is existed.
[WARN] 2018-06-28 19:28:12 BETA_100W records on 2007-03-30 is existed.
[WARN] 2018-06-28 19:28:12 BETA_100W records on 2007-04-30 is existed.
[WARN] 2018-06-28 19:28:12 BETA_100W records on 2007-05-31 is existed.
[WARN] 2018-06-28 19:28:12 BETA_100W records on 2007-06-29 is existed.
[WARN] 2018-06-28 19:28:12 BETA_100W records on 2007-07-31 is existed.
[WARN] 2018-06-28 19:28:12 BETA_100W records on 2007-08-31 is existed.
[WARN] 2018-06-28 19:28:12 BETA_100W records on 2007-09-28 is existed.
[WARN] 2018-06-28 19:28:12 BETA_100W records on 2007-10-31 is existed.
[WARN] 2018-06-28 19:28:12 BETA_100W records on 2007-11-30 is existed.
[WARN] 2018-06-28 19:28:12 BETA_100W records on 2007-12-28 is existed.
[INFO] 2018-06-28 19:28:12 E:\02_work\sw\db\indicator\2007.db is disconnected.
[INFO] 2018-06-28 19:28:12 E:\02_work\sw\db\indicator\2008.db is connected.
[INFO] 2018-06-28 19:28:12 SELECT DISTINCT(date) FROM BETA_100W WHERE date in ('2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-30', '2008-06-30', '2008-07-31', '2008-08-29', '2008-09-26', '2008-10-31', '2008-11-28', '2008-12-31')
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2008-01-31 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2008-02-29 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2008-03-31 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2008-04-30 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2008-05-30 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2008-06-30 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2008-07-31 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2008-08-29 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2008-09-26 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2008-10-31 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2008-11-28 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2008-12-31 is existed.
[INFO] 2018-06-28 19:28:13 E:\02_work\sw\db\indicator\2008.db is disconnected.
[INFO] 2018-06-28 19:28:13 E:\02_work\sw\db\indicator\2009.db is connected.
[INFO] 2018-06-28 19:28:13 SELECT DISTINCT(date) FROM BETA_100W WHERE date in ('2009-01-23', '2009-02-27', '2009-03-31', '2009-04-30', '2009-05-27', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-30', '2009-11-30', '2009-12-31')
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2009-01-23 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2009-02-27 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2009-03-31 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2009-04-30 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2009-05-27 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2009-06-30 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2009-07-31 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2009-08-31 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2009-09-30 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2009-10-30 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2009-11-30 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2009-12-31 is existed.
[INFO] 2018-06-28 19:28:13 E:\02_work\sw\db\indicator\2009.db is disconnected.
[INFO] 2018-06-28 19:28:13 E:\02_work\sw\db\indicator\2010.db is connected.
[INFO] 2018-06-28 19:28:13 SELECT DISTINCT(date) FROM BETA_100W WHERE date in ('2010-01-29', '2010-02-26', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-30', '2010-08-31', '2010-09-30', '2010-10-29', '2010-11-30', '2010-12-31')
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2010-01-29 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2010-02-26 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2010-03-31 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2010-04-30 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2010-05-31 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2010-06-30 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2010-07-30 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2010-08-31 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2010-09-30 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2010-10-29 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2010-11-30 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2010-12-31 is existed.
[INFO] 2018-06-28 19:28:13 E:\02_work\sw\db\indicator\2010.db is disconnected.
[INFO] 2018-06-28 19:28:13 E:\02_work\sw\db\indicator\2011.db is connected.
[INFO] 2018-06-28 19:28:13 SELECT DISTINCT(date) FROM BETA_100W WHERE date in ('2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29', '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30')

[WARN] 2018-06-28 19:28:13 BETA_100W records on 2011-01-31 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2011-02-28 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2011-03-31 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2011-04-29 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2011-05-31 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2011-06-30 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2011-07-29 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2011-08-31 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2011-09-30 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2011-10-31 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2011-11-30 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2011-12-30 is existed.
[INFO] 2018-06-28 19:28:13 E:\02_work\sw\db\indicator\2011.db is disconnected.
[INFO] 2018-06-28 19:28:13 E:\02_work\sw\db\indicator\2012.db is connected.
[INFO] 2018-06-28 19:28:13 SELECT DISTINCT(date) FROM BETA_100W WHERE date in ('2012-01-31', '2012-02-29', '2012-03-30', '2012-04-27', '2012-05-31', '2012-06-29', '2012-07-31', '2012-08-31', '2012-09-28', '2012-10-31', '2012-11-30', '2012-12-31')
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2012-01-31 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2012-02-29 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2012-03-30 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2012-04-27 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2012-05-31 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2012-06-29 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2012-07-31 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2012-08-31 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2012-09-28 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2012-10-31 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2012-11-30 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2012-12-31 is existed.
[INFO] 2018-06-28 19:28:13 E:\02_work\sw\db\indicator\2012.db is disconnected.
[INFO] 2018-06-28 19:28:13 E:\02_work\sw\db\indicator\2013.db is connected.
[INFO] 2018-06-28 19:28:13 SELECT DISTINCT(date) FROM BETA_100W WHERE date in ('2013-01-31', '2013-02-28', '2013-03-29', '2013-04-26', '2013-05-31', '2013-06-28', '2013-07-31', '2013-08-30', '2013-09-30', '2013-10-31', '2013-11-29', '2013-12-31')
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2013-01-31 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2013-02-28 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2013-03-29 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2013-04-26 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2013-05-31 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2013-06-28 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2013-07-31 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2013-08-30 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2013-09-30 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2013-10-31 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2013-11-29 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2013-12-31 is existed.
[INFO] 2018-06-28 19:28:13 E:\02_work\sw\db\indicator\2013.db is disconnected.
[INFO] 2018-06-28 19:28:13 E:\02_work\sw\db\indicator\2014.db is connected.
[INFO] 2018-06-28 19:28:13 SELECT DISTINCT(date) FROM BETA_100W WHERE date in ('2014-01-30', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-30', '2014-06-30', '2014-07-31', '2014-08-29', '2014-09-30', '2014-10-31', '2014-11-28', '2014-12-31')
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2014-01-30 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2014-02-28 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2014-03-31 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2014-04-30 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2014-05-30 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2014-06-30 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2014-07-31 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2014-08-29 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2014-09-30 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2014-10-31 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2014-11-28 is existed.
[WARN] 2018-06-28 19:28:13 BETA_100W records on 2014-12-31 is existed.
[INFO] 2018-06-28 19:28:13 E:\02_work\sw\db\indicator\2014.db is disconnected.
[INFO] 2018-06-28 19:28:13 E:\02_work\sw\db\indicator\2015.db is connected.
[INFO] 2018-06-28 19:28:13 SELECT DISTINCT(date) FROM BETA_100W WHERE date in ('2015-01-30', '2015-02-27', '2015-03-31', '2015-04-30', '2015-05-29', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-30', '2015-11-30', '2015-12-31')
[WARN] 2018-06-28 19:28:14 BETA_100W records on 2015-01-30 is existed.
[WARN] 2018-06-28 19:28:14 BETA_100W records on 2015-02-27 is existed.
[WARN] 2018-06-28 19:28:14 BETA_100W records on 2015-03-31 is existed.
[WARN] 2018-06-28 19:28:14 BETA_100W records on 2015-04-30 is existed.
[WARN] 2018-06-28 19:28:14 BETA_100W records on 2015-05-29 is existed.
[WARN] 2018-06-28 19:28:14 BETA_100W records on 2015-06-30 is existed.
[WARN] 2018-06-28 19:28:14 BETA_100W records on 2015-07-31 is existed.
[WARN] 2018-06-28 19:28:14 BETA_100W records on 2015-08-31 is existed.
[WARN] 2018-06-28 19:28:14 BETA_100W records on 2015-09-30 is existed.
[WARN] 2018-06-28 19:28:14 BETA_100W records on 2015-10-30 is existed.
[WARN] 2018-06-28 19:28:14 BETA_100W records on 2015-11-30 is existed.
[WARN] 2018-06-28 19:28:14 BETA_100W records on 2015-12-31 is existed.
[INFO] 2018-06-28 19:28:14 E:\02_work\sw\db\indicator\2015.db is disconnected.
[INFO] 2018-06-28 19:28:14 E:\02_work\sw\db\indicator\2016.db is connected.
[INFO] 2018-06-28 19:28:14 SELECT DISTINCT(date) FROM BETA_100W WHERE date in ('2016-01-29', '2016-02-29', '2016-03-31', '2016-04-29', '2016-05-31', '2016-06-30', '2016-07-29', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-30')
[WARN] 2018-06-28 19:28:14 BETA_100W records on 2016-01-29 is existed.
[WARN] 2018-06-28 19:28:14 BETA_100W records on 2016-02-29 is existed.
[WARN] 2018-06-28 19:28:14 BETA_100W records on 2016-03-31 is existed.
[WARN] 2018-06-28 19:28:14 BETA_100W records on 2016-04-29 is existed.
[WARN] 2018-06-28 19:28:14 BETA_100W records on 2016-05-31 is existed.
[WARN] 2018-06-28 19:28:14 BETA_100W records on 2016-06-30 is existed.
[WARN] 2018-06-28 19:28:14 BETA_100W records on 2016-07-29 is existed.
[WARN] 2018-06-28 19:28:14 BETA_100W records on 2016-08-31 is existed.
[WARN] 2018-06-28 19:28:14 BETA_100W records on 2016-09-30 is existed.
[WARN] 2018-06-28 19:28:14 BETA_100W records on 2016-10-31 is existed.
[WARN] 2018-06-28 19:28:14 BETA_100W records on 2016-11-30 is existed.
[WARN] 2018-06-28 19:28:14 BETA_100W records on 2016-12-30 is existed.
[INFO] 2018-06-28 19:28:14 E:\02_work\sw\db\indicator\2016.db is disconnected.
[INFO] 2018-06-28 19:28:14 E:\02_work\sw\db\indicator\2017.db is connected.
[INFO] 2018-06-28 19:28:14 SELECT DISTINCT(date) FROM BETA_100W WHERE date in ('2017-01-26', '2017-02-28', '2017-03-31', '2017-04-28', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-29', '2017-10-31', '2017-11-30', '2017-12-29')
[WARN] 2018-06-28 19:28:14 BETA_100W records on 2017-01-26 is existed.
[WARN] 2018-06-28 19:28:14 BETA_100W records on 2017-02-28 is existed.
[WARN] 2018-06-28 19:28:14 BETA_100W records on 2017-03-31 is existed.
[WARN] 2018-06-28 19:28:14 BETA_100W records on 2017-04-28 is existed.
[WARN] 2018-06-28 19:28:14 BETA_100W records on 2017-05-31 is existed.
[WARN] 2018-06-28 19:28:14 BETA_100W records on 2017-06-30 is existed.
[WARN] 2018-06-28 19:28:14 BETA_100W records on 2017-07-31 is existed.
[WARN] 2018-06-28 19:28:14 BETA_100W records on 2017-08-31 is existed.
[WARN] 2018-06-28 19:28:14 BETA_100W records on 2017-09-29 is existed.
[WARN] 2018-06-28 19:28:14 BETA_100W records on 2017-10-31 is existed.
[WARN] 2018-06-28 19:28:14 BETA_100W records on 2017-11-30 is existed.
[WARN] 2018-06-28 19:28:14 BETA_100W records on 2017-12-29 is existed.
[INFO] 2018-06-28 19:28:14 E:\02_work\sw\db\indicator\2017.db is disconnected.
[INFO] 2018-06-28 19:28:14 E:\02_work\sw\db\indicator\2018.db is connected.
[INFO] 2018-06-28 19:28:14 SELECT DISTINCT(date) FROM BETA_100W WHERE date in ('2018-01-31', '2018-02-28', '2018-03-30', '2018-04-27', '2018-05-31')

[WARN] 2018-06-28 19:28:14 BETA_100W records on 2018-01-31 is existed.
[WARN] 2018-06-28 19:28:14 BETA_100W records on 2018-02-28 is existed.
[WARN] 2018-06-28 19:28:14 BETA_100W records on 2018-03-30 is existed.
[WARN] 2018-06-28 19:28:14 BETA_100W records on 2018-04-27 is existed.
[WARN] 2018-06-28 19:28:14 BETA_100W records on 2018-05-31 is existed.
[INFO] 2018-06-28 19:28:14 E:\02_work\sw\db\indicator\2018.db is disconnected.
[INFO] 2018-06-28 19:28:21 schema updated: BETA_100W
[INFO] 2018-06-28 19:28:21 indicator BETA_100W is updated.
[INFO] 2018-06-28 19:28:21 ------------------------------------------
[INFO] 2018-06-28 19:28:21 Updating indicator BIAS
[INFO] 2018-06-28 19:28:21 E:\02_work\sw\db\indicator\2005.db is connected.
[INFO] 2018-06-28 19:28:21 SELECT DISTINCT(date) FROM BIAS WHERE date in ('2005-04-29', '2005-05-31', '2005-06-30', '2005-07-29', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-30')
[WARN] 2018-06-28 19:28:21 BIAS records on 2005-04-29 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2005-05-31 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2005-06-30 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2005-07-29 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2005-08-31 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2005-09-30 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2005-10-31 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2005-11-30 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2005-12-30 is existed.
[INFO] 2018-06-28 19:28:21 E:\02_work\sw\db\indicator\2005.db is disconnected.
[INFO] 2018-06-28 19:28:21 E:\02_work\sw\db\indicator\2006.db is connected.
[INFO] 2018-06-28 19:28:21 SELECT DISTINCT(date) FROM BIAS WHERE date in ('2006-01-25', '2006-02-28', '2006-03-31', '2006-04-28', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-29', '2006-10-31', '2006-11-30', '2006-12-29')
[WARN] 2018-06-28 19:28:21 BIAS records on 2006-01-25 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2006-02-28 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2006-03-31 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2006-04-28 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2006-05-31 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2006-06-30 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2006-07-31 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2006-08-31 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2006-09-29 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2006-10-31 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2006-11-30 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2006-12-29 is existed.
[INFO] 2018-06-28 19:28:21 E:\02_work\sw\db\indicator\2006.db is disconnected.
[INFO] 2018-06-28 19:28:21 E:\02_work\sw\db\indicator\2007.db is connected.
[INFO] 2018-06-28 19:28:21 SELECT DISTINCT(date) FROM BIAS WHERE date in ('2007-01-31', '2007-02-28', '2007-03-30', '2007-04-30', '2007-05-31', '2007-06-29', '2007-07-31', '2007-08-31', '2007-09-28', '2007-10-31', '2007-11-30', '2007-12-28')
[WARN] 2018-06-28 19:28:21 BIAS records on 2007-01-31 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2007-02-28 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2007-03-30 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2007-04-30 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2007-05-31 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2007-06-29 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2007-07-31 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2007-08-31 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2007-09-28 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2007-10-31 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2007-11-30 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2007-12-28 is existed.
[INFO] 2018-06-28 19:28:21 E:\02_work\sw\db\indicator\2007.db is disconnected.
[INFO] 2018-06-28 19:28:21 E:\02_work\sw\db\indicator\2008.db is connected.
[INFO] 2018-06-28 19:28:21 SELECT DISTINCT(date) FROM BIAS WHERE date in ('2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-30', '2008-06-30', '2008-07-31', '2008-08-29', '2008-09-26', '2008-10-31', '2008-11-28', '2008-12-31')
[WARN] 2018-06-28 19:28:21 BIAS records on 2008-01-31 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2008-02-29 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2008-03-31 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2008-04-30 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2008-05-30 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2008-06-30 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2008-07-31 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2008-08-29 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2008-09-26 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2008-10-31 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2008-11-28 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2008-12-31 is existed.
[INFO] 2018-06-28 19:28:21 E:\02_work\sw\db\indicator\2008.db is disconnected.
[INFO] 2018-06-28 19:28:21 E:\02_work\sw\db\indicator\2009.db is connected.
[INFO] 2018-06-28 19:28:21 SELECT DISTINCT(date) FROM BIAS WHERE date in ('2009-01-23', '2009-02-27', '2009-03-31', '2009-04-30', '2009-05-27', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-30', '2009-11-30', '2009-12-31')
[WARN] 2018-06-28 19:28:21 BIAS records on 2009-01-23 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2009-02-27 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2009-03-31 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2009-04-30 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2009-05-27 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2009-06-30 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2009-07-31 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2009-08-31 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2009-09-30 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2009-10-30 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2009-11-30 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2009-12-31 is existed.
[INFO] 2018-06-28 19:28:21 E:\02_work\sw\db\indicator\2009.db is disconnected.
[INFO] 2018-06-28 19:28:21 E:\02_work\sw\db\indicator\2010.db is connected.
[INFO] 2018-06-28 19:28:21 SELECT DISTINCT(date) FROM BIAS WHERE date in ('2010-01-29', '2010-02-26', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-30', '2010-08-31', '2010-09-30', '2010-10-29', '2010-11-30', '2010-12-31')
[WARN] 2018-06-28 19:28:21 BIAS records on 2010-01-29 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2010-02-26 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2010-03-31 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2010-04-30 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2010-05-31 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2010-06-30 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2010-07-30 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2010-08-31 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2010-09-30 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2010-10-29 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2010-11-30 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2010-12-31 is existed.
[INFO] 2018-06-28 19:28:21 E:\02_work\sw\db\indicator\2010.db is disconnected.
[INFO] 2018-06-28 19:28:21 E:\02_work\sw\db\indicator\2011.db is connected.
[INFO] 2018-06-28 19:28:21 SELECT DISTINCT(date) FROM BIAS WHERE date in ('2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29', '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30')
[WARN] 2018-06-28 19:28:21 BIAS records on 2011-01-31 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2011-02-28 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2011-03-31 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2011-04-29 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2011-05-31 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2011-06-30 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2011-07-29 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2011-08-31 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2011-09-30 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2011-10-31 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2011-11-30 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2011-12-30 is existed.
[INFO] 2018-06-28 19:28:21 E:\02_work\sw\db\indicator\2011.db is disconnected.
[INFO] 2018-06-28 19:28:21 E:\02_work\sw\db\indicator\2012.db is connected.
[INFO] 2018-06-28 19:28:21 SELECT DISTINCT(date) FROM BIAS WHERE date in ('2012-01-31', '2012-02-29', '2012-03-30', '2012-04-27', '2012-05-31', '2012-06-29', '2012-07-31', '2012-08-31', '2012-09-28', '2012-10-31', '2012-11-30', '2012-12-31')
[WARN] 2018-06-28 19:28:21 BIAS records on 2012-01-31 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2012-02-29 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2012-03-30 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2012-04-27 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2012-05-31 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2012-06-29 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2012-07-31 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2012-08-31 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2012-09-28 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2012-10-31 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2012-11-30 is existed.
[WARN] 2018-06-28 19:28:21 BIAS records on 2012-12-31 is existed.
[INFO] 2018-06-28 19:28:21 E:\02_work\sw\db\indicator\2012.db is disconnected.
[INFO] 2018-06-28 19:28:21 E:\02_work\sw\db\indicator\2013.db is connected.
[INFO] 2018-06-28 19:28:21 SELECT DISTINCT(date) FROM BIAS WHERE date in ('2013-01-31', '2013-02-28', '2013-03-29', '2013-04-26', '2013-05-31', '2013-06-28', '2013-07-31', '2013-08-30', '2013-09-30', '2013-10-31', '2013-11-29', '2013-12-31')

[WARN] 2018-06-28 19:28:22 BIAS records on 2013-01-31 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2013-02-28 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2013-03-29 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2013-04-26 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2013-05-31 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2013-06-28 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2013-07-31 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2013-08-30 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2013-09-30 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2013-10-31 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2013-11-29 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2013-12-31 is existed.
[INFO] 2018-06-28 19:28:22 E:\02_work\sw\db\indicator\2013.db is disconnected.
[INFO] 2018-06-28 19:28:22 E:\02_work\sw\db\indicator\2014.db is connected.
[INFO] 2018-06-28 19:28:22 SELECT DISTINCT(date) FROM BIAS WHERE date in ('2014-01-30', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-30', '2014-06-30', '2014-07-31', '2014-08-29', '2014-09-30', '2014-10-31', '2014-11-28', '2014-12-31')
[WARN] 2018-06-28 19:28:22 BIAS records on 2014-01-30 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2014-02-28 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2014-03-31 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2014-04-30 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2014-05-30 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2014-06-30 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2014-07-31 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2014-08-29 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2014-09-30 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2014-10-31 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2014-11-28 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2014-12-31 is existed.
[INFO] 2018-06-28 19:28:22 E:\02_work\sw\db\indicator\2014.db is disconnected.
[INFO] 2018-06-28 19:28:22 E:\02_work\sw\db\indicator\2015.db is connected.
[INFO] 2018-06-28 19:28:22 SELECT DISTINCT(date) FROM BIAS WHERE date in ('2015-01-30', '2015-02-27', '2015-03-31', '2015-04-30', '2015-05-29', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-30', '2015-11-30', '2015-12-31')
[WARN] 2018-06-28 19:28:22 BIAS records on 2015-01-30 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2015-02-27 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2015-03-31 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2015-04-30 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2015-05-29 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2015-06-30 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2015-07-31 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2015-08-31 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2015-09-30 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2015-10-30 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2015-11-30 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2015-12-31 is existed.
[INFO] 2018-06-28 19:28:22 E:\02_work\sw\db\indicator\2015.db is disconnected.
[INFO] 2018-06-28 19:28:22 E:\02_work\sw\db\indicator\2016.db is connected.
[INFO] 2018-06-28 19:28:22 SELECT DISTINCT(date) FROM BIAS WHERE date in ('2016-01-29', '2016-02-29', '2016-03-31', '2016-04-29', '2016-05-31', '2016-06-30', '2016-07-29', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-30')
[WARN] 2018-06-28 19:28:22 BIAS records on 2016-01-29 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2016-02-29 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2016-03-31 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2016-04-29 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2016-05-31 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2016-06-30 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2016-07-29 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2016-08-31 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2016-09-30 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2016-10-31 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2016-11-30 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2016-12-30 is existed.
[INFO] 2018-06-28 19:28:22 E:\02_work\sw\db\indicator\2016.db is disconnected.
[INFO] 2018-06-28 19:28:22 E:\02_work\sw\db\indicator\2017.db is connected.
[INFO] 2018-06-28 19:28:22 SELECT DISTINCT(date) FROM BIAS WHERE date in ('2017-01-26', '2017-02-28', '2017-03-31', '2017-04-28', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-29', '2017-10-31', '2017-11-30', '2017-12-29')
[WARN] 2018-06-28 19:28:22 BIAS records on 2017-01-26 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2017-02-28 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2017-03-31 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2017-04-28 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2017-05-31 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2017-06-30 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2017-07-31 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2017-08-31 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2017-09-29 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2017-10-31 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2017-11-30 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2017-12-29 is existed.
[INFO] 2018-06-28 19:28:22 E:\02_work\sw\db\indicator\2017.db is disconnected.
[INFO] 2018-06-28 19:28:22 E:\02_work\sw\db\indicator\2018.db is connected.
[INFO] 2018-06-28 19:28:22 SELECT DISTINCT(date) FROM BIAS WHERE date in ('2018-01-31', '2018-02-28', '2018-03-30', '2018-04-27', '2018-05-31')
[WARN] 2018-06-28 19:28:22 BIAS records on 2018-01-31 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2018-02-28 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2018-03-30 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2018-04-27 is existed.
[WARN] 2018-06-28 19:28:22 BIAS records on 2018-05-31 is existed.
[INFO] 2018-06-28 19:28:22 E:\02_work\sw\db\indicator\2018.db is disconnected.
[INFO] 2018-06-28 19:28:22 schema updated: BIAS
[INFO] 2018-06-28 19:28:22 indicator BIAS is updated.
[INFO] 2018-06-28 19:28:22 ------------------------------------------
[INFO] 2018-06-28 19:28:22 Updating indicator CLOSE
[INFO] 2018-06-28 19:28:22 E:\02_work\sw\db\indicator\2005.db is connected.
[INFO] 2018-06-28 19:28:22 SELECT DISTINCT(date) FROM CLOSE WHERE date in ('2005-04-29', '2005-05-31', '2005-06-30', '2005-07-29', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-30')
[WARN] 2018-06-28 19:28:22 CLOSE records on 2005-04-29 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2005-05-31 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2005-06-30 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2005-07-29 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2005-08-31 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2005-09-30 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2005-10-31 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2005-11-30 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2005-12-30 is existed.
[INFO] 2018-06-28 19:28:22 E:\02_work\sw\db\indicator\2005.db is disconnected.
[INFO] 2018-06-28 19:28:22 E:\02_work\sw\db\indicator\2006.db is connected.
[INFO] 2018-06-28 19:28:22 SELECT DISTINCT(date) FROM CLOSE WHERE date in ('2006-01-25', '2006-02-28', '2006-03-31', '2006-04-28', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-29', '2006-10-31', '2006-11-30', '2006-12-29')
[WARN] 2018-06-28 19:28:22 CLOSE records on 2006-01-25 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2006-02-28 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2006-03-31 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2006-04-28 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2006-05-31 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2006-06-30 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2006-07-31 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2006-08-31 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2006-09-29 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2006-10-31 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2006-11-30 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2006-12-29 is existed.
[INFO] 2018-06-28 19:28:22 E:\02_work\sw\db\indicator\2006.db is disconnected.
[INFO] 2018-06-28 19:28:22 E:\02_work\sw\db\indicator\2007.db is connected.
[INFO] 2018-06-28 19:28:22 SELECT DISTINCT(date) FROM CLOSE WHERE date in ('2007-01-31', '2007-02-28', '2007-03-30', '2007-04-30', '2007-05-31', '2007-06-29', '2007-07-31', '2007-08-31', '2007-09-28', '2007-10-31', '2007-11-30', '2007-12-28')
[WARN] 2018-06-28 19:28:22 CLOSE records on 2007-01-31 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2007-02-28 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2007-03-30 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2007-04-30 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2007-05-31 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2007-06-29 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2007-07-31 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2007-08-31 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2007-09-28 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2007-10-31 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2007-11-30 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2007-12-28 is existed.
[INFO] 2018-06-28 19:28:22 E:\02_work\sw\db\indicator\2007.db is disconnected.
[INFO] 2018-06-28 19:28:22 E:\02_work\sw\db\indicator\2008.db is connected.
[INFO] 2018-06-28 19:28:22 SELECT DISTINCT(date) FROM CLOSE WHERE date in ('2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-30', '2008-06-30', '2008-07-31', '2008-08-29', '2008-09-26', '2008-10-31', '2008-11-28', '2008-12-31')
[WARN] 2018-06-28 19:28:22 CLOSE records on 2008-01-31 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2008-02-29 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2008-03-31 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2008-04-30 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2008-05-30 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2008-06-30 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2008-07-31 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2008-08-29 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2008-09-26 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2008-10-31 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2008-11-28 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2008-12-31 is existed.
[INFO] 2018-06-28 19:28:22 E:\02_work\sw\db\indicator\2008.db is disconnected.
[INFO] 2018-06-28 19:28:22 E:\02_work\sw\db\indicator\2009.db is connected.
[INFO] 2018-06-28 19:28:22 SELECT DISTINCT(date) FROM CLOSE WHERE date in ('2009-01-23', '2009-02-27', '2009-03-31', '2009-04-30', '2009-05-27', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-30', '2009-11-30', '2009-12-31')
[WARN] 2018-06-28 19:28:22 CLOSE records on 2009-01-23 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2009-02-27 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2009-03-31 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2009-04-30 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2009-05-27 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2009-06-30 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2009-07-31 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2009-08-31 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2009-09-30 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2009-10-30 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2009-11-30 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2009-12-31 is existed.
[INFO] 2018-06-28 19:28:22 E:\02_work\sw\db\indicator\2009.db is disconnected.
[INFO] 2018-06-28 19:28:22 E:\02_work\sw\db\indicator\2010.db is connected.
[INFO] 2018-06-28 19:28:22 SELECT DISTINCT(date) FROM CLOSE WHERE date in ('2010-01-29', '2010-02-26', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-30', '2010-08-31', '2010-09-30', '2010-10-29', '2010-11-30', '2010-12-31')
[WARN] 2018-06-28 19:28:22 CLOSE records on 2010-01-29 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2010-02-26 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2010-03-31 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2010-04-30 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2010-05-31 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2010-06-30 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2010-07-30 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2010-08-31 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2010-09-30 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2010-10-29 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2010-11-30 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2010-12-31 is existed.
[INFO] 2018-06-28 19:28:22 E:\02_work\sw\db\indicator\2010.db is disconnected.
[INFO] 2018-06-28 19:28:22 E:\02_work\sw\db\indicator\2011.db is connected.
[INFO] 2018-06-28 19:28:22 SELECT DISTINCT(date) FROM CLOSE WHERE date in ('2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29', '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30')

[WARN] 2018-06-28 19:28:22 CLOSE records on 2011-01-31 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2011-02-28 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2011-03-31 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2011-04-29 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2011-05-31 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2011-06-30 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2011-07-29 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2011-08-31 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2011-09-30 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2011-10-31 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2011-11-30 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2011-12-30 is existed.
[INFO] 2018-06-28 19:28:22 E:\02_work\sw\db\indicator\2011.db is disconnected.
[INFO] 2018-06-28 19:28:22 E:\02_work\sw\db\indicator\2012.db is connected.
[INFO] 2018-06-28 19:28:22 SELECT DISTINCT(date) FROM CLOSE WHERE date in ('2012-01-31', '2012-02-29', '2012-03-30', '2012-04-27', '2012-05-31', '2012-06-29', '2012-07-31', '2012-08-31', '2012-09-28', '2012-10-31', '2012-11-30', '2012-12-31')
[WARN] 2018-06-28 19:28:22 CLOSE records on 2012-01-31 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2012-02-29 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2012-03-30 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2012-04-27 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2012-05-31 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2012-06-29 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2012-07-31 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2012-08-31 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2012-09-28 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2012-10-31 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2012-11-30 is existed.
[WARN] 2018-06-28 19:28:22 CLOSE records on 2012-12-31 is existed.
[INFO] 2018-06-28 19:28:22 E:\02_work\sw\db\indicator\2012.db is disconnected.
[INFO] 2018-06-28 19:28:22 E:\02_work\sw\db\indicator\2013.db is connected.
[INFO] 2018-06-28 19:28:22 SELECT DISTINCT(date) FROM CLOSE WHERE date in ('2013-01-31', '2013-02-28', '2013-03-29', '2013-04-26', '2013-05-31', '2013-06-28', '2013-07-31', '2013-08-30', '2013-09-30', '2013-10-31', '2013-11-29', '2013-12-31')
[WARN] 2018-06-28 19:28:23 CLOSE records on 2013-01-31 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2013-02-28 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2013-03-29 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2013-04-26 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2013-05-31 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2013-06-28 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2013-07-31 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2013-08-30 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2013-09-30 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2013-10-31 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2013-11-29 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2013-12-31 is existed.
[INFO] 2018-06-28 19:28:23 E:\02_work\sw\db\indicator\2013.db is disconnected.
[INFO] 2018-06-28 19:28:23 E:\02_work\sw\db\indicator\2014.db is connected.
[INFO] 2018-06-28 19:28:23 SELECT DISTINCT(date) FROM CLOSE WHERE date in ('2014-01-30', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-30', '2014-06-30', '2014-07-31', '2014-08-29', '2014-09-30', '2014-10-31', '2014-11-28', '2014-12-31')
[WARN] 2018-06-28 19:28:23 CLOSE records on 2014-01-30 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2014-02-28 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2014-03-31 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2014-04-30 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2014-05-30 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2014-06-30 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2014-07-31 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2014-08-29 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2014-09-30 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2014-10-31 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2014-11-28 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2014-12-31 is existed.
[INFO] 2018-06-28 19:28:23 E:\02_work\sw\db\indicator\2014.db is disconnected.
[INFO] 2018-06-28 19:28:23 E:\02_work\sw\db\indicator\2015.db is connected.
[INFO] 2018-06-28 19:28:23 SELECT DISTINCT(date) FROM CLOSE WHERE date in ('2015-01-30', '2015-02-27', '2015-03-31', '2015-04-30', '2015-05-29', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-30', '2015-11-30', '2015-12-31')
[WARN] 2018-06-28 19:28:23 CLOSE records on 2015-01-30 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2015-02-27 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2015-03-31 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2015-04-30 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2015-05-29 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2015-06-30 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2015-07-31 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2015-08-31 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2015-09-30 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2015-10-30 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2015-11-30 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2015-12-31 is existed.
[INFO] 2018-06-28 19:28:23 E:\02_work\sw\db\indicator\2015.db is disconnected.
[INFO] 2018-06-28 19:28:23 E:\02_work\sw\db\indicator\2016.db is connected.
[INFO] 2018-06-28 19:28:23 SELECT DISTINCT(date) FROM CLOSE WHERE date in ('2016-01-29', '2016-02-29', '2016-03-31', '2016-04-29', '2016-05-31', '2016-06-30', '2016-07-29', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-30')
[WARN] 2018-06-28 19:28:23 CLOSE records on 2016-01-29 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2016-02-29 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2016-03-31 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2016-04-29 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2016-05-31 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2016-06-30 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2016-07-29 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2016-08-31 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2016-09-30 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2016-10-31 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2016-11-30 is existed.
[WARN] 2018-06-28 19:28:23 CLOSE records on 2016-12-30 is existed.
[INFO] 2018-06-28 19:28:23 E:\02_work\sw\db\indicator\2016.db is disconnected.
[INFO] 2018-06-28 19:28:23 E:\02_work\sw\db\indicator\2017.db is connected.
[INFO] 2018-06-28 19:28:23 SELECT DISTINCT(date) FROM CLOSE WHERE date in ('2017-01-26', '2017-02-28', '2017-03-31', '2017-04-28', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-29', '2017-10-31', '2017-11-30', '2017-12-29')
[WARN] 2018-06-28 19:28:24 CLOSE records on 2017-01-26 is existed.
[WARN] 2018-06-28 19:28:24 CLOSE records on 2017-02-28 is existed.
[WARN] 2018-06-28 19:28:24 CLOSE records on 2017-03-31 is existed.
[WARN] 2018-06-28 19:28:24 CLOSE records on 2017-04-28 is existed.
[WARN] 2018-06-28 19:28:24 CLOSE records on 2017-05-31 is existed.
[WARN] 2018-06-28 19:28:24 CLOSE records on 2017-06-30 is existed.
[WARN] 2018-06-28 19:28:24 CLOSE records on 2017-07-31 is existed.
[WARN] 2018-06-28 19:28:24 CLOSE records on 2017-08-31 is existed.
[WARN] 2018-06-28 19:28:24 CLOSE records on 2017-09-29 is existed.
[WARN] 2018-06-28 19:28:24 CLOSE records on 2017-10-31 is existed.
[WARN] 2018-06-28 19:28:24 CLOSE records on 2017-11-30 is existed.
[WARN] 2018-06-28 19:28:24 CLOSE records on 2017-12-29 is existed.
[INFO] 2018-06-28 19:28:24 E:\02_work\sw\db\indicator\2017.db is disconnected.
[INFO] 2018-06-28 19:28:24 E:\02_work\sw\db\indicator\2018.db is connected.
[INFO] 2018-06-28 19:28:24 SELECT DISTINCT(date) FROM CLOSE WHERE date in ('2018-01-31', '2018-02-28', '2018-03-30', '2018-04-27', '2018-05-31')
[WARN] 2018-06-28 19:28:24 CLOSE records on 2018-01-31 is existed.
[WARN] 2018-06-28 19:28:24 CLOSE records on 2018-02-28 is existed.
[WARN] 2018-06-28 19:28:24 CLOSE records on 2018-03-30 is existed.
[WARN] 2018-06-28 19:28:24 CLOSE records on 2018-04-27 is existed.
[WARN] 2018-06-28 19:28:24 CLOSE records on 2018-05-31 is existed.
[INFO] 2018-06-28 19:28:24 E:\02_work\sw\db\indicator\2018.db is disconnected.

[INFO] 2018-06-28 19:28:32 schema updated: CLOSE
[INFO] 2018-06-28 19:28:32 indicator CLOSE is updated.
[INFO] 2018-06-28 19:28:32 ------------------------------------------
[INFO] 2018-06-28 19:28:32 Updating indicator DOWN_DAYS
[INFO] 2018-06-28 19:28:32 E:\02_work\sw\db\indicator\2005.db is connected.
[INFO] 2018-06-28 19:28:32 SELECT DISTINCT(date) FROM DOWN_DAYS WHERE date in ('2005-04-29', '2005-05-31', '2005-06-30', '2005-07-29', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-30')
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2005-04-29 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2005-05-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2005-06-30 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2005-07-29 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2005-08-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2005-09-30 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2005-10-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2005-11-30 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2005-12-30 is existed.
[INFO] 2018-06-28 19:28:32 E:\02_work\sw\db\indicator\2005.db is disconnected.
[INFO] 2018-06-28 19:28:32 E:\02_work\sw\db\indicator\2006.db is connected.
[INFO] 2018-06-28 19:28:32 SELECT DISTINCT(date) FROM DOWN_DAYS WHERE date in ('2006-01-25', '2006-02-28', '2006-03-31', '2006-04-28', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-29', '2006-10-31', '2006-11-30', '2006-12-29')
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2006-01-25 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2006-02-28 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2006-03-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2006-04-28 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2006-05-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2006-06-30 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2006-07-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2006-08-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2006-09-29 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2006-10-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2006-11-30 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2006-12-29 is existed.
[INFO] 2018-06-28 19:28:32 E:\02_work\sw\db\indicator\2006.db is disconnected.
[INFO] 2018-06-28 19:28:32 E:\02_work\sw\db\indicator\2007.db is connected.
[INFO] 2018-06-28 19:28:32 SELECT DISTINCT(date) FROM DOWN_DAYS WHERE date in ('2007-01-31', '2007-02-28', '2007-03-30', '2007-04-30', '2007-05-31', '2007-06-29', '2007-07-31', '2007-08-31', '2007-09-28', '2007-10-31', '2007-11-30', '2007-12-28')
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2007-01-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2007-02-28 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2007-03-30 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2007-04-30 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2007-05-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2007-06-29 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2007-07-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2007-08-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2007-09-28 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2007-10-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2007-11-30 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2007-12-28 is existed.
[INFO] 2018-06-28 19:28:32 E:\02_work\sw\db\indicator\2007.db is disconnected.
[INFO] 2018-06-28 19:28:32 E:\02_work\sw\db\indicator\2008.db is connected.
[INFO] 2018-06-28 19:28:32 SELECT DISTINCT(date) FROM DOWN_DAYS WHERE date in ('2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-30', '2008-06-30', '2008-07-31', '2008-08-29', '2008-09-26', '2008-10-31', '2008-11-28', '2008-12-31')
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2008-01-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2008-02-29 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2008-03-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2008-04-30 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2008-05-30 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2008-06-30 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2008-07-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2008-08-29 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2008-09-26 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2008-10-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2008-11-28 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2008-12-31 is existed.
[INFO] 2018-06-28 19:28:32 E:\02_work\sw\db\indicator\2008.db is disconnected.
[INFO] 2018-06-28 19:28:32 E:\02_work\sw\db\indicator\2009.db is connected.
[INFO] 2018-06-28 19:28:32 SELECT DISTINCT(date) FROM DOWN_DAYS WHERE date in ('2009-01-23', '2009-02-27', '2009-03-31', '2009-04-30', '2009-05-27', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-30', '2009-11-30', '2009-12-31')
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2009-01-23 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2009-02-27 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2009-03-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2009-04-30 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2009-05-27 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2009-06-30 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2009-07-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2009-08-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2009-09-30 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2009-10-30 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2009-11-30 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2009-12-31 is existed.
[INFO] 2018-06-28 19:28:32 E:\02_work\sw\db\indicator\2009.db is disconnected.
[INFO] 2018-06-28 19:28:32 E:\02_work\sw\db\indicator\2010.db is connected.
[INFO] 2018-06-28 19:28:32 SELECT DISTINCT(date) FROM DOWN_DAYS WHERE date in ('2010-01-29', '2010-02-26', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-30', '2010-08-31', '2010-09-30', '2010-10-29', '2010-11-30', '2010-12-31')
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2010-01-29 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2010-02-26 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2010-03-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2010-04-30 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2010-05-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2010-06-30 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2010-07-30 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2010-08-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2010-09-30 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2010-10-29 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2010-11-30 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2010-12-31 is existed.
[INFO] 2018-06-28 19:28:32 E:\02_work\sw\db\indicator\2010.db is disconnected.
[INFO] 2018-06-28 19:28:32 E:\02_work\sw\db\indicator\2011.db is connected.
[INFO] 2018-06-28 19:28:32 SELECT DISTINCT(date) FROM DOWN_DAYS WHERE date in ('2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29', '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30')
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2011-01-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2011-02-28 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2011-03-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2011-04-29 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2011-05-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2011-06-30 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2011-07-29 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2011-08-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2011-09-30 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2011-10-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2011-11-30 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2011-12-30 is existed.
[INFO] 2018-06-28 19:28:32 E:\02_work\sw\db\indicator\2011.db is disconnected.
[INFO] 2018-06-28 19:28:32 E:\02_work\sw\db\indicator\2012.db is connected.
[INFO] 2018-06-28 19:28:32 SELECT DISTINCT(date) FROM DOWN_DAYS WHERE date in ('2012-01-31', '2012-02-29', '2012-03-30', '2012-04-27', '2012-05-31', '2012-06-29', '2012-07-31', '2012-08-31', '2012-09-28', '2012-10-31', '2012-11-30', '2012-12-31')

[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2012-01-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2012-02-29 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2012-03-30 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2012-04-27 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2012-05-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2012-06-29 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2012-07-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2012-08-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2012-09-28 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2012-10-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2012-11-30 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2012-12-31 is existed.
[INFO] 2018-06-28 19:28:32 E:\02_work\sw\db\indicator\2012.db is disconnected.
[INFO] 2018-06-28 19:28:32 E:\02_work\sw\db\indicator\2013.db is connected.
[INFO] 2018-06-28 19:28:32 SELECT DISTINCT(date) FROM DOWN_DAYS WHERE date in ('2013-01-31', '2013-02-28', '2013-03-29', '2013-04-26', '2013-05-31', '2013-06-28', '2013-07-31', '2013-08-30', '2013-09-30', '2013-10-31', '2013-11-29', '2013-12-31')
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2013-01-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2013-02-28 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2013-03-29 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2013-04-26 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2013-05-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2013-06-28 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2013-07-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2013-08-30 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2013-09-30 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2013-10-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2013-11-29 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2013-12-31 is existed.
[INFO] 2018-06-28 19:28:32 E:\02_work\sw\db\indicator\2013.db is disconnected.
[INFO] 2018-06-28 19:28:32 E:\02_work\sw\db\indicator\2014.db is connected.
[INFO] 2018-06-28 19:28:32 SELECT DISTINCT(date) FROM DOWN_DAYS WHERE date in ('2014-01-30', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-30', '2014-06-30', '2014-07-31', '2014-08-29', '2014-09-30', '2014-10-31', '2014-11-28', '2014-12-31')
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2014-01-30 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2014-02-28 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2014-03-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2014-04-30 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2014-05-30 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2014-06-30 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2014-07-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2014-08-29 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2014-09-30 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2014-10-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2014-11-28 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2014-12-31 is existed.
[INFO] 2018-06-28 19:28:32 E:\02_work\sw\db\indicator\2014.db is disconnected.
[INFO] 2018-06-28 19:28:32 E:\02_work\sw\db\indicator\2015.db is connected.
[INFO] 2018-06-28 19:28:32 SELECT DISTINCT(date) FROM DOWN_DAYS WHERE date in ('2015-01-30', '2015-02-27', '2015-03-31', '2015-04-30', '2015-05-29', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-30', '2015-11-30', '2015-12-31')
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2015-01-30 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2015-02-27 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2015-03-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2015-04-30 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2015-05-29 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2015-06-30 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2015-07-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2015-08-31 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2015-09-30 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2015-10-30 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2015-11-30 is existed.
[WARN] 2018-06-28 19:28:32 DOWN_DAYS records on 2015-12-31 is existed.
[INFO] 2018-06-28 19:28:32 E:\02_work\sw\db\indicator\2015.db is disconnected.
[INFO] 2018-06-28 19:28:32 E:\02_work\sw\db\indicator\2016.db is connected.
[INFO] 2018-06-28 19:28:32 SELECT DISTINCT(date) FROM DOWN_DAYS WHERE date in ('2016-01-29', '2016-02-29', '2016-03-31', '2016-04-29', '2016-05-31', '2016-06-30', '2016-07-29', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-30')
[WARN] 2018-06-28 19:28:33 DOWN_DAYS records on 2016-01-29 is existed.
[WARN] 2018-06-28 19:28:33 DOWN_DAYS records on 2016-02-29 is existed.
[WARN] 2018-06-28 19:28:33 DOWN_DAYS records on 2016-03-31 is existed.
[WARN] 2018-06-28 19:28:33 DOWN_DAYS records on 2016-04-29 is existed.
[WARN] 2018-06-28 19:28:33 DOWN_DAYS records on 2016-05-31 is existed.
[WARN] 2018-06-28 19:28:33 DOWN_DAYS records on 2016-06-30 is existed.
[WARN] 2018-06-28 19:28:33 DOWN_DAYS records on 2016-07-29 is existed.
[WARN] 2018-06-28 19:28:33 DOWN_DAYS records on 2016-08-31 is existed.
[WARN] 2018-06-28 19:28:33 DOWN_DAYS records on 2016-09-30 is existed.
[WARN] 2018-06-28 19:28:33 DOWN_DAYS records on 2016-10-31 is existed.
[WARN] 2018-06-28 19:28:33 DOWN_DAYS records on 2016-11-30 is existed.
[WARN] 2018-06-28 19:28:33 DOWN_DAYS records on 2016-12-30 is existed.
[INFO] 2018-06-28 19:28:33 E:\02_work\sw\db\indicator\2016.db is disconnected.
[INFO] 2018-06-28 19:28:33 E:\02_work\sw\db\indicator\2017.db is connected.
[INFO] 2018-06-28 19:28:33 SELECT DISTINCT(date) FROM DOWN_DAYS WHERE date in ('2017-01-26', '2017-02-28', '2017-03-31', '2017-04-28', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-29', '2017-10-31', '2017-11-30', '2017-12-29')
[WARN] 2018-06-28 19:28:33 DOWN_DAYS records on 2017-01-26 is existed.
[WARN] 2018-06-28 19:28:33 DOWN_DAYS records on 2017-02-28 is existed.
[WARN] 2018-06-28 19:28:33 DOWN_DAYS records on 2017-03-31 is existed.
[WARN] 2018-06-28 19:28:33 DOWN_DAYS records on 2017-04-28 is existed.
[WARN] 2018-06-28 19:28:33 DOWN_DAYS records on 2017-05-31 is existed.
[WARN] 2018-06-28 19:28:33 DOWN_DAYS records on 2017-06-30 is existed.
[WARN] 2018-06-28 19:28:33 DOWN_DAYS records on 2017-07-31 is existed.
[WARN] 2018-06-28 19:28:33 DOWN_DAYS records on 2017-08-31 is existed.
[WARN] 2018-06-28 19:28:33 DOWN_DAYS records on 2017-09-29 is existed.
[WARN] 2018-06-28 19:28:33 DOWN_DAYS records on 2017-10-31 is existed.
[WARN] 2018-06-28 19:28:33 DOWN_DAYS records on 2017-11-30 is existed.
[WARN] 2018-06-28 19:28:33 DOWN_DAYS records on 2017-12-29 is existed.
[INFO] 2018-06-28 19:28:33 E:\02_work\sw\db\indicator\2017.db is disconnected.
[INFO] 2018-06-28 19:28:33 E:\02_work\sw\db\indicator\2018.db is connected.
[INFO] 2018-06-28 19:28:33 SELECT DISTINCT(date) FROM DOWN_DAYS WHERE date in ('2018-01-31', '2018-02-28', '2018-03-30', '2018-04-27', '2018-05-31')
[WARN] 2018-06-28 19:28:33 DOWN_DAYS records on 2018-01-31 is existed.
[WARN] 2018-06-28 19:28:33 DOWN_DAYS records on 2018-02-28 is existed.
[WARN] 2018-06-28 19:28:33 DOWN_DAYS records on 2018-03-30 is existed.
[WARN] 2018-06-28 19:28:33 DOWN_DAYS records on 2018-04-27 is existed.
[WARN] 2018-06-28 19:28:33 DOWN_DAYS records on 2018-05-31 is existed.
[INFO] 2018-06-28 19:28:33 E:\02_work\sw\db\indicator\2018.db is disconnected.

[INFO] 2018-06-28 19:28:33 schema updated: DOWN_DAYS
[INFO] 2018-06-28 19:28:33 indicator DOWN_DAYS is updated.
[INFO] 2018-06-28 19:28:33 ------------------------------------------
[INFO] 2018-06-28 19:28:33 Updating indicator MKT_CAP_FLOAT
[INFO] 2018-06-28 19:28:33 E:\02_work\sw\db\indicator\2005.db is connected.
[INFO] 2018-06-28 19:28:33 SELECT DISTINCT(date) FROM MKT_CAP_FLOAT WHERE date in ('2005-04-29', '2005-05-31', '2005-06-30', '2005-07-29', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-30')
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2005-04-29 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2005-05-31 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2005-06-30 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2005-07-29 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2005-08-31 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2005-09-30 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2005-10-31 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2005-11-30 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2005-12-30 is existed.
[INFO] 2018-06-28 19:28:33 E:\02_work\sw\db\indicator\2005.db is disconnected.
[INFO] 2018-06-28 19:28:33 E:\02_work\sw\db\indicator\2006.db is connected.
[INFO] 2018-06-28 19:28:33 SELECT DISTINCT(date) FROM MKT_CAP_FLOAT WHERE date in ('2006-01-25', '2006-02-28', '2006-03-31', '2006-04-28', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-29', '2006-10-31', '2006-11-30', '2006-12-29')
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2006-01-25 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2006-02-28 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2006-03-31 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2006-04-28 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2006-05-31 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2006-06-30 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2006-07-31 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2006-08-31 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2006-09-29 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2006-10-31 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2006-11-30 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2006-12-29 is existed.
[INFO] 2018-06-28 19:28:33 E:\02_work\sw\db\indicator\2006.db is disconnected.
[INFO] 2018-06-28 19:28:33 E:\02_work\sw\db\indicator\2007.db is connected.
[INFO] 2018-06-28 19:28:33 SELECT DISTINCT(date) FROM MKT_CAP_FLOAT WHERE date in ('2007-01-31', '2007-02-28', '2007-03-30', '2007-04-30', '2007-05-31', '2007-06-29', '2007-07-31', '2007-08-31', '2007-09-28', '2007-10-31', '2007-11-30', '2007-12-28')
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2007-01-31 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2007-02-28 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2007-03-30 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2007-04-30 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2007-05-31 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2007-06-29 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2007-07-31 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2007-08-31 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2007-09-28 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2007-10-31 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2007-11-30 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2007-12-28 is existed.
[INFO] 2018-06-28 19:28:33 E:\02_work\sw\db\indicator\2007.db is disconnected.
[INFO] 2018-06-28 19:28:33 E:\02_work\sw\db\indicator\2008.db is connected.
[INFO] 2018-06-28 19:28:33 SELECT DISTINCT(date) FROM MKT_CAP_FLOAT WHERE date in ('2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-30', '2008-06-30', '2008-07-31', '2008-08-29', '2008-09-26', '2008-10-31', '2008-11-28', '2008-12-31')
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2008-01-31 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2008-02-29 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2008-03-31 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2008-04-30 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2008-05-30 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2008-06-30 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2008-07-31 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2008-08-29 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2008-09-26 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2008-10-31 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2008-11-28 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2008-12-31 is existed.
[INFO] 2018-06-28 19:28:33 E:\02_work\sw\db\indicator\2008.db is disconnected.
[INFO] 2018-06-28 19:28:33 E:\02_work\sw\db\indicator\2009.db is connected.
[INFO] 2018-06-28 19:28:33 SELECT DISTINCT(date) FROM MKT_CAP_FLOAT WHERE date in ('2009-01-23', '2009-02-27', '2009-03-31', '2009-04-30', '2009-05-27', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-30', '2009-11-30', '2009-12-31')
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2009-01-23 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2009-02-27 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2009-03-31 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2009-04-30 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2009-05-27 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2009-06-30 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2009-07-31 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2009-08-31 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2009-09-30 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2009-10-30 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2009-11-30 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2009-12-31 is existed.
[INFO] 2018-06-28 19:28:33 E:\02_work\sw\db\indicator\2009.db is disconnected.
[INFO] 2018-06-28 19:28:33 E:\02_work\sw\db\indicator\2010.db is connected.
[INFO] 2018-06-28 19:28:33 SELECT DISTINCT(date) FROM MKT_CAP_FLOAT WHERE date in ('2010-01-29', '2010-02-26', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-30', '2010-08-31', '2010-09-30', '2010-10-29', '2010-11-30', '2010-12-31')
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2010-01-29 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2010-02-26 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2010-03-31 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2010-04-30 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2010-05-31 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2010-06-30 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2010-07-30 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2010-08-31 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2010-09-30 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2010-10-29 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2010-11-30 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2010-12-31 is existed.
[INFO] 2018-06-28 19:28:33 E:\02_work\sw\db\indicator\2010.db is disconnected.
[INFO] 2018-06-28 19:28:33 E:\02_work\sw\db\indicator\2011.db is connected.
[INFO] 2018-06-28 19:28:33 SELECT DISTINCT(date) FROM MKT_CAP_FLOAT WHERE date in ('2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29', '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30')

[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2011-01-31 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2011-02-28 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2011-03-31 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2011-04-29 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2011-05-31 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2011-06-30 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2011-07-29 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2011-08-31 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2011-09-30 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2011-10-31 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2011-11-30 is existed.
[WARN] 2018-06-28 19:28:33 MKT_CAP_FLOAT records on 2011-12-30 is existed.
[INFO] 2018-06-28 19:28:33 E:\02_work\sw\db\indicator\2011.db is disconnected.
[INFO] 2018-06-28 19:28:33 E:\02_work\sw\db\indicator\2012.db is connected.
[INFO] 2018-06-28 19:28:33 SELECT DISTINCT(date) FROM MKT_CAP_FLOAT WHERE date in ('2012-01-31', '2012-02-29', '2012-03-30', '2012-04-27', '2012-05-31', '2012-06-29', '2012-07-31', '2012-08-31', '2012-09-28', '2012-10-31', '2012-11-30', '2012-12-31')
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2012-01-31 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2012-02-29 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2012-03-30 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2012-04-27 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2012-05-31 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2012-06-29 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2012-07-31 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2012-08-31 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2012-09-28 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2012-10-31 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2012-11-30 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2012-12-31 is existed.
[INFO] 2018-06-28 19:28:34 E:\02_work\sw\db\indicator\2012.db is disconnected.
[INFO] 2018-06-28 19:28:34 E:\02_work\sw\db\indicator\2013.db is connected.
[INFO] 2018-06-28 19:28:34 SELECT DISTINCT(date) FROM MKT_CAP_FLOAT WHERE date in ('2013-01-31', '2013-02-28', '2013-03-29', '2013-04-26', '2013-05-31', '2013-06-28', '2013-07-31', '2013-08-30', '2013-09-30', '2013-10-31', '2013-11-29', '2013-12-31')
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2013-01-31 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2013-02-28 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2013-03-29 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2013-04-26 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2013-05-31 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2013-06-28 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2013-07-31 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2013-08-30 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2013-09-30 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2013-10-31 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2013-11-29 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2013-12-31 is existed.
[INFO] 2018-06-28 19:28:34 E:\02_work\sw\db\indicator\2013.db is disconnected.
[INFO] 2018-06-28 19:28:34 E:\02_work\sw\db\indicator\2014.db is connected.
[INFO] 2018-06-28 19:28:34 SELECT DISTINCT(date) FROM MKT_CAP_FLOAT WHERE date in ('2014-01-30', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-30', '2014-06-30', '2014-07-31', '2014-08-29', '2014-09-30', '2014-10-31', '2014-11-28', '2014-12-31')
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2014-01-30 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2014-02-28 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2014-03-31 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2014-04-30 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2014-05-30 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2014-06-30 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2014-07-31 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2014-08-29 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2014-09-30 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2014-10-31 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2014-11-28 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2014-12-31 is existed.
[INFO] 2018-06-28 19:28:34 E:\02_work\sw\db\indicator\2014.db is disconnected.
[INFO] 2018-06-28 19:28:34 E:\02_work\sw\db\indicator\2015.db is connected.
[INFO] 2018-06-28 19:28:34 SELECT DISTINCT(date) FROM MKT_CAP_FLOAT WHERE date in ('2015-01-30', '2015-02-27', '2015-03-31', '2015-04-30', '2015-05-29', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-30', '2015-11-30', '2015-12-31')
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2015-01-30 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2015-02-27 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2015-03-31 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2015-04-30 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2015-05-29 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2015-06-30 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2015-07-31 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2015-08-31 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2015-09-30 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2015-10-30 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2015-11-30 is existed.
[WARN] 2018-06-28 19:28:34 MKT_CAP_FLOAT records on 2015-12-31 is existed.
[INFO] 2018-06-28 19:28:34 E:\02_work\sw\db\indicator\2015.db is disconnected.
[INFO] 2018-06-28 19:28:34 E:\02_work\sw\db\indicator\2016.db is connected.
[INFO] 2018-06-28 19:28:34 SELECT DISTINCT(date) FROM MKT_CAP_FLOAT WHERE date in ('2016-01-29', '2016-02-29', '2016-03-31', '2016-04-29', '2016-05-31', '2016-06-30', '2016-07-29', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-30')
[WARN] 2018-06-28 19:28:35 MKT_CAP_FLOAT records on 2016-01-29 is existed.
[WARN] 2018-06-28 19:28:35 MKT_CAP_FLOAT records on 2016-02-29 is existed.
[WARN] 2018-06-28 19:28:35 MKT_CAP_FLOAT records on 2016-03-31 is existed.
[WARN] 2018-06-28 19:28:35 MKT_CAP_FLOAT records on 2016-04-29 is existed.
[WARN] 2018-06-28 19:28:35 MKT_CAP_FLOAT records on 2016-05-31 is existed.
[WARN] 2018-06-28 19:28:35 MKT_CAP_FLOAT records on 2016-06-30 is existed.
[WARN] 2018-06-28 19:28:35 MKT_CAP_FLOAT records on 2016-07-29 is existed.
[WARN] 2018-06-28 19:28:35 MKT_CAP_FLOAT records on 2016-08-31 is existed.
[WARN] 2018-06-28 19:28:35 MKT_CAP_FLOAT records on 2016-09-30 is existed.
[WARN] 2018-06-28 19:28:35 MKT_CAP_FLOAT records on 2016-10-31 is existed.
[WARN] 2018-06-28 19:28:35 MKT_CAP_FLOAT records on 2016-11-30 is existed.
[WARN] 2018-06-28 19:28:35 MKT_CAP_FLOAT records on 2016-12-30 is existed.
[INFO] 2018-06-28 19:28:35 E:\02_work\sw\db\indicator\2016.db is disconnected.
[INFO] 2018-06-28 19:28:35 E:\02_work\sw\db\indicator\2017.db is connected.
[INFO] 2018-06-28 19:28:35 SELECT DISTINCT(date) FROM MKT_CAP_FLOAT WHERE date in ('2017-01-26', '2017-02-28', '2017-03-31', '2017-04-28', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-29', '2017-10-31', '2017-11-30', '2017-12-29')
[WARN] 2018-06-28 19:28:35 MKT_CAP_FLOAT records on 2017-01-26 is existed.
[WARN] 2018-06-28 19:28:35 MKT_CAP_FLOAT records on 2017-02-28 is existed.
[WARN] 2018-06-28 19:28:35 MKT_CAP_FLOAT records on 2017-03-31 is existed.
[WARN] 2018-06-28 19:28:35 MKT_CAP_FLOAT records on 2017-04-28 is existed.
[WARN] 2018-06-28 19:28:35 MKT_CAP_FLOAT records on 2017-05-31 is existed.
[WARN] 2018-06-28 19:28:35 MKT_CAP_FLOAT records on 2017-06-30 is existed.
[WARN] 2018-06-28 19:28:35 MKT_CAP_FLOAT records on 2017-07-31 is existed.
[WARN] 2018-06-28 19:28:35 MKT_CAP_FLOAT records on 2017-08-31 is existed.
[WARN] 2018-06-28 19:28:35 MKT_CAP_FLOAT records on 2017-09-29 is existed.
[WARN] 2018-06-28 19:28:35 MKT_CAP_FLOAT records on 2017-10-31 is existed.
[WARN] 2018-06-28 19:28:35 MKT_CAP_FLOAT records on 2017-11-30 is existed.

[WARN] 2018-06-28 19:28:35 MKT_CAP_FLOAT records on 2017-12-29 is existed.
[INFO] 2018-06-28 19:28:35 E:\02_work\sw\db\indicator\2017.db is disconnected.
[INFO] 2018-06-28 19:28:35 E:\02_work\sw\db\indicator\2018.db is connected.
[INFO] 2018-06-28 19:28:35 SELECT DISTINCT(date) FROM MKT_CAP_FLOAT WHERE date in ('2018-01-31', '2018-02-28', '2018-03-30', '2018-04-27', '2018-05-31')
[WARN] 2018-06-28 19:28:35 MKT_CAP_FLOAT records on 2018-01-31 is existed.
[WARN] 2018-06-28 19:28:35 MKT_CAP_FLOAT records on 2018-02-28 is existed.
[WARN] 2018-06-28 19:28:35 MKT_CAP_FLOAT records on 2018-03-30 is existed.
[WARN] 2018-06-28 19:28:35 MKT_CAP_FLOAT records on 2018-04-27 is existed.
[WARN] 2018-06-28 19:28:35 MKT_CAP_FLOAT records on 2018-05-31 is existed.
[INFO] 2018-06-28 19:28:35 E:\02_work\sw\db\indicator\2018.db is disconnected.
[INFO] 2018-06-28 19:28:42 schema updated: MKT_CAP_FLOAT
[INFO] 2018-06-28 19:28:42 indicator MKT_CAP_FLOAT is updated.
[INFO] 2018-06-28 19:28:42 ------------------------------------------
[INFO] 2018-06-28 19:28:42 Updating indicator PB_LF
[INFO] 2018-06-28 19:28:42 E:\02_work\sw\db\indicator\2005.db is connected.
[INFO] 2018-06-28 19:28:42 SELECT DISTINCT(date) FROM PB_LF WHERE date in ('2005-04-29', '2005-05-31', '2005-06-30', '2005-07-29', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-30')
[WARN] 2018-06-28 19:28:42 PB_LF records on 2005-04-29 is existed.
[WARN] 2018-06-28 19:28:42 PB_LF records on 2005-05-31 is existed.
[WARN] 2018-06-28 19:28:42 PB_LF records on 2005-06-30 is existed.
[WARN] 2018-06-28 19:28:42 PB_LF records on 2005-07-29 is existed.
[WARN] 2018-06-28 19:28:42 PB_LF records on 2005-08-31 is existed.
[WARN] 2018-06-28 19:28:42 PB_LF records on 2005-09-30 is existed.
[WARN] 2018-06-28 19:28:42 PB_LF records on 2005-10-31 is existed.
[WARN] 2018-06-28 19:28:42 PB_LF records on 2005-11-30 is existed.
[WARN] 2018-06-28 19:28:42 PB_LF records on 2005-12-30 is existed.
[INFO] 2018-06-28 19:28:42 E:\02_work\sw\db\indicator\2005.db is disconnected.
[INFO] 2018-06-28 19:28:42 E:\02_work\sw\db\indicator\2006.db is connected.
[INFO] 2018-06-28 19:28:42 SELECT DISTINCT(date) FROM PB_LF WHERE date in ('2006-01-25', '2006-02-28', '2006-03-31', '2006-04-28', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-29', '2006-10-31', '2006-11-30', '2006-12-29')
[WARN] 2018-06-28 19:28:42 PB_LF records on 2006-01-25 is existed.
[WARN] 2018-06-28 19:28:42 PB_LF records on 2006-02-28 is existed.
[WARN] 2018-06-28 19:28:42 PB_LF records on 2006-03-31 is existed.
[WARN] 2018-06-28 19:28:42 PB_LF records on 2006-04-28 is existed.
[WARN] 2018-06-28 19:28:42 PB_LF records on 2006-05-31 is existed.
[WARN] 2018-06-28 19:28:42 PB_LF records on 2006-06-30 is existed.
[WARN] 2018-06-28 19:28:42 PB_LF records on 2006-07-31 is existed.
[WARN] 2018-06-28 19:28:42 PB_LF records on 2006-08-31 is existed.
[WARN] 2018-06-28 19:28:42 PB_LF records on 2006-09-29 is existed.
[WARN] 2018-06-28 19:28:42 PB_LF records on 2006-10-31 is existed.
[WARN] 2018-06-28 19:28:42 PB_LF records on 2006-11-30 is existed.
[WARN] 2018-06-28 19:28:42 PB_LF records on 2006-12-29 is existed.
[INFO] 2018-06-28 19:28:42 E:\02_work\sw\db\indicator\2006.db is disconnected.
[INFO] 2018-06-28 19:28:42 E:\02_work\sw\db\indicator\2007.db is connected.
[INFO] 2018-06-28 19:28:42 SELECT DISTINCT(date) FROM PB_LF WHERE date in ('2007-01-31', '2007-02-28', '2007-03-30', '2007-04-30', '2007-05-31', '2007-06-29', '2007-07-31', '2007-08-31', '2007-09-28', '2007-10-31', '2007-11-30', '2007-12-28')
[WARN] 2018-06-28 19:28:43 PB_LF records on 2007-01-31 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2007-02-28 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2007-03-30 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2007-04-30 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2007-05-31 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2007-06-29 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2007-07-31 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2007-08-31 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2007-09-28 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2007-10-31 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2007-11-30 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2007-12-28 is existed.
[INFO] 2018-06-28 19:28:43 E:\02_work\sw\db\indicator\2007.db is disconnected.
[INFO] 2018-06-28 19:28:43 E:\02_work\sw\db\indicator\2008.db is connected.
[INFO] 2018-06-28 19:28:43 SELECT DISTINCT(date) FROM PB_LF WHERE date in ('2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-30', '2008-06-30', '2008-07-31', '2008-08-29', '2008-09-26', '2008-10-31', '2008-11-28', '2008-12-31')
[WARN] 2018-06-28 19:28:43 PB_LF records on 2008-01-31 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2008-02-29 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2008-03-31 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2008-04-30 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2008-05-30 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2008-06-30 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2008-07-31 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2008-08-29 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2008-09-26 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2008-10-31 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2008-11-28 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2008-12-31 is existed.
[INFO] 2018-06-28 19:28:43 E:\02_work\sw\db\indicator\2008.db is disconnected.
[INFO] 2018-06-28 19:28:43 E:\02_work\sw\db\indicator\2009.db is connected.
[INFO] 2018-06-28 19:28:43 SELECT DISTINCT(date) FROM PB_LF WHERE date in ('2009-01-23', '2009-02-27', '2009-03-31', '2009-04-30', '2009-05-27', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-30', '2009-11-30', '2009-12-31')
[WARN] 2018-06-28 19:28:43 PB_LF records on 2009-01-23 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2009-02-27 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2009-03-31 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2009-04-30 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2009-05-27 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2009-06-30 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2009-07-31 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2009-08-31 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2009-09-30 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2009-10-30 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2009-11-30 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2009-12-31 is existed.
[INFO] 2018-06-28 19:28:43 E:\02_work\sw\db\indicator\2009.db is disconnected.
[INFO] 2018-06-28 19:28:43 E:\02_work\sw\db\indicator\2010.db is connected.
[INFO] 2018-06-28 19:28:43 SELECT DISTINCT(date) FROM PB_LF WHERE date in ('2010-01-29', '2010-02-26', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-30', '2010-08-31', '2010-09-30', '2010-10-29', '2010-11-30', '2010-12-31')
[WARN] 2018-06-28 19:28:43 PB_LF records on 2010-01-29 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2010-02-26 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2010-03-31 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2010-04-30 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2010-05-31 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2010-06-30 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2010-07-30 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2010-08-31 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2010-09-30 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2010-10-29 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2010-11-30 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2010-12-31 is existed.
[INFO] 2018-06-28 19:28:43 E:\02_work\sw\db\indicator\2010.db is disconnected.
[INFO] 2018-06-28 19:28:43 E:\02_work\sw\db\indicator\2011.db is connected.
[INFO] 2018-06-28 19:28:43 SELECT DISTINCT(date) FROM PB_LF WHERE date in ('2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29', '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30')

[WARN] 2018-06-28 19:28:43 PB_LF records on 2011-01-31 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2011-02-28 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2011-03-31 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2011-04-29 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2011-05-31 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2011-06-30 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2011-07-29 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2011-08-31 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2011-09-30 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2011-10-31 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2011-11-30 is existed.
[WARN] 2018-06-28 19:28:43 PB_LF records on 2011-12-30 is existed.
[INFO] 2018-06-28 19:28:43 E:\02_work\sw\db\indicator\2011.db is disconnected.
[INFO] 2018-06-28 19:28:43 E:\02_work\sw\db\indicator\2012.db is connected.
[INFO] 2018-06-28 19:28:43 SELECT DISTINCT(date) FROM PB_LF WHERE date in ('2012-01-31', '2012-02-29', '2012-03-30', '2012-04-27', '2012-05-31', '2012-06-29', '2012-07-31', '2012-08-31', '2012-09-28', '2012-10-31', '2012-11-30', '2012-12-31')
[WARN] 2018-06-28 19:28:44 PB_LF records on 2012-01-31 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2012-02-29 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2012-03-30 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2012-04-27 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2012-05-31 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2012-06-29 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2012-07-31 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2012-08-31 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2012-09-28 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2012-10-31 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2012-11-30 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2012-12-31 is existed.
[INFO] 2018-06-28 19:28:44 E:\02_work\sw\db\indicator\2012.db is disconnected.
[INFO] 2018-06-28 19:28:44 E:\02_work\sw\db\indicator\2013.db is connected.
[INFO] 2018-06-28 19:28:44 SELECT DISTINCT(date) FROM PB_LF WHERE date in ('2013-01-31', '2013-02-28', '2013-03-29', '2013-04-26', '2013-05-31', '2013-06-28', '2013-07-31', '2013-08-30', '2013-09-30', '2013-10-31', '2013-11-29', '2013-12-31')
[WARN] 2018-06-28 19:28:44 PB_LF records on 2013-01-31 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2013-02-28 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2013-03-29 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2013-04-26 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2013-05-31 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2013-06-28 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2013-07-31 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2013-08-30 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2013-09-30 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2013-10-31 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2013-11-29 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2013-12-31 is existed.
[INFO] 2018-06-28 19:28:44 E:\02_work\sw\db\indicator\2013.db is disconnected.
[INFO] 2018-06-28 19:28:44 E:\02_work\sw\db\indicator\2014.db is connected.
[INFO] 2018-06-28 19:28:44 SELECT DISTINCT(date) FROM PB_LF WHERE date in ('2014-01-30', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-30', '2014-06-30', '2014-07-31', '2014-08-29', '2014-09-30', '2014-10-31', '2014-11-28', '2014-12-31')
[WARN] 2018-06-28 19:28:44 PB_LF records on 2014-01-30 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2014-02-28 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2014-03-31 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2014-04-30 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2014-05-30 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2014-06-30 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2014-07-31 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2014-08-29 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2014-09-30 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2014-10-31 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2014-11-28 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2014-12-31 is existed.
[INFO] 2018-06-28 19:28:44 E:\02_work\sw\db\indicator\2014.db is disconnected.
[INFO] 2018-06-28 19:28:44 E:\02_work\sw\db\indicator\2015.db is connected.
[INFO] 2018-06-28 19:28:44 SELECT DISTINCT(date) FROM PB_LF WHERE date in ('2015-01-30', '2015-02-27', '2015-03-31', '2015-04-30', '2015-05-29', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-30', '2015-11-30', '2015-12-31')
[WARN] 2018-06-28 19:28:44 PB_LF records on 2015-01-30 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2015-02-27 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2015-03-31 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2015-04-30 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2015-05-29 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2015-06-30 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2015-07-31 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2015-08-31 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2015-09-30 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2015-10-30 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2015-11-30 is existed.
[WARN] 2018-06-28 19:28:44 PB_LF records on 2015-12-31 is existed.
[INFO] 2018-06-28 19:28:44 E:\02_work\sw\db\indicator\2015.db is disconnected.
[INFO] 2018-06-28 19:28:44 E:\02_work\sw\db\indicator\2016.db is connected.
[INFO] 2018-06-28 19:28:44 SELECT DISTINCT(date) FROM PB_LF WHERE date in ('2016-01-29', '2016-02-29', '2016-03-31', '2016-04-29', '2016-05-31', '2016-06-30', '2016-07-29', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-30')
[WARN] 2018-06-28 19:28:45 PB_LF records on 2016-01-29 is existed.
[WARN] 2018-06-28 19:28:45 PB_LF records on 2016-02-29 is existed.
[WARN] 2018-06-28 19:28:45 PB_LF records on 2016-03-31 is existed.
[WARN] 2018-06-28 19:28:45 PB_LF records on 2016-04-29 is existed.
[WARN] 2018-06-28 19:28:45 PB_LF records on 2016-05-31 is existed.
[WARN] 2018-06-28 19:28:45 PB_LF records on 2016-06-30 is existed.
[WARN] 2018-06-28 19:28:45 PB_LF records on 2016-07-29 is existed.
[WARN] 2018-06-28 19:28:45 PB_LF records on 2016-08-31 is existed.
[WARN] 2018-06-28 19:28:45 PB_LF records on 2016-09-30 is existed.
[WARN] 2018-06-28 19:28:45 PB_LF records on 2016-10-31 is existed.
[WARN] 2018-06-28 19:28:45 PB_LF records on 2016-11-30 is existed.
[WARN] 2018-06-28 19:28:45 PB_LF records on 2016-12-30 is existed.
[INFO] 2018-06-28 19:28:45 E:\02_work\sw\db\indicator\2016.db is disconnected.
[INFO] 2018-06-28 19:28:45 E:\02_work\sw\db\indicator\2017.db is connected.
[INFO] 2018-06-28 19:28:45 SELECT DISTINCT(date) FROM PB_LF WHERE date in ('2017-01-26', '2017-02-28', '2017-03-31', '2017-04-28', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-29', '2017-10-31', '2017-11-30', '2017-12-29')
[WARN] 2018-06-28 19:28:45 PB_LF records on 2017-01-26 is existed.
[WARN] 2018-06-28 19:28:45 PB_LF records on 2017-02-28 is existed.
[WARN] 2018-06-28 19:28:45 PB_LF records on 2017-03-31 is existed.
[WARN] 2018-06-28 19:28:45 PB_LF records on 2017-04-28 is existed.
[WARN] 2018-06-28 19:28:45 PB_LF records on 2017-05-31 is existed.
[WARN] 2018-06-28 19:28:45 PB_LF records on 2017-06-30 is existed.
[WARN] 2018-06-28 19:28:45 PB_LF records on 2017-07-31 is existed.
[WARN] 2018-06-28 19:28:45 PB_LF records on 2017-08-31 is existed.
[WARN] 2018-06-28 19:28:45 PB_LF records on 2017-09-29 is existed.
[WARN] 2018-06-28 19:28:45 PB_LF records on 2017-10-31 is existed.
[WARN] 2018-06-28 19:28:45 PB_LF records on 2017-11-30 is existed.
[WARN] 2018-06-28 19:28:45 PB_LF records on 2017-12-29 is existed.
[INFO] 2018-06-28 19:28:45 E:\02_work\sw\db\indicator\2017.db is disconnected.
[INFO] 2018-06-28 19:28:45 E:\02_work\sw\db\indicator\2018.db is connected.
[INFO] 2018-06-28 19:28:45 SELECT DISTINCT(date) FROM PB_LF WHERE date in ('2018-01-31', '2018-02-28', '2018-03-30', '2018-04-27', '2018-05-31')
[WARN] 2018-06-28 19:28:45 PB_LF records on 2018-01-31 is existed.
[WARN] 2018-06-28 19:28:45 PB_LF records on 2018-02-28 is existed.
[WARN] 2018-06-28 19:28:45 PB_LF records on 2018-03-30 is existed.
[WARN] 2018-06-28 19:28:45 PB_LF records on 2018-04-27 is existed.
[WARN] 2018-06-28 19:28:45 PB_LF records on 2018-05-31 is existed.
[INFO] 2018-06-28 19:28:45 E:\02_work\sw\db\indicator\2018.db is disconnected.

[INFO] 2018-06-28 19:28:55 schema updated: PB_LF
[INFO] 2018-06-28 19:28:55 indicator PB_LF is updated.
[INFO] 2018-06-28 19:28:55 ------------------------------------------
[INFO] 2018-06-28 19:28:55 Updating indicator PCF_OCF_TTM
[INFO] 2018-06-28 19:28:55 E:\02_work\sw\db\indicator\2005.db is connected.
[INFO] 2018-06-28 19:28:55 SELECT DISTINCT(date) FROM PCF_OCF_TTM WHERE date in ('2005-04-29', '2005-05-31', '2005-06-30', '2005-07-29', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-30')
[WARN] 2018-06-28 19:28:55 PCF_OCF_TTM records on 2005-04-29 is existed.
[WARN] 2018-06-28 19:28:55 PCF_OCF_TTM records on 2005-05-31 is existed.
[WARN] 2018-06-28 19:28:55 PCF_OCF_TTM records on 2005-06-30 is existed.
[WARN] 2018-06-28 19:28:55 PCF_OCF_TTM records on 2005-07-29 is existed.
[WARN] 2018-06-28 19:28:55 PCF_OCF_TTM records on 2005-08-31 is existed.
[WARN] 2018-06-28 19:28:55 PCF_OCF_TTM records on 2005-09-30 is existed.
[WARN] 2018-06-28 19:28:55 PCF_OCF_TTM records on 2005-10-31 is existed.
[WARN] 2018-06-28 19:28:55 PCF_OCF_TTM records on 2005-11-30 is existed.
[WARN] 2018-06-28 19:28:55 PCF_OCF_TTM records on 2005-12-30 is existed.
[INFO] 2018-06-28 19:28:55 E:\02_work\sw\db\indicator\2005.db is disconnected.
[INFO] 2018-06-28 19:28:55 E:\02_work\sw\db\indicator\2006.db is connected.
[INFO] 2018-06-28 19:28:55 SELECT DISTINCT(date) FROM PCF_OCF_TTM WHERE date in ('2006-01-25', '2006-02-28', '2006-03-31', '2006-04-28', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-29', '2006-10-31', '2006-11-30', '2006-12-29')
[WARN] 2018-06-28 19:28:55 PCF_OCF_TTM records on 2006-01-25 is existed.
[WARN] 2018-06-28 19:28:55 PCF_OCF_TTM records on 2006-02-28 is existed.
[WARN] 2018-06-28 19:28:55 PCF_OCF_TTM records on 2006-03-31 is existed.
[WARN] 2018-06-28 19:28:55 PCF_OCF_TTM records on 2006-04-28 is existed.
[WARN] 2018-06-28 19:28:55 PCF_OCF_TTM records on 2006-05-31 is existed.
[WARN] 2018-06-28 19:28:55 PCF_OCF_TTM records on 2006-06-30 is existed.
[WARN] 2018-06-28 19:28:55 PCF_OCF_TTM records on 2006-07-31 is existed.
[WARN] 2018-06-28 19:28:55 PCF_OCF_TTM records on 2006-08-31 is existed.
[WARN] 2018-06-28 19:28:55 PCF_OCF_TTM records on 2006-09-29 is existed.
[WARN] 2018-06-28 19:28:55 PCF_OCF_TTM records on 2006-10-31 is existed.
[WARN] 2018-06-28 19:28:55 PCF_OCF_TTM records on 2006-11-30 is existed.
[WARN] 2018-06-28 19:28:55 PCF_OCF_TTM records on 2006-12-29 is existed.
[INFO] 2018-06-28 19:28:55 E:\02_work\sw\db\indicator\2006.db is disconnected.
[INFO] 2018-06-28 19:28:55 E:\02_work\sw\db\indicator\2007.db is connected.
[INFO] 2018-06-28 19:28:55 SELECT DISTINCT(date) FROM PCF_OCF_TTM WHERE date in ('2007-01-31', '2007-02-28', '2007-03-30', '2007-04-30', '2007-05-31', '2007-06-29', '2007-07-31', '2007-08-31', '2007-09-28', '2007-10-31', '2007-11-30', '2007-12-28')
[WARN] 2018-06-28 19:28:55 PCF_OCF_TTM records on 2007-01-31 is existed.
[WARN] 2018-06-28 19:28:55 PCF_OCF_TTM records on 2007-02-28 is existed.
[WARN] 2018-06-28 19:28:55 PCF_OCF_TTM records on 2007-03-30 is existed.
[WARN] 2018-06-28 19:28:55 PCF_OCF_TTM records on 2007-04-30 is existed.
[WARN] 2018-06-28 19:28:55 PCF_OCF_TTM records on 2007-05-31 is existed.
[WARN] 2018-06-28 19:28:55 PCF_OCF_TTM records on 2007-06-29 is existed.
[WARN] 2018-06-28 19:28:55 PCF_OCF_TTM records on 2007-07-31 is existed.
[WARN] 2018-06-28 19:28:55 PCF_OCF_TTM records on 2007-08-31 is existed.
[WARN] 2018-06-28 19:28:55 PCF_OCF_TTM records on 2007-09-28 is existed.
[WARN] 2018-06-28 19:28:55 PCF_OCF_TTM records on 2007-10-31 is existed.
[WARN] 2018-06-28 19:28:55 PCF_OCF_TTM records on 2007-11-30 is existed.
[WARN] 2018-06-28 19:28:55 PCF_OCF_TTM records on 2007-12-28 is existed.
[INFO] 2018-06-28 19:28:55 E:\02_work\sw\db\indicator\2007.db is disconnected.
[INFO] 2018-06-28 19:28:55 E:\02_work\sw\db\indicator\2008.db is connected.
[INFO] 2018-06-28 19:28:55 SELECT DISTINCT(date) FROM PCF_OCF_TTM WHERE date in ('2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-30', '2008-06-30', '2008-07-31', '2008-08-29', '2008-09-26', '2008-10-31', '2008-11-28', '2008-12-31')
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2008-01-31 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2008-02-29 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2008-03-31 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2008-04-30 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2008-05-30 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2008-06-30 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2008-07-31 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2008-08-29 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2008-09-26 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2008-10-31 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2008-11-28 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2008-12-31 is existed.
[INFO] 2018-06-28 19:28:56 E:\02_work\sw\db\indicator\2008.db is disconnected.
[INFO] 2018-06-28 19:28:56 E:\02_work\sw\db\indicator\2009.db is connected.
[INFO] 2018-06-28 19:28:56 SELECT DISTINCT(date) FROM PCF_OCF_TTM WHERE date in ('2009-01-23', '2009-02-27', '2009-03-31', '2009-04-30', '2009-05-27', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-30', '2009-11-30', '2009-12-31')
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2009-01-23 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2009-02-27 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2009-03-31 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2009-04-30 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2009-05-27 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2009-06-30 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2009-07-31 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2009-08-31 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2009-09-30 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2009-10-30 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2009-11-30 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2009-12-31 is existed.
[INFO] 2018-06-28 19:28:56 E:\02_work\sw\db\indicator\2009.db is disconnected.
[INFO] 2018-06-28 19:28:56 E:\02_work\sw\db\indicator\2010.db is connected.
[INFO] 2018-06-28 19:28:56 SELECT DISTINCT(date) FROM PCF_OCF_TTM WHERE date in ('2010-01-29', '2010-02-26', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-30', '2010-08-31', '2010-09-30', '2010-10-29', '2010-11-30', '2010-12-31')
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2010-01-29 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2010-02-26 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2010-03-31 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2010-04-30 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2010-05-31 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2010-06-30 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2010-07-30 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2010-08-31 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2010-09-30 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2010-10-29 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2010-11-30 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2010-12-31 is existed.
[INFO] 2018-06-28 19:28:56 E:\02_work\sw\db\indicator\2010.db is disconnected.
[INFO] 2018-06-28 19:28:56 E:\02_work\sw\db\indicator\2011.db is connected.
[INFO] 2018-06-28 19:28:56 SELECT DISTINCT(date) FROM PCF_OCF_TTM WHERE date in ('2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29', '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30')
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2011-01-31 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2011-02-28 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2011-03-31 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2011-04-29 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2011-05-31 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2011-06-30 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2011-07-29 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2011-08-31 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2011-09-30 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2011-10-31 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2011-11-30 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2011-12-30 is existed.
[INFO] 2018-06-28 19:28:56 E:\02_work\sw\db\indicator\2011.db is disconnected.
[INFO] 2018-06-28 19:28:56 E:\02_work\sw\db\indicator\2012.db is connected.
[INFO] 2018-06-28 19:28:56 SELECT DISTINCT(date) FROM PCF_OCF_TTM WHERE date in ('2012-01-31', '2012-02-29', '2012-03-30', '2012-04-27', '2012-05-31', '2012-06-29', '2012-07-31', '2012-08-31', '2012-09-28', '2012-10-31', '2012-11-30', '2012-12-31')

[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2012-01-31 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2012-02-29 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2012-03-30 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2012-04-27 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2012-05-31 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2012-06-29 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2012-07-31 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2012-08-31 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2012-09-28 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2012-10-31 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2012-11-30 is existed.
[WARN] 2018-06-28 19:28:56 PCF_OCF_TTM records on 2012-12-31 is existed.
[INFO] 2018-06-28 19:28:56 E:\02_work\sw\db\indicator\2012.db is disconnected.
[INFO] 2018-06-28 19:28:56 E:\02_work\sw\db\indicator\2013.db is connected.
[INFO] 2018-06-28 19:28:56 SELECT DISTINCT(date) FROM PCF_OCF_TTM WHERE date in ('2013-01-31', '2013-02-28', '2013-03-29', '2013-04-26', '2013-05-31', '2013-06-28', '2013-07-31', '2013-08-30', '2013-09-30', '2013-10-31', '2013-11-29', '2013-12-31')
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2013-01-31 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2013-02-28 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2013-03-29 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2013-04-26 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2013-05-31 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2013-06-28 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2013-07-31 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2013-08-30 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2013-09-30 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2013-10-31 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2013-11-29 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2013-12-31 is existed.
[INFO] 2018-06-28 19:28:57 E:\02_work\sw\db\indicator\2013.db is disconnected.
[INFO] 2018-06-28 19:28:57 E:\02_work\sw\db\indicator\2014.db is connected.
[INFO] 2018-06-28 19:28:57 SELECT DISTINCT(date) FROM PCF_OCF_TTM WHERE date in ('2014-01-30', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-30', '2014-06-30', '2014-07-31', '2014-08-29', '2014-09-30', '2014-10-31', '2014-11-28', '2014-12-31')
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2014-01-30 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2014-02-28 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2014-03-31 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2014-04-30 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2014-05-30 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2014-06-30 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2014-07-31 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2014-08-29 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2014-09-30 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2014-10-31 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2014-11-28 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2014-12-31 is existed.
[INFO] 2018-06-28 19:28:57 E:\02_work\sw\db\indicator\2014.db is disconnected.
[INFO] 2018-06-28 19:28:57 E:\02_work\sw\db\indicator\2015.db is connected.
[INFO] 2018-06-28 19:28:57 SELECT DISTINCT(date) FROM PCF_OCF_TTM WHERE date in ('2015-01-30', '2015-02-27', '2015-03-31', '2015-04-30', '2015-05-29', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-30', '2015-11-30', '2015-12-31')
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2015-01-30 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2015-02-27 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2015-03-31 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2015-04-30 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2015-05-29 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2015-06-30 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2015-07-31 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2015-08-31 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2015-09-30 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2015-10-30 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2015-11-30 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2015-12-31 is existed.
[INFO] 2018-06-28 19:28:57 E:\02_work\sw\db\indicator\2015.db is disconnected.
[INFO] 2018-06-28 19:28:57 E:\02_work\sw\db\indicator\2016.db is connected.
[INFO] 2018-06-28 19:28:57 SELECT DISTINCT(date) FROM PCF_OCF_TTM WHERE date in ('2016-01-29', '2016-02-29', '2016-03-31', '2016-04-29', '2016-05-31', '2016-06-30', '2016-07-29', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-30')
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2016-01-29 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2016-02-29 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2016-03-31 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2016-04-29 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2016-05-31 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2016-06-30 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2016-07-29 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2016-08-31 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2016-09-30 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2016-10-31 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2016-11-30 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2016-12-30 is existed.
[INFO] 2018-06-28 19:28:57 E:\02_work\sw\db\indicator\2016.db is disconnected.
[INFO] 2018-06-28 19:28:57 E:\02_work\sw\db\indicator\2017.db is connected.
[INFO] 2018-06-28 19:28:57 SELECT DISTINCT(date) FROM PCF_OCF_TTM WHERE date in ('2017-01-26', '2017-02-28', '2017-03-31', '2017-04-28', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-29', '2017-10-31', '2017-11-30', '2017-12-29')
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2017-01-26 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2017-02-28 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2017-03-31 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2017-04-28 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2017-05-31 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2017-06-30 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2017-07-31 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2017-08-31 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2017-09-29 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2017-10-31 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2017-11-30 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2017-12-29 is existed.
[INFO] 2018-06-28 19:28:57 E:\02_work\sw\db\indicator\2017.db is disconnected.
[INFO] 2018-06-28 19:28:57 E:\02_work\sw\db\indicator\2018.db is connected.
[INFO] 2018-06-28 19:28:57 SELECT DISTINCT(date) FROM PCF_OCF_TTM WHERE date in ('2018-01-31', '2018-02-28', '2018-03-30', '2018-04-27', '2018-05-31')

[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2018-01-31 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2018-02-28 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2018-03-30 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2018-04-27 is existed.
[WARN] 2018-06-28 19:28:57 PCF_OCF_TTM records on 2018-05-31 is existed.
[INFO] 2018-06-28 19:28:57 E:\02_work\sw\db\indicator\2018.db is disconnected.
[INFO] 2018-06-28 19:29:09 schema updated: PCF_OCF_TTM
[INFO] 2018-06-28 19:29:09 indicator PCF_OCF_TTM is updated.
[INFO] 2018-06-28 19:29:09 ------------------------------------------
[INFO] 2018-06-28 19:29:09 Updating indicator PS_TTM
[INFO] 2018-06-28 19:29:09 E:\02_work\sw\db\indicator\2005.db is connected.
[INFO] 2018-06-28 19:29:09 SELECT DISTINCT(date) FROM PS_TTM WHERE date in ('2005-04-29', '2005-05-31', '2005-06-30', '2005-07-29', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-30')
[WARN] 2018-06-28 19:29:09 PS_TTM records on 2005-04-29 is existed.
[WARN] 2018-06-28 19:29:09 PS_TTM records on 2005-05-31 is existed.
[WARN] 2018-06-28 19:29:09 PS_TTM records on 2005-06-30 is existed.
[WARN] 2018-06-28 19:29:09 PS_TTM records on 2005-07-29 is existed.
[WARN] 2018-06-28 19:29:09 PS_TTM records on 2005-08-31 is existed.
[WARN] 2018-06-28 19:29:09 PS_TTM records on 2005-09-30 is existed.
[WARN] 2018-06-28 19:29:09 PS_TTM records on 2005-10-31 is existed.
[WARN] 2018-06-28 19:29:09 PS_TTM records on 2005-11-30 is existed.
[WARN] 2018-06-28 19:29:09 PS_TTM records on 2005-12-30 is existed.
[INFO] 2018-06-28 19:29:09 E:\02_work\sw\db\indicator\2005.db is disconnected.
[INFO] 2018-06-28 19:29:09 E:\02_work\sw\db\indicator\2006.db is connected.
[INFO] 2018-06-28 19:29:09 SELECT DISTINCT(date) FROM PS_TTM WHERE date in ('2006-01-25', '2006-02-28', '2006-03-31', '2006-04-28', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-29', '2006-10-31', '2006-11-30', '2006-12-29')
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2006-01-25 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2006-02-28 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2006-03-31 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2006-04-28 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2006-05-31 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2006-06-30 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2006-07-31 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2006-08-31 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2006-09-29 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2006-10-31 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2006-11-30 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2006-12-29 is existed.
[INFO] 2018-06-28 19:29:10 E:\02_work\sw\db\indicator\2006.db is disconnected.
[INFO] 2018-06-28 19:29:10 E:\02_work\sw\db\indicator\2007.db is connected.
[INFO] 2018-06-28 19:29:10 SELECT DISTINCT(date) FROM PS_TTM WHERE date in ('2007-01-31', '2007-02-28', '2007-03-30', '2007-04-30', '2007-05-31', '2007-06-29', '2007-07-31', '2007-08-31', '2007-09-28', '2007-10-31', '2007-11-30', '2007-12-28')
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2007-01-31 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2007-02-28 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2007-03-30 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2007-04-30 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2007-05-31 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2007-06-29 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2007-07-31 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2007-08-31 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2007-09-28 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2007-10-31 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2007-11-30 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2007-12-28 is existed.
[INFO] 2018-06-28 19:29:10 E:\02_work\sw\db\indicator\2007.db is disconnected.
[INFO] 2018-06-28 19:29:10 E:\02_work\sw\db\indicator\2008.db is connected.
[INFO] 2018-06-28 19:29:10 SELECT DISTINCT(date) FROM PS_TTM WHERE date in ('2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-30', '2008-06-30', '2008-07-31', '2008-08-29', '2008-09-26', '2008-10-31', '2008-11-28', '2008-12-31')
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2008-01-31 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2008-02-29 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2008-03-31 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2008-04-30 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2008-05-30 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2008-06-30 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2008-07-31 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2008-08-29 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2008-09-26 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2008-10-31 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2008-11-28 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2008-12-31 is existed.
[INFO] 2018-06-28 19:29:10 E:\02_work\sw\db\indicator\2008.db is disconnected.
[INFO] 2018-06-28 19:29:10 E:\02_work\sw\db\indicator\2009.db is connected.
[INFO] 2018-06-28 19:29:10 SELECT DISTINCT(date) FROM PS_TTM WHERE date in ('2009-01-23', '2009-02-27', '2009-03-31', '2009-04-30', '2009-05-27', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-30', '2009-11-30', '2009-12-31')
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2009-01-23 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2009-02-27 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2009-03-31 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2009-04-30 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2009-05-27 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2009-06-30 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2009-07-31 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2009-08-31 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2009-09-30 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2009-10-30 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2009-11-30 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2009-12-31 is existed.
[INFO] 2018-06-28 19:29:10 E:\02_work\sw\db\indicator\2009.db is disconnected.
[INFO] 2018-06-28 19:29:10 E:\02_work\sw\db\indicator\2010.db is connected.
[INFO] 2018-06-28 19:29:10 SELECT DISTINCT(date) FROM PS_TTM WHERE date in ('2010-01-29', '2010-02-26', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-30', '2010-08-31', '2010-09-30', '2010-10-29', '2010-11-30', '2010-12-31')
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2010-01-29 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2010-02-26 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2010-03-31 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2010-04-30 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2010-05-31 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2010-06-30 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2010-07-30 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2010-08-31 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2010-09-30 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2010-10-29 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2010-11-30 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2010-12-31 is existed.
[INFO] 2018-06-28 19:29:10 E:\02_work\sw\db\indicator\2010.db is disconnected.
[INFO] 2018-06-28 19:29:10 E:\02_work\sw\db\indicator\2011.db is connected.
[INFO] 2018-06-28 19:29:10 SELECT DISTINCT(date) FROM PS_TTM WHERE date in ('2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29', '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30')
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2011-01-31 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2011-02-28 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2011-03-31 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2011-04-29 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2011-05-31 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2011-06-30 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2011-07-29 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2011-08-31 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2011-09-30 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2011-10-31 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2011-11-30 is existed.
[WARN] 2018-06-28 19:29:10 PS_TTM records on 2011-12-30 is existed.
[INFO] 2018-06-28 19:29:10 E:\02_work\sw\db\indicator\2011.db is disconnected.
[INFO] 2018-06-28 19:29:10 E:\02_work\sw\db\indicator\2012.db is connected.
[INFO] 2018-06-28 19:29:10 SELECT DISTINCT(date) FROM PS_TTM WHERE date in ('2012-01-31', '2012-02-29', '2012-03-30', '2012-04-27', '2012-05-31', '2012-06-29', '2012-07-31', '2012-08-31', '2012-09-28', '2012-10-31', '2012-11-30', '2012-12-31')

[WARN] 2018-06-28 19:29:11 PS_TTM records on 2012-01-31 is existed.
[WARN] 2018-06-28 19:29:11 PS_TTM records on 2012-02-29 is existed.
[WARN] 2018-06-28 19:29:11 PS_TTM records on 2012-03-30 is existed.
[WARN] 2018-06-28 19:29:11 PS_TTM records on 2012-04-27 is existed.
[WARN] 2018-06-28 19:29:11 PS_TTM records on 2012-05-31 is existed.
[WARN] 2018-06-28 19:29:11 PS_TTM records on 2012-06-29 is existed.
[WARN] 2018-06-28 19:29:11 PS_TTM records on 2012-07-31 is existed.
[WARN] 2018-06-28 19:29:11 PS_TTM records on 2012-08-31 is existed.
[WARN] 2018-06-28 19:29:11 PS_TTM records on 2012-09-28 is existed.
[WARN] 2018-06-28 19:29:11 PS_TTM records on 2012-10-31 is existed.
[WARN] 2018-06-28 19:29:11 PS_TTM records on 2012-11-30 is existed.
[WARN] 2018-06-28 19:29:11 PS_TTM records on 2012-12-31 is existed.
[INFO] 2018-06-28 19:29:11 E:\02_work\sw\db\indicator\2012.db is disconnected.
[INFO] 2018-06-28 19:29:11 E:\02_work\sw\db\indicator\2013.db is connected.
[INFO] 2018-06-28 19:29:11 SELECT DISTINCT(date) FROM PS_TTM WHERE date in ('2013-01-31', '2013-02-28', '2013-03-29', '2013-04-26', '2013-05-31', '2013-06-28', '2013-07-31', '2013-08-30', '2013-09-30', '2013-10-31', '2013-11-29', '2013-12-31')
[WARN] 2018-06-28 19:29:11 PS_TTM records on 2013-01-31 is existed.
[WARN] 2018-06-28 19:29:11 PS_TTM records on 2013-02-28 is existed.
[WARN] 2018-06-28 19:29:11 PS_TTM records on 2013-03-29 is existed.
[WARN] 2018-06-28 19:29:11 PS_TTM records on 2013-04-26 is existed.
[WARN] 2018-06-28 19:29:11 PS_TTM records on 2013-05-31 is existed.
[WARN] 2018-06-28 19:29:11 PS_TTM records on 2013-06-28 is existed.
[WARN] 2018-06-28 19:29:11 PS_TTM records on 2013-07-31 is existed.
[WARN] 2018-06-28 19:29:11 PS_TTM records on 2013-08-30 is existed.
[WARN] 2018-06-28 19:29:11 PS_TTM records on 2013-09-30 is existed.
[WARN] 2018-06-28 19:29:11 PS_TTM records on 2013-10-31 is existed.
[WARN] 2018-06-28 19:29:11 PS_TTM records on 2013-11-29 is existed.
[WARN] 2018-06-28 19:29:11 PS_TTM records on 2013-12-31 is existed.
[INFO] 2018-06-28 19:29:11 E:\02_work\sw\db\indicator\2013.db is disconnected.
[INFO] 2018-06-28 19:29:11 E:\02_work\sw\db\indicator\2014.db is connected.
[INFO] 2018-06-28 19:29:11 SELECT DISTINCT(date) FROM PS_TTM WHERE date in ('2014-01-30', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-30', '2014-06-30', '2014-07-31', '2014-08-29', '2014-09-30', '2014-10-31', '2014-11-28', '2014-12-31')
[WARN] 2018-06-28 19:29:11 PS_TTM records on 2014-01-30 is existed.
[WARN] 2018-06-28 19:29:11 PS_TTM records on 2014-02-28 is existed.
[WARN] 2018-06-28 19:29:11 PS_TTM records on 2014-03-31 is existed.
[WARN] 2018-06-28 19:29:11 PS_TTM records on 2014-04-30 is existed.
[WARN] 2018-06-28 19:29:11 PS_TTM records on 2014-05-30 is existed.
[WARN] 2018-06-28 19:29:11 PS_TTM records on 2014-06-30 is existed.
[WARN] 2018-06-28 19:29:11 PS_TTM records on 2014-07-31 is existed.
[WARN] 2018-06-28 19:29:11 PS_TTM records on 2014-08-29 is existed.
[WARN] 2018-06-28 19:29:11 PS_TTM records on 2014-09-30 is existed.
[WARN] 2018-06-28 19:29:11 PS_TTM records on 2014-10-31 is existed.
[WARN] 2018-06-28 19:29:11 PS_TTM records on 2014-11-28 is existed.
[WARN] 2018-06-28 19:29:11 PS_TTM records on 2014-12-31 is existed.
[INFO] 2018-06-28 19:29:11 E:\02_work\sw\db\indicator\2014.db is disconnected.
[INFO] 2018-06-28 19:29:11 E:\02_work\sw\db\indicator\2015.db is connected.
[INFO] 2018-06-28 19:29:11 SELECT DISTINCT(date) FROM PS_TTM WHERE date in ('2015-01-30', '2015-02-27', '2015-03-31', '2015-04-30', '2015-05-29', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-30', '2015-11-30', '2015-12-31')
[WARN] 2018-06-28 19:29:12 PS_TTM records on 2015-01-30 is existed.
[WARN] 2018-06-28 19:29:12 PS_TTM records on 2015-02-27 is existed.
[WARN] 2018-06-28 19:29:12 PS_TTM records on 2015-03-31 is existed.
[WARN] 2018-06-28 19:29:12 PS_TTM records on 2015-04-30 is existed.
[WARN] 2018-06-28 19:29:12 PS_TTM records on 2015-05-29 is existed.
[WARN] 2018-06-28 19:29:12 PS_TTM records on 2015-06-30 is existed.
[WARN] 2018-06-28 19:29:12 PS_TTM records on 2015-07-31 is existed.
[WARN] 2018-06-28 19:29:12 PS_TTM records on 2015-08-31 is existed.
[WARN] 2018-06-28 19:29:12 PS_TTM records on 2015-09-30 is existed.
[WARN] 2018-06-28 19:29:12 PS_TTM records on 2015-10-30 is existed.
[WARN] 2018-06-28 19:29:12 PS_TTM records on 2015-11-30 is existed.
[WARN] 2018-06-28 19:29:12 PS_TTM records on 2015-12-31 is existed.
[INFO] 2018-06-28 19:29:12 E:\02_work\sw\db\indicator\2015.db is disconnected.
[INFO] 2018-06-28 19:29:12 E:\02_work\sw\db\indicator\2016.db is connected.
[INFO] 2018-06-28 19:29:12 SELECT DISTINCT(date) FROM PS_TTM WHERE date in ('2016-01-29', '2016-02-29', '2016-03-31', '2016-04-29', '2016-05-31', '2016-06-30', '2016-07-29', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-30')
[WARN] 2018-06-28 19:29:12 PS_TTM records on 2016-01-29 is existed.
[WARN] 2018-06-28 19:29:12 PS_TTM records on 2016-02-29 is existed.
[WARN] 2018-06-28 19:29:12 PS_TTM records on 2016-03-31 is existed.
[WARN] 2018-06-28 19:29:12 PS_TTM records on 2016-04-29 is existed.
[WARN] 2018-06-28 19:29:12 PS_TTM records on 2016-05-31 is existed.
[WARN] 2018-06-28 19:29:12 PS_TTM records on 2016-06-30 is existed.
[WARN] 2018-06-28 19:29:12 PS_TTM records on 2016-07-29 is existed.
[WARN] 2018-06-28 19:29:12 PS_TTM records on 2016-08-31 is existed.
[WARN] 2018-06-28 19:29:12 PS_TTM records on 2016-09-30 is existed.
[WARN] 2018-06-28 19:29:12 PS_TTM records on 2016-10-31 is existed.
[WARN] 2018-06-28 19:29:12 PS_TTM records on 2016-11-30 is existed.
[WARN] 2018-06-28 19:29:12 PS_TTM records on 2016-12-30 is existed.
[INFO] 2018-06-28 19:29:12 E:\02_work\sw\db\indicator\2016.db is disconnected.
[INFO] 2018-06-28 19:29:12 E:\02_work\sw\db\indicator\2017.db is connected.
[INFO] 2018-06-28 19:29:12 SELECT DISTINCT(date) FROM PS_TTM WHERE date in ('2017-01-26', '2017-02-28', '2017-03-31', '2017-04-28', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-29', '2017-10-31', '2017-11-30', '2017-12-29')
[WARN] 2018-06-28 19:29:12 PS_TTM records on 2017-01-26 is existed.
[WARN] 2018-06-28 19:29:12 PS_TTM records on 2017-02-28 is existed.
[WARN] 2018-06-28 19:29:12 PS_TTM records on 2017-03-31 is existed.
[WARN] 2018-06-28 19:29:12 PS_TTM records on 2017-04-28 is existed.
[WARN] 2018-06-28 19:29:12 PS_TTM records on 2017-05-31 is existed.
[WARN] 2018-06-28 19:29:12 PS_TTM records on 2017-06-30 is existed.
[WARN] 2018-06-28 19:29:12 PS_TTM records on 2017-07-31 is existed.
[WARN] 2018-06-28 19:29:12 PS_TTM records on 2017-08-31 is existed.
[WARN] 2018-06-28 19:29:12 PS_TTM records on 2017-09-29 is existed.
[WARN] 2018-06-28 19:29:12 PS_TTM records on 2017-10-31 is existed.
[WARN] 2018-06-28 19:29:12 PS_TTM records on 2017-11-30 is existed.
[WARN] 2018-06-28 19:29:12 PS_TTM records on 2017-12-29 is existed.
[INFO] 2018-06-28 19:29:12 E:\02_work\sw\db\indicator\2017.db is disconnected.
[INFO] 2018-06-28 19:29:12 E:\02_work\sw\db\indicator\2018.db is connected.
[INFO] 2018-06-28 19:29:12 SELECT DISTINCT(date) FROM PS_TTM WHERE date in ('2018-01-31', '2018-02-28', '2018-03-30', '2018-04-27', '2018-05-31')
[WARN] 2018-06-28 19:29:12 PS_TTM records on 2018-01-31 is existed.
[WARN] 2018-06-28 19:29:12 PS_TTM records on 2018-02-28 is existed.
[WARN] 2018-06-28 19:29:12 PS_TTM records on 2018-03-30 is existed.
[WARN] 2018-06-28 19:29:12 PS_TTM records on 2018-04-27 is existed.
[WARN] 2018-06-28 19:29:12 PS_TTM records on 2018-05-31 is existed.
[INFO] 2018-06-28 19:29:12 E:\02_work\sw\db\indicator\2018.db is disconnected.

[INFO] 2018-06-28 19:29:22 schema updated: PS_TTM
[INFO] 2018-06-28 19:29:22 indicator PS_TTM is updated.
[INFO] 2018-06-28 19:29:22 ------------------------------------------
[INFO] 2018-06-28 19:29:22 Updating indicator RISK_GAINVARIANCE120
[INFO] 2018-06-28 19:29:22 E:\02_work\sw\db\indicator\2005.db is connected.
CREATE TABLE [RISK_GAINVARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE120 REAL
);
[INFO] 2018-06-28 19:29:23 TABLE RISK_GAINVARIANCE120 is created in E:\02_work\sw\db\indicator\2005.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE120_index] ON [RISK_GAINVARIANCE120] (date, sec_id);
[INFO] 2018-06-28 19:29:23 INDEX RISK_GAINVARIANCE120_index is created on TABLE RISK_GAINVARIANCE120 of E:\02_work\sw\db\indicator\2005.db.
[INFO] 2018-06-28 19:29:23 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE120 WHERE date in ('2005-04-29', '2005-05-31', '2005-06-30', '2005-07-29', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-30')
Welcome to use Wind Quant API for Python (WindPy)!

COPYRIGHT (C) 2017 WIND INFORMATION CO., LTD. ALL RIGHTS RESERVED.
IN NO CIRCUMSTANCE SHALL WIND BE RESPONSIBLE FOR ANY DAMAGES OR LOSSES CAUSED BY USING WIND QUANT API FOR Python.
[INFO] 2018-06-28 19:29:34 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:34 RISK_GAINVARIANCE120 on 2005-04-29 is updated successfully
[INFO] 2018-06-28 19:29:34 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:34 RISK_GAINVARIANCE120 on 2005-05-31 is updated successfully
[INFO] 2018-06-28 19:29:35 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:35 RISK_GAINVARIANCE120 on 2005-06-30 is updated successfully
[INFO] 2018-06-28 19:29:35 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:35 RISK_GAINVARIANCE120 on 2005-07-29 is updated successfully
[INFO] 2018-06-28 19:29:36 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:36 RISK_GAINVARIANCE120 on 2005-08-31 is updated successfully
[INFO] 2018-06-28 19:29:36 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:36 RISK_GAINVARIANCE120 on 2005-09-30 is updated successfully
[INFO] 2018-06-28 19:29:37 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:37 RISK_GAINVARIANCE120 on 2005-10-31 is updated successfully
[INFO] 2018-06-28 19:29:37 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:37 RISK_GAINVARIANCE120 on 2005-11-30 is updated successfully
[INFO] 2018-06-28 19:29:37 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:37 RISK_GAINVARIANCE120 on 2005-12-30 is updated successfully
[INFO] 2018-06-28 19:29:37 E:\02_work\sw\db\indicator\2005.db is disconnected.
[INFO] 2018-06-28 19:29:37 E:\02_work\sw\db\indicator\2006.db is connected.
CREATE TABLE [RISK_GAINVARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE120 REAL
);
[INFO] 2018-06-28 19:29:38 TABLE RISK_GAINVARIANCE120 is created in E:\02_work\sw\db\indicator\2006.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE120_index] ON [RISK_GAINVARIANCE120] (date, sec_id);
[INFO] 2018-06-28 19:29:38 INDEX RISK_GAINVARIANCE120_index is created on TABLE RISK_GAINVARIANCE120 of E:\02_work\sw\db\indicator\2006.db.
[INFO] 2018-06-28 19:29:38 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE120 WHERE date in ('2006-01-25', '2006-02-28', '2006-03-31', '2006-04-28', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-29', '2006-10-31', '2006-11-30', '2006-12-29')
[INFO] 2018-06-28 19:29:38 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:38 RISK_GAINVARIANCE120 on 2006-01-25 is updated successfully
[INFO] 2018-06-28 19:29:39 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:39 RISK_GAINVARIANCE120 on 2006-02-28 is updated successfully
[INFO] 2018-06-28 19:29:39 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:39 RISK_GAINVARIANCE120 on 2006-03-31 is updated successfully
[INFO] 2018-06-28 19:29:40 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:40 RISK_GAINVARIANCE120 on 2006-04-28 is updated successfully
[INFO] 2018-06-28 19:29:40 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:40 RISK_GAINVARIANCE120 on 2006-05-31 is updated successfully
[INFO] 2018-06-28 19:29:40 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:40 RISK_GAINVARIANCE120 on 2006-06-30 is updated successfully
[INFO] 2018-06-28 19:29:41 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:41 RISK_GAINVARIANCE120 on 2006-07-31 is updated successfully
[INFO] 2018-06-28 19:29:41 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:41 RISK_GAINVARIANCE120 on 2006-08-31 is updated successfully
[INFO] 2018-06-28 19:29:41 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:41 RISK_GAINVARIANCE120 on 2006-09-29 is updated successfully
[INFO] 2018-06-28 19:29:42 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:42 RISK_GAINVARIANCE120 on 2006-10-31 is updated successfully
[INFO] 2018-06-28 19:29:42 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:42 RISK_GAINVARIANCE120 on 2006-11-30 is updated successfully
[INFO] 2018-06-28 19:29:43 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:43 RISK_GAINVARIANCE120 on 2006-12-29 is updated successfully
[INFO] 2018-06-28 19:29:43 E:\02_work\sw\db\indicator\2006.db is disconnected.
[INFO] 2018-06-28 19:29:43 E:\02_work\sw\db\indicator\2007.db is connected.
CREATE TABLE [RISK_GAINVARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE120 REAL
);
[INFO] 2018-06-28 19:29:43 TABLE RISK_GAINVARIANCE120 is created in E:\02_work\sw\db\indicator\2007.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE120_index] ON [RISK_GAINVARIANCE120] (date, sec_id);
[INFO] 2018-06-28 19:29:43 INDEX RISK_GAINVARIANCE120_index is created on TABLE RISK_GAINVARIANCE120 of E:\02_work\sw\db\indicator\2007.db.
[INFO] 2018-06-28 19:29:43 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE120 WHERE date in ('2007-01-31', '2007-02-28', '2007-03-30', '2007-04-30', '2007-05-31', '2007-06-29', '2007-07-31', '2007-08-31', '2007-09-28', '2007-10-31', '2007-11-30', '2007-12-28')
[INFO] 2018-06-28 19:29:44 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:44 RISK_GAINVARIANCE120 on 2007-01-31 is updated successfully
[INFO] 2018-06-28 19:29:44 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:44 RISK_GAINVARIANCE120 on 2007-02-28 is updated successfully
[INFO] 2018-06-28 19:29:44 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:44 RISK_GAINVARIANCE120 on 2007-03-30 is updated successfully
[INFO] 2018-06-28 19:29:45 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:45 RISK_GAINVARIANCE120 on 2007-04-30 is updated successfully
[INFO] 2018-06-28 19:29:45 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:45 RISK_GAINVARIANCE120 on 2007-05-31 is updated successfully
[INFO] 2018-06-28 19:29:46 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:46 RISK_GAINVARIANCE120 on 2007-06-29 is updated successfully
[INFO] 2018-06-28 19:29:46 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:46 RISK_GAINVARIANCE120 on 2007-07-31 is updated successfully

[INFO] 2018-06-28 19:29:46 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:46 RISK_GAINVARIANCE120 on 2007-08-31 is updated successfully
[INFO] 2018-06-28 19:29:47 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:47 RISK_GAINVARIANCE120 on 2007-09-28 is updated successfully
[INFO] 2018-06-28 19:29:47 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:47 RISK_GAINVARIANCE120 on 2007-10-31 is updated successfully
[INFO] 2018-06-28 19:29:47 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:47 RISK_GAINVARIANCE120 on 2007-11-30 is updated successfully
[INFO] 2018-06-28 19:29:48 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:48 RISK_GAINVARIANCE120 on 2007-12-28 is updated successfully
[INFO] 2018-06-28 19:29:48 E:\02_work\sw\db\indicator\2007.db is disconnected.
[INFO] 2018-06-28 19:29:48 E:\02_work\sw\db\indicator\2008.db is connected.
CREATE TABLE [RISK_GAINVARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE120 REAL
);
[INFO] 2018-06-28 19:29:48 TABLE RISK_GAINVARIANCE120 is created in E:\02_work\sw\db\indicator\2008.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE120_index] ON [RISK_GAINVARIANCE120] (date, sec_id);
[INFO] 2018-06-28 19:29:48 INDEX RISK_GAINVARIANCE120_index is created on TABLE RISK_GAINVARIANCE120 of E:\02_work\sw\db\indicator\2008.db.
[INFO] 2018-06-28 19:29:48 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE120 WHERE date in ('2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-30', '2008-06-30', '2008-07-31', '2008-08-29', '2008-09-26', '2008-10-31', '2008-11-28', '2008-12-31')
[INFO] 2018-06-28 19:29:49 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:49 RISK_GAINVARIANCE120 on 2008-01-31 is updated successfully
[INFO] 2018-06-28 19:29:49 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:49 RISK_GAINVARIANCE120 on 2008-02-29 is updated successfully
[INFO] 2018-06-28 19:29:49 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:49 RISK_GAINVARIANCE120 on 2008-03-31 is updated successfully
[INFO] 2018-06-28 19:29:50 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:50 RISK_GAINVARIANCE120 on 2008-04-30 is updated successfully
[INFO] 2018-06-28 19:29:50 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:50 RISK_GAINVARIANCE120 on 2008-05-30 is updated successfully
[INFO] 2018-06-28 19:29:51 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:51 RISK_GAINVARIANCE120 on 2008-06-30 is updated successfully
[INFO] 2018-06-28 19:29:51 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:51 RISK_GAINVARIANCE120 on 2008-07-31 is updated successfully
[INFO] 2018-06-28 19:29:51 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:51 RISK_GAINVARIANCE120 on 2008-08-29 is updated successfully
[INFO] 2018-06-28 19:29:52 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:52 RISK_GAINVARIANCE120 on 2008-09-26 is updated successfully
[INFO] 2018-06-28 19:29:52 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:52 RISK_GAINVARIANCE120 on 2008-10-31 is updated successfully
[INFO] 2018-06-28 19:29:53 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:53 RISK_GAINVARIANCE120 on 2008-11-28 is updated successfully
[INFO] 2018-06-28 19:29:53 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:53 RISK_GAINVARIANCE120 on 2008-12-31 is updated successfully
[INFO] 2018-06-28 19:29:53 E:\02_work\sw\db\indicator\2008.db is disconnected.
[INFO] 2018-06-28 19:29:53 E:\02_work\sw\db\indicator\2009.db is connected.
CREATE TABLE [RISK_GAINVARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE120 REAL
);
[INFO] 2018-06-28 19:29:53 TABLE RISK_GAINVARIANCE120 is created in E:\02_work\sw\db\indicator\2009.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE120_index] ON [RISK_GAINVARIANCE120] (date, sec_id);
[INFO] 2018-06-28 19:29:53 INDEX RISK_GAINVARIANCE120_index is created on TABLE RISK_GAINVARIANCE120 of E:\02_work\sw\db\indicator\2009.db.
[INFO] 2018-06-28 19:29:53 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE120 WHERE date in ('2009-01-23', '2009-02-27', '2009-03-31', '2009-04-30', '2009-05-27', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-30', '2009-11-30', '2009-12-31')
[INFO] 2018-06-28 19:29:54 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:54 RISK_GAINVARIANCE120 on 2009-01-23 is updated successfully
[INFO] 2018-06-28 19:29:54 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:54 RISK_GAINVARIANCE120 on 2009-02-27 is updated successfully
[INFO] 2018-06-28 19:29:54 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:54 RISK_GAINVARIANCE120 on 2009-03-31 is updated successfully
[INFO] 2018-06-28 19:29:55 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:55 RISK_GAINVARIANCE120 on 2009-04-30 is updated successfully
[INFO] 2018-06-28 19:29:55 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:55 RISK_GAINVARIANCE120 on 2009-05-27 is updated successfully
[INFO] 2018-06-28 19:29:56 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:56 RISK_GAINVARIANCE120 on 2009-06-30 is updated successfully
[INFO] 2018-06-28 19:29:56 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:56 RISK_GAINVARIANCE120 on 2009-07-31 is updated successfully
[INFO] 2018-06-28 19:29:56 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:56 RISK_GAINVARIANCE120 on 2009-08-31 is updated successfully
[INFO] 2018-06-28 19:29:56 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:56 RISK_GAINVARIANCE120 on 2009-09-30 is updated successfully
[INFO] 2018-06-28 19:29:57 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:57 RISK_GAINVARIANCE120 on 2009-10-30 is updated successfully
[INFO] 2018-06-28 19:29:57 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:57 RISK_GAINVARIANCE120 on 2009-11-30 is updated successfully
[INFO] 2018-06-28 19:29:58 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:58 RISK_GAINVARIANCE120 on 2009-12-31 is updated successfully
[INFO] 2018-06-28 19:29:58 E:\02_work\sw\db\indicator\2009.db is disconnected.
[INFO] 2018-06-28 19:29:58 E:\02_work\sw\db\indicator\2010.db is connected.
CREATE TABLE [RISK_GAINVARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE120 REAL
);
[INFO] 2018-06-28 19:29:58 TABLE RISK_GAINVARIANCE120 is created in E:\02_work\sw\db\indicator\2010.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE120_index] ON [RISK_GAINVARIANCE120] (date, sec_id);
[INFO] 2018-06-28 19:29:58 INDEX RISK_GAINVARIANCE120_index is created on TABLE RISK_GAINVARIANCE120 of E:\02_work\sw\db\indicator\2010.db.
[INFO] 2018-06-28 19:29:58 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE120 WHERE date in ('2010-01-29', '2010-02-26', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-30', '2010-08-31', '2010-09-30', '2010-10-29', '2010-11-30', '2010-12-31')
[INFO] 2018-06-28 19:29:58 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:58 RISK_GAINVARIANCE120 on 2010-01-29 is updated successfully

[INFO] 2018-06-28 19:29:59 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:59 RISK_GAINVARIANCE120 on 2010-02-26 is updated successfully
[INFO] 2018-06-28 19:29:59 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:59 RISK_GAINVARIANCE120 on 2010-03-31 is updated successfully
[INFO] 2018-06-28 19:29:59 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:29:59 RISK_GAINVARIANCE120 on 2010-04-30 is updated successfully
[INFO] 2018-06-28 19:30:00 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:00 RISK_GAINVARIANCE120 on 2010-05-31 is updated successfully
[INFO] 2018-06-28 19:30:00 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:00 RISK_GAINVARIANCE120 on 2010-06-30 is updated successfully
[INFO] 2018-06-28 19:30:01 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:01 RISK_GAINVARIANCE120 on 2010-07-30 is updated successfully
[INFO] 2018-06-28 19:30:01 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:01 RISK_GAINVARIANCE120 on 2010-08-31 is updated successfully
[INFO] 2018-06-28 19:30:02 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:02 RISK_GAINVARIANCE120 on 2010-09-30 is updated successfully
[INFO] 2018-06-28 19:30:02 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:02 RISK_GAINVARIANCE120 on 2010-10-29 is updated successfully
[INFO] 2018-06-28 19:30:02 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:02 RISK_GAINVARIANCE120 on 2010-11-30 is updated successfully
[INFO] 2018-06-28 19:30:03 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:03 RISK_GAINVARIANCE120 on 2010-12-31 is updated successfully
[INFO] 2018-06-28 19:30:03 E:\02_work\sw\db\indicator\2010.db is disconnected.
[INFO] 2018-06-28 19:30:03 E:\02_work\sw\db\indicator\2011.db is connected.
CREATE TABLE [RISK_GAINVARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE120 REAL
);
[INFO] 2018-06-28 19:30:03 TABLE RISK_GAINVARIANCE120 is created in E:\02_work\sw\db\indicator\2011.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE120_index] ON [RISK_GAINVARIANCE120] (date, sec_id);
[INFO] 2018-06-28 19:30:03 INDEX RISK_GAINVARIANCE120_index is created on TABLE RISK_GAINVARIANCE120 of E:\02_work\sw\db\indicator\2011.db.
[INFO] 2018-06-28 19:30:03 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE120 WHERE date in ('2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29', '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30')
[INFO] 2018-06-28 19:30:03 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:03 RISK_GAINVARIANCE120 on 2011-01-31 is updated successfully
[INFO] 2018-06-28 19:30:04 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:04 RISK_GAINVARIANCE120 on 2011-02-28 is updated successfully
[INFO] 2018-06-28 19:30:04 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:04 RISK_GAINVARIANCE120 on 2011-03-31 is updated successfully
[INFO] 2018-06-28 19:30:05 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:05 RISK_GAINVARIANCE120 on 2011-04-29 is updated successfully
[INFO] 2018-06-28 19:30:05 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:05 RISK_GAINVARIANCE120 on 2011-05-31 is updated successfully
[INFO] 2018-06-28 19:30:05 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:05 RISK_GAINVARIANCE120 on 2011-06-30 is updated successfully
[INFO] 2018-06-28 19:30:06 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:06 RISK_GAINVARIANCE120 on 2011-07-29 is updated successfully
[INFO] 2018-06-28 19:30:07 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:07 RISK_GAINVARIANCE120 on 2011-08-31 is updated successfully
[INFO] 2018-06-28 19:30:07 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:07 RISK_GAINVARIANCE120 on 2011-09-30 is updated successfully
[INFO] 2018-06-28 19:30:07 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:07 RISK_GAINVARIANCE120 on 2011-10-31 is updated successfully
[INFO] 2018-06-28 19:30:08 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:08 RISK_GAINVARIANCE120 on 2011-11-30 is updated successfully
[INFO] 2018-06-28 19:30:08 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:08 RISK_GAINVARIANCE120 on 2011-12-30 is updated successfully
[INFO] 2018-06-28 19:30:08 E:\02_work\sw\db\indicator\2011.db is disconnected.
[INFO] 2018-06-28 19:30:08 E:\02_work\sw\db\indicator\2012.db is connected.
CREATE TABLE [RISK_GAINVARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE120 REAL
);
[INFO] 2018-06-28 19:30:08 TABLE RISK_GAINVARIANCE120 is created in E:\02_work\sw\db\indicator\2012.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE120_index] ON [RISK_GAINVARIANCE120] (date, sec_id);
[INFO] 2018-06-28 19:30:09 INDEX RISK_GAINVARIANCE120_index is created on TABLE RISK_GAINVARIANCE120 of E:\02_work\sw\db\indicator\2012.db.
[INFO] 2018-06-28 19:30:09 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE120 WHERE date in ('2012-01-31', '2012-02-29', '2012-03-30', '2012-04-27', '2012-05-31', '2012-06-29', '2012-07-31', '2012-08-31', '2012-09-28', '2012-10-31', '2012-11-30', '2012-12-31')
[INFO] 2018-06-28 19:30:09 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:09 RISK_GAINVARIANCE120 on 2012-01-31 is updated successfully
[INFO] 2018-06-28 19:30:09 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:09 RISK_GAINVARIANCE120 on 2012-02-29 is updated successfully
[INFO] 2018-06-28 19:30:10 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:10 RISK_GAINVARIANCE120 on 2012-03-30 is updated successfully
[INFO] 2018-06-28 19:30:10 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:10 RISK_GAINVARIANCE120 on 2012-04-27 is updated successfully
[INFO] 2018-06-28 19:30:11 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:11 RISK_GAINVARIANCE120 on 2012-05-31 is updated successfully
[INFO] 2018-06-28 19:30:11 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:11 RISK_GAINVARIANCE120 on 2012-06-29 is updated successfully
[INFO] 2018-06-28 19:30:11 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:11 RISK_GAINVARIANCE120 on 2012-07-31 is updated successfully
[INFO] 2018-06-28 19:30:12 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:12 RISK_GAINVARIANCE120 on 2012-08-31 is updated successfully
[INFO] 2018-06-28 19:30:13 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:13 RISK_GAINVARIANCE120 on 2012-09-28 is updated successfully
[INFO] 2018-06-28 19:30:13 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:13 RISK_GAINVARIANCE120 on 2012-10-31 is updated successfully
[INFO] 2018-06-28 19:30:13 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:13 RISK_GAINVARIANCE120 on 2012-11-30 is updated successfully
[INFO] 2018-06-28 19:30:14 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:14 RISK_GAINVARIANCE120 on 2012-12-31 is updated successfully
[INFO] 2018-06-28 19:30:14 E:\02_work\sw\db\indicator\2012.db is disconnected.
[INFO] 2018-06-28 19:30:14 E:\02_work\sw\db\indicator\2013.db is connected.
CREATE TABLE [RISK_GAINVARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE120 REAL
);
[INFO] 2018-06-28 19:30:14 TABLE RISK_GAINVARIANCE120 is created in E:\02_work\sw\db\indicator\2013.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE120_index] ON [RISK_GAINVARIANCE120] (date, sec_id);

[INFO] 2018-06-28 19:30:14 INDEX RISK_GAINVARIANCE120_index is created on TABLE RISK_GAINVARIANCE120 of E:\02_work\sw\db\indicator\2013.db.
[INFO] 2018-06-28 19:30:14 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE120 WHERE date in ('2013-01-31', '2013-02-28', '2013-03-29', '2013-04-26', '2013-05-31', '2013-06-28', '2013-07-31', '2013-08-30', '2013-09-30', '2013-10-31', '2013-11-29', '2013-12-31')
[INFO] 2018-06-28 19:30:14 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:14 RISK_GAINVARIANCE120 on 2013-01-31 is updated successfully
[INFO] 2018-06-28 19:30:15 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:15 RISK_GAINVARIANCE120 on 2013-02-28 is updated successfully
[INFO] 2018-06-28 19:30:15 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:15 RISK_GAINVARIANCE120 on 2013-03-29 is updated successfully
[INFO] 2018-06-28 19:30:16 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:16 RISK_GAINVARIANCE120 on 2013-04-26 is updated successfully
[INFO] 2018-06-28 19:30:16 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:16 RISK_GAINVARIANCE120 on 2013-05-31 is updated successfully
[INFO] 2018-06-28 19:30:16 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:16 RISK_GAINVARIANCE120 on 2013-06-28 is updated successfully
[INFO] 2018-06-28 19:30:17 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:17 RISK_GAINVARIANCE120 on 2013-07-31 is updated successfully
[INFO] 2018-06-28 19:30:18 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:18 RISK_GAINVARIANCE120 on 2013-08-30 is updated successfully
[INFO] 2018-06-28 19:30:18 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:18 RISK_GAINVARIANCE120 on 2013-09-30 is updated successfully
[INFO] 2018-06-28 19:30:18 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:18 RISK_GAINVARIANCE120 on 2013-10-31 is updated successfully
[INFO] 2018-06-28 19:30:19 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:19 RISK_GAINVARIANCE120 on 2013-11-29 is updated successfully
[INFO] 2018-06-28 19:30:19 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:19 RISK_GAINVARIANCE120 on 2013-12-31 is updated successfully
[INFO] 2018-06-28 19:30:19 E:\02_work\sw\db\indicator\2013.db is disconnected.
[INFO] 2018-06-28 19:30:19 E:\02_work\sw\db\indicator\2014.db is connected.
CREATE TABLE [RISK_GAINVARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE120 REAL
);
[INFO] 2018-06-28 19:30:19 TABLE RISK_GAINVARIANCE120 is created in E:\02_work\sw\db\indicator\2014.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE120_index] ON [RISK_GAINVARIANCE120] (date, sec_id);
[INFO] 2018-06-28 19:30:20 INDEX RISK_GAINVARIANCE120_index is created on TABLE RISK_GAINVARIANCE120 of E:\02_work\sw\db\indicator\2014.db.
[INFO] 2018-06-28 19:30:20 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE120 WHERE date in ('2014-01-30', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-30', '2014-06-30', '2014-07-31', '2014-08-29', '2014-09-30', '2014-10-31', '2014-11-28', '2014-12-31')
[INFO] 2018-06-28 19:30:20 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:20 RISK_GAINVARIANCE120 on 2014-01-30 is updated successfully
[INFO] 2018-06-28 19:30:20 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:20 RISK_GAINVARIANCE120 on 2014-02-28 is updated successfully
[INFO] 2018-06-28 19:30:21 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:21 RISK_GAINVARIANCE120 on 2014-03-31 is updated successfully
[INFO] 2018-06-28 19:30:21 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:21 RISK_GAINVARIANCE120 on 2014-04-30 is updated successfully
[INFO] 2018-06-28 19:30:22 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:22 RISK_GAINVARIANCE120 on 2014-05-30 is updated successfully
[INFO] 2018-06-28 19:30:22 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:22 RISK_GAINVARIANCE120 on 2014-06-30 is updated successfully
[INFO] 2018-06-28 19:30:22 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:22 RISK_GAINVARIANCE120 on 2014-07-31 is updated successfully
[INFO] 2018-06-28 19:30:23 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:23 RISK_GAINVARIANCE120 on 2014-08-29 is updated successfully
[INFO] 2018-06-28 19:30:23 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:23 RISK_GAINVARIANCE120 on 2014-09-30 is updated successfully
[INFO] 2018-06-28 19:30:24 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:24 RISK_GAINVARIANCE120 on 2014-10-31 is updated successfully
[INFO] 2018-06-28 19:30:24 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:24 RISK_GAINVARIANCE120 on 2014-11-28 is updated successfully
[INFO] 2018-06-28 19:30:24 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:24 RISK_GAINVARIANCE120 on 2014-12-31 is updated successfully
[INFO] 2018-06-28 19:30:24 E:\02_work\sw\db\indicator\2014.db is disconnected.
[INFO] 2018-06-28 19:30:24 E:\02_work\sw\db\indicator\2015.db is connected.
CREATE TABLE [RISK_GAINVARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE120 REAL
);
[INFO] 2018-06-28 19:30:25 TABLE RISK_GAINVARIANCE120 is created in E:\02_work\sw\db\indicator\2015.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE120_index] ON [RISK_GAINVARIANCE120] (date, sec_id);
[INFO] 2018-06-28 19:30:25 INDEX RISK_GAINVARIANCE120_index is created on TABLE RISK_GAINVARIANCE120 of E:\02_work\sw\db\indicator\2015.db.
[INFO] 2018-06-28 19:30:25 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE120 WHERE date in ('2015-01-30', '2015-02-27', '2015-03-31', '2015-04-30', '2015-05-29', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-30', '2015-11-30', '2015-12-31')
[INFO] 2018-06-28 19:30:25 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:25 RISK_GAINVARIANCE120 on 2015-01-30 is updated successfully
[INFO] 2018-06-28 19:30:26 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:26 RISK_GAINVARIANCE120 on 2015-02-27 is updated successfully
[INFO] 2018-06-28 19:30:26 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:26 RISK_GAINVARIANCE120 on 2015-03-31 is updated successfully
[INFO] 2018-06-28 19:30:26 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:26 RISK_GAINVARIANCE120 on 2015-04-30 is updated successfully
[INFO] 2018-06-28 19:30:27 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:27 RISK_GAINVARIANCE120 on 2015-05-29 is updated successfully
[INFO] 2018-06-28 19:30:27 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:27 RISK_GAINVARIANCE120 on 2015-06-30 is updated successfully
[INFO] 2018-06-28 19:30:28 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:28 RISK_GAINVARIANCE120 on 2015-07-31 is updated successfully
[INFO] 2018-06-28 19:30:28 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:28 RISK_GAINVARIANCE120 on 2015-08-31 is updated successfully

[INFO] 2018-06-28 19:30:29 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:29 RISK_GAINVARIANCE120 on 2015-09-30 is updated successfully
[INFO] 2018-06-28 19:30:29 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:29 RISK_GAINVARIANCE120 on 2015-10-30 is updated successfully
[INFO] 2018-06-28 19:30:30 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:30 RISK_GAINVARIANCE120 on 2015-11-30 is updated successfully
[INFO] 2018-06-28 19:30:30 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:30 RISK_GAINVARIANCE120 on 2015-12-31 is updated successfully
[INFO] 2018-06-28 19:30:30 E:\02_work\sw\db\indicator\2015.db is disconnected.
[INFO] 2018-06-28 19:30:30 E:\02_work\sw\db\indicator\2016.db is connected.
CREATE TABLE [RISK_GAINVARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE120 REAL
);
[INFO] 2018-06-28 19:30:30 TABLE RISK_GAINVARIANCE120 is created in E:\02_work\sw\db\indicator\2016.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE120_index] ON [RISK_GAINVARIANCE120] (date, sec_id);
[INFO] 2018-06-28 19:30:31 INDEX RISK_GAINVARIANCE120_index is created on TABLE RISK_GAINVARIANCE120 of E:\02_work\sw\db\indicator\2016.db.
[INFO] 2018-06-28 19:30:31 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE120 WHERE date in ('2016-01-29', '2016-02-29', '2016-03-31', '2016-04-29', '2016-05-31', '2016-06-30', '2016-07-29', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-30')
[INFO] 2018-06-28 19:30:31 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:31 RISK_GAINVARIANCE120 on 2016-01-29 is updated successfully
[INFO] 2018-06-28 19:30:31 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:31 RISK_GAINVARIANCE120 on 2016-02-29 is updated successfully
[INFO] 2018-06-28 19:30:32 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:32 RISK_GAINVARIANCE120 on 2016-03-31 is updated successfully
[INFO] 2018-06-28 19:30:32 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:32 RISK_GAINVARIANCE120 on 2016-04-29 is updated successfully
[INFO] 2018-06-28 19:30:33 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:33 RISK_GAINVARIANCE120 on 2016-05-31 is updated successfully
[INFO] 2018-06-28 19:30:33 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:33 RISK_GAINVARIANCE120 on 2016-06-30 is updated successfully
[INFO] 2018-06-28 19:30:34 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:34 RISK_GAINVARIANCE120 on 2016-07-29 is updated successfully
[INFO] 2018-06-28 19:30:34 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:34 RISK_GAINVARIANCE120 on 2016-08-31 is updated successfully
[INFO] 2018-06-28 19:30:35 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:35 RISK_GAINVARIANCE120 on 2016-09-30 is updated successfully
[INFO] 2018-06-28 19:30:35 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:35 RISK_GAINVARIANCE120 on 2016-10-31 is updated successfully
[INFO] 2018-06-28 19:30:36 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:36 RISK_GAINVARIANCE120 on 2016-11-30 is updated successfully
[INFO] 2018-06-28 19:30:36 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:36 RISK_GAINVARIANCE120 on 2016-12-30 is updated successfully
[INFO] 2018-06-28 19:30:36 E:\02_work\sw\db\indicator\2016.db is disconnected.
[INFO] 2018-06-28 19:30:36 E:\02_work\sw\db\indicator\2017.db is connected.
CREATE TABLE [RISK_GAINVARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE120 REAL
);
[INFO] 2018-06-28 19:30:37 TABLE RISK_GAINVARIANCE120 is created in E:\02_work\sw\db\indicator\2017.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE120_index] ON [RISK_GAINVARIANCE120] (date, sec_id);
[INFO] 2018-06-28 19:30:37 INDEX RISK_GAINVARIANCE120_index is created on TABLE RISK_GAINVARIANCE120 of E:\02_work\sw\db\indicator\2017.db.
[INFO] 2018-06-28 19:30:37 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE120 WHERE date in ('2017-01-26', '2017-02-28', '2017-03-31', '2017-04-28', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-29', '2017-10-31', '2017-11-30', '2017-12-29')
[INFO] 2018-06-28 19:30:37 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:37 RISK_GAINVARIANCE120 on 2017-01-26 is updated successfully
[INFO] 2018-06-28 19:30:38 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:38 RISK_GAINVARIANCE120 on 2017-02-28 is updated successfully
[INFO] 2018-06-28 19:30:38 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:38 RISK_GAINVARIANCE120 on 2017-03-31 is updated successfully
[INFO] 2018-06-28 19:30:39 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:39 RISK_GAINVARIANCE120 on 2017-04-28 is updated successfully
[INFO] 2018-06-28 19:30:40 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:40 RISK_GAINVARIANCE120 on 2017-05-31 is updated successfully
[INFO] 2018-06-28 19:30:40 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:40 RISK_GAINVARIANCE120 on 2017-06-30 is updated successfully
[INFO] 2018-06-28 19:30:41 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:41 RISK_GAINVARIANCE120 on 2017-07-31 is updated successfully
[INFO] 2018-06-28 19:30:42 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:42 RISK_GAINVARIANCE120 on 2017-08-31 is updated successfully
[INFO] 2018-06-28 19:30:42 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:42 RISK_GAINVARIANCE120 on 2017-09-29 is updated successfully
[INFO] 2018-06-28 19:30:43 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:43 RISK_GAINVARIANCE120 on 2017-10-31 is updated successfully
[INFO] 2018-06-28 19:30:44 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:44 RISK_GAINVARIANCE120 on 2017-11-30 is updated successfully
[INFO] 2018-06-28 19:30:44 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:44 RISK_GAINVARIANCE120 on 2017-12-29 is updated successfully
[INFO] 2018-06-28 19:30:44 E:\02_work\sw\db\indicator\2017.db is disconnected.
[INFO] 2018-06-28 19:30:44 E:\02_work\sw\db\indicator\2018.db is connected.
CREATE TABLE [RISK_GAINVARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE120 REAL
);
[INFO] 2018-06-28 19:30:44 TABLE RISK_GAINVARIANCE120 is created in E:\02_work\sw\db\indicator\2018.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE120_index] ON [RISK_GAINVARIANCE120] (date, sec_id);
[INFO] 2018-06-28 19:30:44 INDEX RISK_GAINVARIANCE120_index is created on TABLE RISK_GAINVARIANCE120 of E:\02_work\sw\db\indicator\2018.db.
[INFO] 2018-06-28 19:30:44 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE120 WHERE date in ('2018-01-31', '2018-02-28', '2018-03-30', '2018-04-27', '2018-05-31')
[INFO] 2018-06-28 19:30:45 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:45 RISK_GAINVARIANCE120 on 2018-01-31 is updated successfully
[INFO] 2018-06-28 19:30:45 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:45 RISK_GAINVARIANCE120 on 2018-02-28 is updated successfully

[INFO] 2018-06-28 19:30:46 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:46 RISK_GAINVARIANCE120 on 2018-03-30 is updated successfully
[INFO] 2018-06-28 19:30:46 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:46 RISK_GAINVARIANCE120 on 2018-04-27 is updated successfully
[INFO] 2018-06-28 19:30:47 Data is inserted to RISK_GAINVARIANCE120 successfully!
[INFO] 2018-06-28 19:30:47 RISK_GAINVARIANCE120 on 2018-05-31 is updated successfully
[INFO] 2018-06-28 19:30:47 E:\02_work\sw\db\indicator\2018.db is disconnected.
[INFO] 2018-06-28 19:30:47 schema updated: RISK_GAINVARIANCE120
[INFO] 2018-06-28 19:30:47 indicator RISK_GAINVARIANCE120 is updated.
[INFO] 2018-06-28 19:30:47 ------------------------------------------
[INFO] 2018-06-28 19:30:47 Updating indicator RISK_GAINVARIANCE20
[INFO] 2018-06-28 19:30:47 E:\02_work\sw\db\indicator\2005.db is connected.
CREATE TABLE [RISK_GAINVARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE20 REAL
);
[INFO] 2018-06-28 19:30:47 TABLE RISK_GAINVARIANCE20 is created in E:\02_work\sw\db\indicator\2005.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE20_index] ON [RISK_GAINVARIANCE20] (date, sec_id);
[INFO] 2018-06-28 19:30:47 INDEX RISK_GAINVARIANCE20_index is created on TABLE RISK_GAINVARIANCE20 of E:\02_work\sw\db\indicator\2005.db.
[INFO] 2018-06-28 19:30:47 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE20 WHERE date in ('2005-04-29', '2005-05-31', '2005-06-30', '2005-07-29', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-30')
[INFO] 2018-06-28 19:30:47 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:30:47 RISK_GAINVARIANCE20 on 2005-04-29 is updated successfully
[INFO] 2018-06-28 19:30:48 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:30:48 RISK_GAINVARIANCE20 on 2005-05-31 is updated successfully
[INFO] 2018-06-28 19:30:48 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:30:48 RISK_GAINVARIANCE20 on 2005-06-30 is updated successfully
[INFO] 2018-06-28 19:30:49 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:30:49 RISK_GAINVARIANCE20 on 2005-07-29 is updated successfully
[INFO] 2018-06-28 19:30:49 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:30:49 RISK_GAINVARIANCE20 on 2005-08-31 is updated successfully
[INFO] 2018-06-28 19:30:49 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:30:49 RISK_GAINVARIANCE20 on 2005-09-30 is updated successfully
[INFO] 2018-06-28 19:30:50 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:30:50 RISK_GAINVARIANCE20 on 2005-10-31 is updated successfully
[INFO] 2018-06-28 19:30:50 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:30:50 RISK_GAINVARIANCE20 on 2005-11-30 is updated successfully
[INFO] 2018-06-28 19:30:50 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:30:50 RISK_GAINVARIANCE20 on 2005-12-30 is updated successfully
[INFO] 2018-06-28 19:30:50 E:\02_work\sw\db\indicator\2005.db is disconnected.
[INFO] 2018-06-28 19:30:50 E:\02_work\sw\db\indicator\2006.db is connected.
CREATE TABLE [RISK_GAINVARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE20 REAL
);
[INFO] 2018-06-28 19:30:51 TABLE RISK_GAINVARIANCE20 is created in E:\02_work\sw\db\indicator\2006.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE20_index] ON [RISK_GAINVARIANCE20] (date, sec_id);
[INFO] 2018-06-28 19:30:51 INDEX RISK_GAINVARIANCE20_index is created on TABLE RISK_GAINVARIANCE20 of E:\02_work\sw\db\indicator\2006.db.
[INFO] 2018-06-28 19:30:51 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE20 WHERE date in ('2006-01-25', '2006-02-28', '2006-03-31', '2006-04-28', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-29', '2006-10-31', '2006-11-30', '2006-12-29')
[INFO] 2018-06-28 19:30:51 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:30:51 RISK_GAINVARIANCE20 on 2006-01-25 is updated successfully
[INFO] 2018-06-28 19:30:51 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:30:51 RISK_GAINVARIANCE20 on 2006-02-28 is updated successfully
[INFO] 2018-06-28 19:30:52 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:30:52 RISK_GAINVARIANCE20 on 2006-03-31 is updated successfully
[INFO] 2018-06-28 19:30:52 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:30:52 RISK_GAINVARIANCE20 on 2006-04-28 is updated successfully
[INFO] 2018-06-28 19:30:52 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:30:52 RISK_GAINVARIANCE20 on 2006-05-31 is updated successfully
[INFO] 2018-06-28 19:30:53 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:30:53 RISK_GAINVARIANCE20 on 2006-06-30 is updated successfully
[INFO] 2018-06-28 19:30:53 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:30:53 RISK_GAINVARIANCE20 on 2006-07-31 is updated successfully
[INFO] 2018-06-28 19:30:54 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:30:54 RISK_GAINVARIANCE20 on 2006-08-31 is updated successfully
[INFO] 2018-06-28 19:30:54 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:30:54 RISK_GAINVARIANCE20 on 2006-09-29 is updated successfully
[INFO] 2018-06-28 19:30:54 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:30:54 RISK_GAINVARIANCE20 on 2006-10-31 is updated successfully
[INFO] 2018-06-28 19:30:55 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:30:55 RISK_GAINVARIANCE20 on 2006-11-30 is updated successfully
[INFO] 2018-06-28 19:30:55 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:30:55 RISK_GAINVARIANCE20 on 2006-12-29 is updated successfully
[INFO] 2018-06-28 19:30:55 E:\02_work\sw\db\indicator\2006.db is disconnected.
[INFO] 2018-06-28 19:30:55 E:\02_work\sw\db\indicator\2007.db is connected.
CREATE TABLE [RISK_GAINVARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE20 REAL
);
[INFO] 2018-06-28 19:30:56 TABLE RISK_GAINVARIANCE20 is created in E:\02_work\sw\db\indicator\2007.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE20_index] ON [RISK_GAINVARIANCE20] (date, sec_id);
[INFO] 2018-06-28 19:30:56 INDEX RISK_GAINVARIANCE20_index is created on TABLE RISK_GAINVARIANCE20 of E:\02_work\sw\db\indicator\2007.db.
[INFO] 2018-06-28 19:30:56 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE20 WHERE date in ('2007-01-31', '2007-02-28', '2007-03-30', '2007-04-30', '2007-05-31', '2007-06-29', '2007-07-31', '2007-08-31', '2007-09-28', '2007-10-31', '2007-11-30', '2007-12-28')
[INFO] 2018-06-28 19:30:56 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:30:56 RISK_GAINVARIANCE20 on 2007-01-31 is updated successfully
[INFO] 2018-06-28 19:30:56 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:30:56 RISK_GAINVARIANCE20 on 2007-02-28 is updated successfully
[INFO] 2018-06-28 19:30:57 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:30:57 RISK_GAINVARIANCE20 on 2007-03-30 is updated successfully
[INFO] 2018-06-28 19:30:57 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:30:57 RISK_GAINVARIANCE20 on 2007-04-30 is updated successfully
[INFO] 2018-06-28 19:30:57 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:30:57 RISK_GAINVARIANCE20 on 2007-05-31 is updated successfully

[INFO] 2018-06-28 19:30:58 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:30:58 RISK_GAINVARIANCE20 on 2007-06-29 is updated successfully
[INFO] 2018-06-28 19:30:58 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:30:58 RISK_GAINVARIANCE20 on 2007-07-31 is updated successfully
[INFO] 2018-06-28 19:30:59 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:30:59 RISK_GAINVARIANCE20 on 2007-08-31 is updated successfully
[INFO] 2018-06-28 19:30:59 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:30:59 RISK_GAINVARIANCE20 on 2007-09-28 is updated successfully
[INFO] 2018-06-28 19:30:59 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:30:59 RISK_GAINVARIANCE20 on 2007-10-31 is updated successfully
[INFO] 2018-06-28 19:31:00 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:00 RISK_GAINVARIANCE20 on 2007-11-30 is updated successfully
[INFO] 2018-06-28 19:31:00 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:00 RISK_GAINVARIANCE20 on 2007-12-28 is updated successfully
[INFO] 2018-06-28 19:31:00 E:\02_work\sw\db\indicator\2007.db is disconnected.
[INFO] 2018-06-28 19:31:00 E:\02_work\sw\db\indicator\2008.db is connected.
CREATE TABLE [RISK_GAINVARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE20 REAL
);
[INFO] 2018-06-28 19:31:00 TABLE RISK_GAINVARIANCE20 is created in E:\02_work\sw\db\indicator\2008.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE20_index] ON [RISK_GAINVARIANCE20] (date, sec_id);
[INFO] 2018-06-28 19:31:00 INDEX RISK_GAINVARIANCE20_index is created on TABLE RISK_GAINVARIANCE20 of E:\02_work\sw\db\indicator\2008.db.
[INFO] 2018-06-28 19:31:00 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE20 WHERE date in ('2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-30', '2008-06-30', '2008-07-31', '2008-08-29', '2008-09-26', '2008-10-31', '2008-11-28', '2008-12-31')
[INFO] 2018-06-28 19:31:01 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:01 RISK_GAINVARIANCE20 on 2008-01-31 is updated successfully
[INFO] 2018-06-28 19:31:01 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:01 RISK_GAINVARIANCE20 on 2008-02-29 is updated successfully
[INFO] 2018-06-28 19:31:01 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:01 RISK_GAINVARIANCE20 on 2008-03-31 is updated successfully
[INFO] 2018-06-28 19:31:02 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:02 RISK_GAINVARIANCE20 on 2008-04-30 is updated successfully
[INFO] 2018-06-28 19:31:02 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:02 RISK_GAINVARIANCE20 on 2008-05-30 is updated successfully
[INFO] 2018-06-28 19:31:03 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:03 RISK_GAINVARIANCE20 on 2008-06-30 is updated successfully
[INFO] 2018-06-28 19:31:03 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:03 RISK_GAINVARIANCE20 on 2008-07-31 is updated successfully
[INFO] 2018-06-28 19:31:03 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:03 RISK_GAINVARIANCE20 on 2008-08-29 is updated successfully
[INFO] 2018-06-28 19:31:04 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:04 RISK_GAINVARIANCE20 on 2008-09-26 is updated successfully
[INFO] 2018-06-28 19:31:04 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:04 RISK_GAINVARIANCE20 on 2008-10-31 is updated successfully
[INFO] 2018-06-28 19:31:05 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:05 RISK_GAINVARIANCE20 on 2008-11-28 is updated successfully
[INFO] 2018-06-28 19:31:05 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:05 RISK_GAINVARIANCE20 on 2008-12-31 is updated successfully
[INFO] 2018-06-28 19:31:05 E:\02_work\sw\db\indicator\2008.db is disconnected.
[INFO] 2018-06-28 19:31:05 E:\02_work\sw\db\indicator\2009.db is connected.
CREATE TABLE [RISK_GAINVARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE20 REAL
);
[INFO] 2018-06-28 19:31:05 TABLE RISK_GAINVARIANCE20 is created in E:\02_work\sw\db\indicator\2009.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE20_index] ON [RISK_GAINVARIANCE20] (date, sec_id);
[INFO] 2018-06-28 19:31:05 INDEX RISK_GAINVARIANCE20_index is created on TABLE RISK_GAINVARIANCE20 of E:\02_work\sw\db\indicator\2009.db.
[INFO] 2018-06-28 19:31:05 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE20 WHERE date in ('2009-01-23', '2009-02-27', '2009-03-31', '2009-04-30', '2009-05-27', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-30', '2009-11-30', '2009-12-31')
[INFO] 2018-06-28 19:31:06 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:06 RISK_GAINVARIANCE20 on 2009-01-23 is updated successfully
[INFO] 2018-06-28 19:31:06 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:06 RISK_GAINVARIANCE20 on 2009-02-27 is updated successfully
[INFO] 2018-06-28 19:31:06 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:06 RISK_GAINVARIANCE20 on 2009-03-31 is updated successfully
[INFO] 2018-06-28 19:31:07 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:07 RISK_GAINVARIANCE20 on 2009-04-30 is updated successfully
[INFO] 2018-06-28 19:31:07 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:07 RISK_GAINVARIANCE20 on 2009-05-27 is updated successfully
[INFO] 2018-06-28 19:31:07 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:07 RISK_GAINVARIANCE20 on 2009-06-30 is updated successfully
[INFO] 2018-06-28 19:31:08 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:08 RISK_GAINVARIANCE20 on 2009-07-31 is updated successfully
[INFO] 2018-06-28 19:31:08 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:08 RISK_GAINVARIANCE20 on 2009-08-31 is updated successfully
[INFO] 2018-06-28 19:31:09 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:09 RISK_GAINVARIANCE20 on 2009-09-30 is updated successfully
[INFO] 2018-06-28 19:31:09 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:09 RISK_GAINVARIANCE20 on 2009-10-30 is updated successfully
[INFO] 2018-06-28 19:31:09 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:09 RISK_GAINVARIANCE20 on 2009-11-30 is updated successfully
[INFO] 2018-06-28 19:31:10 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:10 RISK_GAINVARIANCE20 on 2009-12-31 is updated successfully
[INFO] 2018-06-28 19:31:10 E:\02_work\sw\db\indicator\2009.db is disconnected.
[INFO] 2018-06-28 19:31:10 E:\02_work\sw\db\indicator\2010.db is connected.
CREATE TABLE [RISK_GAINVARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE20 REAL
);
[INFO] 2018-06-28 19:31:10 TABLE RISK_GAINVARIANCE20 is created in E:\02_work\sw\db\indicator\2010.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE20_index] ON [RISK_GAINVARIANCE20] (date, sec_id);
[INFO] 2018-06-28 19:31:10 INDEX RISK_GAINVARIANCE20_index is created on TABLE RISK_GAINVARIANCE20 of E:\02_work\sw\db\indicator\2010.db.
[INFO] 2018-06-28 19:31:10 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE20 WHERE date in ('2010-01-29', '2010-02-26', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-30', '2010-08-31', '2010-09-30', '2010-10-29', '2010-11-30', '2010-12-31')

[INFO] 2018-06-28 19:31:10 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:10 RISK_GAINVARIANCE20 on 2010-01-29 is updated successfully
[INFO] 2018-06-28 19:31:11 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:11 RISK_GAINVARIANCE20 on 2010-02-26 is updated successfully
[INFO] 2018-06-28 19:31:11 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:11 RISK_GAINVARIANCE20 on 2010-03-31 is updated successfully
[INFO] 2018-06-28 19:31:11 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:11 RISK_GAINVARIANCE20 on 2010-04-30 is updated successfully
[INFO] 2018-06-28 19:31:12 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:12 RISK_GAINVARIANCE20 on 2010-05-31 is updated successfully
[INFO] 2018-06-28 19:31:12 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:12 RISK_GAINVARIANCE20 on 2010-06-30 is updated successfully
[INFO] 2018-06-28 19:31:13 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:13 RISK_GAINVARIANCE20 on 2010-07-30 is updated successfully
[INFO] 2018-06-28 19:31:13 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:13 RISK_GAINVARIANCE20 on 2010-08-31 is updated successfully
[INFO] 2018-06-28 19:31:13 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:13 RISK_GAINVARIANCE20 on 2010-09-30 is updated successfully
[INFO] 2018-06-28 19:31:14 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:14 RISK_GAINVARIANCE20 on 2010-10-29 is updated successfully
[INFO] 2018-06-28 19:31:14 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:14 RISK_GAINVARIANCE20 on 2010-11-30 is updated successfully
[INFO] 2018-06-28 19:31:15 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:15 RISK_GAINVARIANCE20 on 2010-12-31 is updated successfully
[INFO] 2018-06-28 19:31:15 E:\02_work\sw\db\indicator\2010.db is disconnected.
[INFO] 2018-06-28 19:31:15 E:\02_work\sw\db\indicator\2011.db is connected.
CREATE TABLE [RISK_GAINVARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE20 REAL
);
[INFO] 2018-06-28 19:31:15 TABLE RISK_GAINVARIANCE20 is created in E:\02_work\sw\db\indicator\2011.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE20_index] ON [RISK_GAINVARIANCE20] (date, sec_id);
[INFO] 2018-06-28 19:31:15 INDEX RISK_GAINVARIANCE20_index is created on TABLE RISK_GAINVARIANCE20 of E:\02_work\sw\db\indicator\2011.db.
[INFO] 2018-06-28 19:31:15 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE20 WHERE date in ('2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29', '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30')
[INFO] 2018-06-28 19:31:15 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:15 RISK_GAINVARIANCE20 on 2011-01-31 is updated successfully
[INFO] 2018-06-28 19:31:16 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:16 RISK_GAINVARIANCE20 on 2011-02-28 is updated successfully
[INFO] 2018-06-28 19:31:16 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:16 RISK_GAINVARIANCE20 on 2011-03-31 is updated successfully
[INFO] 2018-06-28 19:31:16 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:16 RISK_GAINVARIANCE20 on 2011-04-29 is updated successfully
[INFO] 2018-06-28 19:31:17 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:17 RISK_GAINVARIANCE20 on 2011-05-31 is updated successfully
[INFO] 2018-06-28 19:31:17 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:17 RISK_GAINVARIANCE20 on 2011-06-30 is updated successfully
[INFO] 2018-06-28 19:31:17 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:17 RISK_GAINVARIANCE20 on 2011-07-29 is updated successfully
[INFO] 2018-06-28 19:31:18 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:18 RISK_GAINVARIANCE20 on 2011-08-31 is updated successfully
[INFO] 2018-06-28 19:31:18 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:18 RISK_GAINVARIANCE20 on 2011-09-30 is updated successfully
[INFO] 2018-06-28 19:31:19 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:19 RISK_GAINVARIANCE20 on 2011-10-31 is updated successfully
[INFO] 2018-06-28 19:31:19 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:19 RISK_GAINVARIANCE20 on 2011-11-30 is updated successfully
[INFO] 2018-06-28 19:31:20 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:20 RISK_GAINVARIANCE20 on 2011-12-30 is updated successfully
[INFO] 2018-06-28 19:31:20 E:\02_work\sw\db\indicator\2011.db is disconnected.
[INFO] 2018-06-28 19:31:20 E:\02_work\sw\db\indicator\2012.db is connected.
CREATE TABLE [RISK_GAINVARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE20 REAL
);
[INFO] 2018-06-28 19:31:20 TABLE RISK_GAINVARIANCE20 is created in E:\02_work\sw\db\indicator\2012.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE20_index] ON [RISK_GAINVARIANCE20] (date, sec_id);
[INFO] 2018-06-28 19:31:20 INDEX RISK_GAINVARIANCE20_index is created on TABLE RISK_GAINVARIANCE20 of E:\02_work\sw\db\indicator\2012.db.
[INFO] 2018-06-28 19:31:20 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE20 WHERE date in ('2012-01-31', '2012-02-29', '2012-03-30', '2012-04-27', '2012-05-31', '2012-06-29', '2012-07-31', '2012-08-31', '2012-09-28', '2012-10-31', '2012-11-30', '2012-12-31')
[INFO] 2018-06-28 19:31:20 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:20 RISK_GAINVARIANCE20 on 2012-01-31 is updated successfully
[INFO] 2018-06-28 19:31:21 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:21 RISK_GAINVARIANCE20 on 2012-02-29 is updated successfully
[INFO] 2018-06-28 19:31:21 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:21 RISK_GAINVARIANCE20 on 2012-03-30 is updated successfully
[INFO] 2018-06-28 19:31:21 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:21 RISK_GAINVARIANCE20 on 2012-04-27 is updated successfully
[INFO] 2018-06-28 19:31:22 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:22 RISK_GAINVARIANCE20 on 2012-05-31 is updated successfully
[INFO] 2018-06-28 19:31:22 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:22 RISK_GAINVARIANCE20 on 2012-06-29 is updated successfully
[INFO] 2018-06-28 19:31:23 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:23 RISK_GAINVARIANCE20 on 2012-07-31 is updated successfully
[INFO] 2018-06-28 19:31:23 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:23 RISK_GAINVARIANCE20 on 2012-08-31 is updated successfully
[INFO] 2018-06-28 19:31:23 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:23 RISK_GAINVARIANCE20 on 2012-09-28 is updated successfully
[INFO] 2018-06-28 19:31:24 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:24 RISK_GAINVARIANCE20 on 2012-10-31 is updated successfully
[INFO] 2018-06-28 19:31:24 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:24 RISK_GAINVARIANCE20 on 2012-11-30 is updated successfully

[INFO] 2018-06-28 19:31:24 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:24 RISK_GAINVARIANCE20 on 2012-12-31 is updated successfully
[INFO] 2018-06-28 19:31:24 E:\02_work\sw\db\indicator\2012.db is disconnected.
[INFO] 2018-06-28 19:31:24 E:\02_work\sw\db\indicator\2013.db is connected.
CREATE TABLE [RISK_GAINVARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE20 REAL
);
[INFO] 2018-06-28 19:31:25 TABLE RISK_GAINVARIANCE20 is created in E:\02_work\sw\db\indicator\2013.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE20_index] ON [RISK_GAINVARIANCE20] (date, sec_id);
[INFO] 2018-06-28 19:31:25 INDEX RISK_GAINVARIANCE20_index is created on TABLE RISK_GAINVARIANCE20 of E:\02_work\sw\db\indicator\2013.db.
[INFO] 2018-06-28 19:31:25 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE20 WHERE date in ('2013-01-31', '2013-02-28', '2013-03-29', '2013-04-26', '2013-05-31', '2013-06-28', '2013-07-31', '2013-08-30', '2013-09-30', '2013-10-31', '2013-11-29', '2013-12-31')
[INFO] 2018-06-28 19:31:25 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:25 RISK_GAINVARIANCE20 on 2013-01-31 is updated successfully
[INFO] 2018-06-28 19:31:26 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:26 RISK_GAINVARIANCE20 on 2013-02-28 is updated successfully
[INFO] 2018-06-28 19:31:26 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:26 RISK_GAINVARIANCE20 on 2013-03-29 is updated successfully
[INFO] 2018-06-28 19:31:27 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:27 RISK_GAINVARIANCE20 on 2013-04-26 is updated successfully
[INFO] 2018-06-28 19:31:27 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:27 RISK_GAINVARIANCE20 on 2013-05-31 is updated successfully
[INFO] 2018-06-28 19:31:27 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:27 RISK_GAINVARIANCE20 on 2013-06-28 is updated successfully
[INFO] 2018-06-28 19:31:28 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:28 RISK_GAINVARIANCE20 on 2013-07-31 is updated successfully
[INFO] 2018-06-28 19:31:28 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:28 RISK_GAINVARIANCE20 on 2013-08-30 is updated successfully
[INFO] 2018-06-28 19:31:28 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:28 RISK_GAINVARIANCE20 on 2013-09-30 is updated successfully
[INFO] 2018-06-28 19:31:29 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:29 RISK_GAINVARIANCE20 on 2013-10-31 is updated successfully
[INFO] 2018-06-28 19:31:29 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:29 RISK_GAINVARIANCE20 on 2013-11-29 is updated successfully
[INFO] 2018-06-28 19:31:30 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:30 RISK_GAINVARIANCE20 on 2013-12-31 is updated successfully
[INFO] 2018-06-28 19:31:30 E:\02_work\sw\db\indicator\2013.db is disconnected.
[INFO] 2018-06-28 19:31:30 E:\02_work\sw\db\indicator\2014.db is connected.
CREATE TABLE [RISK_GAINVARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE20 REAL
);
[INFO] 2018-06-28 19:31:30 TABLE RISK_GAINVARIANCE20 is created in E:\02_work\sw\db\indicator\2014.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE20_index] ON [RISK_GAINVARIANCE20] (date, sec_id);
[INFO] 2018-06-28 19:31:30 INDEX RISK_GAINVARIANCE20_index is created on TABLE RISK_GAINVARIANCE20 of E:\02_work\sw\db\indicator\2014.db.
[INFO] 2018-06-28 19:31:30 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE20 WHERE date in ('2014-01-30', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-30', '2014-06-30', '2014-07-31', '2014-08-29', '2014-09-30', '2014-10-31', '2014-11-28', '2014-12-31')
[INFO] 2018-06-28 19:31:30 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:30 RISK_GAINVARIANCE20 on 2014-01-30 is updated successfully
[INFO] 2018-06-28 19:31:31 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:31 RISK_GAINVARIANCE20 on 2014-02-28 is updated successfully
[INFO] 2018-06-28 19:31:31 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:31 RISK_GAINVARIANCE20 on 2014-03-31 is updated successfully
[INFO] 2018-06-28 19:31:31 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:31 RISK_GAINVARIANCE20 on 2014-04-30 is updated successfully
[INFO] 2018-06-28 19:31:32 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:32 RISK_GAINVARIANCE20 on 2014-05-30 is updated successfully
[INFO] 2018-06-28 19:31:32 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:32 RISK_GAINVARIANCE20 on 2014-06-30 is updated successfully
[INFO] 2018-06-28 19:31:33 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:33 RISK_GAINVARIANCE20 on 2014-07-31 is updated successfully
[INFO] 2018-06-28 19:31:33 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:33 RISK_GAINVARIANCE20 on 2014-08-29 is updated successfully
[INFO] 2018-06-28 19:31:34 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:34 RISK_GAINVARIANCE20 on 2014-09-30 is updated successfully
[INFO] 2018-06-28 19:31:34 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:34 RISK_GAINVARIANCE20 on 2014-10-31 is updated successfully
[INFO] 2018-06-28 19:31:34 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:34 RISK_GAINVARIANCE20 on 2014-11-28 is updated successfully
[INFO] 2018-06-28 19:31:35 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:35 RISK_GAINVARIANCE20 on 2014-12-31 is updated successfully
[INFO] 2018-06-28 19:31:35 E:\02_work\sw\db\indicator\2014.db is disconnected.
[INFO] 2018-06-28 19:31:35 E:\02_work\sw\db\indicator\2015.db is connected.
CREATE TABLE [RISK_GAINVARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE20 REAL
);
[INFO] 2018-06-28 19:31:35 TABLE RISK_GAINVARIANCE20 is created in E:\02_work\sw\db\indicator\2015.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE20_index] ON [RISK_GAINVARIANCE20] (date, sec_id);
[INFO] 2018-06-28 19:31:35 INDEX RISK_GAINVARIANCE20_index is created on TABLE RISK_GAINVARIANCE20 of E:\02_work\sw\db\indicator\2015.db.
[INFO] 2018-06-28 19:31:35 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE20 WHERE date in ('2015-01-30', '2015-02-27', '2015-03-31', '2015-04-30', '2015-05-29', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-30', '2015-11-30', '2015-12-31')
[INFO] 2018-06-28 19:31:36 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:36 RISK_GAINVARIANCE20 on 2015-01-30 is updated successfully
[INFO] 2018-06-28 19:31:36 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:36 RISK_GAINVARIANCE20 on 2015-02-27 is updated successfully
[INFO] 2018-06-28 19:31:36 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:36 RISK_GAINVARIANCE20 on 2015-03-31 is updated successfully
[INFO] 2018-06-28 19:31:37 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:37 RISK_GAINVARIANCE20 on 2015-04-30 is updated successfully
[INFO] 2018-06-28 19:31:37 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:37 RISK_GAINVARIANCE20 on 2015-05-29 is updated successfully

[INFO] 2018-06-28 19:31:38 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:38 RISK_GAINVARIANCE20 on 2015-06-30 is updated successfully
[INFO] 2018-06-28 19:31:38 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:38 RISK_GAINVARIANCE20 on 2015-07-31 is updated successfully
[INFO] 2018-06-28 19:31:38 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:38 RISK_GAINVARIANCE20 on 2015-08-31 is updated successfully
[INFO] 2018-06-28 19:31:39 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:39 RISK_GAINVARIANCE20 on 2015-09-30 is updated successfully
[INFO] 2018-06-28 19:31:39 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:39 RISK_GAINVARIANCE20 on 2015-10-30 is updated successfully
[INFO] 2018-06-28 19:31:40 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:40 RISK_GAINVARIANCE20 on 2015-11-30 is updated successfully
[INFO] 2018-06-28 19:31:40 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:40 RISK_GAINVARIANCE20 on 2015-12-31 is updated successfully
[INFO] 2018-06-28 19:31:40 E:\02_work\sw\db\indicator\2015.db is disconnected.
[INFO] 2018-06-28 19:31:40 E:\02_work\sw\db\indicator\2016.db is connected.
CREATE TABLE [RISK_GAINVARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE20 REAL
);
[INFO] 2018-06-28 19:31:40 TABLE RISK_GAINVARIANCE20 is created in E:\02_work\sw\db\indicator\2016.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE20_index] ON [RISK_GAINVARIANCE20] (date, sec_id);
[INFO] 2018-06-28 19:31:40 INDEX RISK_GAINVARIANCE20_index is created on TABLE RISK_GAINVARIANCE20 of E:\02_work\sw\db\indicator\2016.db.
[INFO] 2018-06-28 19:31:40 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE20 WHERE date in ('2016-01-29', '2016-02-29', '2016-03-31', '2016-04-29', '2016-05-31', '2016-06-30', '2016-07-29', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-30')
[INFO] 2018-06-28 19:31:41 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:41 RISK_GAINVARIANCE20 on 2016-01-29 is updated successfully
[INFO] 2018-06-28 19:31:41 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:41 RISK_GAINVARIANCE20 on 2016-02-29 is updated successfully
[INFO] 2018-06-28 19:31:42 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:42 RISK_GAINVARIANCE20 on 2016-03-31 is updated successfully
[INFO] 2018-06-28 19:31:42 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:42 RISK_GAINVARIANCE20 on 2016-04-29 is updated successfully
[INFO] 2018-06-28 19:31:42 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:42 RISK_GAINVARIANCE20 on 2016-05-31 is updated successfully
[INFO] 2018-06-28 19:31:43 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:43 RISK_GAINVARIANCE20 on 2016-06-30 is updated successfully
[INFO] 2018-06-28 19:31:43 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:43 RISK_GAINVARIANCE20 on 2016-07-29 is updated successfully
[INFO] 2018-06-28 19:31:44 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:44 RISK_GAINVARIANCE20 on 2016-08-31 is updated successfully
[INFO] 2018-06-28 19:31:44 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:44 RISK_GAINVARIANCE20 on 2016-09-30 is updated successfully
[INFO] 2018-06-28 19:31:45 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:45 RISK_GAINVARIANCE20 on 2016-10-31 is updated successfully
[INFO] 2018-06-28 19:31:45 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:45 RISK_GAINVARIANCE20 on 2016-11-30 is updated successfully
[INFO] 2018-06-28 19:31:45 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:45 RISK_GAINVARIANCE20 on 2016-12-30 is updated successfully
[INFO] 2018-06-28 19:31:46 E:\02_work\sw\db\indicator\2016.db is disconnected.
[INFO] 2018-06-28 19:31:46 E:\02_work\sw\db\indicator\2017.db is connected.
CREATE TABLE [RISK_GAINVARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE20 REAL
);
[INFO] 2018-06-28 19:31:46 TABLE RISK_GAINVARIANCE20 is created in E:\02_work\sw\db\indicator\2017.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE20_index] ON [RISK_GAINVARIANCE20] (date, sec_id);
[INFO] 2018-06-28 19:31:46 INDEX RISK_GAINVARIANCE20_index is created on TABLE RISK_GAINVARIANCE20 of E:\02_work\sw\db\indicator\2017.db.
[INFO] 2018-06-28 19:31:46 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE20 WHERE date in ('2017-01-26', '2017-02-28', '2017-03-31', '2017-04-28', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-29', '2017-10-31', '2017-11-30', '2017-12-29')
[INFO] 2018-06-28 19:31:46 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:46 RISK_GAINVARIANCE20 on 2017-01-26 is updated successfully
[INFO] 2018-06-28 19:31:47 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:47 RISK_GAINVARIANCE20 on 2017-02-28 is updated successfully
[INFO] 2018-06-28 19:31:48 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:48 RISK_GAINVARIANCE20 on 2017-03-31 is updated successfully
[INFO] 2018-06-28 19:31:48 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:48 RISK_GAINVARIANCE20 on 2017-04-28 is updated successfully
[INFO] 2018-06-28 19:31:48 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:48 RISK_GAINVARIANCE20 on 2017-05-31 is updated successfully
[INFO] 2018-06-28 19:31:49 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:49 RISK_GAINVARIANCE20 on 2017-06-30 is updated successfully
[INFO] 2018-06-28 19:31:49 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:49 RISK_GAINVARIANCE20 on 2017-07-31 is updated successfully
[INFO] 2018-06-28 19:31:50 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:50 RISK_GAINVARIANCE20 on 2017-08-31 is updated successfully
[INFO] 2018-06-28 19:31:50 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:50 RISK_GAINVARIANCE20 on 2017-09-29 is updated successfully
[INFO] 2018-06-28 19:31:51 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:51 RISK_GAINVARIANCE20 on 2017-10-31 is updated successfully
[INFO] 2018-06-28 19:31:51 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:51 RISK_GAINVARIANCE20 on 2017-11-30 is updated successfully
[INFO] 2018-06-28 19:31:52 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:52 RISK_GAINVARIANCE20 on 2017-12-29 is updated successfully
[INFO] 2018-06-28 19:31:52 E:\02_work\sw\db\indicator\2017.db is disconnected.
[INFO] 2018-06-28 19:31:52 E:\02_work\sw\db\indicator\2018.db is connected.
CREATE TABLE [RISK_GAINVARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE20 REAL
);
[INFO] 2018-06-28 19:31:52 TABLE RISK_GAINVARIANCE20 is created in E:\02_work\sw\db\indicator\2018.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE20_index] ON [RISK_GAINVARIANCE20] (date, sec_id);
[INFO] 2018-06-28 19:31:52 INDEX RISK_GAINVARIANCE20_index is created on TABLE RISK_GAINVARIANCE20 of E:\02_work\sw\db\indicator\2018.db.
[INFO] 2018-06-28 19:31:52 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE20 WHERE date in ('2018-01-31', '2018-02-28', '2018-03-30', '2018-04-27', '2018-05-31')

[INFO] 2018-06-28 19:31:52 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:52 RISK_GAINVARIANCE20 on 2018-01-31 is updated successfully
[INFO] 2018-06-28 19:31:53 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:53 RISK_GAINVARIANCE20 on 2018-02-28 is updated successfully
[INFO] 2018-06-28 19:31:53 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:53 RISK_GAINVARIANCE20 on 2018-03-30 is updated successfully
[INFO] 2018-06-28 19:31:54 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:54 RISK_GAINVARIANCE20 on 2018-04-27 is updated successfully
[INFO] 2018-06-28 19:31:54 Data is inserted to RISK_GAINVARIANCE20 successfully!
[INFO] 2018-06-28 19:31:54 RISK_GAINVARIANCE20 on 2018-05-31 is updated successfully
[INFO] 2018-06-28 19:31:54 E:\02_work\sw\db\indicator\2018.db is disconnected.
[INFO] 2018-06-28 19:31:54 schema updated: RISK_GAINVARIANCE20
[INFO] 2018-06-28 19:31:54 indicator RISK_GAINVARIANCE20 is updated.
[INFO] 2018-06-28 19:31:54 ------------------------------------------
[INFO] 2018-06-28 19:31:54 Updating indicator RISK_GAINVARIANCE60
[INFO] 2018-06-28 19:31:54 E:\02_work\sw\db\indicator\2005.db is connected.
CREATE TABLE [RISK_GAINVARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE60 REAL
);
[INFO] 2018-06-28 19:31:55 TABLE RISK_GAINVARIANCE60 is created in E:\02_work\sw\db\indicator\2005.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE60_index] ON [RISK_GAINVARIANCE60] (date, sec_id);
[INFO] 2018-06-28 19:31:55 INDEX RISK_GAINVARIANCE60_index is created on TABLE RISK_GAINVARIANCE60 of E:\02_work\sw\db\indicator\2005.db.
[INFO] 2018-06-28 19:31:55 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE60 WHERE date in ('2005-04-29', '2005-05-31', '2005-06-30', '2005-07-29', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-30')
[INFO] 2018-06-28 19:31:55 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:31:55 RISK_GAINVARIANCE60 on 2005-04-29 is updated successfully
[INFO] 2018-06-28 19:31:55 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:31:55 RISK_GAINVARIANCE60 on 2005-05-31 is updated successfully
[INFO] 2018-06-28 19:31:56 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:31:56 RISK_GAINVARIANCE60 on 2005-06-30 is updated successfully
[INFO] 2018-06-28 19:31:56 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:31:56 RISK_GAINVARIANCE60 on 2005-07-29 is updated successfully
[INFO] 2018-06-28 19:31:56 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:31:56 RISK_GAINVARIANCE60 on 2005-08-31 is updated successfully
[INFO] 2018-06-28 19:31:57 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:31:57 RISK_GAINVARIANCE60 on 2005-09-30 is updated successfully
[INFO] 2018-06-28 19:31:57 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:31:57 RISK_GAINVARIANCE60 on 2005-10-31 is updated successfully
[INFO] 2018-06-28 19:31:58 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:31:58 RISK_GAINVARIANCE60 on 2005-11-30 is updated successfully
[INFO] 2018-06-28 19:31:58 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:31:58 RISK_GAINVARIANCE60 on 2005-12-30 is updated successfully
[INFO] 2018-06-28 19:31:58 E:\02_work\sw\db\indicator\2005.db is disconnected.
[INFO] 2018-06-28 19:31:58 E:\02_work\sw\db\indicator\2006.db is connected.
CREATE TABLE [RISK_GAINVARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE60 REAL
);
[INFO] 2018-06-28 19:31:58 TABLE RISK_GAINVARIANCE60 is created in E:\02_work\sw\db\indicator\2006.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE60_index] ON [RISK_GAINVARIANCE60] (date, sec_id);
[INFO] 2018-06-28 19:31:58 INDEX RISK_GAINVARIANCE60_index is created on TABLE RISK_GAINVARIANCE60 of E:\02_work\sw\db\indicator\2006.db.
[INFO] 2018-06-28 19:31:58 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE60 WHERE date in ('2006-01-25', '2006-02-28', '2006-03-31', '2006-04-28', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-29', '2006-10-31', '2006-11-30', '2006-12-29')
[INFO] 2018-06-28 19:31:58 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:31:58 RISK_GAINVARIANCE60 on 2006-01-25 is updated successfully
[INFO] 2018-06-28 19:31:59 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:31:59 RISK_GAINVARIANCE60 on 2006-02-28 is updated successfully
[INFO] 2018-06-28 19:31:59 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:31:59 RISK_GAINVARIANCE60 on 2006-03-31 is updated successfully
[INFO] 2018-06-28 19:31:59 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:31:59 RISK_GAINVARIANCE60 on 2006-04-28 is updated successfully
[INFO] 2018-06-28 19:32:00 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:00 RISK_GAINVARIANCE60 on 2006-05-31 is updated successfully
[INFO] 2018-06-28 19:32:00 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:00 RISK_GAINVARIANCE60 on 2006-06-30 is updated successfully
[INFO] 2018-06-28 19:32:01 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:01 RISK_GAINVARIANCE60 on 2006-07-31 is updated successfully
[INFO] 2018-06-28 19:32:01 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:01 RISK_GAINVARIANCE60 on 2006-08-31 is updated successfully
[INFO] 2018-06-28 19:32:01 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:01 RISK_GAINVARIANCE60 on 2006-09-29 is updated successfully
[INFO] 2018-06-28 19:32:02 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:02 RISK_GAINVARIANCE60 on 2006-10-31 is updated successfully
[INFO] 2018-06-28 19:32:02 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:02 RISK_GAINVARIANCE60 on 2006-11-30 is updated successfully
[INFO] 2018-06-28 19:32:03 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:03 RISK_GAINVARIANCE60 on 2006-12-29 is updated successfully
[INFO] 2018-06-28 19:32:03 E:\02_work\sw\db\indicator\2006.db is disconnected.
[INFO] 2018-06-28 19:32:03 E:\02_work\sw\db\indicator\2007.db is connected.
CREATE TABLE [RISK_GAINVARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE60 REAL
);
[INFO] 2018-06-28 19:32:03 TABLE RISK_GAINVARIANCE60 is created in E:\02_work\sw\db\indicator\2007.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE60_index] ON [RISK_GAINVARIANCE60] (date, sec_id);
[INFO] 2018-06-28 19:32:03 INDEX RISK_GAINVARIANCE60_index is created on TABLE RISK_GAINVARIANCE60 of E:\02_work\sw\db\indicator\2007.db.
[INFO] 2018-06-28 19:32:03 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE60 WHERE date in ('2007-01-31', '2007-02-28', '2007-03-30', '2007-04-30', '2007-05-31', '2007-06-29', '2007-07-31', '2007-08-31', '2007-09-28', '2007-10-31', '2007-11-30', '2007-12-28')
[INFO] 2018-06-28 19:32:03 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:03 RISK_GAINVARIANCE60 on 2007-01-31 is updated successfully
[INFO] 2018-06-28 19:32:03 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:03 RISK_GAINVARIANCE60 on 2007-02-28 is updated successfully
[INFO] 2018-06-28 19:32:04 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:04 RISK_GAINVARIANCE60 on 2007-03-30 is updated successfully

[INFO] 2018-06-28 19:32:04 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:04 RISK_GAINVARIANCE60 on 2007-04-30 is updated successfully
[INFO] 2018-06-28 19:32:05 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:05 RISK_GAINVARIANCE60 on 2007-05-31 is updated successfully
[INFO] 2018-06-28 19:32:05 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:05 RISK_GAINVARIANCE60 on 2007-06-29 is updated successfully
[INFO] 2018-06-28 19:32:05 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:05 RISK_GAINVARIANCE60 on 2007-07-31 is updated successfully
[INFO] 2018-06-28 19:32:06 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:06 RISK_GAINVARIANCE60 on 2007-08-31 is updated successfully
[INFO] 2018-06-28 19:32:06 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:06 RISK_GAINVARIANCE60 on 2007-09-28 is updated successfully
[INFO] 2018-06-28 19:32:07 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:07 RISK_GAINVARIANCE60 on 2007-10-31 is updated successfully
[INFO] 2018-06-28 19:32:07 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:07 RISK_GAINVARIANCE60 on 2007-11-30 is updated successfully
[INFO] 2018-06-28 19:32:07 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:07 RISK_GAINVARIANCE60 on 2007-12-28 is updated successfully
[INFO] 2018-06-28 19:32:07 E:\02_work\sw\db\indicator\2007.db is disconnected.
[INFO] 2018-06-28 19:32:07 E:\02_work\sw\db\indicator\2008.db is connected.
CREATE TABLE [RISK_GAINVARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE60 REAL
);
[INFO] 2018-06-28 19:32:08 TABLE RISK_GAINVARIANCE60 is created in E:\02_work\sw\db\indicator\2008.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE60_index] ON [RISK_GAINVARIANCE60] (date, sec_id);
[INFO] 2018-06-28 19:32:08 INDEX RISK_GAINVARIANCE60_index is created on TABLE RISK_GAINVARIANCE60 of E:\02_work\sw\db\indicator\2008.db.
[INFO] 2018-06-28 19:32:08 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE60 WHERE date in ('2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-30', '2008-06-30', '2008-07-31', '2008-08-29', '2008-09-26', '2008-10-31', '2008-11-28', '2008-12-31')
[INFO] 2018-06-28 19:32:08 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:08 RISK_GAINVARIANCE60 on 2008-01-31 is updated successfully
[INFO] 2018-06-28 19:32:08 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:08 RISK_GAINVARIANCE60 on 2008-02-29 is updated successfully
[INFO] 2018-06-28 19:32:09 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:09 RISK_GAINVARIANCE60 on 2008-03-31 is updated successfully
[INFO] 2018-06-28 19:32:09 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:09 RISK_GAINVARIANCE60 on 2008-04-30 is updated successfully
[INFO] 2018-06-28 19:32:09 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:09 RISK_GAINVARIANCE60 on 2008-05-30 is updated successfully
[INFO] 2018-06-28 19:32:10 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:10 RISK_GAINVARIANCE60 on 2008-06-30 is updated successfully
[INFO] 2018-06-28 19:32:10 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:10 RISK_GAINVARIANCE60 on 2008-07-31 is updated successfully
[INFO] 2018-06-28 19:32:11 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:11 RISK_GAINVARIANCE60 on 2008-08-29 is updated successfully
[INFO] 2018-06-28 19:32:11 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:11 RISK_GAINVARIANCE60 on 2008-09-26 is updated successfully
[INFO] 2018-06-28 19:32:11 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:11 RISK_GAINVARIANCE60 on 2008-10-31 is updated successfully
[INFO] 2018-06-28 19:32:12 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:12 RISK_GAINVARIANCE60 on 2008-11-28 is updated successfully
[INFO] 2018-06-28 19:32:12 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:12 RISK_GAINVARIANCE60 on 2008-12-31 is updated successfully
[INFO] 2018-06-28 19:32:12 E:\02_work\sw\db\indicator\2008.db is disconnected.
[INFO] 2018-06-28 19:32:12 E:\02_work\sw\db\indicator\2009.db is connected.
CREATE TABLE [RISK_GAINVARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE60 REAL
);
[INFO] 2018-06-28 19:32:12 TABLE RISK_GAINVARIANCE60 is created in E:\02_work\sw\db\indicator\2009.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE60_index] ON [RISK_GAINVARIANCE60] (date, sec_id);
[INFO] 2018-06-28 19:32:12 INDEX RISK_GAINVARIANCE60_index is created on TABLE RISK_GAINVARIANCE60 of E:\02_work\sw\db\indicator\2009.db.
[INFO] 2018-06-28 19:32:12 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE60 WHERE date in ('2009-01-23', '2009-02-27', '2009-03-31', '2009-04-30', '2009-05-27', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-30', '2009-11-30', '2009-12-31')
[INFO] 2018-06-28 19:32:13 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:13 RISK_GAINVARIANCE60 on 2009-01-23 is updated successfully
[INFO] 2018-06-28 19:32:13 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:13 RISK_GAINVARIANCE60 on 2009-02-27 is updated successfully
[INFO] 2018-06-28 19:32:13 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:13 RISK_GAINVARIANCE60 on 2009-03-31 is updated successfully
[INFO] 2018-06-28 19:32:14 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:14 RISK_GAINVARIANCE60 on 2009-04-30 is updated successfully
[INFO] 2018-06-28 19:32:14 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:14 RISK_GAINVARIANCE60 on 2009-05-27 is updated successfully
[INFO] 2018-06-28 19:32:15 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:15 RISK_GAINVARIANCE60 on 2009-06-30 is updated successfully
[INFO] 2018-06-28 19:32:15 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:15 RISK_GAINVARIANCE60 on 2009-07-31 is updated successfully
[INFO] 2018-06-28 19:32:15 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:15 RISK_GAINVARIANCE60 on 2009-08-31 is updated successfully
[INFO] 2018-06-28 19:32:16 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:16 RISK_GAINVARIANCE60 on 2009-09-30 is updated successfully
[INFO] 2018-06-28 19:32:16 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:16 RISK_GAINVARIANCE60 on 2009-10-30 is updated successfully
[INFO] 2018-06-28 19:32:17 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:17 RISK_GAINVARIANCE60 on 2009-11-30 is updated successfully
[INFO] 2018-06-28 19:32:17 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:17 RISK_GAINVARIANCE60 on 2009-12-31 is updated successfully
[INFO] 2018-06-28 19:32:17 E:\02_work\sw\db\indicator\2009.db is disconnected.
[INFO] 2018-06-28 19:32:17 E:\02_work\sw\db\indicator\2010.db is connected.
CREATE TABLE [RISK_GAINVARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE60 REAL
);
[INFO] 2018-06-28 19:32:17 TABLE RISK_GAINVARIANCE60 is created in E:\02_work\sw\db\indicator\2010.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE60_index] ON [RISK_GAINVARIANCE60] (date, sec_id);

[INFO] 2018-06-28 19:32:17 INDEX RISK_GAINVARIANCE60_index is created on TABLE RISK_GAINVARIANCE60 of E:\02_work\sw\db\indicator\2010.db.
[INFO] 2018-06-28 19:32:17 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE60 WHERE date in ('2010-01-29', '2010-02-26', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-30', '2010-08-31', '2010-09-30', '2010-10-29', '2010-11-30', '2010-12-31')
[INFO] 2018-06-28 19:32:18 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:18 RISK_GAINVARIANCE60 on 2010-01-29 is updated successfully
[INFO] 2018-06-28 19:32:18 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:18 RISK_GAINVARIANCE60 on 2010-02-26 is updated successfully
[INFO] 2018-06-28 19:32:18 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:18 RISK_GAINVARIANCE60 on 2010-03-31 is updated successfully
[INFO] 2018-06-28 19:32:19 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:19 RISK_GAINVARIANCE60 on 2010-04-30 is updated successfully
[INFO] 2018-06-28 19:32:19 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:19 RISK_GAINVARIANCE60 on 2010-05-31 is updated successfully
[INFO] 2018-06-28 19:32:19 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:19 RISK_GAINVARIANCE60 on 2010-06-30 is updated successfully
[INFO] 2018-06-28 19:32:20 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:20 RISK_GAINVARIANCE60 on 2010-07-30 is updated successfully
[INFO] 2018-06-28 19:32:20 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:20 RISK_GAINVARIANCE60 on 2010-08-31 is updated successfully
[INFO] 2018-06-28 19:32:21 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:21 RISK_GAINVARIANCE60 on 2010-09-30 is updated successfully
[INFO] 2018-06-28 19:32:21 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:21 RISK_GAINVARIANCE60 on 2010-10-29 is updated successfully
[INFO] 2018-06-28 19:32:21 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:21 RISK_GAINVARIANCE60 on 2010-11-30 is updated successfully
[INFO] 2018-06-28 19:32:22 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:22 RISK_GAINVARIANCE60 on 2010-12-31 is updated successfully
[INFO] 2018-06-28 19:32:22 E:\02_work\sw\db\indicator\2010.db is disconnected.
[INFO] 2018-06-28 19:32:22 E:\02_work\sw\db\indicator\2011.db is connected.
CREATE TABLE [RISK_GAINVARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE60 REAL
);
[INFO] 2018-06-28 19:32:22 TABLE RISK_GAINVARIANCE60 is created in E:\02_work\sw\db\indicator\2011.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE60_index] ON [RISK_GAINVARIANCE60] (date, sec_id);
[INFO] 2018-06-28 19:32:22 INDEX RISK_GAINVARIANCE60_index is created on TABLE RISK_GAINVARIANCE60 of E:\02_work\sw\db\indicator\2011.db.
[INFO] 2018-06-28 19:32:22 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE60 WHERE date in ('2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29', '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30')
[INFO] 2018-06-28 19:32:22 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:22 RISK_GAINVARIANCE60 on 2011-01-31 is updated successfully
[INFO] 2018-06-28 19:32:23 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:23 RISK_GAINVARIANCE60 on 2011-02-28 is updated successfully
[INFO] 2018-06-28 19:32:23 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:23 RISK_GAINVARIANCE60 on 2011-03-31 is updated successfully
[INFO] 2018-06-28 19:32:23 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:23 RISK_GAINVARIANCE60 on 2011-04-29 is updated successfully
[INFO] 2018-06-28 19:32:24 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:24 RISK_GAINVARIANCE60 on 2011-05-31 is updated successfully
[INFO] 2018-06-28 19:32:24 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:24 RISK_GAINVARIANCE60 on 2011-06-30 is updated successfully
[INFO] 2018-06-28 19:32:25 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:25 RISK_GAINVARIANCE60 on 2011-07-29 is updated successfully
[INFO] 2018-06-28 19:32:25 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:25 RISK_GAINVARIANCE60 on 2011-08-31 is updated successfully
[INFO] 2018-06-28 19:32:25 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:25 RISK_GAINVARIANCE60 on 2011-09-30 is updated successfully
[INFO] 2018-06-28 19:32:26 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:26 RISK_GAINVARIANCE60 on 2011-10-31 is updated successfully
[INFO] 2018-06-28 19:32:26 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:26 RISK_GAINVARIANCE60 on 2011-11-30 is updated successfully
[INFO] 2018-06-28 19:32:27 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:27 RISK_GAINVARIANCE60 on 2011-12-30 is updated successfully
[INFO] 2018-06-28 19:32:27 E:\02_work\sw\db\indicator\2011.db is disconnected.
[INFO] 2018-06-28 19:32:27 E:\02_work\sw\db\indicator\2012.db is connected.
CREATE TABLE [RISK_GAINVARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE60 REAL
);
[INFO] 2018-06-28 19:32:27 TABLE RISK_GAINVARIANCE60 is created in E:\02_work\sw\db\indicator\2012.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE60_index] ON [RISK_GAINVARIANCE60] (date, sec_id);
[INFO] 2018-06-28 19:32:27 INDEX RISK_GAINVARIANCE60_index is created on TABLE RISK_GAINVARIANCE60 of E:\02_work\sw\db\indicator\2012.db.
[INFO] 2018-06-28 19:32:27 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE60 WHERE date in ('2012-01-31', '2012-02-29', '2012-03-30', '2012-04-27', '2012-05-31', '2012-06-29', '2012-07-31', '2012-08-31', '2012-09-28', '2012-10-31', '2012-11-30', '2012-12-31')
[INFO] 2018-06-28 19:32:27 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:27 RISK_GAINVARIANCE60 on 2012-01-31 is updated successfully
[INFO] 2018-06-28 19:32:28 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:28 RISK_GAINVARIANCE60 on 2012-02-29 is updated successfully
[INFO] 2018-06-28 19:32:28 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:28 RISK_GAINVARIANCE60 on 2012-03-30 is updated successfully
[INFO] 2018-06-28 19:32:28 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:28 RISK_GAINVARIANCE60 on 2012-04-27 is updated successfully
[INFO] 2018-06-28 19:32:29 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:29 RISK_GAINVARIANCE60 on 2012-05-31 is updated successfully
[INFO] 2018-06-28 19:32:29 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:29 RISK_GAINVARIANCE60 on 2012-06-29 is updated successfully
[INFO] 2018-06-28 19:32:30 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:30 RISK_GAINVARIANCE60 on 2012-07-31 is updated successfully
[INFO] 2018-06-28 19:32:30 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:30 RISK_GAINVARIANCE60 on 2012-08-31 is updated successfully
[INFO] 2018-06-28 19:32:31 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:31 RISK_GAINVARIANCE60 on 2012-09-28 is updated successfully

[INFO] 2018-06-28 19:32:31 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:31 RISK_GAINVARIANCE60 on 2012-10-31 is updated successfully
[INFO] 2018-06-28 19:32:31 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:31 RISK_GAINVARIANCE60 on 2012-11-30 is updated successfully
[INFO] 2018-06-28 19:32:32 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:32 RISK_GAINVARIANCE60 on 2012-12-31 is updated successfully
[INFO] 2018-06-28 19:32:32 E:\02_work\sw\db\indicator\2012.db is disconnected.
[INFO] 2018-06-28 19:32:32 E:\02_work\sw\db\indicator\2013.db is connected.
CREATE TABLE [RISK_GAINVARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE60 REAL
);
[INFO] 2018-06-28 19:32:32 TABLE RISK_GAINVARIANCE60 is created in E:\02_work\sw\db\indicator\2013.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE60_index] ON [RISK_GAINVARIANCE60] (date, sec_id);
[INFO] 2018-06-28 19:32:32 INDEX RISK_GAINVARIANCE60_index is created on TABLE RISK_GAINVARIANCE60 of E:\02_work\sw\db\indicator\2013.db.
[INFO] 2018-06-28 19:32:32 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE60 WHERE date in ('2013-01-31', '2013-02-28', '2013-03-29', '2013-04-26', '2013-05-31', '2013-06-28', '2013-07-31', '2013-08-30', '2013-09-30', '2013-10-31', '2013-11-29', '2013-12-31')
[INFO] 2018-06-28 19:32:32 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:32 RISK_GAINVARIANCE60 on 2013-01-31 is updated successfully
[INFO] 2018-06-28 19:32:33 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:33 RISK_GAINVARIANCE60 on 2013-02-28 is updated successfully
[INFO] 2018-06-28 19:32:33 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:33 RISK_GAINVARIANCE60 on 2013-03-29 is updated successfully
[INFO] 2018-06-28 19:32:33 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:33 RISK_GAINVARIANCE60 on 2013-04-26 is updated successfully
[INFO] 2018-06-28 19:32:34 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:34 RISK_GAINVARIANCE60 on 2013-05-31 is updated successfully
[INFO] 2018-06-28 19:32:34 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:34 RISK_GAINVARIANCE60 on 2013-06-28 is updated successfully
[INFO] 2018-06-28 19:32:35 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:35 RISK_GAINVARIANCE60 on 2013-07-31 is updated successfully
[INFO] 2018-06-28 19:32:35 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:35 RISK_GAINVARIANCE60 on 2013-08-30 is updated successfully
[INFO] 2018-06-28 19:32:35 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:35 RISK_GAINVARIANCE60 on 2013-09-30 is updated successfully
[INFO] 2018-06-28 19:32:36 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:36 RISK_GAINVARIANCE60 on 2013-10-31 is updated successfully
[INFO] 2018-06-28 19:32:36 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:36 RISK_GAINVARIANCE60 on 2013-11-29 is updated successfully
[INFO] 2018-06-28 19:32:37 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:37 RISK_GAINVARIANCE60 on 2013-12-31 is updated successfully
[INFO] 2018-06-28 19:32:37 E:\02_work\sw\db\indicator\2013.db is disconnected.
[INFO] 2018-06-28 19:32:37 E:\02_work\sw\db\indicator\2014.db is connected.
CREATE TABLE [RISK_GAINVARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE60 REAL
);
[INFO] 2018-06-28 19:32:37 TABLE RISK_GAINVARIANCE60 is created in E:\02_work\sw\db\indicator\2014.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE60_index] ON [RISK_GAINVARIANCE60] (date, sec_id);
[INFO] 2018-06-28 19:32:37 INDEX RISK_GAINVARIANCE60_index is created on TABLE RISK_GAINVARIANCE60 of E:\02_work\sw\db\indicator\2014.db.
[INFO] 2018-06-28 19:32:37 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE60 WHERE date in ('2014-01-30', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-30', '2014-06-30', '2014-07-31', '2014-08-29', '2014-09-30', '2014-10-31', '2014-11-28', '2014-12-31')
[INFO] 2018-06-28 19:32:37 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:37 RISK_GAINVARIANCE60 on 2014-01-30 is updated successfully
[INFO] 2018-06-28 19:32:38 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:38 RISK_GAINVARIANCE60 on 2014-02-28 is updated successfully
[INFO] 2018-06-28 19:32:38 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:38 RISK_GAINVARIANCE60 on 2014-03-31 is updated successfully
[INFO] 2018-06-28 19:32:38 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:38 RISK_GAINVARIANCE60 on 2014-04-30 is updated successfully
[INFO] 2018-06-28 19:32:39 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:39 RISK_GAINVARIANCE60 on 2014-05-30 is updated successfully
[INFO] 2018-06-28 19:32:39 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:39 RISK_GAINVARIANCE60 on 2014-06-30 is updated successfully
[INFO] 2018-06-28 19:32:40 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:40 RISK_GAINVARIANCE60 on 2014-07-31 is updated successfully
[INFO] 2018-06-28 19:32:40 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:40 RISK_GAINVARIANCE60 on 2014-08-29 is updated successfully
[INFO] 2018-06-28 19:32:41 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:41 RISK_GAINVARIANCE60 on 2014-09-30 is updated successfully
[INFO] 2018-06-28 19:32:41 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:41 RISK_GAINVARIANCE60 on 2014-10-31 is updated successfully
[INFO] 2018-06-28 19:32:41 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:41 RISK_GAINVARIANCE60 on 2014-11-28 is updated successfully
[INFO] 2018-06-28 19:32:42 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:42 RISK_GAINVARIANCE60 on 2014-12-31 is updated successfully
[INFO] 2018-06-28 19:32:42 E:\02_work\sw\db\indicator\2014.db is disconnected.
[INFO] 2018-06-28 19:32:42 E:\02_work\sw\db\indicator\2015.db is connected.
CREATE TABLE [RISK_GAINVARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE60 REAL
);
[INFO] 2018-06-28 19:32:42 TABLE RISK_GAINVARIANCE60 is created in E:\02_work\sw\db\indicator\2015.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE60_index] ON [RISK_GAINVARIANCE60] (date, sec_id);
[INFO] 2018-06-28 19:32:42 INDEX RISK_GAINVARIANCE60_index is created on TABLE RISK_GAINVARIANCE60 of E:\02_work\sw\db\indicator\2015.db.
[INFO] 2018-06-28 19:32:42 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE60 WHERE date in ('2015-01-30', '2015-02-27', '2015-03-31', '2015-04-30', '2015-05-29', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-30', '2015-11-30', '2015-12-31')
[INFO] 2018-06-28 19:32:42 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:42 RISK_GAINVARIANCE60 on 2015-01-30 is updated successfully
[INFO] 2018-06-28 19:32:43 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:43 RISK_GAINVARIANCE60 on 2015-02-27 is updated successfully
[INFO] 2018-06-28 19:32:43 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:43 RISK_GAINVARIANCE60 on 2015-03-31 is updated successfully

[INFO] 2018-06-28 19:32:44 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:44 RISK_GAINVARIANCE60 on 2015-04-30 is updated successfully
[INFO] 2018-06-28 19:32:44 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:44 RISK_GAINVARIANCE60 on 2015-05-29 is updated successfully
[INFO] 2018-06-28 19:32:44 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:44 RISK_GAINVARIANCE60 on 2015-06-30 is updated successfully
[INFO] 2018-06-28 19:32:45 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:45 RISK_GAINVARIANCE60 on 2015-07-31 is updated successfully
[INFO] 2018-06-28 19:32:45 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:45 RISK_GAINVARIANCE60 on 2015-08-31 is updated successfully
[INFO] 2018-06-28 19:32:46 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:46 RISK_GAINVARIANCE60 on 2015-09-30 is updated successfully
[INFO] 2018-06-28 19:32:46 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:46 RISK_GAINVARIANCE60 on 2015-10-30 is updated successfully
[INFO] 2018-06-28 19:32:46 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:46 RISK_GAINVARIANCE60 on 2015-11-30 is updated successfully
[INFO] 2018-06-28 19:32:47 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:47 RISK_GAINVARIANCE60 on 2015-12-31 is updated successfully
[INFO] 2018-06-28 19:32:47 E:\02_work\sw\db\indicator\2015.db is disconnected.
[INFO] 2018-06-28 19:32:47 E:\02_work\sw\db\indicator\2016.db is connected.
CREATE TABLE [RISK_GAINVARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE60 REAL
);
[INFO] 2018-06-28 19:32:47 TABLE RISK_GAINVARIANCE60 is created in E:\02_work\sw\db\indicator\2016.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE60_index] ON [RISK_GAINVARIANCE60] (date, sec_id);
[INFO] 2018-06-28 19:32:47 INDEX RISK_GAINVARIANCE60_index is created on TABLE RISK_GAINVARIANCE60 of E:\02_work\sw\db\indicator\2016.db.
[INFO] 2018-06-28 19:32:47 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE60 WHERE date in ('2016-01-29', '2016-02-29', '2016-03-31', '2016-04-29', '2016-05-31', '2016-06-30', '2016-07-29', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-30')
[INFO] 2018-06-28 19:32:47 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:47 RISK_GAINVARIANCE60 on 2016-01-29 is updated successfully
[INFO] 2018-06-28 19:32:48 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:48 RISK_GAINVARIANCE60 on 2016-02-29 is updated successfully
[INFO] 2018-06-28 19:32:48 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:48 RISK_GAINVARIANCE60 on 2016-03-31 is updated successfully
[INFO] 2018-06-28 19:32:49 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:49 RISK_GAINVARIANCE60 on 2016-04-29 is updated successfully
[INFO] 2018-06-28 19:32:49 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:49 RISK_GAINVARIANCE60 on 2016-05-31 is updated successfully
[INFO] 2018-06-28 19:32:49 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:49 RISK_GAINVARIANCE60 on 2016-06-30 is updated successfully
[INFO] 2018-06-28 19:32:50 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:50 RISK_GAINVARIANCE60 on 2016-07-29 is updated successfully
[INFO] 2018-06-28 19:32:50 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:50 RISK_GAINVARIANCE60 on 2016-08-31 is updated successfully
[INFO] 2018-06-28 19:32:51 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:51 RISK_GAINVARIANCE60 on 2016-09-30 is updated successfully
[INFO] 2018-06-28 19:32:51 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:51 RISK_GAINVARIANCE60 on 2016-10-31 is updated successfully
[INFO] 2018-06-28 19:32:51 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:51 RISK_GAINVARIANCE60 on 2016-11-30 is updated successfully
[INFO] 2018-06-28 19:32:52 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:52 RISK_GAINVARIANCE60 on 2016-12-30 is updated successfully
[INFO] 2018-06-28 19:32:52 E:\02_work\sw\db\indicator\2016.db is disconnected.
[INFO] 2018-06-28 19:32:52 E:\02_work\sw\db\indicator\2017.db is connected.
CREATE TABLE [RISK_GAINVARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE60 REAL
);
[INFO] 2018-06-28 19:32:52 TABLE RISK_GAINVARIANCE60 is created in E:\02_work\sw\db\indicator\2017.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE60_index] ON [RISK_GAINVARIANCE60] (date, sec_id);
[INFO] 2018-06-28 19:32:52 INDEX RISK_GAINVARIANCE60_index is created on TABLE RISK_GAINVARIANCE60 of E:\02_work\sw\db\indicator\2017.db.
[INFO] 2018-06-28 19:32:52 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE60 WHERE date in ('2017-01-26', '2017-02-28', '2017-03-31', '2017-04-28', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-29', '2017-10-31', '2017-11-30', '2017-12-29')
[INFO] 2018-06-28 19:32:53 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:53 RISK_GAINVARIANCE60 on 2017-01-26 is updated successfully
[INFO] 2018-06-28 19:32:53 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:53 RISK_GAINVARIANCE60 on 2017-02-28 is updated successfully
[INFO] 2018-06-28 19:32:53 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:53 RISK_GAINVARIANCE60 on 2017-03-31 is updated successfully
[INFO] 2018-06-28 19:32:54 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:54 RISK_GAINVARIANCE60 on 2017-04-28 is updated successfully
[INFO] 2018-06-28 19:32:54 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:54 RISK_GAINVARIANCE60 on 2017-05-31 is updated successfully
[INFO] 2018-06-28 19:32:54 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:54 RISK_GAINVARIANCE60 on 2017-06-30 is updated successfully
[INFO] 2018-06-28 19:32:55 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:55 RISK_GAINVARIANCE60 on 2017-07-31 is updated successfully
[INFO] 2018-06-28 19:32:55 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:55 RISK_GAINVARIANCE60 on 2017-08-31 is updated successfully
[INFO] 2018-06-28 19:32:56 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:56 RISK_GAINVARIANCE60 on 2017-09-29 is updated successfully
[INFO] 2018-06-28 19:32:56 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:56 RISK_GAINVARIANCE60 on 2017-10-31 is updated successfully
[INFO] 2018-06-28 19:32:57 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:57 RISK_GAINVARIANCE60 on 2017-11-30 is updated successfully
[INFO] 2018-06-28 19:32:57 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:57 RISK_GAINVARIANCE60 on 2017-12-29 is updated successfully
[INFO] 2018-06-28 19:32:57 E:\02_work\sw\db\indicator\2017.db is disconnected.
[INFO] 2018-06-28 19:32:57 E:\02_work\sw\db\indicator\2018.db is connected.
CREATE TABLE [RISK_GAINVARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_GAINVARIANCE60 REAL
);
[INFO] 2018-06-28 19:32:57 TABLE RISK_GAINVARIANCE60 is created in E:\02_work\sw\db\indicator\2018.db.
CREATE UNIQUE INDEX [RISK_GAINVARIANCE60_index] ON [RISK_GAINVARIANCE60] (date, sec_id);

[INFO] 2018-06-28 19:32:57 INDEX RISK_GAINVARIANCE60_index is created on TABLE RISK_GAINVARIANCE60 of E:\02_work\sw\db\indicator\2018.db.
[INFO] 2018-06-28 19:32:57 SELECT DISTINCT(date) FROM RISK_GAINVARIANCE60 WHERE date in ('2018-01-31', '2018-02-28', '2018-03-30', '2018-04-27', '2018-05-31')
[INFO] 2018-06-28 19:32:58 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:58 RISK_GAINVARIANCE60 on 2018-01-31 is updated successfully
[INFO] 2018-06-28 19:32:58 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:58 RISK_GAINVARIANCE60 on 2018-02-28 is updated successfully
[INFO] 2018-06-28 19:32:59 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:59 RISK_GAINVARIANCE60 on 2018-03-30 is updated successfully
[INFO] 2018-06-28 19:32:59 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:32:59 RISK_GAINVARIANCE60 on 2018-04-27 is updated successfully
[INFO] 2018-06-28 19:33:00 Data is inserted to RISK_GAINVARIANCE60 successfully!
[INFO] 2018-06-28 19:33:00 RISK_GAINVARIANCE60 on 2018-05-31 is updated successfully
[INFO] 2018-06-28 19:33:00 E:\02_work\sw\db\indicator\2018.db is disconnected.
[INFO] 2018-06-28 19:33:00 schema updated: RISK_GAINVARIANCE60
[INFO] 2018-06-28 19:33:00 indicator RISK_GAINVARIANCE60 is updated.
[INFO] 2018-06-28 19:33:00 ------------------------------------------
[INFO] 2018-06-28 19:33:00 Updating indicator RISK_LOSSVARIANCE120
[INFO] 2018-06-28 19:33:00 E:\02_work\sw\db\indicator\2005.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE120 REAL
);
[INFO] 2018-06-28 19:33:00 TABLE RISK_LOSSVARIANCE120 is created in E:\02_work\sw\db\indicator\2005.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE120_index] ON [RISK_LOSSVARIANCE120] (date, sec_id);
[INFO] 2018-06-28 19:33:00 INDEX RISK_LOSSVARIANCE120_index is created on TABLE RISK_LOSSVARIANCE120 of E:\02_work\sw\db\indicator\2005.db.
[INFO] 2018-06-28 19:33:00 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE120 WHERE date in ('2005-04-29', '2005-05-31', '2005-06-30', '2005-07-29', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-30')
[INFO] 2018-06-28 19:33:00 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:00 RISK_LOSSVARIANCE120 on 2005-04-29 is updated successfully
[INFO] 2018-06-28 19:33:01 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:01 RISK_LOSSVARIANCE120 on 2005-05-31 is updated successfully
[INFO] 2018-06-28 19:33:02 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:02 RISK_LOSSVARIANCE120 on 2005-06-30 is updated successfully
[INFO] 2018-06-28 19:33:02 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:02 RISK_LOSSVARIANCE120 on 2005-07-29 is updated successfully
[INFO] 2018-06-28 19:33:02 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:02 RISK_LOSSVARIANCE120 on 2005-08-31 is updated successfully
[INFO] 2018-06-28 19:33:02 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:02 RISK_LOSSVARIANCE120 on 2005-09-30 is updated successfully
[INFO] 2018-06-28 19:33:03 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:03 RISK_LOSSVARIANCE120 on 2005-10-31 is updated successfully
[INFO] 2018-06-28 19:33:03 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:03 RISK_LOSSVARIANCE120 on 2005-11-30 is updated successfully
[INFO] 2018-06-28 19:33:04 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:04 RISK_LOSSVARIANCE120 on 2005-12-30 is updated successfully
[INFO] 2018-06-28 19:33:04 E:\02_work\sw\db\indicator\2005.db is disconnected.
[INFO] 2018-06-28 19:33:04 E:\02_work\sw\db\indicator\2006.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE120 REAL
);
[INFO] 2018-06-28 19:33:04 TABLE RISK_LOSSVARIANCE120 is created in E:\02_work\sw\db\indicator\2006.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE120_index] ON [RISK_LOSSVARIANCE120] (date, sec_id);
[INFO] 2018-06-28 19:33:04 INDEX RISK_LOSSVARIANCE120_index is created on TABLE RISK_LOSSVARIANCE120 of E:\02_work\sw\db\indicator\2006.db.
[INFO] 2018-06-28 19:33:04 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE120 WHERE date in ('2006-01-25', '2006-02-28', '2006-03-31', '2006-04-28', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-29', '2006-10-31', '2006-11-30', '2006-12-29')
[INFO] 2018-06-28 19:33:04 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:04 RISK_LOSSVARIANCE120 on 2006-01-25 is updated successfully
[INFO] 2018-06-28 19:33:04 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:04 RISK_LOSSVARIANCE120 on 2006-02-28 is updated successfully
[INFO] 2018-06-28 19:33:05 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:05 RISK_LOSSVARIANCE120 on 2006-03-31 is updated successfully
[INFO] 2018-06-28 19:33:05 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:05 RISK_LOSSVARIANCE120 on 2006-04-28 is updated successfully
[INFO] 2018-06-28 19:33:06 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:06 RISK_LOSSVARIANCE120 on 2006-05-31 is updated successfully
[INFO] 2018-06-28 19:33:06 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:06 RISK_LOSSVARIANCE120 on 2006-06-30 is updated successfully
[INFO] 2018-06-28 19:33:06 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:06 RISK_LOSSVARIANCE120 on 2006-07-31 is updated successfully
[INFO] 2018-06-28 19:33:07 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:07 RISK_LOSSVARIANCE120 on 2006-08-31 is updated successfully
[INFO] 2018-06-28 19:33:07 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:07 RISK_LOSSVARIANCE120 on 2006-09-29 is updated successfully
[INFO] 2018-06-28 19:33:08 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:08 RISK_LOSSVARIANCE120 on 2006-10-31 is updated successfully
[INFO] 2018-06-28 19:33:08 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:08 RISK_LOSSVARIANCE120 on 2006-11-30 is updated successfully
[INFO] 2018-06-28 19:33:08 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:08 RISK_LOSSVARIANCE120 on 2006-12-29 is updated successfully
[INFO] 2018-06-28 19:33:08 E:\02_work\sw\db\indicator\2006.db is disconnected.
[INFO] 2018-06-28 19:33:08 E:\02_work\sw\db\indicator\2007.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE120 REAL
);
[INFO] 2018-06-28 19:33:09 TABLE RISK_LOSSVARIANCE120 is created in E:\02_work\sw\db\indicator\2007.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE120_index] ON [RISK_LOSSVARIANCE120] (date, sec_id);
[INFO] 2018-06-28 19:33:09 INDEX RISK_LOSSVARIANCE120_index is created on TABLE RISK_LOSSVARIANCE120 of E:\02_work\sw\db\indicator\2007.db.
[INFO] 2018-06-28 19:33:09 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE120 WHERE date in ('2007-01-31', '2007-02-28', '2007-03-30', '2007-04-30', '2007-05-31', '2007-06-29', '2007-07-31', '2007-08-31', '2007-09-28', '2007-10-31', '2007-11-30', '2007-12-28')
[INFO] 2018-06-28 19:33:09 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:09 RISK_LOSSVARIANCE120 on 2007-01-31 is updated successfully

[INFO] 2018-06-28 19:33:09 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:09 RISK_LOSSVARIANCE120 on 2007-02-28 is updated successfully
[INFO] 2018-06-28 19:33:10 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:10 RISK_LOSSVARIANCE120 on 2007-03-30 is updated successfully
[INFO] 2018-06-28 19:33:10 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:10 RISK_LOSSVARIANCE120 on 2007-04-30 is updated successfully
[INFO] 2018-06-28 19:33:11 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:11 RISK_LOSSVARIANCE120 on 2007-05-31 is updated successfully
[INFO] 2018-06-28 19:33:11 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:11 RISK_LOSSVARIANCE120 on 2007-06-29 is updated successfully
[INFO] 2018-06-28 19:33:11 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:11 RISK_LOSSVARIANCE120 on 2007-07-31 is updated successfully
[INFO] 2018-06-28 19:33:12 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:12 RISK_LOSSVARIANCE120 on 2007-08-31 is updated successfully
[INFO] 2018-06-28 19:33:12 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:12 RISK_LOSSVARIANCE120 on 2007-09-28 is updated successfully
[INFO] 2018-06-28 19:33:12 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:12 RISK_LOSSVARIANCE120 on 2007-10-31 is updated successfully
[INFO] 2018-06-28 19:33:13 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:13 RISK_LOSSVARIANCE120 on 2007-11-30 is updated successfully
[INFO] 2018-06-28 19:33:13 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:13 RISK_LOSSVARIANCE120 on 2007-12-28 is updated successfully
[INFO] 2018-06-28 19:33:13 E:\02_work\sw\db\indicator\2007.db is disconnected.
[INFO] 2018-06-28 19:33:13 E:\02_work\sw\db\indicator\2008.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE120 REAL
);
[INFO] 2018-06-28 19:33:13 TABLE RISK_LOSSVARIANCE120 is created in E:\02_work\sw\db\indicator\2008.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE120_index] ON [RISK_LOSSVARIANCE120] (date, sec_id);
[INFO] 2018-06-28 19:33:14 INDEX RISK_LOSSVARIANCE120_index is created on TABLE RISK_LOSSVARIANCE120 of E:\02_work\sw\db\indicator\2008.db.
[INFO] 2018-06-28 19:33:14 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE120 WHERE date in ('2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-30', '2008-06-30', '2008-07-31', '2008-08-29', '2008-09-26', '2008-10-31', '2008-11-28', '2008-12-31')
[INFO] 2018-06-28 19:33:14 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:14 RISK_LOSSVARIANCE120 on 2008-01-31 is updated successfully
[INFO] 2018-06-28 19:33:14 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:14 RISK_LOSSVARIANCE120 on 2008-02-29 is updated successfully
[INFO] 2018-06-28 19:33:14 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:14 RISK_LOSSVARIANCE120 on 2008-03-31 is updated successfully
[INFO] 2018-06-28 19:33:15 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:15 RISK_LOSSVARIANCE120 on 2008-04-30 is updated successfully
[INFO] 2018-06-28 19:33:15 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:15 RISK_LOSSVARIANCE120 on 2008-05-30 is updated successfully
[INFO] 2018-06-28 19:33:16 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:16 RISK_LOSSVARIANCE120 on 2008-06-30 is updated successfully
[INFO] 2018-06-28 19:33:16 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:16 RISK_LOSSVARIANCE120 on 2008-07-31 is updated successfully
[INFO] 2018-06-28 19:33:16 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:16 RISK_LOSSVARIANCE120 on 2008-08-29 is updated successfully
[INFO] 2018-06-28 19:33:17 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:17 RISK_LOSSVARIANCE120 on 2008-09-26 is updated successfully
[INFO] 2018-06-28 19:33:17 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:17 RISK_LOSSVARIANCE120 on 2008-10-31 is updated successfully
[INFO] 2018-06-28 19:33:18 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:18 RISK_LOSSVARIANCE120 on 2008-11-28 is updated successfully
[INFO] 2018-06-28 19:33:18 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:18 RISK_LOSSVARIANCE120 on 2008-12-31 is updated successfully
[INFO] 2018-06-28 19:33:18 E:\02_work\sw\db\indicator\2008.db is disconnected.
[INFO] 2018-06-28 19:33:18 E:\02_work\sw\db\indicator\2009.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE120 REAL
);
[INFO] 2018-06-28 19:33:18 TABLE RISK_LOSSVARIANCE120 is created in E:\02_work\sw\db\indicator\2009.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE120_index] ON [RISK_LOSSVARIANCE120] (date, sec_id);
[INFO] 2018-06-28 19:33:18 INDEX RISK_LOSSVARIANCE120_index is created on TABLE RISK_LOSSVARIANCE120 of E:\02_work\sw\db\indicator\2009.db.
[INFO] 2018-06-28 19:33:18 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE120 WHERE date in ('2009-01-23', '2009-02-27', '2009-03-31', '2009-04-30', '2009-05-27', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-30', '2009-11-30', '2009-12-31')
[INFO] 2018-06-28 19:33:19 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:19 RISK_LOSSVARIANCE120 on 2009-01-23 is updated successfully
[INFO] 2018-06-28 19:33:19 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:19 RISK_LOSSVARIANCE120 on 2009-02-27 is updated successfully
[INFO] 2018-06-28 19:33:19 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:19 RISK_LOSSVARIANCE120 on 2009-03-31 is updated successfully
[INFO] 2018-06-28 19:33:20 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:20 RISK_LOSSVARIANCE120 on 2009-04-30 is updated successfully
[INFO] 2018-06-28 19:33:20 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:20 RISK_LOSSVARIANCE120 on 2009-05-27 is updated successfully
[INFO] 2018-06-28 19:33:20 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:20 RISK_LOSSVARIANCE120 on 2009-06-30 is updated successfully
[INFO] 2018-06-28 19:33:21 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:21 RISK_LOSSVARIANCE120 on 2009-07-31 is updated successfully
[INFO] 2018-06-28 19:33:22 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:22 RISK_LOSSVARIANCE120 on 2009-08-31 is updated successfully
[INFO] 2018-06-28 19:33:22 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:22 RISK_LOSSVARIANCE120 on 2009-09-30 is updated successfully
[INFO] 2018-06-28 19:33:22 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:22 RISK_LOSSVARIANCE120 on 2009-10-30 is updated successfully
[INFO] 2018-06-28 19:33:23 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:23 RISK_LOSSVARIANCE120 on 2009-11-30 is updated successfully
[INFO] 2018-06-28 19:33:23 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:23 RISK_LOSSVARIANCE120 on 2009-12-31 is updated successfully
[INFO] 2018-06-28 19:33:23 E:\02_work\sw\db\indicator\2009.db is disconnected.
[INFO] 2018-06-28 19:33:23 E:\02_work\sw\db\indicator\2010.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE120 REAL
);
[INFO] 2018-06-28 19:33:23 TABLE RISK_LOSSVARIANCE120 is created in E:\02_work\sw\db\indicator\2010.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE120_index] ON [RISK_LOSSVARIANCE120] (date, sec_id);

[INFO] 2018-06-28 19:33:23 INDEX RISK_LOSSVARIANCE120_index is created on TABLE RISK_LOSSVARIANCE120 of E:\02_work\sw\db\indicator\2010.db.
[INFO] 2018-06-28 19:33:23 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE120 WHERE date in ('2010-01-29', '2010-02-26', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-30', '2010-08-31', '2010-09-30', '2010-10-29', '2010-11-30', '2010-12-31')
[INFO] 2018-06-28 19:33:24 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:24 RISK_LOSSVARIANCE120 on 2010-01-29 is updated successfully
[INFO] 2018-06-28 19:33:24 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:24 RISK_LOSSVARIANCE120 on 2010-02-26 is updated successfully
[INFO] 2018-06-28 19:33:24 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:24 RISK_LOSSVARIANCE120 on 2010-03-31 is updated successfully
[INFO] 2018-06-28 19:33:25 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:25 RISK_LOSSVARIANCE120 on 2010-04-30 is updated successfully
[INFO] 2018-06-28 19:33:25 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:25 RISK_LOSSVARIANCE120 on 2010-05-31 is updated successfully
[INFO] 2018-06-28 19:33:25 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:25 RISK_LOSSVARIANCE120 on 2010-06-30 is updated successfully
[INFO] 2018-06-28 19:33:26 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:26 RISK_LOSSVARIANCE120 on 2010-07-30 is updated successfully
[INFO] 2018-06-28 19:33:26 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:26 RISK_LOSSVARIANCE120 on 2010-08-31 is updated successfully
[INFO] 2018-06-28 19:33:27 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:27 RISK_LOSSVARIANCE120 on 2010-09-30 is updated successfully
[INFO] 2018-06-28 19:33:27 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:27 RISK_LOSSVARIANCE120 on 2010-10-29 is updated successfully
[INFO] 2018-06-28 19:33:27 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:27 RISK_LOSSVARIANCE120 on 2010-11-30 is updated successfully
[INFO] 2018-06-28 19:33:28 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:28 RISK_LOSSVARIANCE120 on 2010-12-31 is updated successfully
[INFO] 2018-06-28 19:33:28 E:\02_work\sw\db\indicator\2010.db is disconnected.
[INFO] 2018-06-28 19:33:28 E:\02_work\sw\db\indicator\2011.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE120 REAL
);
[INFO] 2018-06-28 19:33:28 TABLE RISK_LOSSVARIANCE120 is created in E:\02_work\sw\db\indicator\2011.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE120_index] ON [RISK_LOSSVARIANCE120] (date, sec_id);
[INFO] 2018-06-28 19:33:28 INDEX RISK_LOSSVARIANCE120_index is created on TABLE RISK_LOSSVARIANCE120 of E:\02_work\sw\db\indicator\2011.db.
[INFO] 2018-06-28 19:33:28 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE120 WHERE date in ('2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29', '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30')
[INFO] 2018-06-28 19:33:29 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:29 RISK_LOSSVARIANCE120 on 2011-01-31 is updated successfully
[INFO] 2018-06-28 19:33:29 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:29 RISK_LOSSVARIANCE120 on 2011-02-28 is updated successfully
[INFO] 2018-06-28 19:33:29 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:29 RISK_LOSSVARIANCE120 on 2011-03-31 is updated successfully
[INFO] 2018-06-28 19:33:30 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:30 RISK_LOSSVARIANCE120 on 2011-04-29 is updated successfully
[INFO] 2018-06-28 19:33:30 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:30 RISK_LOSSVARIANCE120 on 2011-05-31 is updated successfully
[INFO] 2018-06-28 19:33:30 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:30 RISK_LOSSVARIANCE120 on 2011-06-30 is updated successfully
[INFO] 2018-06-28 19:33:31 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:31 RISK_LOSSVARIANCE120 on 2011-07-29 is updated successfully
[INFO] 2018-06-28 19:33:31 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:31 RISK_LOSSVARIANCE120 on 2011-08-31 is updated successfully
[INFO] 2018-06-28 19:33:32 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:32 RISK_LOSSVARIANCE120 on 2011-09-30 is updated successfully
[INFO] 2018-06-28 19:33:32 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:32 RISK_LOSSVARIANCE120 on 2011-10-31 is updated successfully
[INFO] 2018-06-28 19:33:32 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:32 RISK_LOSSVARIANCE120 on 2011-11-30 is updated successfully
[INFO] 2018-06-28 19:33:33 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:33 RISK_LOSSVARIANCE120 on 2011-12-30 is updated successfully
[INFO] 2018-06-28 19:33:33 E:\02_work\sw\db\indicator\2011.db is disconnected.
[INFO] 2018-06-28 19:33:33 E:\02_work\sw\db\indicator\2012.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE120 REAL
);
[INFO] 2018-06-28 19:33:33 TABLE RISK_LOSSVARIANCE120 is created in E:\02_work\sw\db\indicator\2012.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE120_index] ON [RISK_LOSSVARIANCE120] (date, sec_id);
[INFO] 2018-06-28 19:33:33 INDEX RISK_LOSSVARIANCE120_index is created on TABLE RISK_LOSSVARIANCE120 of E:\02_work\sw\db\indicator\2012.db.
[INFO] 2018-06-28 19:33:33 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE120 WHERE date in ('2012-01-31', '2012-02-29', '2012-03-30', '2012-04-27', '2012-05-31', '2012-06-29', '2012-07-31', '2012-08-31', '2012-09-28', '2012-10-31', '2012-11-30', '2012-12-31')
[INFO] 2018-06-28 19:33:33 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:33 RISK_LOSSVARIANCE120 on 2012-01-31 is updated successfully
[INFO] 2018-06-28 19:33:34 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:34 RISK_LOSSVARIANCE120 on 2012-02-29 is updated successfully
[INFO] 2018-06-28 19:33:34 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:34 RISK_LOSSVARIANCE120 on 2012-03-30 is updated successfully
[INFO] 2018-06-28 19:33:35 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:35 RISK_LOSSVARIANCE120 on 2012-04-27 is updated successfully
[INFO] 2018-06-28 19:33:35 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:35 RISK_LOSSVARIANCE120 on 2012-05-31 is updated successfully
[INFO] 2018-06-28 19:33:36 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:36 RISK_LOSSVARIANCE120 on 2012-06-29 is updated successfully
[INFO] 2018-06-28 19:33:36 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:36 RISK_LOSSVARIANCE120 on 2012-07-31 is updated successfully
[INFO] 2018-06-28 19:33:37 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:37 RISK_LOSSVARIANCE120 on 2012-08-31 is updated successfully

[INFO] 2018-06-28 19:33:38 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:38 RISK_LOSSVARIANCE120 on 2012-09-28 is updated successfully
[INFO] 2018-06-28 19:33:38 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:38 RISK_LOSSVARIANCE120 on 2012-10-31 is updated successfully
[INFO] 2018-06-28 19:33:39 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:39 RISK_LOSSVARIANCE120 on 2012-11-30 is updated successfully
[INFO] 2018-06-28 19:33:39 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:39 RISK_LOSSVARIANCE120 on 2012-12-31 is updated successfully
[INFO] 2018-06-28 19:33:39 E:\02_work\sw\db\indicator\2012.db is disconnected.
[INFO] 2018-06-28 19:33:39 E:\02_work\sw\db\indicator\2013.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE120 REAL
);
[INFO] 2018-06-28 19:33:39 TABLE RISK_LOSSVARIANCE120 is created in E:\02_work\sw\db\indicator\2013.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE120_index] ON [RISK_LOSSVARIANCE120] (date, sec_id);
[INFO] 2018-06-28 19:33:39 INDEX RISK_LOSSVARIANCE120_index is created on TABLE RISK_LOSSVARIANCE120 of E:\02_work\sw\db\indicator\2013.db.
[INFO] 2018-06-28 19:33:39 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE120 WHERE date in ('2013-01-31', '2013-02-28', '2013-03-29', '2013-04-26', '2013-05-31', '2013-06-28', '2013-07-31', '2013-08-30', '2013-09-30', '2013-10-31', '2013-11-29', '2013-12-31')
[INFO] 2018-06-28 19:33:40 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:40 RISK_LOSSVARIANCE120 on 2013-01-31 is updated successfully
[INFO] 2018-06-28 19:33:40 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:40 RISK_LOSSVARIANCE120 on 2013-02-28 is updated successfully
[INFO] 2018-06-28 19:33:41 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:41 RISK_LOSSVARIANCE120 on 2013-03-29 is updated successfully
[INFO] 2018-06-28 19:33:42 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:42 RISK_LOSSVARIANCE120 on 2013-04-26 is updated successfully
[INFO] 2018-06-28 19:33:43 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:43 RISK_LOSSVARIANCE120 on 2013-05-31 is updated successfully
[INFO] 2018-06-28 19:33:43 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:43 RISK_LOSSVARIANCE120 on 2013-06-28 is updated successfully
[INFO] 2018-06-28 19:33:44 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:44 RISK_LOSSVARIANCE120 on 2013-07-31 is updated successfully
[INFO] 2018-06-28 19:33:44 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:44 RISK_LOSSVARIANCE120 on 2013-08-30 is updated successfully
[INFO] 2018-06-28 19:33:45 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:45 RISK_LOSSVARIANCE120 on 2013-09-30 is updated successfully
[INFO] 2018-06-28 19:33:45 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:45 RISK_LOSSVARIANCE120 on 2013-10-31 is updated successfully
[INFO] 2018-06-28 19:33:46 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:46 RISK_LOSSVARIANCE120 on 2013-11-29 is updated successfully
[INFO] 2018-06-28 19:33:46 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:46 RISK_LOSSVARIANCE120 on 2013-12-31 is updated successfully
[INFO] 2018-06-28 19:33:46 E:\02_work\sw\db\indicator\2013.db is disconnected.
[INFO] 2018-06-28 19:33:46 E:\02_work\sw\db\indicator\2014.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE120 REAL
);
[INFO] 2018-06-28 19:33:47 TABLE RISK_LOSSVARIANCE120 is created in E:\02_work\sw\db\indicator\2014.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE120_index] ON [RISK_LOSSVARIANCE120] (date, sec_id);
[INFO] 2018-06-28 19:33:47 INDEX RISK_LOSSVARIANCE120_index is created on TABLE RISK_LOSSVARIANCE120 of E:\02_work\sw\db\indicator\2014.db.
[INFO] 2018-06-28 19:33:47 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE120 WHERE date in ('2014-01-30', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-30', '2014-06-30', '2014-07-31', '2014-08-29', '2014-09-30', '2014-10-31', '2014-11-28', '2014-12-31')
[INFO] 2018-06-28 19:33:47 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:47 RISK_LOSSVARIANCE120 on 2014-01-30 is updated successfully
[INFO] 2018-06-28 19:33:47 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:47 RISK_LOSSVARIANCE120 on 2014-02-28 is updated successfully
[INFO] 2018-06-28 19:33:48 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:48 RISK_LOSSVARIANCE120 on 2014-03-31 is updated successfully
[INFO] 2018-06-28 19:33:48 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:48 RISK_LOSSVARIANCE120 on 2014-04-30 is updated successfully
[INFO] 2018-06-28 19:33:49 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:49 RISK_LOSSVARIANCE120 on 2014-05-30 is updated successfully
[INFO] 2018-06-28 19:33:49 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:49 RISK_LOSSVARIANCE120 on 2014-06-30 is updated successfully
[INFO] 2018-06-28 19:33:50 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:50 RISK_LOSSVARIANCE120 on 2014-07-31 is updated successfully
[INFO] 2018-06-28 19:33:50 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:50 RISK_LOSSVARIANCE120 on 2014-08-29 is updated successfully
[INFO] 2018-06-28 19:33:50 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:50 RISK_LOSSVARIANCE120 on 2014-09-30 is updated successfully
[INFO] 2018-06-28 19:33:51 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:51 RISK_LOSSVARIANCE120 on 2014-10-31 is updated successfully
[INFO] 2018-06-28 19:33:51 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:51 RISK_LOSSVARIANCE120 on 2014-11-28 is updated successfully
[INFO] 2018-06-28 19:33:52 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:52 RISK_LOSSVARIANCE120 on 2014-12-31 is updated successfully
[INFO] 2018-06-28 19:33:52 E:\02_work\sw\db\indicator\2014.db is disconnected.
[INFO] 2018-06-28 19:33:52 E:\02_work\sw\db\indicator\2015.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE120 REAL
);
[INFO] 2018-06-28 19:33:52 TABLE RISK_LOSSVARIANCE120 is created in E:\02_work\sw\db\indicator\2015.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE120_index] ON [RISK_LOSSVARIANCE120] (date, sec_id);
[INFO] 2018-06-28 19:33:52 INDEX RISK_LOSSVARIANCE120_index is created on TABLE RISK_LOSSVARIANCE120 of E:\02_work\sw\db\indicator\2015.db.
[INFO] 2018-06-28 19:33:52 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE120 WHERE date in ('2015-01-30', '2015-02-27', '2015-03-31', '2015-04-30', '2015-05-29', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-30', '2015-11-30', '2015-12-31')
[INFO] 2018-06-28 19:33:53 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:53 RISK_LOSSVARIANCE120 on 2015-01-30 is updated successfully
[INFO] 2018-06-28 19:33:53 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:53 RISK_LOSSVARIANCE120 on 2015-02-27 is updated successfully

[INFO] 2018-06-28 19:33:53 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:53 RISK_LOSSVARIANCE120 on 2015-03-31 is updated successfully
[INFO] 2018-06-28 19:33:54 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:54 RISK_LOSSVARIANCE120 on 2015-04-30 is updated successfully
[INFO] 2018-06-28 19:33:54 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:54 RISK_LOSSVARIANCE120 on 2015-05-29 is updated successfully
[INFO] 2018-06-28 19:33:54 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:54 RISK_LOSSVARIANCE120 on 2015-06-30 is updated successfully
[INFO] 2018-06-28 19:33:55 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:55 RISK_LOSSVARIANCE120 on 2015-07-31 is updated successfully
[INFO] 2018-06-28 19:33:55 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:55 RISK_LOSSVARIANCE120 on 2015-08-31 is updated successfully
[INFO] 2018-06-28 19:33:56 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:56 RISK_LOSSVARIANCE120 on 2015-09-30 is updated successfully
[INFO] 2018-06-28 19:33:56 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:56 RISK_LOSSVARIANCE120 on 2015-10-30 is updated successfully
[INFO] 2018-06-28 19:33:56 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:56 RISK_LOSSVARIANCE120 on 2015-11-30 is updated successfully
[INFO] 2018-06-28 19:33:57 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:57 RISK_LOSSVARIANCE120 on 2015-12-31 is updated successfully
[INFO] 2018-06-28 19:33:57 E:\02_work\sw\db\indicator\2015.db is disconnected.
[INFO] 2018-06-28 19:33:57 E:\02_work\sw\db\indicator\2016.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE120 REAL
);
[INFO] 2018-06-28 19:33:57 TABLE RISK_LOSSVARIANCE120 is created in E:\02_work\sw\db\indicator\2016.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE120_index] ON [RISK_LOSSVARIANCE120] (date, sec_id);
[INFO] 2018-06-28 19:33:57 INDEX RISK_LOSSVARIANCE120_index is created on TABLE RISK_LOSSVARIANCE120 of E:\02_work\sw\db\indicator\2016.db.
[INFO] 2018-06-28 19:33:57 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE120 WHERE date in ('2016-01-29', '2016-02-29', '2016-03-31', '2016-04-29', '2016-05-31', '2016-06-30', '2016-07-29', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-30')
[INFO] 2018-06-28 19:33:58 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:58 RISK_LOSSVARIANCE120 on 2016-01-29 is updated successfully
[INFO] 2018-06-28 19:33:58 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:58 RISK_LOSSVARIANCE120 on 2016-02-29 is updated successfully
[INFO] 2018-06-28 19:33:58 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:58 RISK_LOSSVARIANCE120 on 2016-03-31 is updated successfully
[INFO] 2018-06-28 19:33:59 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:59 RISK_LOSSVARIANCE120 on 2016-04-29 is updated successfully
[INFO] 2018-06-28 19:33:59 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:33:59 RISK_LOSSVARIANCE120 on 2016-05-31 is updated successfully
[INFO] 2018-06-28 19:34:00 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:34:00 RISK_LOSSVARIANCE120 on 2016-06-30 is updated successfully
[INFO] 2018-06-28 19:34:01 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:34:01 RISK_LOSSVARIANCE120 on 2016-07-29 is updated successfully
[INFO] 2018-06-28 19:34:02 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:34:02 RISK_LOSSVARIANCE120 on 2016-08-31 is updated successfully
[INFO] 2018-06-28 19:34:02 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:34:02 RISK_LOSSVARIANCE120 on 2016-09-30 is updated successfully
[INFO] 2018-06-28 19:34:02 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:34:02 RISK_LOSSVARIANCE120 on 2016-10-31 is updated successfully
[INFO] 2018-06-28 19:34:03 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:34:03 RISK_LOSSVARIANCE120 on 2016-11-30 is updated successfully
[INFO] 2018-06-28 19:34:03 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:34:03 RISK_LOSSVARIANCE120 on 2016-12-30 is updated successfully
[INFO] 2018-06-28 19:34:03 E:\02_work\sw\db\indicator\2016.db is disconnected.
[INFO] 2018-06-28 19:34:03 E:\02_work\sw\db\indicator\2017.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE120 REAL
);
[INFO] 2018-06-28 19:34:04 TABLE RISK_LOSSVARIANCE120 is created in E:\02_work\sw\db\indicator\2017.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE120_index] ON [RISK_LOSSVARIANCE120] (date, sec_id);
[INFO] 2018-06-28 19:34:04 INDEX RISK_LOSSVARIANCE120_index is created on TABLE RISK_LOSSVARIANCE120 of E:\02_work\sw\db\indicator\2017.db.
[INFO] 2018-06-28 19:34:04 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE120 WHERE date in ('2017-01-26', '2017-02-28', '2017-03-31', '2017-04-28', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-29', '2017-10-31', '2017-11-30', '2017-12-29')
[INFO] 2018-06-28 19:34:04 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:34:04 RISK_LOSSVARIANCE120 on 2017-01-26 is updated successfully
[INFO] 2018-06-28 19:34:05 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:34:05 RISK_LOSSVARIANCE120 on 2017-02-28 is updated successfully
[INFO] 2018-06-28 19:34:05 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:34:05 RISK_LOSSVARIANCE120 on 2017-03-31 is updated successfully
[INFO] 2018-06-28 19:34:05 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:34:05 RISK_LOSSVARIANCE120 on 2017-04-28 is updated successfully
[INFO] 2018-06-28 19:34:06 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:34:06 RISK_LOSSVARIANCE120 on 2017-05-31 is updated successfully
[INFO] 2018-06-28 19:34:07 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:34:07 RISK_LOSSVARIANCE120 on 2017-06-30 is updated successfully
[INFO] 2018-06-28 19:34:07 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:34:07 RISK_LOSSVARIANCE120 on 2017-07-31 is updated successfully
[INFO] 2018-06-28 19:34:07 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:34:07 RISK_LOSSVARIANCE120 on 2017-08-31 is updated successfully
[INFO] 2018-06-28 19:34:08 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:34:08 RISK_LOSSVARIANCE120 on 2017-09-29 is updated successfully
[INFO] 2018-06-28 19:34:08 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:34:08 RISK_LOSSVARIANCE120 on 2017-10-31 is updated successfully
[INFO] 2018-06-28 19:34:09 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:34:09 RISK_LOSSVARIANCE120 on 2017-11-30 is updated successfully
[INFO] 2018-06-28 19:34:10 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:34:10 RISK_LOSSVARIANCE120 on 2017-12-29 is updated successfully
[INFO] 2018-06-28 19:34:10 E:\02_work\sw\db\indicator\2017.db is disconnected.
[INFO] 2018-06-28 19:34:10 E:\02_work\sw\db\indicator\2018.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE120 REAL
);
[INFO] 2018-06-28 19:34:10 TABLE RISK_LOSSVARIANCE120 is created in E:\02_work\sw\db\indicator\2018.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE120_index] ON [RISK_LOSSVARIANCE120] (date, sec_id);

[INFO] 2018-06-28 19:34:10 INDEX RISK_LOSSVARIANCE120_index is created on TABLE RISK_LOSSVARIANCE120 of E:\02_work\sw\db\indicator\2018.db.
[INFO] 2018-06-28 19:34:10 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE120 WHERE date in ('2018-01-31', '2018-02-28', '2018-03-30', '2018-04-27', '2018-05-31')
[INFO] 2018-06-28 19:34:10 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:34:10 RISK_LOSSVARIANCE120 on 2018-01-31 is updated successfully
[INFO] 2018-06-28 19:34:11 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:34:11 RISK_LOSSVARIANCE120 on 2018-02-28 is updated successfully
[INFO] 2018-06-28 19:34:11 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:34:11 RISK_LOSSVARIANCE120 on 2018-03-30 is updated successfully
[INFO] 2018-06-28 19:34:12 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:34:12 RISK_LOSSVARIANCE120 on 2018-04-27 is updated successfully
[INFO] 2018-06-28 19:34:13 Data is inserted to RISK_LOSSVARIANCE120 successfully!
[INFO] 2018-06-28 19:34:13 RISK_LOSSVARIANCE120 on 2018-05-31 is updated successfully
[INFO] 2018-06-28 19:34:13 E:\02_work\sw\db\indicator\2018.db is disconnected.
[INFO] 2018-06-28 19:34:13 schema updated: RISK_LOSSVARIANCE120
[INFO] 2018-06-28 19:34:13 indicator RISK_LOSSVARIANCE120 is updated.
[INFO] 2018-06-28 19:34:13 ------------------------------------------
[INFO] 2018-06-28 19:34:13 Updating indicator RISK_LOSSVARIANCE20
[INFO] 2018-06-28 19:34:13 E:\02_work\sw\db\indicator\2005.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE20 REAL
);
[INFO] 2018-06-28 19:34:13 TABLE RISK_LOSSVARIANCE20 is created in E:\02_work\sw\db\indicator\2005.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE20_index] ON [RISK_LOSSVARIANCE20] (date, sec_id);
[INFO] 2018-06-28 19:34:13 INDEX RISK_LOSSVARIANCE20_index is created on TABLE RISK_LOSSVARIANCE20 of E:\02_work\sw\db\indicator\2005.db.
[INFO] 2018-06-28 19:34:13 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE20 WHERE date in ('2005-04-29', '2005-05-31', '2005-06-30', '2005-07-29', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-30')
[INFO] 2018-06-28 19:34:13 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:13 RISK_LOSSVARIANCE20 on 2005-04-29 is updated successfully
[INFO] 2018-06-28 19:34:14 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:14 RISK_LOSSVARIANCE20 on 2005-05-31 is updated successfully
[INFO] 2018-06-28 19:34:15 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:15 RISK_LOSSVARIANCE20 on 2005-06-30 is updated successfully
[INFO] 2018-06-28 19:34:15 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:15 RISK_LOSSVARIANCE20 on 2005-07-29 is updated successfully
[INFO] 2018-06-28 19:34:15 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:15 RISK_LOSSVARIANCE20 on 2005-08-31 is updated successfully
[INFO] 2018-06-28 19:34:16 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:16 RISK_LOSSVARIANCE20 on 2005-09-30 is updated successfully
[INFO] 2018-06-28 19:34:16 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:16 RISK_LOSSVARIANCE20 on 2005-10-31 is updated successfully
[INFO] 2018-06-28 19:34:17 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:17 RISK_LOSSVARIANCE20 on 2005-11-30 is updated successfully
[INFO] 2018-06-28 19:34:17 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:17 RISK_LOSSVARIANCE20 on 2005-12-30 is updated successfully
[INFO] 2018-06-28 19:34:17 E:\02_work\sw\db\indicator\2005.db is disconnected.
[INFO] 2018-06-28 19:34:17 E:\02_work\sw\db\indicator\2006.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE20 REAL
);
[INFO] 2018-06-28 19:34:17 TABLE RISK_LOSSVARIANCE20 is created in E:\02_work\sw\db\indicator\2006.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE20_index] ON [RISK_LOSSVARIANCE20] (date, sec_id);
[INFO] 2018-06-28 19:34:17 INDEX RISK_LOSSVARIANCE20_index is created on TABLE RISK_LOSSVARIANCE20 of E:\02_work\sw\db\indicator\2006.db.
[INFO] 2018-06-28 19:34:17 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE20 WHERE date in ('2006-01-25', '2006-02-28', '2006-03-31', '2006-04-28', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-29', '2006-10-31', '2006-11-30', '2006-12-29')
[INFO] 2018-06-28 19:34:17 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:17 RISK_LOSSVARIANCE20 on 2006-01-25 is updated successfully
[INFO] 2018-06-28 19:34:18 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:18 RISK_LOSSVARIANCE20 on 2006-02-28 is updated successfully
[INFO] 2018-06-28 19:34:18 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:18 RISK_LOSSVARIANCE20 on 2006-03-31 is updated successfully
[INFO] 2018-06-28 19:34:19 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:19 RISK_LOSSVARIANCE20 on 2006-04-28 is updated successfully
[INFO] 2018-06-28 19:34:19 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:19 RISK_LOSSVARIANCE20 on 2006-05-31 is updated successfully
[INFO] 2018-06-28 19:34:19 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:19 RISK_LOSSVARIANCE20 on 2006-06-30 is updated successfully
[INFO] 2018-06-28 19:34:20 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:20 RISK_LOSSVARIANCE20 on 2006-07-31 is updated successfully
[INFO] 2018-06-28 19:34:20 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:20 RISK_LOSSVARIANCE20 on 2006-08-31 is updated successfully
[INFO] 2018-06-28 19:34:21 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:21 RISK_LOSSVARIANCE20 on 2006-09-29 is updated successfully
[INFO] 2018-06-28 19:34:21 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:21 RISK_LOSSVARIANCE20 on 2006-10-31 is updated successfully
[INFO] 2018-06-28 19:34:21 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:21 RISK_LOSSVARIANCE20 on 2006-11-30 is updated successfully
[INFO] 2018-06-28 19:34:22 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:22 RISK_LOSSVARIANCE20 on 2006-12-29 is updated successfully
[INFO] 2018-06-28 19:34:22 E:\02_work\sw\db\indicator\2006.db is disconnected.
[INFO] 2018-06-28 19:34:22 E:\02_work\sw\db\indicator\2007.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE20 REAL
);
[INFO] 2018-06-28 19:34:22 TABLE RISK_LOSSVARIANCE20 is created in E:\02_work\sw\db\indicator\2007.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE20_index] ON [RISK_LOSSVARIANCE20] (date, sec_id);
[INFO] 2018-06-28 19:34:22 INDEX RISK_LOSSVARIANCE20_index is created on TABLE RISK_LOSSVARIANCE20 of E:\02_work\sw\db\indicator\2007.db.
[INFO] 2018-06-28 19:34:22 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE20 WHERE date in ('2007-01-31', '2007-02-28', '2007-03-30', '2007-04-30', '2007-05-31', '2007-06-29', '2007-07-31', '2007-08-31', '2007-09-28', '2007-10-31', '2007-11-30', '2007-12-28')
[INFO] 2018-06-28 19:34:23 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:23 RISK_LOSSVARIANCE20 on 2007-01-31 is updated successfully

[INFO] 2018-06-28 19:34:23 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:23 RISK_LOSSVARIANCE20 on 2007-02-28 is updated successfully
[INFO] 2018-06-28 19:34:23 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:23 RISK_LOSSVARIANCE20 on 2007-03-30 is updated successfully
[INFO] 2018-06-28 19:34:23 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:23 RISK_LOSSVARIANCE20 on 2007-04-30 is updated successfully
[INFO] 2018-06-28 19:34:24 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:24 RISK_LOSSVARIANCE20 on 2007-05-31 is updated successfully
[INFO] 2018-06-28 19:34:24 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:24 RISK_LOSSVARIANCE20 on 2007-06-29 is updated successfully
[INFO] 2018-06-28 19:34:25 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:25 RISK_LOSSVARIANCE20 on 2007-07-31 is updated successfully
[INFO] 2018-06-28 19:34:25 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:25 RISK_LOSSVARIANCE20 on 2007-08-31 is updated successfully
[INFO] 2018-06-28 19:34:25 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:25 RISK_LOSSVARIANCE20 on 2007-09-28 is updated successfully
[INFO] 2018-06-28 19:34:26 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:26 RISK_LOSSVARIANCE20 on 2007-10-31 is updated successfully
[INFO] 2018-06-28 19:34:27 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:27 RISK_LOSSVARIANCE20 on 2007-11-30 is updated successfully
[INFO] 2018-06-28 19:34:27 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:27 RISK_LOSSVARIANCE20 on 2007-12-28 is updated successfully
[INFO] 2018-06-28 19:34:27 E:\02_work\sw\db\indicator\2007.db is disconnected.
[INFO] 2018-06-28 19:34:27 E:\02_work\sw\db\indicator\2008.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE20 REAL
);
[INFO] 2018-06-28 19:34:27 TABLE RISK_LOSSVARIANCE20 is created in E:\02_work\sw\db\indicator\2008.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE20_index] ON [RISK_LOSSVARIANCE20] (date, sec_id);
[INFO] 2018-06-28 19:34:27 INDEX RISK_LOSSVARIANCE20_index is created on TABLE RISK_LOSSVARIANCE20 of E:\02_work\sw\db\indicator\2008.db.
[INFO] 2018-06-28 19:34:27 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE20 WHERE date in ('2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-30', '2008-06-30', '2008-07-31', '2008-08-29', '2008-09-26', '2008-10-31', '2008-11-28', '2008-12-31')
[INFO] 2018-06-28 19:34:28 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:28 RISK_LOSSVARIANCE20 on 2008-01-31 is updated successfully
[INFO] 2018-06-28 19:34:28 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:28 RISK_LOSSVARIANCE20 on 2008-02-29 is updated successfully
[INFO] 2018-06-28 19:34:28 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:28 RISK_LOSSVARIANCE20 on 2008-03-31 is updated successfully
[INFO] 2018-06-28 19:34:29 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:29 RISK_LOSSVARIANCE20 on 2008-04-30 is updated successfully
[INFO] 2018-06-28 19:34:29 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:29 RISK_LOSSVARIANCE20 on 2008-05-30 is updated successfully
[INFO] 2018-06-28 19:34:29 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:29 RISK_LOSSVARIANCE20 on 2008-06-30 is updated successfully
[INFO] 2018-06-28 19:34:30 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:30 RISK_LOSSVARIANCE20 on 2008-07-31 is updated successfully
[INFO] 2018-06-28 19:34:30 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:30 RISK_LOSSVARIANCE20 on 2008-08-29 is updated successfully
[INFO] 2018-06-28 19:34:31 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:31 RISK_LOSSVARIANCE20 on 2008-09-26 is updated successfully
[INFO] 2018-06-28 19:34:31 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:31 RISK_LOSSVARIANCE20 on 2008-10-31 is updated successfully
[INFO] 2018-06-28 19:34:32 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:32 RISK_LOSSVARIANCE20 on 2008-11-28 is updated successfully
[INFO] 2018-06-28 19:34:32 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:32 RISK_LOSSVARIANCE20 on 2008-12-31 is updated successfully
[INFO] 2018-06-28 19:34:32 E:\02_work\sw\db\indicator\2008.db is disconnected.
[INFO] 2018-06-28 19:34:32 E:\02_work\sw\db\indicator\2009.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE20 REAL
);
[INFO] 2018-06-28 19:34:32 TABLE RISK_LOSSVARIANCE20 is created in E:\02_work\sw\db\indicator\2009.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE20_index] ON [RISK_LOSSVARIANCE20] (date, sec_id);
[INFO] 2018-06-28 19:34:33 INDEX RISK_LOSSVARIANCE20_index is created on TABLE RISK_LOSSVARIANCE20 of E:\02_work\sw\db\indicator\2009.db.
[INFO] 2018-06-28 19:34:33 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE20 WHERE date in ('2009-01-23', '2009-02-27', '2009-03-31', '2009-04-30', '2009-05-27', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-30', '2009-11-30', '2009-12-31')
[INFO] 2018-06-28 19:34:33 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:33 RISK_LOSSVARIANCE20 on 2009-01-23 is updated successfully
[INFO] 2018-06-28 19:34:34 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:34 RISK_LOSSVARIANCE20 on 2009-02-27 is updated successfully
[INFO] 2018-06-28 19:34:34 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:34 RISK_LOSSVARIANCE20 on 2009-03-31 is updated successfully
[INFO] 2018-06-28 19:34:34 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:34 RISK_LOSSVARIANCE20 on 2009-04-30 is updated successfully
[INFO] 2018-06-28 19:34:34 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:34 RISK_LOSSVARIANCE20 on 2009-05-27 is updated successfully
[INFO] 2018-06-28 19:34:35 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:35 RISK_LOSSVARIANCE20 on 2009-06-30 is updated successfully
[INFO] 2018-06-28 19:34:35 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:35 RISK_LOSSVARIANCE20 on 2009-07-31 is updated successfully
[INFO] 2018-06-28 19:34:36 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:36 RISK_LOSSVARIANCE20 on 2009-08-31 is updated successfully
[INFO] 2018-06-28 19:34:36 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:36 RISK_LOSSVARIANCE20 on 2009-09-30 is updated successfully
[INFO] 2018-06-28 19:34:36 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:36 RISK_LOSSVARIANCE20 on 2009-10-30 is updated successfully
[INFO] 2018-06-28 19:34:37 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:37 RISK_LOSSVARIANCE20 on 2009-11-30 is updated successfully
[INFO] 2018-06-28 19:34:37 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:37 RISK_LOSSVARIANCE20 on 2009-12-31 is updated successfully
[INFO] 2018-06-28 19:34:37 E:\02_work\sw\db\indicator\2009.db is disconnected.
[INFO] 2018-06-28 19:34:37 E:\02_work\sw\db\indicator\2010.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE20 REAL
);
[INFO] 2018-06-28 19:34:37 TABLE RISK_LOSSVARIANCE20 is created in E:\02_work\sw\db\indicator\2010.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE20_index] ON [RISK_LOSSVARIANCE20] (date, sec_id);

[INFO] 2018-06-28 19:34:38 INDEX RISK_LOSSVARIANCE20_index is created on TABLE RISK_LOSSVARIANCE20 of E:\02_work\sw\db\indicator\2010.db.
[INFO] 2018-06-28 19:34:38 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE20 WHERE date in ('2010-01-29', '2010-02-26', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-30', '2010-08-31', '2010-09-30', '2010-10-29', '2010-11-30', '2010-12-31')
[INFO] 2018-06-28 19:34:38 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:38 RISK_LOSSVARIANCE20 on 2010-01-29 is updated successfully
[INFO] 2018-06-28 19:34:38 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:38 RISK_LOSSVARIANCE20 on 2010-02-26 is updated successfully
[INFO] 2018-06-28 19:34:38 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:38 RISK_LOSSVARIANCE20 on 2010-03-31 is updated successfully
[INFO] 2018-06-28 19:34:39 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:39 RISK_LOSSVARIANCE20 on 2010-04-30 is updated successfully
[INFO] 2018-06-28 19:34:39 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:39 RISK_LOSSVARIANCE20 on 2010-05-31 is updated successfully
[INFO] 2018-06-28 19:34:40 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:40 RISK_LOSSVARIANCE20 on 2010-06-30 is updated successfully
[INFO] 2018-06-28 19:34:40 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:40 RISK_LOSSVARIANCE20 on 2010-07-30 is updated successfully
[INFO] 2018-06-28 19:34:40 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:40 RISK_LOSSVARIANCE20 on 2010-08-31 is updated successfully
[INFO] 2018-06-28 19:34:41 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:41 RISK_LOSSVARIANCE20 on 2010-09-30 is updated successfully
[INFO] 2018-06-28 19:34:41 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:41 RISK_LOSSVARIANCE20 on 2010-10-29 is updated successfully
[INFO] 2018-06-28 19:34:42 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:42 RISK_LOSSVARIANCE20 on 2010-11-30 is updated successfully
[INFO] 2018-06-28 19:34:42 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:42 RISK_LOSSVARIANCE20 on 2010-12-31 is updated successfully
[INFO] 2018-06-28 19:34:42 E:\02_work\sw\db\indicator\2010.db is disconnected.
[INFO] 2018-06-28 19:34:42 E:\02_work\sw\db\indicator\2011.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE20 REAL
);
[INFO] 2018-06-28 19:34:42 TABLE RISK_LOSSVARIANCE20 is created in E:\02_work\sw\db\indicator\2011.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE20_index] ON [RISK_LOSSVARIANCE20] (date, sec_id);
[INFO] 2018-06-28 19:34:42 INDEX RISK_LOSSVARIANCE20_index is created on TABLE RISK_LOSSVARIANCE20 of E:\02_work\sw\db\indicator\2011.db.
[INFO] 2018-06-28 19:34:42 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE20 WHERE date in ('2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29', '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30')
[INFO] 2018-06-28 19:34:43 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:43 RISK_LOSSVARIANCE20 on 2011-01-31 is updated successfully
[INFO] 2018-06-28 19:34:43 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:43 RISK_LOSSVARIANCE20 on 2011-02-28 is updated successfully
[INFO] 2018-06-28 19:34:43 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:43 RISK_LOSSVARIANCE20 on 2011-03-31 is updated successfully
[INFO] 2018-06-28 19:34:44 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:44 RISK_LOSSVARIANCE20 on 2011-04-29 is updated successfully
[INFO] 2018-06-28 19:34:44 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:44 RISK_LOSSVARIANCE20 on 2011-05-31 is updated successfully
[INFO] 2018-06-28 19:34:45 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:45 RISK_LOSSVARIANCE20 on 2011-06-30 is updated successfully
[INFO] 2018-06-28 19:34:45 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:45 RISK_LOSSVARIANCE20 on 2011-07-29 is updated successfully
[INFO] 2018-06-28 19:34:45 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:45 RISK_LOSSVARIANCE20 on 2011-08-31 is updated successfully
[INFO] 2018-06-28 19:34:46 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:46 RISK_LOSSVARIANCE20 on 2011-09-30 is updated successfully
[INFO] 2018-06-28 19:34:47 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:47 RISK_LOSSVARIANCE20 on 2011-10-31 is updated successfully
[INFO] 2018-06-28 19:34:47 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:47 RISK_LOSSVARIANCE20 on 2011-11-30 is updated successfully
[INFO] 2018-06-28 19:34:47 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:47 RISK_LOSSVARIANCE20 on 2011-12-30 is updated successfully
[INFO] 2018-06-28 19:34:47 E:\02_work\sw\db\indicator\2011.db is disconnected.
[INFO] 2018-06-28 19:34:47 E:\02_work\sw\db\indicator\2012.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE20 REAL
);
[INFO] 2018-06-28 19:34:47 TABLE RISK_LOSSVARIANCE20 is created in E:\02_work\sw\db\indicator\2012.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE20_index] ON [RISK_LOSSVARIANCE20] (date, sec_id);
[INFO] 2018-06-28 19:34:48 INDEX RISK_LOSSVARIANCE20_index is created on TABLE RISK_LOSSVARIANCE20 of E:\02_work\sw\db\indicator\2012.db.
[INFO] 2018-06-28 19:34:48 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE20 WHERE date in ('2012-01-31', '2012-02-29', '2012-03-30', '2012-04-27', '2012-05-31', '2012-06-29', '2012-07-31', '2012-08-31', '2012-09-28', '2012-10-31', '2012-11-30', '2012-12-31')
[INFO] 2018-06-28 19:34:48 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:48 RISK_LOSSVARIANCE20 on 2012-01-31 is updated successfully
[INFO] 2018-06-28 19:34:48 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:48 RISK_LOSSVARIANCE20 on 2012-02-29 is updated successfully
[INFO] 2018-06-28 19:34:49 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:49 RISK_LOSSVARIANCE20 on 2012-03-30 is updated successfully
[INFO] 2018-06-28 19:34:49 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:49 RISK_LOSSVARIANCE20 on 2012-04-27 is updated successfully
[INFO] 2018-06-28 19:34:50 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:50 RISK_LOSSVARIANCE20 on 2012-05-31 is updated successfully
[INFO] 2018-06-28 19:34:50 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:50 RISK_LOSSVARIANCE20 on 2012-06-29 is updated successfully
[INFO] 2018-06-28 19:34:50 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:50 RISK_LOSSVARIANCE20 on 2012-07-31 is updated successfully
[INFO] 2018-06-28 19:34:51 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:51 RISK_LOSSVARIANCE20 on 2012-08-31 is updated successfully
[INFO] 2018-06-28 19:34:51 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:51 RISK_LOSSVARIANCE20 on 2012-09-28 is updated successfully

[INFO] 2018-06-28 19:34:51 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:51 RISK_LOSSVARIANCE20 on 2012-10-31 is updated successfully
[INFO] 2018-06-28 19:34:52 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:52 RISK_LOSSVARIANCE20 on 2012-11-30 is updated successfully
[INFO] 2018-06-28 19:34:53 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:53 RISK_LOSSVARIANCE20 on 2012-12-31 is updated successfully
[INFO] 2018-06-28 19:34:53 E:\02_work\sw\db\indicator\2012.db is disconnected.
[INFO] 2018-06-28 19:34:53 E:\02_work\sw\db\indicator\2013.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE20 REAL
);
[INFO] 2018-06-28 19:34:53 TABLE RISK_LOSSVARIANCE20 is created in E:\02_work\sw\db\indicator\2013.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE20_index] ON [RISK_LOSSVARIANCE20] (date, sec_id);
[INFO] 2018-06-28 19:34:53 INDEX RISK_LOSSVARIANCE20_index is created on TABLE RISK_LOSSVARIANCE20 of E:\02_work\sw\db\indicator\2013.db.
[INFO] 2018-06-28 19:34:53 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE20 WHERE date in ('2013-01-31', '2013-02-28', '2013-03-29', '2013-04-26', '2013-05-31', '2013-06-28', '2013-07-31', '2013-08-30', '2013-09-30', '2013-10-31', '2013-11-29', '2013-12-31')
[INFO] 2018-06-28 19:34:53 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:53 RISK_LOSSVARIANCE20 on 2013-01-31 is updated successfully
[INFO] 2018-06-28 19:34:54 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:54 RISK_LOSSVARIANCE20 on 2013-02-28 is updated successfully
[INFO] 2018-06-28 19:34:54 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:54 RISK_LOSSVARIANCE20 on 2013-03-29 is updated successfully
[INFO] 2018-06-28 19:34:54 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:54 RISK_LOSSVARIANCE20 on 2013-04-26 is updated successfully
[INFO] 2018-06-28 19:34:55 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:55 RISK_LOSSVARIANCE20 on 2013-05-31 is updated successfully
[INFO] 2018-06-28 19:34:55 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:55 RISK_LOSSVARIANCE20 on 2013-06-28 is updated successfully
[INFO] 2018-06-28 19:34:56 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:56 RISK_LOSSVARIANCE20 on 2013-07-31 is updated successfully
[INFO] 2018-06-28 19:34:56 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:56 RISK_LOSSVARIANCE20 on 2013-08-30 is updated successfully
[INFO] 2018-06-28 19:34:57 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:57 RISK_LOSSVARIANCE20 on 2013-09-30 is updated successfully
[INFO] 2018-06-28 19:34:57 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:57 RISK_LOSSVARIANCE20 on 2013-10-31 is updated successfully
[INFO] 2018-06-28 19:34:57 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:57 RISK_LOSSVARIANCE20 on 2013-11-29 is updated successfully
[INFO] 2018-06-28 19:34:58 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:58 RISK_LOSSVARIANCE20 on 2013-12-31 is updated successfully
[INFO] 2018-06-28 19:34:58 E:\02_work\sw\db\indicator\2013.db is disconnected.
[INFO] 2018-06-28 19:34:58 E:\02_work\sw\db\indicator\2014.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE20 REAL
);
[INFO] 2018-06-28 19:34:58 TABLE RISK_LOSSVARIANCE20 is created in E:\02_work\sw\db\indicator\2014.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE20_index] ON [RISK_LOSSVARIANCE20] (date, sec_id);
[INFO] 2018-06-28 19:34:58 INDEX RISK_LOSSVARIANCE20_index is created on TABLE RISK_LOSSVARIANCE20 of E:\02_work\sw\db\indicator\2014.db.
[INFO] 2018-06-28 19:34:58 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE20 WHERE date in ('2014-01-30', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-30', '2014-06-30', '2014-07-31', '2014-08-29', '2014-09-30', '2014-10-31', '2014-11-28', '2014-12-31')
[INFO] 2018-06-28 19:34:58 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:58 RISK_LOSSVARIANCE20 on 2014-01-30 is updated successfully
[INFO] 2018-06-28 19:34:59 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:59 RISK_LOSSVARIANCE20 on 2014-02-28 is updated successfully
[INFO] 2018-06-28 19:34:59 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:59 RISK_LOSSVARIANCE20 on 2014-03-31 is updated successfully
[INFO] 2018-06-28 19:34:59 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:34:59 RISK_LOSSVARIANCE20 on 2014-04-30 is updated successfully
[INFO] 2018-06-28 19:35:00 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:00 RISK_LOSSVARIANCE20 on 2014-05-30 is updated successfully
[INFO] 2018-06-28 19:35:00 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:00 RISK_LOSSVARIANCE20 on 2014-06-30 is updated successfully
[INFO] 2018-06-28 19:35:01 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:01 RISK_LOSSVARIANCE20 on 2014-07-31 is updated successfully
[INFO] 2018-06-28 19:35:01 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:01 RISK_LOSSVARIANCE20 on 2014-08-29 is updated successfully
[INFO] 2018-06-28 19:35:01 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:01 RISK_LOSSVARIANCE20 on 2014-09-30 is updated successfully
[INFO] 2018-06-28 19:35:02 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:02 RISK_LOSSVARIANCE20 on 2014-10-31 is updated successfully
[INFO] 2018-06-28 19:35:02 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:02 RISK_LOSSVARIANCE20 on 2014-11-28 is updated successfully
[INFO] 2018-06-28 19:35:03 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:03 RISK_LOSSVARIANCE20 on 2014-12-31 is updated successfully
[INFO] 2018-06-28 19:35:03 E:\02_work\sw\db\indicator\2014.db is disconnected.
[INFO] 2018-06-28 19:35:03 E:\02_work\sw\db\indicator\2015.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE20 REAL
);
[INFO] 2018-06-28 19:35:03 TABLE RISK_LOSSVARIANCE20 is created in E:\02_work\sw\db\indicator\2015.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE20_index] ON [RISK_LOSSVARIANCE20] (date, sec_id);
[INFO] 2018-06-28 19:35:03 INDEX RISK_LOSSVARIANCE20_index is created on TABLE RISK_LOSSVARIANCE20 of E:\02_work\sw\db\indicator\2015.db.
[INFO] 2018-06-28 19:35:03 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE20 WHERE date in ('2015-01-30', '2015-02-27', '2015-03-31', '2015-04-30', '2015-05-29', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-30', '2015-11-30', '2015-12-31')
[INFO] 2018-06-28 19:35:03 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:03 RISK_LOSSVARIANCE20 on 2015-01-30 is updated successfully
[INFO] 2018-06-28 19:35:04 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:04 RISK_LOSSVARIANCE20 on 2015-02-27 is updated successfully
[INFO] 2018-06-28 19:35:04 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:04 RISK_LOSSVARIANCE20 on 2015-03-31 is updated successfully

[INFO] 2018-06-28 19:35:04 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:04 RISK_LOSSVARIANCE20 on 2015-04-30 is updated successfully
[INFO] 2018-06-28 19:35:05 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:05 RISK_LOSSVARIANCE20 on 2015-05-29 is updated successfully
[INFO] 2018-06-28 19:35:05 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:05 RISK_LOSSVARIANCE20 on 2015-06-30 is updated successfully
[INFO] 2018-06-28 19:35:06 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:06 RISK_LOSSVARIANCE20 on 2015-07-31 is updated successfully
[INFO] 2018-06-28 19:35:06 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:06 RISK_LOSSVARIANCE20 on 2015-08-31 is updated successfully
[INFO] 2018-06-28 19:35:06 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:06 RISK_LOSSVARIANCE20 on 2015-09-30 is updated successfully
[INFO] 2018-06-28 19:35:07 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:07 RISK_LOSSVARIANCE20 on 2015-10-30 is updated successfully
[INFO] 2018-06-28 19:35:07 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:07 RISK_LOSSVARIANCE20 on 2015-11-30 is updated successfully
[INFO] 2018-06-28 19:35:07 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:07 RISK_LOSSVARIANCE20 on 2015-12-31 is updated successfully
[INFO] 2018-06-28 19:35:07 E:\02_work\sw\db\indicator\2015.db is disconnected.
[INFO] 2018-06-28 19:35:07 E:\02_work\sw\db\indicator\2016.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE20 REAL
);
[INFO] 2018-06-28 19:35:08 TABLE RISK_LOSSVARIANCE20 is created in E:\02_work\sw\db\indicator\2016.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE20_index] ON [RISK_LOSSVARIANCE20] (date, sec_id);
[INFO] 2018-06-28 19:35:08 INDEX RISK_LOSSVARIANCE20_index is created on TABLE RISK_LOSSVARIANCE20 of E:\02_work\sw\db\indicator\2016.db.
[INFO] 2018-06-28 19:35:08 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE20 WHERE date in ('2016-01-29', '2016-02-29', '2016-03-31', '2016-04-29', '2016-05-31', '2016-06-30', '2016-07-29', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-30')
[INFO] 2018-06-28 19:35:08 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:08 RISK_LOSSVARIANCE20 on 2016-01-29 is updated successfully
[INFO] 2018-06-28 19:35:09 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:09 RISK_LOSSVARIANCE20 on 2016-02-29 is updated successfully
[INFO] 2018-06-28 19:35:09 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:09 RISK_LOSSVARIANCE20 on 2016-03-31 is updated successfully
[INFO] 2018-06-28 19:35:09 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:09 RISK_LOSSVARIANCE20 on 2016-04-29 is updated successfully
[INFO] 2018-06-28 19:35:10 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:10 RISK_LOSSVARIANCE20 on 2016-05-31 is updated successfully
[INFO] 2018-06-28 19:35:10 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:10 RISK_LOSSVARIANCE20 on 2016-06-30 is updated successfully
[INFO] 2018-06-28 19:35:10 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:10 RISK_LOSSVARIANCE20 on 2016-07-29 is updated successfully
[INFO] 2018-06-28 19:35:11 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:11 RISK_LOSSVARIANCE20 on 2016-08-31 is updated successfully
[INFO] 2018-06-28 19:35:11 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:11 RISK_LOSSVARIANCE20 on 2016-09-30 is updated successfully
[INFO] 2018-06-28 19:35:12 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:12 RISK_LOSSVARIANCE20 on 2016-10-31 is updated successfully
[INFO] 2018-06-28 19:35:12 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:12 RISK_LOSSVARIANCE20 on 2016-11-30 is updated successfully
[INFO] 2018-06-28 19:35:13 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:13 RISK_LOSSVARIANCE20 on 2016-12-30 is updated successfully
[INFO] 2018-06-28 19:35:13 E:\02_work\sw\db\indicator\2016.db is disconnected.
[INFO] 2018-06-28 19:35:13 E:\02_work\sw\db\indicator\2017.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE20 REAL
);
[INFO] 2018-06-28 19:35:13 TABLE RISK_LOSSVARIANCE20 is created in E:\02_work\sw\db\indicator\2017.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE20_index] ON [RISK_LOSSVARIANCE20] (date, sec_id);
[INFO] 2018-06-28 19:35:13 INDEX RISK_LOSSVARIANCE20_index is created on TABLE RISK_LOSSVARIANCE20 of E:\02_work\sw\db\indicator\2017.db.
[INFO] 2018-06-28 19:35:13 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE20 WHERE date in ('2017-01-26', '2017-02-28', '2017-03-31', '2017-04-28', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-29', '2017-10-31', '2017-11-30', '2017-12-29')
[INFO] 2018-06-28 19:35:13 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:13 RISK_LOSSVARIANCE20 on 2017-01-26 is updated successfully
[INFO] 2018-06-28 19:35:14 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:14 RISK_LOSSVARIANCE20 on 2017-02-28 is updated successfully
[INFO] 2018-06-28 19:35:14 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:14 RISK_LOSSVARIANCE20 on 2017-03-31 is updated successfully
[INFO] 2018-06-28 19:35:14 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:14 RISK_LOSSVARIANCE20 on 2017-04-28 is updated successfully
[INFO] 2018-06-28 19:35:15 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:15 RISK_LOSSVARIANCE20 on 2017-05-31 is updated successfully
[INFO] 2018-06-28 19:35:15 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:15 RISK_LOSSVARIANCE20 on 2017-06-30 is updated successfully
[INFO] 2018-06-28 19:35:16 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:16 RISK_LOSSVARIANCE20 on 2017-07-31 is updated successfully
[INFO] 2018-06-28 19:35:16 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:16 RISK_LOSSVARIANCE20 on 2017-08-31 is updated successfully
[INFO] 2018-06-28 19:35:16 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:16 RISK_LOSSVARIANCE20 on 2017-09-29 is updated successfully
[INFO] 2018-06-28 19:35:17 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:17 RISK_LOSSVARIANCE20 on 2017-10-31 is updated successfully
[INFO] 2018-06-28 19:35:17 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:17 RISK_LOSSVARIANCE20 on 2017-11-30 is updated successfully
[INFO] 2018-06-28 19:35:18 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:18 RISK_LOSSVARIANCE20 on 2017-12-29 is updated successfully
[INFO] 2018-06-28 19:35:18 E:\02_work\sw\db\indicator\2017.db is disconnected.
[INFO] 2018-06-28 19:35:18 E:\02_work\sw\db\indicator\2018.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE20 REAL
);
[INFO] 2018-06-28 19:35:18 TABLE RISK_LOSSVARIANCE20 is created in E:\02_work\sw\db\indicator\2018.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE20_index] ON [RISK_LOSSVARIANCE20] (date, sec_id);

[INFO] 2018-06-28 19:35:18 INDEX RISK_LOSSVARIANCE20_index is created on TABLE RISK_LOSSVARIANCE20 of E:\02_work\sw\db\indicator\2018.db.
[INFO] 2018-06-28 19:35:18 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE20 WHERE date in ('2018-01-31', '2018-02-28', '2018-03-30', '2018-04-27', '2018-05-31')
[INFO] 2018-06-28 19:35:18 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:18 RISK_LOSSVARIANCE20 on 2018-01-31 is updated successfully
[INFO] 2018-06-28 19:35:19 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:19 RISK_LOSSVARIANCE20 on 2018-02-28 is updated successfully
[INFO] 2018-06-28 19:35:19 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:19 RISK_LOSSVARIANCE20 on 2018-03-30 is updated successfully
[INFO] 2018-06-28 19:35:20 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:20 RISK_LOSSVARIANCE20 on 2018-04-27 is updated successfully
[INFO] 2018-06-28 19:35:20 Data is inserted to RISK_LOSSVARIANCE20 successfully!
[INFO] 2018-06-28 19:35:20 RISK_LOSSVARIANCE20 on 2018-05-31 is updated successfully
[INFO] 2018-06-28 19:35:20 E:\02_work\sw\db\indicator\2018.db is disconnected.
[INFO] 2018-06-28 19:35:20 schema updated: RISK_LOSSVARIANCE20
[INFO] 2018-06-28 19:35:20 indicator RISK_LOSSVARIANCE20 is updated.
[INFO] 2018-06-28 19:35:20 ------------------------------------------
[INFO] 2018-06-28 19:35:20 Updating indicator RISK_LOSSVARIANCE60
[INFO] 2018-06-28 19:35:20 E:\02_work\sw\db\indicator\2005.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE60 REAL
);
[INFO] 2018-06-28 19:35:20 TABLE RISK_LOSSVARIANCE60 is created in E:\02_work\sw\db\indicator\2005.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE60_index] ON [RISK_LOSSVARIANCE60] (date, sec_id);
[INFO] 2018-06-28 19:35:21 INDEX RISK_LOSSVARIANCE60_index is created on TABLE RISK_LOSSVARIANCE60 of E:\02_work\sw\db\indicator\2005.db.
[INFO] 2018-06-28 19:35:21 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE60 WHERE date in ('2005-04-29', '2005-05-31', '2005-06-30', '2005-07-29', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-30')
[INFO] 2018-06-28 19:35:21 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:21 RISK_LOSSVARIANCE60 on 2005-04-29 is updated successfully
[INFO] 2018-06-28 19:35:21 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:21 RISK_LOSSVARIANCE60 on 2005-05-31 is updated successfully
[INFO] 2018-06-28 19:35:21 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:21 RISK_LOSSVARIANCE60 on 2005-06-30 is updated successfully
[INFO] 2018-06-28 19:35:22 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:22 RISK_LOSSVARIANCE60 on 2005-07-29 is updated successfully
[INFO] 2018-06-28 19:35:22 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:22 RISK_LOSSVARIANCE60 on 2005-08-31 is updated successfully
[INFO] 2018-06-28 19:35:23 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:23 RISK_LOSSVARIANCE60 on 2005-09-30 is updated successfully
[INFO] 2018-06-28 19:35:23 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:23 RISK_LOSSVARIANCE60 on 2005-10-31 is updated successfully
[INFO] 2018-06-28 19:35:23 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:23 RISK_LOSSVARIANCE60 on 2005-11-30 is updated successfully
[INFO] 2018-06-28 19:35:24 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:24 RISK_LOSSVARIANCE60 on 2005-12-30 is updated successfully
[INFO] 2018-06-28 19:35:24 E:\02_work\sw\db\indicator\2005.db is disconnected.
[INFO] 2018-06-28 19:35:24 E:\02_work\sw\db\indicator\2006.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE60 REAL
);
[INFO] 2018-06-28 19:35:24 TABLE RISK_LOSSVARIANCE60 is created in E:\02_work\sw\db\indicator\2006.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE60_index] ON [RISK_LOSSVARIANCE60] (date, sec_id);
[INFO] 2018-06-28 19:35:24 INDEX RISK_LOSSVARIANCE60_index is created on TABLE RISK_LOSSVARIANCE60 of E:\02_work\sw\db\indicator\2006.db.
[INFO] 2018-06-28 19:35:24 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE60 WHERE date in ('2006-01-25', '2006-02-28', '2006-03-31', '2006-04-28', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-29', '2006-10-31', '2006-11-30', '2006-12-29')
[INFO] 2018-06-28 19:35:25 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:25 RISK_LOSSVARIANCE60 on 2006-01-25 is updated successfully
[INFO] 2018-06-28 19:35:25 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:25 RISK_LOSSVARIANCE60 on 2006-02-28 is updated successfully
[INFO] 2018-06-28 19:35:25 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:25 RISK_LOSSVARIANCE60 on 2006-03-31 is updated successfully
[INFO] 2018-06-28 19:35:25 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:25 RISK_LOSSVARIANCE60 on 2006-04-28 is updated successfully
[INFO] 2018-06-28 19:35:26 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:26 RISK_LOSSVARIANCE60 on 2006-05-31 is updated successfully
[INFO] 2018-06-28 19:35:26 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:26 RISK_LOSSVARIANCE60 on 2006-06-30 is updated successfully
[INFO] 2018-06-28 19:35:27 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:27 RISK_LOSSVARIANCE60 on 2006-07-31 is updated successfully
[INFO] 2018-06-28 19:35:27 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:27 RISK_LOSSVARIANCE60 on 2006-08-31 is updated successfully
[INFO] 2018-06-28 19:35:27 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:27 RISK_LOSSVARIANCE60 on 2006-09-29 is updated successfully
[INFO] 2018-06-28 19:35:28 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:28 RISK_LOSSVARIANCE60 on 2006-10-31 is updated successfully
[INFO] 2018-06-28 19:35:28 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:28 RISK_LOSSVARIANCE60 on 2006-11-30 is updated successfully
[INFO] 2018-06-28 19:35:29 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:29 RISK_LOSSVARIANCE60 on 2006-12-29 is updated successfully
[INFO] 2018-06-28 19:35:29 E:\02_work\sw\db\indicator\2006.db is disconnected.
[INFO] 2018-06-28 19:35:29 E:\02_work\sw\db\indicator\2007.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE60 REAL
);
[INFO] 2018-06-28 19:35:29 TABLE RISK_LOSSVARIANCE60 is created in E:\02_work\sw\db\indicator\2007.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE60_index] ON [RISK_LOSSVARIANCE60] (date, sec_id);
[INFO] 2018-06-28 19:35:29 INDEX RISK_LOSSVARIANCE60_index is created on TABLE RISK_LOSSVARIANCE60 of E:\02_work\sw\db\indicator\2007.db.
[INFO] 2018-06-28 19:35:29 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE60 WHERE date in ('2007-01-31', '2007-02-28', '2007-03-30', '2007-04-30', '2007-05-31', '2007-06-29', '2007-07-31', '2007-08-31', '2007-09-28', '2007-10-31', '2007-11-30', '2007-12-28')
[INFO] 2018-06-28 19:35:29 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:29 RISK_LOSSVARIANCE60 on 2007-01-31 is updated successfully

[INFO] 2018-06-28 19:35:30 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:30 RISK_LOSSVARIANCE60 on 2007-02-28 is updated successfully
[INFO] 2018-06-28 19:35:30 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:30 RISK_LOSSVARIANCE60 on 2007-03-30 is updated successfully
[INFO] 2018-06-28 19:35:30 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:30 RISK_LOSSVARIANCE60 on 2007-04-30 is updated successfully
[INFO] 2018-06-28 19:35:31 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:31 RISK_LOSSVARIANCE60 on 2007-05-31 is updated successfully
[INFO] 2018-06-28 19:35:31 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:31 RISK_LOSSVARIANCE60 on 2007-06-29 is updated successfully
[INFO] 2018-06-28 19:35:32 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:32 RISK_LOSSVARIANCE60 on 2007-07-31 is updated successfully
[INFO] 2018-06-28 19:35:32 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:32 RISK_LOSSVARIANCE60 on 2007-08-31 is updated successfully
[INFO] 2018-06-28 19:35:32 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:32 RISK_LOSSVARIANCE60 on 2007-09-28 is updated successfully
[INFO] 2018-06-28 19:35:33 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:33 RISK_LOSSVARIANCE60 on 2007-10-31 is updated successfully
[INFO] 2018-06-28 19:35:33 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:33 RISK_LOSSVARIANCE60 on 2007-11-30 is updated successfully
[INFO] 2018-06-28 19:35:33 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:33 RISK_LOSSVARIANCE60 on 2007-12-28 is updated successfully
[INFO] 2018-06-28 19:35:33 E:\02_work\sw\db\indicator\2007.db is disconnected.
[INFO] 2018-06-28 19:35:33 E:\02_work\sw\db\indicator\2008.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE60 REAL
);
[INFO] 2018-06-28 19:35:34 TABLE RISK_LOSSVARIANCE60 is created in E:\02_work\sw\db\indicator\2008.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE60_index] ON [RISK_LOSSVARIANCE60] (date, sec_id);
[INFO] 2018-06-28 19:35:34 INDEX RISK_LOSSVARIANCE60_index is created on TABLE RISK_LOSSVARIANCE60 of E:\02_work\sw\db\indicator\2008.db.
[INFO] 2018-06-28 19:35:34 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE60 WHERE date in ('2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-30', '2008-06-30', '2008-07-31', '2008-08-29', '2008-09-26', '2008-10-31', '2008-11-28', '2008-12-31')
[INFO] 2018-06-28 19:35:34 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:34 RISK_LOSSVARIANCE60 on 2008-01-31 is updated successfully
[INFO] 2018-06-28 19:35:34 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:34 RISK_LOSSVARIANCE60 on 2008-02-29 is updated successfully
[INFO] 2018-06-28 19:35:35 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:35 RISK_LOSSVARIANCE60 on 2008-03-31 is updated successfully
[INFO] 2018-06-28 19:35:35 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:35 RISK_LOSSVARIANCE60 on 2008-04-30 is updated successfully
[INFO] 2018-06-28 19:35:35 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:35 RISK_LOSSVARIANCE60 on 2008-05-30 is updated successfully
[INFO] 2018-06-28 19:35:36 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:36 RISK_LOSSVARIANCE60 on 2008-06-30 is updated successfully
[INFO] 2018-06-28 19:35:36 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:36 RISK_LOSSVARIANCE60 on 2008-07-31 is updated successfully
[INFO] 2018-06-28 19:35:37 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:37 RISK_LOSSVARIANCE60 on 2008-08-29 is updated successfully
[INFO] 2018-06-28 19:35:37 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:37 RISK_LOSSVARIANCE60 on 2008-09-26 is updated successfully
[INFO] 2018-06-28 19:35:37 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:37 RISK_LOSSVARIANCE60 on 2008-10-31 is updated successfully
[INFO] 2018-06-28 19:35:38 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:38 RISK_LOSSVARIANCE60 on 2008-11-28 is updated successfully
[INFO] 2018-06-28 19:35:38 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:38 RISK_LOSSVARIANCE60 on 2008-12-31 is updated successfully
[INFO] 2018-06-28 19:35:38 E:\02_work\sw\db\indicator\2008.db is disconnected.
[INFO] 2018-06-28 19:35:38 E:\02_work\sw\db\indicator\2009.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE60 REAL
);
[INFO] 2018-06-28 19:35:39 TABLE RISK_LOSSVARIANCE60 is created in E:\02_work\sw\db\indicator\2009.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE60_index] ON [RISK_LOSSVARIANCE60] (date, sec_id);
[INFO] 2018-06-28 19:35:39 INDEX RISK_LOSSVARIANCE60_index is created on TABLE RISK_LOSSVARIANCE60 of E:\02_work\sw\db\indicator\2009.db.
[INFO] 2018-06-28 19:35:39 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE60 WHERE date in ('2009-01-23', '2009-02-27', '2009-03-31', '2009-04-30', '2009-05-27', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-30', '2009-11-30', '2009-12-31')
[INFO] 2018-06-28 19:35:39 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:39 RISK_LOSSVARIANCE60 on 2009-01-23 is updated successfully
[INFO] 2018-06-28 19:35:39 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:39 RISK_LOSSVARIANCE60 on 2009-02-27 is updated successfully
[INFO] 2018-06-28 19:35:40 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:40 RISK_LOSSVARIANCE60 on 2009-03-31 is updated successfully
[INFO] 2018-06-28 19:35:40 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:40 RISK_LOSSVARIANCE60 on 2009-04-30 is updated successfully
[INFO] 2018-06-28 19:35:40 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:40 RISK_LOSSVARIANCE60 on 2009-05-27 is updated successfully
[INFO] 2018-06-28 19:35:41 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:41 RISK_LOSSVARIANCE60 on 2009-06-30 is updated successfully
[INFO] 2018-06-28 19:35:41 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:41 RISK_LOSSVARIANCE60 on 2009-07-31 is updated successfully
[INFO] 2018-06-28 19:35:42 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:42 RISK_LOSSVARIANCE60 on 2009-08-31 is updated successfully
[INFO] 2018-06-28 19:35:42 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:42 RISK_LOSSVARIANCE60 on 2009-09-30 is updated successfully
[INFO] 2018-06-28 19:35:42 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:42 RISK_LOSSVARIANCE60 on 2009-10-30 is updated successfully
[INFO] 2018-06-28 19:35:43 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:43 RISK_LOSSVARIANCE60 on 2009-11-30 is updated successfully
[INFO] 2018-06-28 19:35:43 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:43 RISK_LOSSVARIANCE60 on 2009-12-31 is updated successfully
[INFO] 2018-06-28 19:35:43 E:\02_work\sw\db\indicator\2009.db is disconnected.
[INFO] 2018-06-28 19:35:43 E:\02_work\sw\db\indicator\2010.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE60 REAL
);
[INFO] 2018-06-28 19:35:43 TABLE RISK_LOSSVARIANCE60 is created in E:\02_work\sw\db\indicator\2010.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE60_index] ON [RISK_LOSSVARIANCE60] (date, sec_id);

[INFO] 2018-06-28 19:35:43 INDEX RISK_LOSSVARIANCE60_index is created on TABLE RISK_LOSSVARIANCE60 of E:\02_work\sw\db\indicator\2010.db.
[INFO] 2018-06-28 19:35:43 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE60 WHERE date in ('2010-01-29', '2010-02-26', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-30', '2010-08-31', '2010-09-30', '2010-10-29', '2010-11-30', '2010-12-31')
[INFO] 2018-06-28 19:35:44 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:44 RISK_LOSSVARIANCE60 on 2010-01-29 is updated successfully
[INFO] 2018-06-28 19:35:44 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:44 RISK_LOSSVARIANCE60 on 2010-02-26 is updated successfully
[INFO] 2018-06-28 19:35:45 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:45 RISK_LOSSVARIANCE60 on 2010-03-31 is updated successfully
[INFO] 2018-06-28 19:35:45 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:45 RISK_LOSSVARIANCE60 on 2010-04-30 is updated successfully
[INFO] 2018-06-28 19:35:45 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:45 RISK_LOSSVARIANCE60 on 2010-05-31 is updated successfully
[INFO] 2018-06-28 19:35:46 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:46 RISK_LOSSVARIANCE60 on 2010-06-30 is updated successfully
[INFO] 2018-06-28 19:35:46 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:46 RISK_LOSSVARIANCE60 on 2010-07-30 is updated successfully
[INFO] 2018-06-28 19:35:46 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:46 RISK_LOSSVARIANCE60 on 2010-08-31 is updated successfully
[INFO] 2018-06-28 19:35:47 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:47 RISK_LOSSVARIANCE60 on 2010-09-30 is updated successfully
[INFO] 2018-06-28 19:35:47 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:47 RISK_LOSSVARIANCE60 on 2010-10-29 is updated successfully
[INFO] 2018-06-28 19:35:48 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:48 RISK_LOSSVARIANCE60 on 2010-11-30 is updated successfully
[INFO] 2018-06-28 19:35:48 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:48 RISK_LOSSVARIANCE60 on 2010-12-31 is updated successfully
[INFO] 2018-06-28 19:35:48 E:\02_work\sw\db\indicator\2010.db is disconnected.
[INFO] 2018-06-28 19:35:48 E:\02_work\sw\db\indicator\2011.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE60 REAL
);
[INFO] 2018-06-28 19:35:48 TABLE RISK_LOSSVARIANCE60 is created in E:\02_work\sw\db\indicator\2011.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE60_index] ON [RISK_LOSSVARIANCE60] (date, sec_id);
[INFO] 2018-06-28 19:35:48 INDEX RISK_LOSSVARIANCE60_index is created on TABLE RISK_LOSSVARIANCE60 of E:\02_work\sw\db\indicator\2011.db.
[INFO] 2018-06-28 19:35:48 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE60 WHERE date in ('2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29', '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30')
[INFO] 2018-06-28 19:35:49 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:49 RISK_LOSSVARIANCE60 on 2011-01-31 is updated successfully
[INFO] 2018-06-28 19:35:49 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:49 RISK_LOSSVARIANCE60 on 2011-02-28 is updated successfully
[INFO] 2018-06-28 19:35:49 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:49 RISK_LOSSVARIANCE60 on 2011-03-31 is updated successfully
[INFO] 2018-06-28 19:35:50 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:50 RISK_LOSSVARIANCE60 on 2011-04-29 is updated successfully
[INFO] 2018-06-28 19:35:50 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:50 RISK_LOSSVARIANCE60 on 2011-05-31 is updated successfully
[INFO] 2018-06-28 19:35:51 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:51 RISK_LOSSVARIANCE60 on 2011-06-30 is updated successfully
[INFO] 2018-06-28 19:35:51 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:51 RISK_LOSSVARIANCE60 on 2011-07-29 is updated successfully
[INFO] 2018-06-28 19:35:51 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:51 RISK_LOSSVARIANCE60 on 2011-08-31 is updated successfully
[INFO] 2018-06-28 19:35:52 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:52 RISK_LOSSVARIANCE60 on 2011-09-30 is updated successfully
[INFO] 2018-06-28 19:35:52 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:52 RISK_LOSSVARIANCE60 on 2011-10-31 is updated successfully
[INFO] 2018-06-28 19:35:53 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:53 RISK_LOSSVARIANCE60 on 2011-11-30 is updated successfully
[INFO] 2018-06-28 19:35:53 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:53 RISK_LOSSVARIANCE60 on 2011-12-30 is updated successfully
[INFO] 2018-06-28 19:35:53 E:\02_work\sw\db\indicator\2011.db is disconnected.
[INFO] 2018-06-28 19:35:53 E:\02_work\sw\db\indicator\2012.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE60 REAL
);
[INFO] 2018-06-28 19:35:53 TABLE RISK_LOSSVARIANCE60 is created in E:\02_work\sw\db\indicator\2012.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE60_index] ON [RISK_LOSSVARIANCE60] (date, sec_id);
[INFO] 2018-06-28 19:35:53 INDEX RISK_LOSSVARIANCE60_index is created on TABLE RISK_LOSSVARIANCE60 of E:\02_work\sw\db\indicator\2012.db.
[INFO] 2018-06-28 19:35:53 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE60 WHERE date in ('2012-01-31', '2012-02-29', '2012-03-30', '2012-04-27', '2012-05-31', '2012-06-29', '2012-07-31', '2012-08-31', '2012-09-28', '2012-10-31', '2012-11-30', '2012-12-31')
[INFO] 2018-06-28 19:35:54 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:54 RISK_LOSSVARIANCE60 on 2012-01-31 is updated successfully
[INFO] 2018-06-28 19:35:54 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:54 RISK_LOSSVARIANCE60 on 2012-02-29 is updated successfully
[INFO] 2018-06-28 19:35:55 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:55 RISK_LOSSVARIANCE60 on 2012-03-30 is updated successfully
[INFO] 2018-06-28 19:35:56 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:56 RISK_LOSSVARIANCE60 on 2012-04-27 is updated successfully
[INFO] 2018-06-28 19:35:56 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:56 RISK_LOSSVARIANCE60 on 2012-05-31 is updated successfully
[INFO] 2018-06-28 19:35:56 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:56 RISK_LOSSVARIANCE60 on 2012-06-29 is updated successfully
[INFO] 2018-06-28 19:35:57 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:57 RISK_LOSSVARIANCE60 on 2012-07-31 is updated successfully
[INFO] 2018-06-28 19:35:57 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:57 RISK_LOSSVARIANCE60 on 2012-08-31 is updated successfully
[INFO] 2018-06-28 19:35:57 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:57 RISK_LOSSVARIANCE60 on 2012-09-28 is updated successfully

[INFO] 2018-06-28 19:35:58 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:58 RISK_LOSSVARIANCE60 on 2012-10-31 is updated successfully
[INFO] 2018-06-28 19:35:58 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:58 RISK_LOSSVARIANCE60 on 2012-11-30 is updated successfully
[INFO] 2018-06-28 19:35:59 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:59 RISK_LOSSVARIANCE60 on 2012-12-31 is updated successfully
[INFO] 2018-06-28 19:35:59 E:\02_work\sw\db\indicator\2012.db is disconnected.
[INFO] 2018-06-28 19:35:59 E:\02_work\sw\db\indicator\2013.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE60 REAL
);
[INFO] 2018-06-28 19:35:59 TABLE RISK_LOSSVARIANCE60 is created in E:\02_work\sw\db\indicator\2013.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE60_index] ON [RISK_LOSSVARIANCE60] (date, sec_id);
[INFO] 2018-06-28 19:35:59 INDEX RISK_LOSSVARIANCE60_index is created on TABLE RISK_LOSSVARIANCE60 of E:\02_work\sw\db\indicator\2013.db.
[INFO] 2018-06-28 19:35:59 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE60 WHERE date in ('2013-01-31', '2013-02-28', '2013-03-29', '2013-04-26', '2013-05-31', '2013-06-28', '2013-07-31', '2013-08-30', '2013-09-30', '2013-10-31', '2013-11-29', '2013-12-31')
[INFO] 2018-06-28 19:35:59 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:59 RISK_LOSSVARIANCE60 on 2013-01-31 is updated successfully
[INFO] 2018-06-28 19:35:59 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:35:59 RISK_LOSSVARIANCE60 on 2013-02-28 is updated successfully
[INFO] 2018-06-28 19:36:00 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:00 RISK_LOSSVARIANCE60 on 2013-03-29 is updated successfully
[INFO] 2018-06-28 19:36:00 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:00 RISK_LOSSVARIANCE60 on 2013-04-26 is updated successfully
[INFO] 2018-06-28 19:36:01 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:01 RISK_LOSSVARIANCE60 on 2013-05-31 is updated successfully
[INFO] 2018-06-28 19:36:01 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:01 RISK_LOSSVARIANCE60 on 2013-06-28 is updated successfully
[INFO] 2018-06-28 19:36:01 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:01 RISK_LOSSVARIANCE60 on 2013-07-31 is updated successfully
[INFO] 2018-06-28 19:36:02 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:02 RISK_LOSSVARIANCE60 on 2013-08-30 is updated successfully
[INFO] 2018-06-28 19:36:02 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:02 RISK_LOSSVARIANCE60 on 2013-09-30 is updated successfully
[INFO] 2018-06-28 19:36:03 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:03 RISK_LOSSVARIANCE60 on 2013-10-31 is updated successfully
[INFO] 2018-06-28 19:36:03 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:03 RISK_LOSSVARIANCE60 on 2013-11-29 is updated successfully
[INFO] 2018-06-28 19:36:03 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:03 RISK_LOSSVARIANCE60 on 2013-12-31 is updated successfully
[INFO] 2018-06-28 19:36:03 E:\02_work\sw\db\indicator\2013.db is disconnected.
[INFO] 2018-06-28 19:36:03 E:\02_work\sw\db\indicator\2014.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE60 REAL
);
[INFO] 2018-06-28 19:36:04 TABLE RISK_LOSSVARIANCE60 is created in E:\02_work\sw\db\indicator\2014.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE60_index] ON [RISK_LOSSVARIANCE60] (date, sec_id);
[INFO] 2018-06-28 19:36:04 INDEX RISK_LOSSVARIANCE60_index is created on TABLE RISK_LOSSVARIANCE60 of E:\02_work\sw\db\indicator\2014.db.
[INFO] 2018-06-28 19:36:04 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE60 WHERE date in ('2014-01-30', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-30', '2014-06-30', '2014-07-31', '2014-08-29', '2014-09-30', '2014-10-31', '2014-11-28', '2014-12-31')
[INFO] 2018-06-28 19:36:04 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:04 RISK_LOSSVARIANCE60 on 2014-01-30 is updated successfully
[INFO] 2018-06-28 19:36:05 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:05 RISK_LOSSVARIANCE60 on 2014-02-28 is updated successfully
[INFO] 2018-06-28 19:36:05 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:05 RISK_LOSSVARIANCE60 on 2014-03-31 is updated successfully
[INFO] 2018-06-28 19:36:05 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:05 RISK_LOSSVARIANCE60 on 2014-04-30 is updated successfully
[INFO] 2018-06-28 19:36:06 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:06 RISK_LOSSVARIANCE60 on 2014-05-30 is updated successfully
[INFO] 2018-06-28 19:36:06 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:06 RISK_LOSSVARIANCE60 on 2014-06-30 is updated successfully
[INFO] 2018-06-28 19:36:06 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:06 RISK_LOSSVARIANCE60 on 2014-07-31 is updated successfully
[INFO] 2018-06-28 19:36:07 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:07 RISK_LOSSVARIANCE60 on 2014-08-29 is updated successfully
[INFO] 2018-06-28 19:36:07 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:07 RISK_LOSSVARIANCE60 on 2014-09-30 is updated successfully
[INFO] 2018-06-28 19:36:08 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:08 RISK_LOSSVARIANCE60 on 2014-10-31 is updated successfully
[INFO] 2018-06-28 19:36:08 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:08 RISK_LOSSVARIANCE60 on 2014-11-28 is updated successfully
[INFO] 2018-06-28 19:36:08 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:08 RISK_LOSSVARIANCE60 on 2014-12-31 is updated successfully
[INFO] 2018-06-28 19:36:08 E:\02_work\sw\db\indicator\2014.db is disconnected.
[INFO] 2018-06-28 19:36:08 E:\02_work\sw\db\indicator\2015.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE60 REAL
);
[INFO] 2018-06-28 19:36:09 TABLE RISK_LOSSVARIANCE60 is created in E:\02_work\sw\db\indicator\2015.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE60_index] ON [RISK_LOSSVARIANCE60] (date, sec_id);
[INFO] 2018-06-28 19:36:09 INDEX RISK_LOSSVARIANCE60_index is created on TABLE RISK_LOSSVARIANCE60 of E:\02_work\sw\db\indicator\2015.db.
[INFO] 2018-06-28 19:36:09 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE60 WHERE date in ('2015-01-30', '2015-02-27', '2015-03-31', '2015-04-30', '2015-05-29', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-30', '2015-11-30', '2015-12-31')
[INFO] 2018-06-28 19:36:09 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:09 RISK_LOSSVARIANCE60 on 2015-01-30 is updated successfully
[INFO] 2018-06-28 19:36:10 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:10 RISK_LOSSVARIANCE60 on 2015-02-27 is updated successfully
[INFO] 2018-06-28 19:36:10 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:10 RISK_LOSSVARIANCE60 on 2015-03-31 is updated successfully

[INFO] 2018-06-28 19:36:10 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:10 RISK_LOSSVARIANCE60 on 2015-04-30 is updated successfully
[INFO] 2018-06-28 19:36:11 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:11 RISK_LOSSVARIANCE60 on 2015-05-29 is updated successfully
[INFO] 2018-06-28 19:36:11 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:11 RISK_LOSSVARIANCE60 on 2015-06-30 is updated successfully
[INFO] 2018-06-28 19:36:12 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:12 RISK_LOSSVARIANCE60 on 2015-07-31 is updated successfully
[INFO] 2018-06-28 19:36:12 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:12 RISK_LOSSVARIANCE60 on 2015-08-31 is updated successfully
[INFO] 2018-06-28 19:36:12 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:12 RISK_LOSSVARIANCE60 on 2015-09-30 is updated successfully
[INFO] 2018-06-28 19:36:13 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:13 RISK_LOSSVARIANCE60 on 2015-10-30 is updated successfully
[INFO] 2018-06-28 19:36:13 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:13 RISK_LOSSVARIANCE60 on 2015-11-30 is updated successfully
[INFO] 2018-06-28 19:36:14 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:14 RISK_LOSSVARIANCE60 on 2015-12-31 is updated successfully
[INFO] 2018-06-28 19:36:14 E:\02_work\sw\db\indicator\2015.db is disconnected.
[INFO] 2018-06-28 19:36:14 E:\02_work\sw\db\indicator\2016.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE60 REAL
);
[INFO] 2018-06-28 19:36:14 TABLE RISK_LOSSVARIANCE60 is created in E:\02_work\sw\db\indicator\2016.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE60_index] ON [RISK_LOSSVARIANCE60] (date, sec_id);
[INFO] 2018-06-28 19:36:14 INDEX RISK_LOSSVARIANCE60_index is created on TABLE RISK_LOSSVARIANCE60 of E:\02_work\sw\db\indicator\2016.db.
[INFO] 2018-06-28 19:36:14 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE60 WHERE date in ('2016-01-29', '2016-02-29', '2016-03-31', '2016-04-29', '2016-05-31', '2016-06-30', '2016-07-29', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-30')
[INFO] 2018-06-28 19:36:14 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:14 RISK_LOSSVARIANCE60 on 2016-01-29 is updated successfully
[INFO] 2018-06-28 19:36:15 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:15 RISK_LOSSVARIANCE60 on 2016-02-29 is updated successfully
[INFO] 2018-06-28 19:36:15 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:15 RISK_LOSSVARIANCE60 on 2016-03-31 is updated successfully
[INFO] 2018-06-28 19:36:15 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:15 RISK_LOSSVARIANCE60 on 2016-04-29 is updated successfully
[INFO] 2018-06-28 19:36:16 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:16 RISK_LOSSVARIANCE60 on 2016-05-31 is updated successfully
[INFO] 2018-06-28 19:36:16 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:16 RISK_LOSSVARIANCE60 on 2016-06-30 is updated successfully
[INFO] 2018-06-28 19:36:17 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:17 RISK_LOSSVARIANCE60 on 2016-07-29 is updated successfully
[INFO] 2018-06-28 19:36:17 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:17 RISK_LOSSVARIANCE60 on 2016-08-31 is updated successfully
[INFO] 2018-06-28 19:36:17 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:17 RISK_LOSSVARIANCE60 on 2016-09-30 is updated successfully
[INFO] 2018-06-28 19:36:18 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:18 RISK_LOSSVARIANCE60 on 2016-10-31 is updated successfully
[INFO] 2018-06-28 19:36:18 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:18 RISK_LOSSVARIANCE60 on 2016-11-30 is updated successfully
[INFO] 2018-06-28 19:36:19 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:19 RISK_LOSSVARIANCE60 on 2016-12-30 is updated successfully
[INFO] 2018-06-28 19:36:19 E:\02_work\sw\db\indicator\2016.db is disconnected.
[INFO] 2018-06-28 19:36:19 E:\02_work\sw\db\indicator\2017.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE60 REAL
);
[INFO] 2018-06-28 19:36:19 TABLE RISK_LOSSVARIANCE60 is created in E:\02_work\sw\db\indicator\2017.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE60_index] ON [RISK_LOSSVARIANCE60] (date, sec_id);
[INFO] 2018-06-28 19:36:19 INDEX RISK_LOSSVARIANCE60_index is created on TABLE RISK_LOSSVARIANCE60 of E:\02_work\sw\db\indicator\2017.db.
[INFO] 2018-06-28 19:36:19 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE60 WHERE date in ('2017-01-26', '2017-02-28', '2017-03-31', '2017-04-28', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-29', '2017-10-31', '2017-11-30', '2017-12-29')
[INFO] 2018-06-28 19:36:19 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:19 RISK_LOSSVARIANCE60 on 2017-01-26 is updated successfully
[INFO] 2018-06-28 19:36:20 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:20 RISK_LOSSVARIANCE60 on 2017-02-28 is updated successfully
[INFO] 2018-06-28 19:36:20 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:20 RISK_LOSSVARIANCE60 on 2017-03-31 is updated successfully
[INFO] 2018-06-28 19:36:21 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:21 RISK_LOSSVARIANCE60 on 2017-04-28 is updated successfully
[INFO] 2018-06-28 19:36:21 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:21 RISK_LOSSVARIANCE60 on 2017-05-31 is updated successfully
[INFO] 2018-06-28 19:36:22 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:22 RISK_LOSSVARIANCE60 on 2017-06-30 is updated successfully
[INFO] 2018-06-28 19:36:22 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:22 RISK_LOSSVARIANCE60 on 2017-07-31 is updated successfully
[INFO] 2018-06-28 19:36:23 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:23 RISK_LOSSVARIANCE60 on 2017-08-31 is updated successfully
[INFO] 2018-06-28 19:36:23 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:23 RISK_LOSSVARIANCE60 on 2017-09-29 is updated successfully
[INFO] 2018-06-28 19:36:23 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:23 RISK_LOSSVARIANCE60 on 2017-10-31 is updated successfully
[INFO] 2018-06-28 19:36:24 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:24 RISK_LOSSVARIANCE60 on 2017-11-30 is updated successfully
[INFO] 2018-06-28 19:36:24 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:24 RISK_LOSSVARIANCE60 on 2017-12-29 is updated successfully
[INFO] 2018-06-28 19:36:24 E:\02_work\sw\db\indicator\2017.db is disconnected.
[INFO] 2018-06-28 19:36:24 E:\02_work\sw\db\indicator\2018.db is connected.
CREATE TABLE [RISK_LOSSVARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_LOSSVARIANCE60 REAL
);
[INFO] 2018-06-28 19:36:24 TABLE RISK_LOSSVARIANCE60 is created in E:\02_work\sw\db\indicator\2018.db.
CREATE UNIQUE INDEX [RISK_LOSSVARIANCE60_index] ON [RISK_LOSSVARIANCE60] (date, sec_id);

[INFO] 2018-06-28 19:36:25 INDEX RISK_LOSSVARIANCE60_index is created on TABLE RISK_LOSSVARIANCE60 of E:\02_work\sw\db\indicator\2018.db.
[INFO] 2018-06-28 19:36:25 SELECT DISTINCT(date) FROM RISK_LOSSVARIANCE60 WHERE date in ('2018-01-31', '2018-02-28', '2018-03-30', '2018-04-27', '2018-05-31')
[INFO] 2018-06-28 19:36:25 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:25 RISK_LOSSVARIANCE60 on 2018-01-31 is updated successfully
[INFO] 2018-06-28 19:36:25 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:25 RISK_LOSSVARIANCE60 on 2018-02-28 is updated successfully
[INFO] 2018-06-28 19:36:26 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:26 RISK_LOSSVARIANCE60 on 2018-03-30 is updated successfully
[INFO] 2018-06-28 19:36:26 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:26 RISK_LOSSVARIANCE60 on 2018-04-27 is updated successfully
[INFO] 2018-06-28 19:36:27 Data is inserted to RISK_LOSSVARIANCE60 successfully!
[INFO] 2018-06-28 19:36:27 RISK_LOSSVARIANCE60 on 2018-05-31 is updated successfully
[INFO] 2018-06-28 19:36:27 E:\02_work\sw\db\indicator\2018.db is disconnected.
[INFO] 2018-06-28 19:36:27 schema updated: RISK_LOSSVARIANCE60
[INFO] 2018-06-28 19:36:27 indicator RISK_LOSSVARIANCE60 is updated.
[INFO] 2018-06-28 19:36:27 ------------------------------------------
[INFO] 2018-06-28 19:36:27 Updating indicator RISK_VARIANCE120
[INFO] 2018-06-28 19:36:27 E:\02_work\sw\db\indicator\2005.db is connected.
CREATE TABLE [RISK_VARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE120 REAL
);
[INFO] 2018-06-28 19:36:27 TABLE RISK_VARIANCE120 is created in E:\02_work\sw\db\indicator\2005.db.
CREATE UNIQUE INDEX [RISK_VARIANCE120_index] ON [RISK_VARIANCE120] (date, sec_id);
[INFO] 2018-06-28 19:36:27 INDEX RISK_VARIANCE120_index is created on TABLE RISK_VARIANCE120 of E:\02_work\sw\db\indicator\2005.db.
[INFO] 2018-06-28 19:36:27 SELECT DISTINCT(date) FROM RISK_VARIANCE120 WHERE date in ('2005-04-29', '2005-05-31', '2005-06-30', '2005-07-29', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-30')
[INFO] 2018-06-28 19:36:27 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:27 RISK_VARIANCE120 on 2005-04-29 is updated successfully
[INFO] 2018-06-28 19:36:28 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:28 RISK_VARIANCE120 on 2005-05-31 is updated successfully
[INFO] 2018-06-28 19:36:28 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:28 RISK_VARIANCE120 on 2005-06-30 is updated successfully
[INFO] 2018-06-28 19:36:28 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:28 RISK_VARIANCE120 on 2005-07-29 is updated successfully
[INFO] 2018-06-28 19:36:29 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:29 RISK_VARIANCE120 on 2005-08-31 is updated successfully
[INFO] 2018-06-28 19:36:29 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:29 RISK_VARIANCE120 on 2005-09-30 is updated successfully
[INFO] 2018-06-28 19:36:30 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:30 RISK_VARIANCE120 on 2005-10-31 is updated successfully
[INFO] 2018-06-28 19:36:30 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:30 RISK_VARIANCE120 on 2005-11-30 is updated successfully
[INFO] 2018-06-28 19:36:30 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:30 RISK_VARIANCE120 on 2005-12-30 is updated successfully
[INFO] 2018-06-28 19:36:30 E:\02_work\sw\db\indicator\2005.db is disconnected.
[INFO] 2018-06-28 19:36:30 E:\02_work\sw\db\indicator\2006.db is connected.
CREATE TABLE [RISK_VARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE120 REAL
);
[INFO] 2018-06-28 19:36:31 TABLE RISK_VARIANCE120 is created in E:\02_work\sw\db\indicator\2006.db.
CREATE UNIQUE INDEX [RISK_VARIANCE120_index] ON [RISK_VARIANCE120] (date, sec_id);
[INFO] 2018-06-28 19:36:31 INDEX RISK_VARIANCE120_index is created on TABLE RISK_VARIANCE120 of E:\02_work\sw\db\indicator\2006.db.
[INFO] 2018-06-28 19:36:31 SELECT DISTINCT(date) FROM RISK_VARIANCE120 WHERE date in ('2006-01-25', '2006-02-28', '2006-03-31', '2006-04-28', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-29', '2006-10-31', '2006-11-30', '2006-12-29')
[INFO] 2018-06-28 19:36:31 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:31 RISK_VARIANCE120 on 2006-01-25 is updated successfully
[INFO] 2018-06-28 19:36:31 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:31 RISK_VARIANCE120 on 2006-02-28 is updated successfully
[INFO] 2018-06-28 19:36:32 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:32 RISK_VARIANCE120 on 2006-03-31 is updated successfully
[INFO] 2018-06-28 19:36:32 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:32 RISK_VARIANCE120 on 2006-04-28 is updated successfully
[INFO] 2018-06-28 19:36:32 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:32 RISK_VARIANCE120 on 2006-05-31 is updated successfully
[INFO] 2018-06-28 19:36:33 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:33 RISK_VARIANCE120 on 2006-06-30 is updated successfully
[INFO] 2018-06-28 19:36:33 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:33 RISK_VARIANCE120 on 2006-07-31 is updated successfully
[INFO] 2018-06-28 19:36:34 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:34 RISK_VARIANCE120 on 2006-08-31 is updated successfully
[INFO] 2018-06-28 19:36:34 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:34 RISK_VARIANCE120 on 2006-09-29 is updated successfully
[INFO] 2018-06-28 19:36:35 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:35 RISK_VARIANCE120 on 2006-10-31 is updated successfully
[INFO] 2018-06-28 19:36:35 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:35 RISK_VARIANCE120 on 2006-11-30 is updated successfully
[INFO] 2018-06-28 19:36:35 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:35 RISK_VARIANCE120 on 2006-12-29 is updated successfully
[INFO] 2018-06-28 19:36:35 E:\02_work\sw\db\indicator\2006.db is disconnected.
[INFO] 2018-06-28 19:36:35 E:\02_work\sw\db\indicator\2007.db is connected.
CREATE TABLE [RISK_VARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE120 REAL
);
[INFO] 2018-06-28 19:36:35 TABLE RISK_VARIANCE120 is created in E:\02_work\sw\db\indicator\2007.db.
CREATE UNIQUE INDEX [RISK_VARIANCE120_index] ON [RISK_VARIANCE120] (date, sec_id);
[INFO] 2018-06-28 19:36:35 INDEX RISK_VARIANCE120_index is created on TABLE RISK_VARIANCE120 of E:\02_work\sw\db\indicator\2007.db.
[INFO] 2018-06-28 19:36:35 SELECT DISTINCT(date) FROM RISK_VARIANCE120 WHERE date in ('2007-01-31', '2007-02-28', '2007-03-30', '2007-04-30', '2007-05-31', '2007-06-29', '2007-07-31', '2007-08-31', '2007-09-28', '2007-10-31', '2007-11-30', '2007-12-28')
[INFO] 2018-06-28 19:36:36 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:36 RISK_VARIANCE120 on 2007-01-31 is updated successfully
[INFO] 2018-06-28 19:36:36 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:36 RISK_VARIANCE120 on 2007-02-28 is updated successfully

[INFO] 2018-06-28 19:36:36 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:36 RISK_VARIANCE120 on 2007-03-30 is updated successfully
[INFO] 2018-06-28 19:36:37 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:37 RISK_VARIANCE120 on 2007-04-30 is updated successfully
[INFO] 2018-06-28 19:36:37 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:37 RISK_VARIANCE120 on 2007-05-31 is updated successfully
[INFO] 2018-06-28 19:36:38 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:38 RISK_VARIANCE120 on 2007-06-29 is updated successfully
[INFO] 2018-06-28 19:36:38 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:38 RISK_VARIANCE120 on 2007-07-31 is updated successfully
[INFO] 2018-06-28 19:36:38 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:38 RISK_VARIANCE120 on 2007-08-31 is updated successfully
[INFO] 2018-06-28 19:36:39 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:39 RISK_VARIANCE120 on 2007-09-28 is updated successfully
[INFO] 2018-06-28 19:36:39 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:39 RISK_VARIANCE120 on 2007-10-31 is updated successfully
[INFO] 2018-06-28 19:36:40 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:40 RISK_VARIANCE120 on 2007-11-30 is updated successfully
[INFO] 2018-06-28 19:36:40 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:40 RISK_VARIANCE120 on 2007-12-28 is updated successfully
[INFO] 2018-06-28 19:36:40 E:\02_work\sw\db\indicator\2007.db is disconnected.
[INFO] 2018-06-28 19:36:40 E:\02_work\sw\db\indicator\2008.db is connected.
CREATE TABLE [RISK_VARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE120 REAL
);
[INFO] 2018-06-28 19:36:40 TABLE RISK_VARIANCE120 is created in E:\02_work\sw\db\indicator\2008.db.
CREATE UNIQUE INDEX [RISK_VARIANCE120_index] ON [RISK_VARIANCE120] (date, sec_id);
[INFO] 2018-06-28 19:36:40 INDEX RISK_VARIANCE120_index is created on TABLE RISK_VARIANCE120 of E:\02_work\sw\db\indicator\2008.db.
[INFO] 2018-06-28 19:36:40 SELECT DISTINCT(date) FROM RISK_VARIANCE120 WHERE date in ('2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-30', '2008-06-30', '2008-07-31', '2008-08-29', '2008-09-26', '2008-10-31', '2008-11-28', '2008-12-31')
[INFO] 2018-06-28 19:36:41 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:41 RISK_VARIANCE120 on 2008-01-31 is updated successfully
[INFO] 2018-06-28 19:36:41 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:41 RISK_VARIANCE120 on 2008-02-29 is updated successfully
[INFO] 2018-06-28 19:36:41 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:41 RISK_VARIANCE120 on 2008-03-31 is updated successfully
[INFO] 2018-06-28 19:36:42 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:42 RISK_VARIANCE120 on 2008-04-30 is updated successfully
[INFO] 2018-06-28 19:36:42 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:42 RISK_VARIANCE120 on 2008-05-30 is updated successfully
[INFO] 2018-06-28 19:36:42 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:42 RISK_VARIANCE120 on 2008-06-30 is updated successfully
[INFO] 2018-06-28 19:36:43 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:43 RISK_VARIANCE120 on 2008-07-31 is updated successfully
[INFO] 2018-06-28 19:36:43 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:43 RISK_VARIANCE120 on 2008-08-29 is updated successfully
[INFO] 2018-06-28 19:36:44 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:44 RISK_VARIANCE120 on 2008-09-26 is updated successfully
[INFO] 2018-06-28 19:36:44 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:44 RISK_VARIANCE120 on 2008-10-31 is updated successfully
[INFO] 2018-06-28 19:36:45 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:45 RISK_VARIANCE120 on 2008-11-28 is updated successfully
[INFO] 2018-06-28 19:36:45 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:45 RISK_VARIANCE120 on 2008-12-31 is updated successfully
[INFO] 2018-06-28 19:36:45 E:\02_work\sw\db\indicator\2008.db is disconnected.
[INFO] 2018-06-28 19:36:45 E:\02_work\sw\db\indicator\2009.db is connected.
CREATE TABLE [RISK_VARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE120 REAL
);
[INFO] 2018-06-28 19:36:45 TABLE RISK_VARIANCE120 is created in E:\02_work\sw\db\indicator\2009.db.
CREATE UNIQUE INDEX [RISK_VARIANCE120_index] ON [RISK_VARIANCE120] (date, sec_id);
[INFO] 2018-06-28 19:36:45 INDEX RISK_VARIANCE120_index is created on TABLE RISK_VARIANCE120 of E:\02_work\sw\db\indicator\2009.db.
[INFO] 2018-06-28 19:36:45 SELECT DISTINCT(date) FROM RISK_VARIANCE120 WHERE date in ('2009-01-23', '2009-02-27', '2009-03-31', '2009-04-30', '2009-05-27', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-30', '2009-11-30', '2009-12-31')
[INFO] 2018-06-28 19:36:46 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:46 RISK_VARIANCE120 on 2009-01-23 is updated successfully
[INFO] 2018-06-28 19:36:47 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:47 RISK_VARIANCE120 on 2009-02-27 is updated successfully
[INFO] 2018-06-28 19:36:48 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:48 RISK_VARIANCE120 on 2009-03-31 is updated successfully
[INFO] 2018-06-28 19:36:48 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:48 RISK_VARIANCE120 on 2009-04-30 is updated successfully
[INFO] 2018-06-28 19:36:49 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:49 RISK_VARIANCE120 on 2009-05-27 is updated successfully
[INFO] 2018-06-28 19:36:49 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:49 RISK_VARIANCE120 on 2009-06-30 is updated successfully
[INFO] 2018-06-28 19:36:49 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:49 RISK_VARIANCE120 on 2009-07-31 is updated successfully
[INFO] 2018-06-28 19:36:50 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:50 RISK_VARIANCE120 on 2009-08-31 is updated successfully
[INFO] 2018-06-28 19:36:50 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:50 RISK_VARIANCE120 on 2009-09-30 is updated successfully
[INFO] 2018-06-28 19:36:51 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:51 RISK_VARIANCE120 on 2009-10-30 is updated successfully
[INFO] 2018-06-28 19:36:51 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:51 RISK_VARIANCE120 on 2009-11-30 is updated successfully
[INFO] 2018-06-28 19:36:51 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:51 RISK_VARIANCE120 on 2009-12-31 is updated successfully
[INFO] 2018-06-28 19:36:51 E:\02_work\sw\db\indicator\2009.db is disconnected.
[INFO] 2018-06-28 19:36:51 E:\02_work\sw\db\indicator\2010.db is connected.
CREATE TABLE [RISK_VARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE120 REAL
);
[INFO] 2018-06-28 19:36:51 TABLE RISK_VARIANCE120 is created in E:\02_work\sw\db\indicator\2010.db.
CREATE UNIQUE INDEX [RISK_VARIANCE120_index] ON [RISK_VARIANCE120] (date, sec_id);

[INFO] 2018-06-28 19:36:52 INDEX RISK_VARIANCE120_index is created on TABLE RISK_VARIANCE120 of E:\02_work\sw\db\indicator\2010.db.
[INFO] 2018-06-28 19:36:52 SELECT DISTINCT(date) FROM RISK_VARIANCE120 WHERE date in ('2010-01-29', '2010-02-26', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-30', '2010-08-31', '2010-09-30', '2010-10-29', '2010-11-30', '2010-12-31')
[INFO] 2018-06-28 19:36:52 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:52 RISK_VARIANCE120 on 2010-01-29 is updated successfully
[INFO] 2018-06-28 19:36:52 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:52 RISK_VARIANCE120 on 2010-02-26 is updated successfully
[INFO] 2018-06-28 19:36:52 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:52 RISK_VARIANCE120 on 2010-03-31 is updated successfully
[INFO] 2018-06-28 19:36:53 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:53 RISK_VARIANCE120 on 2010-04-30 is updated successfully
[INFO] 2018-06-28 19:36:53 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:53 RISK_VARIANCE120 on 2010-05-31 is updated successfully
[INFO] 2018-06-28 19:36:54 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:54 RISK_VARIANCE120 on 2010-06-30 is updated successfully
[INFO] 2018-06-28 19:36:54 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:54 RISK_VARIANCE120 on 2010-07-30 is updated successfully
[INFO] 2018-06-28 19:36:55 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:55 RISK_VARIANCE120 on 2010-08-31 is updated successfully
[INFO] 2018-06-28 19:36:55 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:55 RISK_VARIANCE120 on 2010-09-30 is updated successfully
[INFO] 2018-06-28 19:36:56 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:56 RISK_VARIANCE120 on 2010-10-29 is updated successfully
[INFO] 2018-06-28 19:36:56 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:56 RISK_VARIANCE120 on 2010-11-30 is updated successfully
[INFO] 2018-06-28 19:36:56 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:56 RISK_VARIANCE120 on 2010-12-31 is updated successfully
[INFO] 2018-06-28 19:36:56 E:\02_work\sw\db\indicator\2010.db is disconnected.
[INFO] 2018-06-28 19:36:56 E:\02_work\sw\db\indicator\2011.db is connected.
CREATE TABLE [RISK_VARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE120 REAL
);
[INFO] 2018-06-28 19:36:56 TABLE RISK_VARIANCE120 is created in E:\02_work\sw\db\indicator\2011.db.
CREATE UNIQUE INDEX [RISK_VARIANCE120_index] ON [RISK_VARIANCE120] (date, sec_id);
[INFO] 2018-06-28 19:36:57 INDEX RISK_VARIANCE120_index is created on TABLE RISK_VARIANCE120 of E:\02_work\sw\db\indicator\2011.db.
[INFO] 2018-06-28 19:36:57 SELECT DISTINCT(date) FROM RISK_VARIANCE120 WHERE date in ('2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29', '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30')
[INFO] 2018-06-28 19:36:57 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:57 RISK_VARIANCE120 on 2011-01-31 is updated successfully
[INFO] 2018-06-28 19:36:57 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:57 RISK_VARIANCE120 on 2011-02-28 is updated successfully
[INFO] 2018-06-28 19:36:58 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:58 RISK_VARIANCE120 on 2011-03-31 is updated successfully
[INFO] 2018-06-28 19:36:58 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:58 RISK_VARIANCE120 on 2011-04-29 is updated successfully
[INFO] 2018-06-28 19:36:59 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:59 RISK_VARIANCE120 on 2011-05-31 is updated successfully
[INFO] 2018-06-28 19:36:59 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:59 RISK_VARIANCE120 on 2011-06-30 is updated successfully
[INFO] 2018-06-28 19:36:59 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:36:59 RISK_VARIANCE120 on 2011-07-29 is updated successfully
[INFO] 2018-06-28 19:37:00 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:00 RISK_VARIANCE120 on 2011-08-31 is updated successfully
[INFO] 2018-06-28 19:37:00 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:00 RISK_VARIANCE120 on 2011-09-30 is updated successfully
[INFO] 2018-06-28 19:37:00 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:00 RISK_VARIANCE120 on 2011-10-31 is updated successfully
[INFO] 2018-06-28 19:37:01 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:01 RISK_VARIANCE120 on 2011-11-30 is updated successfully
[INFO] 2018-06-28 19:37:01 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:01 RISK_VARIANCE120 on 2011-12-30 is updated successfully
[INFO] 2018-06-28 19:37:01 E:\02_work\sw\db\indicator\2011.db is disconnected.
[INFO] 2018-06-28 19:37:01 E:\02_work\sw\db\indicator\2012.db is connected.
CREATE TABLE [RISK_VARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE120 REAL
);
[INFO] 2018-06-28 19:37:01 TABLE RISK_VARIANCE120 is created in E:\02_work\sw\db\indicator\2012.db.
CREATE UNIQUE INDEX [RISK_VARIANCE120_index] ON [RISK_VARIANCE120] (date, sec_id);
[INFO] 2018-06-28 19:37:01 INDEX RISK_VARIANCE120_index is created on TABLE RISK_VARIANCE120 of E:\02_work\sw\db\indicator\2012.db.
[INFO] 2018-06-28 19:37:01 SELECT DISTINCT(date) FROM RISK_VARIANCE120 WHERE date in ('2012-01-31', '2012-02-29', '2012-03-30', '2012-04-27', '2012-05-31', '2012-06-29', '2012-07-31', '2012-08-31', '2012-09-28', '2012-10-31', '2012-11-30', '2012-12-31')
[INFO] 2018-06-28 19:37:02 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:02 RISK_VARIANCE120 on 2012-01-31 is updated successfully
[INFO] 2018-06-28 19:37:02 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:02 RISK_VARIANCE120 on 2012-02-29 is updated successfully
[INFO] 2018-06-28 19:37:03 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:03 RISK_VARIANCE120 on 2012-03-30 is updated successfully
[INFO] 2018-06-28 19:37:03 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:03 RISK_VARIANCE120 on 2012-04-27 is updated successfully
[INFO] 2018-06-28 19:37:04 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:04 RISK_VARIANCE120 on 2012-05-31 is updated successfully
[INFO] 2018-06-28 19:37:04 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:04 RISK_VARIANCE120 on 2012-06-29 is updated successfully
[INFO] 2018-06-28 19:37:04 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:04 RISK_VARIANCE120 on 2012-07-31 is updated successfully
[INFO] 2018-06-28 19:37:05 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:05 RISK_VARIANCE120 on 2012-08-31 is updated successfully
[INFO] 2018-06-28 19:37:05 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:05 RISK_VARIANCE120 on 2012-09-28 is updated successfully
[INFO] 2018-06-28 19:37:05 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:05 RISK_VARIANCE120 on 2012-10-31 is updated successfully

[INFO] 2018-06-28 19:37:06 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:06 RISK_VARIANCE120 on 2012-11-30 is updated successfully
[INFO] 2018-06-28 19:37:07 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:07 RISK_VARIANCE120 on 2012-12-31 is updated successfully
[INFO] 2018-06-28 19:37:07 E:\02_work\sw\db\indicator\2012.db is disconnected.
[INFO] 2018-06-28 19:37:07 E:\02_work\sw\db\indicator\2013.db is connected.
CREATE TABLE [RISK_VARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE120 REAL
);
[INFO] 2018-06-28 19:37:07 TABLE RISK_VARIANCE120 is created in E:\02_work\sw\db\indicator\2013.db.
CREATE UNIQUE INDEX [RISK_VARIANCE120_index] ON [RISK_VARIANCE120] (date, sec_id);
[INFO] 2018-06-28 19:37:07 INDEX RISK_VARIANCE120_index is created on TABLE RISK_VARIANCE120 of E:\02_work\sw\db\indicator\2013.db.
[INFO] 2018-06-28 19:37:07 SELECT DISTINCT(date) FROM RISK_VARIANCE120 WHERE date in ('2013-01-31', '2013-02-28', '2013-03-29', '2013-04-26', '2013-05-31', '2013-06-28', '2013-07-31', '2013-08-30', '2013-09-30', '2013-10-31', '2013-11-29', '2013-12-31')
[INFO] 2018-06-28 19:37:07 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:07 RISK_VARIANCE120 on 2013-01-31 is updated successfully
[INFO] 2018-06-28 19:37:08 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:08 RISK_VARIANCE120 on 2013-02-28 is updated successfully
[INFO] 2018-06-28 19:37:08 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:08 RISK_VARIANCE120 on 2013-03-29 is updated successfully
[INFO] 2018-06-28 19:37:08 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:08 RISK_VARIANCE120 on 2013-04-26 is updated successfully
[INFO] 2018-06-28 19:37:09 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:09 RISK_VARIANCE120 on 2013-05-31 is updated successfully
[INFO] 2018-06-28 19:37:09 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:09 RISK_VARIANCE120 on 2013-06-28 is updated successfully
[INFO] 2018-06-28 19:37:10 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:10 RISK_VARIANCE120 on 2013-07-31 is updated successfully
[INFO] 2018-06-28 19:37:10 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:10 RISK_VARIANCE120 on 2013-08-30 is updated successfully
[INFO] 2018-06-28 19:37:10 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:10 RISK_VARIANCE120 on 2013-09-30 is updated successfully
[INFO] 2018-06-28 19:37:11 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:11 RISK_VARIANCE120 on 2013-10-31 is updated successfully
[INFO] 2018-06-28 19:37:11 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:11 RISK_VARIANCE120 on 2013-11-29 is updated successfully
[INFO] 2018-06-28 19:37:12 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:12 RISK_VARIANCE120 on 2013-12-31 is updated successfully
[INFO] 2018-06-28 19:37:12 E:\02_work\sw\db\indicator\2013.db is disconnected.
[INFO] 2018-06-28 19:37:12 E:\02_work\sw\db\indicator\2014.db is connected.
CREATE TABLE [RISK_VARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE120 REAL
);
[INFO] 2018-06-28 19:37:12 TABLE RISK_VARIANCE120 is created in E:\02_work\sw\db\indicator\2014.db.
CREATE UNIQUE INDEX [RISK_VARIANCE120_index] ON [RISK_VARIANCE120] (date, sec_id);
[INFO] 2018-06-28 19:37:12 INDEX RISK_VARIANCE120_index is created on TABLE RISK_VARIANCE120 of E:\02_work\sw\db\indicator\2014.db.
[INFO] 2018-06-28 19:37:12 SELECT DISTINCT(date) FROM RISK_VARIANCE120 WHERE date in ('2014-01-30', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-30', '2014-06-30', '2014-07-31', '2014-08-29', '2014-09-30', '2014-10-31', '2014-11-28', '2014-12-31')
[INFO] 2018-06-28 19:37:12 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:12 RISK_VARIANCE120 on 2014-01-30 is updated successfully
[INFO] 2018-06-28 19:37:13 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:13 RISK_VARIANCE120 on 2014-02-28 is updated successfully
[INFO] 2018-06-28 19:37:13 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:13 RISK_VARIANCE120 on 2014-03-31 is updated successfully
[INFO] 2018-06-28 19:37:13 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:13 RISK_VARIANCE120 on 2014-04-30 is updated successfully
[INFO] 2018-06-28 19:37:14 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:14 RISK_VARIANCE120 on 2014-05-30 is updated successfully
[INFO] 2018-06-28 19:37:14 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:14 RISK_VARIANCE120 on 2014-06-30 is updated successfully
[INFO] 2018-06-28 19:37:15 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:15 RISK_VARIANCE120 on 2014-07-31 is updated successfully
[INFO] 2018-06-28 19:37:15 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:15 RISK_VARIANCE120 on 2014-08-29 is updated successfully
[INFO] 2018-06-28 19:37:16 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:16 RISK_VARIANCE120 on 2014-09-30 is updated successfully
[INFO] 2018-06-28 19:37:16 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:16 RISK_VARIANCE120 on 2014-10-31 is updated successfully
[INFO] 2018-06-28 19:37:16 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:16 RISK_VARIANCE120 on 2014-11-28 is updated successfully
[INFO] 2018-06-28 19:37:17 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:17 RISK_VARIANCE120 on 2014-12-31 is updated successfully
[INFO] 2018-06-28 19:37:17 E:\02_work\sw\db\indicator\2014.db is disconnected.
[INFO] 2018-06-28 19:37:17 E:\02_work\sw\db\indicator\2015.db is connected.
CREATE TABLE [RISK_VARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE120 REAL
);
[INFO] 2018-06-28 19:37:17 TABLE RISK_VARIANCE120 is created in E:\02_work\sw\db\indicator\2015.db.
CREATE UNIQUE INDEX [RISK_VARIANCE120_index] ON [RISK_VARIANCE120] (date, sec_id);
[INFO] 2018-06-28 19:37:17 INDEX RISK_VARIANCE120_index is created on TABLE RISK_VARIANCE120 of E:\02_work\sw\db\indicator\2015.db.
[INFO] 2018-06-28 19:37:17 SELECT DISTINCT(date) FROM RISK_VARIANCE120 WHERE date in ('2015-01-30', '2015-02-27', '2015-03-31', '2015-04-30', '2015-05-29', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-30', '2015-11-30', '2015-12-31')
[INFO] 2018-06-28 19:37:18 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:18 RISK_VARIANCE120 on 2015-01-30 is updated successfully
[INFO] 2018-06-28 19:37:18 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:18 RISK_VARIANCE120 on 2015-02-27 is updated successfully
[INFO] 2018-06-28 19:37:18 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:18 RISK_VARIANCE120 on 2015-03-31 is updated successfully
[INFO] 2018-06-28 19:37:19 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:19 RISK_VARIANCE120 on 2015-04-30 is updated successfully
[INFO] 2018-06-28 19:37:19 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:19 RISK_VARIANCE120 on 2015-05-29 is updated successfully
[INFO] 2018-06-28 19:37:20 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:20 RISK_VARIANCE120 on 2015-06-30 is updated successfully

[INFO] 2018-06-28 19:37:20 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:20 RISK_VARIANCE120 on 2015-07-31 is updated successfully
[INFO] 2018-06-28 19:37:20 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:20 RISK_VARIANCE120 on 2015-08-31 is updated successfully
[INFO] 2018-06-28 19:37:21 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:21 RISK_VARIANCE120 on 2015-09-30 is updated successfully
[INFO] 2018-06-28 19:37:21 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:21 RISK_VARIANCE120 on 2015-10-30 is updated successfully
[INFO] 2018-06-28 19:37:21 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:21 RISK_VARIANCE120 on 2015-11-30 is updated successfully
[INFO] 2018-06-28 19:37:22 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:22 RISK_VARIANCE120 on 2015-12-31 is updated successfully
[INFO] 2018-06-28 19:37:22 E:\02_work\sw\db\indicator\2015.db is disconnected.
[INFO] 2018-06-28 19:37:22 E:\02_work\sw\db\indicator\2016.db is connected.
CREATE TABLE [RISK_VARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE120 REAL
);
[INFO] 2018-06-28 19:37:22 TABLE RISK_VARIANCE120 is created in E:\02_work\sw\db\indicator\2016.db.
CREATE UNIQUE INDEX [RISK_VARIANCE120_index] ON [RISK_VARIANCE120] (date, sec_id);
[INFO] 2018-06-28 19:37:22 INDEX RISK_VARIANCE120_index is created on TABLE RISK_VARIANCE120 of E:\02_work\sw\db\indicator\2016.db.
[INFO] 2018-06-28 19:37:22 SELECT DISTINCT(date) FROM RISK_VARIANCE120 WHERE date in ('2016-01-29', '2016-02-29', '2016-03-31', '2016-04-29', '2016-05-31', '2016-06-30', '2016-07-29', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-30')
[INFO] 2018-06-28 19:37:23 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:23 RISK_VARIANCE120 on 2016-01-29 is updated successfully
[INFO] 2018-06-28 19:37:23 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:23 RISK_VARIANCE120 on 2016-02-29 is updated successfully
[INFO] 2018-06-28 19:37:23 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:23 RISK_VARIANCE120 on 2016-03-31 is updated successfully
[INFO] 2018-06-28 19:37:24 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:24 RISK_VARIANCE120 on 2016-04-29 is updated successfully
[INFO] 2018-06-28 19:37:24 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:24 RISK_VARIANCE120 on 2016-05-31 is updated successfully
[INFO] 2018-06-28 19:37:25 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:25 RISK_VARIANCE120 on 2016-06-30 is updated successfully
[INFO] 2018-06-28 19:37:25 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:25 RISK_VARIANCE120 on 2016-07-29 is updated successfully
[INFO] 2018-06-28 19:37:25 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:25 RISK_VARIANCE120 on 2016-08-31 is updated successfully
[INFO] 2018-06-28 19:37:26 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:26 RISK_VARIANCE120 on 2016-09-30 is updated successfully
[INFO] 2018-06-28 19:37:27 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:27 RISK_VARIANCE120 on 2016-10-31 is updated successfully
[INFO] 2018-06-28 19:37:27 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:27 RISK_VARIANCE120 on 2016-11-30 is updated successfully
[INFO] 2018-06-28 19:37:28 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:28 RISK_VARIANCE120 on 2016-12-30 is updated successfully
[INFO] 2018-06-28 19:37:28 E:\02_work\sw\db\indicator\2016.db is disconnected.
[INFO] 2018-06-28 19:37:28 E:\02_work\sw\db\indicator\2017.db is connected.
CREATE TABLE [RISK_VARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE120 REAL
);
[INFO] 2018-06-28 19:37:28 TABLE RISK_VARIANCE120 is created in E:\02_work\sw\db\indicator\2017.db.
CREATE UNIQUE INDEX [RISK_VARIANCE120_index] ON [RISK_VARIANCE120] (date, sec_id);
[INFO] 2018-06-28 19:37:28 INDEX RISK_VARIANCE120_index is created on TABLE RISK_VARIANCE120 of E:\02_work\sw\db\indicator\2017.db.
[INFO] 2018-06-28 19:37:28 SELECT DISTINCT(date) FROM RISK_VARIANCE120 WHERE date in ('2017-01-26', '2017-02-28', '2017-03-31', '2017-04-28', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-29', '2017-10-31', '2017-11-30', '2017-12-29')
[INFO] 2018-06-28 19:37:29 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:29 RISK_VARIANCE120 on 2017-01-26 is updated successfully
[INFO] 2018-06-28 19:37:29 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:29 RISK_VARIANCE120 on 2017-02-28 is updated successfully
[INFO] 2018-06-28 19:37:29 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:29 RISK_VARIANCE120 on 2017-03-31 is updated successfully
[INFO] 2018-06-28 19:37:30 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:30 RISK_VARIANCE120 on 2017-04-28 is updated successfully
[INFO] 2018-06-28 19:37:30 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:30 RISK_VARIANCE120 on 2017-05-31 is updated successfully
[INFO] 2018-06-28 19:37:31 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:31 RISK_VARIANCE120 on 2017-06-30 is updated successfully
[INFO] 2018-06-28 19:37:31 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:31 RISK_VARIANCE120 on 2017-07-31 is updated successfully
[INFO] 2018-06-28 19:37:32 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:32 RISK_VARIANCE120 on 2017-08-31 is updated successfully
[INFO] 2018-06-28 19:37:32 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:32 RISK_VARIANCE120 on 2017-09-29 is updated successfully
[INFO] 2018-06-28 19:37:33 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:33 RISK_VARIANCE120 on 2017-10-31 is updated successfully
[INFO] 2018-06-28 19:37:33 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:33 RISK_VARIANCE120 on 2017-11-30 is updated successfully
[INFO] 2018-06-28 19:37:34 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:34 RISK_VARIANCE120 on 2017-12-29 is updated successfully
[INFO] 2018-06-28 19:37:34 E:\02_work\sw\db\indicator\2017.db is disconnected.
[INFO] 2018-06-28 19:37:34 E:\02_work\sw\db\indicator\2018.db is connected.
CREATE TABLE [RISK_VARIANCE120] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE120 REAL
);
[INFO] 2018-06-28 19:37:34 TABLE RISK_VARIANCE120 is created in E:\02_work\sw\db\indicator\2018.db.
CREATE UNIQUE INDEX [RISK_VARIANCE120_index] ON [RISK_VARIANCE120] (date, sec_id);
[INFO] 2018-06-28 19:37:34 INDEX RISK_VARIANCE120_index is created on TABLE RISK_VARIANCE120 of E:\02_work\sw\db\indicator\2018.db.
[INFO] 2018-06-28 19:37:34 SELECT DISTINCT(date) FROM RISK_VARIANCE120 WHERE date in ('2018-01-31', '2018-02-28', '2018-03-30', '2018-04-27', '2018-05-31')
[INFO] 2018-06-28 19:37:34 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:34 RISK_VARIANCE120 on 2018-01-31 is updated successfully
[INFO] 2018-06-28 19:37:35 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:35 RISK_VARIANCE120 on 2018-02-28 is updated successfully

[INFO] 2018-06-28 19:37:35 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:35 RISK_VARIANCE120 on 2018-03-30 is updated successfully
[INFO] 2018-06-28 19:37:36 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:36 RISK_VARIANCE120 on 2018-04-27 is updated successfully
[INFO] 2018-06-28 19:37:36 Data is inserted to RISK_VARIANCE120 successfully!
[INFO] 2018-06-28 19:37:36 RISK_VARIANCE120 on 2018-05-31 is updated successfully
[INFO] 2018-06-28 19:37:36 E:\02_work\sw\db\indicator\2018.db is disconnected.
[INFO] 2018-06-28 19:37:36 schema updated: RISK_VARIANCE120
[INFO] 2018-06-28 19:37:36 indicator RISK_VARIANCE120 is updated.
[INFO] 2018-06-28 19:37:36 ------------------------------------------
[INFO] 2018-06-28 19:37:36 Updating indicator RISK_VARIANCE20
[INFO] 2018-06-28 19:37:36 E:\02_work\sw\db\indicator\2005.db is connected.
CREATE TABLE [RISK_VARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE20 REAL
);
[INFO] 2018-06-28 19:37:36 TABLE RISK_VARIANCE20 is created in E:\02_work\sw\db\indicator\2005.db.
CREATE UNIQUE INDEX [RISK_VARIANCE20_index] ON [RISK_VARIANCE20] (date, sec_id);
[INFO] 2018-06-28 19:37:37 INDEX RISK_VARIANCE20_index is created on TABLE RISK_VARIANCE20 of E:\02_work\sw\db\indicator\2005.db.
[INFO] 2018-06-28 19:37:37 SELECT DISTINCT(date) FROM RISK_VARIANCE20 WHERE date in ('2005-04-29', '2005-05-31', '2005-06-30', '2005-07-29', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-30')
[INFO] 2018-06-28 19:37:37 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:37 RISK_VARIANCE20 on 2005-04-29 is updated successfully
[INFO] 2018-06-28 19:37:37 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:37 RISK_VARIANCE20 on 2005-05-31 is updated successfully
[INFO] 2018-06-28 19:37:37 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:37 RISK_VARIANCE20 on 2005-06-30 is updated successfully
[INFO] 2018-06-28 19:37:38 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:38 RISK_VARIANCE20 on 2005-07-29 is updated successfully
[INFO] 2018-06-28 19:37:38 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:38 RISK_VARIANCE20 on 2005-08-31 is updated successfully
[INFO] 2018-06-28 19:37:39 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:39 RISK_VARIANCE20 on 2005-09-30 is updated successfully
[INFO] 2018-06-28 19:37:39 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:39 RISK_VARIANCE20 on 2005-10-31 is updated successfully
[INFO] 2018-06-28 19:37:39 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:39 RISK_VARIANCE20 on 2005-11-30 is updated successfully
[INFO] 2018-06-28 19:37:40 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:40 RISK_VARIANCE20 on 2005-12-30 is updated successfully
[INFO] 2018-06-28 19:37:40 E:\02_work\sw\db\indicator\2005.db is disconnected.
[INFO] 2018-06-28 19:37:40 E:\02_work\sw\db\indicator\2006.db is connected.
CREATE TABLE [RISK_VARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE20 REAL
);
[INFO] 2018-06-28 19:37:40 TABLE RISK_VARIANCE20 is created in E:\02_work\sw\db\indicator\2006.db.
CREATE UNIQUE INDEX [RISK_VARIANCE20_index] ON [RISK_VARIANCE20] (date, sec_id);
[INFO] 2018-06-28 19:37:40 INDEX RISK_VARIANCE20_index is created on TABLE RISK_VARIANCE20 of E:\02_work\sw\db\indicator\2006.db.
[INFO] 2018-06-28 19:37:40 SELECT DISTINCT(date) FROM RISK_VARIANCE20 WHERE date in ('2006-01-25', '2006-02-28', '2006-03-31', '2006-04-28', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-29', '2006-10-31', '2006-11-30', '2006-12-29')
[INFO] 2018-06-28 19:37:40 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:40 RISK_VARIANCE20 on 2006-01-25 is updated successfully
[INFO] 2018-06-28 19:37:41 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:41 RISK_VARIANCE20 on 2006-02-28 is updated successfully
[INFO] 2018-06-28 19:37:41 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:41 RISK_VARIANCE20 on 2006-03-31 is updated successfully
[INFO] 2018-06-28 19:37:41 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:41 RISK_VARIANCE20 on 2006-04-28 is updated successfully
[INFO] 2018-06-28 19:37:42 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:42 RISK_VARIANCE20 on 2006-05-31 is updated successfully
[INFO] 2018-06-28 19:37:43 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:43 RISK_VARIANCE20 on 2006-06-30 is updated successfully
[INFO] 2018-06-28 19:37:43 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:43 RISK_VARIANCE20 on 2006-07-31 is updated successfully
[INFO] 2018-06-28 19:37:43 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:43 RISK_VARIANCE20 on 2006-08-31 is updated successfully
[INFO] 2018-06-28 19:37:43 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:43 RISK_VARIANCE20 on 2006-09-29 is updated successfully
[INFO] 2018-06-28 19:37:44 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:44 RISK_VARIANCE20 on 2006-10-31 is updated successfully
[INFO] 2018-06-28 19:37:44 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:44 RISK_VARIANCE20 on 2006-11-30 is updated successfully
[INFO] 2018-06-28 19:37:45 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:45 RISK_VARIANCE20 on 2006-12-29 is updated successfully
[INFO] 2018-06-28 19:37:45 E:\02_work\sw\db\indicator\2006.db is disconnected.
[INFO] 2018-06-28 19:37:45 E:\02_work\sw\db\indicator\2007.db is connected.
CREATE TABLE [RISK_VARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE20 REAL
);
[INFO] 2018-06-28 19:37:45 TABLE RISK_VARIANCE20 is created in E:\02_work\sw\db\indicator\2007.db.
CREATE UNIQUE INDEX [RISK_VARIANCE20_index] ON [RISK_VARIANCE20] (date, sec_id);
[INFO] 2018-06-28 19:37:45 INDEX RISK_VARIANCE20_index is created on TABLE RISK_VARIANCE20 of E:\02_work\sw\db\indicator\2007.db.
[INFO] 2018-06-28 19:37:45 SELECT DISTINCT(date) FROM RISK_VARIANCE20 WHERE date in ('2007-01-31', '2007-02-28', '2007-03-30', '2007-04-30', '2007-05-31', '2007-06-29', '2007-07-31', '2007-08-31', '2007-09-28', '2007-10-31', '2007-11-30', '2007-12-28')
[INFO] 2018-06-28 19:37:45 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:45 RISK_VARIANCE20 on 2007-01-31 is updated successfully
[INFO] 2018-06-28 19:37:46 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:46 RISK_VARIANCE20 on 2007-02-28 is updated successfully
[INFO] 2018-06-28 19:37:46 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:46 RISK_VARIANCE20 on 2007-03-30 is updated successfully
[INFO] 2018-06-28 19:37:46 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:46 RISK_VARIANCE20 on 2007-04-30 is updated successfully
[INFO] 2018-06-28 19:37:47 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:47 RISK_VARIANCE20 on 2007-05-31 is updated successfully
[INFO] 2018-06-28 19:37:47 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:47 RISK_VARIANCE20 on 2007-06-29 is updated successfully
[INFO] 2018-06-28 19:37:47 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:47 RISK_VARIANCE20 on 2007-07-31 is updated successfully

[INFO] 2018-06-28 19:37:48 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:48 RISK_VARIANCE20 on 2007-08-31 is updated successfully
[INFO] 2018-06-28 19:37:48 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:48 RISK_VARIANCE20 on 2007-09-28 is updated successfully
[INFO] 2018-06-28 19:37:49 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:49 RISK_VARIANCE20 on 2007-10-31 is updated successfully
[INFO] 2018-06-28 19:37:49 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:49 RISK_VARIANCE20 on 2007-11-30 is updated successfully
[INFO] 2018-06-28 19:37:50 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:50 RISK_VARIANCE20 on 2007-12-28 is updated successfully
[INFO] 2018-06-28 19:37:50 E:\02_work\sw\db\indicator\2007.db is disconnected.
[INFO] 2018-06-28 19:37:50 E:\02_work\sw\db\indicator\2008.db is connected.
CREATE TABLE [RISK_VARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE20 REAL
);
[INFO] 2018-06-28 19:37:50 TABLE RISK_VARIANCE20 is created in E:\02_work\sw\db\indicator\2008.db.
CREATE UNIQUE INDEX [RISK_VARIANCE20_index] ON [RISK_VARIANCE20] (date, sec_id);
[INFO] 2018-06-28 19:37:50 INDEX RISK_VARIANCE20_index is created on TABLE RISK_VARIANCE20 of E:\02_work\sw\db\indicator\2008.db.
[INFO] 2018-06-28 19:37:50 SELECT DISTINCT(date) FROM RISK_VARIANCE20 WHERE date in ('2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-30', '2008-06-30', '2008-07-31', '2008-08-29', '2008-09-26', '2008-10-31', '2008-11-28', '2008-12-31')
[INFO] 2018-06-28 19:37:51 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:51 RISK_VARIANCE20 on 2008-01-31 is updated successfully
[INFO] 2018-06-28 19:37:51 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:51 RISK_VARIANCE20 on 2008-02-29 is updated successfully
[INFO] 2018-06-28 19:37:52 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:52 RISK_VARIANCE20 on 2008-03-31 is updated successfully
[INFO] 2018-06-28 19:37:52 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:52 RISK_VARIANCE20 on 2008-04-30 is updated successfully
[INFO] 2018-06-28 19:37:52 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:52 RISK_VARIANCE20 on 2008-05-30 is updated successfully
[INFO] 2018-06-28 19:37:53 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:53 RISK_VARIANCE20 on 2008-06-30 is updated successfully
[INFO] 2018-06-28 19:37:53 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:53 RISK_VARIANCE20 on 2008-07-31 is updated successfully
[INFO] 2018-06-28 19:37:53 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:53 RISK_VARIANCE20 on 2008-08-29 is updated successfully
[INFO] 2018-06-28 19:37:54 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:54 RISK_VARIANCE20 on 2008-09-26 is updated successfully
[INFO] 2018-06-28 19:37:54 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:54 RISK_VARIANCE20 on 2008-10-31 is updated successfully
[INFO] 2018-06-28 19:37:55 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:55 RISK_VARIANCE20 on 2008-11-28 is updated successfully
[INFO] 2018-06-28 19:37:55 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:55 RISK_VARIANCE20 on 2008-12-31 is updated successfully
[INFO] 2018-06-28 19:37:55 E:\02_work\sw\db\indicator\2008.db is disconnected.
[INFO] 2018-06-28 19:37:55 E:\02_work\sw\db\indicator\2009.db is connected.
CREATE TABLE [RISK_VARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE20 REAL
);
[INFO] 2018-06-28 19:37:55 TABLE RISK_VARIANCE20 is created in E:\02_work\sw\db\indicator\2009.db.
CREATE UNIQUE INDEX [RISK_VARIANCE20_index] ON [RISK_VARIANCE20] (date, sec_id);
[INFO] 2018-06-28 19:37:56 INDEX RISK_VARIANCE20_index is created on TABLE RISK_VARIANCE20 of E:\02_work\sw\db\indicator\2009.db.
[INFO] 2018-06-28 19:37:56 SELECT DISTINCT(date) FROM RISK_VARIANCE20 WHERE date in ('2009-01-23', '2009-02-27', '2009-03-31', '2009-04-30', '2009-05-27', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-30', '2009-11-30', '2009-12-31')
[INFO] 2018-06-28 19:37:56 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:56 RISK_VARIANCE20 on 2009-01-23 is updated successfully
[INFO] 2018-06-28 19:37:56 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:56 RISK_VARIANCE20 on 2009-02-27 is updated successfully
[INFO] 2018-06-28 19:37:57 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:57 RISK_VARIANCE20 on 2009-03-31 is updated successfully
[INFO] 2018-06-28 19:37:57 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:57 RISK_VARIANCE20 on 2009-04-30 is updated successfully
[INFO] 2018-06-28 19:37:57 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:57 RISK_VARIANCE20 on 2009-05-27 is updated successfully
[INFO] 2018-06-28 19:37:58 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:58 RISK_VARIANCE20 on 2009-06-30 is updated successfully
[INFO] 2018-06-28 19:37:58 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:58 RISK_VARIANCE20 on 2009-07-31 is updated successfully
[INFO] 2018-06-28 19:37:58 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:58 RISK_VARIANCE20 on 2009-08-31 is updated successfully
[INFO] 2018-06-28 19:37:59 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:59 RISK_VARIANCE20 on 2009-09-30 is updated successfully
[INFO] 2018-06-28 19:37:59 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:37:59 RISK_VARIANCE20 on 2009-10-30 is updated successfully
[INFO] 2018-06-28 19:38:00 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:00 RISK_VARIANCE20 on 2009-11-30 is updated successfully
[INFO] 2018-06-28 19:38:00 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:00 RISK_VARIANCE20 on 2009-12-31 is updated successfully
[INFO] 2018-06-28 19:38:00 E:\02_work\sw\db\indicator\2009.db is disconnected.
[INFO] 2018-06-28 19:38:00 E:\02_work\sw\db\indicator\2010.db is connected.
CREATE TABLE [RISK_VARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE20 REAL
);
[INFO] 2018-06-28 19:38:01 TABLE RISK_VARIANCE20 is created in E:\02_work\sw\db\indicator\2010.db.
CREATE UNIQUE INDEX [RISK_VARIANCE20_index] ON [RISK_VARIANCE20] (date, sec_id);
[INFO] 2018-06-28 19:38:01 INDEX RISK_VARIANCE20_index is created on TABLE RISK_VARIANCE20 of E:\02_work\sw\db\indicator\2010.db.
[INFO] 2018-06-28 19:38:01 SELECT DISTINCT(date) FROM RISK_VARIANCE20 WHERE date in ('2010-01-29', '2010-02-26', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-30', '2010-08-31', '2010-09-30', '2010-10-29', '2010-11-30', '2010-12-31')
[INFO] 2018-06-28 19:38:01 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:01 RISK_VARIANCE20 on 2010-01-29 is updated successfully
[INFO] 2018-06-28 19:38:01 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:01 RISK_VARIANCE20 on 2010-02-26 is updated successfully
[INFO] 2018-06-28 19:38:02 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:02 RISK_VARIANCE20 on 2010-03-31 is updated successfully

[INFO] 2018-06-28 19:38:02 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:02 RISK_VARIANCE20 on 2010-04-30 is updated successfully
[INFO] 2018-06-28 19:38:02 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:02 RISK_VARIANCE20 on 2010-05-31 is updated successfully
[INFO] 2018-06-28 19:38:03 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:03 RISK_VARIANCE20 on 2010-06-30 is updated successfully
[INFO] 2018-06-28 19:38:03 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:03 RISK_VARIANCE20 on 2010-07-30 is updated successfully
[INFO] 2018-06-28 19:38:04 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:04 RISK_VARIANCE20 on 2010-08-31 is updated successfully
[INFO] 2018-06-28 19:38:04 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:04 RISK_VARIANCE20 on 2010-09-30 is updated successfully
[INFO] 2018-06-28 19:38:04 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:04 RISK_VARIANCE20 on 2010-10-29 is updated successfully
[INFO] 2018-06-28 19:38:05 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:05 RISK_VARIANCE20 on 2010-11-30 is updated successfully
[INFO] 2018-06-28 19:38:05 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:05 RISK_VARIANCE20 on 2010-12-31 is updated successfully
[INFO] 2018-06-28 19:38:05 E:\02_work\sw\db\indicator\2010.db is disconnected.
[INFO] 2018-06-28 19:38:05 E:\02_work\sw\db\indicator\2011.db is connected.
CREATE TABLE [RISK_VARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE20 REAL
);
[INFO] 2018-06-28 19:38:05 TABLE RISK_VARIANCE20 is created in E:\02_work\sw\db\indicator\2011.db.
CREATE UNIQUE INDEX [RISK_VARIANCE20_index] ON [RISK_VARIANCE20] (date, sec_id);
[INFO] 2018-06-28 19:38:06 INDEX RISK_VARIANCE20_index is created on TABLE RISK_VARIANCE20 of E:\02_work\sw\db\indicator\2011.db.
[INFO] 2018-06-28 19:38:06 SELECT DISTINCT(date) FROM RISK_VARIANCE20 WHERE date in ('2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29', '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30')
[INFO] 2018-06-28 19:38:06 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:06 RISK_VARIANCE20 on 2011-01-31 is updated successfully
[INFO] 2018-06-28 19:38:06 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:06 RISK_VARIANCE20 on 2011-02-28 is updated successfully
[INFO] 2018-06-28 19:38:06 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:06 RISK_VARIANCE20 on 2011-03-31 is updated successfully
[INFO] 2018-06-28 19:38:07 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:07 RISK_VARIANCE20 on 2011-04-29 is updated successfully
[INFO] 2018-06-28 19:38:07 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:07 RISK_VARIANCE20 on 2011-05-31 is updated successfully
[INFO] 2018-06-28 19:38:08 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:08 RISK_VARIANCE20 on 2011-06-30 is updated successfully
[INFO] 2018-06-28 19:38:08 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:08 RISK_VARIANCE20 on 2011-07-29 is updated successfully
[INFO] 2018-06-28 19:38:08 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:08 RISK_VARIANCE20 on 2011-08-31 is updated successfully
[INFO] 2018-06-28 19:38:09 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:09 RISK_VARIANCE20 on 2011-09-30 is updated successfully
[INFO] 2018-06-28 19:38:09 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:09 RISK_VARIANCE20 on 2011-10-31 is updated successfully
[INFO] 2018-06-28 19:38:10 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:10 RISK_VARIANCE20 on 2011-11-30 is updated successfully
[INFO] 2018-06-28 19:38:10 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:10 RISK_VARIANCE20 on 2011-12-30 is updated successfully
[INFO] 2018-06-28 19:38:10 E:\02_work\sw\db\indicator\2011.db is disconnected.
[INFO] 2018-06-28 19:38:10 E:\02_work\sw\db\indicator\2012.db is connected.
CREATE TABLE [RISK_VARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE20 REAL
);
[INFO] 2018-06-28 19:38:10 TABLE RISK_VARIANCE20 is created in E:\02_work\sw\db\indicator\2012.db.
CREATE UNIQUE INDEX [RISK_VARIANCE20_index] ON [RISK_VARIANCE20] (date, sec_id);
[INFO] 2018-06-28 19:38:10 INDEX RISK_VARIANCE20_index is created on TABLE RISK_VARIANCE20 of E:\02_work\sw\db\indicator\2012.db.
[INFO] 2018-06-28 19:38:10 SELECT DISTINCT(date) FROM RISK_VARIANCE20 WHERE date in ('2012-01-31', '2012-02-29', '2012-03-30', '2012-04-27', '2012-05-31', '2012-06-29', '2012-07-31', '2012-08-31', '2012-09-28', '2012-10-31', '2012-11-30', '2012-12-31')
[INFO] 2018-06-28 19:38:11 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:11 RISK_VARIANCE20 on 2012-01-31 is updated successfully
[INFO] 2018-06-28 19:38:11 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:11 RISK_VARIANCE20 on 2012-02-29 is updated successfully
[INFO] 2018-06-28 19:38:12 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:12 RISK_VARIANCE20 on 2012-03-30 is updated successfully
[INFO] 2018-06-28 19:38:12 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:12 RISK_VARIANCE20 on 2012-04-27 is updated successfully
[INFO] 2018-06-28 19:38:12 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:12 RISK_VARIANCE20 on 2012-05-31 is updated successfully
[INFO] 2018-06-28 19:38:13 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:13 RISK_VARIANCE20 on 2012-06-29 is updated successfully
[INFO] 2018-06-28 19:38:13 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:13 RISK_VARIANCE20 on 2012-07-31 is updated successfully
[INFO] 2018-06-28 19:38:13 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:13 RISK_VARIANCE20 on 2012-08-31 is updated successfully
[INFO] 2018-06-28 19:38:14 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:14 RISK_VARIANCE20 on 2012-09-28 is updated successfully
[INFO] 2018-06-28 19:38:14 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:14 RISK_VARIANCE20 on 2012-10-31 is updated successfully
[INFO] 2018-06-28 19:38:15 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:15 RISK_VARIANCE20 on 2012-11-30 is updated successfully
[INFO] 2018-06-28 19:38:15 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:15 RISK_VARIANCE20 on 2012-12-31 is updated successfully
[INFO] 2018-06-28 19:38:15 E:\02_work\sw\db\indicator\2012.db is disconnected.
[INFO] 2018-06-28 19:38:15 E:\02_work\sw\db\indicator\2013.db is connected.
CREATE TABLE [RISK_VARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE20 REAL
);
[INFO] 2018-06-28 19:38:15 TABLE RISK_VARIANCE20 is created in E:\02_work\sw\db\indicator\2013.db.
CREATE UNIQUE INDEX [RISK_VARIANCE20_index] ON [RISK_VARIANCE20] (date, sec_id);
[INFO] 2018-06-28 19:38:15 INDEX RISK_VARIANCE20_index is created on TABLE RISK_VARIANCE20 of E:\02_work\sw\db\indicator\2013.db.
[INFO] 2018-06-28 19:38:15 SELECT DISTINCT(date) FROM RISK_VARIANCE20 WHERE date in ('2013-01-31', '2013-02-28', '2013-03-29', '2013-04-26', '2013-05-31', '2013-06-28', '2013-07-31', '2013-08-30', '2013-09-30', '2013-10-31', '2013-11-29', '2013-12-31')

[INFO] 2018-06-28 19:38:16 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:16 RISK_VARIANCE20 on 2013-01-31 is updated successfully
[INFO] 2018-06-28 19:38:16 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:16 RISK_VARIANCE20 on 2013-02-28 is updated successfully
[INFO] 2018-06-28 19:38:16 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:16 RISK_VARIANCE20 on 2013-03-29 is updated successfully
[INFO] 2018-06-28 19:38:17 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:17 RISK_VARIANCE20 on 2013-04-26 is updated successfully
[INFO] 2018-06-28 19:38:17 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:17 RISK_VARIANCE20 on 2013-05-31 is updated successfully
[INFO] 2018-06-28 19:38:17 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:17 RISK_VARIANCE20 on 2013-06-28 is updated successfully
[INFO] 2018-06-28 19:38:18 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:18 RISK_VARIANCE20 on 2013-07-31 is updated successfully
[INFO] 2018-06-28 19:38:18 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:18 RISK_VARIANCE20 on 2013-08-30 is updated successfully
[INFO] 2018-06-28 19:38:19 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:19 RISK_VARIANCE20 on 2013-09-30 is updated successfully
[INFO] 2018-06-28 19:38:19 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:19 RISK_VARIANCE20 on 2013-10-31 is updated successfully
[INFO] 2018-06-28 19:38:20 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:20 RISK_VARIANCE20 on 2013-11-29 is updated successfully
[INFO] 2018-06-28 19:38:20 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:20 RISK_VARIANCE20 on 2013-12-31 is updated successfully
[INFO] 2018-06-28 19:38:20 E:\02_work\sw\db\indicator\2013.db is disconnected.
[INFO] 2018-06-28 19:38:20 E:\02_work\sw\db\indicator\2014.db is connected.
CREATE TABLE [RISK_VARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE20 REAL
);
[INFO] 2018-06-28 19:38:20 TABLE RISK_VARIANCE20 is created in E:\02_work\sw\db\indicator\2014.db.
CREATE UNIQUE INDEX [RISK_VARIANCE20_index] ON [RISK_VARIANCE20] (date, sec_id);
[INFO] 2018-06-28 19:38:20 INDEX RISK_VARIANCE20_index is created on TABLE RISK_VARIANCE20 of E:\02_work\sw\db\indicator\2014.db.
[INFO] 2018-06-28 19:38:20 SELECT DISTINCT(date) FROM RISK_VARIANCE20 WHERE date in ('2014-01-30', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-30', '2014-06-30', '2014-07-31', '2014-08-29', '2014-09-30', '2014-10-31', '2014-11-28', '2014-12-31')
[INFO] 2018-06-28 19:38:21 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:21 RISK_VARIANCE20 on 2014-01-30 is updated successfully
[INFO] 2018-06-28 19:38:21 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:21 RISK_VARIANCE20 on 2014-02-28 is updated successfully
[INFO] 2018-06-28 19:38:21 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:21 RISK_VARIANCE20 on 2014-03-31 is updated successfully
[INFO] 2018-06-28 19:38:22 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:22 RISK_VARIANCE20 on 2014-04-30 is updated successfully
[INFO] 2018-06-28 19:38:22 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:22 RISK_VARIANCE20 on 2014-05-30 is updated successfully
[INFO] 2018-06-28 19:38:22 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:22 RISK_VARIANCE20 on 2014-06-30 is updated successfully
[INFO] 2018-06-28 19:38:23 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:23 RISK_VARIANCE20 on 2014-07-31 is updated successfully
[INFO] 2018-06-28 19:38:23 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:23 RISK_VARIANCE20 on 2014-08-29 is updated successfully
[INFO] 2018-06-28 19:38:24 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:24 RISK_VARIANCE20 on 2014-09-30 is updated successfully
[INFO] 2018-06-28 19:38:24 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:24 RISK_VARIANCE20 on 2014-10-31 is updated successfully
[INFO] 2018-06-28 19:38:24 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:24 RISK_VARIANCE20 on 2014-11-28 is updated successfully
[INFO] 2018-06-28 19:38:25 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:25 RISK_VARIANCE20 on 2014-12-31 is updated successfully
[INFO] 2018-06-28 19:38:25 E:\02_work\sw\db\indicator\2014.db is disconnected.
[INFO] 2018-06-28 19:38:25 E:\02_work\sw\db\indicator\2015.db is connected.
CREATE TABLE [RISK_VARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE20 REAL
);
[INFO] 2018-06-28 19:38:25 TABLE RISK_VARIANCE20 is created in E:\02_work\sw\db\indicator\2015.db.
CREATE UNIQUE INDEX [RISK_VARIANCE20_index] ON [RISK_VARIANCE20] (date, sec_id);
[INFO] 2018-06-28 19:38:25 INDEX RISK_VARIANCE20_index is created on TABLE RISK_VARIANCE20 of E:\02_work\sw\db\indicator\2015.db.
[INFO] 2018-06-28 19:38:25 SELECT DISTINCT(date) FROM RISK_VARIANCE20 WHERE date in ('2015-01-30', '2015-02-27', '2015-03-31', '2015-04-30', '2015-05-29', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-30', '2015-11-30', '2015-12-31')
[INFO] 2018-06-28 19:38:26 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:26 RISK_VARIANCE20 on 2015-01-30 is updated successfully
[INFO] 2018-06-28 19:38:26 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:26 RISK_VARIANCE20 on 2015-02-27 is updated successfully
[INFO] 2018-06-28 19:38:26 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:26 RISK_VARIANCE20 on 2015-03-31 is updated successfully
[INFO] 2018-06-28 19:38:27 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:27 RISK_VARIANCE20 on 2015-04-30 is updated successfully
[INFO] 2018-06-28 19:38:27 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:27 RISK_VARIANCE20 on 2015-05-29 is updated successfully
[INFO] 2018-06-28 19:38:27 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:27 RISK_VARIANCE20 on 2015-06-30 is updated successfully
[INFO] 2018-06-28 19:38:28 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:28 RISK_VARIANCE20 on 2015-07-31 is updated successfully
[INFO] 2018-06-28 19:38:28 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:28 RISK_VARIANCE20 on 2015-08-31 is updated successfully
[INFO] 2018-06-28 19:38:29 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:29 RISK_VARIANCE20 on 2015-09-30 is updated successfully
[INFO] 2018-06-28 19:38:29 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:29 RISK_VARIANCE20 on 2015-10-30 is updated successfully
[INFO] 2018-06-28 19:38:29 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:29 RISK_VARIANCE20 on 2015-11-30 is updated successfully
[INFO] 2018-06-28 19:38:30 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:30 RISK_VARIANCE20 on 2015-12-31 is updated successfully
[INFO] 2018-06-28 19:38:30 E:\02_work\sw\db\indicator\2015.db is disconnected.
[INFO] 2018-06-28 19:38:30 E:\02_work\sw\db\indicator\2016.db is connected.
CREATE TABLE [RISK_VARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE20 REAL
);
[INFO] 2018-06-28 19:38:30 TABLE RISK_VARIANCE20 is created in E:\02_work\sw\db\indicator\2016.db.
CREATE UNIQUE INDEX [RISK_VARIANCE20_index] ON [RISK_VARIANCE20] (date, sec_id);

[INFO] 2018-06-28 19:38:30 INDEX RISK_VARIANCE20_index is created on TABLE RISK_VARIANCE20 of E:\02_work\sw\db\indicator\2016.db.
[INFO] 2018-06-28 19:38:30 SELECT DISTINCT(date) FROM RISK_VARIANCE20 WHERE date in ('2016-01-29', '2016-02-29', '2016-03-31', '2016-04-29', '2016-05-31', '2016-06-30', '2016-07-29', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-30')
[INFO] 2018-06-28 19:38:30 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:30 RISK_VARIANCE20 on 2016-01-29 is updated successfully
[INFO] 2018-06-28 19:38:31 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:31 RISK_VARIANCE20 on 2016-02-29 is updated successfully
[INFO] 2018-06-28 19:38:31 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:31 RISK_VARIANCE20 on 2016-03-31 is updated successfully
[INFO] 2018-06-28 19:38:32 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:32 RISK_VARIANCE20 on 2016-04-29 is updated successfully
[INFO] 2018-06-28 19:38:32 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:32 RISK_VARIANCE20 on 2016-05-31 is updated successfully
[INFO] 2018-06-28 19:38:33 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:33 RISK_VARIANCE20 on 2016-06-30 is updated successfully
[INFO] 2018-06-28 19:38:33 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:33 RISK_VARIANCE20 on 2016-07-29 is updated successfully
[INFO] 2018-06-28 19:38:33 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:33 RISK_VARIANCE20 on 2016-08-31 is updated successfully
[INFO] 2018-06-28 19:38:34 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:34 RISK_VARIANCE20 on 2016-09-30 is updated successfully
[INFO] 2018-06-28 19:38:34 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:34 RISK_VARIANCE20 on 2016-10-31 is updated successfully
[INFO] 2018-06-28 19:38:35 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:35 RISK_VARIANCE20 on 2016-11-30 is updated successfully
[INFO] 2018-06-28 19:38:36 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:36 RISK_VARIANCE20 on 2016-12-30 is updated successfully
[INFO] 2018-06-28 19:38:36 E:\02_work\sw\db\indicator\2016.db is disconnected.
[INFO] 2018-06-28 19:38:36 E:\02_work\sw\db\indicator\2017.db is connected.
CREATE TABLE [RISK_VARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE20 REAL
);
[INFO] 2018-06-28 19:38:36 TABLE RISK_VARIANCE20 is created in E:\02_work\sw\db\indicator\2017.db.
CREATE UNIQUE INDEX [RISK_VARIANCE20_index] ON [RISK_VARIANCE20] (date, sec_id);
[INFO] 2018-06-28 19:38:36 INDEX RISK_VARIANCE20_index is created on TABLE RISK_VARIANCE20 of E:\02_work\sw\db\indicator\2017.db.
[INFO] 2018-06-28 19:38:36 SELECT DISTINCT(date) FROM RISK_VARIANCE20 WHERE date in ('2017-01-26', '2017-02-28', '2017-03-31', '2017-04-28', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-29', '2017-10-31', '2017-11-30', '2017-12-29')
[INFO] 2018-06-28 19:38:37 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:37 RISK_VARIANCE20 on 2017-01-26 is updated successfully
[INFO] 2018-06-28 19:38:37 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:37 RISK_VARIANCE20 on 2017-02-28 is updated successfully
[INFO] 2018-06-28 19:38:38 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:38 RISK_VARIANCE20 on 2017-03-31 is updated successfully
[INFO] 2018-06-28 19:38:38 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:38 RISK_VARIANCE20 on 2017-04-28 is updated successfully
[INFO] 2018-06-28 19:38:38 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:38 RISK_VARIANCE20 on 2017-05-31 is updated successfully
[INFO] 2018-06-28 19:38:39 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:39 RISK_VARIANCE20 on 2017-06-30 is updated successfully
[INFO] 2018-06-28 19:38:39 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:39 RISK_VARIANCE20 on 2017-07-31 is updated successfully
[INFO] 2018-06-28 19:38:40 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:40 RISK_VARIANCE20 on 2017-08-31 is updated successfully
[INFO] 2018-06-28 19:38:40 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:40 RISK_VARIANCE20 on 2017-09-29 is updated successfully
[INFO] 2018-06-28 19:38:41 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:41 RISK_VARIANCE20 on 2017-10-31 is updated successfully
[INFO] 2018-06-28 19:38:41 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:41 RISK_VARIANCE20 on 2017-11-30 is updated successfully
[INFO] 2018-06-28 19:38:42 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:42 RISK_VARIANCE20 on 2017-12-29 is updated successfully
[INFO] 2018-06-28 19:38:42 E:\02_work\sw\db\indicator\2017.db is disconnected.
[INFO] 2018-06-28 19:38:42 E:\02_work\sw\db\indicator\2018.db is connected.
CREATE TABLE [RISK_VARIANCE20] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE20 REAL
);
[INFO] 2018-06-28 19:38:42 TABLE RISK_VARIANCE20 is created in E:\02_work\sw\db\indicator\2018.db.
CREATE UNIQUE INDEX [RISK_VARIANCE20_index] ON [RISK_VARIANCE20] (date, sec_id);
[INFO] 2018-06-28 19:38:42 INDEX RISK_VARIANCE20_index is created on TABLE RISK_VARIANCE20 of E:\02_work\sw\db\indicator\2018.db.
[INFO] 2018-06-28 19:38:42 SELECT DISTINCT(date) FROM RISK_VARIANCE20 WHERE date in ('2018-01-31', '2018-02-28', '2018-03-30', '2018-04-27', '2018-05-31')
[INFO] 2018-06-28 19:38:42 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:42 RISK_VARIANCE20 on 2018-01-31 is updated successfully
[INFO] 2018-06-28 19:38:43 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:43 RISK_VARIANCE20 on 2018-02-28 is updated successfully
[INFO] 2018-06-28 19:38:43 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:43 RISK_VARIANCE20 on 2018-03-30 is updated successfully
[INFO] 2018-06-28 19:38:43 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:43 RISK_VARIANCE20 on 2018-04-27 is updated successfully
[INFO] 2018-06-28 19:38:44 Data is inserted to RISK_VARIANCE20 successfully!
[INFO] 2018-06-28 19:38:44 RISK_VARIANCE20 on 2018-05-31 is updated successfully
[INFO] 2018-06-28 19:38:44 E:\02_work\sw\db\indicator\2018.db is disconnected.
[INFO] 2018-06-28 19:38:44 schema updated: RISK_VARIANCE20
[INFO] 2018-06-28 19:38:44 indicator RISK_VARIANCE20 is updated.
[INFO] 2018-06-28 19:38:44 ------------------------------------------
[INFO] 2018-06-28 19:38:44 Updating indicator RISK_VARIANCE60
[INFO] 2018-06-28 19:38:44 E:\02_work\sw\db\indicator\2005.db is connected.
CREATE TABLE [RISK_VARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE60 REAL
);
[INFO] 2018-06-28 19:38:44 TABLE RISK_VARIANCE60 is created in E:\02_work\sw\db\indicator\2005.db.
CREATE UNIQUE INDEX [RISK_VARIANCE60_index] ON [RISK_VARIANCE60] (date, sec_id);
[INFO] 2018-06-28 19:38:44 INDEX RISK_VARIANCE60_index is created on TABLE RISK_VARIANCE60 of E:\02_work\sw\db\indicator\2005.db.
[INFO] 2018-06-28 19:38:44 SELECT DISTINCT(date) FROM RISK_VARIANCE60 WHERE date in ('2005-04-29', '2005-05-31', '2005-06-30', '2005-07-29', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-30')

[INFO] 2018-06-28 19:38:45 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:38:45 RISK_VARIANCE60 on 2005-04-29 is updated successfully
[INFO] 2018-06-28 19:38:45 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:38:45 RISK_VARIANCE60 on 2005-05-31 is updated successfully
[INFO] 2018-06-28 19:38:45 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:38:45 RISK_VARIANCE60 on 2005-06-30 is updated successfully
[INFO] 2018-06-28 19:38:46 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:38:46 RISK_VARIANCE60 on 2005-07-29 is updated successfully
[INFO] 2018-06-28 19:38:46 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:38:46 RISK_VARIANCE60 on 2005-08-31 is updated successfully
[INFO] 2018-06-28 19:38:46 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:38:46 RISK_VARIANCE60 on 2005-09-30 is updated successfully
[INFO] 2018-06-28 19:38:47 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:38:47 RISK_VARIANCE60 on 2005-10-31 is updated successfully
[INFO] 2018-06-28 19:38:47 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:38:47 RISK_VARIANCE60 on 2005-11-30 is updated successfully
[INFO] 2018-06-28 19:38:47 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:38:47 RISK_VARIANCE60 on 2005-12-30 is updated successfully
[INFO] 2018-06-28 19:38:47 E:\02_work\sw\db\indicator\2005.db is disconnected.
[INFO] 2018-06-28 19:38:47 E:\02_work\sw\db\indicator\2006.db is connected.
CREATE TABLE [RISK_VARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE60 REAL
);
[INFO] 2018-06-28 19:38:48 TABLE RISK_VARIANCE60 is created in E:\02_work\sw\db\indicator\2006.db.
CREATE UNIQUE INDEX [RISK_VARIANCE60_index] ON [RISK_VARIANCE60] (date, sec_id);
[INFO] 2018-06-28 19:38:48 INDEX RISK_VARIANCE60_index is created on TABLE RISK_VARIANCE60 of E:\02_work\sw\db\indicator\2006.db.
[INFO] 2018-06-28 19:38:48 SELECT DISTINCT(date) FROM RISK_VARIANCE60 WHERE date in ('2006-01-25', '2006-02-28', '2006-03-31', '2006-04-28', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-29', '2006-10-31', '2006-11-30', '2006-12-29')
[INFO] 2018-06-28 19:38:48 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:38:48 RISK_VARIANCE60 on 2006-01-25 is updated successfully
[INFO] 2018-06-28 19:38:48 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:38:48 RISK_VARIANCE60 on 2006-02-28 is updated successfully
[INFO] 2018-06-28 19:38:49 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:38:49 RISK_VARIANCE60 on 2006-03-31 is updated successfully
[INFO] 2018-06-28 19:38:49 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:38:49 RISK_VARIANCE60 on 2006-04-28 is updated successfully
[INFO] 2018-06-28 19:38:49 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:38:49 RISK_VARIANCE60 on 2006-05-31 is updated successfully
[INFO] 2018-06-28 19:38:50 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:38:50 RISK_VARIANCE60 on 2006-06-30 is updated successfully
[INFO] 2018-06-28 19:38:50 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:38:50 RISK_VARIANCE60 on 2006-07-31 is updated successfully
[INFO] 2018-06-28 19:38:51 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:38:51 RISK_VARIANCE60 on 2006-08-31 is updated successfully
[INFO] 2018-06-28 19:38:51 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:38:51 RISK_VARIANCE60 on 2006-09-29 is updated successfully
[INFO] 2018-06-28 19:38:52 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:38:52 RISK_VARIANCE60 on 2006-10-31 is updated successfully
[INFO] 2018-06-28 19:38:52 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:38:52 RISK_VARIANCE60 on 2006-11-30 is updated successfully
[INFO] 2018-06-28 19:38:52 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:38:52 RISK_VARIANCE60 on 2006-12-29 is updated successfully
[INFO] 2018-06-28 19:38:52 E:\02_work\sw\db\indicator\2006.db is disconnected.
[INFO] 2018-06-28 19:38:52 E:\02_work\sw\db\indicator\2007.db is connected.
CREATE TABLE [RISK_VARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE60 REAL
);
[INFO] 2018-06-28 19:38:52 TABLE RISK_VARIANCE60 is created in E:\02_work\sw\db\indicator\2007.db.
CREATE UNIQUE INDEX [RISK_VARIANCE60_index] ON [RISK_VARIANCE60] (date, sec_id);
[INFO] 2018-06-28 19:38:52 INDEX RISK_VARIANCE60_index is created on TABLE RISK_VARIANCE60 of E:\02_work\sw\db\indicator\2007.db.
[INFO] 2018-06-28 19:38:52 SELECT DISTINCT(date) FROM RISK_VARIANCE60 WHERE date in ('2007-01-31', '2007-02-28', '2007-03-30', '2007-04-30', '2007-05-31', '2007-06-29', '2007-07-31', '2007-08-31', '2007-09-28', '2007-10-31', '2007-11-30', '2007-12-28')
[INFO] 2018-06-28 19:38:53 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:38:53 RISK_VARIANCE60 on 2007-01-31 is updated successfully
[INFO] 2018-06-28 19:38:53 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:38:53 RISK_VARIANCE60 on 2007-02-28 is updated successfully
[INFO] 2018-06-28 19:38:53 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:38:53 RISK_VARIANCE60 on 2007-03-30 is updated successfully
[INFO] 2018-06-28 19:38:54 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:38:54 RISK_VARIANCE60 on 2007-04-30 is updated successfully
[INFO] 2018-06-28 19:38:54 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:38:54 RISK_VARIANCE60 on 2007-05-31 is updated successfully
[INFO] 2018-06-28 19:38:55 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:38:55 RISK_VARIANCE60 on 2007-06-29 is updated successfully
[INFO] 2018-06-28 19:38:55 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:38:55 RISK_VARIANCE60 on 2007-07-31 is updated successfully
[INFO] 2018-06-28 19:38:55 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:38:55 RISK_VARIANCE60 on 2007-08-31 is updated successfully
[INFO] 2018-06-28 19:38:56 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:38:56 RISK_VARIANCE60 on 2007-09-28 is updated successfully
[INFO] 2018-06-28 19:38:57 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:38:57 RISK_VARIANCE60 on 2007-10-31 is updated successfully
[INFO] 2018-06-28 19:38:57 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:38:57 RISK_VARIANCE60 on 2007-11-30 is updated successfully
[INFO] 2018-06-28 19:38:57 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:38:57 RISK_VARIANCE60 on 2007-12-28 is updated successfully
[INFO] 2018-06-28 19:38:57 E:\02_work\sw\db\indicator\2007.db is disconnected.
[INFO] 2018-06-28 19:38:57 E:\02_work\sw\db\indicator\2008.db is connected.
CREATE TABLE [RISK_VARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE60 REAL
);
[INFO] 2018-06-28 19:38:57 TABLE RISK_VARIANCE60 is created in E:\02_work\sw\db\indicator\2008.db.
CREATE UNIQUE INDEX [RISK_VARIANCE60_index] ON [RISK_VARIANCE60] (date, sec_id);
[INFO] 2018-06-28 19:38:58 INDEX RISK_VARIANCE60_index is created on TABLE RISK_VARIANCE60 of E:\02_work\sw\db\indicator\2008.db.
[INFO] 2018-06-28 19:38:58 SELECT DISTINCT(date) FROM RISK_VARIANCE60 WHERE date in ('2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-30', '2008-06-30', '2008-07-31', '2008-08-29', '2008-09-26', '2008-10-31', '2008-11-28', '2008-12-31')

[INFO] 2018-06-28 19:38:58 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:38:58 RISK_VARIANCE60 on 2008-01-31 is updated successfully
[INFO] 2018-06-28 19:38:58 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:38:58 RISK_VARIANCE60 on 2008-02-29 is updated successfully
[INFO] 2018-06-28 19:38:58 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:38:58 RISK_VARIANCE60 on 2008-03-31 is updated successfully
[INFO] 2018-06-28 19:38:59 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:38:59 RISK_VARIANCE60 on 2008-04-30 is updated successfully
[INFO] 2018-06-28 19:38:59 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:38:59 RISK_VARIANCE60 on 2008-05-30 is updated successfully
[INFO] 2018-06-28 19:39:00 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:00 RISK_VARIANCE60 on 2008-06-30 is updated successfully
[INFO] 2018-06-28 19:39:00 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:00 RISK_VARIANCE60 on 2008-07-31 is updated successfully
[INFO] 2018-06-28 19:39:00 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:00 RISK_VARIANCE60 on 2008-08-29 is updated successfully
[INFO] 2018-06-28 19:39:01 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:01 RISK_VARIANCE60 on 2008-09-26 is updated successfully
[INFO] 2018-06-28 19:39:03 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:03 RISK_VARIANCE60 on 2008-10-31 is updated successfully
[INFO] 2018-06-28 19:39:03 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:03 RISK_VARIANCE60 on 2008-11-28 is updated successfully
[INFO] 2018-06-28 19:39:03 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:03 RISK_VARIANCE60 on 2008-12-31 is updated successfully
[INFO] 2018-06-28 19:39:03 E:\02_work\sw\db\indicator\2008.db is disconnected.
[INFO] 2018-06-28 19:39:03 E:\02_work\sw\db\indicator\2009.db is connected.
CREATE TABLE [RISK_VARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE60 REAL
);
[INFO] 2018-06-28 19:39:03 TABLE RISK_VARIANCE60 is created in E:\02_work\sw\db\indicator\2009.db.
CREATE UNIQUE INDEX [RISK_VARIANCE60_index] ON [RISK_VARIANCE60] (date, sec_id);
[INFO] 2018-06-28 19:39:04 INDEX RISK_VARIANCE60_index is created on TABLE RISK_VARIANCE60 of E:\02_work\sw\db\indicator\2009.db.
[INFO] 2018-06-28 19:39:04 SELECT DISTINCT(date) FROM RISK_VARIANCE60 WHERE date in ('2009-01-23', '2009-02-27', '2009-03-31', '2009-04-30', '2009-05-27', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-30', '2009-11-30', '2009-12-31')
[INFO] 2018-06-28 19:39:04 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:04 RISK_VARIANCE60 on 2009-01-23 is updated successfully
[INFO] 2018-06-28 19:39:04 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:04 RISK_VARIANCE60 on 2009-02-27 is updated successfully
[INFO] 2018-06-28 19:39:04 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:04 RISK_VARIANCE60 on 2009-03-31 is updated successfully
[INFO] 2018-06-28 19:39:05 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:05 RISK_VARIANCE60 on 2009-04-30 is updated successfully
[INFO] 2018-06-28 19:39:05 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:05 RISK_VARIANCE60 on 2009-05-27 is updated successfully
[INFO] 2018-06-28 19:39:06 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:06 RISK_VARIANCE60 on 2009-06-30 is updated successfully
[INFO] 2018-06-28 19:39:06 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:06 RISK_VARIANCE60 on 2009-07-31 is updated successfully
[INFO] 2018-06-28 19:39:06 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:06 RISK_VARIANCE60 on 2009-08-31 is updated successfully
[INFO] 2018-06-28 19:39:07 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:07 RISK_VARIANCE60 on 2009-09-30 is updated successfully
[INFO] 2018-06-28 19:39:07 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:07 RISK_VARIANCE60 on 2009-10-30 is updated successfully
[INFO] 2018-06-28 19:39:08 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:08 RISK_VARIANCE60 on 2009-11-30 is updated successfully
[INFO] 2018-06-28 19:39:08 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:08 RISK_VARIANCE60 on 2009-12-31 is updated successfully
[INFO] 2018-06-28 19:39:08 E:\02_work\sw\db\indicator\2009.db is disconnected.
[INFO] 2018-06-28 19:39:08 E:\02_work\sw\db\indicator\2010.db is connected.
CREATE TABLE [RISK_VARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE60 REAL
);
[INFO] 2018-06-28 19:39:08 TABLE RISK_VARIANCE60 is created in E:\02_work\sw\db\indicator\2010.db.
CREATE UNIQUE INDEX [RISK_VARIANCE60_index] ON [RISK_VARIANCE60] (date, sec_id);
[INFO] 2018-06-28 19:39:08 INDEX RISK_VARIANCE60_index is created on TABLE RISK_VARIANCE60 of E:\02_work\sw\db\indicator\2010.db.
[INFO] 2018-06-28 19:39:08 SELECT DISTINCT(date) FROM RISK_VARIANCE60 WHERE date in ('2010-01-29', '2010-02-26', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-30', '2010-08-31', '2010-09-30', '2010-10-29', '2010-11-30', '2010-12-31')
[INFO] 2018-06-28 19:39:09 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:09 RISK_VARIANCE60 on 2010-01-29 is updated successfully
[INFO] 2018-06-28 19:39:09 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:09 RISK_VARIANCE60 on 2010-02-26 is updated successfully
[INFO] 2018-06-28 19:39:10 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:10 RISK_VARIANCE60 on 2010-03-31 is updated successfully
[INFO] 2018-06-28 19:39:10 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:10 RISK_VARIANCE60 on 2010-04-30 is updated successfully
[INFO] 2018-06-28 19:39:10 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:10 RISK_VARIANCE60 on 2010-05-31 is updated successfully
[INFO] 2018-06-28 19:39:11 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:11 RISK_VARIANCE60 on 2010-06-30 is updated successfully
[INFO] 2018-06-28 19:39:11 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:11 RISK_VARIANCE60 on 2010-07-30 is updated successfully
[INFO] 2018-06-28 19:39:11 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:11 RISK_VARIANCE60 on 2010-08-31 is updated successfully
[INFO] 2018-06-28 19:39:12 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:12 RISK_VARIANCE60 on 2010-09-30 is updated successfully
[INFO] 2018-06-28 19:39:12 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:12 RISK_VARIANCE60 on 2010-10-29 is updated successfully
[INFO] 2018-06-28 19:39:13 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:13 RISK_VARIANCE60 on 2010-11-30 is updated successfully
[INFO] 2018-06-28 19:39:13 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:13 RISK_VARIANCE60 on 2010-12-31 is updated successfully
[INFO] 2018-06-28 19:39:13 E:\02_work\sw\db\indicator\2010.db is disconnected.
[INFO] 2018-06-28 19:39:13 E:\02_work\sw\db\indicator\2011.db is connected.
CREATE TABLE [RISK_VARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE60 REAL
);
[INFO] 2018-06-28 19:39:13 TABLE RISK_VARIANCE60 is created in E:\02_work\sw\db\indicator\2011.db.
CREATE UNIQUE INDEX [RISK_VARIANCE60_index] ON [RISK_VARIANCE60] (date, sec_id);

[INFO] 2018-06-28 19:39:13 INDEX RISK_VARIANCE60_index is created on TABLE RISK_VARIANCE60 of E:\02_work\sw\db\indicator\2011.db.
[INFO] 2018-06-28 19:39:13 SELECT DISTINCT(date) FROM RISK_VARIANCE60 WHERE date in ('2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29', '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30')
[INFO] 2018-06-28 19:39:14 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:14 RISK_VARIANCE60 on 2011-01-31 is updated successfully
[INFO] 2018-06-28 19:39:14 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:14 RISK_VARIANCE60 on 2011-02-28 is updated successfully
[INFO] 2018-06-28 19:39:14 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:14 RISK_VARIANCE60 on 2011-03-31 is updated successfully
[INFO] 2018-06-28 19:39:15 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:15 RISK_VARIANCE60 on 2011-04-29 is updated successfully
[INFO] 2018-06-28 19:39:15 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:15 RISK_VARIANCE60 on 2011-05-31 is updated successfully
[INFO] 2018-06-28 19:39:15 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:15 RISK_VARIANCE60 on 2011-06-30 is updated successfully
[INFO] 2018-06-28 19:39:16 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:16 RISK_VARIANCE60 on 2011-07-29 is updated successfully
[INFO] 2018-06-28 19:39:17 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:17 RISK_VARIANCE60 on 2011-08-31 is updated successfully
[INFO] 2018-06-28 19:39:17 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:17 RISK_VARIANCE60 on 2011-09-30 is updated successfully
[INFO] 2018-06-28 19:39:17 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:17 RISK_VARIANCE60 on 2011-10-31 is updated successfully
[INFO] 2018-06-28 19:39:18 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:18 RISK_VARIANCE60 on 2011-11-30 is updated successfully
[INFO] 2018-06-28 19:39:18 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:18 RISK_VARIANCE60 on 2011-12-30 is updated successfully
[INFO] 2018-06-28 19:39:18 E:\02_work\sw\db\indicator\2011.db is disconnected.
[INFO] 2018-06-28 19:39:18 E:\02_work\sw\db\indicator\2012.db is connected.
CREATE TABLE [RISK_VARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE60 REAL
);
[INFO] 2018-06-28 19:39:18 TABLE RISK_VARIANCE60 is created in E:\02_work\sw\db\indicator\2012.db.
CREATE UNIQUE INDEX [RISK_VARIANCE60_index] ON [RISK_VARIANCE60] (date, sec_id);
[INFO] 2018-06-28 19:39:19 INDEX RISK_VARIANCE60_index is created on TABLE RISK_VARIANCE60 of E:\02_work\sw\db\indicator\2012.db.
[INFO] 2018-06-28 19:39:19 SELECT DISTINCT(date) FROM RISK_VARIANCE60 WHERE date in ('2012-01-31', '2012-02-29', '2012-03-30', '2012-04-27', '2012-05-31', '2012-06-29', '2012-07-31', '2012-08-31', '2012-09-28', '2012-10-31', '2012-11-30', '2012-12-31')
[INFO] 2018-06-28 19:39:19 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:19 RISK_VARIANCE60 on 2012-01-31 is updated successfully
[INFO] 2018-06-28 19:39:19 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:19 RISK_VARIANCE60 on 2012-02-29 is updated successfully
[INFO] 2018-06-28 19:39:20 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:20 RISK_VARIANCE60 on 2012-03-30 is updated successfully
[INFO] 2018-06-28 19:39:20 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:20 RISK_VARIANCE60 on 2012-04-27 is updated successfully
[INFO] 2018-06-28 19:39:21 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:21 RISK_VARIANCE60 on 2012-05-31 is updated successfully
[INFO] 2018-06-28 19:39:21 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:21 RISK_VARIANCE60 on 2012-06-29 is updated successfully
[INFO] 2018-06-28 19:39:21 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:21 RISK_VARIANCE60 on 2012-07-31 is updated successfully
[INFO] 2018-06-28 19:39:22 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:22 RISK_VARIANCE60 on 2012-08-31 is updated successfully
[INFO] 2018-06-28 19:39:22 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:22 RISK_VARIANCE60 on 2012-09-28 is updated successfully
[INFO] 2018-06-28 19:39:22 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:22 RISK_VARIANCE60 on 2012-10-31 is updated successfully
[INFO] 2018-06-28 19:39:23 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:23 RISK_VARIANCE60 on 2012-11-30 is updated successfully
[INFO] 2018-06-28 19:39:23 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:23 RISK_VARIANCE60 on 2012-12-31 is updated successfully
[INFO] 2018-06-28 19:39:23 E:\02_work\sw\db\indicator\2012.db is disconnected.
[INFO] 2018-06-28 19:39:23 E:\02_work\sw\db\indicator\2013.db is connected.
CREATE TABLE [RISK_VARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE60 REAL
);
[INFO] 2018-06-28 19:39:23 TABLE RISK_VARIANCE60 is created in E:\02_work\sw\db\indicator\2013.db.
CREATE UNIQUE INDEX [RISK_VARIANCE60_index] ON [RISK_VARIANCE60] (date, sec_id);
[INFO] 2018-06-28 19:39:23 INDEX RISK_VARIANCE60_index is created on TABLE RISK_VARIANCE60 of E:\02_work\sw\db\indicator\2013.db.
[INFO] 2018-06-28 19:39:23 SELECT DISTINCT(date) FROM RISK_VARIANCE60 WHERE date in ('2013-01-31', '2013-02-28', '2013-03-29', '2013-04-26', '2013-05-31', '2013-06-28', '2013-07-31', '2013-08-30', '2013-09-30', '2013-10-31', '2013-11-29', '2013-12-31')
[INFO] 2018-06-28 19:39:24 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:24 RISK_VARIANCE60 on 2013-01-31 is updated successfully
[INFO] 2018-06-28 19:39:24 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:24 RISK_VARIANCE60 on 2013-02-28 is updated successfully
[INFO] 2018-06-28 19:39:25 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:25 RISK_VARIANCE60 on 2013-03-29 is updated successfully
[INFO] 2018-06-28 19:39:25 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:25 RISK_VARIANCE60 on 2013-04-26 is updated successfully
[INFO] 2018-06-28 19:39:26 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:26 RISK_VARIANCE60 on 2013-05-31 is updated successfully
[INFO] 2018-06-28 19:39:26 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:26 RISK_VARIANCE60 on 2013-06-28 is updated successfully
[INFO] 2018-06-28 19:39:27 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:27 RISK_VARIANCE60 on 2013-07-31 is updated successfully
[INFO] 2018-06-28 19:39:27 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:27 RISK_VARIANCE60 on 2013-08-30 is updated successfully
[INFO] 2018-06-28 19:39:28 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:28 RISK_VARIANCE60 on 2013-09-30 is updated successfully
[INFO] 2018-06-28 19:39:28 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:28 RISK_VARIANCE60 on 2013-10-31 is updated successfully
[INFO] 2018-06-28 19:39:28 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:28 RISK_VARIANCE60 on 2013-11-29 is updated successfully

[INFO] 2018-06-28 19:39:29 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:29 RISK_VARIANCE60 on 2013-12-31 is updated successfully
[INFO] 2018-06-28 19:39:29 E:\02_work\sw\db\indicator\2013.db is disconnected.
[INFO] 2018-06-28 19:39:29 E:\02_work\sw\db\indicator\2014.db is connected.
CREATE TABLE [RISK_VARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE60 REAL
);
[INFO] 2018-06-28 19:39:29 TABLE RISK_VARIANCE60 is created in E:\02_work\sw\db\indicator\2014.db.
CREATE UNIQUE INDEX [RISK_VARIANCE60_index] ON [RISK_VARIANCE60] (date, sec_id);
[INFO] 2018-06-28 19:39:29 INDEX RISK_VARIANCE60_index is created on TABLE RISK_VARIANCE60 of E:\02_work\sw\db\indicator\2014.db.
[INFO] 2018-06-28 19:39:29 SELECT DISTINCT(date) FROM RISK_VARIANCE60 WHERE date in ('2014-01-30', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-30', '2014-06-30', '2014-07-31', '2014-08-29', '2014-09-30', '2014-10-31', '2014-11-28', '2014-12-31')
[INFO] 2018-06-28 19:39:29 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:29 RISK_VARIANCE60 on 2014-01-30 is updated successfully
[INFO] 2018-06-28 19:39:30 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:30 RISK_VARIANCE60 on 2014-02-28 is updated successfully
[INFO] 2018-06-28 19:39:30 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:30 RISK_VARIANCE60 on 2014-03-31 is updated successfully
[INFO] 2018-06-28 19:39:31 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:31 RISK_VARIANCE60 on 2014-04-30 is updated successfully
[INFO] 2018-06-28 19:39:31 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:31 RISK_VARIANCE60 on 2014-05-30 is updated successfully
[INFO] 2018-06-28 19:39:31 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:31 RISK_VARIANCE60 on 2014-06-30 is updated successfully
[INFO] 2018-06-28 19:39:32 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:32 RISK_VARIANCE60 on 2014-07-31 is updated successfully
[INFO] 2018-06-28 19:39:32 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:32 RISK_VARIANCE60 on 2014-08-29 is updated successfully
[INFO] 2018-06-28 19:39:32 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:32 RISK_VARIANCE60 on 2014-09-30 is updated successfully
[INFO] 2018-06-28 19:39:33 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:33 RISK_VARIANCE60 on 2014-10-31 is updated successfully
[INFO] 2018-06-28 19:39:33 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:33 RISK_VARIANCE60 on 2014-11-28 is updated successfully
[INFO] 2018-06-28 19:39:34 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:34 RISK_VARIANCE60 on 2014-12-31 is updated successfully
[INFO] 2018-06-28 19:39:34 E:\02_work\sw\db\indicator\2014.db is disconnected.
[INFO] 2018-06-28 19:39:34 E:\02_work\sw\db\indicator\2015.db is connected.
CREATE TABLE [RISK_VARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE60 REAL
);
[INFO] 2018-06-28 19:39:34 TABLE RISK_VARIANCE60 is created in E:\02_work\sw\db\indicator\2015.db.
CREATE UNIQUE INDEX [RISK_VARIANCE60_index] ON [RISK_VARIANCE60] (date, sec_id);
[INFO] 2018-06-28 19:39:34 INDEX RISK_VARIANCE60_index is created on TABLE RISK_VARIANCE60 of E:\02_work\sw\db\indicator\2015.db.
[INFO] 2018-06-28 19:39:34 SELECT DISTINCT(date) FROM RISK_VARIANCE60 WHERE date in ('2015-01-30', '2015-02-27', '2015-03-31', '2015-04-30', '2015-05-29', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-30', '2015-11-30', '2015-12-31')
[INFO] 2018-06-28 19:39:34 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:34 RISK_VARIANCE60 on 2015-01-30 is updated successfully
[INFO] 2018-06-28 19:39:35 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:35 RISK_VARIANCE60 on 2015-02-27 is updated successfully
[INFO] 2018-06-28 19:39:35 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:35 RISK_VARIANCE60 on 2015-03-31 is updated successfully
[INFO] 2018-06-28 19:39:35 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:35 RISK_VARIANCE60 on 2015-04-30 is updated successfully
[INFO] 2018-06-28 19:39:36 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:36 RISK_VARIANCE60 on 2015-05-29 is updated successfully
[INFO] 2018-06-28 19:39:36 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:36 RISK_VARIANCE60 on 2015-06-30 is updated successfully
[INFO] 2018-06-28 19:39:37 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:37 RISK_VARIANCE60 on 2015-07-31 is updated successfully
[INFO] 2018-06-28 19:39:37 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:37 RISK_VARIANCE60 on 2015-08-31 is updated successfully
[INFO] 2018-06-28 19:39:37 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:37 RISK_VARIANCE60 on 2015-09-30 is updated successfully
[INFO] 2018-06-28 19:39:38 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:38 RISK_VARIANCE60 on 2015-10-30 is updated successfully
[INFO] 2018-06-28 19:39:38 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:38 RISK_VARIANCE60 on 2015-11-30 is updated successfully
[INFO] 2018-06-28 19:39:39 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:39 RISK_VARIANCE60 on 2015-12-31 is updated successfully
[INFO] 2018-06-28 19:39:39 E:\02_work\sw\db\indicator\2015.db is disconnected.
[INFO] 2018-06-28 19:39:39 E:\02_work\sw\db\indicator\2016.db is connected.
CREATE TABLE [RISK_VARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE60 REAL
);
[INFO] 2018-06-28 19:39:39 TABLE RISK_VARIANCE60 is created in E:\02_work\sw\db\indicator\2016.db.
CREATE UNIQUE INDEX [RISK_VARIANCE60_index] ON [RISK_VARIANCE60] (date, sec_id);
[INFO] 2018-06-28 19:39:39 INDEX RISK_VARIANCE60_index is created on TABLE RISK_VARIANCE60 of E:\02_work\sw\db\indicator\2016.db.
[INFO] 2018-06-28 19:39:39 SELECT DISTINCT(date) FROM RISK_VARIANCE60 WHERE date in ('2016-01-29', '2016-02-29', '2016-03-31', '2016-04-29', '2016-05-31', '2016-06-30', '2016-07-29', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-30')
[INFO] 2018-06-28 19:39:39 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:39 RISK_VARIANCE60 on 2016-01-29 is updated successfully
[INFO] 2018-06-28 19:39:40 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:40 RISK_VARIANCE60 on 2016-02-29 is updated successfully
[INFO] 2018-06-28 19:39:40 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:40 RISK_VARIANCE60 on 2016-03-31 is updated successfully
[INFO] 2018-06-28 19:39:41 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:41 RISK_VARIANCE60 on 2016-04-29 is updated successfully
[INFO] 2018-06-28 19:39:41 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:41 RISK_VARIANCE60 on 2016-05-31 is updated successfully
[INFO] 2018-06-28 19:39:42 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:42 RISK_VARIANCE60 on 2016-06-30 is updated successfully
[INFO] 2018-06-28 19:39:42 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:42 RISK_VARIANCE60 on 2016-07-29 is updated successfully

[INFO] 2018-06-28 19:39:42 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:42 RISK_VARIANCE60 on 2016-08-31 is updated successfully
[INFO] 2018-06-28 19:39:43 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:43 RISK_VARIANCE60 on 2016-09-30 is updated successfully
[INFO] 2018-06-28 19:39:43 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:43 RISK_VARIANCE60 on 2016-10-31 is updated successfully
[INFO] 2018-06-28 19:39:44 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:44 RISK_VARIANCE60 on 2016-11-30 is updated successfully
[INFO] 2018-06-28 19:39:44 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:44 RISK_VARIANCE60 on 2016-12-30 is updated successfully
[INFO] 2018-06-28 19:39:44 E:\02_work\sw\db\indicator\2016.db is disconnected.
[INFO] 2018-06-28 19:39:44 E:\02_work\sw\db\indicator\2017.db is connected.
CREATE TABLE [RISK_VARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE60 REAL
);
[INFO] 2018-06-28 19:39:44 TABLE RISK_VARIANCE60 is created in E:\02_work\sw\db\indicator\2017.db.
CREATE UNIQUE INDEX [RISK_VARIANCE60_index] ON [RISK_VARIANCE60] (date, sec_id);
[INFO] 2018-06-28 19:39:44 INDEX RISK_VARIANCE60_index is created on TABLE RISK_VARIANCE60 of E:\02_work\sw\db\indicator\2017.db.
[INFO] 2018-06-28 19:39:44 SELECT DISTINCT(date) FROM RISK_VARIANCE60 WHERE date in ('2017-01-26', '2017-02-28', '2017-03-31', '2017-04-28', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-29', '2017-10-31', '2017-11-30', '2017-12-29')
[INFO] 2018-06-28 19:39:45 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:45 RISK_VARIANCE60 on 2017-01-26 is updated successfully
[INFO] 2018-06-28 19:39:45 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:45 RISK_VARIANCE60 on 2017-02-28 is updated successfully
[INFO] 2018-06-28 19:39:45 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:45 RISK_VARIANCE60 on 2017-03-31 is updated successfully
[INFO] 2018-06-28 19:39:46 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:46 RISK_VARIANCE60 on 2017-04-28 is updated successfully
[INFO] 2018-06-28 19:39:46 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:46 RISK_VARIANCE60 on 2017-05-31 is updated successfully
[INFO] 2018-06-28 19:39:47 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:47 RISK_VARIANCE60 on 2017-06-30 is updated successfully
[INFO] 2018-06-28 19:39:47 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:47 RISK_VARIANCE60 on 2017-07-31 is updated successfully
[INFO] 2018-06-28 19:39:48 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:48 RISK_VARIANCE60 on 2017-08-31 is updated successfully
[INFO] 2018-06-28 19:39:48 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:48 RISK_VARIANCE60 on 2017-09-29 is updated successfully
[INFO] 2018-06-28 19:39:49 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:49 RISK_VARIANCE60 on 2017-10-31 is updated successfully
[INFO] 2018-06-28 19:39:49 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:49 RISK_VARIANCE60 on 2017-11-30 is updated successfully
[INFO] 2018-06-28 19:39:49 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:49 RISK_VARIANCE60 on 2017-12-29 is updated successfully
[INFO] 2018-06-28 19:39:49 E:\02_work\sw\db\indicator\2017.db is disconnected.
[INFO] 2018-06-28 19:39:49 E:\02_work\sw\db\indicator\2018.db is connected.
CREATE TABLE [RISK_VARIANCE60] (
    date CHAR(10) NOT NULL,
    sec_id TEXT NOT NULL,
    RISK_VARIANCE60 REAL
);
[INFO] 2018-06-28 19:39:49 TABLE RISK_VARIANCE60 is created in E:\02_work\sw\db\indicator\2018.db.
CREATE UNIQUE INDEX [RISK_VARIANCE60_index] ON [RISK_VARIANCE60] (date, sec_id);
[INFO] 2018-06-28 19:39:50 INDEX RISK_VARIANCE60_index is created on TABLE RISK_VARIANCE60 of E:\02_work\sw\db\indicator\2018.db.
[INFO] 2018-06-28 19:39:50 SELECT DISTINCT(date) FROM RISK_VARIANCE60 WHERE date in ('2018-01-31', '2018-02-28', '2018-03-30', '2018-04-27', '2018-05-31')
[INFO] 2018-06-28 19:39:50 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:50 RISK_VARIANCE60 on 2018-01-31 is updated successfully
[INFO] 2018-06-28 19:39:51 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:51 RISK_VARIANCE60 on 2018-02-28 is updated successfully
[INFO] 2018-06-28 19:39:51 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:51 RISK_VARIANCE60 on 2018-03-30 is updated successfully
[INFO] 2018-06-28 19:39:51 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:51 RISK_VARIANCE60 on 2018-04-27 is updated successfully
[INFO] 2018-06-28 19:39:52 Data is inserted to RISK_VARIANCE60 successfully!
[INFO] 2018-06-28 19:39:52 RISK_VARIANCE60 on 2018-05-31 is updated successfully
[INFO] 2018-06-28 19:39:52 E:\02_work\sw\db\indicator\2018.db is disconnected.
[INFO] 2018-06-28 19:39:52 schema updated: RISK_VARIANCE60
[INFO] 2018-06-28 19:39:52 indicator RISK_VARIANCE60 is updated.
[INFO] 2018-06-28 19:39:52 ------------------------------------------
[INFO] 2018-06-28 19:39:52 Updating indicator RSI
[INFO] 2018-06-28 19:39:52 E:\02_work\sw\db\indicator\2005.db is connected.
[INFO] 2018-06-28 19:39:52 SELECT DISTINCT(date) FROM RSI WHERE date in ('2005-04-29', '2005-05-31', '2005-06-30', '2005-07-29', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-30')
[WARN] 2018-06-28 19:39:52 RSI records on 2005-04-29 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2005-05-31 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2005-06-30 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2005-07-29 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2005-08-31 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2005-09-30 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2005-10-31 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2005-11-30 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2005-12-30 is existed.
[INFO] 2018-06-28 19:39:52 E:\02_work\sw\db\indicator\2005.db is disconnected.
[INFO] 2018-06-28 19:39:52 E:\02_work\sw\db\indicator\2006.db is connected.
[INFO] 2018-06-28 19:39:52 SELECT DISTINCT(date) FROM RSI WHERE date in ('2006-01-25', '2006-02-28', '2006-03-31', '2006-04-28', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-29', '2006-10-31', '2006-11-30', '2006-12-29')
[WARN] 2018-06-28 19:39:52 RSI records on 2006-01-25 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2006-02-28 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2006-03-31 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2006-04-28 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2006-05-31 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2006-06-30 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2006-07-31 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2006-08-31 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2006-09-29 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2006-10-31 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2006-11-30 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2006-12-29 is existed.
[INFO] 2018-06-28 19:39:52 E:\02_work\sw\db\indicator\2006.db is disconnected.
[INFO] 2018-06-28 19:39:52 E:\02_work\sw\db\indicator\2007.db is connected.
[INFO] 2018-06-28 19:39:52 SELECT DISTINCT(date) FROM RSI WHERE date in ('2007-01-31', '2007-02-28', '2007-03-30', '2007-04-30', '2007-05-31', '2007-06-29', '2007-07-31', '2007-08-31', '2007-09-28', '2007-10-31', '2007-11-30', '2007-12-28')
[WARN] 2018-06-28 19:39:52 RSI records on 2007-01-31 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2007-02-28 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2007-03-30 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2007-04-30 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2007-05-31 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2007-06-29 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2007-07-31 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2007-08-31 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2007-09-28 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2007-10-31 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2007-11-30 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2007-12-28 is existed.
[INFO] 2018-06-28 19:39:52 E:\02_work\sw\db\indicator\2007.db is disconnected.
[INFO] 2018-06-28 19:39:52 E:\02_work\sw\db\indicator\2008.db is connected.
[INFO] 2018-06-28 19:39:52 SELECT DISTINCT(date) FROM RSI WHERE date in ('2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-30', '2008-06-30', '2008-07-31', '2008-08-29', '2008-09-26', '2008-10-31', '2008-11-28', '2008-12-31')

[WARN] 2018-06-28 19:39:52 RSI records on 2008-01-31 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2008-02-29 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2008-03-31 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2008-04-30 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2008-05-30 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2008-06-30 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2008-07-31 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2008-08-29 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2008-09-26 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2008-10-31 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2008-11-28 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2008-12-31 is existed.
[INFO] 2018-06-28 19:39:52 E:\02_work\sw\db\indicator\2008.db is disconnected.
[INFO] 2018-06-28 19:39:52 E:\02_work\sw\db\indicator\2009.db is connected.
[INFO] 2018-06-28 19:39:52 SELECT DISTINCT(date) FROM RSI WHERE date in ('2009-01-23', '2009-02-27', '2009-03-31', '2009-04-30', '2009-05-27', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-30', '2009-11-30', '2009-12-31')
[WARN] 2018-06-28 19:39:52 RSI records on 2009-01-23 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2009-02-27 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2009-03-31 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2009-04-30 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2009-05-27 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2009-06-30 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2009-07-31 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2009-08-31 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2009-09-30 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2009-10-30 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2009-11-30 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2009-12-31 is existed.
[INFO] 2018-06-28 19:39:52 E:\02_work\sw\db\indicator\2009.db is disconnected.
[INFO] 2018-06-28 19:39:52 E:\02_work\sw\db\indicator\2010.db is connected.
[INFO] 2018-06-28 19:39:52 SELECT DISTINCT(date) FROM RSI WHERE date in ('2010-01-29', '2010-02-26', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-30', '2010-08-31', '2010-09-30', '2010-10-29', '2010-11-30', '2010-12-31')
[WARN] 2018-06-28 19:39:52 RSI records on 2010-01-29 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2010-02-26 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2010-03-31 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2010-04-30 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2010-05-31 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2010-06-30 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2010-07-30 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2010-08-31 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2010-09-30 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2010-10-29 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2010-11-30 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2010-12-31 is existed.
[INFO] 2018-06-28 19:39:52 E:\02_work\sw\db\indicator\2010.db is disconnected.
[INFO] 2018-06-28 19:39:52 E:\02_work\sw\db\indicator\2011.db is connected.
[INFO] 2018-06-28 19:39:52 SELECT DISTINCT(date) FROM RSI WHERE date in ('2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29', '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30')
[WARN] 2018-06-28 19:39:52 RSI records on 2011-01-31 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2011-02-28 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2011-03-31 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2011-04-29 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2011-05-31 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2011-06-30 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2011-07-29 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2011-08-31 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2011-09-30 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2011-10-31 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2011-11-30 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2011-12-30 is existed.
[INFO] 2018-06-28 19:39:52 E:\02_work\sw\db\indicator\2011.db is disconnected.
[INFO] 2018-06-28 19:39:52 E:\02_work\sw\db\indicator\2012.db is connected.
[INFO] 2018-06-28 19:39:52 SELECT DISTINCT(date) FROM RSI WHERE date in ('2012-01-31', '2012-02-29', '2012-03-30', '2012-04-27', '2012-05-31', '2012-06-29', '2012-07-31', '2012-08-31', '2012-09-28', '2012-10-31', '2012-11-30', '2012-12-31')
[WARN] 2018-06-28 19:39:52 RSI records on 2012-01-31 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2012-02-29 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2012-03-30 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2012-04-27 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2012-05-31 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2012-06-29 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2012-07-31 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2012-08-31 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2012-09-28 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2012-10-31 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2012-11-30 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2012-12-31 is existed.
[INFO] 2018-06-28 19:39:52 E:\02_work\sw\db\indicator\2012.db is disconnected.
[INFO] 2018-06-28 19:39:52 E:\02_work\sw\db\indicator\2013.db is connected.
[INFO] 2018-06-28 19:39:52 SELECT DISTINCT(date) FROM RSI WHERE date in ('2013-01-31', '2013-02-28', '2013-03-29', '2013-04-26', '2013-05-31', '2013-06-28', '2013-07-31', '2013-08-30', '2013-09-30', '2013-10-31', '2013-11-29', '2013-12-31')
[WARN] 2018-06-28 19:39:52 RSI records on 2013-01-31 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2013-02-28 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2013-03-29 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2013-04-26 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2013-05-31 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2013-06-28 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2013-07-31 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2013-08-30 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2013-09-30 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2013-10-31 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2013-11-29 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2013-12-31 is existed.
[INFO] 2018-06-28 19:39:52 E:\02_work\sw\db\indicator\2013.db is disconnected.
[INFO] 2018-06-28 19:39:52 E:\02_work\sw\db\indicator\2014.db is connected.
[INFO] 2018-06-28 19:39:52 SELECT DISTINCT(date) FROM RSI WHERE date in ('2014-01-30', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-30', '2014-06-30', '2014-07-31', '2014-08-29', '2014-09-30', '2014-10-31', '2014-11-28', '2014-12-31')
[WARN] 2018-06-28 19:39:52 RSI records on 2014-01-30 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2014-02-28 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2014-03-31 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2014-04-30 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2014-05-30 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2014-06-30 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2014-07-31 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2014-08-29 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2014-09-30 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2014-10-31 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2014-11-28 is existed.
[WARN] 2018-06-28 19:39:52 RSI records on 2014-12-31 is existed.
[INFO] 2018-06-28 19:39:52 E:\02_work\sw\db\indicator\2014.db is disconnected.
[INFO] 2018-06-28 19:39:52 E:\02_work\sw\db\indicator\2015.db is connected.
[INFO] 2018-06-28 19:39:52 SELECT DISTINCT(date) FROM RSI WHERE date in ('2015-01-30', '2015-02-27', '2015-03-31', '2015-04-30', '2015-05-29', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-30', '2015-11-30', '2015-12-31')
[WARN] 2018-06-28 19:39:53 RSI records on 2015-01-30 is existed.
[WARN] 2018-06-28 19:39:53 RSI records on 2015-02-27 is existed.
[WARN] 2018-06-28 19:39:53 RSI records on 2015-03-31 is existed.
[WARN] 2018-06-28 19:39:53 RSI records on 2015-04-30 is existed.
[WARN] 2018-06-28 19:39:53 RSI records on 2015-05-29 is existed.
[WARN] 2018-06-28 19:39:53 RSI records on 2015-06-30 is existed.
[WARN] 2018-06-28 19:39:53 RSI records on 2015-07-31 is existed.
[WARN] 2018-06-28 19:39:53 RSI records on 2015-08-31 is existed.
[WARN] 2018-06-28 19:39:53 RSI records on 2015-09-30 is existed.
[WARN] 2018-06-28 19:39:53 RSI records on 2015-10-30 is existed.
[WARN] 2018-06-28 19:39:53 RSI records on 2015-11-30 is existed.
[WARN] 2018-06-28 19:39:53 RSI records on 2015-12-31 is existed.
[INFO] 2018-06-28 19:39:53 E:\02_work\sw\db\indicator\2015.db is disconnected.
[INFO] 2018-06-28 19:39:53 E:\02_work\sw\db\indicator\2016.db is connected.
[INFO] 2018-06-28 19:39:53 SELECT DISTINCT(date) FROM RSI WHERE date in ('2016-01-29', '2016-02-29', '2016-03-31', '2016-04-29', '2016-05-31', '2016-06-30', '2016-07-29', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-30')

[WARN] 2018-06-28 19:39:53 RSI records on 2016-01-29 is existed.
[WARN] 2018-06-28 19:39:53 RSI records on 2016-02-29 is existed.
[WARN] 2018-06-28 19:39:53 RSI records on 2016-03-31 is existed.
[WARN] 2018-06-28 19:39:53 RSI records on 2016-04-29 is existed.
[WARN] 2018-06-28 19:39:53 RSI records on 2016-05-31 is existed.
[WARN] 2018-06-28 19:39:53 RSI records on 2016-06-30 is existed.
[WARN] 2018-06-28 19:39:53 RSI records on 2016-07-29 is existed.
[WARN] 2018-06-28 19:39:53 RSI records on 2016-08-31 is existed.
[WARN] 2018-06-28 19:39:53 RSI records on 2016-09-30 is existed.
[WARN] 2018-06-28 19:39:53 RSI records on 2016-10-31 is existed.
[WARN] 2018-06-28 19:39:53 RSI records on 2016-11-30 is existed.
[WARN] 2018-06-28 19:39:53 RSI records on 2016-12-30 is existed.
[INFO] 2018-06-28 19:39:53 E:\02_work\sw\db\indicator\2016.db is disconnected.
[INFO] 2018-06-28 19:39:53 E:\02_work\sw\db\indicator\2017.db is connected.
[INFO] 2018-06-28 19:39:53 SELECT DISTINCT(date) FROM RSI WHERE date in ('2017-01-26', '2017-02-28', '2017-03-31', '2017-04-28', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-29', '2017-10-31', '2017-11-30', '2017-12-29')
[WARN] 2018-06-28 19:39:53 RSI records on 2017-01-26 is existed.
[WARN] 2018-06-28 19:39:53 RSI records on 2017-02-28 is existed.
[WARN] 2018-06-28 19:39:53 RSI records on 2017-03-31 is existed.
[WARN] 2018-06-28 19:39:53 RSI records on 2017-04-28 is existed.
[WARN] 2018-06-28 19:39:53 RSI records on 2017-05-31 is existed.
[WARN] 2018-06-28 19:39:53 RSI records on 2017-06-30 is existed.
[WARN] 2018-06-28 19:39:53 RSI records on 2017-07-31 is existed.
[WARN] 2018-06-28 19:39:53 RSI records on 2017-08-31 is existed.
[WARN] 2018-06-28 19:39:53 RSI records on 2017-09-29 is existed.
[WARN] 2018-06-28 19:39:53 RSI records on 2017-10-31 is existed.
[WARN] 2018-06-28 19:39:53 RSI records on 2017-11-30 is existed.
[WARN] 2018-06-28 19:39:53 RSI records on 2017-12-29 is existed.
[INFO] 2018-06-28 19:39:53 E:\02_work\sw\db\indicator\2017.db is disconnected.
[INFO] 2018-06-28 19:39:53 E:\02_work\sw\db\indicator\2018.db is connected.
[INFO] 2018-06-28 19:39:53 SELECT DISTINCT(date) FROM RSI WHERE date in ('2018-01-31', '2018-02-28', '2018-03-30', '2018-04-27', '2018-05-31')
[WARN] 2018-06-28 19:39:53 RSI records on 2018-01-31 is existed.
[WARN] 2018-06-28 19:39:53 RSI records on 2018-02-28 is existed.
[WARN] 2018-06-28 19:39:53 RSI records on 2018-03-30 is existed.
[WARN] 2018-06-28 19:39:53 RSI records on 2018-04-27 is existed.
[WARN] 2018-06-28 19:39:53 RSI records on 2018-05-31 is existed.
[INFO] 2018-06-28 19:39:53 E:\02_work\sw\db\indicator\2018.db is disconnected.
[INFO] 2018-06-28 19:39:53 schema updated: RSI
[INFO] 2018-06-28 19:39:53 indicator RSI is updated.
[INFO] 2018-06-28 19:39:53 ------------------------------------------
[INFO] 2018-06-28 19:39:53 Updating indicator UP_DAYS
[INFO] 2018-06-28 19:39:53 E:\02_work\sw\db\indicator\2005.db is connected.
[INFO] 2018-06-28 19:39:53 SELECT DISTINCT(date) FROM UP_DAYS WHERE date in ('2005-04-29', '2005-05-31', '2005-06-30', '2005-07-29', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-30')
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2005-04-29 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2005-05-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2005-06-30 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2005-07-29 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2005-08-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2005-09-30 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2005-10-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2005-11-30 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2005-12-30 is existed.
[INFO] 2018-06-28 19:39:53 E:\02_work\sw\db\indicator\2005.db is disconnected.
[INFO] 2018-06-28 19:39:53 E:\02_work\sw\db\indicator\2006.db is connected.
[INFO] 2018-06-28 19:39:53 SELECT DISTINCT(date) FROM UP_DAYS WHERE date in ('2006-01-25', '2006-02-28', '2006-03-31', '2006-04-28', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-29', '2006-10-31', '2006-11-30', '2006-12-29')
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2006-01-25 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2006-02-28 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2006-03-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2006-04-28 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2006-05-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2006-06-30 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2006-07-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2006-08-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2006-09-29 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2006-10-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2006-11-30 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2006-12-29 is existed.
[INFO] 2018-06-28 19:39:53 E:\02_work\sw\db\indicator\2006.db is disconnected.
[INFO] 2018-06-28 19:39:53 E:\02_work\sw\db\indicator\2007.db is connected.
[INFO] 2018-06-28 19:39:53 SELECT DISTINCT(date) FROM UP_DAYS WHERE date in ('2007-01-31', '2007-02-28', '2007-03-30', '2007-04-30', '2007-05-31', '2007-06-29', '2007-07-31', '2007-08-31', '2007-09-28', '2007-10-31', '2007-11-30', '2007-12-28')
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2007-01-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2007-02-28 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2007-03-30 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2007-04-30 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2007-05-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2007-06-29 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2007-07-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2007-08-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2007-09-28 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2007-10-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2007-11-30 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2007-12-28 is existed.
[INFO] 2018-06-28 19:39:53 E:\02_work\sw\db\indicator\2007.db is disconnected.
[INFO] 2018-06-28 19:39:53 E:\02_work\sw\db\indicator\2008.db is connected.
[INFO] 2018-06-28 19:39:53 SELECT DISTINCT(date) FROM UP_DAYS WHERE date in ('2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-30', '2008-06-30', '2008-07-31', '2008-08-29', '2008-09-26', '2008-10-31', '2008-11-28', '2008-12-31')
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2008-01-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2008-02-29 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2008-03-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2008-04-30 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2008-05-30 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2008-06-30 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2008-07-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2008-08-29 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2008-09-26 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2008-10-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2008-11-28 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2008-12-31 is existed.
[INFO] 2018-06-28 19:39:53 E:\02_work\sw\db\indicator\2008.db is disconnected.
[INFO] 2018-06-28 19:39:53 E:\02_work\sw\db\indicator\2009.db is connected.
[INFO] 2018-06-28 19:39:53 SELECT DISTINCT(date) FROM UP_DAYS WHERE date in ('2009-01-23', '2009-02-27', '2009-03-31', '2009-04-30', '2009-05-27', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-30', '2009-11-30', '2009-12-31')

[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2009-01-23 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2009-02-27 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2009-03-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2009-04-30 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2009-05-27 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2009-06-30 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2009-07-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2009-08-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2009-09-30 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2009-10-30 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2009-11-30 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2009-12-31 is existed.
[INFO] 2018-06-28 19:39:53 E:\02_work\sw\db\indicator\2009.db is disconnected.
[INFO] 2018-06-28 19:39:53 E:\02_work\sw\db\indicator\2010.db is connected.
[INFO] 2018-06-28 19:39:53 SELECT DISTINCT(date) FROM UP_DAYS WHERE date in ('2010-01-29', '2010-02-26', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-30', '2010-08-31', '2010-09-30', '2010-10-29', '2010-11-30', '2010-12-31')
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2010-01-29 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2010-02-26 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2010-03-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2010-04-30 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2010-05-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2010-06-30 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2010-07-30 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2010-08-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2010-09-30 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2010-10-29 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2010-11-30 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2010-12-31 is existed.
[INFO] 2018-06-28 19:39:53 E:\02_work\sw\db\indicator\2010.db is disconnected.
[INFO] 2018-06-28 19:39:53 E:\02_work\sw\db\indicator\2011.db is connected.
[INFO] 2018-06-28 19:39:53 SELECT DISTINCT(date) FROM UP_DAYS WHERE date in ('2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29', '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30')
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2011-01-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2011-02-28 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2011-03-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2011-04-29 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2011-05-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2011-06-30 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2011-07-29 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2011-08-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2011-09-30 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2011-10-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2011-11-30 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2011-12-30 is existed.
[INFO] 2018-06-28 19:39:53 E:\02_work\sw\db\indicator\2011.db is disconnected.
[INFO] 2018-06-28 19:39:53 E:\02_work\sw\db\indicator\2012.db is connected.
[INFO] 2018-06-28 19:39:53 SELECT DISTINCT(date) FROM UP_DAYS WHERE date in ('2012-01-31', '2012-02-29', '2012-03-30', '2012-04-27', '2012-05-31', '2012-06-29', '2012-07-31', '2012-08-31', '2012-09-28', '2012-10-31', '2012-11-30', '2012-12-31')
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2012-01-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2012-02-29 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2012-03-30 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2012-04-27 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2012-05-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2012-06-29 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2012-07-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2012-08-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2012-09-28 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2012-10-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2012-11-30 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2012-12-31 is existed.
[INFO] 2018-06-28 19:39:53 E:\02_work\sw\db\indicator\2012.db is disconnected.
[INFO] 2018-06-28 19:39:53 E:\02_work\sw\db\indicator\2013.db is connected.
[INFO] 2018-06-28 19:39:53 SELECT DISTINCT(date) FROM UP_DAYS WHERE date in ('2013-01-31', '2013-02-28', '2013-03-29', '2013-04-26', '2013-05-31', '2013-06-28', '2013-07-31', '2013-08-30', '2013-09-30', '2013-10-31', '2013-11-29', '2013-12-31')
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2013-01-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2013-02-28 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2013-03-29 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2013-04-26 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2013-05-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2013-06-28 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2013-07-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2013-08-30 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2013-09-30 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2013-10-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2013-11-29 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2013-12-31 is existed.
[INFO] 2018-06-28 19:39:53 E:\02_work\sw\db\indicator\2013.db is disconnected.
[INFO] 2018-06-28 19:39:53 E:\02_work\sw\db\indicator\2014.db is connected.
[INFO] 2018-06-28 19:39:53 SELECT DISTINCT(date) FROM UP_DAYS WHERE date in ('2014-01-30', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-30', '2014-06-30', '2014-07-31', '2014-08-29', '2014-09-30', '2014-10-31', '2014-11-28', '2014-12-31')
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2014-01-30 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2014-02-28 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2014-03-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2014-04-30 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2014-05-30 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2014-06-30 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2014-07-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2014-08-29 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2014-09-30 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2014-10-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2014-11-28 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2014-12-31 is existed.
[INFO] 2018-06-28 19:39:53 E:\02_work\sw\db\indicator\2014.db is disconnected.
[INFO] 2018-06-28 19:39:53 E:\02_work\sw\db\indicator\2015.db is connected.
[INFO] 2018-06-28 19:39:53 SELECT DISTINCT(date) FROM UP_DAYS WHERE date in ('2015-01-30', '2015-02-27', '2015-03-31', '2015-04-30', '2015-05-29', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-30', '2015-11-30', '2015-12-31')
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2015-01-30 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2015-02-27 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2015-03-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2015-04-30 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2015-05-29 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2015-06-30 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2015-07-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2015-08-31 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2015-09-30 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2015-10-30 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2015-11-30 is existed.
[WARN] 2018-06-28 19:39:53 UP_DAYS records on 2015-12-31 is existed.
[INFO] 2018-06-28 19:39:53 E:\02_work\sw\db\indicator\2015.db is disconnected.
[INFO] 2018-06-28 19:39:53 E:\02_work\sw\db\indicator\2016.db is connected.
[INFO] 2018-06-28 19:39:53 SELECT DISTINCT(date) FROM UP_DAYS WHERE date in ('2016-01-29', '2016-02-29', '2016-03-31', '2016-04-29', '2016-05-31', '2016-06-30', '2016-07-29', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-30')
[WARN] 2018-06-28 19:39:54 UP_DAYS records on 2016-01-29 is existed.
[WARN] 2018-06-28 19:39:54 UP_DAYS records on 2016-02-29 is existed.
[WARN] 2018-06-28 19:39:54 UP_DAYS records on 2016-03-31 is existed.
[WARN] 2018-06-28 19:39:54 UP_DAYS records on 2016-04-29 is existed.
[WARN] 2018-06-28 19:39:54 UP_DAYS records on 2016-05-31 is existed.
[WARN] 2018-06-28 19:39:54 UP_DAYS records on 2016-06-30 is existed.
[WARN] 2018-06-28 19:39:54 UP_DAYS records on 2016-07-29 is existed.
[WARN] 2018-06-28 19:39:54 UP_DAYS records on 2016-08-31 is existed.
[WARN] 2018-06-28 19:39:54 UP_DAYS records on 2016-09-30 is existed.
[WARN] 2018-06-28 19:39:54 UP_DAYS records on 2016-10-31 is existed.
[WARN] 2018-06-28 19:39:54 UP_DAYS records on 2016-11-30 is existed.
[WARN] 2018-06-28 19:39:54 UP_DAYS records on 2016-12-30 is existed.
[INFO] 2018-06-28 19:39:54 E:\02_work\sw\db\indicator\2016.db is disconnected.
[INFO] 2018-06-28 19:39:54 E:\02_work\sw\db\indicator\2017.db is connected.
[INFO] 2018-06-28 19:39:54 SELECT DISTINCT(date) FROM UP_DAYS WHERE date in ('2017-01-26', '2017-02-28', '2017-03-31', '2017-04-28', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-29', '2017-10-31', '2017-11-30', '2017-12-29')

[WARN] 2018-06-28 19:39:54 UP_DAYS records on 2017-01-26 is existed.
[WARN] 2018-06-28 19:39:54 UP_DAYS records on 2017-02-28 is existed.
[WARN] 2018-06-28 19:39:54 UP_DAYS records on 2017-03-31 is existed.
[WARN] 2018-06-28 19:39:54 UP_DAYS records on 2017-04-28 is existed.
[WARN] 2018-06-28 19:39:54 UP_DAYS records on 2017-05-31 is existed.
[WARN] 2018-06-28 19:39:54 UP_DAYS records on 2017-06-30 is existed.
[WARN] 2018-06-28 19:39:54 UP_DAYS records on 2017-07-31 is existed.
[WARN] 2018-06-28 19:39:54 UP_DAYS records on 2017-08-31 is existed.
[WARN] 2018-06-28 19:39:54 UP_DAYS records on 2017-09-29 is existed.
[WARN] 2018-06-28 19:39:54 UP_DAYS records on 2017-10-31 is existed.
[WARN] 2018-06-28 19:39:54 UP_DAYS records on 2017-11-30 is existed.
[WARN] 2018-06-28 19:39:54 UP_DAYS records on 2017-12-29 is existed.
[INFO] 2018-06-28 19:39:54 E:\02_work\sw\db\indicator\2017.db is disconnected.
[INFO] 2018-06-28 19:39:54 E:\02_work\sw\db\indicator\2018.db is connected.
[INFO] 2018-06-28 19:39:54 SELECT DISTINCT(date) FROM UP_DAYS WHERE date in ('2018-01-31', '2018-02-28', '2018-03-30', '2018-04-27', '2018-05-31')
[WARN] 2018-06-28 19:39:54 UP_DAYS records on 2018-01-31 is existed.
[WARN] 2018-06-28 19:39:54 UP_DAYS records on 2018-02-28 is existed.
[WARN] 2018-06-28 19:39:54 UP_DAYS records on 2018-03-30 is existed.
[WARN] 2018-06-28 19:39:54 UP_DAYS records on 2018-04-27 is existed.
[WARN] 2018-06-28 19:39:54 UP_DAYS records on 2018-05-31 is existed.
[INFO] 2018-06-28 19:39:54 E:\02_work\sw\db\indicator\2018.db is disconnected.
[INFO] 2018-06-28 19:39:54 schema updated: UP_DAYS
[INFO] 2018-06-28 19:39:54 indicator UP_DAYS is updated.
[INFO] 2018-06-28 19:39:54 ------------------------------------------
[INFO] 2018-06-28 19:39:54 Updating indicator VAL_PE_DEDUCTED_TTM
[INFO] 2018-06-28 19:39:54 E:\02_work\sw\db\indicator\2005.db is connected.
[INFO] 2018-06-28 19:39:54 SELECT DISTINCT(date) FROM VAL_PE_DEDUCTED_TTM WHERE date in ('2005-04-29', '2005-05-31', '2005-06-30', '2005-07-29', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-30')
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2005-04-29 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2005-05-31 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2005-06-30 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2005-07-29 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2005-08-31 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2005-09-30 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2005-10-31 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2005-11-30 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2005-12-30 is existed.
[INFO] 2018-06-28 19:39:54 E:\02_work\sw\db\indicator\2005.db is disconnected.
[INFO] 2018-06-28 19:39:54 E:\02_work\sw\db\indicator\2006.db is connected.
[INFO] 2018-06-28 19:39:54 SELECT DISTINCT(date) FROM VAL_PE_DEDUCTED_TTM WHERE date in ('2006-01-25', '2006-02-28', '2006-03-31', '2006-04-28', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-29', '2006-10-31', '2006-11-30', '2006-12-29')
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2006-01-25 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2006-02-28 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2006-03-31 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2006-04-28 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2006-05-31 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2006-06-30 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2006-07-31 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2006-08-31 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2006-09-29 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2006-10-31 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2006-11-30 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2006-12-29 is existed.
[INFO] 2018-06-28 19:39:54 E:\02_work\sw\db\indicator\2006.db is disconnected.
[INFO] 2018-06-28 19:39:54 E:\02_work\sw\db\indicator\2007.db is connected.
[INFO] 2018-06-28 19:39:54 SELECT DISTINCT(date) FROM VAL_PE_DEDUCTED_TTM WHERE date in ('2007-01-31', '2007-02-28', '2007-03-30', '2007-04-30', '2007-05-31', '2007-06-29', '2007-07-31', '2007-08-31', '2007-09-28', '2007-10-31', '2007-11-30', '2007-12-28')
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2007-01-31 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2007-02-28 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2007-03-30 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2007-04-30 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2007-05-31 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2007-06-29 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2007-07-31 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2007-08-31 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2007-09-28 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2007-10-31 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2007-11-30 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2007-12-28 is existed.
[INFO] 2018-06-28 19:39:54 E:\02_work\sw\db\indicator\2007.db is disconnected.
[INFO] 2018-06-28 19:39:54 E:\02_work\sw\db\indicator\2008.db is connected.
[INFO] 2018-06-28 19:39:54 SELECT DISTINCT(date) FROM VAL_PE_DEDUCTED_TTM WHERE date in ('2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-30', '2008-06-30', '2008-07-31', '2008-08-29', '2008-09-26', '2008-10-31', '2008-11-28', '2008-12-31')
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2008-01-31 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2008-02-29 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2008-03-31 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2008-04-30 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2008-05-30 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2008-06-30 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2008-07-31 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2008-08-29 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2008-09-26 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2008-10-31 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2008-11-28 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2008-12-31 is existed.
[INFO] 2018-06-28 19:39:54 E:\02_work\sw\db\indicator\2008.db is disconnected.
[INFO] 2018-06-28 19:39:54 E:\02_work\sw\db\indicator\2009.db is connected.
[INFO] 2018-06-28 19:39:54 SELECT DISTINCT(date) FROM VAL_PE_DEDUCTED_TTM WHERE date in ('2009-01-23', '2009-02-27', '2009-03-31', '2009-04-30', '2009-05-27', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-30', '2009-11-30', '2009-12-31')
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2009-01-23 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2009-02-27 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2009-03-31 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2009-04-30 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2009-05-27 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2009-06-30 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2009-07-31 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2009-08-31 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2009-09-30 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2009-10-30 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2009-11-30 is existed.
[WARN] 2018-06-28 19:39:54 VAL_PE_DEDUCTED_TTM records on 2009-12-31 is existed.
[INFO] 2018-06-28 19:39:54 E:\02_work\sw\db\indicator\2009.db is disconnected.
[INFO] 2018-06-28 19:39:54 E:\02_work\sw\db\indicator\2010.db is connected.
[INFO] 2018-06-28 19:39:54 SELECT DISTINCT(date) FROM VAL_PE_DEDUCTED_TTM WHERE date in ('2010-01-29', '2010-02-26', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-30', '2010-08-31', '2010-09-30', '2010-10-29', '2010-11-30', '2010-12-31')

[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2010-01-29 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2010-02-26 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2010-03-31 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2010-04-30 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2010-05-31 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2010-06-30 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2010-07-30 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2010-08-31 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2010-09-30 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2010-10-29 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2010-11-30 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2010-12-31 is existed.
[INFO] 2018-06-28 19:39:55 E:\02_work\sw\db\indicator\2010.db is disconnected.
[INFO] 2018-06-28 19:39:55 E:\02_work\sw\db\indicator\2011.db is connected.
[INFO] 2018-06-28 19:39:55 SELECT DISTINCT(date) FROM VAL_PE_DEDUCTED_TTM WHERE date in ('2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29', '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30')
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2011-01-31 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2011-02-28 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2011-03-31 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2011-04-29 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2011-05-31 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2011-06-30 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2011-07-29 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2011-08-31 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2011-09-30 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2011-10-31 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2011-11-30 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2011-12-30 is existed.
[INFO] 2018-06-28 19:39:55 E:\02_work\sw\db\indicator\2011.db is disconnected.
[INFO] 2018-06-28 19:39:55 E:\02_work\sw\db\indicator\2012.db is connected.
[INFO] 2018-06-28 19:39:55 SELECT DISTINCT(date) FROM VAL_PE_DEDUCTED_TTM WHERE date in ('2012-01-31', '2012-02-29', '2012-03-30', '2012-04-27', '2012-05-31', '2012-06-29', '2012-07-31', '2012-08-31', '2012-09-28', '2012-10-31', '2012-11-30', '2012-12-31')
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2012-01-31 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2012-02-29 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2012-03-30 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2012-04-27 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2012-05-31 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2012-06-29 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2012-07-31 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2012-08-31 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2012-09-28 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2012-10-31 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2012-11-30 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2012-12-31 is existed.
[INFO] 2018-06-28 19:39:55 E:\02_work\sw\db\indicator\2012.db is disconnected.
[INFO] 2018-06-28 19:39:55 E:\02_work\sw\db\indicator\2013.db is connected.
[INFO] 2018-06-28 19:39:55 SELECT DISTINCT(date) FROM VAL_PE_DEDUCTED_TTM WHERE date in ('2013-01-31', '2013-02-28', '2013-03-29', '2013-04-26', '2013-05-31', '2013-06-28', '2013-07-31', '2013-08-30', '2013-09-30', '2013-10-31', '2013-11-29', '2013-12-31')
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2013-01-31 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2013-02-28 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2013-03-29 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2013-04-26 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2013-05-31 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2013-06-28 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2013-07-31 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2013-08-30 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2013-09-30 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2013-10-31 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2013-11-29 is existed.
[WARN] 2018-06-28 19:39:55 VAL_PE_DEDUCTED_TTM records on 2013-12-31 is existed.
[INFO] 2018-06-28 19:39:55 E:\02_work\sw\db\indicator\2013.db is disconnected.
[INFO] 2018-06-28 19:39:55 E:\02_work\sw\db\indicator\2014.db is connected.
[INFO] 2018-06-28 19:39:55 SELECT DISTINCT(date) FROM VAL_PE_DEDUCTED_TTM WHERE date in ('2014-01-30', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-30', '2014-06-30', '2014-07-31', '2014-08-29', '2014-09-30', '2014-10-31', '2014-11-28', '2014-12-31')
[WARN] 2018-06-28 19:39:56 VAL_PE_DEDUCTED_TTM records on 2014-01-30 is existed.
[WARN] 2018-06-28 19:39:56 VAL_PE_DEDUCTED_TTM records on 2014-02-28 is existed.
[WARN] 2018-06-28 19:39:56 VAL_PE_DEDUCTED_TTM records on 2014-03-31 is existed.
[WARN] 2018-06-28 19:39:56 VAL_PE_DEDUCTED_TTM records on 2014-04-30 is existed.
[WARN] 2018-06-28 19:39:56 VAL_PE_DEDUCTED_TTM records on 2014-05-30 is existed.
[WARN] 2018-06-28 19:39:56 VAL_PE_DEDUCTED_TTM records on 2014-06-30 is existed.
[WARN] 2018-06-28 19:39:56 VAL_PE_DEDUCTED_TTM records on 2014-07-31 is existed.
[WARN] 2018-06-28 19:39:56 VAL_PE_DEDUCTED_TTM records on 2014-08-29 is existed.
[WARN] 2018-06-28 19:39:56 VAL_PE_DEDUCTED_TTM records on 2014-09-30 is existed.
[WARN] 2018-06-28 19:39:56 VAL_PE_DEDUCTED_TTM records on 2014-10-31 is existed.
[WARN] 2018-06-28 19:39:56 VAL_PE_DEDUCTED_TTM records on 2014-11-28 is existed.
[WARN] 2018-06-28 19:39:56 VAL_PE_DEDUCTED_TTM records on 2014-12-31 is existed.
[INFO] 2018-06-28 19:39:56 E:\02_work\sw\db\indicator\2014.db is disconnected.
[INFO] 2018-06-28 19:39:56 E:\02_work\sw\db\indicator\2015.db is connected.
[INFO] 2018-06-28 19:39:56 SELECT DISTINCT(date) FROM VAL_PE_DEDUCTED_TTM WHERE date in ('2015-01-30', '2015-02-27', '2015-03-31', '2015-04-30', '2015-05-29', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-30', '2015-11-30', '2015-12-31')
[WARN] 2018-06-28 19:39:56 VAL_PE_DEDUCTED_TTM records on 2015-01-30 is existed.
[WARN] 2018-06-28 19:39:56 VAL_PE_DEDUCTED_TTM records on 2015-02-27 is existed.
[WARN] 2018-06-28 19:39:56 VAL_PE_DEDUCTED_TTM records on 2015-03-31 is existed.
[WARN] 2018-06-28 19:39:56 VAL_PE_DEDUCTED_TTM records on 2015-04-30 is existed.
[WARN] 2018-06-28 19:39:56 VAL_PE_DEDUCTED_TTM records on 2015-05-29 is existed.
[WARN] 2018-06-28 19:39:56 VAL_PE_DEDUCTED_TTM records on 2015-06-30 is existed.
[WARN] 2018-06-28 19:39:56 VAL_PE_DEDUCTED_TTM records on 2015-07-31 is existed.
[WARN] 2018-06-28 19:39:56 VAL_PE_DEDUCTED_TTM records on 2015-08-31 is existed.
[WARN] 2018-06-28 19:39:56 VAL_PE_DEDUCTED_TTM records on 2015-09-30 is existed.
[WARN] 2018-06-28 19:39:56 VAL_PE_DEDUCTED_TTM records on 2015-10-30 is existed.
[WARN] 2018-06-28 19:39:56 VAL_PE_DEDUCTED_TTM records on 2015-11-30 is existed.
[WARN] 2018-06-28 19:39:56 VAL_PE_DEDUCTED_TTM records on 2015-12-31 is existed.
[INFO] 2018-06-28 19:39:56 E:\02_work\sw\db\indicator\2015.db is disconnected.
[INFO] 2018-06-28 19:39:56 E:\02_work\sw\db\indicator\2016.db is connected.
[INFO] 2018-06-28 19:39:56 SELECT DISTINCT(date) FROM VAL_PE_DEDUCTED_TTM WHERE date in ('2016-01-29', '2016-02-29', '2016-03-31', '2016-04-29', '2016-05-31', '2016-06-30', '2016-07-29', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-30')

[WARN] 2018-06-28 19:39:56 VAL_PE_DEDUCTED_TTM records on 2016-01-29 is existed.
[WARN] 2018-06-28 19:39:56 VAL_PE_DEDUCTED_TTM records on 2016-02-29 is existed.
[WARN] 2018-06-28 19:39:56 VAL_PE_DEDUCTED_TTM records on 2016-03-31 is existed.
[WARN] 2018-06-28 19:39:56 VAL_PE_DEDUCTED_TTM records on 2016-04-29 is existed.
[WARN] 2018-06-28 19:39:56 VAL_PE_DEDUCTED_TTM records on 2016-05-31 is existed.
[WARN] 2018-06-28 19:39:56 VAL_PE_DEDUCTED_TTM records on 2016-06-30 is existed.
[WARN] 2018-06-28 19:39:56 VAL_PE_DEDUCTED_TTM records on 2016-07-29 is existed.
[WARN] 2018-06-28 19:39:56 VAL_PE_DEDUCTED_TTM records on 2016-08-31 is existed.
[WARN] 2018-06-28 19:39:56 VAL_PE_DEDUCTED_TTM records on 2016-09-30 is existed.
[WARN] 2018-06-28 19:39:56 VAL_PE_DEDUCTED_TTM records on 2016-10-31 is existed.
[WARN] 2018-06-28 19:39:56 VAL_PE_DEDUCTED_TTM records on 2016-11-30 is existed.
[WARN] 2018-06-28 19:39:56 VAL_PE_DEDUCTED_TTM records on 2016-12-30 is existed.
[INFO] 2018-06-28 19:39:56 E:\02_work\sw\db\indicator\2016.db is disconnected.
[INFO] 2018-06-28 19:39:56 E:\02_work\sw\db\indicator\2017.db is connected.
[INFO] 2018-06-28 19:39:56 SELECT DISTINCT(date) FROM VAL_PE_DEDUCTED_TTM WHERE date in ('2017-01-26', '2017-02-28', '2017-03-31', '2017-04-28', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-29', '2017-10-31', '2017-11-30', '2017-12-29')
[WARN] 2018-06-28 19:39:57 VAL_PE_DEDUCTED_TTM records on 2017-01-26 is existed.
[WARN] 2018-06-28 19:39:57 VAL_PE_DEDUCTED_TTM records on 2017-02-28 is existed.
[WARN] 2018-06-28 19:39:57 VAL_PE_DEDUCTED_TTM records on 2017-03-31 is existed.
[WARN] 2018-06-28 19:39:57 VAL_PE_DEDUCTED_TTM records on 2017-04-28 is existed.
[WARN] 2018-06-28 19:39:57 VAL_PE_DEDUCTED_TTM records on 2017-05-31 is existed.
[WARN] 2018-06-28 19:39:57 VAL_PE_DEDUCTED_TTM records on 2017-06-30 is existed.
[WARN] 2018-06-28 19:39:57 VAL_PE_DEDUCTED_TTM records on 2017-07-31 is existed.
[WARN] 2018-06-28 19:39:57 VAL_PE_DEDUCTED_TTM records on 2017-08-31 is existed.
[WARN] 2018-06-28 19:39:57 VAL_PE_DEDUCTED_TTM records on 2017-09-29 is existed.
[WARN] 2018-06-28 19:39:57 VAL_PE_DEDUCTED_TTM records on 2017-10-31 is existed.
[WARN] 2018-06-28 19:39:57 VAL_PE_DEDUCTED_TTM records on 2017-11-30 is existed.
[WARN] 2018-06-28 19:39:57 VAL_PE_DEDUCTED_TTM records on 2017-12-29 is existed.
[INFO] 2018-06-28 19:39:57 E:\02_work\sw\db\indicator\2017.db is disconnected.
[INFO] 2018-06-28 19:39:57 E:\02_work\sw\db\indicator\2018.db is connected.
[INFO] 2018-06-28 19:39:57 SELECT DISTINCT(date) FROM VAL_PE_DEDUCTED_TTM WHERE date in ('2018-01-31', '2018-02-28', '2018-03-30', '2018-04-27', '2018-05-31')
[WARN] 2018-06-28 19:39:57 VAL_PE_DEDUCTED_TTM records on 2018-01-31 is existed.
[WARN] 2018-06-28 19:39:57 VAL_PE_DEDUCTED_TTM records on 2018-02-28 is existed.
[WARN] 2018-06-28 19:39:57 VAL_PE_DEDUCTED_TTM records on 2018-03-30 is existed.
[WARN] 2018-06-28 19:39:57 VAL_PE_DEDUCTED_TTM records on 2018-04-27 is existed.
[WARN] 2018-06-28 19:39:57 VAL_PE_DEDUCTED_TTM records on 2018-05-31 is existed.
[INFO] 2018-06-28 19:39:57 E:\02_work\sw\db\indicator\2018.db is disconnected.
[INFO] 2018-06-28 19:40:06 schema updated: VAL_PE_DEDUCTED_TTM
[INFO] 2018-06-28 19:40:06 indicator VAL_PE_DEDUCTED_TTM is updated.
[INFO] 2018-06-28 19:40:06 ------------------------------------------
[INFO] 2018-06-28 19:40:06 Updating indicator VOLUME
[INFO] 2018-06-28 19:40:06 E:\02_work\sw\db\indicator\2005.db is connected.
[INFO] 2018-06-28 19:40:06 SELECT DISTINCT(date) FROM VOLUME WHERE date in ('2005-04-29', '2005-05-31', '2005-06-30', '2005-07-29', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-30')
[WARN] 2018-06-28 19:40:06 VOLUME records on 2005-04-29 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2005-05-31 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2005-06-30 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2005-07-29 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2005-08-31 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2005-09-30 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2005-10-31 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2005-11-30 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2005-12-30 is existed.
[INFO] 2018-06-28 19:40:06 E:\02_work\sw\db\indicator\2005.db is disconnected.
[INFO] 2018-06-28 19:40:06 E:\02_work\sw\db\indicator\2006.db is connected.
[INFO] 2018-06-28 19:40:06 SELECT DISTINCT(date) FROM VOLUME WHERE date in ('2006-01-25', '2006-02-28', '2006-03-31', '2006-04-28', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-29', '2006-10-31', '2006-11-30', '2006-12-29')
[WARN] 2018-06-28 19:40:06 VOLUME records on 2006-01-25 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2006-02-28 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2006-03-31 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2006-04-28 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2006-05-31 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2006-06-30 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2006-07-31 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2006-08-31 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2006-09-29 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2006-10-31 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2006-11-30 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2006-12-29 is existed.
[INFO] 2018-06-28 19:40:06 E:\02_work\sw\db\indicator\2006.db is disconnected.
[INFO] 2018-06-28 19:40:06 E:\02_work\sw\db\indicator\2007.db is connected.
[INFO] 2018-06-28 19:40:06 SELECT DISTINCT(date) FROM VOLUME WHERE date in ('2007-01-31', '2007-02-28', '2007-03-30', '2007-04-30', '2007-05-31', '2007-06-29', '2007-07-31', '2007-08-31', '2007-09-28', '2007-10-31', '2007-11-30', '2007-12-28')
[WARN] 2018-06-28 19:40:06 VOLUME records on 2007-01-31 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2007-02-28 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2007-03-30 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2007-04-30 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2007-05-31 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2007-06-29 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2007-07-31 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2007-08-31 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2007-09-28 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2007-10-31 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2007-11-30 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2007-12-28 is existed.
[INFO] 2018-06-28 19:40:06 E:\02_work\sw\db\indicator\2007.db is disconnected.
[INFO] 2018-06-28 19:40:06 E:\02_work\sw\db\indicator\2008.db is connected.
[INFO] 2018-06-28 19:40:06 SELECT DISTINCT(date) FROM VOLUME WHERE date in ('2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-30', '2008-06-30', '2008-07-31', '2008-08-29', '2008-09-26', '2008-10-31', '2008-11-28', '2008-12-31')
[WARN] 2018-06-28 19:40:06 VOLUME records on 2008-01-31 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2008-02-29 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2008-03-31 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2008-04-30 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2008-05-30 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2008-06-30 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2008-07-31 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2008-08-29 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2008-09-26 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2008-10-31 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2008-11-28 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2008-12-31 is existed.
[INFO] 2018-06-28 19:40:06 E:\02_work\sw\db\indicator\2008.db is disconnected.
[INFO] 2018-06-28 19:40:06 E:\02_work\sw\db\indicator\2009.db is connected.
[INFO] 2018-06-28 19:40:06 SELECT DISTINCT(date) FROM VOLUME WHERE date in ('2009-01-23', '2009-02-27', '2009-03-31', '2009-04-30', '2009-05-27', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-30', '2009-11-30', '2009-12-31')

[WARN] 2018-06-28 19:40:06 VOLUME records on 2009-01-23 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2009-02-27 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2009-03-31 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2009-04-30 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2009-05-27 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2009-06-30 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2009-07-31 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2009-08-31 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2009-09-30 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2009-10-30 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2009-11-30 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2009-12-31 is existed.
[INFO] 2018-06-28 19:40:06 E:\02_work\sw\db\indicator\2009.db is disconnected.
[INFO] 2018-06-28 19:40:06 E:\02_work\sw\db\indicator\2010.db is connected.
[INFO] 2018-06-28 19:40:06 SELECT DISTINCT(date) FROM VOLUME WHERE date in ('2010-01-29', '2010-02-26', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-30', '2010-08-31', '2010-09-30', '2010-10-29', '2010-11-30', '2010-12-31')
[WARN] 2018-06-28 19:40:06 VOLUME records on 2010-01-29 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2010-02-26 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2010-03-31 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2010-04-30 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2010-05-31 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2010-06-30 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2010-07-30 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2010-08-31 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2010-09-30 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2010-10-29 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2010-11-30 is existed.
[WARN] 2018-06-28 19:40:06 VOLUME records on 2010-12-31 is existed.
[INFO] 2018-06-28 19:40:06 E:\02_work\sw\db\indicator\2010.db is disconnected.
[INFO] 2018-06-28 19:40:06 E:\02_work\sw\db\indicator\2011.db is connected.
[INFO] 2018-06-28 19:40:07 SELECT DISTINCT(date) FROM VOLUME WHERE date in ('2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29', '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30')
[WARN] 2018-06-28 19:40:07 VOLUME records on 2011-01-31 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2011-02-28 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2011-03-31 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2011-04-29 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2011-05-31 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2011-06-30 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2011-07-29 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2011-08-31 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2011-09-30 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2011-10-31 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2011-11-30 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2011-12-30 is existed.
[INFO] 2018-06-28 19:40:07 E:\02_work\sw\db\indicator\2011.db is disconnected.
[INFO] 2018-06-28 19:40:07 E:\02_work\sw\db\indicator\2012.db is connected.
[INFO] 2018-06-28 19:40:07 SELECT DISTINCT(date) FROM VOLUME WHERE date in ('2012-01-31', '2012-02-29', '2012-03-30', '2012-04-27', '2012-05-31', '2012-06-29', '2012-07-31', '2012-08-31', '2012-09-28', '2012-10-31', '2012-11-30', '2012-12-31')
[WARN] 2018-06-28 19:40:07 VOLUME records on 2012-01-31 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2012-02-29 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2012-03-30 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2012-04-27 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2012-05-31 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2012-06-29 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2012-07-31 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2012-08-31 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2012-09-28 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2012-10-31 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2012-11-30 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2012-12-31 is existed.
[INFO] 2018-06-28 19:40:07 E:\02_work\sw\db\indicator\2012.db is disconnected.
[INFO] 2018-06-28 19:40:07 E:\02_work\sw\db\indicator\2013.db is connected.
[INFO] 2018-06-28 19:40:07 SELECT DISTINCT(date) FROM VOLUME WHERE date in ('2013-01-31', '2013-02-28', '2013-03-29', '2013-04-26', '2013-05-31', '2013-06-28', '2013-07-31', '2013-08-30', '2013-09-30', '2013-10-31', '2013-11-29', '2013-12-31')
[WARN] 2018-06-28 19:40:07 VOLUME records on 2013-01-31 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2013-02-28 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2013-03-29 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2013-04-26 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2013-05-31 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2013-06-28 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2013-07-31 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2013-08-30 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2013-09-30 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2013-10-31 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2013-11-29 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2013-12-31 is existed.
[INFO] 2018-06-28 19:40:07 E:\02_work\sw\db\indicator\2013.db is disconnected.
[INFO] 2018-06-28 19:40:07 E:\02_work\sw\db\indicator\2014.db is connected.
[INFO] 2018-06-28 19:40:07 SELECT DISTINCT(date) FROM VOLUME WHERE date in ('2014-01-30', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-30', '2014-06-30', '2014-07-31', '2014-08-29', '2014-09-30', '2014-10-31', '2014-11-28', '2014-12-31')
[WARN] 2018-06-28 19:40:07 VOLUME records on 2014-01-30 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2014-02-28 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2014-03-31 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2014-04-30 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2014-05-30 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2014-06-30 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2014-07-31 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2014-08-29 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2014-09-30 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2014-10-31 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2014-11-28 is existed.
[WARN] 2018-06-28 19:40:07 VOLUME records on 2014-12-31 is existed.
[INFO] 2018-06-28 19:40:08 E:\02_work\sw\db\indicator\2014.db is disconnected.
[INFO] 2018-06-28 19:40:08 E:\02_work\sw\db\indicator\2015.db is connected.
[INFO] 2018-06-28 19:40:08 SELECT DISTINCT(date) FROM VOLUME WHERE date in ('2015-01-30', '2015-02-27', '2015-03-31', '2015-04-30', '2015-05-29', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-30', '2015-11-30', '2015-12-31')
[WARN] 2018-06-28 19:40:08 VOLUME records on 2015-01-30 is existed.
[WARN] 2018-06-28 19:40:08 VOLUME records on 2015-02-27 is existed.
[WARN] 2018-06-28 19:40:08 VOLUME records on 2015-03-31 is existed.
[WARN] 2018-06-28 19:40:08 VOLUME records on 2015-04-30 is existed.
[WARN] 2018-06-28 19:40:08 VOLUME records on 2015-05-29 is existed.
[WARN] 2018-06-28 19:40:08 VOLUME records on 2015-06-30 is existed.
[WARN] 2018-06-28 19:40:08 VOLUME records on 2015-07-31 is existed.
[WARN] 2018-06-28 19:40:08 VOLUME records on 2015-08-31 is existed.
[WARN] 2018-06-28 19:40:08 VOLUME records on 2015-09-30 is existed.
[WARN] 2018-06-28 19:40:08 VOLUME records on 2015-10-30 is existed.
[WARN] 2018-06-28 19:40:08 VOLUME records on 2015-11-30 is existed.
[WARN] 2018-06-28 19:40:08 VOLUME records on 2015-12-31 is existed.
[INFO] 2018-06-28 19:40:08 E:\02_work\sw\db\indicator\2015.db is disconnected.
[INFO] 2018-06-28 19:40:08 E:\02_work\sw\db\indicator\2016.db is connected.
[INFO] 2018-06-28 19:40:08 SELECT DISTINCT(date) FROM VOLUME WHERE date in ('2016-01-29', '2016-02-29', '2016-03-31', '2016-04-29', '2016-05-31', '2016-06-30', '2016-07-29', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-30')

[WARN] 2018-06-28 19:40:08 VOLUME records on 2016-01-29 is existed.
[WARN] 2018-06-28 19:40:08 VOLUME records on 2016-02-29 is existed.
[WARN] 2018-06-28 19:40:08 VOLUME records on 2016-03-31 is existed.
[WARN] 2018-06-28 19:40:08 VOLUME records on 2016-04-29 is existed.
[WARN] 2018-06-28 19:40:08 VOLUME records on 2016-05-31 is existed.
[WARN] 2018-06-28 19:40:08 VOLUME records on 2016-06-30 is existed.
[WARN] 2018-06-28 19:40:08 VOLUME records on 2016-07-29 is existed.
[WARN] 2018-06-28 19:40:08 VOLUME records on 2016-08-31 is existed.
[WARN] 2018-06-28 19:40:08 VOLUME records on 2016-09-30 is existed.
[WARN] 2018-06-28 19:40:08 VOLUME records on 2016-10-31 is existed.
[WARN] 2018-06-28 19:40:08 VOLUME records on 2016-11-30 is existed.
[WARN] 2018-06-28 19:40:08 VOLUME records on 2016-12-30 is existed.
[INFO] 2018-06-28 19:40:08 E:\02_work\sw\db\indicator\2016.db is disconnected.
[INFO] 2018-06-28 19:40:08 E:\02_work\sw\db\indicator\2017.db is connected.
[INFO] 2018-06-28 19:40:08 SELECT DISTINCT(date) FROM VOLUME WHERE date in ('2017-01-26', '2017-02-28', '2017-03-31', '2017-04-28', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-29', '2017-10-31', '2017-11-30', '2017-12-29')
[WARN] 2018-06-28 19:40:08 VOLUME records on 2017-01-26 is existed.
[WARN] 2018-06-28 19:40:08 VOLUME records on 2017-02-28 is existed.
[WARN] 2018-06-28 19:40:08 VOLUME records on 2017-03-31 is existed.
[WARN] 2018-06-28 19:40:08 VOLUME records on 2017-04-28 is existed.
[WARN] 2018-06-28 19:40:08 VOLUME records on 2017-05-31 is existed.
[WARN] 2018-06-28 19:40:08 VOLUME records on 2017-06-30 is existed.
[WARN] 2018-06-28 19:40:08 VOLUME records on 2017-07-31 is existed.
[WARN] 2018-06-28 19:40:08 VOLUME records on 2017-08-31 is existed.
[WARN] 2018-06-28 19:40:08 VOLUME records on 2017-09-29 is existed.
[WARN] 2018-06-28 19:40:08 VOLUME records on 2017-10-31 is existed.
[WARN] 2018-06-28 19:40:08 VOLUME records on 2017-11-30 is existed.
[WARN] 2018-06-28 19:40:08 VOLUME records on 2017-12-29 is existed.
[INFO] 2018-06-28 19:40:08 E:\02_work\sw\db\indicator\2017.db is disconnected.
[INFO] 2018-06-28 19:40:08 E:\02_work\sw\db\indicator\2018.db is connected.
[INFO] 2018-06-28 19:40:08 SELECT DISTINCT(date) FROM VOLUME WHERE date in ('2018-01-31', '2018-02-28', '2018-03-30', '2018-04-27', '2018-05-31')
[WARN] 2018-06-28 19:40:08 VOLUME records on 2018-01-31 is existed.
[WARN] 2018-06-28 19:40:08 VOLUME records on 2018-02-28 is existed.
[WARN] 2018-06-28 19:40:08 VOLUME records on 2018-03-30 is existed.
[WARN] 2018-06-28 19:40:08 VOLUME records on 2018-04-27 is existed.
[WARN] 2018-06-28 19:40:08 VOLUME records on 2018-05-31 is existed.
[INFO] 2018-06-28 19:40:08 E:\02_work\sw\db\indicator\2018.db is disconnected.
[INFO] 2018-06-28 19:40:14 schema updated: VOLUME
[INFO] 2018-06-28 19:40:14 indicator VOLUME is updated.
[INFO] 2018-06-28 19:40:14 ------------------------------------------
[INFO] 2018-06-28 19:40:14 Updating indicator WEST_AVGNP_YOY
[INFO] 2018-06-28 19:40:14 E:\02_work\sw\db\indicator\2005.db is connected.
[INFO] 2018-06-28 19:40:14 SELECT DISTINCT(date) FROM WEST_AVGNP_YOY WHERE date in ('2005-04-29', '2005-05-31', '2005-06-30', '2005-07-29', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-30')
[WARN] 2018-06-28 19:40:14 WEST_AVGNP_YOY records on 2005-04-29 is existed.
[WARN] 2018-06-28 19:40:14 WEST_AVGNP_YOY records on 2005-05-31 is existed.
[WARN] 2018-06-28 19:40:14 WEST_AVGNP_YOY records on 2005-06-30 is existed.
[WARN] 2018-06-28 19:40:14 WEST_AVGNP_YOY records on 2005-07-29 is existed.
[WARN] 2018-06-28 19:40:14 WEST_AVGNP_YOY records on 2005-08-31 is existed.
[WARN] 2018-06-28 19:40:14 WEST_AVGNP_YOY records on 2005-09-30 is existed.
[WARN] 2018-06-28 19:40:14 WEST_AVGNP_YOY records on 2005-10-31 is existed.
[WARN] 2018-06-28 19:40:14 WEST_AVGNP_YOY records on 2005-11-30 is existed.
[WARN] 2018-06-28 19:40:14 WEST_AVGNP_YOY records on 2005-12-30 is existed.
[INFO] 2018-06-28 19:40:14 E:\02_work\sw\db\indicator\2005.db is disconnected.
[INFO] 2018-06-28 19:40:14 E:\02_work\sw\db\indicator\2006.db is connected.
[INFO] 2018-06-28 19:40:14 SELECT DISTINCT(date) FROM WEST_AVGNP_YOY WHERE date in ('2006-01-25', '2006-02-28', '2006-03-31', '2006-04-28', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-29', '2006-10-31', '2006-11-30', '2006-12-29')
[WARN] 2018-06-28 19:40:14 WEST_AVGNP_YOY records on 2006-01-25 is existed.
[WARN] 2018-06-28 19:40:14 WEST_AVGNP_YOY records on 2006-02-28 is existed.
[WARN] 2018-06-28 19:40:14 WEST_AVGNP_YOY records on 2006-03-31 is existed.
[WARN] 2018-06-28 19:40:14 WEST_AVGNP_YOY records on 2006-04-28 is existed.
[WARN] 2018-06-28 19:40:14 WEST_AVGNP_YOY records on 2006-05-31 is existed.
[WARN] 2018-06-28 19:40:14 WEST_AVGNP_YOY records on 2006-06-30 is existed.
[WARN] 2018-06-28 19:40:14 WEST_AVGNP_YOY records on 2006-07-31 is existed.
[WARN] 2018-06-28 19:40:14 WEST_AVGNP_YOY records on 2006-08-31 is existed.
[WARN] 2018-06-28 19:40:14 WEST_AVGNP_YOY records on 2006-09-29 is existed.
[WARN] 2018-06-28 19:40:14 WEST_AVGNP_YOY records on 2006-10-31 is existed.
[WARN] 2018-06-28 19:40:14 WEST_AVGNP_YOY records on 2006-11-30 is existed.
[WARN] 2018-06-28 19:40:14 WEST_AVGNP_YOY records on 2006-12-29 is existed.
[INFO] 2018-06-28 19:40:14 E:\02_work\sw\db\indicator\2006.db is disconnected.
[INFO] 2018-06-28 19:40:14 E:\02_work\sw\db\indicator\2007.db is connected.
[INFO] 2018-06-28 19:40:14 SELECT DISTINCT(date) FROM WEST_AVGNP_YOY WHERE date in ('2007-01-31', '2007-02-28', '2007-03-30', '2007-04-30', '2007-05-31', '2007-06-29', '2007-07-31', '2007-08-31', '2007-09-28', '2007-10-31', '2007-11-30', '2007-12-28')
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2007-01-31 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2007-02-28 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2007-03-30 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2007-04-30 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2007-05-31 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2007-06-29 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2007-07-31 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2007-08-31 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2007-09-28 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2007-10-31 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2007-11-30 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2007-12-28 is existed.
[INFO] 2018-06-28 19:40:15 E:\02_work\sw\db\indicator\2007.db is disconnected.
[INFO] 2018-06-28 19:40:15 E:\02_work\sw\db\indicator\2008.db is connected.
[INFO] 2018-06-28 19:40:15 SELECT DISTINCT(date) FROM WEST_AVGNP_YOY WHERE date in ('2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-30', '2008-06-30', '2008-07-31', '2008-08-29', '2008-09-26', '2008-10-31', '2008-11-28', '2008-12-31')
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2008-01-31 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2008-02-29 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2008-03-31 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2008-04-30 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2008-05-30 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2008-06-30 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2008-07-31 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2008-08-29 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2008-09-26 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2008-10-31 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2008-11-28 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2008-12-31 is existed.
[INFO] 2018-06-28 19:40:15 E:\02_work\sw\db\indicator\2008.db is disconnected.
[INFO] 2018-06-28 19:40:15 E:\02_work\sw\db\indicator\2009.db is connected.
[INFO] 2018-06-28 19:40:15 SELECT DISTINCT(date) FROM WEST_AVGNP_YOY WHERE date in ('2009-01-23', '2009-02-27', '2009-03-31', '2009-04-30', '2009-05-27', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-30', '2009-11-30', '2009-12-31')
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2009-01-23 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2009-02-27 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2009-03-31 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2009-04-30 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2009-05-27 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2009-06-30 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2009-07-31 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2009-08-31 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2009-09-30 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2009-10-30 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2009-11-30 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2009-12-31 is existed.
[INFO] 2018-06-28 19:40:15 E:\02_work\sw\db\indicator\2009.db is disconnected.
[INFO] 2018-06-28 19:40:15 E:\02_work\sw\db\indicator\2010.db is connected.
[INFO] 2018-06-28 19:40:15 SELECT DISTINCT(date) FROM WEST_AVGNP_YOY WHERE date in ('2010-01-29', '2010-02-26', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-30', '2010-08-31', '2010-09-30', '2010-10-29', '2010-11-30', '2010-12-31')

[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2010-01-29 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2010-02-26 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2010-03-31 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2010-04-30 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2010-05-31 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2010-06-30 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2010-07-30 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2010-08-31 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2010-09-30 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2010-10-29 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2010-11-30 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2010-12-31 is existed.
[INFO] 2018-06-28 19:40:15 E:\02_work\sw\db\indicator\2010.db is disconnected.
[INFO] 2018-06-28 19:40:15 E:\02_work\sw\db\indicator\2011.db is connected.
[INFO] 2018-06-28 19:40:15 SELECT DISTINCT(date) FROM WEST_AVGNP_YOY WHERE date in ('2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29', '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30')
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2011-01-31 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2011-02-28 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2011-03-31 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2011-04-29 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2011-05-31 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2011-06-30 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2011-07-29 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2011-08-31 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2011-09-30 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2011-10-31 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2011-11-30 is existed.
[WARN] 2018-06-28 19:40:15 WEST_AVGNP_YOY records on 2011-12-30 is existed.
[INFO] 2018-06-28 19:40:15 E:\02_work\sw\db\indicator\2011.db is disconnected.
[INFO] 2018-06-28 19:40:15 E:\02_work\sw\db\indicator\2012.db is connected.
[INFO] 2018-06-28 19:40:15 SELECT DISTINCT(date) FROM WEST_AVGNP_YOY WHERE date in ('2012-01-31', '2012-02-29', '2012-03-30', '2012-04-27', '2012-05-31', '2012-06-29', '2012-07-31', '2012-08-31', '2012-09-28', '2012-10-31', '2012-11-30', '2012-12-31')
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2012-01-31 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2012-02-29 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2012-03-30 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2012-04-27 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2012-05-31 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2012-06-29 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2012-07-31 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2012-08-31 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2012-09-28 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2012-10-31 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2012-11-30 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2012-12-31 is existed.
[INFO] 2018-06-28 19:40:16 E:\02_work\sw\db\indicator\2012.db is disconnected.
[INFO] 2018-06-28 19:40:16 E:\02_work\sw\db\indicator\2013.db is connected.
[INFO] 2018-06-28 19:40:16 SELECT DISTINCT(date) FROM WEST_AVGNP_YOY WHERE date in ('2013-01-31', '2013-02-28', '2013-03-29', '2013-04-26', '2013-05-31', '2013-06-28', '2013-07-31', '2013-08-30', '2013-09-30', '2013-10-31', '2013-11-29', '2013-12-31')
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2013-01-31 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2013-02-28 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2013-03-29 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2013-04-26 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2013-05-31 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2013-06-28 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2013-07-31 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2013-08-30 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2013-09-30 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2013-10-31 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2013-11-29 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2013-12-31 is existed.
[INFO] 2018-06-28 19:40:16 E:\02_work\sw\db\indicator\2013.db is disconnected.
[INFO] 2018-06-28 19:40:16 E:\02_work\sw\db\indicator\2014.db is connected.
[INFO] 2018-06-28 19:40:16 SELECT DISTINCT(date) FROM WEST_AVGNP_YOY WHERE date in ('2014-01-30', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-30', '2014-06-30', '2014-07-31', '2014-08-29', '2014-09-30', '2014-10-31', '2014-11-28', '2014-12-31')
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2014-01-30 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2014-02-28 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2014-03-31 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2014-04-30 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2014-05-30 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2014-06-30 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2014-07-31 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2014-08-29 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2014-09-30 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2014-10-31 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2014-11-28 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2014-12-31 is existed.
[INFO] 2018-06-28 19:40:16 E:\02_work\sw\db\indicator\2014.db is disconnected.
[INFO] 2018-06-28 19:40:16 E:\02_work\sw\db\indicator\2015.db is connected.
[INFO] 2018-06-28 19:40:16 SELECT DISTINCT(date) FROM WEST_AVGNP_YOY WHERE date in ('2015-01-30', '2015-02-27', '2015-03-31', '2015-04-30', '2015-05-29', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-30', '2015-11-30', '2015-12-31')
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2015-01-30 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2015-02-27 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2015-03-31 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2015-04-30 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2015-05-29 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2015-06-30 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2015-07-31 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2015-08-31 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2015-09-30 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2015-10-30 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2015-11-30 is existed.
[WARN] 2018-06-28 19:40:16 WEST_AVGNP_YOY records on 2015-12-31 is existed.
[INFO] 2018-06-28 19:40:16 E:\02_work\sw\db\indicator\2015.db is disconnected.
[INFO] 2018-06-28 19:40:16 E:\02_work\sw\db\indicator\2016.db is connected.
[INFO] 2018-06-28 19:40:16 SELECT DISTINCT(date) FROM WEST_AVGNP_YOY WHERE date in ('2016-01-29', '2016-02-29', '2016-03-31', '2016-04-29', '2016-05-31', '2016-06-30', '2016-07-29', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-30')

[WARN] 2018-06-28 19:40:17 WEST_AVGNP_YOY records on 2016-01-29 is existed.
[WARN] 2018-06-28 19:40:17 WEST_AVGNP_YOY records on 2016-02-29 is existed.
[WARN] 2018-06-28 19:40:17 WEST_AVGNP_YOY records on 2016-03-31 is existed.
[WARN] 2018-06-28 19:40:17 WEST_AVGNP_YOY records on 2016-04-29 is existed.
[WARN] 2018-06-28 19:40:17 WEST_AVGNP_YOY records on 2016-05-31 is existed.
[WARN] 2018-06-28 19:40:17 WEST_AVGNP_YOY records on 2016-06-30 is existed.
[WARN] 2018-06-28 19:40:17 WEST_AVGNP_YOY records on 2016-07-29 is existed.
[WARN] 2018-06-28 19:40:17 WEST_AVGNP_YOY records on 2016-08-31 is existed.
[WARN] 2018-06-28 19:40:17 WEST_AVGNP_YOY records on 2016-09-30 is existed.
[WARN] 2018-06-28 19:40:17 WEST_AVGNP_YOY records on 2016-10-31 is existed.
[WARN] 2018-06-28 19:40:17 WEST_AVGNP_YOY records on 2016-11-30 is existed.
[WARN] 2018-06-28 19:40:17 WEST_AVGNP_YOY records on 2016-12-30 is existed.
[INFO] 2018-06-28 19:40:17 E:\02_work\sw\db\indicator\2016.db is disconnected.
[INFO] 2018-06-28 19:40:17 E:\02_work\sw\db\indicator\2017.db is connected.
[INFO] 2018-06-28 19:40:17 SELECT DISTINCT(date) FROM WEST_AVGNP_YOY WHERE date in ('2017-01-26', '2017-02-28', '2017-03-31', '2017-04-28', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-29', '2017-10-31', '2017-11-30', '2017-12-29')
[WARN] 2018-06-28 19:40:17 WEST_AVGNP_YOY records on 2017-01-26 is existed.
[WARN] 2018-06-28 19:40:17 WEST_AVGNP_YOY records on 2017-02-28 is existed.
[WARN] 2018-06-28 19:40:17 WEST_AVGNP_YOY records on 2017-03-31 is existed.
[WARN] 2018-06-28 19:40:17 WEST_AVGNP_YOY records on 2017-04-28 is existed.
[WARN] 2018-06-28 19:40:17 WEST_AVGNP_YOY records on 2017-05-31 is existed.
[WARN] 2018-06-28 19:40:17 WEST_AVGNP_YOY records on 2017-06-30 is existed.
[WARN] 2018-06-28 19:40:17 WEST_AVGNP_YOY records on 2017-07-31 is existed.
[WARN] 2018-06-28 19:40:17 WEST_AVGNP_YOY records on 2017-08-31 is existed.
[WARN] 2018-06-28 19:40:17 WEST_AVGNP_YOY records on 2017-09-29 is existed.
[WARN] 2018-06-28 19:40:17 WEST_AVGNP_YOY records on 2017-10-31 is existed.
[WARN] 2018-06-28 19:40:17 WEST_AVGNP_YOY records on 2017-11-30 is existed.
[WARN] 2018-06-28 19:40:17 WEST_AVGNP_YOY records on 2017-12-29 is existed.
[INFO] 2018-06-28 19:40:17 E:\02_work\sw\db\indicator\2017.db is disconnected.
[INFO] 2018-06-28 19:40:17 E:\02_work\sw\db\indicator\2018.db is connected.
[INFO] 2018-06-28 19:40:17 SELECT DISTINCT(date) FROM WEST_AVGNP_YOY WHERE date in ('2018-01-31', '2018-02-28', '2018-03-30', '2018-04-27', '2018-05-31')
[WARN] 2018-06-28 19:40:17 WEST_AVGNP_YOY records on 2018-01-31 is existed.
[WARN] 2018-06-28 19:40:17 WEST_AVGNP_YOY records on 2018-02-28 is existed.
[WARN] 2018-06-28 19:40:17 WEST_AVGNP_YOY records on 2018-03-30 is existed.
[WARN] 2018-06-28 19:40:17 WEST_AVGNP_YOY records on 2018-04-27 is existed.
[WARN] 2018-06-28 19:40:17 WEST_AVGNP_YOY records on 2018-05-31 is existed.
[INFO] 2018-06-28 19:40:17 E:\02_work\sw\db\indicator\2018.db is disconnected.
[INFO] 2018-06-28 19:40:25 schema updated: WEST_AVGNP_YOY
[INFO] 2018-06-28 19:40:25 indicator WEST_AVGNP_YOY is updated.
[INFO] 2018-06-28 19:40:25 ------------------------------------------
[INFO] 2018-06-28 19:40:25 Updating indicator WEST_AVGROE_YOY
[INFO] 2018-06-28 19:40:25 E:\02_work\sw\db\indicator\2005.db is connected.
[INFO] 2018-06-28 19:40:25 SELECT DISTINCT(date) FROM WEST_AVGROE_YOY WHERE date in ('2005-04-29', '2005-05-31', '2005-06-30', '2005-07-29', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-30')
[WARN] 2018-06-28 19:40:25 WEST_AVGROE_YOY records on 2005-04-29 is existed.
[WARN] 2018-06-28 19:40:25 WEST_AVGROE_YOY records on 2005-05-31 is existed.
[WARN] 2018-06-28 19:40:25 WEST_AVGROE_YOY records on 2005-06-30 is existed.
[WARN] 2018-06-28 19:40:25 WEST_AVGROE_YOY records on 2005-07-29 is existed.
[WARN] 2018-06-28 19:40:25 WEST_AVGROE_YOY records on 2005-08-31 is existed.
[WARN] 2018-06-28 19:40:25 WEST_AVGROE_YOY records on 2005-09-30 is existed.
[WARN] 2018-06-28 19:40:25 WEST_AVGROE_YOY records on 2005-10-31 is existed.
[WARN] 2018-06-28 19:40:25 WEST_AVGROE_YOY records on 2005-11-30 is existed.
[WARN] 2018-06-28 19:40:25 WEST_AVGROE_YOY records on 2005-12-30 is existed.
[INFO] 2018-06-28 19:40:25 E:\02_work\sw\db\indicator\2005.db is disconnected.
[INFO] 2018-06-28 19:40:25 E:\02_work\sw\db\indicator\2006.db is connected.
[INFO] 2018-06-28 19:40:25 SELECT DISTINCT(date) FROM WEST_AVGROE_YOY WHERE date in ('2006-01-25', '2006-02-28', '2006-03-31', '2006-04-28', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-29', '2006-10-31', '2006-11-30', '2006-12-29')
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2006-01-25 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2006-02-28 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2006-03-31 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2006-04-28 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2006-05-31 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2006-06-30 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2006-07-31 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2006-08-31 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2006-09-29 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2006-10-31 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2006-11-30 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2006-12-29 is existed.
[INFO] 2018-06-28 19:40:26 E:\02_work\sw\db\indicator\2006.db is disconnected.
[INFO] 2018-06-28 19:40:26 E:\02_work\sw\db\indicator\2007.db is connected.
[INFO] 2018-06-28 19:40:26 SELECT DISTINCT(date) FROM WEST_AVGROE_YOY WHERE date in ('2007-01-31', '2007-02-28', '2007-03-30', '2007-04-30', '2007-05-31', '2007-06-29', '2007-07-31', '2007-08-31', '2007-09-28', '2007-10-31', '2007-11-30', '2007-12-28')
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2007-01-31 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2007-02-28 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2007-03-30 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2007-04-30 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2007-05-31 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2007-06-29 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2007-07-31 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2007-08-31 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2007-09-28 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2007-10-31 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2007-11-30 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2007-12-28 is existed.
[INFO] 2018-06-28 19:40:26 E:\02_work\sw\db\indicator\2007.db is disconnected.
[INFO] 2018-06-28 19:40:26 E:\02_work\sw\db\indicator\2008.db is connected.
[INFO] 2018-06-28 19:40:26 SELECT DISTINCT(date) FROM WEST_AVGROE_YOY WHERE date in ('2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-30', '2008-06-30', '2008-07-31', '2008-08-29', '2008-09-26', '2008-10-31', '2008-11-28', '2008-12-31')
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2008-01-31 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2008-02-29 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2008-03-31 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2008-04-30 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2008-05-30 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2008-06-30 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2008-07-31 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2008-08-29 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2008-09-26 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2008-10-31 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2008-11-28 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2008-12-31 is existed.
[INFO] 2018-06-28 19:40:26 E:\02_work\sw\db\indicator\2008.db is disconnected.
[INFO] 2018-06-28 19:40:26 E:\02_work\sw\db\indicator\2009.db is connected.
[INFO] 2018-06-28 19:40:26 SELECT DISTINCT(date) FROM WEST_AVGROE_YOY WHERE date in ('2009-01-23', '2009-02-27', '2009-03-31', '2009-04-30', '2009-05-27', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-30', '2009-11-30', '2009-12-31')
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2009-01-23 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2009-02-27 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2009-03-31 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2009-04-30 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2009-05-27 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2009-06-30 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2009-07-31 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2009-08-31 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2009-09-30 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2009-10-30 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2009-11-30 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2009-12-31 is existed.
[INFO] 2018-06-28 19:40:26 E:\02_work\sw\db\indicator\2009.db is disconnected.
[INFO] 2018-06-28 19:40:26 E:\02_work\sw\db\indicator\2010.db is connected.
[INFO] 2018-06-28 19:40:26 SELECT DISTINCT(date) FROM WEST_AVGROE_YOY WHERE date in ('2010-01-29', '2010-02-26', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-30', '2010-08-31', '2010-09-30', '2010-10-29', '2010-11-30', '2010-12-31')

[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2010-01-29 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2010-02-26 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2010-03-31 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2010-04-30 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2010-05-31 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2010-06-30 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2010-07-30 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2010-08-31 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2010-09-30 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2010-10-29 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2010-11-30 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2010-12-31 is existed.
[INFO] 2018-06-28 19:40:26 E:\02_work\sw\db\indicator\2010.db is disconnected.
[INFO] 2018-06-28 19:40:26 E:\02_work\sw\db\indicator\2011.db is connected.
[INFO] 2018-06-28 19:40:26 SELECT DISTINCT(date) FROM WEST_AVGROE_YOY WHERE date in ('2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29', '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30')
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2011-01-31 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2011-02-28 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2011-03-31 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2011-04-29 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2011-05-31 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2011-06-30 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2011-07-29 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2011-08-31 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2011-09-30 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2011-10-31 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2011-11-30 is existed.
[WARN] 2018-06-28 19:40:26 WEST_AVGROE_YOY records on 2011-12-30 is existed.
[INFO] 2018-06-28 19:40:26 E:\02_work\sw\db\indicator\2011.db is disconnected.
[INFO] 2018-06-28 19:40:26 E:\02_work\sw\db\indicator\2012.db is connected.
[INFO] 2018-06-28 19:40:26 SELECT DISTINCT(date) FROM WEST_AVGROE_YOY WHERE date in ('2012-01-31', '2012-02-29', '2012-03-30', '2012-04-27', '2012-05-31', '2012-06-29', '2012-07-31', '2012-08-31', '2012-09-28', '2012-10-31', '2012-11-30', '2012-12-31')
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2012-01-31 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2012-02-29 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2012-03-30 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2012-04-27 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2012-05-31 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2012-06-29 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2012-07-31 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2012-08-31 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2012-09-28 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2012-10-31 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2012-11-30 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2012-12-31 is existed.
[INFO] 2018-06-28 19:40:27 E:\02_work\sw\db\indicator\2012.db is disconnected.
[INFO] 2018-06-28 19:40:27 E:\02_work\sw\db\indicator\2013.db is connected.
[INFO] 2018-06-28 19:40:27 SELECT DISTINCT(date) FROM WEST_AVGROE_YOY WHERE date in ('2013-01-31', '2013-02-28', '2013-03-29', '2013-04-26', '2013-05-31', '2013-06-28', '2013-07-31', '2013-08-30', '2013-09-30', '2013-10-31', '2013-11-29', '2013-12-31')
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2013-01-31 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2013-02-28 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2013-03-29 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2013-04-26 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2013-05-31 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2013-06-28 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2013-07-31 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2013-08-30 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2013-09-30 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2013-10-31 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2013-11-29 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2013-12-31 is existed.
[INFO] 2018-06-28 19:40:27 E:\02_work\sw\db\indicator\2013.db is disconnected.
[INFO] 2018-06-28 19:40:27 E:\02_work\sw\db\indicator\2014.db is connected.
[INFO] 2018-06-28 19:40:27 SELECT DISTINCT(date) FROM WEST_AVGROE_YOY WHERE date in ('2014-01-30', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-30', '2014-06-30', '2014-07-31', '2014-08-29', '2014-09-30', '2014-10-31', '2014-11-28', '2014-12-31')
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2014-01-30 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2014-02-28 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2014-03-31 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2014-04-30 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2014-05-30 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2014-06-30 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2014-07-31 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2014-08-29 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2014-09-30 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2014-10-31 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2014-11-28 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2014-12-31 is existed.
[INFO] 2018-06-28 19:40:27 E:\02_work\sw\db\indicator\2014.db is disconnected.
[INFO] 2018-06-28 19:40:27 E:\02_work\sw\db\indicator\2015.db is connected.
[INFO] 2018-06-28 19:40:27 SELECT DISTINCT(date) FROM WEST_AVGROE_YOY WHERE date in ('2015-01-30', '2015-02-27', '2015-03-31', '2015-04-30', '2015-05-29', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-30', '2015-11-30', '2015-12-31')
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2015-01-30 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2015-02-27 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2015-03-31 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2015-04-30 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2015-05-29 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2015-06-30 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2015-07-31 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2015-08-31 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2015-09-30 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2015-10-30 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2015-11-30 is existed.
[WARN] 2018-06-28 19:40:27 WEST_AVGROE_YOY records on 2015-12-31 is existed.
[INFO] 2018-06-28 19:40:27 E:\02_work\sw\db\indicator\2015.db is disconnected.
[INFO] 2018-06-28 19:40:27 E:\02_work\sw\db\indicator\2016.db is connected.
[INFO] 2018-06-28 19:40:27 SELECT DISTINCT(date) FROM WEST_AVGROE_YOY WHERE date in ('2016-01-29', '2016-02-29', '2016-03-31', '2016-04-29', '2016-05-31', '2016-06-30', '2016-07-29', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-30')
[WARN] 2018-06-28 19:40:28 WEST_AVGROE_YOY records on 2016-01-29 is existed.
[WARN] 2018-06-28 19:40:28 WEST_AVGROE_YOY records on 2016-02-29 is existed.
[WARN] 2018-06-28 19:40:28 WEST_AVGROE_YOY records on 2016-03-31 is existed.
[WARN] 2018-06-28 19:40:28 WEST_AVGROE_YOY records on 2016-04-29 is existed.
[WARN] 2018-06-28 19:40:28 WEST_AVGROE_YOY records on 2016-05-31 is existed.
[WARN] 2018-06-28 19:40:28 WEST_AVGROE_YOY records on 2016-06-30 is existed.
[WARN] 2018-06-28 19:40:28 WEST_AVGROE_YOY records on 2016-07-29 is existed.
[WARN] 2018-06-28 19:40:28 WEST_AVGROE_YOY records on 2016-08-31 is existed.
[WARN] 2018-06-28 19:40:28 WEST_AVGROE_YOY records on 2016-09-30 is existed.
[WARN] 2018-06-28 19:40:28 WEST_AVGROE_YOY records on 2016-10-31 is existed.
[WARN] 2018-06-28 19:40:28 WEST_AVGROE_YOY records on 2016-11-30 is existed.
[WARN] 2018-06-28 19:40:28 WEST_AVGROE_YOY records on 2016-12-30 is existed.
[INFO] 2018-06-28 19:40:28 E:\02_work\sw\db\indicator\2016.db is disconnected.
[INFO] 2018-06-28 19:40:28 E:\02_work\sw\db\indicator\2017.db is connected.
[INFO] 2018-06-28 19:40:28 SELECT DISTINCT(date) FROM WEST_AVGROE_YOY WHERE date in ('2017-01-26', '2017-02-28', '2017-03-31', '2017-04-28', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-29', '2017-10-31', '2017-11-30', '2017-12-29')

[WARN] 2018-06-28 19:40:28 WEST_AVGROE_YOY records on 2017-01-26 is existed.
[WARN] 2018-06-28 19:40:28 WEST_AVGROE_YOY records on 2017-02-28 is existed.
[WARN] 2018-06-28 19:40:28 WEST_AVGROE_YOY records on 2017-03-31 is existed.
[WARN] 2018-06-28 19:40:28 WEST_AVGROE_YOY records on 2017-04-28 is existed.
[WARN] 2018-06-28 19:40:28 WEST_AVGROE_YOY records on 2017-05-31 is existed.
[WARN] 2018-06-28 19:40:28 WEST_AVGROE_YOY records on 2017-06-30 is existed.
[WARN] 2018-06-28 19:40:28 WEST_AVGROE_YOY records on 2017-07-31 is existed.
[WARN] 2018-06-28 19:40:28 WEST_AVGROE_YOY records on 2017-08-31 is existed.
[WARN] 2018-06-28 19:40:28 WEST_AVGROE_YOY records on 2017-09-29 is existed.
[WARN] 2018-06-28 19:40:28 WEST_AVGROE_YOY records on 2017-10-31 is existed.
[WARN] 2018-06-28 19:40:28 WEST_AVGROE_YOY records on 2017-11-30 is existed.
[WARN] 2018-06-28 19:40:28 WEST_AVGROE_YOY records on 2017-12-29 is existed.
[INFO] 2018-06-28 19:40:28 E:\02_work\sw\db\indicator\2017.db is disconnected.
[INFO] 2018-06-28 19:40:28 E:\02_work\sw\db\indicator\2018.db is connected.
[INFO] 2018-06-28 19:40:28 SELECT DISTINCT(date) FROM WEST_AVGROE_YOY WHERE date in ('2018-01-31', '2018-02-28', '2018-03-30', '2018-04-27', '2018-05-31')
[WARN] 2018-06-28 19:40:28 WEST_AVGROE_YOY records on 2018-01-31 is existed.
[WARN] 2018-06-28 19:40:28 WEST_AVGROE_YOY records on 2018-02-28 is existed.
[WARN] 2018-06-28 19:40:28 WEST_AVGROE_YOY records on 2018-03-30 is existed.
[WARN] 2018-06-28 19:40:28 WEST_AVGROE_YOY records on 2018-04-27 is existed.
[WARN] 2018-06-28 19:40:28 WEST_AVGROE_YOY records on 2018-05-31 is existed.
[INFO] 2018-06-28 19:40:28 E:\02_work\sw\db\indicator\2018.db is disconnected.
[INFO] 2018-06-28 19:40:36 schema updated: WEST_AVGROE_YOY
[INFO] 2018-06-28 19:40:36 indicator WEST_AVGROE_YOY is updated.
[INFO] 2018-06-28 19:40:36 ------------------------------------------
[INFO] 2018-06-28 19:40:36 Updating indicator WEST_NETPROFIT_CAGR
[INFO] 2018-06-28 19:40:36 E:\02_work\sw\db\indicator\2005.db is connected.
[INFO] 2018-06-28 19:40:36 SELECT DISTINCT(date) FROM WEST_NETPROFIT_CAGR WHERE date in ('2005-04-29', '2005-05-31', '2005-06-30', '2005-07-29', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-30')
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2005-04-29 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2005-05-31 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2005-06-30 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2005-07-29 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2005-08-31 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2005-09-30 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2005-10-31 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2005-11-30 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2005-12-30 is existed.
[INFO] 2018-06-28 19:40:36 E:\02_work\sw\db\indicator\2005.db is disconnected.
[INFO] 2018-06-28 19:40:36 E:\02_work\sw\db\indicator\2006.db is connected.
[INFO] 2018-06-28 19:40:36 SELECT DISTINCT(date) FROM WEST_NETPROFIT_CAGR WHERE date in ('2006-01-25', '2006-02-28', '2006-03-31', '2006-04-28', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-29', '2006-10-31', '2006-11-30', '2006-12-29')
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2006-01-25 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2006-02-28 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2006-03-31 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2006-04-28 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2006-05-31 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2006-06-30 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2006-07-31 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2006-08-31 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2006-09-29 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2006-10-31 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2006-11-30 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2006-12-29 is existed.
[INFO] 2018-06-28 19:40:36 E:\02_work\sw\db\indicator\2006.db is disconnected.
[INFO] 2018-06-28 19:40:36 E:\02_work\sw\db\indicator\2007.db is connected.
[INFO] 2018-06-28 19:40:36 SELECT DISTINCT(date) FROM WEST_NETPROFIT_CAGR WHERE date in ('2007-01-31', '2007-02-28', '2007-03-30', '2007-04-30', '2007-05-31', '2007-06-29', '2007-07-31', '2007-08-31', '2007-09-28', '2007-10-31', '2007-11-30', '2007-12-28')
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2007-01-31 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2007-02-28 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2007-03-30 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2007-04-30 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2007-05-31 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2007-06-29 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2007-07-31 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2007-08-31 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2007-09-28 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2007-10-31 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2007-11-30 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2007-12-28 is existed.
[INFO] 2018-06-28 19:40:36 E:\02_work\sw\db\indicator\2007.db is disconnected.
[INFO] 2018-06-28 19:40:36 E:\02_work\sw\db\indicator\2008.db is connected.
[INFO] 2018-06-28 19:40:36 SELECT DISTINCT(date) FROM WEST_NETPROFIT_CAGR WHERE date in ('2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-30', '2008-06-30', '2008-07-31', '2008-08-29', '2008-09-26', '2008-10-31', '2008-11-28', '2008-12-31')
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2008-01-31 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2008-02-29 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2008-03-31 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2008-04-30 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2008-05-30 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2008-06-30 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2008-07-31 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2008-08-29 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2008-09-26 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2008-10-31 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2008-11-28 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2008-12-31 is existed.
[INFO] 2018-06-28 19:40:36 E:\02_work\sw\db\indicator\2008.db is disconnected.
[INFO] 2018-06-28 19:40:36 E:\02_work\sw\db\indicator\2009.db is connected.
[INFO] 2018-06-28 19:40:36 SELECT DISTINCT(date) FROM WEST_NETPROFIT_CAGR WHERE date in ('2009-01-23', '2009-02-27', '2009-03-31', '2009-04-30', '2009-05-27', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-30', '2009-11-30', '2009-12-31')
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2009-01-23 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2009-02-27 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2009-03-31 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2009-04-30 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2009-05-27 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2009-06-30 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2009-07-31 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2009-08-31 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2009-09-30 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2009-10-30 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2009-11-30 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2009-12-31 is existed.
[INFO] 2018-06-28 19:40:36 E:\02_work\sw\db\indicator\2009.db is disconnected.
[INFO] 2018-06-28 19:40:36 E:\02_work\sw\db\indicator\2010.db is connected.
[INFO] 2018-06-28 19:40:36 SELECT DISTINCT(date) FROM WEST_NETPROFIT_CAGR WHERE date in ('2010-01-29', '2010-02-26', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-30', '2010-08-31', '2010-09-30', '2010-10-29', '2010-11-30', '2010-12-31')

[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2010-01-29 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2010-02-26 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2010-03-31 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2010-04-30 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2010-05-31 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2010-06-30 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2010-07-30 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2010-08-31 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2010-09-30 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2010-10-29 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2010-11-30 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2010-12-31 is existed.
[INFO] 2018-06-28 19:40:36 E:\02_work\sw\db\indicator\2010.db is disconnected.
[INFO] 2018-06-28 19:40:36 E:\02_work\sw\db\indicator\2011.db is connected.
[INFO] 2018-06-28 19:40:36 SELECT DISTINCT(date) FROM WEST_NETPROFIT_CAGR WHERE date in ('2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29', '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30')
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2011-01-31 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2011-02-28 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2011-03-31 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2011-04-29 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2011-05-31 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2011-06-30 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2011-07-29 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2011-08-31 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2011-09-30 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2011-10-31 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2011-11-30 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2011-12-30 is existed.
[INFO] 2018-06-28 19:40:36 E:\02_work\sw\db\indicator\2011.db is disconnected.
[INFO] 2018-06-28 19:40:36 E:\02_work\sw\db\indicator\2012.db is connected.
[INFO] 2018-06-28 19:40:36 SELECT DISTINCT(date) FROM WEST_NETPROFIT_CAGR WHERE date in ('2012-01-31', '2012-02-29', '2012-03-30', '2012-04-27', '2012-05-31', '2012-06-29', '2012-07-31', '2012-08-31', '2012-09-28', '2012-10-31', '2012-11-30', '2012-12-31')
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2012-01-31 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2012-02-29 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2012-03-30 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2012-04-27 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2012-05-31 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2012-06-29 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2012-07-31 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2012-08-31 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2012-09-28 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2012-10-31 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2012-11-30 is existed.
[WARN] 2018-06-28 19:40:36 WEST_NETPROFIT_CAGR records on 2012-12-31 is existed.
[INFO] 2018-06-28 19:40:36 E:\02_work\sw\db\indicator\2012.db is disconnected.
[INFO] 2018-06-28 19:40:36 E:\02_work\sw\db\indicator\2013.db is connected.
[INFO] 2018-06-28 19:40:37 SELECT DISTINCT(date) FROM WEST_NETPROFIT_CAGR WHERE date in ('2013-01-31', '2013-02-28', '2013-03-29', '2013-04-26', '2013-05-31', '2013-06-28', '2013-07-31', '2013-08-30', '2013-09-30', '2013-10-31', '2013-11-29', '2013-12-31')
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2013-01-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2013-02-28 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2013-03-29 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2013-04-26 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2013-05-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2013-06-28 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2013-07-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2013-08-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2013-09-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2013-10-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2013-11-29 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2013-12-31 is existed.
[INFO] 2018-06-28 19:40:37 E:\02_work\sw\db\indicator\2013.db is disconnected.
[INFO] 2018-06-28 19:40:37 E:\02_work\sw\db\indicator\2014.db is connected.
[INFO] 2018-06-28 19:40:37 SELECT DISTINCT(date) FROM WEST_NETPROFIT_CAGR WHERE date in ('2014-01-30', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-30', '2014-06-30', '2014-07-31', '2014-08-29', '2014-09-30', '2014-10-31', '2014-11-28', '2014-12-31')
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2014-01-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2014-02-28 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2014-03-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2014-04-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2014-05-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2014-06-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2014-07-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2014-08-29 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2014-09-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2014-10-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2014-11-28 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2014-12-31 is existed.
[INFO] 2018-06-28 19:40:37 E:\02_work\sw\db\indicator\2014.db is disconnected.
[INFO] 2018-06-28 19:40:37 E:\02_work\sw\db\indicator\2015.db is connected.
[INFO] 2018-06-28 19:40:37 SELECT DISTINCT(date) FROM WEST_NETPROFIT_CAGR WHERE date in ('2015-01-30', '2015-02-27', '2015-03-31', '2015-04-30', '2015-05-29', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-30', '2015-11-30', '2015-12-31')
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2015-01-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2015-02-27 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2015-03-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2015-04-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2015-05-29 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2015-06-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2015-07-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2015-08-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2015-09-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2015-10-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2015-11-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2015-12-31 is existed.
[INFO] 2018-06-28 19:40:37 E:\02_work\sw\db\indicator\2015.db is disconnected.
[INFO] 2018-06-28 19:40:37 E:\02_work\sw\db\indicator\2016.db is connected.
[INFO] 2018-06-28 19:40:37 SELECT DISTINCT(date) FROM WEST_NETPROFIT_CAGR WHERE date in ('2016-01-29', '2016-02-29', '2016-03-31', '2016-04-29', '2016-05-31', '2016-06-30', '2016-07-29', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-30')

[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2016-01-29 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2016-02-29 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2016-03-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2016-04-29 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2016-05-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2016-06-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2016-07-29 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2016-08-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2016-09-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2016-10-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2016-11-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2016-12-30 is existed.
[INFO] 2018-06-28 19:40:37 E:\02_work\sw\db\indicator\2016.db is disconnected.
[INFO] 2018-06-28 19:40:37 E:\02_work\sw\db\indicator\2017.db is connected.
[INFO] 2018-06-28 19:40:37 SELECT DISTINCT(date) FROM WEST_NETPROFIT_CAGR WHERE date in ('2017-01-26', '2017-02-28', '2017-03-31', '2017-04-28', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-29', '2017-10-31', '2017-11-30', '2017-12-29')
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2017-01-26 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2017-02-28 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2017-03-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2017-04-28 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2017-05-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2017-06-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2017-07-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2017-08-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2017-09-29 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2017-10-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2017-11-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2017-12-29 is existed.
[INFO] 2018-06-28 19:40:37 E:\02_work\sw\db\indicator\2017.db is disconnected.
[INFO] 2018-06-28 19:40:37 E:\02_work\sw\db\indicator\2018.db is connected.
[INFO] 2018-06-28 19:40:37 SELECT DISTINCT(date) FROM WEST_NETPROFIT_CAGR WHERE date in ('2018-01-31', '2018-02-28', '2018-03-30', '2018-04-27', '2018-05-31')
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2018-01-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2018-02-28 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2018-03-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2018-04-27 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_CAGR records on 2018-05-31 is existed.
[INFO] 2018-06-28 19:40:37 E:\02_work\sw\db\indicator\2018.db is disconnected.
[INFO] 2018-06-28 19:40:37 schema updated: WEST_NETPROFIT_CAGR
[INFO] 2018-06-28 19:40:37 indicator WEST_NETPROFIT_CAGR is updated.
[INFO] 2018-06-28 19:40:37 ------------------------------------------
[INFO] 2018-06-28 19:40:37 Updating indicator WEST_NETPROFIT_YOY
[INFO] 2018-06-28 19:40:37 E:\02_work\sw\db\indicator\2005.db is connected.
[INFO] 2018-06-28 19:40:37 SELECT DISTINCT(date) FROM WEST_NETPROFIT_YOY WHERE date in ('2005-04-29', '2005-05-31', '2005-06-30', '2005-07-29', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-30')
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2005-04-29 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2005-05-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2005-06-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2005-07-29 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2005-08-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2005-09-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2005-10-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2005-11-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2005-12-30 is existed.
[INFO] 2018-06-28 19:40:37 E:\02_work\sw\db\indicator\2005.db is disconnected.
[INFO] 2018-06-28 19:40:37 E:\02_work\sw\db\indicator\2006.db is connected.
[INFO] 2018-06-28 19:40:37 SELECT DISTINCT(date) FROM WEST_NETPROFIT_YOY WHERE date in ('2006-01-25', '2006-02-28', '2006-03-31', '2006-04-28', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-29', '2006-10-31', '2006-11-30', '2006-12-29')
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2006-01-25 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2006-02-28 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2006-03-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2006-04-28 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2006-05-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2006-06-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2006-07-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2006-08-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2006-09-29 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2006-10-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2006-11-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2006-12-29 is existed.
[INFO] 2018-06-28 19:40:37 E:\02_work\sw\db\indicator\2006.db is disconnected.
[INFO] 2018-06-28 19:40:37 E:\02_work\sw\db\indicator\2007.db is connected.
[INFO] 2018-06-28 19:40:37 SELECT DISTINCT(date) FROM WEST_NETPROFIT_YOY WHERE date in ('2007-01-31', '2007-02-28', '2007-03-30', '2007-04-30', '2007-05-31', '2007-06-29', '2007-07-31', '2007-08-31', '2007-09-28', '2007-10-31', '2007-11-30', '2007-12-28')
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2007-01-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2007-02-28 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2007-03-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2007-04-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2007-05-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2007-06-29 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2007-07-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2007-08-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2007-09-28 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2007-10-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2007-11-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2007-12-28 is existed.
[INFO] 2018-06-28 19:40:37 E:\02_work\sw\db\indicator\2007.db is disconnected.
[INFO] 2018-06-28 19:40:37 E:\02_work\sw\db\indicator\2008.db is connected.
[INFO] 2018-06-28 19:40:37 SELECT DISTINCT(date) FROM WEST_NETPROFIT_YOY WHERE date in ('2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-30', '2008-06-30', '2008-07-31', '2008-08-29', '2008-09-26', '2008-10-31', '2008-11-28', '2008-12-31')
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2008-01-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2008-02-29 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2008-03-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2008-04-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2008-05-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2008-06-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2008-07-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2008-08-29 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2008-09-26 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2008-10-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2008-11-28 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2008-12-31 is existed.
[INFO] 2018-06-28 19:40:37 E:\02_work\sw\db\indicator\2008.db is disconnected.
[INFO] 2018-06-28 19:40:37 E:\02_work\sw\db\indicator\2009.db is connected.
[INFO] 2018-06-28 19:40:37 SELECT DISTINCT(date) FROM WEST_NETPROFIT_YOY WHERE date in ('2009-01-23', '2009-02-27', '2009-03-31', '2009-04-30', '2009-05-27', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-30', '2009-11-30', '2009-12-31')

[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2009-01-23 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2009-02-27 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2009-03-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2009-04-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2009-05-27 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2009-06-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2009-07-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2009-08-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2009-09-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2009-10-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2009-11-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2009-12-31 is existed.
[INFO] 2018-06-28 19:40:37 E:\02_work\sw\db\indicator\2009.db is disconnected.
[INFO] 2018-06-28 19:40:37 E:\02_work\sw\db\indicator\2010.db is connected.
[INFO] 2018-06-28 19:40:37 SELECT DISTINCT(date) FROM WEST_NETPROFIT_YOY WHERE date in ('2010-01-29', '2010-02-26', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-30', '2010-08-31', '2010-09-30', '2010-10-29', '2010-11-30', '2010-12-31')
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2010-01-29 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2010-02-26 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2010-03-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2010-04-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2010-05-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2010-06-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2010-07-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2010-08-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2010-09-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2010-10-29 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2010-11-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2010-12-31 is existed.
[INFO] 2018-06-28 19:40:37 E:\02_work\sw\db\indicator\2010.db is disconnected.
[INFO] 2018-06-28 19:40:37 E:\02_work\sw\db\indicator\2011.db is connected.
[INFO] 2018-06-28 19:40:37 SELECT DISTINCT(date) FROM WEST_NETPROFIT_YOY WHERE date in ('2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29', '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30')
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2011-01-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2011-02-28 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2011-03-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2011-04-29 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2011-05-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2011-06-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2011-07-29 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2011-08-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2011-09-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2011-10-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2011-11-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2011-12-30 is existed.
[INFO] 2018-06-28 19:40:37 E:\02_work\sw\db\indicator\2011.db is disconnected.
[INFO] 2018-06-28 19:40:37 E:\02_work\sw\db\indicator\2012.db is connected.
[INFO] 2018-06-28 19:40:37 SELECT DISTINCT(date) FROM WEST_NETPROFIT_YOY WHERE date in ('2012-01-31', '2012-02-29', '2012-03-30', '2012-04-27', '2012-05-31', '2012-06-29', '2012-07-31', '2012-08-31', '2012-09-28', '2012-10-31', '2012-11-30', '2012-12-31')
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2012-01-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2012-02-29 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2012-03-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2012-04-27 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2012-05-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2012-06-29 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2012-07-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2012-08-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2012-09-28 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2012-10-31 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2012-11-30 is existed.
[WARN] 2018-06-28 19:40:37 WEST_NETPROFIT_YOY records on 2012-12-31 is existed.
[INFO] 2018-06-28 19:40:37 E:\02_work\sw\db\indicator\2012.db is disconnected.
[INFO] 2018-06-28 19:40:37 E:\02_work\sw\db\indicator\2013.db is connected.
[INFO] 2018-06-28 19:40:37 SELECT DISTINCT(date) FROM WEST_NETPROFIT_YOY WHERE date in ('2013-01-31', '2013-02-28', '2013-03-29', '2013-04-26', '2013-05-31', '2013-06-28', '2013-07-31', '2013-08-30', '2013-09-30', '2013-10-31', '2013-11-29', '2013-12-31')
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2013-01-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2013-02-28 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2013-03-29 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2013-04-26 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2013-05-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2013-06-28 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2013-07-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2013-08-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2013-09-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2013-10-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2013-11-29 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2013-12-31 is existed.
[INFO] 2018-06-28 19:40:38 E:\02_work\sw\db\indicator\2013.db is disconnected.
[INFO] 2018-06-28 19:40:38 E:\02_work\sw\db\indicator\2014.db is connected.
[INFO] 2018-06-28 19:40:38 SELECT DISTINCT(date) FROM WEST_NETPROFIT_YOY WHERE date in ('2014-01-30', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-30', '2014-06-30', '2014-07-31', '2014-08-29', '2014-09-30', '2014-10-31', '2014-11-28', '2014-12-31')
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2014-01-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2014-02-28 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2014-03-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2014-04-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2014-05-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2014-06-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2014-07-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2014-08-29 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2014-09-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2014-10-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2014-11-28 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2014-12-31 is existed.
[INFO] 2018-06-28 19:40:38 E:\02_work\sw\db\indicator\2014.db is disconnected.
[INFO] 2018-06-28 19:40:38 E:\02_work\sw\db\indicator\2015.db is connected.
[INFO] 2018-06-28 19:40:38 SELECT DISTINCT(date) FROM WEST_NETPROFIT_YOY WHERE date in ('2015-01-30', '2015-02-27', '2015-03-31', '2015-04-30', '2015-05-29', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-30', '2015-11-30', '2015-12-31')

[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2015-01-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2015-02-27 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2015-03-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2015-04-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2015-05-29 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2015-06-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2015-07-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2015-08-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2015-09-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2015-10-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2015-11-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2015-12-31 is existed.
[INFO] 2018-06-28 19:40:38 E:\02_work\sw\db\indicator\2015.db is disconnected.
[INFO] 2018-06-28 19:40:38 E:\02_work\sw\db\indicator\2016.db is connected.
[INFO] 2018-06-28 19:40:38 SELECT DISTINCT(date) FROM WEST_NETPROFIT_YOY WHERE date in ('2016-01-29', '2016-02-29', '2016-03-31', '2016-04-29', '2016-05-31', '2016-06-30', '2016-07-29', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-30')
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2016-01-29 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2016-02-29 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2016-03-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2016-04-29 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2016-05-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2016-06-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2016-07-29 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2016-08-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2016-09-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2016-10-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2016-11-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2016-12-30 is existed.
[INFO] 2018-06-28 19:40:38 E:\02_work\sw\db\indicator\2016.db is disconnected.
[INFO] 2018-06-28 19:40:38 E:\02_work\sw\db\indicator\2017.db is connected.
[INFO] 2018-06-28 19:40:38 SELECT DISTINCT(date) FROM WEST_NETPROFIT_YOY WHERE date in ('2017-01-26', '2017-02-28', '2017-03-31', '2017-04-28', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-29', '2017-10-31', '2017-11-30', '2017-12-29')
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2017-01-26 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2017-02-28 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2017-03-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2017-04-28 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2017-05-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2017-06-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2017-07-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2017-08-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2017-09-29 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2017-10-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2017-11-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2017-12-29 is existed.
[INFO] 2018-06-28 19:40:38 E:\02_work\sw\db\indicator\2017.db is disconnected.
[INFO] 2018-06-28 19:40:38 E:\02_work\sw\db\indicator\2018.db is connected.
[INFO] 2018-06-28 19:40:38 SELECT DISTINCT(date) FROM WEST_NETPROFIT_YOY WHERE date in ('2018-01-31', '2018-02-28', '2018-03-30', '2018-04-27', '2018-05-31')
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2018-01-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2018-02-28 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2018-03-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2018-04-27 is existed.
[WARN] 2018-06-28 19:40:38 WEST_NETPROFIT_YOY records on 2018-05-31 is existed.
[INFO] 2018-06-28 19:40:38 E:\02_work\sw\db\indicator\2018.db is disconnected.
[INFO] 2018-06-28 19:40:38 schema updated: WEST_NETPROFIT_YOY
[INFO] 2018-06-28 19:40:38 indicator WEST_NETPROFIT_YOY is updated.
[INFO] 2018-06-28 19:40:38 ------------------------------------------
[INFO] 2018-06-28 19:40:38 Updating indicator WEST_SALES_CAGR
[INFO] 2018-06-28 19:40:38 E:\02_work\sw\db\indicator\2005.db is connected.
[INFO] 2018-06-28 19:40:38 SELECT DISTINCT(date) FROM WEST_SALES_CAGR WHERE date in ('2005-04-29', '2005-05-31', '2005-06-30', '2005-07-29', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-30')
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2005-04-29 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2005-05-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2005-06-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2005-07-29 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2005-08-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2005-09-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2005-10-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2005-11-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2005-12-30 is existed.
[INFO] 2018-06-28 19:40:38 E:\02_work\sw\db\indicator\2005.db is disconnected.
[INFO] 2018-06-28 19:40:38 E:\02_work\sw\db\indicator\2006.db is connected.
[INFO] 2018-06-28 19:40:38 SELECT DISTINCT(date) FROM WEST_SALES_CAGR WHERE date in ('2006-01-25', '2006-02-28', '2006-03-31', '2006-04-28', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-29', '2006-10-31', '2006-11-30', '2006-12-29')
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2006-01-25 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2006-02-28 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2006-03-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2006-04-28 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2006-05-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2006-06-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2006-07-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2006-08-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2006-09-29 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2006-10-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2006-11-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2006-12-29 is existed.
[INFO] 2018-06-28 19:40:38 E:\02_work\sw\db\indicator\2006.db is disconnected.
[INFO] 2018-06-28 19:40:38 E:\02_work\sw\db\indicator\2007.db is connected.
[INFO] 2018-06-28 19:40:38 SELECT DISTINCT(date) FROM WEST_SALES_CAGR WHERE date in ('2007-01-31', '2007-02-28', '2007-03-30', '2007-04-30', '2007-05-31', '2007-06-29', '2007-07-31', '2007-08-31', '2007-09-28', '2007-10-31', '2007-11-30', '2007-12-28')
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2007-01-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2007-02-28 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2007-03-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2007-04-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2007-05-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2007-06-29 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2007-07-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2007-08-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2007-09-28 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2007-10-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2007-11-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2007-12-28 is existed.
[INFO] 2018-06-28 19:40:38 E:\02_work\sw\db\indicator\2007.db is disconnected.
[INFO] 2018-06-28 19:40:38 E:\02_work\sw\db\indicator\2008.db is connected.
[INFO] 2018-06-28 19:40:38 SELECT DISTINCT(date) FROM WEST_SALES_CAGR WHERE date in ('2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-30', '2008-06-30', '2008-07-31', '2008-08-29', '2008-09-26', '2008-10-31', '2008-11-28', '2008-12-31')

[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2008-01-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2008-02-29 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2008-03-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2008-04-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2008-05-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2008-06-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2008-07-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2008-08-29 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2008-09-26 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2008-10-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2008-11-28 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2008-12-31 is existed.
[INFO] 2018-06-28 19:40:38 E:\02_work\sw\db\indicator\2008.db is disconnected.
[INFO] 2018-06-28 19:40:38 E:\02_work\sw\db\indicator\2009.db is connected.
[INFO] 2018-06-28 19:40:38 SELECT DISTINCT(date) FROM WEST_SALES_CAGR WHERE date in ('2009-01-23', '2009-02-27', '2009-03-31', '2009-04-30', '2009-05-27', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-30', '2009-11-30', '2009-12-31')
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2009-01-23 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2009-02-27 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2009-03-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2009-04-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2009-05-27 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2009-06-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2009-07-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2009-08-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2009-09-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2009-10-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2009-11-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2009-12-31 is existed.
[INFO] 2018-06-28 19:40:38 E:\02_work\sw\db\indicator\2009.db is disconnected.
[INFO] 2018-06-28 19:40:38 E:\02_work\sw\db\indicator\2010.db is connected.
[INFO] 2018-06-28 19:40:38 SELECT DISTINCT(date) FROM WEST_SALES_CAGR WHERE date in ('2010-01-29', '2010-02-26', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-30', '2010-08-31', '2010-09-30', '2010-10-29', '2010-11-30', '2010-12-31')
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2010-01-29 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2010-02-26 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2010-03-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2010-04-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2010-05-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2010-06-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2010-07-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2010-08-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2010-09-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2010-10-29 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2010-11-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2010-12-31 is existed.
[INFO] 2018-06-28 19:40:38 E:\02_work\sw\db\indicator\2010.db is disconnected.
[INFO] 2018-06-28 19:40:38 E:\02_work\sw\db\indicator\2011.db is connected.
[INFO] 2018-06-28 19:40:38 SELECT DISTINCT(date) FROM WEST_SALES_CAGR WHERE date in ('2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29', '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30')
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2011-01-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2011-02-28 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2011-03-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2011-04-29 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2011-05-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2011-06-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2011-07-29 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2011-08-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2011-09-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2011-10-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2011-11-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2011-12-30 is existed.
[INFO] 2018-06-28 19:40:38 E:\02_work\sw\db\indicator\2011.db is disconnected.
[INFO] 2018-06-28 19:40:38 E:\02_work\sw\db\indicator\2012.db is connected.
[INFO] 2018-06-28 19:40:38 SELECT DISTINCT(date) FROM WEST_SALES_CAGR WHERE date in ('2012-01-31', '2012-02-29', '2012-03-30', '2012-04-27', '2012-05-31', '2012-06-29', '2012-07-31', '2012-08-31', '2012-09-28', '2012-10-31', '2012-11-30', '2012-12-31')
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2012-01-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2012-02-29 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2012-03-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2012-04-27 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2012-05-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2012-06-29 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2012-07-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2012-08-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2012-09-28 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2012-10-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2012-11-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2012-12-31 is existed.
[INFO] 2018-06-28 19:40:38 E:\02_work\sw\db\indicator\2012.db is disconnected.
[INFO] 2018-06-28 19:40:38 E:\02_work\sw\db\indicator\2013.db is connected.
[INFO] 2018-06-28 19:40:38 SELECT DISTINCT(date) FROM WEST_SALES_CAGR WHERE date in ('2013-01-31', '2013-02-28', '2013-03-29', '2013-04-26', '2013-05-31', '2013-06-28', '2013-07-31', '2013-08-30', '2013-09-30', '2013-10-31', '2013-11-29', '2013-12-31')
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2013-01-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2013-02-28 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2013-03-29 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2013-04-26 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2013-05-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2013-06-28 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2013-07-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2013-08-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2013-09-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2013-10-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2013-11-29 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2013-12-31 is existed.
[INFO] 2018-06-28 19:40:38 E:\02_work\sw\db\indicator\2013.db is disconnected.
[INFO] 2018-06-28 19:40:38 E:\02_work\sw\db\indicator\2014.db is connected.
[INFO] 2018-06-28 19:40:38 SELECT DISTINCT(date) FROM WEST_SALES_CAGR WHERE date in ('2014-01-30', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-30', '2014-06-30', '2014-07-31', '2014-08-29', '2014-09-30', '2014-10-31', '2014-11-28', '2014-12-31')
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2014-01-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2014-02-28 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2014-03-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2014-04-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2014-05-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2014-06-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2014-07-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2014-08-29 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2014-09-30 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2014-10-31 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2014-11-28 is existed.
[WARN] 2018-06-28 19:40:38 WEST_SALES_CAGR records on 2014-12-31 is existed.
[INFO] 2018-06-28 19:40:38 E:\02_work\sw\db\indicator\2014.db is disconnected.
[INFO] 2018-06-28 19:40:38 E:\02_work\sw\db\indicator\2015.db is connected.
[INFO] 2018-06-28 19:40:38 SELECT DISTINCT(date) FROM WEST_SALES_CAGR WHERE date in ('2015-01-30', '2015-02-27', '2015-03-31', '2015-04-30', '2015-05-29', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-30', '2015-11-30', '2015-12-31')
[WARN] 2018-06-28 19:40:39 WEST_SALES_CAGR records on 2015-01-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_CAGR records on 2015-02-27 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_CAGR records on 2015-03-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_CAGR records on 2015-04-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_CAGR records on 2015-05-29 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_CAGR records on 2015-06-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_CAGR records on 2015-07-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_CAGR records on 2015-08-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_CAGR records on 2015-09-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_CAGR records on 2015-10-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_CAGR records on 2015-11-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_CAGR records on 2015-12-31 is existed.
[INFO] 2018-06-28 19:40:39 E:\02_work\sw\db\indicator\2015.db is disconnected.
[INFO] 2018-06-28 19:40:39 E:\02_work\sw\db\indicator\2016.db is connected.
[INFO] 2018-06-28 19:40:39 SELECT DISTINCT(date) FROM WEST_SALES_CAGR WHERE date in ('2016-01-29', '2016-02-29', '2016-03-31', '2016-04-29', '2016-05-31', '2016-06-30', '2016-07-29', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-30')

[WARN] 2018-06-28 19:40:39 WEST_SALES_CAGR records on 2016-01-29 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_CAGR records on 2016-02-29 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_CAGR records on 2016-03-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_CAGR records on 2016-04-29 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_CAGR records on 2016-05-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_CAGR records on 2016-06-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_CAGR records on 2016-07-29 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_CAGR records on 2016-08-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_CAGR records on 2016-09-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_CAGR records on 2016-10-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_CAGR records on 2016-11-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_CAGR records on 2016-12-30 is existed.
[INFO] 2018-06-28 19:40:39 E:\02_work\sw\db\indicator\2016.db is disconnected.
[INFO] 2018-06-28 19:40:39 E:\02_work\sw\db\indicator\2017.db is connected.
[INFO] 2018-06-28 19:40:39 SELECT DISTINCT(date) FROM WEST_SALES_CAGR WHERE date in ('2017-01-26', '2017-02-28', '2017-03-31', '2017-04-28', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-29', '2017-10-31', '2017-11-30', '2017-12-29')
[WARN] 2018-06-28 19:40:39 WEST_SALES_CAGR records on 2017-01-26 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_CAGR records on 2017-02-28 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_CAGR records on 2017-03-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_CAGR records on 2017-04-28 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_CAGR records on 2017-05-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_CAGR records on 2017-06-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_CAGR records on 2017-07-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_CAGR records on 2017-08-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_CAGR records on 2017-09-29 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_CAGR records on 2017-10-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_CAGR records on 2017-11-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_CAGR records on 2017-12-29 is existed.
[INFO] 2018-06-28 19:40:39 E:\02_work\sw\db\indicator\2017.db is disconnected.
[INFO] 2018-06-28 19:40:39 E:\02_work\sw\db\indicator\2018.db is connected.
[INFO] 2018-06-28 19:40:39 SELECT DISTINCT(date) FROM WEST_SALES_CAGR WHERE date in ('2018-01-31', '2018-02-28', '2018-03-30', '2018-04-27', '2018-05-31')
[WARN] 2018-06-28 19:40:39 WEST_SALES_CAGR records on 2018-01-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_CAGR records on 2018-02-28 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_CAGR records on 2018-03-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_CAGR records on 2018-04-27 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_CAGR records on 2018-05-31 is existed.
[INFO] 2018-06-28 19:40:39 E:\02_work\sw\db\indicator\2018.db is disconnected.
[INFO] 2018-06-28 19:40:39 schema updated: WEST_SALES_CAGR
[INFO] 2018-06-28 19:40:39 indicator WEST_SALES_CAGR is updated.
[INFO] 2018-06-28 19:40:39 ------------------------------------------
[INFO] 2018-06-28 19:40:39 Updating indicator WEST_SALES_YOY
[INFO] 2018-06-28 19:40:39 E:\02_work\sw\db\indicator\2005.db is connected.
[INFO] 2018-06-28 19:40:39 SELECT DISTINCT(date) FROM WEST_SALES_YOY WHERE date in ('2005-04-29', '2005-05-31', '2005-06-30', '2005-07-29', '2005-08-31', '2005-09-30', '2005-10-31', '2005-11-30', '2005-12-30')
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2005-04-29 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2005-05-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2005-06-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2005-07-29 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2005-08-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2005-09-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2005-10-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2005-11-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2005-12-30 is existed.
[INFO] 2018-06-28 19:40:39 E:\02_work\sw\db\indicator\2005.db is disconnected.
[INFO] 2018-06-28 19:40:39 E:\02_work\sw\db\indicator\2006.db is connected.
[INFO] 2018-06-28 19:40:39 SELECT DISTINCT(date) FROM WEST_SALES_YOY WHERE date in ('2006-01-25', '2006-02-28', '2006-03-31', '2006-04-28', '2006-05-31', '2006-06-30', '2006-07-31', '2006-08-31', '2006-09-29', '2006-10-31', '2006-11-30', '2006-12-29')
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2006-01-25 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2006-02-28 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2006-03-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2006-04-28 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2006-05-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2006-06-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2006-07-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2006-08-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2006-09-29 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2006-10-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2006-11-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2006-12-29 is existed.
[INFO] 2018-06-28 19:40:39 E:\02_work\sw\db\indicator\2006.db is disconnected.
[INFO] 2018-06-28 19:40:39 E:\02_work\sw\db\indicator\2007.db is connected.
[INFO] 2018-06-28 19:40:39 SELECT DISTINCT(date) FROM WEST_SALES_YOY WHERE date in ('2007-01-31', '2007-02-28', '2007-03-30', '2007-04-30', '2007-05-31', '2007-06-29', '2007-07-31', '2007-08-31', '2007-09-28', '2007-10-31', '2007-11-30', '2007-12-28')
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2007-01-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2007-02-28 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2007-03-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2007-04-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2007-05-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2007-06-29 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2007-07-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2007-08-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2007-09-28 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2007-10-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2007-11-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2007-12-28 is existed.
[INFO] 2018-06-28 19:40:39 E:\02_work\sw\db\indicator\2007.db is disconnected.
[INFO] 2018-06-28 19:40:39 E:\02_work\sw\db\indicator\2008.db is connected.
[INFO] 2018-06-28 19:40:39 SELECT DISTINCT(date) FROM WEST_SALES_YOY WHERE date in ('2008-01-31', '2008-02-29', '2008-03-31', '2008-04-30', '2008-05-30', '2008-06-30', '2008-07-31', '2008-08-29', '2008-09-26', '2008-10-31', '2008-11-28', '2008-12-31')
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2008-01-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2008-02-29 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2008-03-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2008-04-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2008-05-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2008-06-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2008-07-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2008-08-29 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2008-09-26 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2008-10-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2008-11-28 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2008-12-31 is existed.
[INFO] 2018-06-28 19:40:39 E:\02_work\sw\db\indicator\2008.db is disconnected.
[INFO] 2018-06-28 19:40:39 E:\02_work\sw\db\indicator\2009.db is connected.
[INFO] 2018-06-28 19:40:39 SELECT DISTINCT(date) FROM WEST_SALES_YOY WHERE date in ('2009-01-23', '2009-02-27', '2009-03-31', '2009-04-30', '2009-05-27', '2009-06-30', '2009-07-31', '2009-08-31', '2009-09-30', '2009-10-30', '2009-11-30', '2009-12-31')
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2009-01-23 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2009-02-27 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2009-03-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2009-04-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2009-05-27 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2009-06-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2009-07-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2009-08-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2009-09-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2009-10-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2009-11-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2009-12-31 is existed.
[INFO] 2018-06-28 19:40:39 E:\02_work\sw\db\indicator\2009.db is disconnected.
[INFO] 2018-06-28 19:40:39 E:\02_work\sw\db\indicator\2010.db is connected.
[INFO] 2018-06-28 19:40:39 SELECT DISTINCT(date) FROM WEST_SALES_YOY WHERE date in ('2010-01-29', '2010-02-26', '2010-03-31', '2010-04-30', '2010-05-31', '2010-06-30', '2010-07-30', '2010-08-31', '2010-09-30', '2010-10-29', '2010-11-30', '2010-12-31')

[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2010-01-29 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2010-02-26 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2010-03-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2010-04-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2010-05-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2010-06-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2010-07-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2010-08-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2010-09-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2010-10-29 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2010-11-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2010-12-31 is existed.
[INFO] 2018-06-28 19:40:39 E:\02_work\sw\db\indicator\2010.db is disconnected.
[INFO] 2018-06-28 19:40:39 E:\02_work\sw\db\indicator\2011.db is connected.
[INFO] 2018-06-28 19:40:39 SELECT DISTINCT(date) FROM WEST_SALES_YOY WHERE date in ('2011-01-31', '2011-02-28', '2011-03-31', '2011-04-29', '2011-05-31', '2011-06-30', '2011-07-29', '2011-08-31', '2011-09-30', '2011-10-31', '2011-11-30', '2011-12-30')
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2011-01-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2011-02-28 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2011-03-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2011-04-29 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2011-05-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2011-06-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2011-07-29 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2011-08-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2011-09-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2011-10-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2011-11-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2011-12-30 is existed.
[INFO] 2018-06-28 19:40:39 E:\02_work\sw\db\indicator\2011.db is disconnected.
[INFO] 2018-06-28 19:40:39 E:\02_work\sw\db\indicator\2012.db is connected.
[INFO] 2018-06-28 19:40:39 SELECT DISTINCT(date) FROM WEST_SALES_YOY WHERE date in ('2012-01-31', '2012-02-29', '2012-03-30', '2012-04-27', '2012-05-31', '2012-06-29', '2012-07-31', '2012-08-31', '2012-09-28', '2012-10-31', '2012-11-30', '2012-12-31')
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2012-01-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2012-02-29 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2012-03-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2012-04-27 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2012-05-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2012-06-29 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2012-07-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2012-08-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2012-09-28 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2012-10-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2012-11-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2012-12-31 is existed.
[INFO] 2018-06-28 19:40:39 E:\02_work\sw\db\indicator\2012.db is disconnected.
[INFO] 2018-06-28 19:40:39 E:\02_work\sw\db\indicator\2013.db is connected.
[INFO] 2018-06-28 19:40:39 SELECT DISTINCT(date) FROM WEST_SALES_YOY WHERE date in ('2013-01-31', '2013-02-28', '2013-03-29', '2013-04-26', '2013-05-31', '2013-06-28', '2013-07-31', '2013-08-30', '2013-09-30', '2013-10-31', '2013-11-29', '2013-12-31')
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2013-01-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2013-02-28 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2013-03-29 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2013-04-26 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2013-05-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2013-06-28 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2013-07-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2013-08-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2013-09-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2013-10-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2013-11-29 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2013-12-31 is existed.
[INFO] 2018-06-28 19:40:39 E:\02_work\sw\db\indicator\2013.db is disconnected.
[INFO] 2018-06-28 19:40:39 E:\02_work\sw\db\indicator\2014.db is connected.
[INFO] 2018-06-28 19:40:39 SELECT DISTINCT(date) FROM WEST_SALES_YOY WHERE date in ('2014-01-30', '2014-02-28', '2014-03-31', '2014-04-30', '2014-05-30', '2014-06-30', '2014-07-31', '2014-08-29', '2014-09-30', '2014-10-31', '2014-11-28', '2014-12-31')
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2014-01-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2014-02-28 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2014-03-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2014-04-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2014-05-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2014-06-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2014-07-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2014-08-29 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2014-09-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2014-10-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2014-11-28 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2014-12-31 is existed.
[INFO] 2018-06-28 19:40:39 E:\02_work\sw\db\indicator\2014.db is disconnected.
[INFO] 2018-06-28 19:40:39 E:\02_work\sw\db\indicator\2015.db is connected.
[INFO] 2018-06-28 19:40:39 SELECT DISTINCT(date) FROM WEST_SALES_YOY WHERE date in ('2015-01-30', '2015-02-27', '2015-03-31', '2015-04-30', '2015-05-29', '2015-06-30', '2015-07-31', '2015-08-31', '2015-09-30', '2015-10-30', '2015-11-30', '2015-12-31')
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2015-01-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2015-02-27 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2015-03-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2015-04-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2015-05-29 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2015-06-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2015-07-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2015-08-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2015-09-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2015-10-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2015-11-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2015-12-31 is existed.
[INFO] 2018-06-28 19:40:39 E:\02_work\sw\db\indicator\2015.db is disconnected.
[INFO] 2018-06-28 19:40:39 E:\02_work\sw\db\indicator\2016.db is connected.
[INFO] 2018-06-28 19:40:39 SELECT DISTINCT(date) FROM WEST_SALES_YOY WHERE date in ('2016-01-29', '2016-02-29', '2016-03-31', '2016-04-29', '2016-05-31', '2016-06-30', '2016-07-29', '2016-08-31', '2016-09-30', '2016-10-31', '2016-11-30', '2016-12-30')
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2016-01-29 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2016-02-29 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2016-03-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2016-04-29 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2016-05-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2016-06-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2016-07-29 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2016-08-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2016-09-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2016-10-31 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2016-11-30 is existed.
[WARN] 2018-06-28 19:40:39 WEST_SALES_YOY records on 2016-12-30 is existed.
[INFO] 2018-06-28 19:40:39 E:\02_work\sw\db\indicator\2016.db is disconnected.
[INFO] 2018-06-28 19:40:39 E:\02_work\sw\db\indicator\2017.db is connected.
[INFO] 2018-06-28 19:40:39 SELECT DISTINCT(date) FROM WEST_SALES_YOY WHERE date in ('2017-01-26', '2017-02-28', '2017-03-31', '2017-04-28', '2017-05-31', '2017-06-30', '2017-07-31', '2017-08-31', '2017-09-29', '2017-10-31', '2017-11-30', '2017-12-29')

[WARN] 2018-06-28 19:40:40 WEST_SALES_YOY records on 2017-01-26 is existed.
[WARN] 2018-06-28 19:40:40 WEST_SALES_YOY records on 2017-02-28 is existed.
[WARN] 2018-06-28 19:40:40 WEST_SALES_YOY records on 2017-03-31 is existed.
[WARN] 2018-06-28 19:40:40 WEST_SALES_YOY records on 2017-04-28 is existed.
[WARN] 2018-06-28 19:40:40 WEST_SALES_YOY records on 2017-05-31 is existed.
[WARN] 2018-06-28 19:40:40 WEST_SALES_YOY records on 2017-06-30 is existed.
[WARN] 2018-06-28 19:40:40 WEST_SALES_YOY records on 2017-07-31 is existed.
[WARN] 2018-06-28 19:40:40 WEST_SALES_YOY records on 2017-08-31 is existed.
[WARN] 2018-06-28 19:40:40 WEST_SALES_YOY records on 2017-09-29 is existed.
[WARN] 2018-06-28 19:40:40 WEST_SALES_YOY records on 2017-10-31 is existed.
[WARN] 2018-06-28 19:40:40 WEST_SALES_YOY records on 2017-11-30 is existed.
[WARN] 2018-06-28 19:40:40 WEST_SALES_YOY records on 2017-12-29 is existed.
[INFO] 2018-06-28 19:40:40 E:\02_work\sw\db\indicator\2017.db is disconnected.
[INFO] 2018-06-28 19:40:40 E:\02_work\sw\db\indicator\2018.db is connected.
[INFO] 2018-06-28 19:40:40 SELECT DISTINCT(date) FROM WEST_SALES_YOY WHERE date in ('2018-01-31', '2018-02-28', '2018-03-30', '2018-04-27', '2018-05-31')
[WARN] 2018-06-28 19:40:40 WEST_SALES_YOY records on 2018-01-31 is existed.
[WARN] 2018-06-28 19:40:40 WEST_SALES_YOY records on 2018-02-28 is existed.
[WARN] 2018-06-28 19:40:40 WEST_SALES_YOY records on 2018-03-30 is existed.
[WARN] 2018-06-28 19:40:40 WEST_SALES_YOY records on 2018-04-27 is existed.
[WARN] 2018-06-28 19:40:40 WEST_SALES_YOY records on 2018-05-31 is existed.
[INFO] 2018-06-28 19:40:40 E:\02_work\sw\db\indicator\2018.db is disconnected.
[INFO] 2018-06-28 19:40:40 schema updated: WEST_SALES_YOY
[INFO] 2018-06-28 19:40:40 indicator WEST_SALES_YOY is updated.
[INFO] 2018-06-28 19:40:40 ------------------------------------------

---

# factor

In [28]:
a = pd.DataFrame(DataAPI.schema.get_schema("factor")).T
factors = a.sort_values(['level']).index.tolist()

In [30]:
factors

['DIVIDENDYIELD2',
 'EV2_TO_EBITDA',
 'PB_LF',
 'PCF_NCF_TTM',
 'PS_TTM',
 'VAL_PE_DEDUCTED_TTM']

In [35]:
# a = pd.DataFrame(DataAPI.schema.get_schema("indicator")).T
# inds_ts = a[a.type == "时间序列"].index.tolist()
# factors4 = ["LEVERAGE","PROFIT"] # 基于其他做好的factor
# DataAPI.write.update_factors(factors=factors1,trading_days=trading_days , override=False, log=False)
# DataAPI.write.update_factors(factors=factors2,trading_days=trading_days , override=False, log=False)
# DataAPI.write.update_factors(factors=factors3,trading_days=trading_days , override=False, log=False)
DataAPI.write.update_factors(factors=factors,trading_days=trading_days , override=False, log=False)

[INFO] 2018-06-28 14:14:56 Updating factor DIVIDENDYIELD2
[INFO] 2018-06-28 14:14:56 schema updated: DIVIDENDYIELD2
[INFO] 2018-06-28 14:14:56 Updating factor EV2_TO_EBITDA
[INFO] 2018-06-28 14:14:56 schema updated: EV2_TO_EBITDA
[INFO] 2018-06-28 14:14:56 Updating factor PB_LF
[INFO] 2018-06-28 14:14:56 schema updated: PB_LF
[ERROR] 2018-06-28 14:14:57 Unrecognized factor: PCF_NCF_TTM
[INFO] 2018-06-28 14:14:57 ------------------------------------------
[INFO] 2018-06-28 14:14:57 Updating factor PS_TTM
[INFO] 2018-06-28 14:14:57 TABLE PS_TTM is created in E:\02_work\sw\db\factor\2005.db.
[INFO] 2018-06-28 14:14:57 INDEX PS_TTM_index is created on TABLE PS_TTM of E:\02_work\sw\db\factor\2005.db.
[INFO] 2018-06-28 14:14:59 TABLE PS_TTM is created in E:\02_work\sw\db\factor\2006.db.
[INFO] 2018-06-28 14:14:59 INDEX PS_TTM_index is created on TABLE PS_TTM of E:\02_work\sw\db\factor\2006.db.
[INFO] 2018-06-28 14:15:02 TABLE PS_TTM is created in E:\02_work\sw\db\factor\2007.db.
[INFO] 2018-06-28 14:15:02 INDEX PS_TTM_index is created on TABLE PS_TTM of E:\02_work\sw\db\factor\2007.db.
[INFO] 2018-06-28 14:15:05 TABLE PS_TTM is created in E:\02_work\sw\db\factor\2008.db.
[INFO] 2018-06-28 14:15:05 INDEX PS_TTM_index is created on TABLE PS_TTM of E:\02_work\sw\db\factor\2008.db.
[INFO] 2018-06-28 14:15:07 TABLE PS_TTM is created in E:\02_work\sw\db\factor\2009.db.
[INFO] 2018-06-28 14:15:08 INDEX PS_TTM_index is created on TABLE PS_TTM of E:\02_work\sw\db\factor\2009.db.
[INFO] 2018-06-28 14:15:10 TABLE PS_TTM is created in E:\02_work\sw\db\factor\2010.db.
[INFO] 2018-06-28 14:15:10 INDEX PS_TTM_index is created on TABLE PS_TTM of E:\02_work\sw\db\factor\2010.db.
[INFO] 2018-06-28 14:15:13 TABLE PS_TTM is created in E:\02_work\sw\db\factor\2011.db.
[INFO] 2018-06-28 14:15:13 INDEX PS_TTM_index is created on TABLE PS_TTM of E:\02_work\sw\db\factor\2011.db.
[INFO] 2018-06-28 14:15:17 TABLE PS_TTM is created in E:\02_work\sw\db\factor\2012.db.
[INFO] 2018-06-28 14:15:17 INDEX PS_TTM_index is created on TABLE PS_TTM of E:\02_work\sw\db\factor\2012.db.
[INFO] 2018-06-28 14:15:20 TABLE PS_TTM is created in E:\02_work\sw\db\factor\2013.db.
[INFO] 2018-06-28 14:15:20 INDEX PS_TTM_index is created on TABLE PS_TTM of E:\02_work\sw\db\factor\2013.db.
[INFO] 2018-06-28 14:15:24 TABLE PS_TTM is created in E:\02_work\sw\db\factor\2014.db.
[INFO] 2018-06-28 14:15:24 INDEX PS_TTM_index is created on TABLE PS_TTM of E:\02_work\sw\db\factor\2014.db.
[INFO] 2018-06-28 14:15:27 TABLE PS_TTM is created in E:\02_work\sw\db\factor\2015.db.
[INFO] 2018-06-28 14:15:28 INDEX PS_TTM_index is created on TABLE PS_TTM of E:\02_work\sw\db\factor\2015.db.
[INFO] 2018-06-28 14:15:31 TABLE PS_TTM is created in E:\02_work\sw\db\factor\2016.db.
[INFO] 2018-06-28 14:15:31 INDEX PS_TTM_index is created on TABLE PS_TTM of E:\02_work\sw\db\factor\2016.db.
[INFO] 2018-06-28 14:15:34 TABLE PS_TTM is created in E:\02_work\sw\db\factor\2017.db.
[INFO] 2018-06-28 14:15:34 INDEX PS_TTM_index is created on TABLE PS_TTM of E:\02_work\sw\db\factor\2017.db.
[INFO] 2018-06-28 14:15:37 TABLE PS_TTM is created in E:\02_work\sw\db\factor\2018.db.
[INFO] 2018-06-28 14:15:37 INDEX PS_TTM_index is created on TABLE PS_TTM of E:\02_work\sw\db\factor\2018.db.
[INFO] 2018-06-28 14:15:39 schema updated: PS_TTM
[INFO] 2018-06-28 14:15:39 Updating factor VAL_PE_DEDUCTED_TTM
[INFO] 2018-06-28 14:15:39 TABLE VAL_PE_DEDUCTED_TTM is created in E:\02_work\sw\db\factor\2005.db.
[INFO] 2018-06-28 14:15:39 INDEX VAL_PE_DEDUCTED_TTM_index is created on TABLE VAL_PE_DEDUCTED_TTM of E:\02_work\sw\db\factor\2005.db.
[INFO] 2018-06-28 14:15:41 TABLE VAL_PE_DEDUCTED_TTM is created in E:\02_work\sw\db\factor\2006.db.
[INFO] 2018-06-28 14:15:41 INDEX VAL_PE_DEDUCTED_TTM_index is created on TABLE VAL_PE_DEDUCTED_TTM of E:\02_work\sw\db\factor\2006.db.
[INFO] 2018-06-28 14:15:44 TABLE VAL_PE_DEDUCTED_TTM is created in E:\02_work\sw\db\factor\2007.db.
[INFO] 2018-06-28 14:15:44 INDEX VAL_PE_DEDUCTED_TTM_index is created on TABLE VAL_PE_DEDUCTED_TTM of E:\02_work\sw\db\factor\2007.db.
[INFO] 2018-06-28 14:15:48 TABLE VAL_PE_DEDUCTED_TTM is created in E:\02_work\sw\db\factor\2008.db.
[INFO] 2018-06-28 14:15:48 INDEX VAL_PE_DEDUCTED_TTM_index is created on TABLE VAL_PE_DEDUCTED_TTM of E:\02_work\sw\db\factor\2008.db.
[INFO] 2018-06-28 14:15:51 TABLE VAL_PE_DEDUCTED_TTM is created in E:\02_work\sw\db\factor\2009.db.
[INFO] 2018-06-28 14:15:51 INDEX VAL_PE_DEDUCTED_TTM_index is created on TABLE VAL_PE_DEDUCTED_TTM of E:\02_work\sw\db\factor\2009.db.
[INFO] 2018-06-28 14:15:54 TABLE VAL_PE_DEDUCTED_TTM is created in E:\02_work\sw\db\factor\2010.db.
[INFO] 2018-06-28 14:15:54 INDEX VAL_PE_DEDUCTED_TTM_index is created on TABLE VAL_PE_DEDUCTED_TTM of E:\02_work\sw\db\factor\2010.db.
[INFO] 2018-06-28 14:15:57 TABLE VAL_PE_DEDUCTED_TTM is created in E:\02_work\sw\db\factor\2011.db.
[INFO] 2018-06-28 14:15:57 INDEX VAL_PE_DEDUCTED_TTM_index is created on TABLE VAL_PE_DEDUCTED_TTM of E:\02_work\sw\db\factor\2011.db.
[INFO] 2018-06-28 14:16:00 TABLE VAL_PE_DEDUCTED_TTM is created in E:\02_work\sw\db\factor\2012.db.
[INFO] 2018-06-28 14:16:00 INDEX VAL_PE_DEDUCTED_TTM_index is created on TABLE VAL_PE_DEDUCTED_TTM of E:\02_work\sw\db\factor\2012.db.
[INFO] 2018-06-28 14:16:03 TABLE VAL_PE_DEDUCTED_TTM is created in E:\02_work\sw\db\factor\2013.db.
[INFO] 2018-06-28 14:16:03 INDEX VAL_PE_DEDUCTED_TTM_index is created on TABLE VAL_PE_DEDUCTED_TTM of E:\02_work\sw\db\factor\2013.db.
[INFO] 2018-06-28 14:16:07 TABLE VAL_PE_DEDUCTED_TTM is created in E:\02_work\sw\db\factor\2014.db.
[INFO] 2018-06-28 14:16:07 INDEX VAL_PE_DEDUCTED_TTM_index is created on TABLE VAL_PE_DEDUCTED_TTM of E:\02_work\sw\db\factor\2014.db.
[INFO] 2018-06-28 14:16:10 TABLE VAL_PE_DEDUCTED_TTM is created in E:\02_work\sw\db\factor\2015.db.
[INFO] 2018-06-28 14:16:10 INDEX VAL_PE_DEDUCTED_TTM_index is created on TABLE VAL_PE_DEDUCTED_TTM of E:\02_work\sw\db\factor\2015.db.
[INFO] 2018-06-28 14:16:13 TABLE VAL_PE_DEDUCTED_TTM is created in E:\02_work\sw\db\factor\2016.db.
[INFO] 2018-06-28 14:16:13 INDEX VAL_PE_DEDUCTED_TTM_index is created on TABLE VAL_PE_DEDUCTED_TTM of E:\02_work\sw\db\factor\2016.db.
[INFO] 2018-06-28 14:16:17 TABLE VAL_PE_DEDUCTED_TTM is created in E:\02_work\sw\db\factor\2017.db.
[INFO] 2018-06-28 14:16:17 INDEX VAL_PE_DEDUCTED_TTM_index is created on TABLE VAL_PE_DEDUCTED_TTM of E:\02_work\sw\db\factor\2017.db.
[INFO] 2018-06-28 14:16:20 TABLE VAL_PE_DEDUCTED_TTM is created in E:\02_work\sw\db\factor\2018.db.
[INFO] 2018-06-28 14:16:20 INDEX VAL_PE_DEDUCTED_TTM_index is created on TABLE VAL_PE_DEDUCTED_TTM of E:\02_work\sw\db\factor\2018.db.
[INFO] 2018-06-28 14:16:22 schema updated: VAL_PE_DEDUCTED_TTM

In [5]:
DataAPI.write.update_factors(factors=['GROWTH'],trading_days=trading_days, override=True, log=False)

[ERROR] 2018-06-28 13:18:32 Unrecognized factor: GROWTH
[INFO] 2018-06-28 13:18:32 ------------------------------------------

---

# factor_return

In [27]:
# factors = ["SIZE", 'VALUE', 'BETA', 'VOL', 'ROE', 'MOM', 'LIQ'] # 为空表示更新所有存在的factors
factors = []
DataAPI.write.update_factors_return(['GROWTH'], trading_days)

[INFO] 2018-03-14 16:13:50 Updating factor_return GROWTH...
[INFO] 2018-03-14 16:14:57 存量更新：更新当前已经有的记录
[INFO] 2018-03-14 16:14:57 schema updated: GROWTH
[INFO] 2018-03-14 16:14:57 传入日期数：1015  已经存在个数：1  实际写入次数：1014
[INFO] 2018-03-14 16:14:57 factor_return GROWTH is updated.
[INFO] 2018-03-14 16:14:57 ------------------------------------------