In [1]:
%pylab inline
%load_ext autoreload
%autoreload 2

Populating the interactive namespace from numpy and matplotlib

In [3]:
import self_plan.finance.api as fa

In [4]:
datelist = ('2018-01-01', '2018-02-01', '2018-03-01','2018-04-01')

# 读取指定日期净资产总额

In [5]:
# 给定起始和结束日期 默认为读取所有日期 
fa.get_net_asset_amount('2018-01-01', '2018-04-04')

AttributeError: module 'self_plan.finance.api' has no attribute 'get_net_asset_amount'

# 读取指定日期净资产结构

In [12]:
# 读取给定时间间隔之间的所有净资产结构记录  默认为读取最新日期
fa.get_net_asset_structure()

[INFO] 2018-02-28 23:06:31 E:\01_learn\05_method\finance.db is connected.
[INFO] 2018-02-28 23:06:31 SELECT * FROM net_asset_structure WHERE date = (SELECT max(date) FROM net_asset_structure)
[INFO] 2018-02-28 23:06:31 E:\01_learn\05_method\finance.db is disconnected.

         date subclass  current_value
7  2018-03-01       负债       -27049.0
6  2018-03-01       股票        13135.0
4  2018-03-01    指数型基金        14935.0
1  2018-03-01    偏股型基金        26645.0
0  2018-03-01      P2P        92239.0
5  2018-03-01       现金       101376.0
3  2018-03-01       定期       366701.0
2  2018-03-01      净资产       587982.0

# 读取指定日期的资产结构及配置合理度

In [13]:
# 读取给定时间间隔之间的所有资产结构及配置记录  默认为读取最新日期
fa.get_asset_structure()

[INFO] 2018-02-28 23:06:41 E:\01_learn\05_method\finance.db is connected.
[INFO] 2018-02-28 23:06:41 SELECT * FROM asset_structure WHERE date = (SELECT max(date) FROM asset_structure)
[INFO] 2018-02-28 23:06:41 E:\01_learn\05_method\finance.db is disconnected.

,date,subclass,current_value,pct,planning_prop,planning_value,comments
6,2018-03-01,股票,13135.0,0.021357,0.025,15375.775,2240.775
4,2018-03-01,指数型基金,14935.0,0.024283,0.030,18450.930,3515.93
2,2018-03-01,偏股型基金,26645.0,0.043323,0.030,18450.930,-8194.07
0,2018-03-01,P2P,92239.0,0.149975,0.050,30751.550,-61487.45
5,2018-03-01,现金,101376.0,0.164831,0.010,6150.310,-95225.69
3,2018-03-01,定期,366701.0,0.596232,0.800,492024.800,125323.8
1,2018-03-01,total,615031.0,1.000000,NaN,NaN,None

# 读取给定时间间隔之间的所有固收类资产流动性记录

In [14]:
# subclass是根据实时计算出的剩余到期日计算的
fa.get_fix_liq_info()

[INFO] 2018-02-28 23:06:57 E:\01_learn\05_method\finance.db is connected.
[INFO] 2018-02-28 23:06:57 SELECT * FROM fix_liq_info WHERE date = (SELECT max(date) FROM fix_liq_info)
[INFO] 2018-02-28 23:06:57 E:\01_learn\05_method\finance.db is disconnected.

,date,subclass,total_amount,pct,planning_prop,planning_value,comments
3,2018-03-01,超长期定期,38173.0,0.085720,0.05,18335.05,-19837.95
1,2018-03-01,现金,52260.0,0.117354,0.02,7334.02,-44925.98
2,2018-03-01,短期定期,94158.0,0.211439,0.10,36670.10,-57487.9
4,2018-03-01,长期定期,99239.0,0.222849,0.05,18335.05,-80903.95
0,2018-03-01,中期定期,161490.0,0.362638,0.78,286026.78,124536.78

# 读取给定时间间隔之间的所有固收类资产收益率记录

In [26]:
fa.get_fix_return_rate()

[INFO] 2018-02-28 23:14:12 E:\01_learn\05_method\finance.db is connected.
[INFO] 2018-02-28 23:14:12 SELECT * FROM fix_return_rate WHERE date = (SELECT max(date) FROM fix_return_rate)
[INFO] 2018-02-28 23:14:12 E:\01_learn\05_method\finance.db is disconnected.

          date category              item     ytm   ytm_avg  weight
3   2018-03-01      P2P          U计划7058期  0.0920  0.061489   2.35%
1   2018-03-01      P2P          U计划0613期  0.0880  0.061489   0.94%
2   2018-03-01      P2P          U计划6013期  0.0880  0.061489   7.59%
4   2018-03-01      P2P          U计划8417期  0.0880  0.061489   4.85%
0   2018-03-01      P2P          U计划0521期  0.0810  0.061489   4.71%
9   2018-03-01       定期   光大永明定活宝20180717  0.0600  0.061489   8.54%
10  2018-03-01       定期   光大永明定活宝20180726  0.0600  0.061489   4.61%
6   2018-03-01       定期     京弘年年盈20170809  0.0580  0.061489   1.15%
7   2018-03-01       定期     京弘年年盈20170927  0.0580  0.061489   3.41%
14  2018-03-01       定期        厦金中心厦盈通第二期  0.0568  0.061489   2.32%
15  2018-03-01       定期        厦金中心厦盈通第八期  0.0568  0.061489   6.96%
20  2018-03-01       定期           平安享盈368  0.0560  0.061489   7.41%
11  2018-03-01       定期   光大永明定活宝20190108  0.0550  0.061489   3.52%
12  2018-03-01       定期   光大永明定活宝20190208  0.0550  0.061489   4.49%
13  2018-03-01       定期   光大永明定活宝20190226  0.0550  0.061489   4.49%
23  2018-03-01       定期           理享HK730  0.0550  0.061489   2.40%
24  2018-03-01       定期           理享HK731  0.0550  0.061489   1.68%
5   2018-03-01       定期     京弘年年盈20170620  0.0540  0.061489   4.61%
21  2018-03-01       定期    泰康养老瑞泰20171219  0.0540  0.061489   2.25%
8   2018-03-01       定期   光大永明定活宝20180514  0.0510  0.061489   1.86%
16  2018-03-01       定期        天金所支信通第33期  0.0510  0.061489   1.17%
17  2018-03-01       定期        天金所支信通第35期  0.0510  0.061489   3.50%
19  2018-03-01       定期  太平养老乐享太平20180817  0.0504  0.061489   2.26%
18  2018-03-01       定期  太平养老乐享太平20180320  0.0502  0.061489  11.74%
22  2018-03-01       定期           理享CS365  0.0500  0.061489   1.20%

# 读取给定时间间隔之间的所有权益类资产的收益记录

In [21]:
fa.get_equity_return_records()

[INFO] 2018-02-28 23:10:23 E:\01_learn\05_method\finance.db is connected.
[INFO] 2018-02-28 23:10:23 SELECT * FROM equity_return_records WHERE date = (SELECT max(date) FROM equity_return_records)
[INFO] 2018-02-28 23:10:23 E:\01_learn\05_method\finance.db is disconnected.

,item,status,hold_days,buy_cost,current_value,return,return_rate,date
0,华域汽车,持仓中,42 days 00:00:00,13032.0,13135.0,103.0,0.79%,2018-03-01
1,广发沪深300ETF002987,持仓中,68 days 00:00:00,15400.0,14935.0,-465.0,-3.02%,2018-03-01
2,银华估值005250,持仓中,80 days 00:00:00,26970.0,26645.0,-325.0,-1.21%,2018-03-01
3,上海医药,落袋为安,60 days 00:00:00,9726.4,NaN,445.6,4.58%,2018-03-01
4,康缘医药,落袋为安,60 days 00:00:00,1526.0,NaN,-120.0,-7.86%,2018-03-01

# 读取给定时间间隔之间的所有收益与消费记录

In [17]:
fa.get_return_and_expense()

[INFO] 2018-02-28 23:07:07 E:\01_learn\05_method\finance.db is connected.
[INFO] 2018-02-28 23:07:07 SELECT * FROM return_and_expense
[INFO] 2018-02-28 23:07:07 E:\01_learn\05_method\finance.db is disconnected.

,date,start_date,income_from_parents,begin_net_asset,end_net_asset,return_finance,expense
0,2018-02-01,2018-01-01,24574.0,540624.0,551367.0,-5825.0,8006.0
1,2018-03-01,2018-02-01,44868.0,551367.0,587982.0,10294.0,18547.0