In [ ]:
%pylab inline
%load_ext autoreload
%autoreload 2

In [208]:
import devkit.api as dk
import pandas as pd
import datetime
import numpy as np
from sklearn.decomposition import KernelPCA
from sklearn.svm import SVR
import matplotlib.pyplot as plt
from sklearn.metrics import r2_score
from sklearn.model_selection import train_test_split

In [286]:
from sklearn.tree import DecisionTreeRegressor  # 导入决策树分类器

In [ ]:
conn = dk.MySQLProxy()
conn.connect("root", "123888", "indicator")

In [50]:
query = "SELECT * FROM report_variables1 WHERE (Year(date_report) BETWEEN 2011 AND 2013) AND MONTH(date_report) =12"
fr = conn.query_as_dataframe(query)

[INFO] 2018-04-03 10:26:17 SELECT * FROM report_variables1 WHERE (Year(date_report) BETWEEN 2011 AND 2013) AND MONTH(date_report) =12

In [51]:
fr['date_report'] = fr.date_report.apply(lambda x: str(x))
fr['date_published'] = fr.date_published.apply(lambda x: str(x))

In [52]:
fr_final = fr.copy()

In [53]:
fr_final.head(3)

,date_report,date_published,sec_id,current_asset,fixed_asset,intangible_asset,asset,current_liab,long_term_liab,equity,...,产权比率,股东权益比率,股东权益与固定资产比率,固定资产与股东权益比率,长期负债比例,固定资产比例,流动负债比,流动负债率,流动资产比例,权益负债比率
0,2011-12-31,2012-03-16,SH600000,NaN,8.594000e+09,4.570000e+08,2.684694e+12,NaN,NaN,1.495420e+11,...,17.03,0.06,18.30,0.05,NaN,0.30,NaN,NaN,NaN,0.06
1,2011-12-31,2012-03-15,SH600004,1.792915e+09,8.512887e+09,2.302901e+07,1.063946e+10,3.230252e+09,3.205866e+08,7.088626e+09,...,0.52,0.65,0.82,1.22,3.01,79.04,30.36,90.97,16.85,1.93
2,2011-12-31,2012-03-27,SH600006,1.279813e+10,3.822474e+09,6.920415e+08,1.940876e+10,1.154877e+10,3.853494e+08,7.474647e+09,...,1.99,0.31,2.28,0.44,1.99,13.55,59.50,96.77,65.94,0.50

In [54]:
query = "SELECT date, sec_id, close, traded_days_until_now, is_trade, is_st, stock_float_shares \
FROM time_series_variables \
WHERE is_st=0 AND (date BETWEEN '2012-01-01' AND '2015-4-31') AND traded_days_until_now>400 AND is_trade=1 \
;"

In [55]:
close1 = conn.query_as_dataframe(query)

[INFO] 2018-04-03 10:27:29 SELECT date, sec_id, close, traded_days_until_now, is_trade, is_st, stock_float_shares FROM time_series_variables WHERE is_st=0 AND (date BETWEEN '2012-01-01' AND '2015-4-31') AND traded_days_until_now>400 AND is_trade=1 ;

In [56]:
close1['date'] = close1.date.apply(lambda x: str(x))

In [57]:
close1.head(3)

,date,sec_id,close,traded_days_until_now,is_trade,is_st,stock_float_shares
0,2012-01-04,SH600000,4.59,2854,1,0,14922777132
1,2012-01-04,SH600004,3.46,2062,1,0,1150000000
2,2012-01-04,SH600006,3.00,2954,1,0,2000000000

In [58]:
close2 = close1[['date', 'sec_id', 'close', 'stock_float_shares']]

In [59]:
temp1 = fr_final[['date_published','sec_id']].copy()

In [60]:
temp1.head(3)

  date_published    sec_id
0     2012-03-16  SH600000
1     2012-03-15  SH600004
2     2012-03-27  SH600006

In [30]:
def get_close_price_on_published_day(df_fr, df_close):
    """
    df_fr: <DataFrame>: columns = ['date_published','sec_id', 'date_benchmark']
    df_close: <DataFrame>: columns = [date sec_id  close stock_float_shares]
    type: <int>: close_beging 年报发布日当天或之后第一个交易日的股价 
                 close_ending 报发布日一年后最接近的股价
    """
    df_close['yearmonth'] = df_close.date.apply(lambda x: x[:7])
    df_fr['yearmonth'] = df_fr['date_published'].apply(lambda x: x[:7])
    df1=df_fr.merge(df_close, how='inner', on=['sec_id','yearmonth'])
    df2 = df1.groupby(['sec_id', 'date_published'], as_index=False).apply(lambda x: x[x.date >= x.date_published].head(1))
    df3 = df2.rename(columns={'close': 'close_begin','date':'date_beging'}).copy()
    del df3['yearmonth']
    return df3

In [61]:
def get_close_price_after_one_year_on_published_day(df_fr, df_close):
    """
    df_fr: <DataFrame>: columns = ['date_published','sec_id']
    df_close: <DataFrame>: columns = [date sec_id  close stock_float_shares]

    """
    df_close['yearmonth'] = df_close.date.apply(lambda x: x[:7])
    df_fr['date_one_year'] = df_fr.date_published.apply(lambda x: str(int(x[:4]) + 1) + x[4:])  # 1年后的价格
    df_fr['yearmonth'] = df_fr['date_one_year'].apply(lambda x: x[:7])
    df1 = df_fr.merge(df_close, how='inner', on=['sec_id', 'yearmonth'])
    df2 = df1.groupby(['sec_id', 'date_published'], as_index=False).apply(lambda x: x[x.date <= x.date_one_year].tail(1))
    df3 = df2.rename(columns={'close': 'close_ending', 'date':'date_ending'})
    del df3['yearmonth']
    del df3['date_one_year']
    return df3

In [62]:
aaa = get_close_price_on_published_day(df_fr=temp1.copy(), df_close=close2.copy())

In [63]:
bbb = get_close_price_after_one_year_on_published_day(df_fr = aaa.copy(), df_close=close2.copy())

In [65]:
ccc = bbb[['date_published', 'sec_id', 'date_beging', 'close_begin', 'date_ending', 'close_ending', 'stock_float_shares_x','stock_float_shares_y']].copy()

In [66]:
ccc['return_rate']  = ccc['close_ending'] / ccc['close_begin'] - 1

In [67]:
ccc["stock_float_shares_mean"] = (ccc["stock_float_shares_x"] + ccc["stock_float_shares_y"]) / 2

In [96]:
df1 = fr_final.merge(ccc,how='inner',on=['date_published','sec_id'])

In [ ]:
df_final.to_csv(r"E:\99_daily\TODAY\df_final.csv",encoding='utf-8')

In [8]:
df_final = pd.read_csv(r"E:\99_daily\TODAY\df_final.csv",index_col=0)

In [88]:
industry = pd.read_csv(r"E:\99_daily\TODAY\industry_sw.csv")

In [90]:
industry['sec_id'] = industry['sec_id'].apply(lambda x: x.split('.')[1]+x.split('.')[0] )

In [92]:
industry_map = industry[['sec_id', 'industry_sw']]

In [93]:
df_final.shape

(5323, 114)

In [141]:
df2 = df1.merge(industry_map, how='inner', on=['sec_id'])

In [144]:
df3 = df2[~df2.industry_sw.isin(['银行', '非银金融'])].copy()

In [145]:
train_pre = df3.drop(['sec_id', 'date_report', 'date_published','date_beging','close_begin','date_ending','close_ending','stock_float_shares_x','stock_float_shares_y','stock_float_shares_mean','industry_sw'], axis=1)

In [146]:
train_pre.shape

(5172, 104)

In [160]:
retained_vars=(train_pre.isnull().sum()==0)
retained_vars=retained_vars[retained_vars].index.tolist()

In [162]:
train_pre1 = train_pre.loc[:, retained_vars]

In [167]:
train_pre1.to_csv(r"E:\99_daily\TODAY\train_pre1.csv")

In [187]:
train_pre1=pd.read_csv(r"E:\99_daily\TODAY\train_pre1.csv", encoding='gbk')

In [200]:
train_pre2 = train_pre1.copy()

In [298]:
y = train_pre2.iloc[:, -1]
X = train_pre2.iloc[:, :-1]

In [271]:
kpca=KernelPCA()
kpca.fit(X)

KernelPCA(alpha=1.0, coef0=1, copy_X=True, degree=3, eigen_solver='auto',
     fit_inverse_transform=False, gamma=None, kernel='linear',
     kernel_params=None, max_iter=None, n_components=None, n_jobs=1,
     random_state=None, remove_zero_eig=False, tol=0)

In [278]:
get_we = lambda x: x / x.sum()
get_we(kpca.lambdas_)[:16].sum()

0.94302089398000088

In [276]:
X_transform = kpca.transform(X)[:, :16]

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.33)

In [ ]:
svr_rbf = SVR(kernel='poly', C=1e3, gamma=0.1)
svr_rbf.fit(x_train, y_train)

In [289]:
print("训练集R2= ", svr_rbf.score(x_train, y_train))
print("测试集R2= ", svr_rbf.score(x_test, y_test))

训练集R2=  0.556104375859
测试集R2=  -1.59749080925

In [301]:
tree_regressor = DecisionTreeRegressor()
tree_regressor.fit(x_train, y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [302]:
print("训练集R2= ", tree_regressor.score(x_train, y_train))
print("测试集R2= ", tree_regressor.score(x_test, y_test))

训练集R2=  0.999999999477
测试集R2=  -0.741128851548

In [300]:
x_test.shape

(1707, 41)

In [284]:
test_pred = svr_rbf.predict(x_test)

In [287]:
svr_rbf.score(x_train, y_train)

0.55610437585920447

In [288]:
svr_rbf.score(x_test, y_test)

-1.5974908092506177

In [266]:
y_predict=svr_rbf.predict(x_test_new)

In [282]:
r2_score(y_train, train_pred)

0.55610437585920447

In [285]:
r2_score(y_test, test_pred)

-1.5974908092506177

In [226]:
r2_score(y, y_predict)

0.51605465469597545

In [ ]:
temp1['yearmonth'] = temp1.date_end.apply(lambda x: x[:7])

In [ ]:
temp1.head(3)

In [ ]:
close2=temp1.merge(close1, how='inner', on=['sec_id','yearmonth'])

In [ ]:
close3=close2.groupby(['sec_id','date_published'],as_index=False).apply(lambda x: x[x.date <= x.date_end].tail(1))

In [ ]:
close3 = close3.rename(columns={'close': 'close_end'})

In [ ]:
del close3['yearmonth']

In [ ]:
close3['yearmonth'] = close3.date_published.apply(lambda x: x[:7])

In [ ]:
del close3['date_end']

In [ ]:
close3 = close3.rename(columns={'date': 'date_end'})

In [ ]:
close4=close3.merge(close1, how='inner', on=['sec_id','yearmonth'])

In [ ]:
close5=close4.groupby(['sec_id','date_published'],as_index=False).apply(lambda x: x[x.date >= x.date_published].head(1))

In [ ]:
close6 = close5.rename(columns={'date': 'date_beging','close':'close_begin'})

In [ ]:
close7 = close6[['date_published', 'sec_id', 'date_beging', 'close_begin', 'date_end', 'close_end', 'stock_float_shares_x','stock_float_shares_y']]

In [ ]:
close7