In [25]:
%pylab inline
%load_ext autoreload
%autoreload 2

Populating the interactive namespace from numpy and matplotlib

In [26]:
import devkit.api as dk
import pandas as pd
import datetime
import numpy as np

In [29]:
conn = dk.MySQLProxy()
conn.connect("root", "123888", "index")

[INFO] 2018-04-09 21:36:15 index is connected.

In [23]:
query = "SELECT * FROM close \
WHERE is_st = 0 AND is_trade = 1 \
;"

In [30]:
close = conn.query_as_dataframe("SELECT * FROM close")

[INFO] 2018-04-09 21:37:14 SELECT * FROM close

In [31]:
close.head(3)

         date     sec_id  close
0  2005-01-04  600000.SH   0.88
1  2005-01-04  600004.SH   3.44
2  2005-01-04  600006.SH   1.93

In [22]:
def cal_vol(df, date_num, cycle):
    """
    给定价格和周期计算每只股票滞后周期个交易日的波动率
    @df <dataFrame>: date<datetime.date> sec_id close
    @date <datetime.date, %Y-%m-%d>: 要求波动率的日期
    @cycle <int>: 周期 单位为天
    """
    df1 = df[df.date.le(date_num)]

    def func_vol(x, cycle):
        num = x.count()  # 当前股票在基准日之前的交易日个数
        if num < cycle:  # 如果历史交易天数小于要计算的周期 则返回空值
            return np.nan
        else:
            return x.tail(cycle).std()
    df2 = df1.groupby(['sec_id']).apply(lambda x: func_vol(x.close, cycle))
    df2.name = 'vol_{}days'.format(str(cycle))
    df3 = df2.to_frame()
    df3['date'] = date_num
    df4 = df3.dropna().reset_index()
    return df4

In [27]:
datelist = list(set(close.date.tolist()))
datelist = sorted(datelist)
output = pd.DataFrame()
for date in datelist:
    df = cal_vol(close.copy(), date, 5)
    if len(df) != 0:
        output = output.append(df)
pd.to_csv(r"E:\99_daily\TODAY\formal_db\vol_{}days.csv".format(str(cycle)))

[INFO] 2018-04-09 21:35:39 indicator is connected.

In [5]:
close = conn.query_as_dataframe("SELECT date, sec_id, close FROM time_series_variables WHERE is_trade=1")

[INFO] 2018-04-09 13:52:19 SELECT date, sec_id, close FROM time_series_variables WHERE is_trade=1

In [7]:
close['sec_id'] = close['sec_id'].apply(lambda x: x[2:] + '.' + x[:2])

In [11]:
dk.df2mysql('root','123888','index','close',close)

E:\06_software\Anoconda\lib\site-packages\pymysql\cursors.py:165: Warning: (1366, "Incorrect string value: '\\xD6\\xD0\\xB9\\xFA\\xB1\\xEA...' for column 'VARIABLE_VALUE' at row 480")
  result = self._query(query)
E:\06_software\Anoconda\lib\site-packages\pymysql\cursors.py:165: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

In [9]:
close.to_csv(r"E:\99_daily\TODAY\formal_db\close.csv", encoding='utf-8')

In [5]:
ts = conn.query_as_dataframe("SELECT date, sec_id, is_trade, is_st,traded_days_until_now,stock_total_shares,stock_float_shares FROM time_series_variables WHERE YEAR(date) in (2005,2006)")

[INFO] 2018-04-09 09:37:08 SELECT date, sec_id, is_trade, is_st,traded_days_until_now,stock_total_shares,stock_float_shares FROM time_series_variables WHERE YEAR(date) in (2005,2006)

In [6]:
ts['sec_id'] = ts['sec_id'].apply(lambda x: x[2:] + '.' + x[:2])

In [7]:
ts['date'] = ts['date'].apply(lambda x: str(x))

In [11]:
ic_2006=conn.query_as_dataframe("SELECT * FROM a")

[INFO] 2018-04-09 09:56:57 SELECT * FROM a

In [13]:
ic_2005=conn.query_as_dataframe("SELECT * FROM a")

[INFO] 2018-04-09 09:57:05 SELECT * FROM a

In [14]:
ic_0506 = ic_2005.append(ic_2006)

In [32]:
ic_0506.head(3)

         date     sec_id sec_name
0  2005-01-11  000001.SZ     平安银行
1  2005-01-11  000002.SZ      万科A
2  2005-01-11  000004.SZ     国农科技

In [15]:
industry = pd.read_csv(r"E:\99_daily\TODAY\industry_sw.csv")

In [37]:
ic_0506_1.head(3)

         date     sec_id sec_name industry_sw
0  2005-01-11  000001.SZ     平安银行          银行
1  2005-01-04  000001.SZ     平安银行          银行
2  2005-01-05  000001.SZ     平安银行          银行

In [36]:
ic_0506_1 = ic_0506.merge(industry, how='inner', on=['sec_id','sec_name'])

In [38]:
ic_0506_2 = ic_0506_1.merge(ts, how='inner', on=['date','sec_id'])

In [39]:
ic_0506_2.head(3)

,date,sec_id,sec_name,industry_sw,is_trade,is_st,traded_days_until_now,stock_total_shares,stock_float_shares
0,2005-01-11,000001.SZ,平安银行,银行,0,0,3363,1945822149,1409361965
1,2005-01-04,000001.SZ,平安银行,银行,1,0,3359,1945822149,1409361965
2,2005-01-05,000001.SZ,平安银行,银行,1,0,3360,1945822149,1409361965

In [20]:
ic_part1 = pd.read_csv(r"E:\99_daily\TODAY\stocks_info2.csv")
del ic_part1['Unnamed: 0']

In [31]:
ic_part1.head(3)

,date,sec_id,sec_name,is_trade,is_st,traded_days_until_now,stock_total_shares,stock_float_shares,industry_sw,industry_swcode
0,2005-01-04,SH600000,浦发银行,1,0,1221,3915000000,900000000,银行,1000012612000000
1,2005-01-05,SH600000,浦发银行,1,0,1222,3915000000,900000000,银行,1000012612000000
2,2005-01-06,SH600000,浦发银行,1,0,1223,3915000000,900000000,银行,1000012612000000

In [40]:
ic = ic_part1.append(ic_0506_2)
del ic['industry_swcode']

In [46]:
ic.to_csv(r"E:\99_daily\TODAY\formal_db\stocks_info.csv", encoding='utf-8')

In [74]:
ic1 = ic[ic.date == '2015-09-07']

In [75]:
conds = (ic1.is_trade==1).multiply(ic1.is_st==0)

In [76]:
ic2 = ic1[conds]

In [77]:
sec_id = ic2.sec_id.tolist()

In [78]:
sec_id

['SH600000',
 'SH600004',
 'SH600006',
 'SH600007',
 'SH600008',
 'SH600009',
 'SH600010',
 'SH600011',
 'SH600012',
 'SH600015',
 'SH600016',
 'SH600019',
 'SH600020',
 'SH600021',
 'SH600022',
 'SH600028',
 'SH600029',
 'SH600030',
 'SH600031',
 'SH600033',
 'SH600035',
 'SH600036',
 'SH600037',
 'SH600038',
 'SH600039',
 'SH600050',
 'SH600051',
 'SH600052',
 'SH600054',
 'SH600055',
 'SH600056',
 'SH600057',
 'SH600059',
 'SH600060',
 'SH600061',
 'SH600062',
 'SH600063',
 'SH600064',
 'SH600066',
 'SH600067',
 'SH600068',
 'SH600070',
 'SH600076',
 'SH600077',
 'SH600078',
 'SH600079',
 'SH600080',
 'SH600081',
 'SH600082',
 'SH600083',
 'SH600084',
 'SH600085',
 'SH600086',
 'SH600088',
 'SH600089',
 'SH600090',
 'SH600093',
 'SH600094',
 'SH600095',
 'SH600096',
 'SH600098',
 'SH600100',
 'SH600101',
 'SH600103',
 'SH600104',
 'SH600105',
 'SH600108',
 'SH600109',
 'SH600111',
 'SH600112',
 'SH600113',
 'SH600114',
 'SH600115',
 'SH600116',
 'SH600117',
 'SH600118',
 'SH600119',
 'SH600120',
 'SH600121',
 'SH600122',
 'SH600123',
 'SH600125',
 'SH600126',
 'SH600127',
 'SH600128',
 'SH600129',
 'SH600130',
 'SH600131',
 'SH600132',
 'SH600133',
 'SH600135',
 'SH600136',
 'SH600137',
 'SH600138',
 'SH600143',
 'SH600148',
 'SH600149',
 'SH600150',
 'SH600151',
 'SH600152',
 'SH600156',
 'SH600157',
 'SH600158',
 'SH600159',
 'SH600160',
 'SH600161',
 'SH600162',
 'SH600166',
 'SH600168',
 'SH600169',
 'SH600170',
 'SH600171',
 'SH600173',
 'SH600175',
 'SH600176',
 'SH600177',
 'SH600178',
 'SH600179',
 'SH600182',
 'SH600183',
 'SH600184',
 'SH600185',
 'SH600187',
 'SH600188',
 'SH600190',
 'SH600192',
 'SH600196',
 'SH600197',
 'SH600198',
 'SH600199',
 'SH600200',
 'SH600201',
 'SH600203',
 'SH600206',
 'SH600208',
 'SH600210',
 'SH600211',
 'SH600213',
 'SH600215',
 'SH600216',
 'SH600218',
 'SH600219',
 'SH600220',
 'SH600221',
 'SH600222',
 'SH600223',
 'SH600225',
 'SH600227',
 'SH600228',
 'SH600229',
 'SH600230',
 'SH600231',
 'SH600232',
 'SH600233',
 'SH600234',
 'SH600235',
 'SH600236',
 'SH600237',
 'SH600239',
 'SH600240',
 'SH600241',
 'SH600246',
 'SH600248',
 'SH600249',
 'SH600250',
 'SH600251',
 'SH600252',
 'SH600255',
 'SH600256',
 'SH600257',
 'SH600260',
 'SH600261',
 'SH600262',
 'SH600266',
 'SH600267',
 'SH600268',
 'SH600269',
 'SH600270',
 'SH600271',
 'SH600272',
 'SH600273',
 'SH600275',
 'SH600276',
 'SH600278',
 'SH600279',
 'SH600281',
 'SH600282',
 'SH600283',
 'SH600284',
 'SH600285',
 'SH600287',
 'SH600288',
 'SH600290',
 'SH600292',
 'SH600293',
 'SH600295',
 'SH600297',
 'SH600298',
 'SH600299',
 'SH600300',
 'SH600302',
 'SH600303',
 'SH600305',
 'SH600307',
 'SH600308',
 'SH600309',
 'SH600310',
 'SH600311',
 'SH600313',
 'SH600315',
 'SH600316',
 'SH600317',
 'SH600320',
 'SH600321',
 'SH600322',
 'SH600323',
 'SH600325',
 'SH600326',
 'SH600327',
 'SH600328',
 'SH600329',
 'SH600330',
 'SH600331',
 'SH600332',
 'SH600333',
 'SH600335',
 'SH600336',
 'SH600337',
 'SH600338',
 'SH600339',
 'SH600340',
 'SH600343',
 'SH600345',
 'SH600348',
 'SH600350',
 'SH600351',
 'SH600352',
 'SH600353',
 'SH600354',
 'SH600358',
 'SH600359',
 'SH600360',
 'SH600361',
 'SH600362',
 'SH600363',
 'SH600366',
 'SH600367',
 'SH600368',
 'SH600369',
 'SH600370',
 'SH600371',
 'SH600372',
 'SH600373',
 'SH600375',
 'SH600376',
 'SH600377',
 'SH600379',
 'SH600380',
 'SH600381',
 'SH600382',
 'SH600383',
 'SH600386',
 'SH600387',
 'SH600388',
 'SH600389',
 'SH600390',
 'SH600391',
 'SH600395',
 'SH600396',
 'SH600397',
 'SH600398',
 'SH600399',
 'SH600400',
 'SH600403',
 'SH600405',
 'SH600406',
 'SH600409',
 'SH600410',
 'SH600415',
 'SH600416',
 'SH600418',
 'SH600419',
 'SH600420',
 'SH600421',
 'SH600422',
 'SH600423',
 'SH600425',
 'SH600426',
 'SH600429',
 'SH600433',
 'SH600436',
 'SH600438',
 'SH600439',
 'SH600449',
 'SH600452',
 'SH600455',
 'SH600456',
 'SH600458',
 'SH600459',
 'SH600460',
 'SH600461',
 'SH600463',
 'SH600467',
 'SH600468',
 'SH600469',
 'SH600470',
 'SH600475',
 'SH600477',
 'SH600479',
 'SH600480',
 'SH600481',
 'SH600483',
 'SH600485',
 'SH600486',
 'SH600487',
 'SH600488',
 'SH600489',
 'SH600491',
 'SH600493',
 'SH600495',
 'SH600496',
 'SH600498',
 'SH600500',
 'SH600501',
 'SH600502',
 'SH600503',
 'SH600505',
 'SH600506',
 'SH600507',
 'SH600508',
 'SH600509',
 'SH600510',
 'SH600511',
 'SH600512',
 'SH600513',
 'SH600516',
 'SH600517',
 'SH600518',
 'SH600519',
 'SH600520',
 'SH600521',
 'SH600522',
 'SH600523',
 'SH600526',
 'SH600527',
 'SH600528',
 'SH600531',
 'SH600535',
 'SH600536',
 'SH600537',
 'SH600538',
 'SH600540',
 'SH600543',
 'SH600545',
 'SH600546',
 'SH600547',
 'SH600548',
 'SH600549',
 'SH600550',
 'SH600551',
 'SH600552',
 'SH600556',
 'SH600557',
 'SH600558',
 'SH600559',
 'SH600560',
 'SH600561',
 'SH600562',
 'SH600563',
 'SH600566',
 'SH600567',
 'SH600569',
 'SH600570',
 'SH600571',
 'SH600572',
 'SH600573',
 'SH600576',
 'SH600577',
 'SH600578',
 'SH600579',
 'SH600580',
 'SH600581',
 'SH600582',
 'SH600583',
 'SH600584',
 'SH600585',
 'SH600586',
 'SH600587',
 'SH600588',
 'SH600589',
 'SH600592',
 'SH600594',
 'SH600595',
 'SH600596',
 'SH600597',
 'SH600598',
 'SH600599',
 'SH600600',
 'SH600601',
 'SH600602',
 'SH600604',
 'SH600605',
 'SH600606',
 'SH600611',
 'SH600612',
 'SH600613',
 'SH600615',
 'SH600616',
 'SH600617',
 'SH600618',
 'SH600619',
 'SH600621',
 'SH600622',
 'SH600623',
 'SH600624',
 'SH600626',
 'SH600628',
 'SH600629',
 'SH600630',
 'SH600635',
 'SH600636',
 'SH600637',
 'SH600638',
 'SH600639',
 'SH600640',
 'SH600642',
 'SH600647',
 'SH600648',
 'SH600649',
 'SH600650',
 'SH600651',
 'SH600653',
 'SH600655',
 'SH600657',
 'SH600658',
 'SH600660',
 'SH600661',
 'SH600662',
 'SH600663',
 'SH600664',
 'SH600665',
 'SH600667',
 'SH600668',
 'SH600673',
 'SH600674',
 'SH600675',
 'SH600676',
 'SH600677',
 'SH600678',
 'SH600679',
 'SH600680',
 'SH600681',
 'SH600683',
 'SH600684',
 'SH600685',
 'SH600686',
 'SH600688',
 'SH600690',
 'SH600692',
 'SH600693',
 'SH600694',
 'SH600695',
 'SH600697',
 'SH600698',
 'SH600699',
 'SH600701',
 'SH600703',
 'SH600704',
 'SH600705',
 'SH600706',
 'SH600708',
 'SH600711',
 'SH600712',
 'SH600713',
 'SH600714',
 'SH600716',
 'SH600717',
 'SH600718',
 'SH600720',
 'SH600723',
 'SH600724',
 'SH600725',
 'SH600726',
 'SH600727',
 'SH600728',
 'SH600730',
 'SH600731',
 'SH600734',
 'SH600737',
 'SH600738',
 'SH600740',
 'SH600741',
 'SH600742',
 'SH600743',
 'SH600744',
 'SH600746',
 'SH600747',
 'SH600748',
 'SH600749',
 'SH600750',
 'SH600751',
 'SH600753',
 'SH600755',
 'SH600756',
 'SH600757',
 'SH600758',
 'SH600759',
 'SH600760',
 'SH600761',
 'SH600765',
 'SH600766',
 'SH600768',
 'SH600769',
 'SH600770',
 'SH600771',
 'SH600773',
 'SH600774',
 'SH600775',
 'SH600776',
 'SH600780',
 'SH600781',
 'SH600782',
 'SH600783',
 'SH600784',
 'SH600785',
 'SH600787',
 'SH600789',
 'SH600790',
 'SH600791',
 'SH600792',
 'SH600794',
 'SH600795',
 'SH600796',
 'SH600797',
 'SH600800',
 'SH600801',
 'SH600802',
 'SH600803',
 'SH600804',
 'SH600805',
 'SH600807',
 'SH600808',
 'SH600809',
 'SH600810',
 'SH600812',
 'SH600814',
 'SH600815',
 'SH600816',
 'SH600818',
 'SH600819',
 'SH600820',
 'SH600821',
 'SH600822',
 'SH600823',
 'SH600824',
 'SH600825',
 'SH600826',
 'SH600827',
 'SH600829',
 'SH600830',
 'SH600831',
 'SH600833',
 'SH600834',
 'SH600835',
 'SH600836',
 'SH600837',
 'SH600838',
 'SH600839',
 'SH600841',
 'SH600843',
 'SH600845',
 'SH600846',
 'SH600848',
 'SH600850',
 'SH600851',
 'SH600854',
 'SH600855',
 'SH600857',
 'SH600858',
 'SH600859',
 'SH600861',
 'SH600862',
 'SH600863',
 'SH600864',
 'SH600865',
 'SH600867',
 'SH600868',
 'SH600869',
 'SH600873',
 'SH600874',
 'SH600875',
 'SH600876',
 'SH600877',
 'SH600880',
 'SH600881',
 'SH600883',
 'SH600884',
 'SH600885',
 'SH600887',
 'SH600888',
 'SH600889',
 'SH600890',
 'SH600891',
 'SH600892',
 'SH600893',
 'SH600894',
 'SH600895',
 'SH600896',
 'SH600897',
 'SH600898',
 'SH600960',
 'SH600961',
 'SH600963',
 'SH600965',
 'SH600966',
 'SH600969',
 'SH600971',
 'SH600973',
 'SH600975',
 'SH600976',
 'SH600980',
 'SH600981',
 'SH600982',
 'SH600985',
 'SH600986',
 'SH600987',
 'SH600992',
 'SH600993',
 'SH600995',
 'SH600997',
 'SH601607',
 'SZ000001',
 'SZ000002',
 'SZ000004',
 'SZ000006',
 'SZ000008',
 'SZ000009',
 'SZ000010',
 'SZ000011',
 'SZ000012',
 'SZ000014',
 'SZ000017',
 'SZ000018',
 'SZ000019',
 'SZ000020',
 'SZ000021',
 'SZ000025',
 'SZ000026',
 'SZ000027',
 'SZ000028',
 'SZ000029',
 'SZ000030',
 'SZ000031',
 'SZ000032',
 'SZ000034',
 'SZ000035',
 'SZ000036',
 'SZ000037',
 'SZ000038',
 'SZ000039',
 'SZ000042',
 'SZ000043',
 'SZ000045',
 'SZ000046',
 'SZ000048',
 'SZ000049',
 'SZ000050',
 'SZ000055',
 'SZ000056',
 'SZ000058',
 'SZ000060',
 'SZ000061',
 'SZ000062',
 'SZ000063',
 'SZ000065',
 'SZ000069',
 'SZ000070',
 'SZ000078',
 'SZ000088',
 'SZ000089',
 'SZ000090',
 'SZ000096',
 'SZ000099',
 'SZ000100',
 'SZ000151',
 'SZ000153',
 'SZ000156',
 'SZ000157',
 'SZ000158',
 'SZ000159',
 'SZ000301',
 'SZ000400',
 'SZ000401',
 'SZ000402',
 'SZ000404',
 'SZ000407',
 'SZ000408',
 'SZ000409',
 'SZ000411',
 'SZ000413',
 'SZ000415',
 'SZ000416',
 'SZ000417',
 'SZ000418',
 'SZ000419',
 'SZ000420',
 'SZ000421',
 'SZ000422',
 'SZ000423',
 'SZ000425',
 'SZ000428',
 'SZ000429',
 'SZ000430',
 'SZ000488',
 'SZ000498',
 'SZ000501',
 'SZ000502',
 'SZ000503',
 'SZ000504',
 'SZ000506',
 'SZ000507',
 'SZ000509',
 'SZ000514',
 'SZ000516',
 'SZ000517',
 'SZ000518',
 'SZ000521',
 'SZ000523',
 'SZ000524',
 'SZ000525',
 'SZ000526',
 'SZ000528',
 'SZ000530',
 'SZ000531',
 'SZ000532',
 'SZ000533',
 'SZ000537',
 'SZ000538',
 'SZ000539',
 'SZ000543',
 'SZ000544',
 'SZ000546',
 'SZ000547',
 'SZ000548',
 'SZ000550',
 'SZ000551',
 'SZ000552',
 'SZ000554',
 'SZ000555',
 'SZ000558',
 'SZ000559',
 'SZ000560',
 'SZ000561',
 'SZ000563',
 'SZ000564',
 'SZ000565',
 'SZ000567',
 'SZ000568',
 'SZ000570',
 'SZ000572',
 'SZ000573',
 'SZ000576',
 'SZ000581',
 'SZ000582',
 'SZ000584',
 'SZ000585',
 'SZ000589',
 'SZ000591',
 'SZ000592',
 'SZ000593',
 'SZ000596',
 'SZ000597',
 'SZ000598',
 'SZ000599',
 'SZ000600',
 'SZ000603',
 'SZ000605',
 'SZ000606',
 'SZ000607',
 'SZ000608',
 'SZ000610',
 'SZ000612',
 'SZ000615',
 'SZ000616',
 'SZ000617',
 'SZ000619',
 'SZ000620',
 'SZ000623',
 'SZ000625',
 'SZ000627',
 'SZ000628',
 'SZ000631',
 'SZ000632',
 'SZ000635',
 'SZ000636',
 'SZ000637',
 'SZ000638',
 'SZ000639',
 'SZ000651',
 'SZ000652',
 'SZ000655',
 'SZ000656',
 'SZ000661',
 'SZ000662',
 'SZ000663',
 'SZ000666',
 'SZ000667',
 'SZ000669',
 'SZ000671',
 'SZ000678',
 'SZ000680',
 'SZ000681',
 'SZ000682',
 'SZ000683',
 'SZ000685',
 'SZ000686',
 'SZ000687',
 'SZ000690',
 'SZ000691',
 'SZ000692',
 'SZ000693',
 'SZ000695',
 'SZ000698',
 'SZ000700',
 'SZ000701',
 'SZ000702',
 'SZ000703',
 'SZ000705',
 'SZ000709',
 'SZ000710',
 'SZ000713',
 'SZ000715',
 'SZ000716',
 'SZ000717',
 'SZ000718',
 'SZ000719',
 'SZ000721',
 'SZ000722',
 'SZ000723',
 'SZ000725',
 'SZ000726',
 'SZ000727',
 'SZ000728',
 'SZ000729',
 'SZ000731',
 'SZ000732',
 'SZ000733',
 'SZ000735',
 'SZ000736',
 'SZ000738',
 'SZ000739',
 'SZ000750',
 'SZ000751',
 'SZ000752',
 'SZ000755',
 'SZ000757',
 'SZ000758',
 'SZ000759',
 'SZ000761',
 'SZ000762',
 'SZ000766',
 'SZ000767',
 'SZ000768',
 'SZ000776',
 'SZ000777',
 'SZ000779',
 'SZ000780',
 'SZ000783',
 'SZ000785',
 'SZ000788',
 'SZ000789',
 'SZ000790',
 'SZ000791',
 'SZ000792',
 'SZ000793',
 'SZ000796',
 'SZ000797',
 'SZ000798',
 'SZ000800',
 'SZ000801',
 'SZ000802',
 'SZ000803',
 'SZ000807',
 'SZ000809',
 'SZ000810',
 'SZ000811',
 'SZ000816',
 'SZ000819',
 'SZ000821',
 'SZ000822',
 'SZ000823',
 'SZ000825',
 'SZ000826',
 'SZ000828',
 'SZ000829',
 'SZ000830',
 'SZ000831',
 'SZ000833',
 'SZ000835',
 'SZ000836',
 'SZ000837',
 'SZ000838',
 'SZ000848',
 'SZ000852',
 'SZ000856',
 'SZ000859',
 'SZ000860',
 'SZ000861',
 'SZ000862',
 'SZ000863',
 'SZ000868',
 'SZ000869',
 'SZ000875',
 'SZ000877',
 'SZ000880',
 'SZ000883',
 'SZ000885',
 'SZ000886',
 'SZ000888',
 'SZ000889',
 'SZ000895',
 'SZ000897',
 'SZ000898',
 'SZ000899',
 'SZ000900',
 'SZ000902',
 'SZ000903',
 'SZ000905',
 'SZ000906',
 'SZ000908',
 'SZ000909',
 'SZ000910',
 'SZ000911',
 'SZ000913',
 'SZ000915',
 'SZ000918',
 'SZ000919',
 'SZ000920',
 'SZ000921',
 'SZ000922',
 'SZ000923',
 'SZ000925',
 'SZ000926',
 'SZ000928',
 'SZ000929',
 'SZ000930',
 'SZ000931',
 'SZ000933',
 'SZ000935',
 'SZ000936',
 'SZ000937',
 'SZ000938',
 'SZ000948',
 'SZ000949',
 'SZ000951',
 'SZ000952',
 'SZ000953',
 'SZ000955',
 'SZ000957',
 'SZ000958',
 'SZ000960',
 'SZ000961',
 'SZ000962',
 'SZ000963',
 'SZ000965',
 'SZ000966',
 'SZ000967',
 'SZ000968',
 'SZ000969',
 'SZ000970',
 'SZ000971',
 'SZ000973',
 'SZ000975',
 'SZ000977',
 'SZ000978',
 'SZ000980',
 'SZ000983',
 'SZ000985',
 'SZ000987',
 'SZ000988',
 'SZ000989',
 'SZ000993',
 'SZ000997',
 'SZ000998',
 'SZ000999',
 'SZ001696',
 'SZ002001',
 'SZ002004',
 'SZ002006',
 'SZ002007',
 'SZ002008',
 'SZ002009',
 'SZ002010',
 'SZ002011',
 'SZ002012',
 'SZ002013',
 'SZ002016',
 'SZ002017',
 'SZ002019',
 'SZ002020',
 ...]

In [49]:
conds = (ic.date=='2015-09-07').multiply(ic.is_trade==0).multiply(ic.is_st==1)

487

In [62]:
ic[(ic.date=='2015-09-07').multiply(ic.is_trade==0).multiply(ic.is_st==1)]

,date,industry_sw,industry_swcode,is_st,is_trade,sec_id,sec_name,stock_float_shares,stock_total_shares,traded_days_until_now
638570,2015-09-07,传媒,6.122010e+15,1,0,SH600242,中昌数据,267302844,273335353,3007
692919,2015-09-07,农林牧渔,6.101000e+15,1,0,SH600265,ST景谷,129800000,129800000,3538
1082841,2015-09-07,采掘,6.102000e+15,1,0,SH600408,安泰集团,1006800000,1006800000,2889
1931206,2015-09-07,房地产,6.118000e+15,1,0,SH600732,ST新梅,446383080,446383080,4345
2107736,2015-09-07,轻工制造,6.114000e+15,1,0,SH600793,宜宾纸业,105300000,105300000,4323
2174873,2015-09-07,综合,6.123000e+15,1,0,SH600817,*ST宏盛,147914879,160910082,4305
2327295,2015-09-07,家用电器,6.111000e+15,1,0,SH600870,厦华电子,370818715,523199665,4357
2746474,2015-09-07,医药生物,6.115000e+15,1,0,SZ000403,ST生化,181762968,272577599,2998
2845517,2015-09-07,化工,6.103000e+15,1,0,SZ000510,金路集团,609121251,609182254,5249
3040534,2015-09-07,医药生物,6.115000e+15,1,0,SZ000590,启迪古汉,223236227,223331267,4513
3187532,2015-09-07,轻工制造,6.114000e+15,1,0,SZ000659,*ST中富,1285702520,1285702520,4414
3232290,2015-09-07,化工,6.103000e+15,1,0,SZ000677,恒天海龙,863947048,863977948,3986
3318609,2015-09-07,综合,6.123000e+15,1,0,SZ000711,京蓝科技,160898400,160898400,4262
3505745,2015-09-07,食品饮料,6.112000e+15,1,0,SZ000799,酒鬼酒,224201689,324928980,4184
3694368,2015-09-07,传媒,6.122010e+15,1,0,SZ000892,欢瑞世纪,306937690,413876880,3267
4005582,2015-09-07,化工,6.103000e+15,1,0,SZ002015,霞客环保,382364955,400703825,2324
4941781,2015-09-07,休闲服务,6.121000e+15,1,0,SZ002306,*ST云网,612516750,800000000,1200
5976131,2015-09-07,国防军工,1.000013e+15,1,0,SZ002608,江苏国信,322814063,374850000,899

In [58]:
(ic.date=='2015-09-07').multiply(ic.is_trade==0)

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
628956    False
628957    False
628958    False
628959    False
628960    False
628961    False
628962    False
628963    False
628964    False
628965    False
628966    False
628967    False
628968    False
628969    False
628970    False
628971    False
628972    False
628973    False
628974    False
628975    False
628976    False
628977    False
628978    False
628979    False
628980    False
628981    False
628982    False
628983    False
628984    False
628985    False
Length: 7373877, dtype: bool

In [ ]:
dk.df2mysql('root','123888','index','stocks_info',ic)

In [ ]:
query = "SELECT date, sec_id, close \
FROM vol_5days \
WHERE date in {} \
;".format(tuple(['2005-01-10']))

In [ ]:
test=conn.query_as_dataframe(query)

In [ ]:
close=conn.query_as_dataframe(query)

In [ ]:
close1 = close[close.close != 0]

In [ ]:
close2 = close1.sort_values(['sec_id','date'])

In [ ]:
close2['date'] = close2.date.apply(lambda x: str(x))

In [ ]:
def cal_vol(df, date_num, cycle):
    """
    给定价格和周期计算每只股票滞后周期个交易日的波动率
    @df <dataFrame>: date sec_id close
    @date <str,%Y-%m-%d>: 要求波动率的日期
    @cycle <int>: 周期 单位为天
    """
    df1 = df[df.date.le(date_num)]
    
    def func_vol(x, cycle):
        num = x.count()  # 当前股票在基准日之前的交易日个数
        if num < cycle:  # 如果历史交易天数小于要计算的周期 则返回空值
            return np.nan
        else:
            return x.tail(cycle).std()
    df2 = df1.groupby(['sec_id']).apply(lambda x: func_vol(x.close, cycle))
    df2.name = 'vol_{}days'.format(str(cycle))
    df3 = df2.to_frame()
    df3['date'] = date_num
    df4 = df3.dropna().reset_index()
    return df4

In [ ]:
datelist = list(set(close2.date.tolist()))
datelist = sorted(datelist)

In [ ]:
output = pd.DataFrame()
for date in datelist:
    df = cal_vol(close2.copy(), date, 5)
    if len(df) != 0:
        output = output.append(df)

In [ ]:
output.to_csv(r"E:\99_daily\TODAY\vol_5days.csv", encoding='utf-8')

In [ ]:
cal_vol(close2.copy(), datetime.date(2005,2,18), 5).date[0]

In [ ]:
output.shape

In [ ]:
output['sec_id'] = output['sec_id'].apply(lambda x: x[2:] + '.' + x[:2])

In [ ]:
output.head(3)

In [ ]:
dk.df2mysql('root', '123888', 'index', 'vol_5days', output)

In [ ]:
a=close[close.sec_id=='SH601318']

In [ ]:
a[a.date.between(datetime.date(2016,5,9), datetime.date(2016,5,15))]

In [ ]:
a[a.date.between(datetime.date(2016,5,9), datetime.date(2016,5,15))]['close'].std()

In [ ]:
output['date'].iloc[0]

In [ ]:
cc=output[output.date==datetime.date(2016,5,13)]

In [ ]:
cc[cc.sec_id=='SH601318']

In [ ]:
cal_vol(close2.copy(), datetime.date(2007,2,1),21)

In [ ]:
query1="SELECT date, sec_id, close FROM time_series_variables WHERE date BETWEEN '2007-01-01' AND '2007-02-01';"

In [ ]:
close1=conn.query_as_dataframe(query1)

In [ ]:
close111 = close1.sort_values(['sec_id', 'date'])

In [ ]:
close1.head(3)

In [ ]:
def cal_vol(x,cycle):
    num = x.count()
    if num<cycle:
        return np.nan
    else:
        return x.tail(21).std()

In [ ]:
cycle=21

In [ ]:
close_5days = close2.groupby(['sec_id']).apply(lambda x: cal_vol(x.close,cycle))

In [ ]:
close_5days.loc['SZ300708']

In [ ]:
import datetime
benchmark = datetime.date(2007,1,15)

In [ ]:
benchmark

In [ ]:
close['date'] = close.date.apply(lambda x: str(x))

In [ ]:
close.date[0]

In [ ]:
close1 = close

In [ ]:
close_5days = close.groupby(['sec_id'], as_index=False).apply(lambda x: x.tail(5))

In [ ]:
close_5days.name='vol_5days'

In [ ]:
def cal_vol(df_close,date,cycle):  
    """
    @date <datetime,%Y-%m-%d>: 要求波动率的日期
    """
    df1 = df_close[df_close.date.le(benchmark)]
    def func_vol(x, cycle):
        num = x.count()  # 当前股票在基准日之前的交易日个数
        if num < cycle:  # 如果历史交易天数小于要计算的周期 则返回空值
            return np.nan
        else:
            return x.tail(cycle).std()
    df2 = df1.groupby(['sec_id']).apply(lambda x: func_vol(x.close, cycle))
    df2.name = 'vol_{}days'.format(str(cycle))
    df3 = df2.to_frame()
    df3['date'] = date
    return df3

In [ ]:
benchmark = datetime.date(2007,1,12)
cal_vol(close2.copy(), benchmark,21)

In [ ]:
def cal_rev(x):
    df = x.head(1).merge(x.tail(1), on =['sec_id'])
    return (df['close_y'] / df['close_x'] -1)/5*365

In [ ]:
rev = close_5days.groupby(['sec_id']).apply(lambda x: cal_rev(x)).rename(columns={0:'ret_5days'})

In [ ]:
caldar = pd.read_csv(r"E:\99_daily\TODAY\datelist.csv")

In [ ]:
datelist = conn.query_as_dataframe(query)

In [ ]:
datelist['is_trading_day']=1

In [ ]:
datelist['date'] = datelist['date'].apply(lambda x: str(x))

In [ ]:
date2 = caldar.merge(datelist,how='left',on=['date'])

In [ ]:
date2.loc[:, 'is_weekly_last_trading_day'] = np.nan
date2.loc[:, 'is_report_day'] = np.nan
date2.loc[:, 'is_monthly_last_trading_day'] = np.nan

In [ ]:
week_id=date2.columns.tolist().index('is_weekly_last_trading_day')
report_id = date2.columns.tolist().index('is_report_day')
month_id = date2.columns.tolist().index('is_monthly_last_trading_day')

In [ ]:
date2.iloc[0,1]

In [ ]:
for row in range(date2.shape[0]):
    if date2.iloc[row, 0][5:] in ['03-31', '06-30','09-30','12-31']:
        date2.iloc[row,report_id] = 1
    else:
        date2.iloc[row,report_id] = 0
    if date2.iloc[row, 1] in ['星期五']:
        date2.iloc[row,week_id] = 1
    else:
        date2.iloc[row,week_id] = 0
                   
    if date2.iloc[row, 1][5:] in ['01-01','02-28','03-31','04-30','05-31','06-30','07-31','08-31','09-30','10-31','11-31','12-31']:
        date2.iloc[row,month_id] = 1
    else:
        date2.iloc[row,month_id] = 0

In [ ]:
date2=date2.replace({NaN:0})

In [ ]:
del date2['week']

In [ ]:
sql=dk.SqliteProxy()

In [ ]:
sql.connect(r"E:\04_project\finkit\static files\calendar.db")

In [ ]:
sql.write_from_dataframe(date2,'calendar')

In [ ]:
query = "SELECT date_report, date_published, sec_id, 资产负债率, 现金流动负债比率,\
速动比率, 流动比率, 利息保障倍数, 总资产周转率, 存货周转率, 营业收入增长率, \
净利润增长率, 总资产增长率, 净资产收益率,销售毛利率,销售净利率, 总资产净利率 FROM report_variables1;"

In [ ]:
fr = conn.query_as_dataframe(query)

In [ ]:
fr.to_csv(r"E:\99_daily\TODAY\fr.csv")

In [ ]:
stocks_info = conn.query_as_dataframe(query)

In [ ]:
stocks_info = stocks_info.is_st==0 and stocks_info.is_trade==1 and stocks_info.industry_sw.isin(["银行","非银金融"])'

In [ ]:
stocks_info1 = stocks_info[stocks_info.is_trade==1]# 剔除停牌股

In [ ]:
stocks_info2 = stocks_info1[stocks_info1.is_st==0] # 剔除st股

In [ ]:
stocks_info3 = stocks_info2[~stocks_info2.industry_sw.isin(["银行","非银金融"])] # 剔除金融股

In [ ]:
stocks_info4 = stocks_info3[stocks_info3.traded_days_until_now>400] # 剔除次新股

In [ ]:
stocks_info4 = stocks_info4.sort_values(['date','industry_sw','stock_float_shares'], ascending=[True,True, False])

In [ ]:
stocks_info4['date'] = stocks_info4['date'].apply(lambda x: str(x))

In [ ]:
stocks_info5 = stocks_info4.groupby(['date','industry_sw'], as_index=False).apply(lambda x: x.head(30))

In [ ]:
fr = conn.query_as_dataframe("SELECT * FROM report_variables1 WHERE (Year(date_report) BETWEEN 2010 AND 2014) AND MONTH(date_report) =12")

In [ ]:
stocks_info5.to_csv(r"E:\99_daily\TODAY\stocks_info5.csv")

In [ ]:
stocks_info5 = pd.read_csv(r"E:\99_daily\TODAY\stocks_info5.csv",encoding='gbk')

In [ ]:
stocks_info5['date'] = stocks_info5['date'].apply(lambda x: x.split('/')[0]+'-'+x.split('/')[1]+'-'+x.split('/')[2])

In [ ]:
stocks_info6=stocks_info5[stocks_info5.date.between('2010-01-01','2015-12-31')]

In [ ]:
stocks_info6

In [ ]:
stocks_info6['year'] = stocks_info6.date.apply(lambda x: x.split('-')[0])

In [ ]:
stocks_info6.head(3)

In [ ]:
flag= stocks_info6[['sec_id','year']]

In [ ]:
stocks_info5[stocks_info5.date.between(start_time=)]

In [ ]:
fr1 = fr.merge(sec_ids, how='inner', left_on=['sec_id'], right_on=['sec_id'])

In [ ]:
stocks_info5.shape

In [ ]:
stocks_info4.shape

In [ ]:
a = conn.query_as_dataframe("SELECT * FROM a")

In [ ]:
a.head(3)

In [ ]:
from devkit.api import SqliteProxy
sql = dk.SqliteProxy()
sql.connect(r"E:\02_work\sw\db\index_contents\2006.db")
table_name = "A"
df2=sql.query_as_dataframe("SELECT * from {}".format(table_name))
# print(sql.describe_table(table_name))
#print(sql.query_as_dataframe("SELECT * from {}".format(table_name)))
#print(sql.describe_table(table_name))
sql.close()

In [ ]:
df = df1.append(df2)

In [ ]:
df['sec_id'] = df['sec_id'].apply(lambda x: x.split('.')[1] + x.split('.')[0])

In [ ]:
df.head(3)

In [ ]:
ic = a.append(df)

In [ ]:
b['date'] = b['date'].apply(lambda x: str(x))

In [ ]:
a.date.tolist()

In [ ]:
b = conn.query_as_dataframe("SELECT date, sec_id, is_trade, is_st, traded_days_until_now, stock_total_shares, stock_float_shares FROM time_series_variables")

In [ ]:
b.shape

In [ ]:
c=ic.merge(b, how='inner',left_on=['sec_id','date'],right_on=['sec_id','date'])

In [ ]:
c = c.sort_values(by=['date','sec_id'])

In [ ]:
c.head(3)

In [ ]:
industry=pd.read_csv(r"E:\99_daily\TODAY\industry_sw.csv")

In [ ]:
industry['sec_id'] = industry['sec_id'].apply(lambda x: x.split('.')[1] + x.split('.')[0])

In [ ]:
industry = industry.dropna()

In [ ]:
industry[industry['industry_swcode'].isnull()]

In [ ]:
industry['industry_swcode'] = industry['industry_swcode'].apply(lambda x: int(x))

In [ ]:
df5 = c.merge(industry,how='inner', left_on=['sec_id','sec_name'], right_on=['sec_id', 'sec_name'])

In [ ]:
temp=df5[2000000:]

In [ ]:
temp

In [ ]:
dk.df2mysql('root', '123888', 'indicator', 'stocks_infos', temp, index=False,  index_label=False)

In [ ]:
temp = df5[['industry_sw','industry_swcode']]

In [ ]:
temp['industry_swcode']=temp['industry_swcode'].apply(lambda x: str(x))

In [ ]:
temp =temp.drop_duplicates()

In [ ]:
temp = temp.set_index('industry_swcode')

In [ ]:
dk.dict2json(temp.to_dict()['industry_sw'],r"E:\99_daily\TODAY\code2sw.json")

In [ ]:
df5.to_csv(r"E:\99_daily\TODAY\stocks_info2.csv",encoding='utf-8')

In [ ]:
df5 = pd.read_csv(r"E:\99_daily\TODAY\stocks_info2.csv",encoding='utf-8',index_col=0)

In [ ]:
df5.head(3)

In [ ]:
df5.shape

In [ ]:
df6 =df5.dropna(how='any')

In [ ]:
df6.shape

In [ ]:
close_info = conn.query_as_dataframe("SELECT Year(date) as year, date, sec_id, close FROM time_series_variables WHERE Year(date) BETWEEN 2010 AND 2015")

In [ ]:
close_info.head(3)

In [ ]:
close_begin=close_info.groupby(['sec_id','year'], as_index=False).apply(lambda x: x[x.date == x.date.min()])

In [ ]:
close_begin = close_begin.rename(columns={'close': 'close_begin'})

In [ ]:
close_ending=close_info.groupby(['sec_id','year'], as_index=False).apply(lambda x: x[x.date == x.date.max()])

In [ ]:
close_ending = close_ending.rename(columns={'close': 'close_ending'})

In [ ]:
close = close_begin.merge(close_ending,how='inner',left_on=['year','sec_id'], right_on=['year','sec_id'])[['year','sec_id','close_begin','close_ending']]

In [ ]:
close=close.replace({0:np.nan})

In [ ]:
close = close.dropna()

In [ ]:
close['return_rate_annual'] = close['close_ending'] / close['close_begin'] -1

In [ ]:
close['year'] = close['year'].apply(lambda x: str(x))

In [ ]:
flag.iloc[0,1]

In [ ]:
close1=close.merge(flag,how='inner',left_on=['year','sec_id'],right_on=['year','sec_id'])

In [ ]:
close1.head(3)

In [ ]:
query="SELECT * \
FROM report_variables1 \
WHERE (date_report BETWEEN '2010-01-01' AND '2015-12-31') AND Month(date_report)=12 \
ORDER BY sec_id, date_report" \

In [ ]:
fr = conn.query_as_dataframe(query)

In [ ]:
fr['year'] = fr['date_report'].apply(lambda x: str(x).split('-')[0])

In [ ]:
fr.shape

In [ ]:
fr1 = fr.merge(close1,how='inner',on=['year','sec_id'])

In [ ]:
fr1.shape[0]

In [ ]:
a=fr1.isnull().sum() / fr1.shape[0] # 缺失比例

In [ ]:
a.sort_values(ascending=False)

In [ ]:
retain_vars=a[a==0].index.tolist()

In [ ]:
fr2=fr1[retain_vars]

In [ ]:
del fr2[['']]

In [ ]:
fr2.shape

In [ ]:
close1.shape

In [ ]:
df = pd.read_csv(r"E:\99_daily\TODAY\post_process.csv", encoding='gbk')

In [ ]:
df.head(3)

In [ ]:
df1 = df.merge(close[['year', 'sec_id', 'return_rate_annual']], how='inner', left_on=['year','sec_id'], right_on=['year','sec_id'])

In [ ]:
df1

In [ ]:
a=(df1.isnull().sum()==0)

In [ ]:
df2 = df1[a[a].index.tolist()]

In [ ]:
ana_vars=df2.columns.drop(['market.1','year.1','Unnamed: 2','year','stock_float_shares_avg','market'])

In [ ]:
df2 = df2[ana_vars]

In [ ]:
df2.to_csv(r"E:\99_daily\TODAY\post_process1.csv")

In [ ]:
df2=pd.read_csv(r"E:\99_daily\TODAY\post_process1.csv",encoding='gbk')

In [ ]:
df2.head(3)

In [ ]:
import numpy as np
from sklearn.decomposition import KernelPCA
from sklearn.svm import SVR
import matplotlib.pyplot as plt

In [ ]:
y=df2['return_rate_annual']

In [ ]:
len(y)

In [ ]:
X=df2.iloc[:,4:-1]

In [ ]:
X.shape

In [ ]:
kpca=KernelPCA()

In [ ]:
X = X.apply(lambda x: (x-x.mean())/x.std())

In [ ]:
kpca.fit(X)

In [ ]:
kpca.lambdas_[:10].round(2)

In [ ]:
get_we = lambda x: x / x.sum()

In [ ]:
get_we(kpca.lambdas_)[:15].sum()

In [ ]:
kpca.transform(X).iloc[:,:16]

In [ ]:
b=pd.DataFrame(kpca.transform(X))

In [ ]:
X_new=b.iloc[:,:16]

In [ ]:
comp[:16].shape

In [ ]:
svr_rbf = SVR(kernel='rbf', C=1e3, gamma=0.1)

In [ ]:
svr_rbf.fit(X_new,y)

In [ ]:
svr_lin = SVR(kernel='linear', C=1e3)

In [ ]:
svr_lin.fit(X,y)

In [ ]:
from sklearn.metrics import r2_score

In [ ]:
y_predict=svr_lin.predict(X)

In [ ]:
y_predict=svr_rbf.predict(X_new)

In [ ]:
r2_score(y, y_predict)

In [ ]:
r2_score(y, y_predict)

In [ ]:
r2_score(y, y_predict)

In [ ]:
svr_rbf = SVR(kernel='rbf', C=1e3, gamma=0.1)
svr_lin = SVR(kernel='linear', C=1e3)
svr_poly = SVR(kernel='poly', C=1e3, degree=2)
y_rbf = svr_rbf.fit(X, y).predict(X)
y_lin = svr_lin.fit(X, y).predict(X)
y_poly = svr_poly.fit(X, y).predict(X)

In [ ]:
lw = 2
plt.scatter(X, y, color='darkorange', label='data')
plt.hold('on')
# plt.plot(X, y_lin, color='c', lw=lw, label='Linear model')
plt.plot(X, y_rbf, color='navy', lw=lw, label='RBF model')
# plt.plot(X, y_poly, color='cornflowerblue', lw=lw, label='Polynomial model')
plt.xlabel('data')
plt.ylabel('target')
plt.title('Support Vector Regression')
plt.legend()
plt.show()

In [ ]:
cols_to_retain

In [ ]:
close_info['year'] = close_info['date'].apply(lambda x: datetime.datetime.year(x))

In [ ]:
flag = conn.query_as_dataframe("SELECT Year(date) as year, sec_id, AVG(stock_total_shares) as stock_float_shares_avg,FROM time_series_variables GROUP BY Year(date), sec_id;")

In [ ]:
fr = conn.query_as_dataframe("SELECT *, YEAR(date_report) as year FROM report_variables1 WHERE (Year(date_report) BETWEEN '2005' and '2015') and  MONTH(date_report) = 12;")

In [ ]:
df = fr.merge(flag, how='inner',right_on=['sec_id','year'],left_on=['sec_id','year'])

In [ ]:
df['market'] = df['sec_id'].apply(lambda x: "上交所" if x[:2]=='SH' else "深交所")

In [ ]:
df

In [ ]:
df=df.sort_values(by=['year','market','stock_float_shares_avg'], ascending=[True, True,False])

In [ ]:
df1=df.groupby(by=['year','market']).apply(lambda x: x.head(150))

In [ ]:
cols_to_retain=(df1.isnull().sum()/df1.shape[0] < 0.05).index.tolist()

In [ ]:
df2=df1.copy()

In [ ]:
ana_vars=df2.columns.drop(['sec_id','date_report','date_published','year','stock_float_shares_avg','market'])

In [ ]:
df2 = df1[ana_vars]

In [ ]:
df2[ana_vars] = (df2[ana_vars] - df2[ana_vars].min())/ (df2[ana_vars].max() - df2[ana_vars].min())

In [ ]:
df2.to_csv(r"C:\Users\youlin\Desktop\post_process.csv")

In [ ]:
flag = conn.query_as_dataframe("SELECT Year(date) as year, sec_id, AVG(stock_total_shares) as stock_float_shares_avg,FROM time_series_variables GROUP BY Year(date), sec_id;")

In [ ]:
output=pd.DataFrame()
for year in df.year.drop_duplicates().tolist():
    output=output.append(df[df.year.isin([year])].head(150))

In [ ]:
output.shape

In [ ]:
df.shape

In [ ]:
4

A2B3D

A4C2E

A5D

C3B

In [ ]:
all={'A':{'B':0,'C':0,'D':0,'E':0},'B':{'A':0,'C':0,'D':0,'E':0},'C':{'B':0,'A':0,'D':0,'E':0},'D':{'B':0,'C':0,'A':0,'E':0},'E':{'B':0,'C':0,'D':0,'A':0}}

In [ ]:
all

In [ ]:
for str in ['A2B3D','A4C2E']:
    alpha = re.findall(r'([a-zA-Z]+)',str)
    dist =  re.findall(r'([0-9]+)',str)
    for index,value in enumerate(alpha):
        if index > len(alpha) -2 :
            break
        all[value][alpha[index+1]]=dist[index]

In [ ]:
import copy
all2=copy.deepcopy(all)

In [ ]:
for key1 in all:
    for key2 in all[key1]:
        if all[key1][key2] ==0:
            del all2[key1][key2]

In [ ]:
all2

In [ ]:
a={'a':1,'b':2}

In [ ]:
del a['a']

In [ ]:
a

In [ ]:
for key in all:
    for sub_key in all[key]:
        if sub_key in all:
            for sub_sub_key in all[sub_key]
            max_root[key]=all[key][sub_key]+

In [ ]:
a=re.findall('[0-9]*','s2d23e')

In [ ]:
def search(site):
    for sub in all2[site]:
        if sub in all2:
            root=search(site)
        else:
            root={site:sub}

In [ ]:
search('A')

In [ ]:
 re.findall(r'([0-9]+)','A4C2E')

In [ ]:
 re.findall(r'([a-zA-Z]+)','A4C2E')

In [ ]:
df = pd.DataFrame({'Sp':['a','b','c','d','e','f'], 'Mt':['s1', 's1', 's2','s2','s2','s3'], 'Value':[1,2,3,4,5,6], 'Count':[3,2,5,10,10,6]})

In [ ]:
df

In [ ]:
df.groupby(by=['Mt']).apply(lambda x: x[x.Count==x.Count.max()])

In [ ]:
df.groupby(by=['Mt']).agg(max)

In [ ]:
df

In [ ]:
df.groupby(by=['Mt'])['Count'].transform(max)

In [ ]:
idx=df.groupby(by=['Mt'])['Count'].transform(max)

In [ ]:
idx

In [ ]:
df['Count'] == idx